Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Combine early return for non-existent 'SpecialCharacterControls'
  packages/admin/admin-rte/src/core/Controls/SpecialCharactersControls.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Find better name for download function
  packages/api/cms-api/src/dam/dam.module.ts
  packages/api/cms-api/src/dam/files/file-upload.service.ts
  packages/api/cms-api/src/dam/files/files.resolver.ts
  packages/api/cms-api/src/dam/files/files.utils.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add fixtures for public uploads to Demo (#1518)
  .changeset/eighty-tools-fail.md
  demo/api/src/db/fixtures/fixtures.console.ts
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/public-uploads-fixture.service.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Ensure deprecation notice stays in in .d.ts files DIsable `removeComments` option in TSConfig.
  packages/api/tsconfig.base.json
Due: prettylint

Enhance CronJob module
  .changeset/hungry-hornets-agree.md
  demo/api/schema.gql
  packages/admin/cms-admin/src/builds/PublisherPage.tsx
  packages/admin/cms-admin/src/cronJobs/CronJobsGrid.tsx
  packages/admin/cms-admin/src/cronJobs/CronJobsPage.tsx
  packages/admin/cms-admin/src/cronJobs/JobRuntime.tsx
  packages/admin/cms-admin/src/cronJobs/JobStatus.tsx
  packages/admin/cms-admin/src/cronJobs/JobsGrid.tsx
  packages/admin/cms-admin/src/dashboard/widgets/LatestBuildsDashboardWidget.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/builds/build-templates.resolver.ts
  packages/api/cms-api/src/builds/build-templates.service.ts
  packages/api/cms-api/src/builds/builds.constants.ts
  packages/api/cms-api/src/builds/builds.resolver.ts
  packages/api/cms-api/src/builds/builds.service.ts
  packages/api/cms-api/src/builds/changes-checker.console.ts
  packages/api/cms-api/src/builds/dto/build.object.ts
  packages/api/cms-api/src/cron-jobs/cron-jobs.module.ts
  packages/api/cms-api/src/cron-jobs/cron-jobs.resolver.ts
  packages/api/cms-api/src/cron-jobs/cron-jobs.service.ts
  packages/api/cms-api/src/cron-jobs/dto/cron-job.object.ts
  packages/api/cms-api/src/cron-jobs/dto/job.object.ts
  packages/api/cms-api/src/cron-jobs/jobs.resolver.ts
  packages/api/cms-api/src/cron-jobs/jobs.service.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/kubernetes/job-status.enum.ts
  packages/api/cms-api/src/kubernetes/kubernetes.constants.ts
  packages/api/cms-api/src/kubernetes/kubernetes.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename cronJob to cronJobName for kubernetesJobs
  demo/api/schema.gql
  packages/admin/cms-admin/src/cronJobs/JobsGrid.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/cron-jobs/jobs.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use new service in Demo fixtures
  demo/api/src/db/fixtures/fixtures.console.ts
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/image-file.fixture.ts
  demo/api/src/db/fixtures/generators/many-images-test-page-fixture.service.ts
  demo/api/src/db/fixtures/generators/svg-image-file-fixture.service.ts
  demo/api/src/db/fixtures/generators/svg-image-file.fixture.ts
  demo/api/src/db/fixtures/generators/unsplash-image-file-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/hungry-hornets-agree.md
Due: prettylint

Add changeset
  .changeset/sour-crews-thank.md
Due: prettylint

Add `hasRichTextBlockContent` helper The helper can be used to conditionally render a `RichTextBlock`.
  .changeset/fifty-crabs-love.md
  demo/site/package.json
  demo/site/src/blocks/RichTextBlock.tsx
  packages/site/cms-site/package.json
  packages/site/cms-site/src/blocks/RichTextBlock.tsx
  packages/site/cms-site/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Enhance CronJob module (#1493)
  .changeset/hungry-hornets-agree.md
  demo/api/schema.gql
  packages/admin/cms-admin/src/builds/PublisherPage.tsx
  packages/admin/cms-admin/src/cronJobs/CronJobsGrid.tsx
  packages/admin/cms-admin/src/cronJobs/CronJobsPage.tsx
  packages/admin/cms-admin/src/cronJobs/JobRuntime.tsx
  packages/admin/cms-admin/src/cronJobs/JobStatus.tsx
  packages/admin/cms-admin/src/cronJobs/JobsGrid.tsx
  packages/admin/cms-admin/src/dashboard/widgets/LatestBuildsDashboardWidget.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/builds/build-templates.resolver.ts
  packages/api/cms-api/src/builds/build-templates.service.ts
  packages/api/cms-api/src/builds/builds.constants.ts
  packages/api/cms-api/src/builds/builds.resolver.ts
  packages/api/cms-api/src/builds/builds.service.ts
  packages/api/cms-api/src/builds/changes-checker.console.ts
  packages/api/cms-api/src/builds/dto/build.object.ts
  packages/api/cms-api/src/cron-jobs/cron-jobs.module.ts
  packages/api/cms-api/src/cron-jobs/cron-jobs.resolver.ts
  packages/api/cms-api/src/cron-jobs/cron-jobs.service.ts
  packages/api/cms-api/src/cron-jobs/dto/cron-job.object.ts
  packages/api/cms-api/src/cron-jobs/dto/job.object.ts
  packages/api/cms-api/src/cron-jobs/jobs.resolver.ts
  packages/api/cms-api/src/cron-jobs/jobs.service.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/kubernetes/job-status.enum.ts
  packages/api/cms-api/src/kubernetes/kubernetes.constants.ts
  packages/api/cms-api/src/kubernetes/kubernetes.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `hasRichTextBlockContent` helper (#1525)
  .changeset/fifty-crabs-love.md
  demo/site/package.json
  demo/site/src/blocks/RichTextBlock.tsx
  packages/site/cms-site/package.json
  packages/site/cms-site/src/blocks/RichTextBlock.tsx
  packages/site/cms-site/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

FinalForm: remove default `onAfterSubmit` implementation (#1446)
  .changeset/odd-paws-speak.md
  demo/admin/src/news/generated/NewsForm.tsx
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/categories/ProductCategoryForm.tsx
  demo/admin/src/products/generated/ProductForm.tsx
  demo/admin/src/products/tags/ProductTagForm.tsx
  packages/admin/admin-stories/src/docs/form/components/FinalForm.stories.mdx
  packages/admin/admin-stories/src/docs/form/stories/ContextBasedFeatures.stories.tsx
  packages/admin/admin/src/FinalForm.tsx
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
  packages/admin/cms-admin/src/generator/generateForm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Apply suggestion + remove unncessary if in FinalFormInput.tsx
  .changeset/rare-shiny-bulbasaur.md
  packages/admin/admin/src/form/FinalFormInput.tsx
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/translator/ContentTranslationServiceContext.tsx
  packages/admin/admin/src/translator/ContentTranslationServiceProvider.tsx
  packages/admin/admin/src/translator/config/ContentTranslationServiceContext.tsx
  packages/admin/admin/src/translator/config/ContentTranslationServiceProvider.tsx
  packages/admin/admin/src/translator/config/useContentTranslationServiceProvider.tsx
  packages/admin/admin/src/translator/useContentTranslationService.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename ContentTranslationServiceContext.tsx interface
  packages/admin/admin/src/translator/ContentTranslationServiceContext.tsx
  packages/admin/admin/src/translator/ContentTranslationServiceProvider.tsx
  packages/admin/admin/src/translator/useContentTranslationService.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adjust code to useContentTranslationService rename
  packages/admin/admin-rte/src/core/Controls/TranslationControls.tsx
  packages/admin/admin-rte/src/core/translation/ToolbarButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add translation button to rte
  .changeset/super-car-drifto.md
  packages/admin/admin-rte/package.json
  packages/admin/admin-rte/src/core/Controls/Controls.tsx
  packages/admin/admin-rte/src/core/Controls/TranslationControls.tsx
  packages/admin/admin-rte/src/core/translation/ToolbarButton.tsx
  packages/admin/admin-rte/src/core/translation/xml/getEntityRanges.ts
  packages/admin/admin-rte/src/core/translation/xml/transformStateToXml.ts
  packages/admin/admin-rte/src/core/translation/xml/translateAndTransformToState.ts
  packages/admin/admin-rte/tsconfig.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add translation module
  .changeset/tianmen-mountain-road.md
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/translation/translation-config.constants.ts
  packages/api/cms-api/src/translation/translation.config.ts
  packages/api/cms-api/src/translation/translation.module.ts
  packages/api/cms-api/src/translation/translation.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Correct cursor behaviour, adapt styling to mirror nbsp, and use props as object
  packages/admin/admin-rte/src/core/extension/SoftHyphen/EditorComponent.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

POC: check for third-party cookies before rendering youtube
  demo/site/src/blocks/PageContentBlock.tsx
  demo/site/src/util/cookieBot.tsx
  demo/site/src/util/oneTrust.tsx
  packages/site/cms-site/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Resolve cyclic dependency by moving `PreviewIndicatorColorProps` to `ColorPicker.slots.ts`
  packages/admin/admin-color-picker/src/ColorPicker.slots.ts
  packages/admin/admin-color-picker/src/ColorPicker.tsx
  packages/admin/admin-color-picker/src/PreviewIndicatorColorProps.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(FileSettingsFields): make all license fields optional if type = ROYALTY_FREE even with requireLicense enabled
  .changeset/tricky-adults-laugh.md
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
  packages/admin/cms-admin/src/dam/FileForm/FileSettingsFields.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Import Alert from @comet/admin
  packages/admin/admin-stories/src/admin/alert/Alert.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Automatically assign author and reviewer to PRs
  .github/auto_assign.yml
Due: none

Update .changeset/smart-weeks-behave.md
  .changeset/smart-weeks-behave.md
Due: prettylint

Add suggestions
  .changeset/smart-weeks-behave.md
  packages/admin/admin-stories/src/admin/alert/Alert.tsx
  packages/admin/admin-theme/src/componentsTheme/MuiAlert.tsx
  packages/admin/admin/src/alert/Alert.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Automatically assign author and reviewer to PRs (#1527)
  .github/auto_assign.yml
Due: none

Make DAM license fields optional for ROYALTY_FREE (#1526)
  .changeset/tricky-adults-laugh.md
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
  packages/admin/cms-admin/src/dam/FileForm/FileSettingsFields.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename 'IProps' to 'Props'
  packages/admin/admin-rte/src/core/extension/SoftHyphen/EditorComponent.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add change set
  .changeset/stale-turtles-smile.md
Due: prettylint

Add `Alert` component (#1371)
  .changeset/smart-weeks-behave.md
  packages/admin/admin-stories/src/admin/alert/Alert.tsx
  packages/admin/admin-theme/src/componentsTheme/MuiAlert.tsx
  packages/admin/admin-theme/src/componentsTheme/getComponentsTheme.ts
  packages/admin/admin/src/alert/Alert.tsx
  packages/admin/admin/src/index.ts
  packages/eslint-config/nextjs.js
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove(admin-icons): deprecated icons
  packages/admin/admin-icons/icons/deprecated/betrieb.svg
  packages/admin/admin-icons/icons/deprecated/logische_filter.svg
  packages/admin/admin-icons/icons/deprecated/pool.svg
  packages/admin/admin-icons/icons/deprecated/pool_2.svg
  packages/admin/admin-icons/icons/deprecated/state-green-ring.svg
  packages/admin/admin-icons/icons/deprecated/state-green.svg
  packages/admin/admin-icons/icons/deprecated/state-orange-ring.svg
  packages/admin/admin-icons/icons/deprecated/state-orange.svg
  packages/admin/admin-icons/icons/deprecated/state-red-ring.svg
  packages/admin/admin-icons/icons/deprecated/state-red.svg
  packages/admin/admin-icons/icons/deprecated/vignette-1.svg
  packages/admin/admin-icons/icons/deprecated/vignette-2.svg
Due: none

docs(admin-icons): add changeset
  .changeset/poor-boxes-explain.md
Due: prettylint

fix(generate-icons): to throw error, when no icons/deprecated directory exists
  packages/admin/admin-icons/generate-icons.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix fixtures (#1515)
  demo/api/src/db/fixtures/fixtures.console.ts
  demo/api/src/db/fixtures/generators/many-images-test-page.generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(admin-icons): rename newly added icons to match convention
  packages/admin/admin-icons/icons/check-rounded.svg
  packages/admin/admin-icons/icons/exclamationmark-rounded.svg
  packages/admin/admin-icons/icons/hyphen-rounded.svg
Due: none

feat(admin-admin): remove useCurrentDeviceType.ts
  packages/admin/admin/src/hooks/useCurrentDeviceType.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(Tabs): remove dividerComponent prop
  packages/admin/admin/src/tabs/RouterTabs.tsx
  packages/admin/admin/src/tabs/Tabs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(CustomTab): rename to Tab
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/tabs/RouterTabs.tsx
  packages/admin/admin/src/tabs/Tab.styles.ts
  packages/admin/admin/src/tabs/Tab.tsx
  packages/admin/admin/src/tabs/Tabs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
