Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Block Preview: Inject domain for all fetch requests as custom header
  demo/site/src/app/block-preview/[domain]/BlockPreviewLayoutClient.tsx
  demo/site/src/app/block-preview/[domain]/layout.tsx
  demo/site/src/middleware/domainRewrite.ts
  demo/site/src/middleware/predefinedPages.ts
  demo/site/src/middleware/preview.ts
  demo/site/src/middleware/redirectToMainHost.ts
  demo/site/src/util/siteConfig.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat: add product carousel block
  demo/admin/src/common/blocks/ProductListCarouselBlock.tsx
  demo/admin/src/common/blocks/ProductListItemBlock.tsx
  demo/api/src/common/blocks/product-list-carousel.block.ts
  demo/api/src/common/blocks/product-list-item.block.ts
  demo/site-pages/src/common/blocks/ProductListCarouselBlock.tsx
  demo/site-pages/src/documents/pages/blocks/PageContentBlock.tsx
  demo/site/src/common/blocks/ProductListCarouselBlock.tsx
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add optional scopePartsForRedirects to CometConfigProvider
  demo/admin/src/App.tsx
  packages/admin/cms-admin/src/pages/pageTreeConfig.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix(api-generator): add permission typeguard for generatedpermission type names
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
  packages/api/api-generator/src/commands/generate/generateCrudSingle/generate-crud-single.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(demo): add typed permissions
  demo/admin/src/App.tsx
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/auth/access-control.service.ts
  demo/api/src/auth/permission.interface.ts
  demo/api/src/common/enum/project-permission.enum.ts
  demo/api/src/products/entities/product-variant.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(cms-admin): introduce Permission type for user permission checks
  packages/admin/cms-admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/common/MasterMenuRoutes.test.tsx
  packages/admin/cms-admin/src/common/MasterMenuRoutes.tsx
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: add changeset
  .changeset/huge-results-roll.md
Due: prettylint

feat(cms-api): introduce typed Permission system and CometPermission enum
  docs/docs/2-core-concepts/5-user-permissions/1-setup.md
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/auth/resolver/auth.resolver.ts
  packages/api/cms-api/src/common/decorators/crud-generator.decorator.ts
  packages/api/cms-api/src/common/enum/comet-permission.enum.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/user-permissions/access-control.service.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.spec.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.ts
  packages/api/cms-api/src/user-permissions/decorators/required-permission.decorator.ts
  packages/api/cms-api/src/user-permissions/dto/current-user.ts
  packages/api/cms-api/src/user-permissions/dto/user-permission.input.ts
  packages/api/cms-api/src/user-permissions/entities/user-permission.entity.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
  packages/api/cms-api/src/user-permissions/user.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: rename project password to app
  demo/admin/src/App.tsx
  demo/api/src/app.module.ts
  demo/api/src/auth/app-permission.enum.ts
  demo/api/src/auth/permission.interface.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: test permissions
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/filter-primary-key.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-dedicated-resolver-arg.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-embeddable.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-multi-use.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-optional.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-extend-entity.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-position.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relation-many-to-many.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-id-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-id-string.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-multi-use.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-nested.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-two-levels.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-resolve-field.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-resolve-id-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-scope.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-without-find.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-json.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-no-update-input.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-relations.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-validators.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input.spec.ts
  packages/api/cms-api/src/user-permissions/access-control.service.test.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: do not use submodule imports
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
  packages/api/api-generator/src/commands/generate/generateCrudSingle/generate-crud-single.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: add missing schema.gql changes
  demo/api/schema.gql
Due: none

fix: knip error
  knip.json
Due: prettylint

refactor: requiredPermission is mandatory now for CrudGenerator decorator
  demo/api/src/auth/app-permission.enum.ts
  demo/api/src/news/entities/news.entity.ts
  demo/api/src/products/entities/manufacturer-country.entity.ts
  demo/api/src/products/entities/manufacturer.entity.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/manufacturer-country.resolver.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/generate-crud-input.ts
  packages/api/cms-api/src/common/decorators/crud-generator.decorator.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix(api-generator): add permission types for jest
  packages/api/api-generator/cms-api.d.ts
  packages/api/api-generator/package.json
  packages/api/api-generator/tsconfig.build.json
  packages/api/api-generator/tsconfig.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: renomve isPermission typeguard
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
  packages/api/api-generator/src/commands/generate/generateCrudSingle/generate-crud-single.ts
  packages/api/cms-api/src/auth/resolver/auth.resolver.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.ts
  packages/api/cms-api/src/user-permissions/dto/paginated-user-list.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
  packages/api/cms-api/src/user-permissions/user.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: add own test permission for crud permissions tests
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/filter-primary-key.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-dedicated-resolver-arg.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-embeddable.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-multi-use.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-optional.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-extend-entity.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-position.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relation-many-to-many.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-id-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-id-string.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-multi-use.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-nested.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-two-levels.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-resolve-field.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-resolve-id-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-scope.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-without-find.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-json.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-no-update-input.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-relations.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-validators.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/generate-crud-input.ts
  packages/api/api-generator/src/commands/generate/utils/__tests__/permissions.interface.ts
  packages/api/cms-api/src/common/decorators/crud-generator.decorator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: rename CometPermission to CorePermission
  .changeset/huge-results-roll.md
  demo/api/schema.gql
  demo/api/src/app.module.ts
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/common/enum/core-permission.enum.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: use as cast instead of module augmentation for permissions in tests
  packages/admin/cms-admin/src/common/MasterMenuRoutes.test.tsx
  packages/api/api-generator/cms-api.d.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/filter-primary-key.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-dedicated-resolver-arg.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-embeddable.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-multi-use.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-optional.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-extend-entity.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-position.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relation-many-to-many.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-id-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-id-string.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-multi-use.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-nested.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-two-levels.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-resolve-field.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-resolve-id-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-scope.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-without-find.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-json.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-no-update-input.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-relations.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-validators.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input.spec.ts
  packages/api/api-generator/src/commands/generate/utils/test-helper.ts
  packages/api/api-generator/tsconfig.build.json
  packages/api/api-generator/tsconfig.json
  packages/api/cms-api/src/user-permissions/access-control.service.test.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: add breaking changes note for changeset
  .changeset/huge-results-roll.md
Due: prettylint

fix: lint errors in migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

refactor: simplify permission type check
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat: add migration guide for typed permissions
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

add check for existing redirects
  packages/admin/cms-admin/src/pages/createEditPageNode.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: cspell error
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

POC: Combined permission enum in GraphQL schema
  demo/api/schema.gql
  demo/api/src/app.module.ts
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/user-permissions/dto/current-user.ts
  packages/api/cms-api/src/user-permissions/dto/paginated-user-list.ts
  packages/api/cms-api/src/user-permissions/dto/user-permission.input.ts
  packages/api/cms-api/src/user-permissions/entities/user-permission.entity.ts
  packages/api/cms-api/src/user-permissions/user-permissions.module.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add condition for displaying redirect checkbox
  packages/admin/cms-admin/src/pages/createEditPageNode.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

correct information for user
  packages/admin/cms-admin/src/pages/createEditPageNode.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/clean-moons-accept.md
Due: prettylint

fix form value so that no redirect is created
  packages/admin/cms-admin/src/pages/createEditPageNode.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove cast
  packages/site/site-react/src/previewskeleton/PreviewSkeleton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add docs for `ColorPicker` and `ColorField`
  docs/docs/9-comet-core-development/2-writing-admin-component-docs.md
  storybook/src/admin-component-docs/ColorField.stories.tsx
  storybook/src/admin-component-docs/ColorPicker.stories.tsx
  storybook/src/admin-component-docs/NumberField.stories.tsx
  storybook/src/admin-component-docs/utils/commonArgTypes.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove no longer relevant TODO comments
  storybook/src/admin-component-docs/Button.stories.tsx
  storybook/src/admin-component-docs/FieldSet.stories.tsx
  storybook/src/admin-component-docs/NumberField.stories.tsx
  storybook/src/admin-component-docs/Typography.stories.tsx
  storybook/src/admin-component-docs/utils/commonArgTypes.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update docs
  docs/docs/9-comet-core-development/2-writing-admin-component-docs.md
  storybook/src/admin-component-docs/Button.stories.tsx
  storybook/src/admin-component-docs/ColorField.stories.tsx
  storybook/src/admin-component-docs/ColorPicker.stories.tsx
  storybook/src/admin-component-docs/FieldSet.stories.tsx
  storybook/src/admin-component-docs/InlineAlert.stories.tsx
  storybook/src/admin-component-docs/NumberField.stories.tsx
  storybook/src/admin-component-docs/Typography.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add new docs for admin-components
  storybook/.storybook/preview.tsx
  storybook/src/admin-component-docs/Button.stories.tsx
  storybook/src/admin-component-docs/ColorField.stories.tsx
  storybook/src/admin-component-docs/ColorPicker.stories.tsx
  storybook/src/admin-component-docs/FieldSet.stories.tsx
  storybook/src/admin-component-docs/InlineAlert.stories.tsx
  storybook/src/admin-component-docs/NumberField.stories.tsx
  storybook/src/admin-component-docs/Typography.stories.tsx
  storybook/src/admin-component-docs/utils/commonArgTypes.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Embed storybook admin-component-docs in docs using an iframe
  docs/docs/5-admin-components/components/.gitignore
  docs/package.json
  docs/src/components/StorybookAdminComponentDocsIframe.tsx
  docs/src/utils/generateComponentDocs.ts
  docs/tsconfig.ts-node.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove legacy non-generated component-docs
  docs/docs/5-admin-components/components/FieldSet.mdx
  docs/docs/5-admin-components/components/Typography.mdx
Due: none

Set docs iframe-height to the iframes content to prevent duplicate scrollbars
  docs/src/components/StorybookAdminComponentDocsIframe.tsx
  storybook/src/admin-component-docs/Button.stories.tsx
  storybook/src/admin-component-docs/ColorField.stories.tsx
  storybook/src/admin-component-docs/ColorPicker.stories.tsx
  storybook/src/admin-component-docs/FieldSet.stories.tsx
  storybook/src/admin-component-docs/InlineAlert.stories.tsx
  storybook/src/admin-component-docs/NumberField.stories.tsx
  storybook/src/admin-component-docs/Typography.stories.tsx
  storybook/src/admin-component-docs/utils/componentDocsDecorator.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove storybook padding when embedded in docs which already handles the spacing
  docs/src/components/StorybookAdminComponentDocsIframe.tsx
  storybook/.storybook/decorators/Layout.decorator.styles.ts
  storybook/src/admin-component-docs/utils/componentDocsDecorator.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Implement custom rendering of docs page
  storybook/src/admin-component-docs/Button.stories.tsx
  storybook/src/admin-component-docs/ColorField.stories.tsx
  storybook/src/admin-component-docs/ColorPicker.stories.tsx
  storybook/src/admin-component-docs/FieldSet.stories.tsx
  storybook/src/admin-component-docs/InlineAlert.stories.tsx
  storybook/src/admin-component-docs/NumberField.stories.tsx
  storybook/src/admin-component-docs/Typography.stories.tsx
  storybook/src/admin-component-docs/utils/DocsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
