Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: improve prop typings for DateTimeField
  packages/admin/admin-date-time/src/dateTimePicker/DateTimeField.tsx
  packages/admin/admin-date-time/src/dateTimePicker/FinalFormDateTimePicker.tsx
  storybook/src/admin-date-time/dateTimePicker/DateTimePicker.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: improve prop typings for DatePickerField
  packages/admin/admin/src/dateTime/DatePickerField.tsx
  storybook/src/admin/datePicker/DatePickerField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: improve prop typings for DateField
  packages/admin/admin-date-time/src/datePicker/DateField.tsx
  packages/admin/admin-date-time/src/datePicker/FinalFormDatePicker.tsx
  storybook/src/admin-date-time/DateField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: improve prop typings for DateRangeField
  packages/admin/admin-date-time/src/dateRangePicker/DateRangeField.tsx
  packages/admin/admin-date-time/src/dateRangePicker/FinalFormDateRangePicker.tsx
  storybook/src/admin-date-time/dateRangePicker/DateRangePicker.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: improve prop typings for TimeField
  packages/admin/admin-date-time/src/timePicker/FinalFormTimePicker.tsx
  packages/admin/admin-date-time/src/timePicker/TimeField.tsx
  storybook/src/admin-date-time/timePicker/TimeField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: improve prop typings for TimeRangeField
  packages/admin/admin-date-time/src/timeRangePicker/FinalFormTimeRangePicker.tsx
  packages/admin/admin-date-time/src/timeRangePicker/TimeRangeField.tsx
  storybook/src/admin-date-time/timeRangePicker/TimeRangeField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix scrolling in `DataGrid` inside `Dialog` of "Best practice examples"
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: improve prop typings for Number Field
  packages/admin/admin/src/form/FinalFormNumberInput.tsx
  packages/admin/admin/src/form/fields/NumberField.tsx
  storybook/src/admin/form/NumberField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: improve prop typings for AsynSelectField
  packages/admin/admin/src/form/FinalFormAsyncSelect.tsx
  packages/admin/admin/src/form/FinalFormSelect.tsx
  packages/admin/admin/src/form/fields/AsyncSelectField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: improve prop typings for SearchField
  packages/admin/admin/src/form/fields/SearchField.tsx
  storybook/src/admin/form/SearchField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: improve prop typings for CheckboxField
  packages/admin/admin/src/form/Checkbox.tsx
  storybook/src/admin/form/CheckboxField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: fieldLabel to checkboxLabel
  packages/admin/admin/src/form/fields/CheckboxField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add sample story for CheckboxListField
  storybook/src/admin/form/CheckboxListField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add sample story for RadioGroupField
  storybook/src/admin/form/RadioGroupField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: improve prop typings for SwitchField
  packages/admin/admin/src/form/Switch.tsx
  storybook/src/admin/form/SwitchField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: align ToggleButtonGroupFieldProps with other FieldProps
  packages/admin/admin/src/form/FinalFormToggleButtonGroup.tsx
  packages/admin/admin/src/form/fields/ToggleButtonGroupField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix typo in Button variants
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Fix typo in 'Migrate custom eslint rules'
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Add warning regarding eslint-config-next
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Improve Button variant
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

refactor: improve prop typings for TextAreaField
  packages/admin/admin/src/form/fields/TextAreaField.tsx
  storybook/src/admin/form/TextAreaField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: improve prop typings for FileUploadField
  packages/admin/cms-admin/src/form/file/FileUploadField.tsx
  packages/admin/cms-admin/src/form/file/FinalFormFileUpload.tsx
  storybook/.storybook/decorators/CometConfigProvider.decorator.tsx
  storybook/.storybook/mocks/handler/fileUploads.ts
  storybook/.storybook/mocks/handlers.ts
  storybook/.storybook/preview.tsx
  storybook/src/cms-admin/form/file/FileUpload.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add FieldPath to public api
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: align AutocompleteFieldProps with other FieldProps
  packages/admin/admin/src/form/Autocomplete.tsx
  packages/admin/admin/src/form/FinalFormAsyncAutocomplete.tsx
  packages/admin/admin/src/form/fields/AutocompleteField.tsx
  storybook/src/admin/form/AutocompleteField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve v8 migration guide (#4328)
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Change check to != null, to be more flexible
  packages/admin/admin/src/dataGrid/muiGridFilterToGql.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changelog to reflect latest changes
  .changeset/quick-oranges-sing.md
Due: prettylint

Fixes for updates to comet V8 and DataGrid V7
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
  knip.json
  packages/admin/cms-admin/src/blocks/table/ActionsCell.tsx
  packages/admin/cms-admin/src/blocks/table/CellValue.tsx
  packages/admin/cms-admin/src/blocks/table/ColumnHeader.tsx
  packages/admin/cms-admin/src/blocks/table/EditCell.tsx
  packages/admin/cms-admin/src/blocks/table/TableBlock.tsx
  packages/admin/cms-admin/src/blocks/table/TableBlockGrid.tsx
  packages/admin/cms-admin/src/blocks/table/dataGridStyles.ts
  packages/admin/cms-admin/src/blocks/table/utils.ts
  packages/api/cms-api/src/blocks/table.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Reintroduce mailer env-vars for host and port like in docs
  .env
  demo/api/src/config/config.ts
  demo/api/src/config/environment-variables.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename mailer type param to mailTypeForLogging
  docs/docs/3-features-modules/11-mailer-module/index.md
  packages/api/cms-api/src/mailer/mailer.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add logging feature to mailer-module
  .changeset/dirty-forks-build.md
  docs/docs/3-features-modules/11-mailer-module/index.md
  packages/api/cms-api/src/mailer/delete-mail-logs.command.ts
  packages/api/cms-api/src/mailer/entities/mailer-log.entity.ts
  packages/api/cms-api/src/mailer/mailer.module.ts
  packages/api/cms-api/src/mailer/mailer.service.ts
  packages/api/cms-api/src/mikro-orm/migrations/Migration20250612134629.ts
  packages/api/cms-api/src/mikro-orm/mikro-orm.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: add mitmproxy for development
  .env
  dev-pm.config.js
  install.sh
  package.json
Due: prettylint

add mitmproxy as docker container
  .env
  dev-pm.config.js
  docker-compose.yml
  install.sh
  package.json
Due: prettylint

Update docker-compose.yml
  docker-compose.yml
Due: none

change mitmproxy from 0.0.0.0 to 127.0.0.1
  .env
  docker-compose.yml
Due: none

chore(eslint): activate react/jsx-no-literals rule
  packages/admin/admin-icons/eslint.config.mjs
  packages/eslint-config/react.js
Due: prettylint

fix: lint errors in @comet/admin
  packages/admin/admin/src/common/toolbar/ToolbarBreadcrumbs.tsx
  packages/admin/admin/src/error/errorboundary/ErrorBoundary.tsx
  packages/admin/admin/src/error/errordialog/ErrorDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: lint errors in @comet/admin-color-picker
  packages/admin/admin-color-picker/src/ColorPicker.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: lint errors in @comet/cms-admin
  packages/admin/cms-admin/src/common/header/about/AboutModal.tsx
  packages/admin/cms-admin/src/contentScope/Provider.tsx
  packages/admin/cms-admin/src/cronJobs/JobRuntime.tsx
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
  packages/eslint-config/react.js
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: lint errors in @comet/site-react
  packages/site/site-react/src/blocks/factories/BlocksBlock.tsx
  packages/site/site-react/src/blocks/factories/OneOfBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
