Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Fix a common typo in the word "occurred"
  demo/admin/src/products/ProductPriceForm.tsx
  demo/admin/src/products/categories/ProductCategoryForm.tsx
  demo/admin/src/products/tags/ProductTagForm.tsx
  packages/admin/admin/src/error/errordialog/ErrorDialog.tsx
  packages/admin/cms-admin/src/pages/pageTree/useCopyPastePages.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove migration guide
  docs/docs/migration/migration-from-v7-to-v8.md
Due: prettylint

Update changelog
  .changeset/grumpy-fishes-live.md
Due: prettylint

Don't show empty menu in mobile version of `ToolbarBreadcrumbs` (#2824)
  .changeset/twenty-roses-rest.md
  packages/admin/admin/src/common/toolbar/ToolbarBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add DataGrid to CrudMoreActionsMenu story (#2817)
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix a common typo in the word "occurred" (#2827)
  demo/admin/src/products/ProductPriceForm.tsx
  demo/admin/src/products/categories/ProductCategoryForm.tsx
  demo/admin/src/products/tags/ProductTagForm.tsx
  packages/admin/admin/src/error/errordialog/ErrorDialog.tsx
  packages/admin/cms-admin/src/pages/pageTree/useCopyPastePages.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix width of ToolbarBreadcrumbs mobile menu
  .changeset/young-files-kneel.md
  packages/admin/admin/src/common/toolbar/ToolbarBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix width of ToolbarBreadcrumbs mobile menu (#2825)
  .changeset/young-files-kneel.md
  packages/admin/admin/src/common/toolbar/ToolbarBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unused GraphQL client/fetch from site preview handlers (#2774)
  .changeset/grumpy-fishes-live.md
  demo/site-pages/src/pages/api/site-preview.ts
  demo/site/src/app/api/site-preview/route.ts
  packages/site/cms-site/src/sitePreview/appRouter/sitePreviewRoute.ts
  packages/site/cms-site/src/sitePreview/pagesRouter/legacyPagesRouterSitePreviewApiHandler.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix spacing of MoreActionsSelectedItemsChip in CrudMoreActionsMenu
  .changeset/heavy-wasps-arrive.md
  packages/admin/admin/src/dataGrid/CrudMoreActionsMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adapt changeset info
  .changeset/heavy-wasps-arrive.md
Due: prettylint

Remove unused dependencies from Demo (#2815)
  demo/admin/package.json
  demo/admin/src/App.tsx
  demo/admin/src/vendors.d.ts
  demo/api/package.json
  demo/site-pages/package.json
  demo/site/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix the spacing between the text and chip in `CrudMoreActionsMenu` (#2820)
  .changeset/heavy-wasps-arrive.md
  packages/admin/admin/src/dataGrid/CrudMoreActionsMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Symlink instead copy
  copy-schema-files.js
  demo/admin/.gitignore
  demo/admin/src/site-configs.d.ts
  demo/api/.gitignore
  demo/api/src/site-configs.d.ts
  demo/site/.gitignore
  demo/site/src/site-configs.d.ts
  install.sh
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/early-eyes-return.md
Due: prettylint

Fix regression error
  demo/api/schema.gql
Due: none

Split site-config files
  demo/site-configs/main.ts
  demo/site-configs/secondary.ts
  demo/site-configs/site-configs.d.ts
  demo/site-configs/site-configs.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Translate generated staticSelect grid column headers
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix a bug that prevented dynamically rendered tabs in `Tabs` (#2818)
  .changeset/early-eyes-return.md
  packages/admin/admin/src/tabs/Tabs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Pass the graphQLApiUrl for useBlockPreview through the IFrameBridge (#2749)
  .changeset/soft-apes-cheat.md
  .env
  demo/site/src/util/graphQLClient.ts
  packages/admin/blocks-admin/src/iframebridge/IFrameBridge.tsx
  packages/admin/blocks-admin/src/iframebridge/IFrameMessage.ts
  packages/admin/cms-admin/src/preview/block/BlockPreview.tsx
  packages/site/cms-site/src/iframebridge/IFrameBridge.tsx
  packages/site/cms-site/src/iframebridge/IFrameMessage.ts
  packages/site/cms-site/src/iframebridge/useBlockPreviewFetch.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix font-weight of adornments
  packages/admin/admin-theme/src/componentsTheme/MuiInputBase.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix label color on disabled and focused
  packages/admin/admin/src/form/FieldContainer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix font-weight and margin-top of helper text
  packages/admin/admin-theme/src/componentsTheme/MuiFormHelperText.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add best practice examples of various grid and form combinations (#2701)
  storybook/src/docs/bestPractices/GridAndFormLayouts.mdx
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/rich-spiders-trade.md
Due: prettylint

Add the `StackMainContent` component
  .changeset/ninety-laws-joke.md
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/ProductPriceForm.tsx
  demo/admin/src/products/ProductsPage.tsx
  demo/admin/src/products/future/ManufacturersPage.tsx
  demo/admin/src/products/future/ProductsPage.tsx
  packages/admin/admin/src/common/toolbar/StackToolbar.tsx
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/mui/MainContent.tsx
  packages/admin/admin/src/stack/useIsLastVisibleSwitch.ts
  storybook/src/docs/bestPractices/GridAndFormLayouts.mdx
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

More logical hook name
  packages/admin/admin/src/common/toolbar/StackToolbar.tsx
  packages/admin/admin/src/mui/MainContent.tsx
  packages/admin/admin/src/stack/useIsActiveStackSwitch.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use existing hook to only show the last TabBar
  packages/admin/admin/src/tabs/RouterTabs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update demo/site/src/middleware.ts
  demo/site/src/middleware.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove impersonation messages from messages.ts and create their own object
  packages/admin/admin/src/messages.ts
  packages/admin/cms-admin/src/common/impersonation/commonImpersonationMessages.tsx
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
  packages/admin/cms-admin/src/userPermissions/user/ImpersonationButtons.tsx
  packages/admin/cms-admin/src/userPermissions/user/UserPageToolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

correct commonImpersonationMessages object
  packages/admin/cms-admin/src/common/impersonation/commonImpersonationMessages.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix pipelines
  copy-schema-files.js
Due: prettylint

Fix it better
  copy-schema-files.js
Due: prettylint

Fix asterisk spacing
  packages/admin/admin/src/form/FieldContainer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Pass allowed permissions to getPermissionsForUser
  .changeset/afraid-clocks-juggle.md
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make DataGrid pro package optional
  packages/admin/cms-admin/package.json
Due: prettylint

Convert stories to CSF+MDX
  storybook/src/admin/edit-dialog/EditDialogInRouterTabs.stories.tsx
  storybook/src/admin/edit-dialog/EditDialogInRouterTabs.tsx
  storybook/src/admin/edit-dialog/EditDialogInRouterTabsWithinStack.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/rich-spiders-trade.md
Due: prettylint

fix: lint error in @comet/cms-api
  packages/api/cms-api/src/generator/generate-crud-input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

apply migration: @mui/x-codemod@latest v6.0.0/data-grid/preset-safe
  demo/admin/src/news/generated/NewsGrid.tsx
  demo/admin/src/products/ManufacturersGrid.tsx
  demo/admin/src/products/ProductVariantsGrid.tsx
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/categories/ProductCategoriesTable.tsx
  demo/admin/src/products/future/generated/CombinationFieldsTestProductsGrid.tsx
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
  demo/admin/src/products/tags/ProductTagTable.tsx
  demo/site-pages/src/pages/_app.tsx
  docs/src/components/Story.tsx
  docs/src/theme/Playground/index.tsx
  packages/admin/admin-rte/src/core/Controls/Toolbar/Toolbar.tsx
  packages/admin/admin/src/mui/menu/ItemRouterLink.tsx
  packages/admin/blocks-admin/src/blocks/factories/columnsBlock/ColumnsIcon.tsx
  packages/admin/cms-admin/src/builds/StartBuildsDialog.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dashboard/widgets/LatestBuildsDashboardWidget.tsx
  packages/admin/cms-admin/src/dashboard/widgets/LatestContentUpdatesDashboardWidget.tsx
  packages/admin/cms-admin/src/dependencies/DependencyList.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/pages/pageTree/PageTree.tsx
  packages/admin/cms-admin/src/pages/pagesPage/PagesPage.tsx
  packages/admin/cms-admin/src/redirects/RedirectsGrid.tsx
  packages/api/cms-api/src/generator/generate-crud-input.ts
  packages/site/cms-site/src/blocks/SvgImageBlock.tsx
  storybook/public/mockServiceWorker.js
  storybook/src/docs/components/GridCellContent/GridCellContent.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
