Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

API Generator: drop populate generation and require MikroORM dataloader (#5123)
  .changeset/green-badgers-smell.md
  demo/api/src/db/ormconfig.ts
  demo/api/src/news/generated/news.resolver.ts
  demo/api/src/products/generated/product-category-type.resolver.ts
  demo/api/src/products/generated/product-category.resolver.ts
  demo/api/src/products/generated/product-highlight.resolver.ts
  demo/api/src/products/generated/product-tag.resolver.ts
  demo/api/src/products/generated/product-variant.resolver.ts
  demo/api/src/products/generated/product.resolver.ts
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update AGENTS.md
  AGENTS.md
Due: prettylint

demo-admin: include intl extract in lint script
  demo/admin/package.json
Due: prettylint

demo-admin: run intl extract after lint checks
  demo/admin/package.json
Due: prettylint

demo-admin: combine intl extract into lint run-p
  demo/admin/package.json
Due: prettylint

demo-admin: resolve intl extract duplicate message warnings
  demo/admin/package.json
  demo/admin/src/brevo/brevoModuleConfig/brevoContactsPageAttributesConfig.tsx
  demo/admin/src/common/blocks/LayoutBlock.tsx
  demo/admin/src/news/NewsPage.tsx
  demo/admin/src/products/ManufacturerForm.tsx
  demo/admin/src/products/ManufacturersGrid.tsx
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/generator/ProductsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo-admin: keep intl extract checking generated sources
  demo/admin/package.json
Due: prettylint

demo-admin: normalize generated intl default messages
  demo/admin/src/products/generator/ProductsGrid.cometGen.tsx
  demo/admin/src/products/generator/generated/CreateCapProductForm.tsx
  demo/admin/src/products/generator/generated/ManufacturerForm.tsx
  demo/admin/src/products/generator/generated/ManufacturersGrid.tsx
  demo/admin/src/products/generator/generated/ProductForm.tsx
  demo/admin/src/products/generator/generated/ProductsGrid.tsx
  demo/admin/src/products/generator/generated/SelectProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo-admin: update cometGen intl labels and regenerate
  demo/admin/src/products/generator/CreateCapProductForm.cometGen.ts
  demo/admin/src/products/generator/ManufacturerForm.cometGen.tsx
  demo/admin/src/products/generator/ManufacturersGrid.cometGen.ts
  demo/admin/src/products/generator/ProductForm.cometGen.tsx
  demo/admin/src/products/generator/SelectProductsGrid.cometGen.ts
  demo/admin/src/products/generator/generated/ManufacturerForm.tsx
  demo/admin/src/products/generator/generated/ManufacturersGrid.tsx
  demo/admin/src/products/generator/productTypeValues.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add workflows/copilot-setup.steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

API Generator: add hooksService that can be used for advanced validation (#4832)
  .changeset/small-regions-design.md
  demo/api/src/products/entities/product-variant.entity.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/product-variant.resolver.ts
  demo/api/src/products/generated/product.resolver.ts
  demo/api/src/products/product-variant.service.ts
  demo/api/src/products/product.service.ts
  demo/api/src/products/products.module.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-service-hook-call.ts
  packages/api/api-generator/src/commands/generate/utils/__tests__/find-hooks-service.spec.ts
  packages/api/api-generator/src/commands/generate/utils/find-hooks-service.ts
  packages/api/api-generator/src/commands/generate/utils/ts-morph-helper.ts
  packages/api/cms-api/src/common/decorators/crud-generator.decorator.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add payload type that can return error in mutation reponse
  demo/api/schema.gql
  demo/api/src/products/generated/product-variant.resolver.ts
  demo/api/src/products/generated/product.resolver.ts
  demo/api/src/products/product-variant.service.ts
  demo/api/src/products/product.service.ts
  demo/api/src/products/products.module.ts
  packages/api/cms-api/src/common/decorators/crud-generator.decorator.ts
  packages/api/cms-api/src/common/graphql/mutation-error.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

MutationError per service with enum, generator
  demo/api/schema.gql
  demo/api/src/products/generated/product-variant.resolver.ts
  demo/api/src/products/generated/product.resolver.ts
  demo/api/src/products/product-variant.service.ts
  demo/api/src/products/product.service.ts
  packages/api/api-generator/jest.config.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-payload-object-types.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-payload-object-types.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-service-hook-call.ts
  packages/api/api-generator/src/commands/generate/utils/__tests__/find-hooks-service.spec.ts
  packages/api/api-generator/src/commands/generate/utils/__tests__/find-hooks-service/test-entity.entity.ts
  packages/api/api-generator/src/commands/generate/utils/__tests__/find-hooks-service/test-entity.service.ts
  packages/api/api-generator/src/commands/generate/utils/__tests__/find-hooks-service/test-entity3-error.ts
  packages/api/api-generator/src/commands/generate/utils/__tests__/find-hooks-service/test-entity3.entity.ts
  packages/api/api-generator/src/commands/generate/utils/__tests__/find-hooks-service/test-entity3.service.ts
  packages/api/api-generator/src/commands/generate/utils/find-hooks-service.ts
  packages/api/api-generator/src/commands/generate/utils/generate-imports-code.ts
  packages/api/api-generator/src/commands/generate/utils/ts-morph-helper.ts
  packages/api/cms-api/src/common/graphql/mutation-error.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unused var, fixes test build
  packages/api/api-generator/src/commands/generate/utils/find-hooks-service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make errors not nullable
  demo/api/schema.gql
  demo/api/src/products/generated/product-variant.resolver.ts
  demo/api/src/products/generated/product.resolver.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-payload-object-types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Implement admin side for error handling of payload error returns
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/ProductVariantForm.gql.ts
  demo/admin/src/products/ProductVariantForm.tsx
  demo/admin/src/products/generator/generated/CreateCapProductForm.gql.tsx
  demo/admin/src/products/generator/generated/CreateCapProductForm.tsx
  demo/admin/src/products/generator/generated/IdFieldInForm.gql.tsx
  demo/admin/src/products/generator/generated/IdFieldInForm.tsx
  demo/admin/src/products/generator/generated/ProductForm.gql.tsx
  demo/admin/src/products/generator/generated/ProductForm.tsx
  demo/admin/src/products/generator/generated/ProductVariantForm.gql.tsx
  demo/admin/src/products/generator/generated/ProductVariantForm.tsx
  demo/api/schema.gql
  demo/api/src/products/product-variant.service.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelect.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelectFilter.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/initialValueAsProp.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/optionalNestedFields.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/scope.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/generateErrorMessages.test.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/extractErrorEnums.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateErrorHandling.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateErrorMessages.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateForm.ts
  packages/admin/admin/src/FinalForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

don't export enum that is nowhere imported (knip)
  demo/api/src/products/product-variant.service.ts
  demo/api/src/products/product.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix test
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-payload-object-types.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix test
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/initialValueAsProp.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/initialValueAsProp.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

CI=false would is more explicit
  .github/workflows/copilot-setup-steps.yml
Due: none

Fix: Add DAM config and Apollo provider to createCompositeBlockSelectField story (#5142)
  storybook/.storybook/decorators/CometConfigProvider.decorator.tsx
  storybook/src/cms-admin/createCompositeBlock/createCompositeBlockSelectField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add workflows/copilot-setup.steps.yml (#5147)
  .github/workflows/copilot-setup-steps.yml
Due: none

changeset
  .changeset/slimy-hornets-thank.md
Due: prettylint

Demo Api: fix api; add missing service
  demo/api/src/products/products.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Omit unneded Omit
  demo/admin/src/products/generator/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/generator/generated/ProductsGrid.tsx
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/generateGrid.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "Omit unneded Omit"
  demo/admin/src/products/generator/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/generator/generated/ProductsGrid.tsx
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/generateGrid.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add support for non-paginated apis in useDataGridExcelExport
  .changeset/quiet-ravens-bet.md
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
  packages/admin/admin/src/dataGrid/excelExport/useDataGridExcelExport.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Configure vitest junit output for all test suites (#5149)
  packages/admin/admin-generator/vitest.config.ts
  packages/admin/admin/vitest.config.ts
  packages/admin/cms-admin/vitest.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Restrict lib imports from `@comet` packages (#5125)
  .changeset/olive-nails-kneel.md
  packages/api/brevo-api/src/brevo-contact/brevo-contact-import.resolver.ts
  packages/api/brevo-api/src/brevo-module.ts
  packages/api/cms-api/src/file-uploads/file-uploads.service.ts
  packages/eslint-config/core.js
  packages/eslint-config/future/nestjs.js
  packages/eslint-config/future/nextjs.js
  packages/eslint-config/nextjs.js
  packages/eslint-config/react.js
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Api: fix api; add missing service (#5152)
  demo/api/src/products/products.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Change console.warn/error to throw errors in site-configs 1Password resolution (#5153)
  packages/cli/src/commands/site-configs.test.ts
  packages/cli/src/commands/site-configs.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adjust AGENTS.md
  AGENTS.md
Due: prettylint

Update changeset
  .changeset/fix-datagrid-singleselect-filter-height.md
Due: prettylint

add basic animations - FadeBoxInOnScroll - FadeBoxInOnLoad - animate dropdown menu - fix layout center bugs on BillboardTeaserContent - add scroll-behavior smooth on html
  demo/site/src/common/blocks/MediaGalleryBlock.tsx
  demo/site/src/documents/pages/blocks/BasicStageBlock.tsx
  demo/site/src/documents/pages/blocks/BillboardTeaserBlock.module.scss
  demo/site/src/documents/pages/blocks/BillboardTeaserBlock.tsx
  demo/site/src/documents/pages/blocks/ColumnsBlock.tsx
  demo/site/src/documents/pages/blocks/KeyFactsBlock.tsx
  demo/site/src/documents/pages/blocks/TeaserBlock.tsx
  demo/site/src/layout/header/DesktopMenu.module.scss
  demo/site/src/styles/global.scss
  demo/site/src/util/animations/FadeBoxInOnLoad.module.scss
  demo/site/src/util/animations/FadeBoxInOnLoad.tsx
  demo/site/src/util/animations/FadeBoxInOnScroll.module.scss
  demo/site/src/util/animations/FadeBoxInOnScroll.tsx
  demo/site/src/util/animations/FadeGroup.tsx
  demo/site/src/util/animations/useGlobalScrollSpeed.ts
  demo/site/src/util/useWindowSize.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace @nestjs/axios HttpService with native fetch in EmailCampaignsService
  packages/api/brevo-api/src/email-campaign/email-campaign.module.ts
  packages/api/brevo-api/src/email-campaign/email-campaigns.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace axios error detection with duck-typing in brevo-api.utils.ts
  packages/api/brevo-api/src/brevo-api/brevo-api.utils.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove axios and @nestjs/axios from brevo-api dependencies
  packages/api/brevo-api/package.json
Due: prettylint

Readd Usages column to DAM
  .changeset/calm-birds-glow.md
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.gql.ts
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Implement lock to prevent concurrent refreshes
  .changeset/brave-foxes-dance.md
  packages/api/cms-api/src/dependencies/dependencies.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
