Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

add rootblockentity to news again, removing it was unintentional
  demo/api/src/news/entities/news.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP
  demo/admin/src/App.tsx
  demo/admin/src/warnings/warningMessages.tsx
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/comet-config.json
  demo/api/src/news/entities/news-warning.service.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/dam/dam.config.ts
  packages/api/cms-api/src/dam/dam.module.ts
  packages/api/cms-api/src/dam/files/entities/file.entity.ts
  packages/api/cms-api/src/dam/files/file-warning.service.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/warnings/decorators/emit-warnings.decorator.ts
  packages/api/cms-api/src/warnings/dto/warning-source-info.ts
  packages/api/cms-api/src/warnings/warning-checker.command.ts
  packages/api/cms-api/src/warnings/warning-event-subscriber.ts
  packages/api/cms-api/src/warnings/warning.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP
  demo/api/package.json
  demo/api/src/news/entities/news-warning.service.ts
  packages/api/cms-api/src/blocks/block.ts
  packages/api/cms-api/src/dam/files/file-warning.service.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/warnings/decorators/emit-warnings.decorator.ts
  packages/api/cms-api/src/warnings/dto/warning-severity.enum.ts
  packages/api/cms-api/src/warnings/dto/warning-source-info.ts
  packages/api/cms-api/src/warnings/dto/warning.input.ts
  packages/api/cms-api/src/warnings/warning-checker.command.ts
  packages/api/cms-api/src/warnings/warning-event-subscriber.ts
  packages/api/cms-api/src/warnings/warning.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

regenerate schema
  packages/api/cms-api/schema.gql
Due: none

Remove unused field `allowedImageSizes` from DamConfig
  .changeset/loud-items-begin.md
  packages/admin/cms-admin/src/dam/config/damConfig.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Define the image sizes in the comet config according to the starter setup
  demo/api/src/comet-config.json
  demo/api/src/config/config.ts
  demo/site/next.config.mjs
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update usages of `DataGridToolbar`
  demo/admin/src/products/ManufacturersGrid.tsx
  demo/admin/src/products/ProductVariantsGrid.tsx
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/categories/ProductCategoriesGrid.tsx
  demo/admin/src/products/categories/ProductCategoriesTable.tsx
  packages/admin/admin/src/EditDialog.routerTabs.test.tsx
  packages/admin/admin/src/EditDialog.stackRouterTabs.test.tsx
  packages/admin/cms-admin/src/redirects/RedirectsGrid.tsx
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
  packages/admin/cms-admin/src/userPermissions/user/permissions/ContentScopeGrid.tsx
  packages/admin/cms-admin/src/userPermissions/user/permissions/OverrideContentScopesDialog.tsx
  packages/admin/cms-admin/src/userPermissions/user/permissions/selectScopesDialogContent/SelectScopesDialogContent.tsx
  storybook/src/admin/edit-dialog/EditDialogInRouterTabs.stories.tsx
  storybook/src/admin/edit-dialog/EditDialogInRouterTabsWithinStack.stories.tsx
  storybook/src/admin/mui/DataGrid.stories.tsx
  storybook/src/admin/toolbar/DataGridToolbar.stories.tsx
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Simplify usage and implementation of `DataGridToolbar`
  .changeset/clever-icons-laugh.md
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
  packages/admin/admin/src/common/toolbar/DataGridToolbar.tsx
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update usages in admin-generator
  demo/admin/src/news/generated/NewsGrid.tsx
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  demo/admin/src/products/future/generated/SelectProductsGrid.tsx
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGridToolbar.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove workaround for unsupported usecase
  packages/admin/admin/src/common/toolbar/DataGridToolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor styling of `toolbarQuickFilter` and fully move into `DataGrid` `styleOverrides`
  packages/admin/admin/src/common/toolbar/DataGridToolbar.tsx
  packages/admin/admin/src/theme/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix and combine `InsertInBetweenAction`/`InsertInBetweenActionButton`
  packages/admin/cms-admin/src/blocks/common/blockRow/BlockRow.tsx
  packages/admin/cms-admin/src/blocks/common/blockRow/InsertInBetweenAction.sc.ts
  packages/admin/cms-admin/src/blocks/common/blockRow/InsertInBetweenAction.tsx
  packages/admin/cms-admin/src/blocks/common/blockRow/InsertInBetweenActionButton.tsx
  packages/admin/cms-admin/src/pages/pageTree/InsertInBetweenAction/Button.tsx
  packages/admin/cms-admin/src/pages/pageTree/InsertInBetweenAction/InsertInBetweenAction.sc.ts
  packages/admin/cms-admin/src/pages/pageTree/InsertInBetweenAction/InsertInBetweenAction.tsx
  packages/admin/cms-admin/src/pages/pageTree/InsertInBetweenAction/InsertInBetweenActionButton.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTreeRow.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTreeService.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator StaticSelect: Add support for values imported in cometGen config
  packages/admin/admin-generator/package.json
  packages/admin/admin-generator/src/.test/.gitignore
  packages/admin/admin-generator/src/.test/eslint.config.mjs
  packages/admin/admin-generator/src/.test/tsconfig.json
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/staticSelect.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
  packages/admin/admin-generator/src/commands/generate/utils/tsMorphHelper.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix lint:eslint error:
  packages/admin/admin-generator/src/.test/eslint.config.mjs
  packages/admin/admin-generator/src/.test/tsconfig.json
Due: prettylint

Remove unused field `allowedImageSizes` from DamConfig (#3679)
  .changeset/loud-items-begin.md
  packages/admin/cms-admin/src/dam/config/damConfig.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: Interplay between cropping and aspect ratio (#3629)
  .cspellignore
  docs/docs/3-features-modules/3-asset-management/cropping-and-aspect-ratio.mdx
  docs/docs/3-features-modules/3-asset-management/images/aspect-ratio-desktop.png
  docs/docs/3-features-modules/3-asset-management/images/aspect-ratio-mobile.png
  docs/docs/3-features-modules/3-asset-management/images/crop-area-dam-site-aspect-ratios.png
  docs/docs/3-features-modules/3-asset-management/images/crop-area-dam.png
  docs/docs/3-features-modules/3-asset-management/images/crop-area-site.png
  docs/docs/3-features-modules/3-asset-management/images/focus-point-manual-dam.png
  docs/docs/3-features-modules/3-asset-management/images/focus-point-manual-site.png
  docs/docs/3-features-modules/3-asset-management/images/focus-point-smart-dam.png
  docs/docs/3-features-modules/3-asset-management/images/focus-point-smart-site.png
Due: none

Fix regression error to make impersonation working again
  packages/api/cms-api/src/auth/guards/comet.guard.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Link to warning in Admin (#3542)
  demo/admin/src/warnings/WarningsGrid.tsx
  demo/api/schema.gql
  packages/admin/cms-admin/src/dependencies/createDocumentDependencyMethods.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/warnings/entities/warning.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

change warning severity to low, medium and high
  demo/admin/src/warnings/WarningsGrid.tsx
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20241108073817.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/warnings/entities/warning-severity.enum.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix regression error to make impersonation working again (#3684)
  packages/api/cms-api/src/auth/guards/comet.guard.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator: Change cometGen to default export instead of (possibly multiple) named exports
  demo/admin/src/news/NewsForm.cometGen.ts
  demo/admin/src/news/NewsGrid.cometGen.ts
  demo/admin/src/products/future/CreateCapProductForm.cometGen.ts
  demo/admin/src/products/future/IdFieldInForm.cometGen.ts
  demo/admin/src/products/future/ManufacturersGrid.cometGen.ts
  demo/admin/src/products/future/ProductForm.cometGen.tsx
  demo/admin/src/products/future/ProductPriceForm.cometGen.ts
  demo/admin/src/products/future/ProductVariantsGrid.cometGen.ts
  demo/admin/src/products/future/ProductsGrid.cometGen.tsx
  demo/admin/src/products/future/SelectProductsGrid.cometGen.ts
  demo/admin/src/products/future/generated/IdFieldInForm.tsx
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/utils/__tests__/tsMorphHelper.ts
  packages/admin/admin-generator/src/commands/generate/utils/tsMorphHelper.ts
  packages/admin/admin-generator/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: remove isRowSelectable from overrideContentScrope Datagrid field, so all options can be selected and deselected
  .changeset/odd-pots-dream.md
  packages/admin/cms-admin/src/userPermissions/user/permissions/OverrideContentScopesDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/odd-pots-dream.md
Due: prettylint

refactor: duplicated loading in user detail page
  packages/admin/cms-admin/src/userPermissions/user/UserPageToolbar.tsx
  packages/admin/cms-admin/src/userPermissions/user/basicData/UserBasicData.tsx
  packages/admin/cms-admin/src/userPermissions/user/userTitleItem/ToolbarUserTitleItem.gql.ts
  packages/admin/cms-admin/src/userPermissions/user/userTitleItem/ToolbarUserTitleItem.styles.ts
  packages/admin/cms-admin/src/userPermissions/user/userTitleItem/ToolbarUserTitleItem.tsx
  packages/admin/cms-admin/src/userPermissions/user/userTitleItem/ToolbarUserTitleItemSkeleton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add changeset
  .changeset/four-spiders-know.md
Due: prettylint

handle scope in warnings
  demo/admin/src/warnings/WarningsGrid.tsx
  demo/admin/src/warnings/WarningsPage.tsx
  demo/api/package.json
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20250311143752.ts
  packages/api/cms-api/src/warnings/entities/warning.entity.ts
  packages/api/cms-api/src/warnings/warning-checker.command.ts
  packages/api/cms-api/src/warnings/warning-event-subscriber.ts
  packages/api/cms-api/src/warnings/warning.resolver.ts
  packages/api/cms-api/src/warnings/warning.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: align gql:types and gql:watch scripts in all packages
  dev-pm.config.js
  packages/admin/cms-admin/package.json
Due: prettylint

Change warning severity to low, medium and high (#3665)
  demo/admin/src/warnings/WarningsGrid.tsx
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20241108073817.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/warnings/entities/warning-severity.enum.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Define the image sizes in the comet config according to the starter setup (#3680)
  demo/api/src/comet-config.json
  demo/api/src/config/config.ts
  demo/site/next.config.mjs
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Harmonize gql:types and gql:watch scripts in all packages (#3688)
  dev-pm.config.js
  packages/admin/cms-admin/package.json
Due: prettylint

Update eslint-plugin-package-json to v0.29.0
  packages/eslint-plugin/eslint.config.mjs
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Due: prettylint

Add changeset
  .changeset/sharp-boxes-attack.md
Due: prettylint

Readd content-length header for cached images
  packages/api/cms-api/src/blob-storage/backends/blob-storage-backend.interface.ts
  packages/api/cms-api/src/dam/images/images.controller.ts
  packages/api/cms-api/src/file-uploads/file-uploads-download.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

API Generator: Generate filter for uuid fields that are not relations (including the primary key) (#3647)
  .changeset/sharp-boxes-attack.md
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/products/generated/dto/manufacturer.filter.ts
  demo/api/src/products/generated/dto/product-category.filter.ts
  demo/api/src/products/generated/dto/product-tag.filter.ts
  demo/api/src/products/generated/dto/product-variant.filter.ts
  demo/api/src/products/generated/dto/product.filter.ts
  packages/api/api-generator/package.json
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/filter-primary-key.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-embeddable.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-without-find.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
  packages/api/cms-api/src/common/filter/id.filter.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: simplify Description slot function
  packages/admin/admin/src/error/inlineError/InlineError.styles.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: simplify setting the color of icons
  packages/admin/admin/src/error/inlineError/InlineError.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat: add InlineError Component
  .changeset/new-parrots-learn.md
  packages/admin/admin/src/error/inlineError/InlineError.styles.ts
  packages/admin/admin/src/error/inlineError/InlineError.tsx
  packages/admin/admin/src/index.ts
  storybook/src/admin/error/inlineError/InlineError.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: simplify Root slot function
  packages/admin/admin/src/error/inlineError/InlineError.styles.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: add slotProps to slots
  packages/admin/admin/src/error/inlineError/InlineError.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: change Root Box to div
  packages/admin/admin/src/error/inlineError/InlineError.styles.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
