Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "Don't enable no-other-module-relative-import rule in default eslit-config for v5"
  packages/eslint-config/core-without-import.js
Due: prettylint

add changeset
  .changeset/unlucky-files-compare.md
Due: prettylint

api crud generator: add support for enum arrays in input
  .changeset/silver-dolphins-hide.md
  packages/api/cms-api/src/generator/generate-crud-enum-array.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use new test-utils to get default providers magically
  packages/admin/admin/src/router/PromptHandler.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Give Aasdf a more meaningful name
  packages/admin/admin/src/router/PromptHandler.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix enum type array ending with [], remove it to get the correct enum name
  packages/api/cms-api/src/generator/utils/ts-morph-helper.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor theming of Toolbar components
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/admin/src/common/toolbar/actions/ToolbarActions.tsx
  packages/admin/admin/src/common/toolbar/automatictitleitem/ToolbarAutomaticTitleItem.tsx
  packages/admin/admin/src/common/toolbar/backbutton/ToolbarBackButton.tsx
  packages/admin/admin/src/common/toolbar/breadcrumb/ToolbarBreadcrumbs.styles.tsx
  packages/admin/admin/src/common/toolbar/breadcrumb/ToolbarBreadcrumbs.tsx
  packages/admin/admin/src/common/toolbar/fillspace/ToolbarFillSpace.tsx
  packages/admin/admin/src/common/toolbar/item/ToolbarItem.tsx
  packages/admin/admin/src/common/toolbar/titleitem/ToolbarTitleItem.tsx
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add theming-example story from the docs
  packages/admin/admin-stories/src/admin/theming/MyComponent.story.tsx
  packages/admin/admin-stories/src/admin/theming/MyComponent.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor FieldContainer theming
  packages/admin/admin/src/form/FieldContainer.tsx
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor tooltip theming
  packages/admin/admin/src/common/Tooltip.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Run lint workflow for every PR not just those targeting specific branches
  .github/workflows/lint.yml
Due: none

Run lint workflow for every PR (#1456)
  .github/workflows/lint.yml
Due: none

Refactor theming of ErrorBoundary
  packages/admin/admin/src/error/errorboundary/ErrorBoundary.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

COM-85: Refactor Tooltip theming (#1379)
  packages/admin/admin/src/common/Tooltip.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

COM-85: Refactor theming of ErrorBoundary (#1451)
  packages/admin/admin/src/error/errorboundary/ErrorBoundary.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add final form file upload
  codemods/1.0.0/component-renames.ts
  packages/admin/admin-icons/icons/select.svg
  packages/admin/admin-stories/src/admin/form/FileUpload.tsx
  packages/admin/admin/package.json
  packages/admin/admin/src/form/FinalFormFileUpload.tsx
  packages/admin/admin/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use correct storybook url
  docs/docs/comet-core-development/create-admin-components-with-theme-support.md
Due: prettylint

Refactor `RouterPromptHandler` to store `saveAction` as part of the registered message instead of creating a separate record (#1440)
  packages/admin/admin/src/router/PromptHandler.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

COM-85: Add theming-example story from the docs (#1427)
  packages/admin/admin-stories/src/admin/theming/MyComponent.story.tsx
  packages/admin/admin-stories/src/admin/theming/MyComponent.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

COM-85: Refactor AppHeader theming (#1426)
  packages/admin/admin/src/appHeader/AppHeader.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use gql import from apollo client
  packages/admin/cms-admin/src/generator/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

regenerate admin generator files
  demo/admin/src/news/generated/NewsGrid.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use `gql` import from `@apollo/client` (#1460)
  demo/admin/src/news/generated/NewsGrid.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
  packages/admin/cms-admin/src/generator/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Enable no-other-module-relative-import rule by default (#1453)
  .changeset/unlucky-files-compare.md
  packages/eslint-config/core-without-import.js
Due: prettylint

show file list
  packages/admin/admin-stories/src/admin/form/FileUpload.tsx
  packages/admin/admin/package.json
  packages/admin/admin/src/form/FinalFormFileUpload.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(StatusBadge): use theme instead of admin theme package
  packages/admin/admin-stories/src/docs/components/Tabs/stories/RouterTabs.stories.tsx
  packages/admin/admin/package.json
  packages/admin/admin/src/statusBadge/StatusBadge.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add access logging (#1327)
  .changeset/olive-comics-knock.md
  demo/api/src/app.module.ts
  docs/docs/auth/access-logging.md
  packages/api/cms-api/src/access-log/access-log.constants.ts
  packages/api/cms-api/src/access-log/access-log.interceptor.ts
  packages/api/cms-api/src/access-log/access-log.module.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(admin-icons): deprecate special icons and 'Betrieb' and 'LogischeFilter' icon
  packages/admin/admin-icons/icons/betrieb.svg
  packages/admin/admin-icons/icons/logische_filter.svg
  packages/admin/admin-icons/icons/pool.svg
  packages/admin/admin-icons/icons/pool_2.svg
  packages/admin/admin-icons/icons/vignette-1.svg
  packages/admin/admin-icons/icons/vignette-2.svg
  packages/admin/admin-icons/src/Betrieb.tsx
  packages/admin/admin-icons/src/LogischeFilter.tsx
  packages/admin/admin-icons/src/Pool.tsx
  packages/admin/admin-icons/src/Pool2.tsx
  packages/admin/admin-icons/src/Vignette1.tsx
  packages/admin/admin-icons/src/Vignette2.tsx
  packages/admin/admin-icons/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(admin-icons): add changeset
  .changeset/real-cars-impress.md
Due: prettylint

chore(changelog): remove comet-docs from changeset
  .changeset/olive-comics-knock.md
Due: prettylint

Remove comet-docs from changeset (#1463)
  .changeset/olive-comics-knock.md
Due: prettylint

change file ending of gql files from tsx to ts
  packages/admin/cms-admin/src/generator/generateForm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

regenerate admin generator files
  demo/admin/src/news/generated/NewsForm.gql.ts
  demo/admin/src/products/generated/ProductForm.gql.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor theming of color-picker
  .changeset/clever-clocks-smile.md
  packages/admin/admin-color-picker/src/ColorPicker.slots.ts
  packages/admin/admin-color-picker/src/ColorPicker.styles.ts
  packages/admin/admin-color-picker/src/ColorPicker.tsx
  packages/admin/admin-color-picker/src/PreviewIndicatorColorProps.ts
  packages/admin/admin-color-picker/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor theming of InputWithPopper
  .changeset/serious-ravens-matter.md
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/inputWithPopper/InputWithPopper.slots.tsx
  packages/admin/admin/src/inputWithPopper/InputWithPopper.styles.ts
  packages/admin/admin/src/inputWithPopper/InputWithPopper.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add string array tags to news entity
  demo/api/schema.gql
  demo/api/src/news/entities/news.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor theming of DatePicker
  .changeset/ten-turkeys-poke.md
  packages/admin/admin-date-time/src/DatePicker.slots.ts
  packages/admin/admin-date-time/src/DatePicker.styles.ts
  packages/admin/admin-date-time/src/DatePicker.tsx
  packages/admin/admin-date-time/src/getReactDateRangeStyles.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor theming of DateRangePicker
  .changeset/ten-turkeys-poke.md
  packages/admin/admin-date-time/src/DateRangePicker.slots.ts
  packages/admin/admin-date-time/src/DateRangePicker.styles.ts
  packages/admin/admin-date-time/src/DateRangePicker.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Restructure files in admin-date-time package
  packages/admin/admin-date-time/src/datePicker/DateField.tsx
  packages/admin/admin-date-time/src/datePicker/DatePicker.slots.ts
  packages/admin/admin-date-time/src/datePicker/DatePicker.tsx
  packages/admin/admin-date-time/src/datePicker/FinalFormDatePicker.tsx
  packages/admin/admin-date-time/src/dateRangePicker/DateRangeField.tsx
  packages/admin/admin-date-time/src/dateRangePicker/DateRangePicker.slots.ts
  packages/admin/admin-date-time/src/dateRangePicker/DateRangePicker.tsx
  packages/admin/admin-date-time/src/dateRangePicker/FinalFormDateRangePicker.tsx
  packages/admin/admin-date-time/src/dateTimePicker/DateTimeField.tsx
  packages/admin/admin-date-time/src/dateTimePicker/DateTimePicker.tsx
  packages/admin/admin-date-time/src/dateTimePicker/FinalFormDateTimePicker.tsx
  packages/admin/admin-date-time/src/index.ts
  packages/admin/admin-date-time/src/timePicker/FinalFormTimePicker.tsx
  packages/admin/admin-date-time/src/timePicker/TimeField.tsx
  packages/admin/admin-date-time/src/timePicker/TimePicker.styles.ts
  packages/admin/admin-date-time/src/timePicker/TimePicker.tsx
  packages/admin/admin-date-time/src/timeRangePicker/FinalFormTimeRangePicker.tsx
  packages/admin/admin-date-time/src/timeRangePicker/TimeRangeField.tsx
  packages/admin/admin-date-time/src/timeRangePicker/TimeRangePicker.tsx
  packages/admin/admin-date-time/src/utils/DateFnsLocaleProvider.tsx
  packages/admin/admin-date-time/src/utils/datePickerHelpers.ts
  packages/admin/admin-date-time/src/utils/getReactDateRangeStyles.ts
  packages/admin/admin-date-time/src/utils/timePickerHelpers.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
