Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Fix import
  packages/admin/admin/src/common/toolbar/ToolbarBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename to `ContentOverflow`
  .changeset/lazy-items-impress.md
  packages/admin/admin/src/ContentOverflow.tsx
  packages/admin/admin/src/index.ts
  storybook/src/docs/components/ContentOverflow/BasicUsage.stories.tsx
  storybook/src/docs/components/ContentOverflow/ContentOverflow.stories.mdx
  storybook/src/docs/components/ContentOverflow/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix dam urls
  packages/api/cms-api/src/dam/files/files.service.ts
  packages/api/cms-api/src/dam/images/images.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Group admin-components in docs
  docs/docs/admin-components/FieldSet.mdx
  docs/docs/admin-components/index.md
Due: prettylint

Fix DAM URLs (#1867)
  packages/api/cms-api/src/dam/files/files.service.ts
  packages/api/cms-api/src/dam/images/images.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set 'clearable' prop for 'FinalFormDatePicker' when not 'required'
  packages/admin/admin-date-time/src/DatePicker.tsx
  packages/admin/admin/src/form/Field.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add 'DatePicker' story with 'required' prop set
  storybook/src/admin-date-time/DatePicker.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert now unnecessary changes to 'generator' and 'generateFormField'
  demo/admin/src/products/future/generated/ProductForm.tsx
  packages/admin/cms-admin/src/generator/future/generateFormField.ts
  packages/admin/cms-admin/src/generator/future/generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/selfish-books-fail.md
Due: prettylint

WIP
  demo/admin/src/news/generated/NewsForm.gql.ts
  demo/admin/src/news/generated/NewsForm.tsx
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/future/generated/ProductForm.gql.tsx
  demo/admin/src/products/future/generated/ProductForm.tsx
  demo/admin/src/products/generated/ProductForm.gql.ts
  demo/admin/src/products/generated/ProductForm.tsx
  packages/admin/admin/src/form/Field.tsx
  packages/admin/admin/src/form/FinalFormSelect.tsx
  packages/admin/cms-admin/src/generator/future/generateFormField.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move stories/docs from ContentOverflow into admin-component docs
  docs/docs/admin-components/ContentOverflow.mdx
  docs/src/stories/ContentOverflow/BasicUsage.tsx
  docs/src/stories/ContentOverflow/DataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert Move createGraphQLClient into library #1810
  .changeset/cuddly-roses-lick.md
  demo/site/package.json
  demo/site/src/pages/[[...path]].tsx
  demo/site/src/pages/api/site-preview.ts
  demo/site/src/util/createGraphQLClient.ts
  packages/site/cms-site/package.json
  packages/site/cms-site/src/graphql/graphqlClient.ts
  packages/site/cms-site/src/index.ts
  packages/site/cms-site/src/sitePreview/SitePreviewApiHelper.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/fifty-keys-sit.md
Due: prettylint

Fix lint error caused by multiple versions of plugin-import
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettylint

Convert site-preview and status api to app router
  demo/site/src/app/api/site-preview/route.ts
  demo/site/src/app/api/status/route.tsx
  demo/site/src/pages/api/site-preview.ts
  demo/site/src/pages/api/status.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix gql documents and codegen
  demo/site/src/components/Breadcrumbs.fragment.ts
  demo/site/src/components/Breadcrumbs.tsx
  demo/site/src/documentTypes/Page.tsx
  demo/site/src/header/Header.fragment.ts
  demo/site/src/header/Header.tsx
  demo/site/src/header/PageLink.fragment.ts
  demo/site/src/header/PageLink.tsx
  demo/site/src/topNavigation/TopNavigation.fragment.ts
  demo/site/src/topNavigation/TopNavigation.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update pnpm used in netlify to fix lockfile update issue
  package.json
Due: prettylint

Remove now unneded alias config, next supports that without this extra config by tsconfig.json alone
  demo/site/next.config.js
Due: prettylint

Revert "Move createGraphQLClient into library #1810" (#1868)
  .changeset/cuddly-roses-lick.md
  demo/site/package.json
  demo/site/src/pages/[[...path]].tsx
  demo/site/src/pages/api/site-preview.ts
  demo/site/src/util/createGraphQLClient.ts
  packages/site/cms-site/package.json
  packages/site/cms-site/src/graphql/graphqlClient.ts
  packages/site/cms-site/src/index.ts
  packages/site/cms-site/src/sitePreview/SitePreviewApiHelper.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/fresh-sheep-remember.md
  .changeset/fresh-sheep-remember.md
Due: prettylint

Remove unnecessary comment regarding GTM
  .env
Due: none

Fuse ContentScope Select to show all available Dimensions
  packages/admin/cms-admin/src/contentScope/ContentScope.utils.ts
  packages/admin/cms-admin/src/contentScope/Controls.tsx
  packages/admin/cms-admin/src/contentScope/Select.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

New ContentScopeIndicator (#1293)
  .changeset/fifty-keys-sit.md
  demo/admin/src/common/ContentScopeIndicator.tsx
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/dashboard/Dashboard.tsx
  demo/admin/src/pages/mainMenu/components/MainMenuItems.tsx
  packages/admin/admin/src/messages.ts
  packages/admin/cms-admin/src/builds/PublisherPage.tsx
  packages/admin/cms-admin/src/contentScope/ContentScopeIndicator.tsx
  packages/admin/cms-admin/src/contentScope/LegacyContentScopeIndicator.tsx
  packages/admin/cms-admin/src/cronJobs/CronJobsPage.tsx
  packages/admin/cms-admin/src/dam/DamPage.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix merge mistakes
  demo/site/src/app/[[...path]]/page.tsx
  demo/site/src/app/api/site-preview/route.ts
  demo/site/src/util/createGraphQLClient.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: support multiple languages
  .env
  demo/admin/src/common/ContentScopeProvider.tsx
  demo/api/block-meta.json
  demo/site/next.config.js
  demo/site/src/app/[lang]/[[...path]]/page.tsx
  demo/site/src/app/page.tsx
  demo/site/src/config.ts
  demo/site/src/header/PageLink.fragment.ts
  demo/site/src/header/PageLink.tsx
  packages/api/cms-api/src/page-tree/blocks/internal-link.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add graphqlFetch, very simple graphql client instead of graphql-fetch
  demo/site/package.json
  demo/site/src/app/[[...path]]/page.tsx
  demo/site/src/components/Breadcrumbs.fragment.ts
  demo/site/src/documentTypes/Page.tsx
  demo/site/src/header/Header.fragment.ts
  demo/site/src/header/PageLink.fragment.ts
  demo/site/src/topNavigation/TopNavigation.fragment.ts
  demo/site/src/util/graphQLClient.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix merge error: Remove now unneded file
  demo/site/src/util/createGraphQLClient.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Pass `disabled` prop to children of `Field` (#1812)
  .changeset/weak-moles-destroy.md
  demo/admin/src/common/ComponentDemo.tsx
  packages/admin/admin/src/form/Field.tsx
  storybook/src/admin/form/Checkbox.tsx
  storybook/src/admin/form/Radio.tsx
  storybook/src/admin/form/Select.tsx
  storybook/src/docs/form/components/stories/FinalFormFields.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `ContentOverflow` component (#1824)
  .changeset/lazy-items-impress.md
  packages/admin/admin/src/ContentOverflow.tsx
  packages/admin/admin/src/index.ts
  storybook/src/docs/components/ContentOverflow/BasicUsage.stories.tsx
  storybook/src/docs/components/ContentOverflow/ContentOverflow.stories.mdx
  storybook/src/docs/components/ContentOverflow/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

run generator to update generated files
  demo/admin/src/products/future/generated/ProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Extend pull request template
  .github/pull_request_template.md
Due: prettylint

Extend pull request template (#1875)
  .github/pull_request_template.md
Due: prettylint

Make new `ToolbarBreadcrumbs` overridable
  packages/admin/admin/src/common/toolbar/ToolbarBreadcrumbs.tsx
  packages/admin/admin/src/common/toolbar/breadcrumb/ToolbarBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make all icons of component overridable with one prop
  packages/admin/admin/src/ContentOverflow.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Convert news to App Router
  demo/site/next-env.d.ts
  demo/site/src/app/news/[slug]/page.tsx
  demo/site/src/app/news/page.tsx
  demo/site/src/news/NewsList.fragment.ts
  demo/site/src/news/NewsList.tsx
  demo/site/src/pages/news/[slug].tsx
  demo/site/src/pages/news/index.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert unwanted merge change
  demo/site/next-env.d.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix lastUpdated check
  demo/admin/src/products/ManufacturerForm.gql.tsx
  demo/admin/src/products/ManufacturerForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename DisableGlobalGuard
  docs/docs/auth/index.md
  packages/api/cms-api/src/auth/decorators/disable-comet-guards.decorator.ts
  packages/api/cms-api/src/auth/decorators/global-guard-disable.decorator.ts
  packages/api/cms-api/src/auth/guards/comet.guard.ts
  packages/api/cms-api/src/dam/files/files.controller.ts
  packages/api/cms-api/src/dam/images/images.controller.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
