Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

fix travis
  .travis.yml
Due: none

also run yarn start for incremental building during development
  README.md
  docker-compose.yml
  wait-while-starting.sh
Due: prettylint

use master branch (as yarn is now also in master)
  docker-compose.yml
Due: none

use master branch (as yarn is now also in master)
  lint.sh
Due: none

use docker-compose
  lint.sh
Due: none

Revert "Fix ts error"
  packages/react-admin-form/src/Input.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use internal locale context
  packages/react-admin-date-fns/src/LocaleContext.tsx
  packages/react-admin-date-picker/package.json
  packages/react-admin-date-picker/src/DatePicker.tsx
  packages/react-admin-date-picker/src/DateRangePicker.tsx
  packages/react-admin-date-picker/src/LocaleContextProvider.tsx
  packages/react-admin-date-picker/src/index.ts
  packages/react-admin-stories/src/react-admin-date-picker/DatePicker.tsx
  packages/react-admin-stories/src/react-admin-date-picker/DateRangePicker.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove husky and lintstaged as we have new linting mechanism now
  package.json
  yarn.lock
Due: prettylint

Use new context, rm old datepicker
  packages/react-admin-date-fns/src/FormatLocalized.tsx
  packages/react-admin-date-fns/src/LocaleContext.tsx
  packages/react-admin-date-fns/src/LocaleContextProvider.tsx
  packages/react-admin-date-fns/src/index.ts
  packages/react-admin-date-picker/package.json
  packages/react-admin-date-picker/src/DatePicker.tsx
  packages/react-admin-date-picker/src/DateRangePicker.tsx
  packages/react-admin-date-picker/src/index.ts
  packages/react-admin-form/src/DatePicker.sc.ts
  packages/react-admin-form/src/DatePicker.tsx
  packages/react-admin-form/src/DateRange.tsx
  packages/react-admin-form/src/index.ts
  packages/react-admin-stories/package.json
  packages/react-admin-stories/src/react-admin-date-picker/DatePicker.tsx
  packages/react-admin-stories/src/react-admin-date-picker/DateRangePicker.tsx
  yarn.lock
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

change undefined to null
  packages/react-admin-final-form-material-ui/src/ReactSelect.tsx
  packages/react-admin-form/src/ReactSelect.tsx
  packages/react-admin-form/src/ReactSelectStaticOptions.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

subscribe on filters change to handle filter reset
  packages/react-admin-core/src/table/useTableQueryFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add reset filter example
  docker-sync.yml
  packages/react-admin-stories/src/react-admin-core/TableResetFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove file
  docker-sync.yml
Due: none

add docker sync
  .gitignore
  docker-compose.yml
  docker-sync.yml
Due: none

Publish
  packages/fetch-provider/package.json
  packages/file-icons/package.json
  packages/material-ui-react-select/package.json
  packages/react-admin-core/package.json
  packages/react-admin-date-fns/package.json
  packages/react-admin-final-form-material-ui/package.json
  packages/react-admin-form/package.json
  packages/react-admin-layout/package.json
  packages/react-admin-mui/package.json
  packages/react-admin-stories/package.json
Due: prettylint

Publish
  packages/react-admin-date-fns/package.json
  packages/react-admin-date-picker/package.json
  packages/react-admin-form/package.json
  packages/react-admin-stories/package.json
Due: prettylint

improve readability of unsubscribe
  packages/react-admin-core/src/table/useTableQueryFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Also add setFilters to dependency of useEffect
  packages/react-admin-core/src/table/useTableQueryFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix pipeline; fix docker-sync; move mac-specific stuff to own docker-compose.yaml
  README.md
  docker-compose-mac.yml
  docker-compose.yml
  docker-sync.yml
Due: prettylint

Add story showing usage of Radio in form
  packages/react-admin-stories/src/react-admin-form/Radio.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Publish
  packages/react-admin-core/package.json
  packages/react-admin-final-form-material-ui/package.json
  packages/react-admin-form/package.json
  packages/react-admin-stories/package.json
Due: prettylint

Remove docker-sync for githook, not needed (to avoid possible sync related issues)
  docker-compose-mac.yml
Due: none

Downgrade docker-compose version to 3.5, we don't use later features
  docker-compose-mac.yml
  docker-compose.yml
Due: none

Add jump-to-page to pagination
  packages/react-admin-core/src/table/Pagination.sc.ts
  packages/react-admin-core/src/table/Pagination.tsx
  packages/react-admin-core/src/table/paging/IPagingInfo.ts
  packages/react-admin-core/src/table/paging/createPagePagingActions.ts
  packages/react-admin-core/src/table/paging/createRestPagingActions.ts
  packages/react-admin-core/src/table/paging/createRestStartLimitPagingActions.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix imports
  packages/react-admin-core/src/table/Pagination.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent inconsistent height of menu-items
  packages/react-admin-mui/src/menu/Menu.sc.tsx
  packages/react-admin-mui/src/menu/Menu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix imports
  packages/react-admin-stories/src/react-admin-form/Radio.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix persisted state for table query hooks
  packages/react-admin-core/src/table/useTableQueryFilter.tsx
  packages/react-admin-core/src/table/useTableQueryPaging.tsx
  packages/react-admin-core/src/table/useTableQuerySort.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add package: "react-admin-rte", add stories
  packages/react-admin-rte/.npmignore
  packages/react-admin-rte/package.json
  packages/react-admin-rte/src/core/ContextButtonGroupLists.tsx
  packages/react-admin-rte/src/core/Rte.tsx
  packages/react-admin-rte/src/core/extension/Link/Decorator.ts
  packages/react-admin-rte/src/core/extension/Link/EditorComponent.tsx
  packages/react-admin-rte/src/core/extension/Link/ToolbarButton.tsx
  packages/react-admin-rte/src/core/extension/Link/index.ts
  packages/react-admin-rte/src/core/makeRteApi.ts
  packages/react-admin-rte/src/core/utils/findEntityDataInCurrentSelection.ts
  packages/react-admin-rte/src/core/utils/findEntityInCurrentSelection.ts
  packages/react-admin-rte/src/core/utils/findTextInCurrentSelection.ts
  packages/react-admin-rte/src/core/utils/getCurrentBlock.ts
  packages/react-admin-rte/src/core/utils/rangesIntersect.ts
  packages/react-admin-rte/src/core/utils/selectionIsInOneBlock.ts
  packages/react-admin-rte/src/field/createRteField.tsx
  packages/react-admin-rte/src/index.ts
  packages/react-admin-rte/src/useDebounce.ts
  packages/react-admin-rte/src/usePrevious.ts
  packages/react-admin-rte/tsconfig.json
  packages/react-admin-stories/package.json
  packages/react-admin-stories/src/index.d.ts
  packages/react-admin-stories/src/react-admin-rte/Field.tsx
  packages/react-admin-stories/src/react-admin-rte/FieldAllOptions.tsx
  packages/react-admin-stories/src/react-admin-rte/Rte.tsx
  packages/react-admin-stories/src/react-admin-rte/RteAllOptions.tsx
  packages/react-admin-stories/src/react-admin-rte/RteCustom.tsx
  packages/react-admin-stories/src/react-admin-rte/SaveAsDraftObject.tsx
  packages/react-admin-stories/src/react-admin-rte/SaveAsHtml.tsx
  packages/react-admin-stories/src/react-admin-rte/SaveAsMD.tsx
  packages/react-admin-stories/src/react-admin-rte/helper.tsx
  tslint.json
  wml-add.sh
  yarn.lock
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

show the cirle spinner center center of tableData + added some styling
  packages/react-admin-core/src/table/TableQuery.sc.ts
  packages/react-admin-core/src/table/TableQuery.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix dirtyHandler in form
  packages/react-admin-core/src/FinalForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Publish
  packages/react-admin-core/package.json
  packages/react-admin-date-picker/package.json
  packages/react-admin-form/package.json
  packages/react-admin-mui/package.json
  packages/react-admin-stories/package.json
Due: prettylint

Add icons to buttons using the existing prop
  packages/react-admin-core/src/FinalForm.sc.ts
  packages/react-admin-core/src/FinalForm.tsx
  packages/react-admin-core/src/table/AddButton.tsx
  packages/react-admin-core/src/table/DeleteButton.tsx
  packages/react-admin-core/src/table/ExcelExportButton.tsx
  packages/react-admin-core/src/table/LocalChangesToolbar.tsx
  packages/react-admin-core/src/table/TableFilterFinalForm.sc.ts
  packages/react-admin-core/src/table/TableFilterFinalForm.tsx
  packages/react-admin-mui/src/menu/Item.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fixed vcircle spinner position problem if table is higher than the viewport - loading spinner is now always visible in viewport
  packages/react-admin-core/src/table/TableQuery.sc.ts
  packages/react-admin-core/src/table/TableQuery.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Export package-api
  packages/react-admin-rte/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

makeRteApi exports static functions Useful for cases where useRteApi-hook is not needed
  packages/react-admin-rte/src/core/makeRteApi.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rte: add cancel button to link dialog, change labels to german
  packages/react-admin-rte/src/core/Rte.tsx
  packages/react-admin-rte/src/core/extension/Link/ToolbarButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Stories: Fix rte link-decorator, add example content to rte
  packages/react-admin-rte/src/index.ts
  packages/react-admin-stories/src/react-admin-rte/Rte.tsx
  packages/react-admin-stories/src/react-admin-rte/RteAllOptions.tsx
  packages/react-admin-stories/src/react-admin-rte/helper.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove menu-item styles
  packages/react-admin-mui/src/menu/Item.sc.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove yarn-error.log
  yarn-error.log
Due: none
