Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Security updates
  .changeset/fix-axios-dos-brevo-api.md
  .changeset/fix-fast-xml-parser-dos.md
  .changeset/fix-nextjs-dos.md
  demo/site/package.json
  packages/admin/admin-icons/package.json
  packages/api/brevo-api/package.json
  packages/api/cms-api/package.json
  packages/site/site-nextjs/package.json
  pnpm-lock.yaml
Due: prettylint

Update minimatch
  pnpm-lock.yaml
Due: none

Fix lint error
  .changeset/fix-axios-dos-brevo-api.md
Due: prettylint

Render RTE block in each cell of TableBlock admin
  demo/admin/src/common/blocks/TableBlock.tsx
  packages/admin/cms-admin/src/blocks/createTableBlock.tsx
  packages/admin/cms-admin/src/blocks/table/CellValue.tsx
  packages/admin/cms-admin/src/blocks/table/ColumnHeader.tsx
  packages/admin/cms-admin/src/blocks/table/EditCell.tsx
  packages/admin/cms-admin/src/blocks/table/RowActionsCell.tsx
  packages/admin/cms-admin/src/blocks/table/TableBlockGrid.tsx
  packages/admin/cms-admin/src/blocks/table/utils/column.ts
  packages/admin/cms-admin/src/blocks/table/utils/ensureMinimumTableState.ts
  packages/admin/cms-admin/src/blocks/table/utils/row.ts
  packages/admin/cms-admin/src/blocks/table/utils/rteSchema.ts
  packages/admin/cms-admin/src/blocks/table/utils/tableData.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Render RTE block in each cell of TableBlock site
  demo/site/src/common/blocks/TableBlock.module.scss
  demo/site/src/common/blocks/TableBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update TableBlock admin tests to work with RTE
  packages/admin/cms-admin/src/blocks/table/__mocks__/TableBlockData.mocks.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/copyPasteColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/copyPasteRow.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/deleteColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/deleteRow.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/duplicateColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/duplicateRow.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/insertColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/insertColumnDataAtIndex.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/insertRow.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/insertRowDataAtIndex.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/pasteColumnWithDifferentValues.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/utils.tsx
  packages/admin/cms-admin/src/blocks/table/__tests__/verifyEditability.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add dropdown menu
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add Chevron
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add ExtractBlockData<typeof RichTextBlock> to product entity to show generated crud with type error
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/product.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix alignment of vertical line
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix test
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/generateGrid.test.ts.snap
Due: none

Demo Admin Server: Pin @types/node dependency (#5197)
  demo/admin/server/package.json
  pnpm-lock.yaml
Due: prettylint

code improvements
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix lint error for ...
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove unused css values
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

set height to stories
  packages/admin/admin/src/common/breadcrumbs/__stories__/Breadcrumbs.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator Grid: client side filter and sort for non-paging apis (#5138)
  .changeset/happy-seals-drum.md
  .changeset/old-parents-try.md
  demo/admin/src/news/generated/NewsGrid.tsx
  demo/admin/src/products/generator/generated/ManufacturersGrid.tsx
  demo/admin/src/products/generator/generated/ProductCategoriesGrid.tsx
  demo/admin/src/products/generator/generated/ProductHighlightsGrid.tsx
  demo/admin/src/products/generator/generated/ProductTagsGrid.tsx
  demo/admin/src/products/generator/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/generator/generated/ProductsGrid.tsx
  demo/admin/src/products/generator/generated/SelectProductsGrid.tsx
  demo/admin/src/products/highlights/ProductHighlightsGrid.tsx
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/generateGrid.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/scope.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/generateGrid.test.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/scope.test.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
  packages/admin/admin/src/dataGrid/useDataGridRemote.tsx
  packages/admin/admin/src/dataGrid/useDataGridUrlState.tsx
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/stale-lemons-lead.md
Due: prettylint

Fix high severity security vulnerabilities (#5215)
  .changeset/fix-axios-dos-brevo-api.md
  .changeset/fix-fast-xml-parser-dos.md
  .changeset/fix-nextjs-dos.md
  demo/site/package.json
  packages/admin/admin-icons/package.json
  packages/api/brevo-api/package.json
  packages/api/cms-api/package.json
  packages/site/site-nextjs/package.json
  pnpm-lock.yaml
Due: prettylint

Update `@aws-sdk/` dependencies to fix CVE-2026-25896
  .changeset/tidy-sheep-draw.md
  packages/api/cms-api/package.json
  pnpm-lock.yaml
Due: prettylint

Resolve conflicts
  demo/api/src/products/entities/product-highlight.entity.ts
  demo/api/src/products/generated/product-highlight.resolver.ts
  demo/site/package.json
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
  packages/api/cms-api/src/common/decorators/crud-generator.decorator.ts
  packages/site/site-nextjs/package.json
  packages/site/site-react/src/blocks/EmailLinkBlock.tsx
  packages/site/site-react/src/blocks/ExternalLinkBlock.tsx
  packages/site/site-react/src/blocks/PhoneLinkBlock.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update `@aws-sdk/` dependencies to fix CVE-2026-25896 (#5228)
  .changeset/tidy-sheep-draw.md
  packages/api/cms-api/package.json
  pnpm-lock.yaml
Due: prettylint

Remove PR template (#5205)
  .github/pull_request_template.md
Due: prettylint

Remove hasClearableContent prop from ClearInputAdornment
  demo/admin/src/products/ManufacturerFilter.tsx
  demo/admin/src/products/ProductCategoryFilter.tsx
  demo/admin/src/products/generator/ManufacturerFilter.tsx
  packages/admin/admin-color-picker/src/ColorPicker.tsx
  packages/admin/admin-date-time/src/datePicker/DatePicker.tsx
  packages/admin/admin-date-time/src/dateRangePicker/DateRangePicker.tsx
  packages/admin/admin-date-time/src/timePicker/TimePicker.tsx
  packages/admin/admin/src/common/ClearInputAdornment.tsx
  packages/admin/admin/src/dateTime/datePicker/DatePicker.tsx
  packages/admin/admin/src/dateTime/dateRangePicker/DateRangePicker.tsx
  packages/admin/admin/src/dateTime/dateTimePicker/DateTimePicker.tsx
  packages/admin/admin/src/dateTime/dateTimeRangePicker/DateTimeRangePicker.tsx
  packages/admin/admin/src/dateTime/timePicker/TimePicker.tsx
  packages/admin/admin/src/form/Autocomplete.tsx
  packages/admin/admin/src/form/FinalFormInput.tsx
  packages/admin/admin/src/form/FinalFormNumberInput.tsx
  packages/admin/admin/src/form/FinalFormSelect.tsx
  packages/admin/cms-admin/src/contentScope/ContentScopeSelect.tsx
  storybook/src/docs/components/ClearInputAdornment/ClearInputAdornment.stories.tsx
  storybook/src/docs/icons/AllIcons.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Apply ESLint formatting
  packages/admin/admin/src/form/FinalFormInput.tsx
  packages/admin/admin/src/form/FinalFormNumberInput.tsx
  packages/admin/admin/src/form/FinalFormSelect.tsx
  storybook/src/docs/components/ClearInputAdornment/ClearInputAdornment.stories.tsx
  storybook/src/docs/icons/AllIcons.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix ESLint to lint all JSON files (#5139)
  demo/admin/eslint.config.mjs
  demo/admin/package.json
  demo/api/eslint.config.mjs
  demo/api/package.json
  demo/api/tsconfig.json
  demo/site/eslint.config.mjs
  demo/site/package.json
  docs/package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/brevo-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/brevo-api/eslint.config.mjs
  packages/api/brevo-api/package.json
  packages/api/brevo-api/tsconfig.build.json
  packages/api/brevo-api/tsconfig.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/mail-react/package.json
  packages/site/site-nextjs/package.json
  packages/site/site-react/package.json
  storybook/package.json
Due: prettylint

Remove file-saver dependency, replace with native browser APIs (#5210)
  .changeset/lucky-spoons-ring.md
  packages/admin/admin/package.json
  packages/admin/admin/src/dataGrid/excelExport/useDataGridExcelExport.tsx
  packages/admin/admin/src/helpers/downloadFile.ts
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/table/excelexport/createExcelExportDownload.ts
  packages/admin/brevo-admin/package.json
  packages/admin/brevo-admin/src/common/contactImport/useContactImportFromCsv.tsx
  packages/admin/brevo-admin/src/targetGroups/TargetGroupsGrid.tsx
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/dam/DataGrid/DamContextMenu.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamSelectionContext.tsx
  packages/admin/cms-admin/src/dam/FileForm/FilePreview.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix lint errors in demo/api package.json
  demo/api/package.json
  pnpm-lock.yaml
Due: prettylint

Make the code slightly more readable
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Avoid null values for 'name'
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Support relations in EntityInfo
  demo/api/src/products/entities/product.entity.ts
  packages/api/cms-api/src/entity-info/entity-info.decorator.ts
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove debugging console log
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use table name instead of cryptic t alias in EntityInfo SQL
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor relation resolution to use subqueries with n-level support
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add support for embeddables
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add unit tests for new resolveFieldToSql method
  packages/api/cms-api/src/entity-info/entity-info.service.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Instantiate EntityInfoService via Nest TestingModule
  packages/api/cms-api/src/entity-info/entity-info.service.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make the test actually have a different column name
  packages/api/cms-api/src/entity-info/entity-info.service.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Remove backgroundRefresh argument from dependents/dependencies
  demo/api/schema.gql
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.gql.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/dependencies/dependencies.resolver.factory.ts
  packages/api/cms-api/src/dependencies/dependencies.service.ts
  packages/api/cms-api/src/dependencies/dependents.resolver.factory.ts
  packages/api/cms-api/src/dependencies/dto/dependencies.args.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Admin: compress static files during build (#5220)
  demo/admin/package.json
  demo/admin/server/index.js
  demo/admin/server/package.json
  demo/admin/vite.config.mts
  pnpm-lock.yaml
Due: prettylint

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
