Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove Data Grid migration recommendation from admin-legacy changeset
  .changeset/admin-legacy-table.md
Due: prettylint

Identify childBlocks by a stable config key instead of block.name
  demo/admin/src/common/blocks/TipTapRichTextBlock.tsx
  demo/api/src/common/blocks/tip-tap-rich-text.block.ts
  demo/site/src/common/blocks/TipTapRichTextBlock.tsx
  packages/admin/cms-admin/src/blocks/tipTap/ChildBlocksContext.ts
  packages/admin/cms-admin/src/blocks/tipTap/TipTapToolbar.tsx
  packages/admin/cms-admin/src/blocks/tipTap/__stories__/TipTapRichTextBlockChildBlocks.stories.tsx
  packages/admin/cms-admin/src/blocks/tipTap/createTipTapRichTextBlock.tsx
  packages/admin/cms-admin/src/blocks/tipTap/extensions/CmsBlock.tsx
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Document moving legacy table components to admin-legacy in v9 migration guide
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
Due: prettylint

Mark legacy table section as only applicable to projects still using the table
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
Due: prettylint

Fix fetching Brevo statistics (#5886)
  .changeset/major-worms-create.md
  packages/api/brevo-api/package.json
  packages/api/brevo-api/src/brevo-api/brevo-api-campaigns.service.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Don't export TipTapChildBlock/TipTapChildBlockDisplay as public API
  packages/admin/cms-admin/src/blocks/tipTap/createTipTapRichTextBlock.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

brevo-api: Update @getbrevo/brevo to v5
  .changeset/update-brevo-sdk-to-v5.md
  packages/api/brevo-api/package.json
  packages/api/brevo-api/src/brevo-api/brevo-api-campaigns.service.ts
  packages/api/brevo-api/src/brevo-api/brevo-api-client.factory.ts
  packages/api/brevo-api/src/brevo-api/brevo-api-contact.service.ts
  packages/api/brevo-api/src/brevo-api/brevo-api-folders.service.ts
  packages/api/brevo-api/src/brevo-api/brevo-api-sender.service.ts
  packages/api/brevo-api/src/brevo-api/brevo-api-transactional-mails.service.ts
  packages/api/brevo-api/src/brevo-api/brevo-api.module.ts
  packages/api/brevo-api/src/brevo-api/brevo-api.utils.ts
  packages/api/brevo-api/src/brevo-api/dto/brevo-api-campaign.ts
  packages/api/brevo-api/src/brevo-contact/brevo-contacts.service.ts
  packages/api/brevo-api/src/email-campaign/email-campaigns.service.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Apply suggestion from @nsams
  .changeset/tiptap-child-blocks.md
Due: prettylint

Fix childBlocks description in changeset (record, not array)
  .changeset/tiptap-child-blocks.md
Due: prettylint

brevo-api: Remove obsolete v2-downgrade changeset
  .changeset/major-worms-create.md
Due: prettylint

Fix fetching Brevo statistics (v8) (#5888)
  .changeset/fix-fetching-brevo-statistics.md
  packages/api/brevo-api/block-meta.json
  packages/api/brevo-api/package.json
  packages/api/brevo-api/src/brevo-api/brevo-api-campaigns.service.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

brevo-api: Enforce content scope on contact resolvers
  .changeset/fix-brevo-contact-resolver-scope-check.md
  packages/api/brevo-api/package.json
  packages/api/brevo-api/src/brevo-contact/brevo-contact-import.resolver.ts
  packages/api/brevo-api/src/brevo-contact/brevo-contact.module.ts
  packages/api/brevo-api/src/brevo-contact/brevo-contact.resolver.spec.ts
  packages/api/brevo-api/src/brevo-contact/brevo-contact.resolver.ts
  packages/api/brevo-api/vitest.config.ts
  packages/api/brevo-api/vitest.setup.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

brevo-api: Enforce content scope on config senders and templates queries
  .changeset/fix-brevo-contact-resolver-scope-check.md
  packages/api/brevo-api/src/brevo-config/brevo-config.resolver.spec.ts
  packages/api/brevo-api/src/brevo-config/brevo-config.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

brevo-admin: Fix BrevoContactForm sending sendDoubleOptIn in update mutation
  .changeset/fix-brevo-contact-update-send-double-opt-in.md
  packages/admin/brevo-admin/src/brevoContacts/form/BrevoContactForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

brevo-api: Add schema.gql up-to-date check to lint workflow
  .github/workflows/lint.yml
  packages/api/brevo-api/schema.gql
Due: none

brevo-api: Add unit tests for the v5 Brevo integration
  packages/api/brevo-api/package.json
  packages/api/brevo-api/src/brevo-api/brevo-api-campaigns.service.spec.ts
  packages/api/brevo-api/src/brevo-api/brevo-api-client.factory.spec.ts
  packages/api/brevo-api/src/brevo-api/brevo-api-contact.service.spec.ts
  packages/api/brevo-api/src/brevo-api/brevo-api.utils.spec.ts
  packages/api/brevo-api/vitest.config.ts
  packages/api/brevo-api/vitest.setup.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix page tree full-text search permission handling (#5882)
  packages/api/cms-api/src/full-text-search/full-text-search.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Add global ContentScopeProvider storybook decorator
  packages/admin/cms-admin/.storybook/decorators/ContentScopeProvider.decorator.tsx
  packages/admin/cms-admin/.storybook/preview.ts
  packages/admin/cms-admin/src/contentScope/__stories__/ContentScopeProvider.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add top-level <entity>ActionLogs query and drop nested resolvers
  packages/api/cms-api/src/action-logs/action-logs-filter.utils.ts
  packages/api/cms-api/src/action-logs/action-logs.resolver.factory.ts
  packages/api/cms-api/src/action-logs/dto/action-log.filter.ts
  packages/api/cms-api/src/action-logs/dto/action-log.sort.ts
  packages/api/cms-api/src/action-logs/dto/action-logs.args.ts
  packages/api/cms-api/src/action-logs/dto/entity-action-logs.args.ts
  packages/api/cms-api/src/action-logs/dto/paginated-action-logs.args.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: Migrate ActionLogButton call sites to top-level query
  demo/admin/src/products/ManufacturersPage.tsx
  demo/admin/src/products/ProductsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Migrate ActionLogButton and ActionLogDialog to top-level query
  demo/api/schema.gql
  packages/admin/cms-admin/.storybook/mocks/actionLogDialogHandler.ts
  packages/admin/cms-admin/.storybook/mocks/actionLogsHandlers.ts
  packages/admin/cms-admin/.storybook/mocks/handlers.ts
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogButton/ActionLogButton.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogButton/__stories__/ActionLogButton.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogDialog/ActionLogDialog.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogDialog/ActionLogDialog.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogDialog/__stories__/ActionLogDialog.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogsQuery.ts
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add ActionLog.action and show it in ActionLogVersionGrid
  demo/api/schema.gql
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogVersionGrid/ActionLogVersionGrid.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogVersionGrid/ActionLogVersionGrid.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogVersionGrid/__stories__/ActionLogVersionGrid.stories.tsx
  packages/admin/cms-admin/src/actionLog/components/actionChip/ActionChip.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
  packages/api/cms-api/src/action-logs/dto/action-log-action.enum.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Add per-entity ActionLogsGrid, show-version dialog and ActionChip [COM-3007]
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogShowVersionDialog/ActionLogShowVersionDialog.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogShowVersionDialog/__stories__/ActionLogShowVersionDialog.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogsGrid/ActionLogsGrid.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogsGrid/__stories__/ActionLogsGrid.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogsQuery.ts
  packages/admin/cms-admin/src/actionLog/components/actionChip/ActionChip.tsx
  packages/admin/cms-admin/src/actionLog/components/actionChip/__stories__/ActionChip.stories.tsx
  packages/admin/cms-admin/src/actionLog/components/actionLogCompare/ActionLogCompare.tsx
  packages/admin/cms-admin/src/actionLog/components/actionLogShowVersion/ActionLogShowVersion.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: Add Action Log StackPage to entity pages [COM-3007]
  demo/admin/src/news/NewsPage.tsx
  demo/admin/src/products/ManufacturersPage.tsx
  demo/admin/src/products/ProductsPage.tsx
  demo/admin/src/products/generator/ManufacturersPage.tsx
  demo/admin/src/products/generator/ProductsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add cross-entity actionLogs query gated by globalActionLog permission [COM-3006]
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/action-logs/action-logs-filter.utils.ts
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
  packages/api/cms-api/src/action-logs/dto/action-log.filter.ts
  packages/api/cms-api/src/action-logs/dto/action-logs.args.ts
  packages/api/cms-api/src/action-logs/dto/global-action-logs.args.ts
  packages/api/cms-api/src/common/enum/core-permission.enum.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: Add Action Log page to MasterMenu [COM-3006]
  demo/admin/src/common/MasterMenu.tsx
  demo/api/schema.gql
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Add GlobalActionLogGrid, page and show-version dialog [COM-3006]
  .changeset/global-action-log-view.md
  packages/admin/cms-admin/.storybook/mocks/globalActionLogHandlers.ts
  packages/admin/cms-admin/.storybook/mocks/handlers.ts
  packages/admin/cms-admin/src/actionLog/components/actionLogCompare/ActionLogCompare.tsx
  packages/admin/cms-admin/src/actionLog/components/actionLogShowVersion/ActionLogShowVersion.tsx
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogGrid/GlobalActionLogGrid.gql.ts
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogGrid/GlobalActionLogGrid.tsx
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogPage/GlobalActionLogPage.tsx
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogShowVersionDialog/GlobalActionLogShowVersionDialog.gql.ts
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogShowVersionDialog/GlobalActionLogShowVersionDialog.tsx
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogShowVersionDialog/__stories__/GlobalActionLogShowVersionDialog.stories.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Add scope autocomplete filter to GlobalActionLogGrid [COM-3006]
  .changeset/global-action-log-scope-filter.md
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogGrid/GlobalActionLogGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add scope filter and sort to ActionLog queries [COM-3006]
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogGrid/GlobalActionLogGrid.gql.ts
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogGrid/GlobalActionLogGrid.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/action-logs/action-logs-filter.utils.ts
  packages/api/cms-api/src/action-logs/dto/action-log.filter.ts
  packages/api/cms-api/src/action-logs/dto/action-log.sort.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Add per-entity drill-in dialog to GlobalActionLogGrid [COM-3006]
  .changeset/global-action-log-drill-in.md
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogDialog/GlobalActionLogDialog.gql.ts
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogDialog/GlobalActionLogDialog.tsx
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogDialog/__stories__/GlobalActionLogDialog.stories.tsx
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogGrid/GlobalActionLogGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update packages/api/cms-api/src/user-permissions/content-scope.service.ts
  packages/api/cms-api/src/user-permissions/content-scope.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Distinguish system users in action log (#5763)
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogVersionGrid/__stories__/ActionLogVersionGrid.stories.tsx
  packages/admin/cms-admin/src/actionLog/components/diffHeader/__stories__/DiffHeader.stories.tsx
  packages/admin/cms-admin/src/actionLog/components/userCell/__stories__/UserCell.stories.tsx
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.spec.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Allow `AffectedScope` to return multiple scopes (#5835)
  .changeset/add-args-to-scopes-affected-scope.md
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.spec.ts
  packages/api/cms-api/src/user-permissions/content-scope.service.ts
  packages/api/cms-api/src/user-permissions/decorators/affected-scope.decorator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

brevo-api: Discover resolver operations dynamically in scope-check tests
  packages/api/brevo-api/src/brevo-config/brevo-config.resolver.spec.ts
  packages/api/brevo-api/src/brevo-contact/brevo-contact.resolver.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Detect existing home page in duplicate-path check
  .changeset/fix-copy-home-page-duplicate-slug.md
  packages/api/cms-api/src/page-tree/page-tree.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Add a consumer override API to Future UI
  packages/admin/admin/src/future-ui/README.md
  packages/admin/admin/src/future-ui/components/button/Button.module.scss
  packages/admin/admin/src/future-ui/components/button/Button.tsx
  packages/admin/admin/src/future-ui/components/button/__stories__/Button.stories.tsx
  packages/admin/admin/src/future-ui/index.ts
  packages/admin/admin/src/future-ui/utils/slotProps.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add test for home-page duplicate-path detection and shorten changeset
  .changeset/fix-copy-home-page-duplicate-slug.md
  packages/api/cms-api/src/page-tree/page-tree.service.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Describe previous bug in changeset
  .changeset/fix-copy-home-page-duplicate-slug.md
Due: prettylint

cms-api: Cover more home-page cases in page-tree service tests
  packages/api/cms-api/src/page-tree/page-tree.service.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin-date-time: Deprecate legacy TimeRangePicker and prefix its theme key with "Legacy"
  .changeset/deprecate-legacy-time-range-picker.md
  packages/admin/admin-date-time/src/timeRangePicker/FinalFormTimeRangePicker.tsx
  packages/admin/admin-date-time/src/timeRangePicker/TimeRangeField.tsx
  packages/admin/admin-date-time/src/timeRangePicker/TimeRangePicker.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
