Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

rename style classes
  demo/site/src/layout/header/DesktopMenu.module.scss
  demo/site/src/layout/header/DesktopMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add MobileBreadcrumbs
  demo/site/src/common/components/Breadcrumbs.tsx
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.fragment.ts
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.module.scss
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.tsx
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.fragment.ts
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.tsx
  demo/site/src/documents/pages/Page.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator staticSelect/asyncSelect: add support for multiple (array) values, autodetects LIST in gql schema
  .changeset/weak-bears-melt.md
  demo/admin/src/products/generator/ProductForm.cometGen.tsx
  demo/admin/src/products/generator/generated/ProductForm.gql.tsx
  demo/admin/src/products/generator/generated/ProductForm.tsx
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelect.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelectFilter.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelectRenderedProps.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/generateFormField-staticSelect.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/asyncSelect/__tests__/findIntrospectionObjectType.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/asyncSelect/generateAsyncSelect.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add and style mobile breadcrumbs
  demo/site/public/assets/icons/corner-down-right.svg
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.module.scss
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add support for custom content in tooltips
  .changeset/true-cameras-feel.md
  packages/admin/admin/src/common/Tooltip.tsx
  storybook/src/admin/Tooltip.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat: ignore all relation changes for action log snapshots
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Only throw an exception when `title` is not set at all
  packages/admin/admin/src/common/Tooltip.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Re-activate some rules by fixing the problems
  demo/site/src/common/blocks/LayoutBlock.module.scss
  demo/site/src/common/blocks/MediaGalleryBlock.module.scss
  demo/site/src/common/components/Typography.module.scss
  demo/site/src/documents/pages/blocks/ColumnsBlock.module.scss
  demo/site/src/styles/global.scss
  demo/site/stylelint.config.mjs
Due: prettylint

don't require loadValueQueryField to contain optional operator for optional fields
  demo/admin/src/products/generator/ProductHighlightForm.cometGen.ts
  demo/admin/src/products/generator/generated/ProductHighlightForm.tsx
  packages/admin/admin-generator/src/commands/generate/generateForm/asyncSelect/generateAsyncSelect.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove width and height from corner-down-right svg
  demo/site/public/assets/icons/corner-down-right.svg
Due: none

Admin Generator: asyncSelect: add support for autocomplete, defaulting to autocomplete if rootQuery has a search argument
  .changeset/lovely-suits-fold.md
  demo/admin/src/products/generator/generated/CreateCapProductForm.tsx
  demo/admin/src/products/generator/generated/ProductForm.tsx
  demo/admin/src/products/generator/generated/ProductHighlightForm.tsx
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelect.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelectAutocomplete.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelectFilter.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelectRenderedProps.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/asyncSelectAutocomplete.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/asyncSelect/generateAsyncSelect.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateForm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename class names for konsistency
  demo/site/src/layout/topNavigation/TopNavigation.module.scss
  demo/site/src/layout/topNavigation/TopNavigation.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

replace pixel values with variables
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.module.scss
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.module.scss
Due: prettylint

set list-style-type on list instead of elements
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.module.scss
Due: prettylint

add css to validated files
  demo/site/lint-staged.config.mjs
  demo/site/package.json
Due: prettylint

use sm breakpoint for breadcrumbs instead of md
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.module.scss
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.module.scss
Due: prettylint

add translation for home link in breadcrumbs
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove index
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

adapt styling for long or big number of page titles
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.module.scss
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.module.scss
Due: prettylint

add demo block
  demo/admin/src/common/blocks/MultipleOptionsBlock.tsx
  demo/admin/src/documents/pages/blocks/PageContentBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/multiple-options.block.ts
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/blocks/text-and-content/multipleOptions-fixture.service.ts
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
  demo/api/src/documents/pages/blocks/page-content.block.ts
  demo/site/src/documents/pages/blocks/MultipleOptionsBlock.tsx
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add mitmproxy for development to debug Server Component network requests (#4301)
  .env
  dev-pm.config.js
  docker-compose.yml
  install.sh
  package.json
Due: prettylint

disable value-keyword-case
  demo/site/src/styles/global.scss
  demo/site/stylelint.config.mjs
Due: prettylint

add support of string[] and number[] to createCompositeBlockSelectField
  demo/admin/src/common/blocks/MultipleOptionsBlock.tsx
  packages/admin/cms-admin/src/blocks/helpers/createCompositeBlockSelectField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove deprecated clip property
  demo/site/src/layout/topNavigation/TopNavigation.module.scss
Due: prettylint

Admin Generator: use Future_DateTimePickerField instead of DateTimePickerField (#4484)
  .changeset/twenty-ducks-create.md
  demo/admin/src/products/generator/generated/ProductForm.tsx
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/generateFormField-dateTime.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/generateFormField-dateTime.test.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
  storybook/src/admin/datePicker/DateTimePickerField.stories.tsx
  storybook/src/admin/dateTime/DateTimePicker.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: adapt footer to updated starter design (#4549)
  demo/site/src/layout/footer/blocks/FooterContentBlock.module.scss
  demo/site/src/layout/footer/blocks/FooterContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Warnings Module: fix `@ScopedEntity()` checks (#4552)
  .changeset/clever-eggs-poke.md
  packages/api/cms-api/src/warnings/warning-checker.command.ts
  packages/api/cms-api/src/warnings/warning-event-subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use FullPageAlert for NoContentScopeFallback (#4271)
  .changeset/modern-terms-cry.md
  packages/admin/cms-admin/src/contentScope/noContentScopeFallback/NoContentScopeFallback.tsx
  packages/admin/cms-admin/src/index.ts
  storybook/.storybook/decorators/CurrentUserProvider.decorator.tsx
  storybook/.storybook/mocks/currentUserHandler.ts
  storybook/.storybook/mocks/handlers.ts
  storybook/src/cms-admin/contentScope/noContentScopeError/NoContentScopeError.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/brave-keys-walk.md
Due: prettylint

add support of enum arrays in BlockField
  demo/api/block-meta.json
  demo/api/src/common/blocks/multiple-options.block.ts
  packages/api/cms-api/src/blocks/block.ts
  packages/api/cms-api/src/blocks/blocks-meta.ts
  packages/api/cms-api/src/blocks/decorators/field.ts
  packages/cli/src/BlockMeta.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix MultipleOptionsBlock in admin
  demo/admin/src/common/blocks/MultipleOptionsBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/fine-bananas-unite.md
Due: prettylint

Renovate: fix OpenTelemetry group
  renovate.json
Due: prettylint

remove multiple prop from SelectField
  packages/admin/cms-admin/src/blocks/helpers/createCompositeBlockSelectField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Renovate: fix OpenTelemetry group (#4560)
  renovate.json
Due: prettylint

Demo Site: rename class names (#4557)
  demo/site/src/layout/topNavigation/TopNavigation.module.scss
  demo/site/src/layout/topNavigation/TopNavigation.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix typo
  packages/admin/admin/src/common/Tooltip.tsx
  storybook/src/admin/Tooltip.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

correct import path
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.module.scss
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.module.scss
Due: prettylint

remove unnecessary styles on listElement
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.module.scss
Due: prettylint

remove duplicate styling on links
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
