Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Update README.md
  README.md
Due: prettylint

Moved dev-pm information to "Start development process"
  README.md
Due: prettylint

Lint next and main branch, not only PRs and add status badge to readme
  .github/workflows/lint.yml
  README.md
Due: prettylint

Make nullable block fields null (previously undefined)
  demo/admin/generate-block-types.ts
  demo/admin/src/products/ProductForm.tsx
  packages/cli/src/commands/generate-block-types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset for incompatible change
  .changeset/silent-dingos-hear.md
Due: prettylint

Adapt to changed block types
  packages/admin/blocks-admin/src/blocks/helpers/composeBlocks/composeBlocks.spec.tsx
  packages/api/cms-api/src/blocks/PixelImageBlock.ts
  packages/site/cms-site/src/blocks/PixelImageBlock.tsx
  packages/site/cms-site/src/blocks/SvgImageBlock.tsx
  packages/site/cms-site/src/image/Image.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix demo/admin intl:update
  demo/admin/package.json
Due: prettylint

More fixes for changed nullable block types
  demo/admin/src/news/blocks/NewsLinkBlock.tsx
  demo/admin/src/pages/blocks/HeadlineBlock.tsx
  demo/admin/src/products/ProductsTable.tsx
  demo/site/generate-block-types.ts
  demo/site/preBuild/src/createRedirects.ts
  demo/site/src/blocks/AnchorBlock.tsx
  demo/site/src/blocks/DamVideoBlock.tsx
  demo/site/src/news/blocks/NewsLinkBlock.tsx
  packages/admin/cms-admin/src/blocks/AnchorBlock.tsx
  packages/admin/cms-admin/src/blocks/DamVideoBlock.tsx
  packages/admin/cms-admin/src/blocks/ExternalLinkBlock.tsx
  packages/admin/cms-admin/src/blocks/InternalLinkBlock.tsx
  packages/admin/cms-admin/src/blocks/PixelImageBlock.tsx
  packages/admin/cms-admin/src/blocks/SvgImageBlock.tsx
  packages/admin/cms-admin/src/blocks/createSeoBlock.tsx
  packages/admin/cms-admin/src/blocks/image/EditImageDialog.tsx
  packages/admin/cms-admin/src/preview/site/OpenLinkDialog.tsx
  packages/site/cms-site/src/blocks/factories/OneOfBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update packages/admin/cms-admin/src/blocks/createTextLinkBlock.tsx
  packages/admin/cms-admin/src/blocks/createTextLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename extraction method and change return type
  demo/admin/src/pages/blocks/FullWidthImageBlock.tsx
  packages/admin/cms-admin/src/blocks/createTextLinkBlock.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageContextMenu.tsx
  packages/admin/cms-admin/src/pages/pageTree/useExtractPages.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

prettier
  README.md
Due: prettylint

Add more tests and use inputToOutput in update mutation
  packages/admin/cms-admin/src/common/extractImportRichtextStyled.spec.ts
  packages/admin/cms-admin/src/common/extractImportRichtextStyles.ts
  packages/admin/cms-admin/src/pages/pageTree/useExtractPages.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make this actually work, use a simple cd
  demo/admin/package.json
Due: prettylint

Add indices in pseudo tags and update tests
  packages/admin/cms-admin/src/blocks/createRichTextBlock.tsx
  packages/admin/cms-admin/src/common/extractImportRichtextStyled.spec.ts
  packages/admin/cms-admin/src/common/extractImportRichtextStyles.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix invalid @graphql-mocks/network-msw peerDependency
  packages/admin/admin-stories/package.json
  pnpm-lock.yaml
Due: prettylint

crud generator: commit generated files
  demo/api/.gitignore
  demo/api/package.json
  demo/api/src/footer/generated/dto/footer.input.ts
  demo/api/src/footer/generated/footer.crud.resolver.ts
  demo/api/src/footer/generated/footers.service.ts
  demo/api/src/news/generated/dto/news-list.args.ts
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/news/generated/dto/news.input.ts
  demo/api/src/news/generated/dto/news.sort.ts
  demo/api/src/news/generated/dto/paginated-news.ts
  demo/api/src/news/generated/news.crud.resolver.ts
  demo/api/src/news/generated/news.service.ts
  demo/api/src/products/generated/dto/paginated-products.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/dto/product.sort.ts
  demo/api/src/products/generated/dto/products.args.ts
  demo/api/src/products/generated/product.crud.resolver.ts
  demo/api/src/products/generated/products.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add header comment to generated files
  demo/api/src/footer/generated/dto/footer.input.ts
  demo/api/src/footer/generated/footer.crud.resolver.ts
  demo/api/src/footer/generated/footers.service.ts
  demo/api/src/news/generated/dto/news-list.args.ts
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/news/generated/dto/news.input.ts
  demo/api/src/news/generated/dto/news.sort.ts
  demo/api/src/news/generated/dto/paginated-news.ts
  demo/api/src/news/generated/news.crud.resolver.ts
  demo/api/src/news/generated/news.service.ts
  demo/api/src/products/generated/dto/paginated-products.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/dto/product.sort.ts
  demo/api/src/products/generated/dto/products.args.ts
  demo/api/src/products/generated/product.crud.resolver.ts
  demo/api/src/products/generated/products.service.ts
  packages/api/cms-api/src/generator/utils/write-generated.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Lint in pipeline that a re-run of api-generator doesn't make modifictions
  demo/api/package.json
Due: prettylint

api-generator: Add IsOptional decorator to optional arguments
  demo/api/src/news/generated/dto/news-list.args.ts
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/products.args.ts
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove console.log
  packages/admin/admin-stories/src/admin/form/RouterTabs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update input variable to leave transformation defined by application
  packages/admin/cms-admin/src/pages/pageTree/useExtractPages.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove generation timestamp from API generator The timestamp incorrectly fails the check for changes to generated files during CI as only the date changes.
  demo/api/src/footer/generated/dto/footer.input.ts
  demo/api/src/footer/generated/footer.crud.resolver.ts
  demo/api/src/footer/generated/footers.service.ts
  demo/api/src/news/generated/dto/news-list.args.ts
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/news/generated/dto/news.input.ts
  demo/api/src/news/generated/dto/news.sort.ts
  demo/api/src/news/generated/dto/paginated-news.ts
  demo/api/src/news/generated/news.crud.resolver.ts
  demo/api/src/news/generated/news.service.ts
  demo/api/src/products/generated/dto/paginated-products.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/dto/product.sort.ts
  demo/api/src/products/generated/dto/products.args.ts
  demo/api/src/products/generated/product.crud.resolver.ts
  demo/api/src/products/generated/products.service.ts
  packages/api/cms-api/src/generator/utils/write-generated.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove weird top position in button
  packages/admin/admin-theme/src/componentsTheme/MuiButton.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use `changeset publish` for publishing
  package.json
Due: prettylint

Prevent adding changes for Demo and Storybook
  .changeset/config.json
Due: prettylint

Update lock file after `changeset version` Otherwise the lock file changes in CI, causing `pnpm install --frozen-lockfile` to fail
  .github/workflows/release.yml
  package.json
Due: prettylint

Use changesets action fork for an aggregated GitHub release
  .github/workflows/release.yml
Due: none

Adapt export to import format and add extractContent prop to composite block
  demo/admin/src/pages/blocks/HeadlineBlock.tsx
  demo/api/schema.gql
  packages/admin/blocks-admin/src/blocks/helpers/composeBlocks/composeBlocks.tsx
  packages/admin/blocks-admin/src/blocks/helpers/composeBlocks/createCompositeSetting.ts
  packages/admin/blocks-admin/src/blocks/helpers/composeBlocks/createCompositeSettings.tsx
  packages/admin/blocks-admin/src/blocks/helpers/composeBlocks/createSettingsBlock.ts
  packages/admin/blocks-admin/src/blocks/types.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageContextMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make DI for PageTreeService optional
  packages/api/cms-api/src/content-scope/scope.guard.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove nestjs eslint @typescript-eslint/explicit-function-return-type
  packages/eslint-config/nestjs.js
Due: prettylint

Disable pre-commit hooks for changesets The changesets action would run the pre-commit hooks when creating the "Version packages" PR. This is unnecessary and caused errors due to missing files.
  .github/workflows/release.yml
Due: none

Fix type error in product form
  demo/admin/src/products/ProductForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove clear:types script
  demo/site/package.json
Due: prettylint

Use `@comet/cli` in Demo to generate block types
  demo/admin/generate-block-types.ts
  demo/admin/package.json
  demo/site/generate-block-types.ts
  demo/site/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix lint error for rich text block in Demo site
  demo/site/package.json
  demo/site/src/blocks/RichTextBlock.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add missing dependency
  packages/admin/admin/package.json
  pnpm-lock.yaml
Due: prettylint

Fix tests, comment out expected fails
  packages/admin/admin/jest.config.js
  packages/admin/admin/package.json
  packages/admin/admin/setupTests.ts
  packages/admin/admin/src/FinalForm.InTabs.test.tsx
  packages/admin/admin/src/router/PromptHandler.test.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use prop to disable padding on MainContent
  demo/admin/src/pages/EditPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Start with xml export format
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/blocks/createRichTextBlock.tsx
  packages/admin/cms-admin/src/common/getEntityRanges.ts
  packages/admin/cms-admin/src/common/stateToHTML.spec.ts
  packages/admin/cms-admin/src/common/stateToHTML.ts
  packages/admin/cms-admin/src/common/styleToCSS.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add componentsProps to EditDialog
  .changeset/fluffy-gorillas-tell.md
  packages/admin/admin/src/EditDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
