Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore(cms-admin): update axios to ^0.28.0
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint

mail-react: Add inline option to createRichTextBlock
  .changeset/add-mail-react-rich-text-block.md
  docs/docs/3-features-modules/13-building-html-emails/3-blocks.md
  packages/mail-react/src/blocks/richText/README.md
  packages/mail-react/src/blocks/richText/__stories__/HtmlRichTextBlock.stories.tsx
  packages/mail-react/src/blocks/richText/__stories__/MjmlRichTextBlock.stories.tsx
  packages/mail-react/src/blocks/richText/__stories__/exampleBlockData.ts
  packages/mail-react/src/blocks/richText/__tests__/createRichTextBlock.test.tsx
  packages/mail-react/src/blocks/richText/common.ts
  packages/mail-react/src/blocks/richText/createRichTextBlock.tsx
  packages/mail-react/src/blocks/richText/createRichTextRenderers.tsx
  packages/mail-react/src/index.ts
  skills/comet-mail-react/SKILL.md
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

mail-react: Type link resolver props from the caller's declaration
  docs/docs/3-features-modules/13-building-html-emails/3-blocks.md
  packages/mail-react/src/blocks/richText/__stories__/HtmlRichTextBlock.stories.tsx
  packages/mail-react/src/blocks/richText/__stories__/MjmlRichTextBlock.stories.tsx
  packages/mail-react/src/blocks/richText/__tests__/createRichTextBlock.test.tsx
  packages/mail-react/src/blocks/richText/common.ts
  packages/mail-react/src/blocks/richText/createRichTextBlock.tsx
  skills/comet-mail-react/SKILL.md
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "Remove CORS configuration from demo api" (#5963)
  .env
  demo/api/src/app.module.ts
  demo/api/src/config/config.ts
  demo/api/src/config/environment-variables.ts
  demo/api/src/main.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix lint
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

major-migration: Address review feedback
  skills/comet-major-migration/SKILL.md
  skills/comet-major-migration/references/migration-smoke-test.md
Due: prettylint

major-migration: Generalize remaining project-specific references
  skills/comet-major-migration/SKILL.md
  skills/comet-major-migration/references/migration-smoke-test.md
Due: prettylint

major-migration: Drop redundant regression-examples paragraph from smoke-test intro
  skills/comet-major-migration/references/migration-smoke-test.md
Due: prettylint

major-migration: Decouple page-tree detection from sites; stop hardcoding ports
  skills/comet-major-migration/SKILL.md
  skills/comet-major-migration/references/migration-smoke-test.md
Due: prettylint

mail-react: fix Storybook code preview
  packages/mail-react/src/components/button/HtmlButton.tsx
  packages/mail-react/src/components/text/__stories__/MjmlText.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

major-migration: Make smoke-test guidance less project-specific
  skills/comet-major-migration/references/migration-smoke-test.md
Due: prettylint

major-migration: Describe multi-site hostnames via site configs
  skills/comet-major-migration/references/migration-smoke-test.md
Due: prettylint

Add internationalization guidance to comet-admin-ui skill (#5951)
  skills/comet-admin-ui/SKILL.md
Due: prettylint

eslint-config: Remove deprecated @calm/eslint-plugin-react-intl
  .changeset/remove-eslint-plugin-react-intl.md
  docs/docs/2-core-concepts/6-internationalization/index.mdx
  docs/eslint.config.mjs
  packages/admin/admin/eslint.config.mjs
  packages/admin/cms-admin/eslint.config.mjs
  packages/admin/cms-admin/src/common/header/about/AboutModal.tsx
  packages/eslint-config/package.json
  packages/eslint-config/react.js
  packages/mail-react/eslint.config.mjs
  packages/mail-react/src/blocks/factories/BlocksBlock.tsx
  packages/mail-react/src/blocks/factories/OneOfBlock.tsx
  packages/site/site-react/src/blocks/factories/BlocksBlock.tsx
  packages/site/site-react/src/blocks/factories/OneOfBlock.tsx
  pnpm-lock.yaml
  storybook/eslint.config.mjs
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

mail-react, site-react: Simplify unknown-block debug output
  packages/mail-react/src/blocks/factories/BlocksBlock.tsx
  packages/mail-react/src/blocks/factories/OneOfBlock.tsx
  packages/site/site-react/src/blocks/factories/BlocksBlock.tsx
  packages/site/site-react/src/blocks/factories/OneOfBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add a major-migration skill (#5812)
  skills/comet-major-migration/SKILL.md
  skills/comet-major-migration/references/migration-smoke-test.md
Due: prettylint

Document reusing generated block types in mail RichText links
  docs/docs/3-features-modules/13-building-html-emails/3-blocks.md
  skills/comet-mail-react/SKILL.md
Due: prettylint

mail-react: Stop re-exporting internal RichText block types
  packages/mail-react/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add child blocks support to TipTapRichTextBlock (#5838)
  .changeset/tiptap-child-blocks.md
  demo/admin/src/common/blocks/TipTapRichTextBlock.tsx
  demo/admin/src/products/blocks/ProductPriceBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/tip-tap-rich-text.block.ts
  demo/api/src/products/blocks/product-price-block-transformer.service.ts
  demo/api/src/products/blocks/product-price.block.ts
  demo/api/src/products/products.module.ts
  demo/site/src/common/blocks/TipTapRichTextBlock.tsx
  demo/site/src/products/blocks/ProductPriceBlock.tsx
  packages/admin/cms-admin/src/blocks/tipTap/ChildBlocksContext.ts
  packages/admin/cms-admin/src/blocks/tipTap/TipTapBlockDialog.tsx
  packages/admin/cms-admin/src/blocks/tipTap/TipTapToolbar.tsx
  packages/admin/cms-admin/src/blocks/tipTap/__stories__/TipTapRichTextBlockChildBlocks.stories.tsx
  packages/admin/cms-admin/src/blocks/tipTap/createTipTapRichTextBlock.tsx
  packages/admin/cms-admin/src/blocks/tipTap/extensions/CmsBlock.tsx
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/api/cms-api/src/blocks/tipTap/extensions/CmsBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api, site-react, demo: Load TipTapRichTextBlock child blocks via BlockLoader
  .changeset/block-loader-rich-text-child-blocks.md
  demo/admin/src/common/blocks/TipTapRichTextBlock.tsx
  demo/admin/src/products/blocks/ProductTeaserBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/tip-tap-rich-text.block.ts
  demo/api/src/products/blocks/product-teaser.block.ts
  demo/site/src/common/blocks/TipTapRichTextBlock.tsx
  demo/site/src/products/blocks/ProductTeaserBlock.loader.ts
  demo/site/src/products/blocks/ProductTeaserBlock.tsx
  demo/site/src/util/recursivelyLoadBlockData.ts
  packages/api/cms-api/src/blocks/block.ts
  packages/api/cms-api/src/blocks/blocks-meta.ts
  packages/api/cms-api/src/blocks/decorators/field.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/cli/src/BlockMeta.ts
  packages/cli/src/commands/generate-block-types.ts
  packages/site/site-react/src/blockLoader/blockLoader.test.ts
  packages/site/site-react/src/blockLoader/blockLoader.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

mail-react: Show custom-render stories' JSX in the Storybook docs panel
  packages/mail-react/.storybook/main.ts
  packages/mail-react/.storybook/preview.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Load TipTap rich text child blocks via BlockLoader (#5883)
  .changeset/block-loader-rich-text-child-blocks.md
  demo/admin/src/common/blocks/TipTapRichTextBlock.tsx
  demo/admin/src/products/blocks/ProductTeaserBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/tip-tap-rich-text.block.ts
  demo/api/src/products/blocks/product-teaser.block.ts
  demo/site/src/common/blocks/TipTapRichTextBlock.tsx
  demo/site/src/products/blocks/ProductTeaserBlock.loader.ts
  demo/site/src/products/blocks/ProductTeaserBlock.tsx
  demo/site/src/util/recursivelyLoadBlockData.ts
  packages/api/cms-api/src/blocks/block.ts
  packages/api/cms-api/src/blocks/blocks-meta.ts
  packages/api/cms-api/src/blocks/decorators/field.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/cli/src/BlockMeta.ts
  packages/cli/src/commands/generate-block-types.ts
  packages/site/site-react/src/blockLoader/blockLoader.test.ts
  packages/site/site-react/src/blockLoader/blockLoader.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Add a Future UI design-token generator (#5926)
  knip.json
  packages/admin/admin/.babelrc.json
  packages/admin/admin/package.json
  packages/admin/admin/src/future-ui/cli/generateThemeTokens.ts
  packages/admin/admin/src/future-ui/theme/_brand.scss
  packages/admin/admin/src/future-ui/theme/_components.scss
  packages/admin/admin/src/future-ui/theme/_primitives.scss
  packages/admin/admin/src/future-ui/theme/_responsive.scss
  packages/admin/admin/src/future-ui/theme/_semantic.scss
  packages/admin/admin/src/future-ui/theme/types.ts
  packages/admin/admin/tsconfig.build.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Exit prerelease mode (#5959)
  .changeset/pre.json
Due: prettylint

Change v8 release npm tag back to stable-v8 (#5958)
  .github/workflows/release.yml
Due: none

admin: Add a theme system to Future UI
  knip.json
  packages/admin/admin/src/future-ui/README.md
  packages/admin/admin/src/future-ui/components/button/Button.module.scss
  packages/admin/admin/src/future-ui/components/button/__stories__/Button.stories.tsx
  packages/admin/admin/src/future-ui/components/cssVarsProvider/CssVarsProvider.module.scss
  packages/admin/admin/src/future-ui/components/cssVarsProvider/CssVarsProvider.tsx
  packages/admin/admin/src/future-ui/components/cssVarsProvider/__stories__/CssVarsProvider.stories.tsx
  packages/admin/admin/src/future-ui/components/cssVarsProvider/__stories__/themeOverrides.module.scss
  packages/admin/admin/src/future-ui/components/typography/Typography.module.scss
  packages/admin/admin/src/future-ui/components/typography/__stories__/Typography.stories.tsx
  packages/admin/admin/src/future-ui/index.ts
  packages/admin/admin/src/future-ui/utils/cssVarsProviderDecorator.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Rename Future UI's CssVarsProvider to Theme
  packages/admin/admin/src/future-ui/README.md
  packages/admin/admin/src/future-ui/components/button/__stories__/Button.stories.tsx
  packages/admin/admin/src/future-ui/components/theme/Theme.module.scss
  packages/admin/admin/src/future-ui/components/theme/Theme.tsx
  packages/admin/admin/src/future-ui/components/theme/__stories__/Theme.stories.tsx
  packages/admin/admin/src/future-ui/components/theme/__stories__/themeOverrides.module.scss
  packages/admin/admin/src/future-ui/components/typography/__stories__/Typography.stories.tsx
  packages/admin/admin/src/future-ui/index.ts
  packages/admin/admin/src/future-ui/storybook/cssVarsProviderDecorator.tsx
  packages/admin/admin/src/future-ui/storybook/themeDecorator.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Move Future UI story-only helpers to an unpublished directory
  packages/admin/admin/.babelrc.build.json
  packages/admin/admin/.babelrc.json
  packages/admin/admin/src/future-ui/components/button/__stories__/Button.stories.tsx
  packages/admin/admin/src/future-ui/components/typography/__stories__/Typography.stories.tsx
  packages/admin/admin/src/future-ui/storybook/cssVarsProviderDecorator.tsx
  packages/admin/admin/tsconfig.build.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add InlineActionLogs decorator for action logs
  .changeset/add-inline-action-logs-decorator.md
  demo/api/src/products/entities/product.entity.ts
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
  packages/api/cms-api/src/action-logs/inline-action-logs.decorator.spec.ts
  packages/api/cms-api/src/action-logs/inline-action-logs.decorator.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

mail-react: Show custom-render stories' JSX in the Storybook docs panel (#5966)
  packages/mail-react/.storybook/main.ts
  packages/mail-react/.storybook/preview.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

mail-react: Add createRichTextBlock for rendering RichText block data (#5873)
  .changeset/add-mail-react-rich-text-block.md
  docs/docs/3-features-modules/13-building-html-emails/3-blocks.md
  packages/mail-react/package.json
  packages/mail-react/src/blocks/richText/README.md
  packages/mail-react/src/blocks/richText/__stories__/HtmlRichTextBlock.stories.tsx
  packages/mail-react/src/blocks/richText/__stories__/MjmlRichTextBlock.stories.tsx
  packages/mail-react/src/blocks/richText/__stories__/exampleBlockData.ts
  packages/mail-react/src/blocks/richText/__tests__/createRichTextBlock.test.tsx
  packages/mail-react/src/blocks/richText/common.ts
  packages/mail-react/src/blocks/richText/createRichTextBlock.tsx
  packages/mail-react/src/blocks/richText/createRichTextRenderers.tsx
  packages/mail-react/src/index.ts
  packages/mail-react/src/redraft.d.ts
  pnpm-lock.yaml
  skills/comet-mail-react/SKILL.md
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add layout guidance to comet-admin-ui skill
  skills/comet-admin-ui/SKILL.md
Due: prettylint

demo-api: Generate block-data types
  demo/api/.gitignore
  demo/api/package.json
  dev-pm.config.ts
  knip.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo-api: Render RichText blocks with typed link resolvers
  demo/api/src/products/published-mail/Mail.tsx
  demo/api/src/products/published-mail/RichTextBlock.ts
  demo/api/src/products/published-mail/__stories__/ProductPublishedMail.stories.tsx
  demo/api/src/products/published-mail/exampleSupportInfo.ts
  demo/api/src/products/published-mail/product-published.mail.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Make noFollow field of ExternalLinkBlock optional
  .changeset/external-link-block-no-follow-optional.md
  demo/api/block-meta.json
  packages/api/brevo-api/block-meta.json
  packages/api/cms-api/block-meta.json
  packages/api/cms-api/src/blocks/externalLink/external-link.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

api-generator: Fix broken imports in cross-module join-entity resolver
  .changeset/join-entity-cross-module-resolver-imports.md
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/cross-module-fixtures/articles/entities/article.entity.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/cross-module-fixtures/periodicals/entities/article-to-periodical.entity.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/cross-module-fixtures/periodicals/entities/periodical.entity.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-cross-module.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Allow filtering, searching and sorting warnings by name, info and type
  .changeset/warnings-grid-filter-sort-name-info-type.md
  demo/api/schema.gql
  packages/admin/cms-admin/src/warnings/WarningsGrid.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/warnings/dto/warning.filter.ts
  packages/api/cms-api/src/warnings/dto/warning.sort.ts
  packages/api/cms-api/src/warnings/warning.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

warnings: Only join EntityInfo view when filtering/sorting by name or info
  packages/api/cms-api/src/warnings/warning.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Exclude actions column from warnings grid filter
  packages/admin/cms-admin/src/warnings/WarningsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

warnings: Fix filter operators that wrap the condition (e.g. does not contain)
  packages/api/cms-api/src/warnings/warning.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
