Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Only query gridcells once to reduce duration of the fuction by ~800ms
  packages/admin/cms-admin/src/blocks/table/__tests__/utils.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix brevo-admin so it builds and has no linting errors
  copy-project-files.js
  knip.json
  packages/admin/brevo-admin/package.json
  packages/admin/brevo-admin/tsconfig.base.json
  packages/admin/brevo-admin/tsconfig.json
  pnpm-lock.yaml
Due: prettylint

Fix pnpm-lock
  pnpm-lock.yaml
Due: none

Add --passWithNoTests to test command of brevo-api
  packages/api/brevo-api/package.json
Due: prettylint

Integrate brevo-api into demo-api and fix permission handling
  .env
  demo/api/block-meta.json
  demo/api/package.json
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/auth/app-permission.enum.ts
  demo/api/src/brevo/blacklisted-contacts/entity/blacklisted-contacts.entity.ts
  demo/api/src/brevo/brevo-contact/brevo-contact-subscribe.controller.ts
  demo/api/src/brevo/brevo-contact/brevo-contact-subscribe.module.ts
  demo/api/src/brevo/brevo-contact/dto/brevo-contact-attributes.ts
  demo/api/src/brevo/brevo-contact/dto/brevo-contact-subscribe.input.ts
  demo/api/src/brevo/brevo-contact/dto/brevo-contact-subscribe.scope.ts
  demo/api/src/brevo/brevo-contact/dto/brevo-contact.enums.ts
  demo/api/src/brevo/brevo-email-import-log/entity/brevo-email-import-log.entity.ts
  demo/api/src/brevo/brevo-transactional-mails/brevo-transactional-mails.controller.ts
  demo/api/src/brevo/brevo-transactional-mails/brevo-transactional-mails.module.ts
  demo/api/src/brevo/brevo-transactional-mails/dto/transactional-mails.body.ts
  demo/api/src/brevo/email-campaign/blocks/email-campaign-content.block.ts
  demo/api/src/brevo/email-campaign/blocks/email-campaign-divider.block.ts
  demo/api/src/brevo/email-campaign/blocks/email-campaign-link.block.ts
  demo/api/src/brevo/email-campaign/blocks/email-campaign-rich-text.block.ts
  demo/api/src/brevo/email-campaign/blocks/email-campaign-salutation.block.ts
  demo/api/src/brevo/email-campaign/email-campaign-content-scope.ts
  demo/api/src/brevo/email-campaign/entities/email-campaign.entity.ts
  demo/api/src/brevo/target-group/entity/target-group.entity.ts
  demo/api/src/config/config.ts
  demo/api/src/config/environment-variables.ts
  dev-pm.config.ts
  packages/api/brevo-api/src/index.ts
  packages/api/brevo-api/src/permissions/permissions.interface.ts
  packages/api/brevo-api/src/types.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Integrate brevo-admin into demo-admin
  demo/admin/package.json
  demo/admin/src/App.tsx
  demo/admin/src/brevo/brevoModuleConfig/brevoContactsPageAttributesConfig.tsx
  demo/admin/src/brevo/brevoModuleConfig/targetGroupFormConfig.tsx
  demo/admin/src/brevo/emailCampaigns/blocks/DividerBlock.tsx
  demo/admin/src/brevo/emailCampaigns/blocks/EmailCampaignContentBlock.tsx
  demo/admin/src/brevo/emailCampaigns/blocks/EmailCampaignSalutationBlock.tsx
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/config.tsx
  demo/admin/src/environment.ts
  demo/admin/vite.config.mts
  dev-pm.config.ts
  packages/admin/brevo-admin/.babelrc.json
  packages/admin/brevo-admin/.gitignore
  packages/admin/brevo-admin/block-meta.json
  packages/admin/brevo-admin/eslint.config.mjs
  packages/admin/brevo-admin/package.json
  packages/admin/brevo-admin/src/brevoContacts/BrevoContactsGrid.generated.ts
  packages/admin/brevo-admin/src/brevoContacts/BrevoContactsGrid.tsx
  packages/admin/brevo-admin/src/brevoContacts/form/BrevoContactForm.tsx
  packages/admin/brevo-admin/src/brevoTestContacts/BrevoTestContactsGrid.tsx
  packages/admin/brevo-admin/src/emailCampaigns/form/EmailCampaignForm.tsx
  packages/admin/brevo-admin/src/index.ts
  packages/admin/brevo-admin/src/targetGroups/TargetGroupsGrid.generated.ts
  packages/admin/brevo-admin/src/targetGroups/TargetGroupsGrid.tsx
  packages/admin/brevo-admin/src/targetGroups/addContacts/AddContactsGridSelect.tsx
  packages/admin/brevo-admin/tsconfig.build.json
  packages/admin/brevo-admin/tsconfig.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Simplify stroybook setup
  demo/api/.storybook/decorators/IntlProvider.decorator.tsx
  demo/api/.storybook/manager-head.html
  demo/api/.storybook/manager.ts
  demo/api/.storybook/preview-head.html
  demo/api/.storybook/preview.ts
  demo/api/.storybook/public/comet-logo-header.svg
  demo/api/.storybook/theme.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Execute brevo migrations in demo
  .env
  demo/api/src/db/migrations/Migration20260102122632.ts
  demo/api/src/db/ormconfig.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove old SaveSplitButton
  packages/admin/brevo-admin/src/brevoConfiguration/BrevoConfigForm.tsx
  packages/admin/brevo-admin/src/brevoTestContacts/form/BrevoTestContactForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add a data-testid prop to the SelectField
  packages/admin/admin/src/form/fields/SelectField.test.tsx
  packages/admin/admin/src/form/fields/SelectField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add data-testid prop to Field component
  packages/admin/admin/src/form/Field.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename SelectField prop to data-testid to be consistent
  packages/admin/admin/src/form/fields/SelectField.test.tsx
  packages/admin/admin/src/form/fields/SelectField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add input-testid to SelectField
  packages/admin/admin/src/form/fields/SelectField.test.tsx
  packages/admin/admin/src/form/fields/SelectField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Extend test for assert the selected element is an input
  packages/admin/admin/src/form/fields/SelectField.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Resolve knip errors
  demo/api/src/app.module.ts
  knip.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Addapt tests to vite
  packages/admin/admin/src/form/fields/SelectField.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set data-testid directly insted of using otherProps
  packages/admin/admin/src/form/Field.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove input-testid feature
  packages/admin/admin/src/form/fields/SelectField.test.tsx
  packages/admin/admin/src/form/fields/SelectField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add workflow to close stale PRs
  .github/workflows/close-stale-prs.yml
Due: none

Demo Site: Add text-wrap: balance for better readability (#4990)
  demo/site/src/styles/global.scss
Due: prettylint

Add more tests for TableBlock (#4998)
  packages/admin/cms-admin/src/blocks/table/ColumnHeader.tsx
  packages/admin/cms-admin/src/blocks/table/__tests__/copyPasteColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/copyPasteRow.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/deleteColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/duplicateColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/insertColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/insertRow.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/pasteColumnWithDifferentValues.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/utils.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix brevo-admin-codegen-graphql-types
  dev-pm.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix api restart on change in brevo-api package
  demo/api/package.json
Due: prettylint

Adjust brevo error handling to axios (for @getbrevo/brevo v3)
  packages/api/brevo-api/package.json
  packages/api/brevo-api/src/brevo-api/brevo-api-contact.service.ts
  packages/api/brevo-api/src/brevo-api/brevo-api.utils.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix assigning target groups to campaign
  packages/api/brevo-api/src/email-campaign/email-campaign.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add note about changes in the test
  packages/admin/admin/src/form/fields/SelectField.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/lucky-facts-clean.md
Due: prettylint

Add changesets
  .changeset/full-cars-nail.md
  .changeset/neat-jobs-complain.md
  .changeset/spicy-gifts-hammer.md
Due: prettylint

Add unnecessary peer dependency jsonc-eslint-parser from brevo-api
  packages/api/brevo-api/package.json
Due: prettylint

Add chokidar-cli to brevo-admin
  packages/admin/brevo-admin/package.json
  pnpm-lock.yaml
Due: prettylint

Remove any from AnyEntity generic
  packages/api/cms-api/src/dependencies/discover.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Split migrations
  packages/api/cms-api/src/mikro-orm/migrations/Migration20250531565156.ts
  packages/api/cms-api/src/mikro-orm/migrations/Migration20250531565157.ts
  packages/api/cms-api/src/mikro-orm/mikro-orm.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Run pnpm dedupe
  pnpm-lock.yaml
Due: none

Copy blocks from @comet/mail-rendering package in brevo repo
  packages/mail-react/src/blocks/CommonImageBlock.tsx
  packages/mail-react/src/blocks/NewsletterImageBlock.tsx
  packages/mail-react/src/blocks/helpers/imageBlockHelpers.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Install dependencies, finish setup/config and remove dependencies to cms-site and next
  copy-project-files.js
  packages/mail-react/.gitignore
  packages/mail-react/eslint.config.mjs
  packages/mail-react/package.json
  packages/mail-react/src/blocks/CommonImageBlock.tsx
  packages/mail-react/src/blocks/NewsletterImageBlock.tsx
  packages/mail-react/src/blocks/helpers/PropsWithData.ts
  packages/mail-react/src/blocks/helpers/imageBlockHelpers.ts
  packages/mail-react/tsconfig.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix knip errors by installing chokidar and exporting NewsletterImageBlock
  knip.json
  packages/mail-react/package.json
  packages/mail-react/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
