Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix broken links in Storybook Caused by upgrading to Storybook 8.
  storybook/src/docs/Intro.mdx
  storybook/src/docs/components/AppHeader/AppHeader.mdx
  storybook/src/docs/components/EditDialog/EditDialog.mdx
  storybook/src/docs/components/Selection/Selection.mdx
  storybook/src/docs/components/Table/01_Basics.mdx
  storybook/src/docs/components/Table/02_TableQuery.mdx
  storybook/src/docs/components/Table/03_Sorting.mdx
  storybook/src/docs/components/Table/04_Pagination.mdx
  storybook/src/docs/components/Table/05_FilterBar.mdx
  storybook/src/docs/components/Table/06_ExcelExport.mdx
  storybook/src/docs/components/Table/07_TableDndOrder.mdx
  storybook/src/docs/components/Table/08_SelectionTable.mdx
  storybook/src/docs/components/Tabs/02_RouterTabs.mdx
  storybook/src/docs/form/Layout.mdx
  storybook/src/docs/form/Overview.mdx
  storybook/src/docs/form/components/Field.mdx
  storybook/src/docs/form/components/FieldContainer.mdx
  storybook/src/docs/form/components/FinalForm.mdx
Due: none

Make sitePreviewSecret mandatory
  .changeset/late-hats-explain.md
  demo/api/src/config/environment-variables.ts
  packages/api/cms-api/src/page-tree/page-tree.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix table formatting in MDX files (#2768)
  pnpm-lock.yaml
  storybook/.storybook/main.ts
  storybook/package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unnecessary decorators from stories (#2767)
  storybook/src/admin/edit-dialog/EditDialogWithFormInStack.stories.tsx
  storybook/src/admin/form/CustomButtons.stories.tsx
  storybook/src/admin/form/DisableAutoNavigation.stories.tsx
  storybook/src/admin/form/DisabledSubmitIfNotDirty.stories.tsx
  storybook/src/admin/form/FormInStack.stories.tsx
  storybook/src/admin/form/FormLayouts.stories.tsx
  storybook/src/admin/form/ScrollToErrorField.stories.tsx
  storybook/src/admin/form/SubmitErrors.stories.tsx
  storybook/src/admin/form/Tabs.stories.tsx
  storybook/src/admin/form/TwoLevelValidation.stories.tsx
  storybook/src/admin/mui/Buttons.stories.tsx
  storybook/src/admin/react-intl/Intl.stories.tsx
  storybook/src/admin/save-boundary/SaveBoundary.stories.tsx
  storybook/src/admin/table/TableEditDialogHooks.stories.tsx
  storybook/src/admin/table/TableStackEditDialogHooks.stories.tsx
  storybook/src/docs/components/Selection/Selection.stories.tsx
  storybook/src/docs/components/Table/05_FilterBar.stories.tsx
  storybook/src/docs/form/Validation.stories.tsx
  storybook/src/docs/form/components/Field.stories.tsx
  storybook/src/docs/form/components/FinalForm.stories.tsx
  storybook/src/docs/form/components/FinalFormFields.stories.tsx
  storybook/src/docs/form/components/FormSection.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix broken links in Storybook (#2770)
  storybook/src/docs/Intro.mdx
  storybook/src/docs/components/AppHeader/AppHeader.mdx
  storybook/src/docs/components/EditDialog/EditDialog.mdx
  storybook/src/docs/components/Selection/Selection.mdx
  storybook/src/docs/components/Table/01_Basics.mdx
  storybook/src/docs/components/Table/02_TableQuery.mdx
  storybook/src/docs/components/Table/03_Sorting.mdx
  storybook/src/docs/components/Table/04_Pagination.mdx
  storybook/src/docs/components/Table/05_FilterBar.mdx
  storybook/src/docs/components/Table/06_ExcelExport.mdx
  storybook/src/docs/components/Table/07_TableDndOrder.mdx
  storybook/src/docs/components/Table/08_SelectionTable.mdx
  storybook/src/docs/components/Tabs/02_RouterTabs.mdx
  storybook/src/docs/form/Layout.mdx
  storybook/src/docs/form/Overview.mdx
  storybook/src/docs/form/components/Field.mdx
  storybook/src/docs/form/components/FieldContainer.mdx
  storybook/src/docs/form/components/FinalForm.mdx
Due: none

Use new types for Storybook config files (#2769)
  storybook/.storybook/main.ts
  storybook/.storybook/preview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove compatibility code
  .changeset/nervous-otters-hunt.md
  packages/api/cms-api/src/auth/resolver/auth.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

TODOs notiert
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormLayout.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Upgrade Node.js to 22 (current LTS) (#2764)
  .github/workflows/build-docs.yml
  .github/workflows/i18n.yml
  .github/workflows/lint.yml
  .github/workflows/release-beta.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .nvmrc
  demo/admin/package.json
  demo/api/package.json
  demo/site-pages/package.json
  demo/site/package.json
  package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin/package.json
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/blocks-api/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint

Remove unused argument
  .changeset/grumpy-fishes-live.md
  demo/site-pages/src/pages/api/site-preview.ts
  demo/site/src/app/api/site-preview/route.ts
  docs/docs/migration/migration-from-v7-to-v8.md
  packages/site/cms-site/src/sitePreview/SitePreviewUtils.ts
  packages/site/cms-site/src/sitePreview/pagesRouter/legacyPagesRouterSitePreviewApiHandler.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove legacy function
  .changeset/ten-onions-wash.md
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move all `@storybook/*` dependencies to dev dependencies (#2771)
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint

Add support for isEmpty and isNotEmpty for string, number and date filter
  demo/api/schema.gql
  packages/admin/admin/src/dataGrid/muiGridFilterToGql.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/common/filter/date-time.filter.ts
  packages/api/cms-api/src/common/filter/date.filter.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
  packages/api/cms-api/src/common/filter/number.filter.ts
  packages/api/cms-api/src/common/filter/string.filter.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator (Future): Add support for `startAdornments` and `endAdornments` for form fields (#2636)
  demo/admin/src/products/future/CreateCapProductForm.cometGen.ts
  demo/admin/src/products/future/ProductForm.cometGen.ts
  demo/admin/src/products/future/ProductPriceForm.cometGen.ts
  demo/admin/src/products/future/generated/CreateCapProductForm.tsx
  demo/admin/src/products/future/generated/ProductForm.tsx
  demo/admin/src/products/future/generated/ProductPriceForm.tsx
  packages/admin/admin-date-time/src/datePicker/DatePicker.tsx
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormField.ts
  packages/admin/cms-admin/src/generator/future/generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename argument from data to group
  demo/api/schema.gql
  demo/api/src/products/generated/product-variants.service.ts
  demo/api/src/products/products.module.ts
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make class-validator a peer dependency in the API (#2723)
  .changeset/seven-wasps-jump.md
  packages/api/blocks-api/package.json
  packages/api/cms-api/package.json
  pnpm-lock.yaml
Due: prettylint

Resolve conflicts
  demo/api/src/news/blocks/news-list.block.ts
  demo/api/src/pages/blocks/columns.block.ts
  docs/docs/blocks/block-factories.mdx
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-react-select/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin-theme/package.json
  packages/admin/admin/package.json
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/src/contentScope/ContentScopeSelect.tsx
  packages/admin/cms-admin/src/contentScope/Provider.tsx
  packages/admin/cms-admin/src/userPermissions/UserPermissionsPage.tsx
  packages/api/blocks-api/CHANGELOG.md
  packages/api/blocks-api/package.json
  packages/api/cms-api/package.json
  pnpm-lock.yaml
  project-words.txt
  storybook/src/docs/components/Selection/Selection.stories.tsx
  storybook/src/docs/components/Selection/stories/Selection.stories.tsx
  storybook/src/docs/components/Selection/stories/SelectionRoute.stories.tsx
  storybook/src/docs/components/Selection/stories/useSelection.stories.tsx
  storybook/src/docs/components/Selection/stories/useSelectionRoute.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update class-validator in the Admin (#2724)
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint

Disable reviewer auto-assigning for Renovate
  .github/auto_assign.yml
Due: none

Make sitePreviewSecret mandatory (#2772)
  .changeset/late-hats-explain.md
  demo/api/src/config/environment-variables.ts
  packages/api/cms-api/src/page-tree/page-tree.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove use-debounce package from `@comet/cms-site` (#2702)
  packages/site/cms-site/package.json
  packages/site/cms-site/src/iframebridge/IFrameBridge.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Exchange 'parseISO' with 'new Date'
  demo/admin/src/products/ProductForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix broken changeset
  .changeset/seven-wasps-jump.md
Due: prettylint

Remove `currentUser` option from `createAuthResolver` (#2773)
  .changeset/nervous-otters-hunt.md
  packages/api/cms-api/src/auth/resolver/auth.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add basic layout block (#2765)
  demo/admin/src/pages/PageContentBlock.tsx
  demo/admin/src/pages/blocks/LayoutBlock.tsx
  demo/api/block-meta.json
  demo/api/src/pages/blocks/layout.block.ts
  demo/api/src/pages/blocks/page-content.block.ts
  demo/site/src/blocks/LayoutBlock.tsx
  demo/site/src/blocks/PageContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Allow empty cell values for select grid cells (#2745)
  .changeset/grumpy-tools-relax.md
  packages/admin/admin/src/dataGrid/renderStaticSelectCell.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix broken changeset (#2782)
  .changeset/seven-wasps-jump.md
Due: prettylint

Disable reviewer auto-assigning for Renovate (#2781)
  .github/auto_assign.yml
Due: none

Upgrade to Nest 10
  demo/api/package.json
  demo/api/schema.gql
  demo/api/src/app.module.ts
  packages/api/cms-api/package.json
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/common/filter/enum.filter.factory.ts
  packages/api/cms-api/src/common/filter/enums.filter.factory.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unused packages
  demo/api/package.json
  packages/api/cms-api/package.json
  pnpm-lock.yaml
Due: prettylint

Add changeset
  .changeset/five-games-refuse.md
Due: prettylint

Fix API Generator position group for Ref fields (#2613)
  .changeset/real-impalas-walk.md
  demo/api/schema.gql
  demo/api/src/products/entities/product-variant.entity.ts
  demo/api/src/products/generated/dto/product-variant.input.ts
  demo/api/src/products/generated/dto/product-variant.sort.ts
  demo/api/src/products/generated/product-variant.resolver.ts
  demo/api/src/products/generated/product-variants.service.ts
  demo/api/src/products/products.module.ts
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator (Future): Allow setting `queryParamsPrefix` in `useDataGridRemote` (#2731)
  demo/admin/src/products/future/ManufacturersGrid.cometGen.ts
  demo/admin/src/products/future/ProductVariantsGrid.cometGen.ts
  demo/admin/src/products/future/ProductsGrid.cometGen.ts
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update form generator for start and end adornments for static and async select fields
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormField.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update select and async select to allow start and end adornments
  packages/admin/admin/src/form/FinalFormSelect.tsx
  packages/admin/admin/src/form/fields/SelectField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/eight-mirrors-breathe.md
Due: prettylint

Add adornment to ProductForm
  demo/admin/src/products/future/ProductForm.cometGen.ts
  demo/admin/src/products/future/generated/ProductForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename to UserPermissionsUser
  .changeset/khaki-vans-sneeze.md
  demo/api/schema.gql
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/user-permissions/dto/current-user.ts
  packages/api/cms-api/src/user-permissions/dto/user.ts
  packages/api/cms-api/src/user-permissions/user.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
