Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

fix: rimraf not working in Demo - admin-generator/api-generator
  demo/admin/package.json
  demo/admin/src/products/future/generated/IdFieldInForm.tsx
  demo/admin/src/products/generated/ProductForm.gql.ts
  demo/admin/src/products/generated/ProductForm.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
  demo/admin/src/products/generated/ProductsPage.tsx
  demo/api/package.json
  docs/docs/1-getting-started/4-crud-generator/1-api-generator.md
  docs/docs/7-migration-guide/migration-from-v4-to-v5.md
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: revert migration guide
  docs/docs/7-migration-guide/migration-from-v4-to-v5.md
Due: prettylint

admin/api generator - change -g indentifier to --glob
  demo/admin/package.json
  demo/api/package.json
Due: prettylint

fix: add wrong formatted file
  demo/admin/src/products/future/generated/IdFieldInForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename to createFieldResolvers
  .changeset/perfect-apricots-wait.md
  packages/api/cms-api/src/file-uploads/file-uploads.config.ts
  packages/api/cms-api/src/file-uploads/file-uploads.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

adjust package.json
  demo/admin/package.json
Due: prettylint

remove not needed before comet-admin-generator
  demo/admin/package.json
Due: prettylint

Admin Generator: Fix problems when formatting source code (#3566)
  packages/admin/admin-generator/src/commands/generate/utils/writeGenerated.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add comment for overriding opacity in FieldSet
  packages/admin/admin/src/common/FieldSet.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove styling used for debugging
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove inline styling, which is included in the styled component
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseFileDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix linting error
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseFileDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add support for 'isAnyOf' filter for string, number, oneToMany and manyToMany types
  packages/api/cms-api/src/common/filter/many-to-many.filter.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
  packages/api/cms-api/src/common/filter/number.filter.ts
  packages/api/cms-api/src/common/filter/one-to-many.filter.ts
  packages/api/cms-api/src/common/filter/string.filter.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

throw an error if path does not start with /
  demo/site/src/util/createSitePath.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/warm-pumas-explain.md
Due: prettylint

Update cms-api schema
  packages/api/cms-api/schema.gql
Due: none

Adapt `FieldSet` styling (#3544)
  .changeset/tough-cherries-provide.md
  packages/admin/admin/src/common/FieldSet.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add @types/node to the migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

add large text example to select options
  storybook/src/admin/form/AllFieldComponents.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

set overflow to hidden and add ellipsis to text-overflow in inputContainer
  packages/admin/admin/src/form/FieldContainer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/gold-windows-fetch.md
Due: prettylint

Change node engine to >=22.0.0
  packages/admin/admin-babel-preset/package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/site/cms-site/package.json
Due: prettylint

add changeset
  .changeset/four-mice-lie.md
Due: prettylint

refactor: createSitePath calls - call with scope object instead of inserting scope.language
  demo/site/src/app/[visibility]/[domain]/[language]/[[...path]]/page.tsx
  demo/site/src/common/blocks/InternalLinkBlock.tsx
  demo/site/src/common/components/Breadcrumbs.fragment.ts
  demo/site/src/common/components/Breadcrumbs.tsx
  demo/site/src/layout/header/PageLink.tsx
  demo/site/src/news/NewsList.tsx
  demo/site/src/news/blocks/NewsLinkBlock.tsx
  demo/site/src/news/blocks/NewsListBlock.tsx
  demo/site/src/util/createSitePath.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

New `SaveButton` based on `FeedbackButton`
  .changeset/cool-items-sit.md
  .changeset/full-keys-smoke.md
  .changeset/tall-rockets-show.md
  demo/admin/src/dam/ImportFromPicsum.tsx
  demo/admin/src/footer/EditFooterPage.tsx
  demo/admin/src/mainMenu/components/EditMainMenuItem.tsx
  packages/admin/admin/src/FinalFormSaveButton.tsx
  packages/admin/admin/src/FinalFormSaveCancelButtonsLegacy.tsx
  packages/admin/admin/src/FinalFormSaveSplitButton.tsx
  packages/admin/admin/src/common/DeleteDialog.tsx
  packages/admin/admin/src/common/buttons/SaveButton.tsx
  packages/admin/admin/src/common/buttons/feedback/FeedbackButton.tsx
  packages/admin/admin/src/common/buttons/save/SaveButton.tsx
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/saveBoundary/SaveBoundarySaveButton.tsx
  packages/admin/admin/src/table/LocalChangesToolbar.tsx
  packages/admin/cms-admin/src/common/useSaveState.tsx
  packages/admin/cms-admin/src/dam/MoveDamItemDialog/MoveDamItemDialog.tsx
  packages/admin/cms-admin/src/pages/createUsePage.tsx
  storybook/src/docs/components/SaveButton/SaveButton.mdx
  storybook/src/docs/components/SaveButton/SaveButton.stories.tsx
  storybook/src/docs/components/Toolbar/Toolbar.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add changeset for new types
  .changeset/fruity-planets-burn.md
Due: prettylint

export static select values type
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

dedupe dependencies
  pnpm-lock.yaml
Due: none

use exit code to check if childprocess was successfull or has error
  packages/api/api-generator/src/commands/generate/watchMode/handleChildProcess.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: update api-generator command in docs
  docs/docs/1-getting-started/4-crud-generator/1-api-generator.md
Due: prettylint

Add sentry codemod
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Move api and admin generator to right sections
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Protect images in site preview
  .changeset/mean-kiwis-tease.md
  demo/api/src/auth/auth.module.ts
  demo/site/src/util/graphQLClient.ts
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
  packages/api/cms-api/src/auth/services/site-preview.auth-service.spec.ts
  packages/api/cms-api/src/auth/services/site-preview.auth-service.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/page-tree/site-preview.resolver.ts
  packages/site/cms-site/src/graphQLFetch/graphQLFetch.ts
  packages/site/cms-site/src/sitePreview/SitePreviewUtils.ts
  packages/site/cms-site/src/sitePreview/appRouter/sitePreviewRoute.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Simplify check
  packages/api/cms-api/src/auth/services/site-preview.auth-service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Feat: Move to DTO
  demo/api/src/importer/decorators/csv-column.decorator.ts
  demo/api/src/importer/decorators/field-transformer.decorator.ts
  demo/api/src/importer/entities/target-entity.utils.ts
  demo/api/src/importer/pipes/parsers/csv-parser-and-transform.composite-pipe.ts
  demo/api/src/importer/pipes/parsers/data-transformer.pipe.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/product-importer.input.ts
  demo/api/src/products/product-importer.ts
  demo/api/src/products/products.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor: Remove unused options in transform pipe
  demo/api/src/importer/pipes/parsers/csv-parser-and-transform.composite-pipe.ts
  demo/api/src/importer/pipes/parsers/data-transformer.pipe.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Feat: Convert TargetEntity to TargetInput
  demo/api/src/importer/decorators/csv-column.decorator.ts
  demo/api/src/importer/decorators/target-input.decorator.ts
  demo/api/src/importer/entities/base-import-target.entity.ts
  demo/api/src/importer/entities/target-entity.utils.ts
  demo/api/src/importer/importer-input.type.ts
  demo/api/src/importer/pipes/parsers/csv-parser-and-transform.composite-pipe.ts
  demo/api/src/importer/pipes/parsers/data-transformer.pipe.ts
  demo/api/src/products/product-importer.input.ts
  demo/api/src/products/product-importer.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Feat: Extract Validation into it's own pipe
  demo/api/src/importer/pipes/parsers/csv-parser-and-transform.composite-pipe.ts
  demo/api/src/importer/pipes/parsers/data-transformer.pipe.ts
  demo/api/src/importer/pipes/parsers/data-validator.pipe.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Feat: remove base import entity
  demo/api/src/importer/entities/base-import-target.entity.ts
  demo/api/src/importer/import-entity.type.ts
  demo/api/src/products/entities/product.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
