Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: add InlineErrorProps and InlineErrorClassKeys to public api
  packages/admin/admin/src/error/inlineError/InlineError.tsx
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: rename InlineError to InlineAlert
  .changeset/new-parrots-learn.md
  packages/admin/admin/src/error/inlineError/InlineError.styles.ts
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/inlineAlert/InlineAlert.styles.ts
  packages/admin/admin/src/inlineAlert/InlineAlert.tsx
  storybook/src/admin/inlineAlert/InlineAlert.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: broken graphql-codegen-watch script
  packages/admin/cms-admin/package.json
Due: prettylint

fix: update api schema
  demo/api/schema.gql
Due: none

fix using wrong warning severity
  demo/admin/src/warnings/WarningsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

api-generator / admin-generator rerun
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix and refactor insert-in-between actions
  packages/admin/cms-admin/src/blocks/common/blockRow/BlockRow.sc.ts
  packages/admin/cms-admin/src/blocks/common/blockRow/BlockRow.tsx
  packages/admin/cms-admin/src/blocks/common/blockRow/InsertInBetweenAction.sc.ts
  packages/admin/cms-admin/src/blocks/common/blockRow/InsertInBetweenAction.tsx
  packages/admin/cms-admin/src/blocks/common/blockRow/InsertInBetweenActionButton.tsx
  packages/admin/cms-admin/src/common/InsertInBetweenAction.tsx
  packages/admin/cms-admin/src/common/InsertInBetweenActionButton.tsx
  packages/admin/cms-admin/src/pages/pageTree/InsertInBetweenAction/Button.tsx
  packages/admin/cms-admin/src/pages/pageTree/InsertInBetweenAction/InsertInBetweenAction.sc.ts
  packages/admin/cms-admin/src/pages/pageTree/InsertInBetweenAction/InsertInBetweenAction.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTreeRow.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTreeService.ts
  packages/admin/cms-admin/src/pages/pageTree/useButtonHoverStates.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix using wrong warning severity (#3694)
  demo/admin/src/warnings/WarningsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo API: Update schema.gql (#3693)
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/api/schema.gql
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix broken `gql:watch` script (#3692)
  packages/admin/cms-admin/package.json
Due: prettylint

Move warnings code to library in admin
  demo/admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/warnings/WarningsGrid.tsx
  packages/admin/cms-admin/src/warnings/WarningsPage.tsx
  packages/admin/cms-admin/src/warnings/warningMessages.tsx
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

api-generator remove special status logic
  demo/api/schema.gql
  demo/api/src/news/generated/dto/news-list.args.ts
  demo/api/src/news/generated/news.resolver.ts
  demo/api/src/products/generated/dto/products.args.ts
  demo/api/src/products/generated/product.resolver.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add changeset
  .changeset/thick-rocks-shave.md
Due: prettylint

Move Admin warnings code to library (#3695)
  demo/admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/warnings/WarningsGrid.tsx
  packages/admin/cms-admin/src/warnings/WarningsPage.tsx
  packages/admin/cms-admin/src/warnings/warningMessages.tsx
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set correct width for actions column and use `MainContent` as the wrapper
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.sc.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix styling while a file is being dragged over the grid
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.sc.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: mention change in migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Revert "Implement dynamic module initialization"
  demo/api/src/app.module.ts
  demo/api/src/redirects/redirect-target-url.module.ts
  packages/api/cms-api/src/redirects/redirects.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove TODO about dynamic module initialization
  packages/api/cms-api/src/redirects/redirects.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add missing `DialogContent` components
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/pages/pagesPage/PagesPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: remove status related unit tests
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-update-status.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Change service option to uppercase
  demo/api/src/app.module.ts
  docs/docs/3-features-modules/10-redirects/index.md
  packages/api/cms-api/src/redirects/redirects.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add updated demo schema
  demo/api/schema.gql
Due: none

Fix spacings in Toolbar of DAM
  packages/admin/cms-admin/src/dam/DataGrid/filter/DamTableFilter.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix TargetUrlService casing in changeset
  .changeset/warm-jeans-cheer.md
Due: prettylint

Slightly improve the ImportFromPicsum dialog
  demo/admin/src/dam/ImportFromPicsum.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add video/webm to allowedMimetypes of DamVideoBlock
  .changeset/blind-eyes-see.md
  packages/admin/cms-admin/src/blocks/DamVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make selects in `createSeoBlock` required
  packages/admin/cms-admin/src/blocks/createSeoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Match both absolute and relative URLs
  packages/api/cms-api/src/redirects/redirects.util.test.ts
  packages/api/cms-api/src/redirects/redirects.util.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Don't unnecessarily render an empty `UserGroupChip`
  demo/admin/src/userGroups/UserGroupChip.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add support for `isAnyOf` filter to missing types (#3588)
  .changeset/warm-pumas-explain.md
  demo/api/schema.gql
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/common/filter/many-to-many.filter.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
  packages/api/cms-api/src/common/filter/number.filter.ts
  packages/api/cms-api/src/common/filter/one-to-many.filter.ts
  packages/api/cms-api/src/common/filter/string.filter.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add support for isAnyOf in StringFilter
  packages/api/cms-api/src/redirects/redirects.util.test.ts
  packages/api/cms-api/src/redirects/redirects.util.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/thick-rocks-shave.md
Due: prettylint

Don't unnecessarily render an empty `UserGroupChip` (#3703)
  demo/admin/src/userGroups/UserGroupChip.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

API Generator: Remove special `status` field behavior (#3696)
  .changeset/thick-rocks-shave.md
  demo/api/schema.gql
  demo/api/src/news/generated/dto/news-list.args.ts
  demo/api/src/news/generated/news.resolver.ts
  demo/api/src/products/generated/dto/products.args.ts
  demo/api/src/products/generated/product.resolver.ts
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-update-status.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make selects in `createSeoBlock` required (#3702)
  packages/admin/cms-admin/src/blocks/createSeoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Slightly improve the ImportFromPicsum dialog (#3700)
  demo/admin/src/dam/ImportFromPicsum.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix spacings in Toolbar of DAM (#3699)
  packages/admin/cms-admin/src/dam/DataGrid/filter/DamTableFilter.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add missing `DialogContent` components (#3698)
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/pages/pagesPage/PagesPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fixes for DAM `DataGrid` (#3697)
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.sc.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
