Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set `referrerPolicy="strict-origin-when-cross-origin"` in the `YouTubeVideoBlock`
  .changeset/late-boxes-laugh.md
  .cspellignore
  packages/site/site-nextjs/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Copy security headers from starter
  .env
  demo/admin/server/index.js
  demo/api/package.json
  demo/api/src/app.module.ts
  demo/api/src/config/config.ts
  demo/api/src/config/environment-variables.ts
  demo/api/src/main.ts
  demo/site/next.config.mjs
  demo/site/src/middleware.ts
  demo/site/src/middleware/contentSecurityPolicyHeaders.ts
  demo/site/src/middleware/cspHeaders.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Api Generator: Fix import path for relations targeting entitiy from cms-api
  .changeset/cyan-yaks-fail.md
  demo/api/src/products/generated/product.resolver.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

allow multiple site preview secrets
  demo/api/src/app.module.ts
  packages/api/cms-api/src/page-tree/page-tree.module.ts
  packages/api/cms-api/src/page-tree/site-preview.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/dull-garlics-cheer.md
Due: prettylint

update values after merging current main branch
  demo/site/src/styles/global.scss
Due: prettylint

remove font variables
  demo/site/src/styles/global.scss
Due: prettylint

rework typography
  demo/site/src/common/components/Typography.module.scss
  demo/site/src/common/components/Typography.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

replace variable names
  demo/site/src/common/blocks/AccordionBlock.module.scss
  demo/site/src/common/blocks/AccordionItemBlock.module.scss
  demo/site/src/common/blocks/MediaGalleryBlock.module.scss
  demo/site/src/common/blocks/RichTextBlock.module.scss
  demo/site/src/common/components/Breadcrumbs.module.scss
  demo/site/src/common/components/Button.module.scss
  demo/site/src/common/helpers/CookiePlaceholders.module.scss
  demo/site/src/documents/pages/blocks/BasicStageBlock.module.scss
  demo/site/src/documents/pages/blocks/BillboardTeaserBlock.module.scss
  demo/site/src/documents/pages/blocks/ContentGroupBlock.module.scss
  demo/site/src/documents/pages/blocks/KeyFactItemBlock.module.scss
  demo/site/src/documents/pages/blocks/TeaserItemBlock.module.scss
  demo/site/src/layout/footer/blocks/FooterContentBlock.module.scss
  demo/site/src/layout/header/DesktopMenu.module.scss
  demo/site/src/layout/header/Header.module.scss
  demo/site/src/layout/header/MobileMenu.module.scss
  demo/site/src/layout/topNavigation/TopNavigation.module.scss
  demo/site/src/news/NewsPage.module.scss
  demo/site/src/styles/global.scss
Due: prettylint

undo unintentional changes in class name
  demo/site/src/documents/pages/blocks/ContentGroupBlock.module.scss
Due: prettylint

fix remaining variables
  demo/site/src/common/blocks/AccordionItemBlock.module.scss
  demo/site/src/common/components/Button.module.scss
  demo/site/src/styles/global.scss
Due: prettylint

remove common colors
  demo/site/src/styles/global.scss
Due: prettylint

update theme colors
  demo/site/src/styles/global.scss
Due: prettylint

fix lint errors
  demo/site/src/styles/global.scss
Due: prettylint

add font variables
  demo/site/src/styles/global.scss
Due: prettylint

rename contrast variables
  demo/site/src/common/blocks/AccordionItemBlock.module.scss
  demo/site/src/common/components/Button.module.scss
  demo/site/src/documents/pages/blocks/BasicStageBlock.module.scss
  demo/site/src/documents/pages/blocks/BillboardTeaserBlock.module.scss
  demo/site/src/documents/pages/blocks/ContentGroupBlock.module.scss
  demo/site/src/layout/topNavigation/TopNavigation.module.scss
  demo/site/src/styles/global.scss
Due: prettylint

fix focus variable
  demo/site/src/styles/global.scss
Due: prettylint

remove font variable
  demo/site/src/styles/global.scss
Due: prettylint

rename variable according to design
  demo/site/src/styles/global.scss
Due: prettylint

add theme variables
  demo/site/src/styles/theme.scss
Due: prettylint

Use new postgres image in docker compose
  docker-compose.yml
Due: none

Use my changeset action fork to fix tagging
  .github/workflows/release.yml
Due: none

Fix dependencies in the api-generator package
  packages/api/api-generator/package.json
  packages/api/api-generator/tsconfig.build.json
  pnpm-lock.yaml
Due: prettylint

Add changeset
  .changeset/stale-times-fall.md
Due: prettylint

Fix entry point files in package.json
  packages/api/api-generator/package.json
Due: prettylint

Block Loader: in BlockPreview call loader using BFF that then can call the loader server side
  demo/site/src/app/block-preview/[domain]/[language]/footer/page.tsx
  demo/site/src/app/block-preview/[domain]/[language]/page/page.tsx
  demo/site/src/app/block-preview/load-block-data/route.tsx
  demo/site/src/util/recursivelyLoadBlockData.ts
  packages/admin/cms-admin/src/blocks/iframebridge/IFrameBridge.tsx
  packages/admin/cms-admin/src/blocks/iframebridge/IFrameMessage.ts
  packages/admin/cms-admin/src/preview/block/BlockPreview.tsx
  packages/site/site-nextjs/src/index.ts
  packages/site/site-react/src/blockLoader/blockLoader.ts
  packages/site/site-react/src/graphQLFetch/fetchInMemoryCache.ts
  packages/site/site-react/src/iframebridge/IFrameBridge.tsx
  packages/site/site-react/src/iframebridge/IFrameMessage.ts
  packages/site/site-react/src/iframebridge/useBlockPreviewFetch.tsx
  packages/site/site-react/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set OAUTH2_PROXY_SKIP_AUTH_PREFLIGHT to true
  .env
Due: none

Replace MailHog with Mailpit (#4668)
  .cspellignore
  docker-compose.yml
  docs/docs/3-features-modules/11-mailer-module/index.md
Due: prettylint

Use new postgres image in docker compose (v7) (#4701)
  docker-compose.yml
Due: none

Set `referrerPolicy="strict-origin-when-cross-origin"` in the `YouTubeVideoBlock` (v7) (#4703)
  .changeset/late-boxes-laugh.md
  .cspellignore
  packages/site/site-nextjs/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use my changeset action fork to fix tagging (v7) (#4702)
  .github/workflows/release.yml
Due: none

Improve changeset
  .changeset/cyan-yaks-fail.md
Due: prettylint

chore: upgrade Node.js to v24
  .github/workflows/build-docs.yml
  .github/workflows/i18n.yml
  .github/workflows/lint.yml
  .github/workflows/peer-deps-check.yml
  .github/workflows/release-beta.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/validate-renovate-config.yml
  .nvmrc
  demo/admin/package.json
  demo/admin/server/package.json
  demo/api/package.json
  demo/site-pages/package.json
  demo/site/package.json
  package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint

Upgrade Node.js to v24 (#4688)
  .github/workflows/build-docs.yml
  .github/workflows/i18n.yml
  .github/workflows/lint.yml
  .github/workflows/peer-deps-check.yml
  .github/workflows/release-beta.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/validate-renovate-config.yml
  .nvmrc
  demo/admin/package.json
  demo/admin/server/package.json
  demo/api/package.json
  demo/site-pages/package.json
  demo/site/package.json
  package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint

API Generator: fix import path for relations targeting entity from cms-api (#4698)
  .changeset/cyan-yaks-fail.md
  demo/api/src/products/generated/product.resolver.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move PNPM-specific settings into config file
  .npmrc
  pnpm-workspace.yaml
Due: none

Set `referrerPolicy="strict-origin-when-cross-origin"` in the `YouTubeVideoBlock` (#4696)
  .changeset/late-boxes-laugh.md
  .cspellignore
  packages/site/site-nextjs/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: file upload preview
  demo/admin/server/index.js
Due: prettylint

Update @apollo/server to v5 in demo api
  demo/api/package.json
  pnpm-lock.yaml
Due: prettylint

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
