Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

rename ChooseButton to ChooseFilesButton
  demo/site/src/common/components/form/ChooseFilesButton.module.scss
  demo/site/src/common/components/form/ChooseFilesButton.tsx
  demo/site/src/common/components/form/FileUploadField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

create FileList component instead of FileItem
  demo/site/src/common/components/form/FileItem.tsx
  demo/site/src/common/components/form/FileList.module.scss
  demo/site/src/common/components/form/FileList.tsx
  demo/site/src/common/components/form/FileUploadField.module.scss
  demo/site/src/common/components/form/FileUploadField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove useFileUpload and shift logic back to form using useController
  demo/site/src/common/components/form/FileList.tsx
  demo/site/src/common/components/form/FileUploadField.tsx
  demo/site/src/common/components/form/useFileUpload.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Run Storybook and docs CI for pull requests targeting any branch
  .github/workflows/build-docs.yml
  .github/workflows/chromatic.yml
Due: none

Exclude Storybook and test files from published package builds
  .changeset/keep-build-artifacts-out-of-bundle.md
  packages/admin/admin/.babelrc.build.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/.babelrc.build.json
  packages/admin/cms-admin/package.json
  packages/cli/package.json
  packages/cli/tsconfig.build.json
  packages/mail-react/package.json
  packages/mail-react/tsconfig.build.json
Due: prettylint

cms-api: Add pgMemento action-log prototype
  .changeset/pgmemento-action-log-prototype.md
  packages/api/cms-api/src/action-logs-pgmemento/README.md
  packages/api/cms-api/src/action-logs-pgmemento/mapped-action-log.ts
  packages/api/cms-api/src/action-logs-pgmemento/pgmemento-action-logs.module.ts
  packages/api/cms-api/src/action-logs-pgmemento/pgmemento-action-logs.resolver.factory.ts
  packages/api/cms-api/src/action-logs-pgmemento/pgmemento-action-logs.resolver.ts
  packages/api/cms-api/src/action-logs-pgmemento/pgmemento-action-logs.service.ts
  packages/api/cms-api/src/action-logs-pgmemento/pgmemento-session.subscriber.ts
  packages/api/cms-api/src/action-logs-pgmemento/pgmemento-setup.service.ts
  packages/api/cms-api/src/action-logs-pgmemento/pgmemento-sql/README.md
  packages/api/cms-api/src/action-logs-pgmemento/pgmemento.constants.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Move Future UI story-only helpers to an unpublished directory
  packages/admin/admin/.babelrc.build.json
  packages/admin/admin/.babelrc.json
  packages/admin/admin/package.json
  packages/admin/admin/src/future-ui/components/button/__stories__/Button.stories.tsx
  packages/admin/admin/src/future-ui/components/typography/__stories__/Typography.stories.tsx
  packages/admin/admin/src/future-ui/storybook/cssVarsProviderDecorator.tsx
  packages/admin/admin/tsconfig.build.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Add a theme system to Future UI
  knip.json
  packages/admin/admin/src/future-ui/README.md
  packages/admin/admin/src/future-ui/components/button/Button.module.scss
  packages/admin/admin/src/future-ui/components/button/__stories__/Button.stories.tsx
  packages/admin/admin/src/future-ui/components/cssVarsProvider/CssVarsProvider.module.scss
  packages/admin/admin/src/future-ui/components/cssVarsProvider/CssVarsProvider.tsx
  packages/admin/admin/src/future-ui/components/cssVarsProvider/__stories__/CssVarsProvider.stories.tsx
  packages/admin/admin/src/future-ui/components/cssVarsProvider/__stories__/themeOverrides.module.scss
  packages/admin/admin/src/future-ui/components/typography/Typography.module.scss
  packages/admin/admin/src/future-ui/components/typography/__stories__/Typography.stories.tsx
  packages/admin/admin/src/future-ui/index.ts
  packages/admin/admin/src/future-ui/utils/cssVarsProviderDecorator.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Run Storybook and docs CI for pull requests targeting any branch (#5931)
  .github/workflows/build-docs.yml
  .github/workflows/chromatic.yml
Due: none

Exclude Storybook and test files from published package builds (#5932)
  .changeset/keep-build-artifacts-out-of-bundle.md
  packages/admin/admin/.babelrc.build.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/.babelrc.build.json
  packages/admin/cms-admin/package.json
  packages/cli/package.json
  packages/cli/tsconfig.build.json
  packages/mail-react/package.json
  packages/mail-react/tsconfig.build.json
Due: prettylint

Remove React Router renovate config group
  renovate/default.json
Due: prettylint

Renovate: remove React Router group (#5935)
  renovate/default.json
Due: prettylint

demo: Render product-published mail lazily to avoid loading MJML at startup
  demo/api/src/products/published-mail/product-published.mail.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add comet-admin-ui skill scaffold (#5927)
  skills/comet-admin-ui/SKILL.md
Due: prettylint

cms-api, site-react, demo: Load TipTapRichTextBlock child blocks via BlockLoader
  .changeset/block-loader-rich-text-child-blocks.md
  demo/admin/src/common/blocks/TipTapRichTextBlock.tsx
  demo/admin/src/products/blocks/ProductTeaserBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/tip-tap-rich-text.block.ts
  demo/api/src/products/blocks/product-teaser.block.ts
  demo/site/src/common/blocks/TipTapRichTextBlock.tsx
  demo/site/src/products/blocks/ProductTeaserBlock.loader.ts
  demo/site/src/products/blocks/ProductTeaserBlock.tsx
  demo/site/src/util/recursivelyLoadBlockData.ts
  packages/api/cms-api/src/blocks/block.ts
  packages/api/cms-api/src/blocks/blocks-meta.ts
  packages/api/cms-api/src/blocks/decorators/field.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/cli/src/BlockMeta.ts
  packages/cli/src/commands/generate-block-types.ts
  packages/site/site-react/src/blockLoader/blockLoader.test.ts
  packages/site/site-react/src/blockLoader/blockLoader.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Rename Future UI's CssVarsProvider to Theme
  packages/admin/admin/src/future-ui/README.md
  packages/admin/admin/src/future-ui/components/button/__stories__/Button.stories.tsx
  packages/admin/admin/src/future-ui/components/theme/Theme.module.scss
  packages/admin/admin/src/future-ui/components/theme/Theme.tsx
  packages/admin/admin/src/future-ui/components/theme/__stories__/Theme.stories.tsx
  packages/admin/admin/src/future-ui/components/theme/__stories__/themeOverrides.module.scss
  packages/admin/admin/src/future-ui/components/typography/__stories__/Typography.stories.tsx
  packages/admin/admin/src/future-ui/index.ts
  packages/admin/admin/src/future-ui/storybook/cssVarsProviderDecorator.tsx
  packages/admin/admin/src/future-ui/storybook/themeDecorator.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add styling and theme guidance to comet-admin-ui skill
  skills/comet-admin-ui/SKILL.md
Due: prettylint

admin: Type slot props from the element chosen in slots (#5914)
  packages/admin/admin/src/future-ui/README.md
  packages/admin/admin/src/future-ui/components/button/Button.test.tsx
  packages/admin/admin/src/future-ui/components/button/Button.tsx
  packages/admin/admin/src/future-ui/utils/slotProps.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Add story and design-panel conventions to Future UI
  packages/admin/admin/.storybook/main.ts
  packages/admin/admin/package.json
  packages/admin/admin/src/future-ui/README.md
  packages/admin/admin/src/future-ui/components/button/Button.tsx
  packages/admin/admin/src/future-ui/components/button/__stories__/Button.stories.tsx
  packages/admin/admin/src/future-ui/components/button/__stories__/customization.dev.module.scss
  packages/admin/admin/src/future-ui/components/button/__stories__/customization.dev.stories.tsx
  packages/admin/admin/src/future-ui/components/typography/__stories__/Typography.stories.tsx
  packages/admin/admin/src/future-ui/storybook/figmaDesign.ts
  pnpm-lock.yaml
  storybook/.storybook/main.ts
  storybook/package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Move Future UI owner-state styling to data-attributes
  packages/admin/admin/.storybook/main.ts
  packages/admin/admin/src/future-ui/README.md
  packages/admin/admin/src/future-ui/components/button/Button.module.scss
  packages/admin/admin/src/future-ui/components/button/Button.tsx
  packages/admin/admin/src/future-ui/components/button/__stories__/customization.dev.module.scss
  packages/admin/admin/src/future-ui/components/typography/Typography.module.scss
  packages/admin/admin/src/future-ui/components/typography/Typography.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Block form submission while FileUploadField is uploading
  .changeset/file-upload-loading-state.md
  packages/admin/cms-admin/src/form/file/FileUploadField.tsx
  packages/admin/cms-admin/src/form/file/FinalFormFileUpload.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Load jsdom lazily for SVG validation
  .changeset/lazy-load-jsdom-svg-validation.md
  packages/api/cms-api/src/file-utils/file-validation.service.ts
  packages/api/cms-api/src/file-utils/files.utils.spec.ts
  packages/api/cms-api/src/file-utils/files.utils.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Load openai lazily in AzureOpenAiContentGenerationService
  .changeset/lazy-load-openai-client.md
  packages/api/cms-api/src/content-generation/azure-open-ai/azure-open-ai-content-generation.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Load @kubernetes/client-node lazily in KubernetesService
  .changeset/lazy-load-kubernetes-client.md
  packages/api/cms-api/src/kubernetes/kubernetes.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Fix Storybook Code panel for stories with a custom render
  packages/admin/admin/.storybook/preview.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: Render product-published mail lazily to avoid loading MJML at startup (#5941)
  demo/api/src/products/published-mail/product-published.mail.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Load openai lazily in AzureOpenAiContentGenerationService (#5939)
  .changeset/lazy-load-openai-client.md
  packages/api/cms-api/src/content-generation/azure-open-ai/azure-open-ai-content-generation.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Load @kubernetes/client-node lazily in KubernetesService (#5938)
  .changeset/lazy-load-kubernetes-client.md
  packages/api/cms-api/src/kubernetes/kubernetes.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add styling and theme guidance to comet-admin-ui skill (#5942)
  skills/comet-admin-ui/SKILL.md
Due: prettylint

cms-api: Load dompurify lazily alongside jsdom for SVG validation
  packages/api/cms-api/src/file-utils/files.utils.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Build with tsdown to support CSS Modules in the published package
  .changeset/admin-tsdown-build-css-modules.md
  packages/admin/admin/.babelrc.build.json
  packages/admin/admin/.babelrc.json
  packages/admin/admin/package.json
  packages/admin/admin/src/css-modules.d.ts
  packages/admin/admin/tsdown.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add styled-component placement conventions to comet-admin-ui skill
  skills/comet-admin-ui/SKILL.md
Due: prettylint

ci: Add cms-api base memory regression check
  .github/workflows/cms-api-memory.yml
  scripts/measure-cms-api-memory.cjs
Due: none

Export `singleSelect` DataGrid values as labels in Excel (#5948)
  .changeset/excel-export-single-select-label.md
  packages/admin/admin/src/dataGrid/excelExport/generateExcelFile.test.ts
  packages/admin/admin/src/dataGrid/excelExport/generateExcelFile.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Load jsdom lazily for SVG validation (#5937)
  .changeset/lazy-load-jsdom-svg-validation.md
  packages/api/cms-api/src/file-utils/file-validation.service.ts
  packages/api/cms-api/src/file-utils/files.utils.spec.ts
  packages/api/cms-api/src/file-utils/files.utils.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Re-expand tree when navigating page search matches after collapse
  .changeset/fix-page-search-expand-after-collapse-all.md
  packages/admin/cms-admin/src/pages/pageSearch/usePageSearch.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Show the render body in the Storybook Code panel
  packages/admin/admin/.storybook/preview.ts
  packages/admin/admin/.storybook/renderBodySource.ts
  packages/admin/admin/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
