Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove graphql-type-json from dmeo
  demo/api/package.json
  pnpm-lock.yaml
Due: prettylint

Add changeset
  .changeset/small-eggs-learn.md
Due: prettylint

Regenerate library schema.gql
  packages/api/cms-api/schema.gql
Due: none

Add `YouTube` and `Vimeo` icons (#2209)
  .changeset/wicked-bananas-accept.md
  packages/admin/admin-icons/icons/vimeo.svg
  packages/admin/admin-icons/icons/you-tube.svg
Due: prettylint

Remove new occurrence of graphql-type-json
  packages/api/cms-api/src/auth/resolver/auth.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Extend changeset
  .changeset/small-eggs-learn.md
Due: prettylint

Fix Drag and Drop on mobile devices (#2204)
  demo/admin/package.json
  demo/admin/src/App.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make menu icon required for top level menu items and group items (#2146)
  .changeset/fuzzy-foxes-laugh.md
  demo/admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/common/MasterMenuRoutes.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove(DamVideoBlock): label from file fields
  packages/admin/cms-admin/src/blocks/DamVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(DamVideoBlock): add changeset for #2211
  .changeset/flat-cups-cough.md
Due: prettylint

do not export phone number constraint
  packages/api/cms-api/src/common/validators/is-phone-number.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix code block in changeset
  .changeset/small-eggs-learn.md
Due: prettylint

add changeset for exported validation from cms-api
  .changeset/fifty-lemons-work.md
Due: prettylint

Remove label from file fields in DamVideoBlock (#2211)
  .changeset/flat-cups-cough.md
  packages/admin/cms-admin/src/blocks/DamVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix dnd-core peer dependency react-dnd-multi-backend needs dnd-core@16
  demo/admin/package.json
  pnpm-lock.yaml
Due: prettylint

Rename `DateFilter` to `DateTimeFilter` (#2192)
  .changeset/long-bottles-brush.md
  demo/api/schema.gql
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/products/generated/dto/manufacturer.filter.ts
  demo/api/src/products/generated/dto/product-category.filter.ts
  demo/api/src/products/generated/dto/product-tag.filter.ts
  demo/api/src/products/generated/dto/product-variant.filter.ts
  demo/api/src/products/generated/dto/product.filter.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/common/filter/date-time.filter.ts
  packages/api/cms-api/src/common/filter/mikro-orm.spec.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
  packages/api/cms-api/src/generator/generate-crud.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/redirects/dto/redirects.filter.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move note about phone number validators into separate changeset
  .changeset/fifty-lemons-work.md
  .changeset/purple-scissors-brake.md
Due: prettylint

Add phone and email link block (#2142)
  .changeset/fifty-lemons-work.md
  .changeset/purple-scissors-brake.md
  demo/admin/src/common/blocks/LinkBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/linkBlock/link.block.ts
  demo/site/src/blocks/LinkBlock.tsx
  packages/admin/cms-admin/src/blocks/EmailLinkBlock.tsx
  packages/admin/cms-admin/src/blocks/PhoneLinkBlock.tsx
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/validation/isLinkTarget.ts
  packages/admin/cms-admin/src/validation/isPhoneNumber.ts
  packages/admin/cms-admin/src/validation/validatePhoneNumber.tsx
  packages/api/blocks-api/block-meta.json
  packages/api/blocks-api/src/blocks/ExternalLinkBlock.ts
  packages/api/blocks-api/src/blocks/validator/is-link-target.validator.ts
  packages/api/blocks-api/src/blocks/validator/is-phone-number.validator.ts
  packages/api/cms-api/block-meta.json
  packages/api/cms-api/generate-block-meta.ts
  packages/api/cms-api/src/blocks/email-link.block.ts
  packages/api/cms-api/src/blocks/phone-link.block.ts
  packages/api/cms-api/src/common/validators/is-phone-number.ts
  packages/api/cms-api/src/index.ts
  packages/site/cms-site/src/blocks/EmailLinkBlock.tsx
  packages/site/cms-site/src/blocks/PhoneLinkBlock.tsx
  packages/site/cms-site/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor: Replace graphql-type-json with graphql-scalars (#2191)
  .changeset/small-eggs-learn.md
  demo/api/package.json
  packages/api/cms-api/package.json
  packages/api/cms-api/src/auth/resolver/auth.resolver.ts
  packages/api/cms-api/src/blocks/rootBlocks/root-block-data.scalar.ts
  packages/api/cms-api/src/blocks/rootBlocks/root-block-input.scalar.ts
  packages/api/cms-api/src/dam/files/entities/file-image.entity.ts
  packages/api/cms-api/src/generator/generate-crud-input.ts
  packages/api/cms-api/src/redirects/dto/redirect-input.factory.ts
  packages/api/cms-api/src/redirects/entities/redirect-entity.factory.ts
  packages/api/cms-api/src/user-permissions/dto/current-user.ts
  packages/api/cms-api/src/user-permissions/dto/user-content-scopes.input.ts
  packages/api/cms-api/src/user-permissions/dto/user-permission.input.ts
  packages/api/cms-api/src/user-permissions/entities/user-permission.entity.ts
  packages/api/cms-api/src/user-permissions/user-content-scopes.resolver.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Multiple small improvements
  docs/docs/user-permissions/access-control.md
  docs/docs/user-permissions/index.md
Due: prettylint

Fix dnd-core peer dependency (#2212)
  demo/admin/package.json
  pnpm-lock.yaml
Due: prettylint

Add loading indicator for when the file is downloading
  packages/admin/admin/src/form/file/FileSelectListItem.tsx
  packages/admin/admin/src/form/file/fileSelectItemTypes.ts
  storybook/src/docs/components/FileSelectListItem/FileSelectListItem.stories.mdx
  storybook/src/docs/components/FileSelectListItem/FileSelectListItem.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use a fragment based on `PublicUpload` as the file-value instead of just the ID string
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  packages/admin/admin/src/form/file/FinalFormFileUpload.tsx
  packages/admin/admin/src/index.ts
  packages/api/cms-api/src/public-upload/public-uploads.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Handle error when download fails
  packages/admin/admin/src/form/file/FinalFormFileUpload.tsx
  packages/api/cms-api/src/public-upload/public-uploads.controller.ts
  packages/api/cms-api/src/public-upload/public-uploads.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix infinite update loop in `useAsyncOptionsProps` Caused by `loadOptions` changing for each render. Fixed by loading options in the event handler and not in the effect.
  .changeset/yellow-ligers-explode.md
  packages/admin/admin/src/hooks/useAsyncOptionsProps.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/yellow-ligers-explode.md
  .changeset/yellow-ligers-explode.md
Due: prettylint

Move FinalFormFileUpload into cms-admin
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  packages/admin/admin/src/index.ts
  packages/admin/cms-admin/src/form/file/FinalFormFileUpload.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update Demo block-meta.json
  demo/api/block-meta.json
Due: prettylint

Fix infinite update loop in `useAsyncOptionsProps` (#2213)
  .changeset/yellow-ligers-explode.md
  packages/admin/admin/src/hooks/useAsyncOptionsProps.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update Demo block-meta.json (#2214)
  demo/api/block-meta.json
Due: prettylint

Demo: Implement dependent async-select
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix handling of single file in form-values
  demo/admin/src/products/ProductForm.tsx
  packages/admin/cms-admin/src/form/file/FinalFormFileUpload.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add story for ChipSelect
  storybook/src/admin/form/ChipSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Support position-field with drag-and-drop in grid
  demo/admin/src/products/categories/ProductCategoriesTable.tsx
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20240624100640.ts
  demo/api/src/products/entities/product-category.entity.ts
  demo/api/src/products/generated/dto/product-category.filter.ts
  demo/api/src/products/generated/dto/product-category.input.ts
  demo/api/src/products/generated/dto/product-category.sort.ts
  demo/api/src/products/product-category.resolver.ts
  demo/api/src/products/products.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add capability to generate alt texts and titles for images in DAM (#1712)
  .changeset/great-mirrors-provide.md
  demo/admin/src/App.tsx
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/config/config.ts
  demo/api/src/config/environment-variables.ts
  demo/api/src/content-generation/content-generation.service.ts
  docs/docs/content-generation/index.md
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
  packages/admin/cms-admin/src/dam/FileForm/FileSettingsFields.gql.ts
  packages/admin/cms-admin/src/dam/FileForm/FileSettingsFields.tsx
  packages/admin/cms-admin/src/dam/config/DamConfigContext.tsx
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/package.json
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/content-generation/azure-open-ai/azure-open-ai-content-generation.module.ts
  packages/api/cms-api/src/content-generation/azure-open-ai/azure-open-ai-content-generation.service.ts
  packages/api/cms-api/src/content-generation/azure-open-ai/azure-open-ai.constants.ts
  packages/api/cms-api/src/content-generation/content-generation-service.interface.ts
  packages/api/cms-api/src/content-generation/content-generation.constants.ts
  packages/api/cms-api/src/content-generation/content-generation.module.ts
  packages/api/cms-api/src/content-generation/generate-alt-text.resolver.ts
  packages/api/cms-api/src/content-generation/generate-image-title.resolver.ts
  packages/api/cms-api/src/dam/files/files.service.ts
  packages/api/cms-api/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

First version of Migration Guide v6 -> v7 (#2117)
  .changeset/calm-plums-taste.md
  .changeset/clean-apes-vanish.md
  .changeset/rare-crabs-burn.md
  docs/docs/migration/migration-from-v6-to-v7.md
Due: prettylint

Remove peer dependency on `@comet/admin-theme` (#2217)
  .changeset/brave-carpets-talk.md
  .changeset/cold-humans-pull.md
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint

Move ProductCategoryPage in menu
  demo/admin/src/common/MasterMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor ProductsGrid to be reusable with fixed filter
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/ProductsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
