Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Demo Site: Implement news redirect target (#3623)
  demo/site/src/app/[visibility]/[domain]/[language]/[[...path]]/page.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Storybook: Fix pagination in Data Grid `CrudMoreActionsMenu` story (#3578)
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve the block preview of redirect targets Display the redirect target in the first line. Move additional information (type, path) to the second line.
  .changeset/lucky-nails-think.md
  .changeset/sweet-cups-sit.md
  packages/admin/blocks-admin/src/blocks/factories/createOneOfBlock.tsx
  packages/admin/cms-admin/src/redirects/createRedirectsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: add wrong formatted file
  demo/admin/src/products/future/generated/IdFieldInForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: rimraf not working in Demo - admin-generator/api-generator
  demo/admin/package.json
  demo/admin/src/products/future/generated/IdFieldInForm.tsx
  demo/admin/src/products/generated/ProductForm.gql.ts
  demo/admin/src/products/generated/ProductForm.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
  demo/admin/src/products/generated/ProductsPage.tsx
  demo/api/package.json
  docs/docs/1-getting-started/4-crud-generator/1-api-generator.md
  docs/docs/7-migration-guide/migration-from-v4-to-v5.md
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: revert migration guide
  docs/docs/7-migration-guide/migration-from-v4-to-v5.md
Due: prettylint

admin/api generator - change -g indentifier to --glob
  demo/admin/package.json
  demo/api/package.json
Due: prettylint

adjust package.json
  demo/admin/package.json
Due: prettylint

remove not needed before comet-admin-generator
  demo/admin/package.json
Due: prettylint

Update docs/docs/1-getting-started/4-crud-generator/1-api-generator.md
  docs/docs/1-getting-started/4-crud-generator/1-api-generator.md
Due: prettylint

API/Admin Generator: Fix generated directories not being deleted (#3567)
  demo/admin/package.json
  demo/admin/src/products/generated/ProductForm.gql.ts
  demo/admin/src/products/generated/ProductForm.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
  demo/admin/src/products/generated/ProductsPage.tsx
  demo/api/package.json
  docs/docs/1-getting-started/4-crud-generator/1-api-generator.md
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: fix scoping of breadcrumb links (#3099)
  demo/site/src/app/[visibility]/[domain]/[language]/[[...path]]/page.tsx
  demo/site/src/app/[visibility]/[domain]/sitemap.ts
  demo/site/src/common/blocks/InternalLinkBlock.tsx
  demo/site/src/common/components/Breadcrumbs.fragment.ts
  demo/site/src/common/components/Breadcrumbs.tsx
  demo/site/src/documents/pages/Page.tsx
  demo/site/src/layout/header/PageLink.tsx
  demo/site/src/news/NewsList.tsx
  demo/site/src/news/blocks/NewsLinkBlock.tsx
  demo/site/src/news/blocks/NewsListBlock.tsx
  demo/site/src/util/createSitePath.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

improve changeset
  .changeset/eighty-points-provide.md
  demo/admin/src/common/blocks/MediaBlock.tsx
  demo/site/next-env.d.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "improve changeset"
  .changeset/eighty-points-provide.md
  demo/admin/src/common/blocks/MediaBlock.tsx
  demo/site/next-env.d.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

improve changeset
  .changeset/eighty-points-provide.md
Due: prettylint

Demo Site: Fix predefinedPages middleware rewrite
  demo/site/src/middleware/predefinedPages.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix: ImporterInput Typo
  demo/api/src/products/product-importer.input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix required behavior of `SelectField` in `createOneOfBlock` (#3618)
  .changeset/eighty-points-provide.md
  packages/admin/blocks-admin/src/blocks/factories/createOneOfBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix typos
  docs/docs/1-getting-started/4-crud-generator/2-admin-generator/1-grid-generator.md
  docs/docs/1-getting-started/4-crud-generator/2-admin-generator/2-form-generator.md
Due: prettylint

Move generator config types into their own files, add JSDoc comments based on the markdown docs to each of them
  packages/admin/cms-admin/src/generator/future/generateForm.ts
  packages/admin/cms-admin/src/generator/future/generateForm/generateComponentFormField.ts
  packages/admin/cms-admin/src/generator/future/generateForm/generateFields.ts
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormField.ts
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormLayout.ts
  packages/admin/cms-admin/src/generator/future/generateForm/getForwardedGqlArgs.ts
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/generateGrid/combinationColumn.ts
  packages/admin/cms-admin/src/generator/future/generateGrid/generateGqlFieldList.ts
  packages/admin/cms-admin/src/generator/future/generateGrid/getPropsForFilterProp.ts
  packages/admin/cms-admin/src/generator/future/generator.ts
  packages/admin/cms-admin/src/generator/future/generatorConfigs/formConfig.ts
  packages/admin/cms-admin/src/generator/future/generatorConfigs/gridConfig.ts
  packages/admin/cms-admin/src/generator/future/generatorConfigs/miscellaneousConfig.ts
  packages/admin/cms-admin/src/generator/future/generatorConfigs/tabsConfig.ts
  packages/admin/cms-admin/src/generator/future/utils/isFieldOptional.ts
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: Interplay between cropping and aspect ration
  .cspellignore
  docs/docs/3-features-modules/3-asset-management/cropping-and-aspect-ratio.mdx
  docs/docs/3-features-modules/3-asset-management/images/aspect-ratio-desktop.png
  docs/docs/3-features-modules/3-asset-management/images/aspect-ratio-mobile.png
  docs/docs/3-features-modules/3-asset-management/images/crop-area-dam-site-aspect-ratios.png
  docs/docs/3-features-modules/3-asset-management/images/crop-area-dam.png
  docs/docs/3-features-modules/3-asset-management/images/crop-area-site.png
  docs/docs/3-features-modules/3-asset-management/images/focus-point-manual-dam.png
  docs/docs/3-features-modules/3-asset-management/images/focus-point-manual-site.png
  docs/docs/3-features-modules/3-asset-management/images/focus-point-smart-dam.png
  docs/docs/3-features-modules/3-asset-management/images/focus-point-smart-site.png
Due: none

add warnings for jobs and add a demo job for testing it
  demo/admin/src/warnings/warningMessages.tsx
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20250312091105.ts
  demo/api/src/news/news.command.ts
  demo/api/src/news/news.module.ts
  demo/api/src/warnings/entities/warning.entity.ts
  demo/api/src/warnings/generated/dto/warning.input.ts
  demo/api/src/warnings/warning.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Importer Module: Add a CSV parsing and transform pipeline and related decorators (#3331)
  demo/admin/src/products/generated/ProductForm.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
  demo/api/package.json
  demo/api/products5.csv
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20250220083741.ts
  demo/api/src/importer/decorators/csv-column.decorator.ts
  demo/api/src/importer/import-target.interface.ts
  demo/api/src/importer/importer-input.type.ts
  demo/api/src/importer/pipes/importer-pipe.type.ts
  demo/api/src/importer/pipes/parsers/csv-parser-and-transform.composite-pipe.ts
  demo/api/src/importer/pipes/parsers/csv-parser.pipe.ts
  demo/api/src/importer/pipes/parsers/data-transformer.pipe.ts
  demo/api/src/importer/pipes/parsers/data-validator.pipe.ts
  demo/api/src/products/entities/product-type.enum.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.sort.ts
  demo/api/src/products/product-importer.input.ts
  demo/api/src/products/product-importer.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20250311143752.ts
  demo/api/src/warnings/entities/warning.entity.ts
  demo/api/src/warnings/generated/warning.resolver.ts
  demo/api/src/warnings/warning-checker.command.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Export `UserPermissionsService` and `CurrentUserPermission` (#3559)
  .changeset/silly-buses-do.md
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/user-permissions/user-permissions.module.ts
  packages/api/cms-api/src/user-permissions/user-permissions.public.service.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: Fix predefined pages middleware rewrite (#3628)
  demo/site/src/middleware/predefinedPages.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix case
  packages/admin/admin-generator/src/commands/generate/generateCrudPage/generateCrudPage.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: api-generator should exit without errorcode when no entities can be found
  packages/api/api-generator/src/commands/generate/generate-command.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename dependencyInfo to sourceInfo
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20250218090446.ts
  demo/api/src/warnings/dto/warning-dependency-info.ts
  demo/api/src/warnings/entities/warning.entity.ts
  demo/api/src/warnings/generated/dto/warning.input.ts
  demo/api/src/warnings/warning-checker.command.ts
  demo/api/src/warnings/warning.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

change implementation
  packages/api/api-generator/src/commands/generate/generate-command.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove empty lines on DeleteButton
  packages/admin/admin/src/common/buttons/delete/DeleteButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove empty lines on FilterBarPopoverFilter
  packages/admin/admin/src/table/filterbar/filterBarPopoverFilter/FilterBarPopoverFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

undo changes in AdminComponentButton and use mui button again
  packages/admin/blocks-admin/src/blocks/common/AdminComponentButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove variant from button in StartBuildsDialog as it is the default
  packages/admin/cms-admin/src/builds/StartBuildsDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove unneccessary space from ImpersonisationInlay
  packages/admin/cms-admin/src/common/header/ImpersonationInlay.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

correct variant textDark
  packages/admin/admin/src/EditDialog.test.tsx
  packages/admin/admin/src/table/AddButton.tsx
  packages/admin/admin/src/table/ExcelExportButton.tsx
  packages/admin/cms-admin/src/cronJobs/CronJobsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

undo changes in OkayButton
  packages/admin/admin/src/common/buttons/okay/OkayButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "change implementation"
  packages/api/api-generator/src/commands/generate/generate-command.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

make try catch block in generate-command more locally
  packages/api/api-generator/package.json
  packages/api/api-generator/src/commands/generate/generate-command.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set `DataGridPanel` as the default panel slot of `DataGrid`
  .changeset/young-turkeys-sleep.md
  demo/admin/src/theme.ts
  packages/admin/admin/src/theme/componentsTheme/MuiDataGrid.tsx
  storybook/.storybook/preview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
