Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update `query-string` to v7 (#3013)
  packages/admin/admin/package.json
  packages/admin/admin/src/table/paging/createRestPagingActions.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat: proof of concept - add tip tap and lexical rich text editor component and stories
  packages/admin/admin/package.json
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/richTextEditor/RichTextEditorLexical.tsx
  packages/admin/admin/src/richTextEditor/RichTextEditorLexicalToolbar.tsx
  packages/admin/admin/src/richTextEditor/RichTextEditorTipTap.tsx
  pnpm-lock.yaml
  storybook/src/admin/richTextEditor/RichTextEditorLexical.stories.tsx
  storybook/src/admin/richTextEditor/RichTextEditorTipTap.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add tip tap toolbar buttons, add lexical debug in story
  packages/admin/admin/src/richTextEditor/RichTextEditorLexical.tsx
  packages/admin/admin/src/richTextEditor/RichTextEditorLexicalDebug.tsx
  packages/admin/admin/src/richTextEditor/RichTextEditorTipTap.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix hot-reloading in Demo API
  demo/api/.gitignore
  demo/api/nest-cli.json
  demo/api/package.json
  pnpm-lock.yaml
Due: prettylint

Use `ToolbarActionButton` as the base for `GridFilterButton` and `GridColumnsButton` (#2994)
  .changeset/calm-worms-fetch.md
  packages/admin/admin/src/dataGrid/GridColumnsButton.tsx
  packages/admin/admin/src/dataGrid/GridFilterButton.tsx
  storybook/src/admin/toolbar/DataGridToolbar.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: remove as casts from DamImageBlock
  demo/site/src/common/blocks/DamImageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: check for damFile in DamImageBlock
  demo/site/src/common/blocks/DamImageBlock.tsx
  packages/api/cms-api/src/dam/blocks/pixel-image.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix user group chip
  demo/admin/src/App.tsx
  demo/admin/src/documents/pages/Page.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site Pages: Fix pre-build
  demo/site-pages/package.json
  knip.json
  pnpm-lock.yaml
Due: prettylint

Temporarily scaffold FormBuilderAddForm
  demo/admin/src/formBuilder/FormBuilderAddForm.cometGen.disabled.ts
  demo/admin/src/formBuilder/FormBuilderAddForm.cometGen.ts
  demo/admin/src/formBuilder/FormBuilderAddForm.gql.tsx
  demo/admin/src/formBuilder/FormBuilderAddForm.tsx
  demo/admin/src/formBuilder/FormBuilderPage.tsx
  demo/admin/src/formBuilder/FormBuildersGrid.cometGen.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Multiple small fixes regarding documents
  demo/admin/src/documents/links/EditLink.tsx
  demo/admin/src/documents/links/Link.tsx
  demo/admin/src/documents/pages/Page.tsx
  demo/api/schema.gql
  demo/api/src/documents/links/entities/link.entity.ts
  demo/api/src/documents/links/links.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Enable setting import source per file in admin upload from external source (#2916)
  .changeset/long-files-compile.md
  demo/admin/src/dam/ImportFromPicsum.tsx
  demo/admin/src/dam/getRandomPicsumImage.ts
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/useDamFileUpload.tsx
  packages/admin/cms-admin/src/form/file/upload.ts
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site (Pages): Fix pre-build (#3041)
  demo/site-pages/package.json
  knip.json
  pnpm-lock.yaml
Due: prettylint

Readd layout block
  demo/admin/src/common/blocks/LayoutBlock.tsx
  demo/admin/src/documents/pages/blocks/PageContentBlock.tsx
  demo/api/block-meta.json
  demo/api/src/documents/pages/blocks/page-content.block.ts
  demo/site/src/common/blocks/LayoutBlock.tsx
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Readd TextImage block
  demo/admin/src/common/blocks/TextImageBlock.tsx
  demo/admin/src/documents/pages/blocks/PageContentBlock.tsx
  demo/admin/src/news/blocks/NewsContentBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/text-image.block.ts
  demo/api/src/documents/pages/blocks/page-content.block.ts
  demo/api/src/news/blocks/news-content.block.ts
  demo/site-pages/src/common/blocks/TextImageBlock.tsx
  demo/site-pages/src/documents/pages/blocks/PageContentBlock.tsx
  demo/site/src/common/blocks/TextImageBlock.tsx
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
  demo/site/src/news/blocks/NewsContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Renovate: Group Lodash packages (#2981)
  renovate.json
Due: prettylint

Switch from deprecated `pascal-case` to `change-case` in `@comet/admin-icons` (#3020)
  packages/admin/admin-icons/generate-icons.ts
  packages/admin/admin-icons/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Readd FullWidthImage block
  demo/admin/src/common/blocks/customBlockCategories.tsx
  demo/admin/src/documents/pages/blocks/FullWidthImageBlock.tsx
  demo/admin/src/documents/pages/blocks/PageContentBlock.tsx
  demo/api/block-meta.json
  demo/api/src/documents/pages/blocks/page-content.block.ts
  demo/site-pages/src/documents/pages/blocks/FullWidthImageBlock.tsx
  demo/site-pages/src/documents/pages/blocks/PageContentBlock.tsx
  demo/site/src/documents/pages/blocks/FullWidthImageBlock.tsx
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Readd TextImage to fixtures
  demo/api/src/db/fixtures/generators/blocks/blocks.generator.ts
  demo/api/src/db/fixtures/generators/blocks/text-image.generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add comment with hacky fix
  packages/admin/blocks-admin/src/blocks/common/AdminTabs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Change to kebap-case
  docs/docs/console-commands/index.md
Due: prettylint

Reset demo site dependencies
  demo/site/package.json
  pnpm-lock.yaml
Due: prettylint

Override swiper react version with 18
  demo/site-pages/src/common/blocks/MediaGalleryBlock.tsx
  demo/site/src/common/blocks/MediaGalleryBlock.tsx
  package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: Add Storybook to Navbar, Move GitHub to Navbar
  docs/docusaurus.config.js
Due: prettylint

Temp fix for another bug to allow repruducing the save-boundary bug
  packages/admin/blocks-admin/src/blocks/common/AdminTabs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Remove builder
  demo/admin/src/common/MasterHeader.tsx
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/dashboard/DashboardPage.tsx
  demo/api/schema.gql
  demo/api/src/app.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Re-add parent node relation in the application code to have the concrete type
  demo/api/src/page-tree/entities/page-tree-node.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename migration to migration guide
  docs/docs/7-migration-guide/index.md
  docs/docs/7-migration-guide/migration-from-v4-to-v5.md
  docs/docs/7-migration-guide/migration-from-v5-to-v6.md
  docs/docs/7-migration-guide/migration-from-v6-to-v7.md
Due: prettylint

Remove test comment
  renovate.json5
Due: none

Fix conflicts
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-react-select/CHANGELOG.md
  packages/admin/admin-react-select/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin-theme/package.json
  packages/admin/admin/package.json
  packages/admin/blocks-admin/package.json
  packages/api/blocks-api/CHANGELOG.md
  packages/api/blocks-api/package.json
  packages/api/cms-api/package.json
  packages/site/cms-site/package.json
  pnpm-lock.yaml
Due: prettylint

Add `image/x-icon` to and remove `video/avi`, `image/psd` and `video/x-m4v` from accepted mimetypes (#3002)
  .changeset/hot-cheetahs-juggle.md
  .changeset/hungry-ties-relate.md
  packages/admin/cms-admin/src/dam/config/damDefaultAcceptedMimeTypes.ts
  packages/api/cms-api/src/dam/common/mimeTypes/dam-default-accepted-mimetypes.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add tiptap content html preview
  packages/admin/admin/src/richTextEditor/RichTextEditorTipTap.tsx
  storybook/src/admin/richTextEditor/RichTextEditorLexical.stories.tsx
  storybook/src/admin/richTextEditor/RichTextEditorTipTap.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add dotenv to the mikro-orm script
  demo/api/package.json
  demo/api/src/db/ormconfig.cli.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update migration guide
  docs/docs/migration/migration-from-v7-to-v8.md
Due: prettylint

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
