Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

remove secondaryText from MenuItemProps
  packages/admin/admin/src/mui/menu/Item.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset for using ListItemButton instead of ListItem
  .changeset/two-lions-promise.md
Due: prettylint

add line-break in changeset
  .changeset/tender-dots-warn.md
Due: prettylint

remove slotProps when extending MenuCollapsibleItemProps
  packages/admin/admin/src/mui/menu/CollapsibleItem.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

changeset
  .changeset/happy-fans-pump.md
Due: prettylint

Add performance when collecting content scopes for current user
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove xml code and use html packages instead
  packages/admin/admin-rte/package.json
  packages/admin/admin-rte/src/core/translation/ToolbarButton.tsx
  packages/admin/admin-rte/src/core/translation/htmlToState.ts
  packages/admin/admin-rte/src/core/translation/stateToHtml.ts
  packages/admin/admin-rte/src/core/translation/xml/getEntityRanges.ts
  packages/admin/admin-rte/src/core/translation/xml/transformStateToXml.spec.ts
  packages/admin/admin-rte/src/core/translation/xml/transformStateToXml.ts
  packages/admin/admin-rte/src/core/translation/xml/translateAndTransformToState.spec.ts
  packages/admin/admin-rte/src/core/translation/xml/translateAndTransformToState.ts
  packages/admin/admin-rte/tsconfig.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor styling from 'Rte' in 'admin-rte'
  packages/admin/admin-rte/package.json
  packages/admin/admin-rte/src/core/Rte.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/three-eagles-cheat.md
  .changeset/three-eagles-cheat.md
Due: prettylint

API Generator: Add missing `scope` argument and filter to `<entity>BySlug` query (#1643)
  .changeset/three-eagles-cheat.md
  demo/api/schema.gql
  demo/api/src/news/generated/news.resolver.ts
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve performance when collecting content scopes for current user (#1644)
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix the type of the `component` prop on `styled(Typography)` (#1616)
  packages/admin/admin/src/appHeader/button/AppHeaderButton.styles.tsx
  packages/admin/admin/src/appHeader/button/AppHeaderButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor theming of `FilterBarPopoverFilter` (#1586)
  .changeset/tender-dots-warn.md
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/table/filterbar/filterBarPopoverFilter/FilterBarPopoverFilter.styles.tsx
  packages/admin/admin/src/table/filterbar/filterBarPopoverFilter/FilterBarPopoverFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor theming of `FilterBarButton` (#1589)
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/table/filterbar/filterBarButton/FilterBarButton.styles.tsx
  packages/admin/admin/src/table/filterbar/filterBarButton/FilterBarButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor theming of `MenuItem` (#1597)
  .changeset/two-lions-promise.md
  packages/admin/admin/src/mui/menu/CollapsibleItem.tsx
  packages/admin/admin/src/mui/menu/Item.tsx
  packages/admin/admin/src/mui/menu/ItemAnchorLink.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix capitalization
  docs/docs/getting-started/creating-a-new-project.md
  docs/docs/getting-started/how-to-run.md
Due: prettylint

refactor theming of FeaturesButtonGroup
  packages/admin/admin-rte/src/core/Controls/FeaturesButtonGroup.tsx
  packages/admin/admin-rte/src/core/Controls/HistoryContols.tsx
  packages/admin/admin-rte/src/core/Controls/InlineStyleTypeControls.tsx
  packages/admin/admin-rte/src/core/Controls/ListsControls.tsx
  packages/admin/admin-rte/src/core/Controls/ListsIndentControls.tsx
  packages/admin/admin-rte/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace uuid with number for link data array matching + shorten/rename html tag attributes
  packages/admin/admin-rte/package.json
  packages/admin/admin-rte/src/core/translation/htmlToState.ts
  packages/admin/admin-rte/src/core/translation/stateToHtml.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Test: adjust files in demo for testing feature
  demo/admin/src/common/blocks/RichTextBlock.tsx
  demo/admin/src/news/generated/NewsForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add basis for content translation (#1482)
  .changeset/rare-shiny-bulbasaur.md
  packages/admin/admin/src/form/FinalFormInput.tsx
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/translator/ContentTranslationServiceContext.tsx
  packages/admin/admin/src/translator/ContentTranslationServiceProvider.tsx
  packages/admin/admin/src/translator/useContentTranslationService.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve docs and Readme for easier start with Comet (#1613)
  README.md
  docs/docs/getting-started/creating-a-new-project.md
  docs/docs/getting-started/how-to-run.md
  docs/docs/getting-started/index.md
  docs/docs/getting-started/requirements.md
Due: prettylint

Use field components in docs
  docs/docs/blocks/your-first-block.mdx
Due: none

Fix a crash when using the `Alert` component inside a MUI `Snackbar` This was due to missing ref-forwarding.
  .changeset/big-items-serve.md
  packages/admin/admin-stories/src/admin/alert/AlertInSnackbar.tsx
  packages/admin/admin/src/alert/Alert.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix a crash when using the `Alert` component inside a MUI `Snackbar` (#1650)
  .changeset/big-items-serve.md
  packages/admin/admin-stories/src/admin/alert/AlertInSnackbar.tsx
  packages/admin/admin/src/alert/Alert.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use field components in docs (#1648)
  docs/docs/blocks/your-first-block.mdx
Due: none

Remove info that is no longer relevant as 3.0 was released a while ago
  docs/docs/overview/packages-tools.md
Due: prettylint

correct css selector syntax
  packages/admin/admin/src/mui/menu/Menu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove changeset
  .changeset/calm-rats-matter.md
Due: prettylint

use separated slots for temporaryDrawer and permanentDrawer
  .changeset/cyan-drinks-enjoy.md
  packages/admin/admin/src/mui/menu/Menu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor theming of menu
  .changeset/calm-rats-matter.md
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/mui/menu/Menu.styles.ts
  packages/admin/admin/src/mui/menu/Menu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use closed slot
  packages/admin/admin/src/mui/menu/Menu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove info that is no longer relevant as 3.0 was released a while ago (#1649)
  docs/docs/overview/packages-tools.md
Due: prettylint

correct theming of Menu and adapt changeset
  .changeset/cyan-drinks-enjoy.md
  packages/admin/admin/src/mui/menu/Menu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor theming of StackBreadCrumbs
  .changeset/red-seals-hide.md
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/stack/breadcrumbs/BreadcrumbsEntry.tsx
  packages/admin/admin/src/stack/breadcrumbs/BreadcrumbsOverflow.tsx
  packages/admin/admin/src/stack/breadcrumbs/StackBreadcrumbs.styles.tsx
  packages/admin/admin/src/stack/breadcrumbs/StackBreadcrumbs.tsx
  packages/admin/admin/src/stack/breadcrumbs/utils.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add feedback from review
  .changeset/red-seals-hide.md
  packages/admin/admin/src/stack/breadcrumbs/BreadcrumbsEntry.tsx
  packages/admin/admin/src/stack/breadcrumbs/BreadcrumbsOverflow.tsx
  packages/admin/admin/src/stack/breadcrumbs/StackBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use ThemedComponentBaseProps, slot-types and useThemeProps in StackBreadcrumbs only
  packages/admin/admin/src/stack/breadcrumbs/BreadcrumbsEntry.tsx
  packages/admin/admin/src/stack/breadcrumbs/BreadcrumbsOverflow.tsx
  packages/admin/admin/src/stack/breadcrumbs/StackBreadcrumbs.tsx
  packages/admin/admin/src/stack/breadcrumbs/utils.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add feedback from review
  packages/admin/admin/src/stack/breadcrumbs/BreadcrumbsEntry.tsx
  packages/admin/admin/src/stack/breadcrumbs/StackBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use correct types
  packages/admin/admin/src/stack/breadcrumbs/BreadcrumbsEntry.tsx
  packages/admin/admin/src/stack/breadcrumbs/BreadcrumbsOverflow.tsx
  packages/admin/admin/src/stack/breadcrumbs/StackBreadcrumbs.tsx
  packages/admin/admin/src/stack/breadcrumbs/utils.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use null as access to all content-scopes
  .changeset/clever-toes-prove.md
  demo/api/schema.gql
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/auth/current-user/current-user.ts
  packages/api/cms-api/src/user-permissions/access-control.service.ts
  packages/api/cms-api/src/user-permissions/dto/current-user.ts
  packages/api/cms-api/src/user-permissions/user-content-scopes.resolver.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP move future-generator code into separate folder
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/products/generatedFuture/ProductForm.cometGen.ts
  demo/admin/src/products/generatedFuture/ProductForm.generated.gql.tsx
  demo/admin/src/products/generatedFuture/ProductForm.generated.tsx
  demo/admin/src/products/generatedFuture/ProductsGrid.tsx
  demo/admin/src/products/generatedFuture/ProductsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
