Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adapt TSConfig to fix lint workflow
  demo/admin/tsconfig.json
Due: prettylint

remove as cast
  demo/site/src/common/blocks/ContactFormBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace ts-node with jiti
  packages/admin/admin-generator/bin/admin-generator.js
  packages/admin/admin-generator/package.json
  packages/admin/admin-generator/src/commands/generate/config/parseConfig.ts
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add support for TSConfig paths
  demo/admin/src/products/generator/ProductForm.cometGen.tsx
  packages/admin/admin-generator/src/commands/generate/config/parseConfig.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Change to major change
  .changeset/many-bikes-bathe.md
Due: prettylint

Add section to upgrade guide
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
Due: prettylint

Use IntlProvider from library again (fixes email rendering)
  demo/site/src/brevo/util/renderMailContentAsMjml.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Block Migration example for adding a string-field
  docs/docs/2-core-concepts/2-blocks/5-migrations/1-block-migration-examples.mdx
  docs/docs/2-core-concepts/2-blocks/5-migrations/index.mdx
Due: none

Refactor DateTime component stories
  packages/admin/admin/src/dataGrid/gridColumnTypes.tsx
  packages/admin/admin/src/dateTime/DatePickerField.tsx
  packages/admin/admin/src/dateTime/DateTimePickerField.tsx
  packages/admin/admin/src/dateTime/DateTimeRangePickerField.tsx
  packages/admin/admin/src/dateTime/TimePickerField.tsx
  packages/admin/admin/src/dateTime/datePicker/DatePicker.tsx
  packages/admin/admin/src/dateTime/datePicker/__stories__/DatePicker.stories.tsx
  packages/admin/admin/src/dateTime/datePickerField/DatePickerField.tsx
  packages/admin/admin/src/dateTime/datePickerField/__stories__/DatePickerField.stories.tsx
  packages/admin/admin/src/dateTime/dateRangePicker/DateRangePicker.tsx
  packages/admin/admin/src/dateTime/dateRangePicker/__stories__/DateRangePicker.stories.tsx
  packages/admin/admin/src/dateTime/dateRangePickerField/DateRangePickerField.tsx
  packages/admin/admin/src/dateTime/dateRangePickerField/__stories__/DateRangePickerField.stories.tsx
  packages/admin/admin/src/dateTime/dateTimePicker/DateTimePicker.tsx
  packages/admin/admin/src/dateTime/dateTimePicker/__stories__/DateTimePicker.stories.tsx
  packages/admin/admin/src/dateTime/dateTimePickerField/DateTimePickerField.tsx
  packages/admin/admin/src/dateTime/dateTimePickerField/__stories__/DateTimePickerField.stories.tsx
  packages/admin/admin/src/dateTime/dateTimeRangePicker/DateTimeRangePicker.tsx
  packages/admin/admin/src/dateTime/dateTimeRangePicker/__stories__/DateTimeRangePicker.stories.tsx
  packages/admin/admin/src/dateTime/dateTimeRangePickerField/DateTimeRangePickerField.tsx
  packages/admin/admin/src/dateTime/dateTimeRangePickerField/__stories__/DateTimeRangePickerField.stories.tsx
  packages/admin/admin/src/dateTime/timePicker/TimePicker.tsx
  packages/admin/admin/src/dateTime/timePicker/__stories__/TimePicker.stories.tsx
  packages/admin/admin/src/dateTime/timePickerField/TimePickerField.tsx
  packages/admin/admin/src/dateTime/timePickerField/__stories__/TimePickerField.stories.tsx
  packages/admin/admin/src/form/FinalFormDebug.tsx
  packages/admin/admin/src/index.ts
  storybook/src/admin/datePicker/DatePickerField.stories.tsx
  storybook/src/admin/datePicker/DateTimePickerField.stories.tsx
  storybook/src/admin/dateTime/DatePicker.stories.tsx
  storybook/src/admin/dateTime/DateRangePicker.stories.tsx
  storybook/src/admin/dateTime/DateTimePicker.stories.tsx
  storybook/src/admin/dateTime/DateTimeRangePicker.stories.tsx
  storybook/src/admin/dateTime/TimePicker.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Setup Storybook for HTML mails in Demo-API (#4954)
  demo/api/.storybook/decorators/IntlProvider.decorator.tsx
  demo/api/.storybook/main.ts
  demo/api/.storybook/preview.ts
  demo/api/.storybook/public/favicon.ico
  demo/api/.storybook/tsconfig.json
  demo/api/eslint.config.mjs
  demo/api/package.json
  demo/api/src/products/__stories__/ProductPublishedMail.stories.tsx
  demo/api/tsconfig.json
  dev-pm.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Run install to fix pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Run install to fix `pnpm-lock.yaml` (#5050)
  pnpm-lock.yaml
Due: none

Remove ImageBlock from mail-react completely and move all necessary code to demo site
  demo/site/src/brevo/blocks/NewsletterImageBlock.tsx
  packages/mail-react/src/blocks/ImageBlock.tsx
  packages/mail-react/src/blocks/helpers/imageBlockHelpers.ts
  packages/mail-react/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove now unused dependencies from mail-react
  packages/mail-react/package.json
  pnpm-lock.yaml
Due: prettylint

Allow FrontendConfig as object or function
  demo/api/src/app.module.ts
  packages/api/brevo-api/src/config/brevo-module.config.ts
  packages/api/brevo-api/src/email-campaign/email-campaigns.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Render ProductPublishedMail using React and MJML
  demo/api/.storybook/decorators/IntlProvider.decorator.tsx
  demo/api/.storybook/decorators/MailRenderer.decorator.tsx
  demo/api/.storybook/main.ts
  demo/api/.storybook/preview.ts
  demo/api/.storybook/preview.tsx
  demo/api/package.json
  demo/api/src/mail/components/MailRoot.tsx
  demo/api/src/mail/utils/getMailHtml.tsx
  demo/api/src/products/__stories__/ProductPublishedMail.stories.tsx
  demo/api/src/products/custom-product.resolver.ts
  demo/api/src/products/product-published.mail.ts
  demo/api/src/products/products.module.ts
  demo/api/src/products/published-mail/Mail.tsx
  demo/api/src/products/published-mail/__stories__/ProductPublishedMail.stories.tsx
  demo/api/src/products/published-mail/product-published.mail.ts
  demo/api/tsconfig.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix TableBlock from not being editable when all rows or columns have been deleted (#5023)
  packages/admin/cms-admin/src/blocks/table/RowActionsCell.tsx
  packages/admin/cms-admin/src/blocks/table/TableBlock.tsx
  packages/admin/cms-admin/src/blocks/table/TableBlockGrid.tsx
  packages/admin/cms-admin/src/blocks/table/__mocks__/TableBlockData.mocks.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/copyPasteColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/copyPasteRow.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/deleteColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/deleteRow.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/duplicateColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/duplicateRow.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/insertColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/insertColumnDataAtIndex.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/insertRow.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/insertRowDataAtIndex.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/pasteColumnWithDifferentValues.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/utils.tsx
  packages/admin/cms-admin/src/blocks/table/__tests__/verifyEditability.test.ts
  packages/admin/cms-admin/src/blocks/table/utils/row.ts
  packages/admin/cms-admin/src/blocks/table/utils/tableData.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace dot navigation in media gallery (#5030)
  demo/site/src/common/blocks/MediaGalleryBlock.module.scss
  demo/site/src/common/blocks/MediaGalleryBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove changeset for image block
  .changeset/chilly-bears-taste.md
Due: prettylint

Copy block factories to mail-react
  packages/mail-react/src/blocks/factories/BlocksBlock.tsx
  packages/mail-react/src/blocks/factories/ListBlock.tsx
  packages/mail-react/src/blocks/factories/OneOfBlock.tsx
  packages/mail-react/src/blocks/factories/OptionalBlock.tsx
  packages/mail-react/src/blocks/factories/types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add Add mjml-compatible versions of block factories
  .changeset/curvy-swans-spend.md
  .changeset/good-frogs-divide.md
  demo/site/src/brevo/blocks/EmailCampaignContentBlock.tsx
  demo/site/src/brevo/temp/BlocksBlock.tsx
  packages/mail-react/package.json
  packages/mail-react/src/blocks/factories/BlocksBlock.tsx
  packages/mail-react/src/blocks/factories/ListBlock.tsx
  packages/mail-react/src/blocks/factories/OneOfBlock.tsx
  packages/mail-react/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove main and types from mail-react package.json
  demo/api/tsconfig.json
  packages/mail-react/package.json
Due: prettylint

Adjust site tsconfig for ESM-only mail-react package
  demo/site/tsconfig.json
  demo/site/tsconfig.server.json
Due: prettylint

Make `@comet/mail-react` ESM-only (#5047)
  demo/api/tsconfig.json
  demo/site/tsconfig.json
  demo/site/tsconfig.server.json
  packages/mail-react/package.json
Due: prettylint

Add mail block factories to `@comet/mail-react` (#5025)
  .changeset/curvy-swans-spend.md
  .changeset/good-frogs-divide.md
  demo/site/src/brevo/blocks/EmailCampaignContentBlock.tsx
  packages/mail-react/package.json
  packages/mail-react/src/blocks/factories/BlocksBlock.tsx
  packages/mail-react/src/blocks/factories/ListBlock.tsx
  packages/mail-react/src/blocks/factories/OneOfBlock.tsx
  packages/mail-react/src/blocks/factories/OptionalBlock.tsx
  packages/mail-react/src/blocks/factories/types.ts
  packages/mail-react/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix preview url handling in `SvgImageBlock` (#5036)
  .changeset/tough-toys-dream.md
  packages/admin/cms-admin/src/blocks/SvgImageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix conflicts
  pnpm-lock.yaml
Due: none

remove placeholder prop from TextField and TextAreaField
  demo/site/src/common/components/form/TextField.tsx
  demo/site/src/common/components/form/TextareaField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use ComponentProps<input> for fields
  demo/site/src/common/components/form/CheckboxField.tsx
  demo/site/src/common/components/form/SelectField.tsx
  demo/site/src/common/components/form/TextField.tsx
  demo/site/src/common/components/form/TextareaField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

infer required from rules
  demo/site/src/common/blocks/ContactFormBlock.tsx
  demo/site/src/common/components/form/CheckboxField.tsx
  demo/site/src/common/components/form/SelectField.tsx
  demo/site/src/common/components/form/TextField.tsx
  demo/site/src/common/components/form/TextareaField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

extend form field types from ControllerProps
  demo/site/src/common/components/form/CheckboxField.tsx
  demo/site/src/common/components/form/SelectField.tsx
  demo/site/src/common/components/form/TextField.tsx
  demo/site/src/common/components/form/TextareaField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Renovate: Node.js adaptions (#5043)
  renovate/default.json
Due: prettylint

distinguish between input and controller props
  demo/site/src/common/components/form/CheckboxField.tsx
  demo/site/src/common/components/form/SelectField.tsx
  demo/site/src/common/components/form/TextField.tsx
  demo/site/src/common/components/form/TextareaField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move dependencies to peer dependencies
  packages/admin/admin-generator/package.json
  pnpm-lock.yaml
Due: prettylint

Fix helptext
  packages/cli/src/commands/download-mitmproxy.ts
  packages/cli/src/commands/download-oauth2-proxy.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add entity visibility to block_index_dependencies (#4999)
  .changeset/late-meals-live.md
  packages/api/cms-api/src/dependencies/dependencies.service.ts
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use renovate for updating local oauth2-proxy and mitmproxy (#5021)
  .changeset/open-experts-dress.md
  .env
  package.json
  packages/cli/package.json
  packages/cli/src/commands/download-mitmproxy.ts
  packages/cli/src/commands/download-oauth2-proxy.ts
  pnpm-lock.yaml
  renovate/default.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: Slight improvements to mailer-module
  docs/docs/3-features-modules/11-mailer-module/index.md
Due: prettylint

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
