Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Proposal: Add registerStyles mechanism for component-level responsive CSS
  packages/mail-react/openspec/changes/add-register-styles/.openspec.yaml
  packages/mail-react/openspec/changes/add-register-styles/design.md
  packages/mail-react/openspec/changes/add-register-styles/proposal.md
  packages/mail-react/openspec/changes/add-register-styles/specs/mjml-mail-root/spec.md
  packages/mail-react/openspec/changes/add-register-styles/specs/mjml-section/spec.md
  packages/mail-react/openspec/changes/add-register-styles/specs/register-styles/spec.md
  packages/mail-react/openspec/changes/add-register-styles/specs/theme-system/spec.md
  packages/mail-react/openspec/changes/add-register-styles/tasks.md
Due: prettylint

Add responsive-styling system
  .changeset/add-register-styles.md
  .changeset/add-responsive-value.md
  .changeset/add-section-indentation.md
  packages/mail-react/openspec/changes/add-register-styles/proposal.md
  packages/mail-react/openspec/changes/add-register-styles/tasks.md
  packages/mail-react/openspec/config.yaml
  packages/mail-react/package.json
  packages/mail-react/src/components/mailRoot/MjmlMailRoot.tsx
  packages/mail-react/src/components/section/MjmlSection.tsx
  packages/mail-react/src/components/section/__stories__/MjmlSection.stories.tsx
  packages/mail-react/src/index.ts
  packages/mail-react/src/server/renderMailHtml.test.tsx
  packages/mail-react/src/styles/Styles.tsx
  packages/mail-react/src/styles/registerStyles.ts
  packages/mail-react/src/theme/createTheme.test.ts
  packages/mail-react/src/theme/defaultTheme.ts
  packages/mail-react/src/theme/responsiveValue.test.ts
  packages/mail-react/src/theme/responsiveValue.ts
  packages/mail-react/src/theme/themeTypes.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Archive add-register-styles change
  packages/mail-react/openspec/changes/archive/2026-03-26-add-register-styles/.openspec.yaml
  packages/mail-react/openspec/changes/archive/2026-03-26-add-register-styles/design.md
  packages/mail-react/openspec/changes/archive/2026-03-26-add-register-styles/proposal.md
  packages/mail-react/openspec/changes/archive/2026-03-26-add-register-styles/specs/mjml-mail-root/spec.md
  packages/mail-react/openspec/changes/archive/2026-03-26-add-register-styles/specs/mjml-section/spec.md
  packages/mail-react/openspec/changes/archive/2026-03-26-add-register-styles/specs/register-styles/spec.md
  packages/mail-react/openspec/changes/archive/2026-03-26-add-register-styles/specs/theme-system/spec.md
  packages/mail-react/openspec/changes/archive/2026-03-26-add-register-styles/tasks.md
  packages/mail-react/openspec/specs/mjml-mail-root/spec.md
  packages/mail-react/openspec/specs/mjml-section/spec.md
  packages/mail-react/openspec/specs/register-styles/spec.md
  packages/mail-react/openspec/specs/theme-system/spec.md
Due: prettylint

Proposal: Add MJML Text component with theme and variant support
  packages/mail-react/openspec/changes/add-mjml-text-component/.openspec.yaml
  packages/mail-react/openspec/changes/add-mjml-text-component/design.md
  packages/mail-react/openspec/changes/add-mjml-text-component/proposal.md
  packages/mail-react/openspec/changes/add-mjml-text-component/specs/mjml-mail-root/spec.md
  packages/mail-react/openspec/changes/add-mjml-text-component/specs/mjml-text/spec.md
  packages/mail-react/openspec/changes/add-mjml-text-component/specs/text-theme/spec.md
  packages/mail-react/openspec/changes/add-mjml-text-component/specs/theme-system/spec.md
  packages/mail-react/openspec/changes/add-mjml-text-component/tasks.md
Due: prettylint

Add MJML Text component with theme and variant support
  .changeset/add-mjml-text-theme-variants.md
  packages/mail-react/openspec/changes/add-mjml-text-component/tasks.md
  packages/mail-react/src/components/mailRoot/MjmlMailRoot.tsx
  packages/mail-react/src/components/text/MjmlText.tsx
  packages/mail-react/src/components/text/__stories__/MjmlText.stories.tsx
  packages/mail-react/src/components/text/__tests__/MjmlText.test.tsx
  packages/mail-react/src/components/text/__tests__/registerStyles.test.ts
  packages/mail-react/src/components/text/__tests__/resolveTextStyles.test.ts
  packages/mail-react/src/index.ts
  packages/mail-react/src/theme/createTheme.test.ts
  packages/mail-react/src/theme/createTheme.ts
  packages/mail-react/src/theme/defaultTheme.ts
  packages/mail-react/src/theme/themeTypes.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add PlaceholderBlock transformer and preview support
  demo/admin/src/common/blocks/PlaceholderBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/placeholder-block-transformer.service.ts
  demo/api/src/common/blocks/placeholder.block.ts
  demo/api/src/products/products.module.ts
  demo/site/src/common/blocks/RichTextBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix placeholder preview: include product data in transformer response
  demo/admin/src/common/blocks/PlaceholderBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/placeholder-block-transformer.service.ts
  demo/api/src/common/blocks/placeholder.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Insert placeholder at cursor instead of requiring text selection
  demo/admin/src/common/blocks/rte/PlaceholderDecorator.tsx
  demo/admin/src/common/blocks/rte/PlaceholderToolbarButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix placeholder deletion by preserving Draft.js children in decorator
  demo/admin/src/common/blocks/rte/PlaceholderDecorator.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix placeholder cursor: render children outside chip span
  demo/admin/src/common/blocks/rte/PlaceholderDecorator.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use real label text for placeholder entity instead of hidden character
  demo/admin/src/common/blocks/PlaceholderBlock.tsx
  demo/admin/src/common/blocks/rte/PlaceholderDecorator.tsx
  demo/admin/src/common/blocks/rte/PlaceholderToolbarButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Format product price with currency (EUR) in placeholder
  demo/admin/src/common/blocks/PlaceholderBlock.tsx
  demo/admin/src/common/blocks/rte/PlaceholderToolbarButton.tsx
  demo/api/src/common/blocks/placeholder-block-transformer.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Small improvements
  packages/mail-react/src/components/text/MjmlText.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix placeholder editing: preserve selection when dialog steals focus
  demo/admin/src/common/blocks/rte/PlaceholderToolbarButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix product selection: replace BlocksFinalForm with direct Autocomplete
  demo/admin/src/common/blocks/PlaceholderBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "Fix product selection: replace BlocksFinalForm with direct Autocomplete"
  demo/admin/src/common/blocks/PlaceholderBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Disable product selection when editing existing placeholder
  demo/admin/src/common/blocks/PlaceholderBlock.tsx
  demo/admin/src/common/blocks/rte/PlaceholderToolbarButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Require product selection for placeholder
  demo/admin/src/common/blocks/rte/PlaceholderToolbarButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unused export from PlaceholderField enum
  demo/api/src/common/blocks/placeholder.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Export ToolbarButtonComponent from admin-rte, remove as any[] cast in createRichTextBlock
  packages/admin/admin-rte/src/index.ts
  packages/admin/cms-admin/src/blocks/createRichTextBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update packages/api/cms-api/src/blocks/factories/createRichTextBlock.ts
  packages/api/cms-api/src/blocks/factories/createRichTextBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update demo/site/src/common/blocks/RichTextBlock.tsx
  demo/site/src/common/blocks/RichTextBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

site: Apply inline styles to placeholder value in RichTextBlock
  demo/site/src/common/blocks/RichTextBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Proposal to fix MjmlSection theme dependency
  packages/mail-react/openspec/changes/fix-mjml-section-theme-dependency/.openspec.yaml
  packages/mail-react/openspec/changes/fix-mjml-section-theme-dependency/design.md
  packages/mail-react/openspec/changes/fix-mjml-section-theme-dependency/proposal.md
  packages/mail-react/openspec/changes/fix-mjml-section-theme-dependency/specs/mjml-section/spec.md
  packages/mail-react/openspec/changes/fix-mjml-section-theme-dependency/specs/theme-system/spec.md
  packages/mail-react/openspec/changes/fix-mjml-section-theme-dependency/tasks.md
Due: prettylint

Fix MjmlSection theme dependency
  packages/mail-react/openspec/changes/fix-mjml-section-theme-dependency/tasks.md
  packages/mail-react/src/components/section/MjmlSection.tsx
  packages/mail-react/src/theme/ThemeProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Archive proposal and sync specs for MjmlSection theme fix
  packages/mail-react/openspec/changes/archive/2026-03-27-fix-mjml-section-theme-dependency/.openspec.yaml
  packages/mail-react/openspec/changes/archive/2026-03-27-fix-mjml-section-theme-dependency/design.md
  packages/mail-react/openspec/changes/archive/2026-03-27-fix-mjml-section-theme-dependency/proposal.md
  packages/mail-react/openspec/changes/archive/2026-03-27-fix-mjml-section-theme-dependency/specs/mjml-section/spec.md
  packages/mail-react/openspec/changes/archive/2026-03-27-fix-mjml-section-theme-dependency/specs/theme-system/spec.md
  packages/mail-react/openspec/changes/archive/2026-03-27-fix-mjml-section-theme-dependency/tasks.md
  packages/mail-react/openspec/specs/mjml-section/spec.md
  packages/mail-react/openspec/specs/theme-system/spec.md
Due: prettylint

More detailed info and example to keep components non-breaking
  packages/mail-react/openspec/config.yaml
Due: none

Reduce proposal/design duplication via openspec config rules
  packages/mail-react/openspec/config.yaml
Due: none

Fix review issues in RTE placeholder feature
  demo/admin/src/common/blocks/PlaceholderBlock.tsx
  demo/admin/src/common/blocks/RichTextBlock.tsx
  demo/admin/src/common/blocks/placeholder/constants.ts
  demo/admin/src/common/blocks/placeholder/formatPrice.ts
  demo/admin/src/common/blocks/rte/PlaceholderDecorator.tsx
  demo/admin/src/common/blocks/rte/PlaceholderToolbarButton.tsx
  demo/api/src/common/blocks/placeholder-block-transformer.service.ts
  demo/site/src/common/blocks/RichTextBlock.tsx
  packages/admin/cms-admin/src/blocks/createRichTextBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add Storybook addon preset for mail development (#5386)
  .changeset/add-storybook-addon-preset.md
  demo/api/.storybook/decorators/MailRenderer.decorator.tsx
  demo/api/.storybook/main.ts
  demo/api/.storybook/preview.tsx
  demo/api/package.json
  demo/api/src/products/published-mail/Mail.tsx
  demo/api/src/products/published-mail/product-published.mail.tsx
  knip.json
  packages/mail-react/.storybook/MailRenderer.decorator.tsx
  packages/mail-react/.storybook/manager.ts
  packages/mail-react/.storybook/preview.ts
  packages/mail-react/.storybook/preview.tsx
  packages/mail-react/eslint.config.mjs
  packages/mail-react/openspec/changes/archive/2026-03-26-storybook-addon-preset/.openspec.yaml
  packages/mail-react/openspec/changes/archive/2026-03-26-storybook-addon-preset/design.md
  packages/mail-react/openspec/changes/archive/2026-03-26-storybook-addon-preset/proposal.md
  packages/mail-react/openspec/changes/archive/2026-03-26-storybook-addon-preset/specs/mail-renderer-decorator/spec.md
  packages/mail-react/openspec/changes/archive/2026-03-26-storybook-addon-preset/specs/storybook-addons/spec.md
  packages/mail-react/openspec/changes/archive/2026-03-26-storybook-addon-preset/specs/storybook-preset/spec.md
  packages/mail-react/openspec/changes/archive/2026-03-26-storybook-addon-preset/tasks.md
  packages/mail-react/openspec/specs/storybook-addons/spec.md
  packages/mail-react/openspec/specs/storybook-preset/spec.md
  packages/mail-react/package.json
  packages/mail-react/src/storybook/CopyMailHtmlButton.tsx
  packages/mail-react/src/storybook/MailRendererDecorator.tsx
  packages/mail-react/src/storybook/MjmlWarningsPanel.tsx
  packages/mail-react/src/storybook/UsePublicImageUrlsToggle.tsx
  packages/mail-react/src/storybook/index.ts
  packages/mail-react/src/storybook/manager.tsx
  packages/mail-react/src/storybook/preview.ts
  packages/mail-react/src/storybook/replaceImagesWithPublicUrl.test.ts
  packages/mail-react/src/storybook/replaceImagesWithPublicUrl.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add explicit PlaceholderBlockState typing to PlaceholderDialog state
  demo/admin/src/common/blocks/rte/PlaceholderToolbarButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Reduce proposal/design duplication via openspec config rules (#5392)
  packages/mail-react/openspec/config.yaml
Due: none

Rename getDefaultValue to getDefaultFromResponsiveValue for public API clarity
  .changeset/add-responsive-value.md
  packages/mail-react/openspec/specs/mjml-section/spec.md
  packages/mail-react/openspec/specs/theme-system/spec.md
  packages/mail-react/src/components/section/MjmlSection.tsx
  packages/mail-react/src/index.ts
  packages/mail-react/src/theme/createTheme.test.ts
  packages/mail-react/src/theme/responsiveValue.test.ts
  packages/mail-react/src/theme/responsiveValue.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add MJML Text component with theme and variant support
  .changeset/add-mjml-text-component.md
  packages/mail-react/openspec/changes/add-mjml-text-component/tasks.md
  packages/mail-react/src/components/mailRoot/MjmlMailRoot.tsx
  packages/mail-react/src/components/text/MjmlText.tsx
  packages/mail-react/src/components/text/__stories__/MjmlText.stories.tsx
  packages/mail-react/src/components/text/__tests__/MjmlText.test.tsx
  packages/mail-react/src/index.ts
  packages/mail-react/src/theme/createTheme.test.ts
  packages/mail-react/src/theme/createTheme.ts
  packages/mail-react/src/theme/defaultTheme.ts
  packages/mail-react/src/theme/responsiveValue.test.ts
  packages/mail-react/src/theme/responsiveValue.ts
  packages/mail-react/src/theme/themeTypes.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo-site: Omit MjmlText bottomSpacing from Typography variant styles
  demo/site/src/brevo/components/Typography.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve comment
  packages/mail-react/src/theme/themeTypes.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/add-mjml-text-component.md
Due: prettylint

Update proposal: Refactor text CSS generation design to use declarative property mapping
  packages/mail-react/openspec/changes/add-mjml-text-component/design.md
  packages/mail-react/openspec/changes/add-mjml-text-component/tasks.md
Due: prettylint

Remove unnecessary comment
  packages/mail-react/src/components/text/__stories__/MjmlText.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
