Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

cms-api: Revert FullTextSearchModule @Global change
  .changeset/full-text-search-scope.md
  packages/api/cms-api/src/full-text-search/full-text-search.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Export `AnonymousBlockInterface` type
  .changeset/export-anonymous-block-interface.md
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor MSW handlers into separate modules (#5818)
  packages/admin/admin/.storybook/mocks/handlers.ts
  packages/admin/admin/.storybook/mocks/manufacturersHandler.ts
  packages/admin/admin/.storybook/mocks/productsHandler.ts
  packages/admin/admin/.storybook/mocks/usersHandler.ts
  storybook/.storybook/mocks/fileUploadsHandler.ts
  storybook/.storybook/mocks/foldersHandler.ts
  storybook/.storybook/mocks/handlers.ts
  storybook/.storybook/mocks/launchesPastHandler.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Don't export EntityScopeMapping and isEntityScopeMapping
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Support link blocks with migrations in TipTap rich text block
  .changeset/tiptap-rich-text-block-support-link-blocks-with-migrations.md
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update vitest to 4.1.8
  demo/api/package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/brevo-api/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-plugin/package.json
  packages/mail-react/package.json
  packages/site/site-nextjs/package.json
  packages/site/site-react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint

Export `AnonymousBlockInterface` type (#5825)
  .changeset/export-anonymous-block-interface.md
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix FullTextSearch view creation (#5824)
  packages/api/cms-api/src/full-text-search/full-text-search.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Trim duplicated dev-pm commands from mail-react agent instructions
  packages/mail-react/AGENTS.md
Due: prettylint

Remove circular dependency between @comet/admin and @comet/admin-legacy
  packages/admin/admin/package.json
  packages/admin/admin/src/form/__stories__/DisableAutoNavigation.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackTableFormQueryAtStack.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackTableFormQueryInTable.stories.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Upgrade vitest and related packages to 4.1.8 (#5828)
  demo/api/package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/brevo-api/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-plugin/package.json
  packages/mail-react/package.json
  packages/site/site-nextjs/package.json
  packages/site/site-react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint

Fix knip findings after moving table components
  knip.json
  packages/admin/admin-legacy/package.json
  packages/admin/admin/package.json
  pnpm-lock.yaml
Due: prettylint

Fix broken pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Satisfy knip via ignoreDependencies instead of removing deps
  knip.json
  packages/admin/admin-legacy/package.json
  packages/admin/admin/package.json
  pnpm-lock.yaml
Due: prettylint

Build the demo mail from @comet/mail-react instead of local copies
  demo/api/package.json
  demo/api/src/mail/components/MailRoot.tsx
  demo/api/src/mail/utils/renderMailHtml.tsx
  demo/api/src/products/published-mail/Mail.tsx
  demo/api/src/products/published-mail/__stories__/ProductPublishedMail.stories.tsx
  demo/api/src/products/published-mail/product-published.mail.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Trim duplicated dev-pm commands from mail-react agent instructions (#5829)
  packages/mail-react/AGENTS.md
Due: prettylint

admin: Move IntlDecorator outside RouterDecorator in Storybook preview
  packages/admin/admin/.storybook/preview.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Fix Storybook IntlDecorator order so RouterPrompt dialog gets intl (#5832)
  packages/admin/admin/.storybook/preview.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add FullTextSearchBlock to demo
  demo/admin/src/common/blocks/FullTextSearchBlock.tsx
  demo/admin/src/documents/pages/blocks/PageContentBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/full-text-search.block.ts
  demo/api/src/documents/pages/blocks/page-content.block.ts
  demo/site/src/common/blocks/FullTextSearchBlock.module.scss
  demo/site/src/common/blocks/FullTextSearchBlock.tsx
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Fix FinalFormNumberInput dirtying the form on mount when initial value is null
  .changeset/fix-final-form-number-input-dirty-on-mount.md
  packages/admin/admin/src/form/FinalFormNumberInput.tsx
  packages/admin/admin/src/form/__stories__/NumberField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Fix FinalFormNumberInput dirtying the form on mount when initial value is null (#5826)
  .changeset/fix-final-form-number-input-dirty-on-mount.md
  packages/admin/admin/src/form/FinalFormNumberInput.tsx
  packages/admin/admin/src/form/__stories__/NumberField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: add FullTextSearchResolver to generate-schema and update schema
  .changeset/add-full-text-search-resolver-to-schema.md
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: remove changeset for FullTextSearchResolver schema update
  .changeset/add-full-text-search-resolver-to-schema.md
Due: prettylint

cms-api: Filter fullTextSearch results by entity visibility
  .changeset/filter-full-text-search-by-visible.md
  packages/api/cms-api/src/entity-info/entity-info.service.ts
  packages/api/cms-api/src/entity-info/entity-info.utils.ts
  packages/api/cms-api/src/full-text-search/entities/entity-info-full-text.object.ts
  packages/api/cms-api/src/full-text-search/full-text-search.resolver.ts
  packages/api/cms-api/src/full-text-search/full-text-search.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Reuse EntityInfo view's visible column in EntityInfoFullText
  packages/api/cms-api/src/entity-info/entity-info.service.ts
  packages/api/cms-api/src/entity-info/entity-info.utils.ts
  packages/api/cms-api/src/full-text-search/full-text-search.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add screenshots (PR #5834: GlobalSearch)
  pr-5834/global-search-dropdown.png
  pr-5834/global-search-opened-entity.png
Due: none

demo: exclude FullTextSearchBlock from page content fixtures
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add themed MjmlButton and HtmlButton components
  .changeset/add-themed-button-components.md
  packages/mail-react/src/components/button/HtmlButton.tsx
  packages/mail-react/src/components/button/MjmlButton.tsx
  packages/mail-react/src/components/button/README.md
  packages/mail-react/src/components/button/__stories__/HtmlButton.stories.tsx
  packages/mail-react/src/components/button/__stories__/MjmlButton.stories.tsx
  packages/mail-react/src/components/button/__tests__/HtmlButton.test.tsx
  packages/mail-react/src/components/button/__tests__/MjmlButton.test.tsx
  packages/mail-react/src/components/button/buttonProps.ts
  packages/mail-react/src/components/button/defaultButtonStyles.ts
  packages/mail-react/src/components/button/generateResponsiveButtonCss.ts
  packages/mail-react/src/index.ts
  packages/mail-react/src/reactEmailTypes.d.ts
  packages/mail-react/src/theme/createTheme.ts
  packages/mail-react/src/theme/defaultTheme.ts
  packages/mail-react/src/theme/themeTypes.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make the demo `Mail` component render its own `MjmlMailRoot`
  demo/api/src/products/published-mail/Mail.tsx
  demo/api/src/products/published-mail/__stories__/ProductPublishedMail.stories.tsx
  demo/api/src/products/published-mail/product-published.mail.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Add tests for resolveHasSaveConflict
  packages/admin/cms-admin/src/pages/__tests__/resolveHasSaveConflict.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Migrate router stories from global storybook to @comet/admin package
  packages/admin/admin/src/router/__stories__/ForcePromptRoute.stories.tsx
  packages/admin/admin/src/router/__stories__/RouterPrompt.stories.tsx
  packages/admin/admin/src/router/__stories__/SubRoute.stories.tsx
  packages/admin/admin/src/router/__stories__/SubRouteNestedIndex.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

update schema.gql in cms-api by adding new FullTextSearchResolver to generate-schema (#5833)
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Validate uploaded SVGs with DOMPurify and jsdom
  .changeset/svg-validation-dompurify.md
  packages/api/cms-api/package.json
  packages/api/cms-api/src/file-utils/files.utils.ts
  packages/api/cms-api/src/file-utils/jsdom.d.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Allow AffectedScope-Generator to return multiple scopes
  .changeset/add-args-to-scopes-affected-scope.md
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.spec.ts
  packages/api/cms-api/src/user-permissions/content-scope.service.ts
  packages/api/cms-api/src/user-permissions/decorators/affected-scope.decorator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add SVG validation tests for namespaced tags and uppercase attributes
  packages/api/cms-api/src/file-utils/files.utils.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Make ts-node load the local jsdom type declaration
  packages/api/cms-api/tsconfig.json
Due: prettylint

cms-admin: Add GlobalSearch component for scoped full-text search
  .changeset/global-search.md
  demo/admin/src/common/MasterHeader.tsx
  packages/admin/cms-admin/src/fullTextSearch/GlobalSearch.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Join EntityInfo at query time in fullTextSearch instead of a second query
  .changeset/filter-full-text-search-by-visible.md
  packages/api/cms-api/src/full-text-search/entities/entity-info-full-text.object.ts
  packages/api/cms-api/src/full-text-search/full-text-search.resolver.ts
  packages/api/cms-api/src/full-text-search/full-text-search.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `TipTapRichTextBlockContent` type export; remove `@tiptap/*` from `demo/api` (#5799)
  demo/api/package.json
  demo/api/src/common/blocks/tip-tap-rich-text/migrations/2-heading-1-to-heading-2.migration.ts
  packages/admin/cms-admin/src/blocks/tipTap/createTipTapRichTextBlock.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/api/cms-api/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
