Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: exclude FullTextSearchBlock from page content fixtures
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: add public siteFullTextSearch query for the site search block
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/full-text-search/dto/paginated-site-full-text-search-result.ts
  demo/api/src/full-text-search/entities/site-full-text-search-result.entity.ts
  demo/api/src/full-text-search/site-full-text-search.module.ts
  demo/api/src/full-text-search/site-full-text-search.resolver.ts
  demo/site/src/common/blocks/FullTextSearchBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: scope FullTextSearchBlock search to the current page
  demo/site/src/common/blocks/FullTextSearchBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add FullTextSearchBlock to demo
  demo/admin/src/common/blocks/FullTextSearchBlock.tsx
  demo/admin/src/documents/pages/blocks/PageContentBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/full-text-search.block.ts
  demo/api/src/documents/pages/blocks/page-content.block.ts
  demo/site/src/common/blocks/FullTextSearchBlock.module.scss
  demo/site/src/common/blocks/FullTextSearchBlock.tsx
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: add a Search page fixture with the full text search block
  demo/api/src/db/fixtures/fixtures.command.ts
  demo/api/src/db/fixtures/generators/document-generator.service.ts
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: simplify FullTextSearchBlock result display
  demo/site/src/common/blocks/FullTextSearchBlock.module.scss
  demo/site/src/common/blocks/FullTextSearchBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: handle nullable useParams in FullTextSearchBlock
  demo/site/src/common/blocks/FullTextSearchBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: reuse cms-api full-text-search entities in siteFullTextSearch
  .changeset/site-full-text-search-exports.md
  demo/api/schema.gql
  demo/api/src/full-text-search/dto/paginated-site-full-text-search-result.ts
  demo/api/src/full-text-search/entities/site-full-text-search-result.entity.ts
  demo/api/src/full-text-search/site-full-text-search.module.ts
  demo/api/src/full-text-search/site-full-text-search.resolver.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Fix action-log storybook fixture to match schema (#5913)
  packages/admin/cms-admin/.storybook/mocks/actionLogDialogHandler.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

site: Increase Node heap limit for local dev to prevent OOM crashes
  demo/site/package.json
Due: prettylint

site: Lower local dev heap limit to 1024 MB
  demo/site/package.json
Due: prettylint

link to search result
  demo/site/src/common/blocks/FullTextSearchBlock.module.scss
  demo/site/src/common/blocks/FullTextSearchBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

site: Set local dev heap limit to 768 MB
  demo/site/package.json
Due: prettylint

site: Fix dev server out-of-memory crashes
  demo/site/next.config.ts
  demo/site/package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Batch ActionLog.user lookups via DataLoader
  .changeset/batch-action-log-user-lookups.md
  packages/api/cms-api/src/action-logs/action-logs-user-loader.service.ts
  packages/api/cms-api/src/action-logs/action-logs.module.ts
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove changeset
  .changeset/batch-action-log-user-lookups.md
Due: prettylint

demo-site: Increase Node.js heap size for dev server (#5915)
  demo/site/package.json
Due: prettylint

Use mirror.gcr.io registry for all Docker images (#5908)
  docker-compose.yml
Due: none

cms-api: Add top-level <entity>ActionLogs query and drop nested resolvers
  packages/api/cms-api/src/action-logs/action-logs-filter.utils.ts
  packages/api/cms-api/src/action-logs/action-logs.resolver.factory.ts
  packages/api/cms-api/src/action-logs/dto/action-log.filter.ts
  packages/api/cms-api/src/action-logs/dto/action-log.sort.ts
  packages/api/cms-api/src/action-logs/dto/action-logs.args.ts
  packages/api/cms-api/src/action-logs/dto/entity-action-logs.args.ts
  packages/api/cms-api/src/action-logs/dto/paginated-action-logs.args.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Use filtersToMikroOrmQuery for action-log filter conversion
  packages/api/cms-api/src/action-logs/action-logs-filter.utils.ts
  packages/api/cms-api/src/action-logs/action-logs.resolver.factory.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Migrate ActionLogButton and ActionLogDialog to top-level query
  demo/api/schema.gql
  packages/admin/cms-admin/.storybook/mocks/actionLogDialogHandler.ts
  packages/admin/cms-admin/.storybook/mocks/actionLogsHandlers.ts
  packages/admin/cms-admin/.storybook/mocks/handlers.ts
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogButton/ActionLogButton.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogButton/__stories__/ActionLogButton.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogDialog/ActionLogDialog.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogDialog/ActionLogDialog.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogDialog/__stories__/ActionLogDialog.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogsQuery.ts
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: Migrate ActionLogButton call sites to top-level query
  demo/admin/src/products/ManufacturersPage.tsx
  demo/admin/src/products/ProductsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Drop entityName from ActionLogFilter and ActionLogSortField
  demo/api/schema.gql
  packages/api/cms-api/src/action-logs/dto/action-log.filter.ts
  packages/api/cms-api/src/action-logs/dto/action-log.sort.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Remove react-dnd peer dependency
  .changeset/admin-remove-react-dnd-peer-dependency.md
  packages/admin/admin/package.json
  pnpm-lock.yaml
Due: prettylint

Add ActionLog.previousVersion and use it for ActionLogVersionGrid row click
  demo/api/schema.gql
  packages/admin/cms-admin/.storybook/mocks/actionLogDialogHandler.ts
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogVersionGrid/ActionLogVersionGrid.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogVersionGrid/ActionLogVersionGrid.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogVersionGrid/__stories__/ActionLogVersionGrid.stories.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/action-logs/action-logs.module.ts
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
  packages/api/cms-api/src/action-logs/previous-action-log-loader.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo-site: Store wrapped cache value in in-memory fallback
  demo/site/cache-handler.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

brevo-admin: Build update input directly instead of using rest spread
  packages/admin/brevo-admin/src/brevoContacts/form/BrevoContactForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Fix copying the home page creating a second page with the slug "home"
  .changeset/fix-copy-home-page-duplicate-slug.md
  packages/api/cms-api/src/page-tree/page-tree.service.test.ts
  packages/api/cms-api/src/page-tree/page-tree.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Add GlobalActionLogGrid, page and show-version dialog [COM-3006]
  packages/admin/cms-admin/.storybook/mocks/globalActionLogHandlers.ts
  packages/admin/cms-admin/.storybook/mocks/handlers.ts
  packages/admin/cms-admin/src/actionLog/components/actionLogCompare/ActionLogCompare.tsx
  packages/admin/cms-admin/src/actionLog/components/actionLogShowVersion/ActionLogShowVersion.tsx
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogGrid/GlobalActionLogGrid.gql.ts
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogGrid/GlobalActionLogGrid.tsx
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogPage/GlobalActionLogPage.tsx
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogShowVersionDialog/GlobalActionLogShowVersionDialog.gql.ts
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogShowVersionDialog/GlobalActionLogShowVersionDialog.tsx
  packages/admin/cms-admin/src/actionLog/globalActionLog/globalActionLogShowVersionDialog/__stories__/GlobalActionLogShowVersionDialog.stories.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add cross-entity actionLogs query gated by actionLog permission [COM-3006]
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
  packages/api/cms-api/src/action-logs/dto/action-log.filter.ts
  packages/api/cms-api/src/action-logs/dto/action-logs.args.ts
  packages/api/cms-api/src/action-logs/dto/global-action-logs.args.ts
  packages/api/cms-api/src/common/enum/core-permission.enum.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: Add Action Log page to MasterMenu [COM-3006]
  demo/admin/src/common/MasterMenu.tsx
  demo/api/schema.gql
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix fallback cache storing wrong value shape in site cache handler (#5916)
  demo/site/cache-handler.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "brevo-admin: Build update input directly instead of using rest spread"
  packages/admin/brevo-admin/src/brevoContacts/form/BrevoContactForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Document the in-memory cache fallback fix in the v9 site migration guide
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
Due: prettylint

Fix BrevoContactForm sending sendDoubleOptIn in update mutation (#5899)
  .changeset/fix-brevo-contact-update-send-double-opt-in.md
  packages/admin/brevo-admin/src/brevoContacts/form/BrevoContactForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix auto assigning
  .github/auto_assign.yml
  .github/workflows/auto-assign.yml
Due: none

Add ActionLog.previousVersion and use it for ActionLogVersionGrid row click (#5897)
  demo/api/schema.gql
  packages/admin/cms-admin/.storybook/mocks/actionLogDialogHandler.ts
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogVersionGrid/ActionLogVersionGrid.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogVersionGrid/ActionLogVersionGrid.tsx
  packages/admin/cms-admin/src/actionLog/actionLog/actionLogVersionGrid/__stories__/ActionLogVersionGrid.stories.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/action-logs/action-logs.module.ts
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
  packages/api/cms-api/src/action-logs/previous-action-log-loader.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Backport v8: Fix home page duplication when copying in page tree (#5917)
  .changeset/fix-copy-home-page-duplicate-slug.md
  packages/api/cms-api/src/page-tree/page-tree.service.test.ts
  packages/api/cms-api/src/page-tree/page-tree.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix auto assigning (#5918)
  .github/auto_assign.yml
  .github/workflows/auto-assign.yml
Due: none

Shorten the cache fallback step in the v9 site migration guide
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
Due: prettylint

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
