Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Demo API: Update react-intl to v7 (#4735)
  demo/api/package.json
  pnpm-lock.yaml
Due: prettylint

Add change of react client rendering API to v8 migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Add change of react client rendering API to v8 migration guide (#4741)
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Fix graphql schema in cms-api
  packages/api/cms-api/schema.gql
Due: none

Update .changeset/huge-rivers-run.md
  .changeset/huge-rivers-run.md
Due: prettylint

Add new permissions `sitePreview` and `blockPreview` to `SitePreviewResolver` (#4738)
  .changeset/new-buckets-tie.md
  demo/api/schema.gql
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/common/enum/core-permission.enum.ts
  packages/api/cms-api/src/page-tree/site-preview.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Site Packages: add sideEffects to package.json to avoid unneeded imports (#4734)
  packages/site/site-nextjs/package.json
  packages/site/site-react/package.json
Due: prettylint

Copy security headers from starter
  .env
  demo/admin/server/index.js
  demo/api/package.json
  demo/api/src/app.module.ts
  demo/api/src/config/config.ts
  demo/api/src/config/environment-variables.ts
  demo/api/src/main.ts
  demo/site/next.config.mjs
  demo/site/src/middleware.ts
  demo/site/src/middleware/contentSecurityPolicyHeaders.ts
  demo/site/src/middleware/cspHeaders.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix content scope select stories (#4739)
  storybook/src/cms-admin/ContentScopeSelect.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove the delay before closing the `EditDialog` after successful save (#4733)
  .changeset/huge-rivers-run.md
  packages/admin/admin/src/EditDialog.tsx
  packages/admin/admin/src/EditDialogApiContext.tsx
  storybook/src/admin/edit-dialog/EditDialog.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Migration Guide v8: Explicitly ask devs to use the newest v8 version
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Migration Guide v8: Explicitly ask devs to use the newest v8 version (#4743)
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Improve changeset
  .changeset/modern-ghosts-play.md
Due: prettylint

forward x- headers instead of calculating own values
  demo/site/src/app/[visibility]/[domain]/graphql/route.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Check if element changed by checking deep equality of props
  packages/admin/admin/src/stack/StackPageTitle.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

load blockData recursively for FooterContentBlock
  demo/site/src/app/[visibility]/[domain]/[language]/layout.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add tooltips to cronjobs grids
  packages/admin/cms-admin/src/cronJobs/CronJobsGrid.tsx
  packages/admin/cms-admin/src/cronJobs/JobsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

revert changes in InternalLinkBlock
  demo/site/src/common/blocks/InternalLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

API Generator: Fix generated position-query in service
  .changeset/huge-pandas-eat.md
  demo/api/src/db/migrations/Migration20251111094023.ts
  demo/api/src/products/generated/product-variants.service.ts
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add console:debug script to demo api
  demo/api/package.json
Due: prettylint

pass scope to output2State
  packages/admin/cms-admin/src/blocks/InternalLinkBlock.tsx
  packages/admin/cms-admin/src/blocks/context/BlockContext.tsx
  packages/admin/cms-admin/src/blocks/context/BlockContextProvider.tsx
  packages/admin/cms-admin/src/blocks/context/useBlockContext.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Allow `blob:` URLs in CSP to enable image previews in FileUploadField (#4712)
  demo/admin/server/index.js
Due: prettylint

re-add use client in InternalLinkBlock
  demo/site/src/common/blocks/InternalLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: update theme variables (#4592)
  demo/site/src/common/blocks/AccordionBlock.module.scss
  demo/site/src/common/blocks/AccordionItemBlock.module.scss
  demo/site/src/common/blocks/MediaGalleryBlock.module.scss
  demo/site/src/common/blocks/RichTextBlock.module.scss
  demo/site/src/common/components/Breadcrumbs.module.scss
  demo/site/src/common/components/Button.module.scss
  demo/site/src/common/components/Typography.module.scss
  demo/site/src/common/components/Typography.tsx
  demo/site/src/common/helpers/CookiePlaceholders.module.scss
  demo/site/src/documents/pages/blocks/BasicStageBlock.module.scss
  demo/site/src/documents/pages/blocks/BillboardTeaserBlock.module.scss
  demo/site/src/documents/pages/blocks/ContentGroupBlock.module.scss
  demo/site/src/documents/pages/blocks/KeyFactItemBlock.module.scss
  demo/site/src/documents/pages/blocks/TeaserItemBlock.module.scss
  demo/site/src/layout/footer/blocks/FooterContentBlock.module.scss
  demo/site/src/layout/header/DesktopMenu.module.scss
  demo/site/src/layout/header/Header.module.scss
  demo/site/src/layout/header/MobileMenu.module.scss
  demo/site/src/layout/topNavigation/TopNavigation.module.scss
  demo/site/src/news/NewsPage.module.scss
  demo/site/src/styles/global.scss
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove comments
  packages/api/cms-api/src/file-uploads/file-uploads.service.ts
  packages/api/cms-api/src/warnings/warning-checker.command.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add entityinfo to redirects
  packages/api/cms-api/src/redirects/entities/redirect-entity.factory.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/nice-crews-refuse.md
Due: prettylint

Fix block loader in block preview by using the persisted queries endpoint (#4708)
  .changeset/modern-ghosts-play.md
  demo/site/src/app/[visibility]/[domain]/graphql/route.ts
  demo/site/src/app/block-preview/[domain]/[language]/footer/page.tsx
  demo/site/src/app/block-preview/[domain]/[language]/page/page.tsx
  demo/site/src/util/graphQLClient.ts
  demo/site/src/webpack/gql-hash-loader.ts
  packages/site/site-nextjs/src/index.ts
  packages/site/site-react/src/graphQLFetch/fetchInMemoryCache.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add entity info to redirects (#4747)
  .changeset/nice-crews-refuse.md
  packages/api/cms-api/src/redirects/entities/redirect-entity.factory.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

only load footer data if footer is present
  demo/site/src/app/[visibility]/[domain]/[language]/layout.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

site-nextjs: Add functionality for persisted queries on client side
  .changeset/sad-pets-grin.md
  demo/api/schema.gql
  demo/site/next.config.mjs
  demo/site/package.json
  demo/site/src/app/[visibility]/[domain]/graphql/route.ts
  demo/site/src/news/NewsPage.tsx
  demo/site/src/util/graphQLClient.ts
  packages/site/site-nextjs/package.json
  packages/site/site-nextjs/src/index.ts
  packages/site/site-react/package.json
  packages/site/site-react/src/index.ts
  packages/site/site-react/src/persistedQueries/createPersistedQueryGraphQLFetch.ts
  packages/site/site-react/src/persistedQueries/persistedQueryRoute.ts
  packages/site/site-react/src/persistedQueries/webpackGqlHashLoader.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename variable according to design
  demo/site/src/styles/global.scss
Due: prettylint

fix import
  demo/site/src/styles/global.scss
Due: prettylint

add theme variables
  demo/site/src/styles/theme.scss
Due: prettylint

move variables to theme.scss
  demo/site/src/styles/global.scss
  demo/site/src/styles/theme.scss
Due: prettylint

use new variables in components
  demo/site/src/common/blocks/AccordionItemBlock.module.scss
  demo/site/src/common/components/Button.module.scss
Due: prettylint

remove duplicated variables from inverted theme
  demo/site/src/styles/theme.scss
Due: prettylint

add theme switching to ContentGroupBlock
  demo/site/src/documents/pages/blocks/ContentGroupBlock.module.scss
  demo/site/src/documents/pages/blocks/ContentGroupBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Load blockData recursively for FooterContentBlock (#4744)
  demo/site/src/app/[visibility]/[domain]/[language]/layout.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update dev-oidc-provider to 1.2.0
  package.json
  pnpm-lock.yaml
Due: prettylint
