Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Make the separator of `FinalFormRangeInput` overridable and change the default to the string "to" (#2380)
  .changeset/witty-moons-sit.md
  packages/admin/admin/src/form/FinalFormRangeInput.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add story for synchronized RTEs (#2374)
  storybook/src/admin-rte/SynchronizedEditors.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add a story to showcase how to use a Chip as menu (#2375)
  storybook/src/admin/mui/ChipMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add prop to hide the slider in FinalFormRangeInput
  .changeset/smooth-numbers-design.md
  packages/admin/admin/src/form/FinalFormRangeInput.tsx
  storybook/src/admin/form/AllFieldComponents.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make the details and creator/author fields optional when using the DAM license feature (#2376)
  .changeset/pink-panther-purr.md
  packages/admin/cms-admin/src/dam/FileForm/FileSettingsFields.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove changeset
  .changeset/tame-candles-switch.md
Due: prettylint

Add prop to hide the slider in `FinalFormRangeInput` (#2381)
  .changeset/smooth-numbers-design.md
  packages/admin/admin/src/form/FinalFormRangeInput.tsx
  storybook/src/admin/form/AllFieldComponents.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove changeset
  .changeset/nine-donuts-jog.md
Due: prettylint

Remove changeset
  .changeset/flat-mirrors-provide.md
Due: prettylint

Remove downlaod for FileUpload
  packages/admin/cms-admin/src/form/file/FinalFormFileUpload.tsx
  packages/api/cms-api/src/file-uploads/file-uploads.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move definition of 'defaultMinWidth'
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adjust the spacing of `FinalFormRangeInput` to align with other inputs
  .changeset/cold-mangos-begin.md
  packages/admin/admin/src/form/FinalFormRangeInput.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add errorInfo again because it might have some useful information
  .changeset/rich-colts-laugh.md
  demo/site/src/util/ErrorHandler.tsx
  packages/site/cms-site/src/errorHandler/ErrorHandlerBoundary.tsx
  packages/site/cms-site/src/errorHandler/ErrorHandlerProvider.tsx
  packages/site/cms-site/src/errorHandler/ErrorReporter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update to comet v7
  demo/api/src/db/fixtures/generators/image-file-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Upgrade dotenv-cli
  demo/api/package.json
  pnpm-lock.yaml
Due: prettylint

Make input form value dependant on multiple prop
  packages/admin/cms-admin/src/form/file/FileUploadField.tsx
  packages/admin/cms-admin/src/form/file/FinalFormFileUpload.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/quick-oranges-punch.md
Due: prettylint

Sort availableContentScopes and userPermissionsContentScopes key alphabetically in the API to enable an easy equality check in the admin
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
  packages/api/cms-api/src/user-permissions/utils/sort-content-scope-keys-alphabetically.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix behavior of `FinalFormRangeInput` when `min`/`max` values are inverted (#2384)
  .changeset/nervous-seahorses-tell.md
  packages/admin/admin/src/form/FinalFormRangeInput.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Implement `FileUploadField` with usage examples in product form (#2151)
  .changeset/chatty-sloths-laugh.md
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/db/migrations/Migration20240729104840.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/dto/product.sort.ts
  demo/api/src/products/generated/product.resolver.ts
  demo/api/src/products/products.module.ts
  packages/admin/cms-admin/src/form/file/FileUploadField.tsx
  packages/admin/cms-admin/src/form/file/FinalFormFileUpload.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/file-uploads/file-uploads.controller.ts
  storybook/src/docs/components/FileSelectListItem/FileSelectListItem.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adjust the spacing of `FinalFormRangeInput` to align with other inputs (#2382)
  .changeset/cold-mangos-begin.md
  packages/admin/admin/src/form/FinalFormRangeInput.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove changelogs
  .changeset/seven-bananas-stare.md
  .changeset/thin-parents-fetch.md
Due: prettylint

Rename prop to define fields used to group positions to groupByFields
  packages/api/cms-api/src/generator/crud-generator.decorator.ts
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove duplicated code
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormField.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove vite logs
  demo/admin/vite.config.mts.timestamp-1722504923076-011a3584cce6b.mjs
  demo/admin/vite.config.mts.timestamp-1722504925122-65fd5a4c4d7ae.mjs
  demo/admin/vite.config.mts.timestamp-1722504931087-69200d7bddc08.mjs
Due: none

Add support for file upload in admin generator
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/future/ProductForm.cometGen.ts
  demo/admin/src/products/future/generated/ProductForm.gql.tsx
  demo/admin/src/products/future/generated/ProductForm.tsx
  packages/admin/cms-admin/src/generator/future/generateForm.ts
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormField.ts
  packages/admin/cms-admin/src/generator/future/generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use the same label variable for all fields
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormField.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix fragment and FormValues types
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/future/generated/ProductForm.tsx
  packages/admin/cms-admin/src/generator/future/generateForm.ts
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormField.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use formatted message for GridColumHeaderTitle label
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove docker-compose.js, update to docker compose v2
  dev-pm.config.js
  docker-compose.js
Due: prettylint

Fix wrong position-field detection
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace Box with fragment as styling is already default
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unnecessary white space
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove whitespace in form generator
  packages/admin/cms-admin/src/generator/future/generateForm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add object-fit cover to pixel image block
  .changeset/twenty-hounds-sleep.md
  packages/site/cms-site/src/blocks/PixelImageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator Future: Finish staticSelect custom values implementation
  demo/admin/src/products/future/ProductForm.cometGen.ts
  demo/admin/src/products/future/generated/ProductForm.tsx
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormField.ts
  packages/admin/cms-admin/src/generator/future/generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator Future: also support values in staticSelect grid column
  demo/admin/src/products/future/ProductsGrid.cometGen.ts
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove changelog
  .changeset/clean-cows-camp.md
Due: prettylint

Rename var to better match value
  packages/admin/cms-admin/src/generator/future/generateForm.ts
  packages/admin/cms-admin/src/generator/future/generateForm/generateFields.ts
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormField.ts
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormLayout.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP
  demo/admin/src/products/ManufacturersGrid.tsx
  demo/admin/src/products/ProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
