Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use spread operator instead of for to push nodes
  demo/site/src/common/blocks/PageTreeIndexBlock.loader.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add test for import of gql type in generated grid file
  packages/admin/admin-generator/package.json
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/scope.ts
  packages/admin/admin-generator/src/commands/generate/utils/test-helper.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: migration guide pin typescript to 5.8.3
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Admin Generator: wrap DataGrid column definition in useMemo to fix restoring persisted column state (#4671)
  .changeset/small-cobras-care.md
  demo/admin/src/news/generated/NewsGrid.tsx
  demo/admin/src/products/generator/generated/ManufacturersGrid.tsx
  demo/admin/src/products/generator/generated/ProductCategoriesGrid.tsx
  demo/admin/src/products/generator/generated/ProductHighlightsGrid.tsx
  demo/admin/src/products/generator/generated/ProductTagsGrid.tsx
  demo/admin/src/products/generator/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/generator/generated/ProductsGrid.tsx
  demo/admin/src/products/generator/generated/SelectProductsGrid.tsx
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/generateGrid.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/scope.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use pnpm throughout (#4672)
  README.md
  demo/admin/package.json
  demo/api/package.json
  demo/build-and-run-site.sh
  demo/site-configs/site-configs.ts
  demo/site-pages/package.json
  demo/site/package.json
  docs/package.json
  package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/site/site-nextjs/package.json
  packages/site/site-react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Align ManufacturerFilter and add missing filter operator label (#4670)
  demo/admin/src/products/ManufacturerFilter.tsx
  demo/admin/src/products/generator/ManufacturerFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: user grid column restore (#4675)
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator: Refactor form value related code into own functions for better testability
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelect.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelectFilter.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/scope.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/generateFormValues.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/flatFormFieldsFromFormConfig.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateForm.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormValues.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "set damFile.captions to possibly undefined"
  packages/site/site-nextjs/src/blocks/DamVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Disable `@next/next/no-img-element` rule (#4663)
  .changeset/modern-monkeys-juggle.md
  packages/eslint-config/nextjs.js
Due: prettylint

generate schema.gql
  packages/api/cms-api/schema.gql
Due: none

add resolveField for previewUrl
  packages/api/cms-api/src/file-uploads/file-uploads.resolver.ts
  packages/api/cms-api/src/file-uploads/file-uploads.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add preview endpoint
  demo/api/schema.gql
  packages/api/cms-api/src/file-uploads/file-uploads-download.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

reduce duplicate code
  packages/api/cms-api/src/file-uploads/file-uploads-download.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/grumpy-cooks-happen.md
Due: prettylint

Add translation to demo-api
  .github/workflows/i18n.yml
  .github/workflows/lint.yml
  demo/api/.gitignore
  demo/api/.prettierignore
  demo/api/intl-update.sh
  demo/api/package.json
  demo/api/src/common/lang.ts
  demo/api/src/products/custom-product.resolver.ts
  demo/api/src/products/generated/product.resolver.ts
  demo/api/src/products/product-published.mail.ts
  install.sh
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use npm_execpath instead of npm
  demo/api/package.json
Due: prettylint

Remove spread to avoid recreation of object
  demo/api/src/common/lang.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move intl-stuff into own service
  demo/api/src/common/lang.ts
  demo/api/src/config/config.module.ts
  demo/api/src/config/translation.service.ts
  demo/api/src/products/product-published.mail.ts
  demo/api/src/products/products.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unused export
  demo/api/src/common/lang.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adjust package.json commands
  demo/api/package.json
Due: prettylint

Rerun api-generator
  demo/api/src/products/generated/product.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use select instead of plural for formatjs
  demo/api/src/products/product-published.mail.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Load translations with file-stream
  demo/api/src/products/product-published.mail.ts
  demo/api/src/translation/lang.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move translation-service into own module
  demo/api/src/app.module.ts
  demo/api/src/config/config.module.ts
  demo/api/src/products/product-published.mail.ts
  demo/api/src/products/products.module.ts
  demo/api/src/translation/lang.ts
  demo/api/src/translation/translation.module.ts
  demo/api/src/translation/translation.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Read translation files async
  demo/api/src/translation/lang.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor getMessages to same as in site, loadMessage
  demo/api/src/products/product-published.mail.ts
  demo/api/src/translation/lang.ts
  demo/api/src/translation/loadMessages.ts
  demo/api/src/translation/translation.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator Form: add support for fields accessing nested objects
  .changeset/curly-teams-kneel.md
  demo/admin/src/news/generated/NewsForm.tsx
  demo/admin/src/products/ManufacturerForm.gql.tsx
  demo/admin/src/products/ManufacturerForm.tsx
  demo/admin/src/products/generator/ManufacturerForm.cometGen.tsx
  demo/admin/src/products/generator/ManufacturersPage.tsx
  demo/admin/src/products/generator/generated/CreateCapProductForm.tsx
  demo/admin/src/products/generator/generated/IdFieldInForm.tsx
  demo/admin/src/products/generator/generated/ManufacturerForm.gql.tsx
  demo/admin/src/products/generator/generated/ManufacturerForm.tsx
  demo/admin/src/products/generator/generated/ProductForm.tsx
  demo/admin/src/products/generator/generated/ProductHighlightForm.tsx
  demo/admin/src/products/generator/generated/ProductPriceForm.tsx
  demo/admin/src/products/generator/generated/ProductVariantForm.tsx
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelect.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelectFilter.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/generateFormField-date.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/optionalNestedFields.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/scope.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/generateFormField-date.test.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/generateFormValues.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/getForwardedGqlArgs.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/optionalNestedFields.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/asyncSelect/generateAsyncSelect.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateComponentFormField.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFields.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateForm.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormLayout.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormValues.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/getForwardedGqlArgs.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/usableFields.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator Grid: Fix type for forwarded prop, GQL prefix was missing for objects
  .changeset/light-feet-attend.md
  packages/admin/admin-generator/package.json
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/scope.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/scope.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/getForwardedGqlArgs.ts
  packages/admin/admin-generator/src/commands/generate/utils/test-helper.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use id instead of pageState?.id
  demo/admin/src/documents/pages/EditPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use tsdown to build cms-api
  packages/api/cms-api/package.json
  packages/api/cms-api/tsdown.config.mts
  pnpm-lock.yaml
Due: prettylint

Add mitmproxy as binary instead of running in docker
  .changeset/better-cougars-slide.md
  .env
  dev-pm.config.ts
  install.sh
  package.json
  packages/cli/src/comet.ts
  packages/cli/src/commands/download-mitmproxy.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: upgrade Node.js to v24
  .github/workflows/build-docs.yml
  .github/workflows/i18n.yml
  .github/workflows/lint.yml
  .github/workflows/peer-deps-check.yml
  .github/workflows/release-beta.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/validate-renovate-config.yml
  .nvmrc
  demo/admin/package.json
  demo/admin/server/package.json
  demo/api/package.json
  demo/site-pages/package.json
  demo/site/package.json
  package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint

combine mobile and desktop breadcrumbs
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.module.scss
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.tsx
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.fragment.ts
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.module.scss
  demo/site/src/common/components/breadcrumbs/MobileBreadcrumbs.tsx
  demo/site/src/documents/pages/Page.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: Update Typescript 5 info note in Comet v7 to v8 upgrade guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Enable keepNames option in tsdown
  packages/api/cms-api/tsdown.config.mts
Due: none

Don't import from index in dam.module.ts
  packages/api/cms-api/src/dam/dam.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Mark Button `color` prop as deprecated
  packages/admin/admin/src/common/buttons/Button.tsx
  packages/admin/admin/src/router/ConfirmationDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix dependency problems
  packages/api/cms-api/src/dam/files/files.service.ts
  packages/api/cms-api/src/page-tree/dto/paginated-page-tree-nodes-args.factory.ts
  packages/api/cms-api/src/page-tree/page-tree.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
