Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Admin Generator: use SelectField instead of Field and FinalFormSelect (#4471)
  .changeset/fancy-foxes-melt.md
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/generateFormField-staticSelect.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/generateFormField-staticSelect.test.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove styled components from heading block
  demo/site/src/common/blocks/HeadingBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: migrate CookieSafeYouTubeVideo block to CSS modules (#4473)
  demo/site/src/common/blocks/CookieSafeYouTubeVideoBlock.module.scss
  demo/site/src/common/blocks/CookieSafeYouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: remove styled-components from heading block (#4474)
  demo/site/src/common/blocks/HeadingBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/open-zoos-chew.md
Due: prettylint

Improve changeset
  .changeset/many-bats-unite.md
Due: prettylint

set minimum font-size value for sub and sup elements
  demo/site/src/styles/global.scss
Due: prettylint

Update storybook/src/admin/form/SelectField.stories.tsx
  storybook/src/admin/form/SelectField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add skip links
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
  demo/site/src/layout/footer/blocks/FooterContentBlock.tsx
  demo/site/src/layout/header/Header.tsx
  demo/site/src/news/NewsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat: add action logs module for storing snapshots of entity changes
  packages/api/cms-api/package.json
  packages/api/cms-api/src/action-logs/action-logs.decorator.ts
  packages/api/cms-api/src/action-logs/action-logs.module.ts
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
  packages/api/cms-api/src/action-logs/action-logs.service.ts
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
  packages/api/cms-api/src/action-logs/dto/action-log.filter.ts
  packages/api/cms-api/src/action-logs/dto/action-log.sort.ts
  packages/api/cms-api/src/action-logs/dto/paginated-action-logs.args.ts
  packages/api/cms-api/src/action-logs/dto/paginated-action-logs.ts
  packages/api/cms-api/src/action-logs/entities/action-log.entity.ts
  packages/api/cms-api/src/common/enum/core-permission.enum.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/mikro-orm/migrations/Migration20250827053944.ts
  packages/api/cms-api/src/mikro-orm/mikro-orm.module.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(demo): enable actionslogs module
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/db/fixtures/fixtures.command.ts
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/news/entities/news.entity.ts
  demo/api/src/products/entities/manufacturer.entity.ts
  demo/api/src/products/entities/product.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: add changeset
  .changeset/cold-candles-happen.md
Due: prettylint

fix: use enity instance for entityScope check
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: add action log queries to schema
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: callback function is a promise
  packages/api/cms-api/src/action-logs/action-logs.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: use decorator constants
  packages/api/cms-api/src/action-logs/action-logs.module.ts
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat: add schema.gql changes
  packages/api/cms-api/schema.gql
Due: none

fix: check for undefined metadata
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat: support also magic scope field
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: use actionLogService for cls setup per DI
  packages/api/cms-api/src/action-logs/action-logs.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: rename function
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: support also single values for action logs permission
  packages/api/cms-api/src/action-logs/action-logs.decorator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: get primary key from entitymetadata
  packages/api/cms-api/src/action-logs/action-logs.decorator.ts
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: set actionlog context for console globally
  demo/api/src/console.ts
  demo/api/src/db/fixtures/fixtures.command.ts
  demo/api/src/db/fixtures/fixtures.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

move skip links to TopNavigation to fix tab order
  demo/site/src/layout/header/Header.tsx
  demo/site/src/layout/topNavigation/TopNavigation.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

avoid clicking non-visible skip links by setting pointer events
  demo/site/src/layout/topNavigation/TopNavigation.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add comments for ids that are needed for skip links
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
  demo/site/src/layout/footer/blocks/FooterContentBlock.tsx
  demo/site/src/news/NewsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove aria label from nav in header
  demo/site/src/layout/header/Header.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add dependents tab to EditPage
  demo/admin/src/documents/pages/EditPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

A11y: Improve font-sizes of `<sub>` and `<sup>` elements (#4479)
  demo/site/src/styles/global.scss
Due: prettylint

move mainContent id to main tag
  demo/site/src/documents/pages/Page.tsx
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use main tag on NewsPage
  demo/site/src/news/NewsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove changeset
  .changeset/busy-plums-boil.md
Due: prettylint

test(admin-generator): add snapshot test for date field
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/generateFormField-date.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/generateFormField-date.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

update admin-generator to use Future_DatePickerField instead of FinalFormDatePicker
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/generateFormField-date.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

run admin-generator in demo
  demo/admin/src/news/generated/NewsForm.tsx
  demo/admin/src/products/generator/generated/CreateCapProductForm.tsx
  demo/admin/src/products/generator/generated/ProductForm.tsx
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add changset
  .changeset/fancy-clowns-invent.md
Due: prettylint

test(admin-generator): add snapshot test for datetime field
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/generateFormField-dateTime.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/generateFormField-dateTime.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add missing Future_DateTimePickerField story
  storybook/src/admin/datePicker/DateTimePickerField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

update admin-generator to use Future_DateTimePickerField instead of DateTimePickerField
  demo/admin/src/products/generator/generated/ProductForm.tsx
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/generateFormField-dateTime.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
