Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

changeset
  .changeset/stupid-nights-wonder.md
Due: prettylint

Simplify and complete changeset
  .changeset/stupid-nights-wonder.md
Due: prettylint

API Generator: Add watch mode (#3447)
  .changeset/stupid-nights-wonder.md
  demo/api/package.json
  docs/docs/1-getting-started/4-crud-generator/1-api-generator.md
  packages/api/api-generator/package.json
  packages/api/api-generator/src/commands/generate/generate-command.ts
  packages/api/api-generator/src/commands/generate/generateFiles.ts
  packages/api/api-generator/src/commands/generate/watchMode/handleChildProcess.ts
  packages/api/api-generator/src/commands/generate/watchMode/watchMode.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Api: Add api-generator watch process to dev-pm config
  dev-pm.config.js
Due: prettylint

feat: add ToggleButtonGroupField
  packages/admin/admin/src/form/fields/ToggleButtonGroupField.sc.ts
  packages/admin/admin/src/form/fields/ToggleButtonGroupField.tsx
  packages/admin/admin/src/index.ts
  packages/admin/cms-admin/src/form/FinalFormToggleButtonGroup.tsx
  storybook/src/admin/form/ToggleButtonGroupField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add changeset
  .changeset/evil-hands-fry.md
  .changeset/upset-rice-relate.md
Due: prettylint

docs: add migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

docs: adapt jsdoc explanation
  packages/admin/admin/src/form/fields/ToggleButtonGroupField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add story that showcase optionsPerRow
  storybook/src/admin/form/ToggleButtonGroupField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: lint errors
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Rename and remove next and styled-components dep
  packages/site/site-react/package.json
Due: prettylint

Remove sitePreview route implementations for app and pages router and make SitePreviewProvider framework-agnostic
  packages/site/site-react/src/sitePreview/SitePreviewProvider.tsx
  packages/site/site-react/src/sitePreview/appRouter/sitePreviewRoute.ts
  packages/site/site-react/src/sitePreview/pagesRouter/legacyPagesRouterSitePreviewApiHandler.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make Image implementation framework-agnostic
  packages/site/site-react/src/image/Image.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: move FinalformToggleButonGroup to @comet/admin and reuse it
  .changeset/evil-hands-fry.md
  .changeset/upset-rice-relate.md
  packages/admin/admin/src/form/FinalFormToggleButtonGroup.tsx
  packages/admin/admin/src/form/fields/ToggleButtonGroupField.tsx
  packages/admin/admin/src/index.ts
  packages/admin/cms-admin/src/form/FinalFormToggleButtonGroup.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

omit input and meta
  packages/admin/admin/src/form/fields/ToggleButtonGroupField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: ComponentDemo
  demo/admin/src/common/ComponentDemo.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove next options from fetch
  packages/site/site-react/src/blocks/factories/SeoBlock.tsx
  packages/site/site-react/src/graphQLFetch/graphQLFetch.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove vendor.d.ts for next type overrides
  packages/site/site-react/src/vendor.d.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove InternalLinkBlock
  packages/site/site-react/src/blocks/InternalLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make PixelImageBlock framework-agnostic
  packages/site/site-react/src/blocks/PixelImageBlock.tsx
  packages/site/site-react/src/image/Image.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

update fallback in warningsgrid to be global
  packages/admin/cms-admin/src/warnings/WarningsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Vite-Config: use localhost instead of false for host
  demo/admin/vite.config.mts
Due: none

Set allowed Scopes outside of if clause
  packages/api/cms-api/src/warnings/warning.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Review: Use breakpoints and types from theme
  demo/site/src/theme.ts
  demo/site/src/util/createNextImageSizes.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Review: Rename createNextImagesSizes to createImageSizes
  demo/site/src/common/blocks/TextImageBlock.tsx
  demo/site/src/util/createImageSizes.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Review: Export PageContent version of TextImageBlock
  demo/site/src/common/blocks/TextImageBlock.tsx
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
  demo/site/src/news/blocks/NewsContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

styling adjustments, and adjust stories
  packages/admin/admin/src/form/FinalFormToggleButtonGroup.tsx
  storybook/src/admin/form/ToggleButtonGroupField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Dev: Disable wildcard for Node.js services (#3785)
  demo/admin/vite.config.mts
  demo/api/src/main.ts
  demo/site/server.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Dev: use env var HOST for host to allow a quicker change
  .env
  demo/admin/vite.config.mts
  demo/api/src/main.ts
  demo/site/server.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Dev: use env var `SERVER_HOST` for host to allow a quicker change (#3810)
  .env
  demo/admin/vite.config.mts
  demo/api/src/main.ts
  demo/site/server.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Dev: Server-Host fixes: Re-add comment about remote devices, use config instead of process.env
  .env
  demo/api/src/config/config.ts
  demo/api/src/main.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: close Dialog with ESC and Backdrop click
  packages/admin/admin/src/common/Dialog.tsx
  storybook/src/admin/common/dialog/Dialog.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add changeset
  .changeset/itchy-dancers-kick.md
Due: prettylint

Dev: Minor Server-Host fixes: Re-add comment about remote devices, use config instead of process.env (#3812)
  .env
  demo/api/src/config/config.ts
  demo/api/src/main.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo-API: Add StatusModule from comet-starter
  demo/api/src/app.module.ts
  demo/api/src/status/status.controller.ts
  demo/api/src/status/status.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: title Prop typing of Dialog
  packages/admin/admin/src/common/Dialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add changeset
  .changeset/silent-pugs-sort.md
Due: prettylint

Cleanup temp files after test
  packages/admin/admin-generator/src/commands/generate/__tests__/configParser.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix `defaultRedirectPathAfterChange` implementation
  packages/admin/cms-admin/src/contentScope/Provider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
