Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use Next.JS Site-Preview mode
  .env
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/auth/auth.module.ts
  demo/api/src/config/config.ts
  demo/api/src/config/environment-variables.ts
  demo/site/src/header/PageLink.tsx
  demo/site/src/pages/[[...path]].tsx
  demo/site/src/pages/_app.tsx
  demo/site/src/pages/api/preview.ts
  demo/site/src/pages/preview/[[...path]].tsx
  demo/site/src/util/createGraphQLClient.ts
  packages/admin/cms-admin/src/preview/site/SitePreview.tsx
  packages/admin/cms-admin/src/preview/site/buildPreviewUrl.spec.ts
  packages/admin/cms-admin/src/preview/site/buildPreviewUrl.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/auth/resolver/auth.resolver.ts
  packages/eslint-config/nextjs.js
  packages/site/cms-site/package.json
  packages/site/cms-site/src/index.ts
  packages/site/cms-site/src/link/Link.tsx
  packages/site/cms-site/src/preview/BlockPreviewProvider.tsx
  packages/site/cms-site/src/preview/PreviewContext.tsx
  packages/site/cms-site/src/preview/utils.spec.ts
  packages/site/cms-site/src/preview/utils.ts
  packages/site/cms-site/src/router/useRouter.test.tsx
  packages/site/cms-site/src/router/useRouter.tsx
  packages/site/cms-site/src/sitePreview/SitePreviewPage.tsx
  packages/site/cms-site/src/sitePreview/SitePreviewProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix typo in import
  packages/site/cms-site/src/blocks/InternalLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make type definition more logical
  demo/site/src/pages/api/preview.ts
  demo/site/src/util/createGraphQLClient.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use Provider only in preview-mode
  demo/site/src/pages/_app.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Renew schema
  demo/api/schema.gql
Due: none

Add changeset
  .changeset/yellow-seahorses-lick.md
Due: prettylint

Use own resolver for SitePreview
  demo/api/schema.gql
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/page-tree/createPageTreeResolver.ts
  packages/api/cms-api/src/page-tree/page-tree.module.ts
  packages/api/cms-api/src/page-tree/site-preview.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove not needed type
  demo/site/src/pages/[[...path]].tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update readme for preview
  packages/admin/cms-admin/src/preview/README.md
Due: prettylint

Update readme
  packages/admin/cms-admin/src/preview/README.md
Due: prettylint

Handle activating preview internally in SitePreviewProvider
  .changeset/yellow-seahorses-lick.md
  demo/site/src/pages/_app.tsx
  packages/admin/cms-admin/src/preview/README.md
  packages/site/cms-site/src/sitePreview/SitePreviewProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use provider instead factory
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/page-tree/page-tree.constants.ts
  packages/api/cms-api/src/page-tree/page-tree.module.ts
  packages/api/cms-api/src/page-tree/site-preview.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Require setting secret for SitePreview-Hash
  .changeset/yellow-seahorses-lick.md
  demo/api/src/app.module.ts
  packages/api/cms-api/src/page-tree/page-tree.module.ts
  packages/api/cms-api/src/page-tree/site-preview.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert AuthModule
  demo/api/src/app.module.ts
  demo/api/src/auth/auth.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove cms-site/Link as now next-link can be used
  .changeset/yellow-seahorses-lick.md
  demo/site/src/components/Breadcrumbs.tsx
  demo/site/src/header/PageLink.tsx
  demo/site/src/news/blocks/NewsLinkBlock.tsx
  packages/eslint-config/nextjs.js
  packages/site/cms-site/src/blocks/InternalLinkBlock.tsx
  packages/site/cms-site/src/index.ts
  packages/site/cms-site/src/link/Link.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use date-fns for better readability
  packages/api/cms-api/src/page-tree/site-preview.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add section to add `DependenciesModule`
  docs/docs/migration/migration-from-v4-to-v5.md
Due: prettylint

Remove trailing whitespaces
  docs/docs/migration/migration-from-v4-to-v5.md
Due: prettylint

Throw error when useQuery fails
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Allow creating custom CurrentUserProvider
  packages/admin/cms-admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/common/MasterMenuRoutes.tsx
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add useCurrentUser-hook
  demo/admin/src/App.tsx
  demo/admin/src/common/ContentScopeProvider.tsx
  demo/admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/common/MasterMenuRoutes.tsx
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add loading to CurrentUserProvider
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Avoid using a hook
  packages/admin/cms-admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/common/MasterMenuRoutes.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use existing CurrentUserInterace wherever possible
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add section about new Admin dashboard components
  docs/docs/migration/migration-from-v4-to-v5.md
Due: prettylint

Improve migration guide (#1419)
  docs/docs/migration/migration-from-v4-to-v5.md
Due: prettylint

Make CurrentUserContext a bit cleaner
  packages/admin/cms-admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/common/MasterMenuRoutes.tsx
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Change wording to COMET Core
  docs/docs/internal-development/index.md
Due: prettylint

Name slots lowercase like in MUIs thmeing guide
  docs/docs/internal-development/create-admin-components-with-theme-support.md
  packages/admin/admin/src/appHeader/AppHeader.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Disable the new no-other-module-relative-import eslint rule for core packages as we don't have a @src alias
  packages/admin/admin-color-picker/.eslintrc.json
  packages/admin/admin-date-time/.eslintrc.json
  packages/admin/admin-icons/.eslintrc.json
  packages/admin/admin-react-select/.eslintrc.json
  packages/admin/admin-rte/.eslintrc.json
  packages/admin/admin-theme/.eslintrc.json
  packages/admin/admin/.eslintrc.json
  packages/admin/blocks-admin/.eslintrc.json
  packages/admin/cms-admin/.eslintrc.json
  packages/api/blocks-api/.eslintrc.json
  packages/api/cms-api/.eslintrc.json
  packages/cli/.eslintrc.json
  packages/site/cms-site/.eslintrc.json
Due: prettylint

Improve readibility
  packages/eslint-plugin/src/rules/no-other-module-relative-import.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adapt demo code breaking the new eslint rule
  demo/admin/src/pages/PageContentBlock.tsx
  demo/admin/src/pages/blocks/ColumnsBlock.tsx
  demo/admin/src/pages/blocks/TwoListsBlock.tsx
  demo/api/src/config/config.ts
  demo/api/src/footer/blocks/footer-content.block.ts
  demo/api/src/footer/blocks/footer-link-section.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add eslint rule that enforces absolute (@src/...) import from other modules (src/module)
  .changeset/clever-jokes-chew.md
  packages/eslint-config/core-without-import.js
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/no-other-module-relative-import.test.ts
  packages/eslint-plugin/src/rules/no-other-module-relative-import.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Also disable rule for admin-stories, although this might potentially be fixable
  packages/admin/admin-stories/.eslintrc.json
Due: prettylint

Update changelog
  .changeset/clever-jokes-chew.md
Due: prettylint

Add comment
  packages/eslint-plugin/src/rules/no-other-module-relative-import.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Don't enable no-other-module-relative-import rule in default eslit-config for v5
  packages/eslint-config/core-without-import.js
Due: prettylint

Change properties to be more flexible and start to rework story
  packages/admin/admin-stories/src/admin/alert/Alert.tsx
  packages/admin/admin/src/alert/Alert.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add ESLint rule that enforces absolute (@src/...) imports from other modules (#1303)
  .changeset/clever-jokes-chew.md
  demo/admin/src/pages/PageContentBlock.tsx
  demo/admin/src/pages/blocks/ColumnsBlock.tsx
  demo/admin/src/pages/blocks/TwoListsBlock.tsx
  demo/api/src/config/config.ts
  demo/api/src/footer/blocks/footer-content.block.ts
  demo/api/src/footer/blocks/footer-link-section.block.ts
  packages/admin/admin-color-picker/.eslintrc.json
  packages/admin/admin-date-time/.eslintrc.json
  packages/admin/admin-icons/.eslintrc.json
  packages/admin/admin-react-select/.eslintrc.json
  packages/admin/admin-rte/.eslintrc.json
  packages/admin/admin-stories/.eslintrc.json
  packages/admin/admin-theme/.eslintrc.json
  packages/admin/admin/.eslintrc.json
  packages/admin/blocks-admin/.eslintrc.json
  packages/admin/cms-admin/.eslintrc.json
  packages/api/blocks-api/.eslintrc.json
  packages/api/cms-api/.eslintrc.json
  packages/cli/.eslintrc.json
  packages/eslint-config/core-without-import.js
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/no-other-module-relative-import.test.ts
  packages/eslint-plugin/src/rules/no-other-module-relative-import.ts
  packages/site/cms-site/.eslintrc.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
