Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add BrevoTestContactsPage to bbrevo migration guide
  docs/docs/3-features-modules/9-brevo-module/migration-guide/migration-from-brevo-v2-to-v3.md
Due: prettylint

Remove scopeParts
  docs/docs/3-features-modules/9-brevo-module/migration-guide/migration-from-brevo-v2-to-v3.md
Due: prettylint

Api Generator: Generate filter for uuid fields that are not relations including primary key
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/products/generated/dto/manufacturer.filter.ts
  demo/api/src/products/generated/dto/product-category.filter.ts
  demo/api/src/products/generated/dto/product-tag.filter.ts
  demo/api/src/products/generated/dto/product-variant.filter.ts
  demo/api/src/products/generated/dto/product.filter.ts
  packages/api/api-generator/package.json
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/filter-primary-key.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-embeddable.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-without-find.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
  packages/api/cms-api/src/common/filter/id.filter.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename loadFields to queryFields, makes more clear that it is used in the query
  demo/admin/src/products/future/ProductsGrid.cometGen.tsx
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGqlFieldList.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rerun admin-generator
  demo/admin/src/products/future/generated/CombinationFieldsTestProductsGrid.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Example for new structure of docs for admin components
  docs/.gitignore
  docs/docs/5-admin-components/components/Button.mdx
  docs/package.json
  docs/src/components/AdminComponentStory.tsx
  docs/src/utils/generateStoryCodeFiles.ts
  pnpm-lock.yaml
  storybook/.storybook/preview.tsx
  storybook/src/component-docs/Button.stories.tsx
  storybook/src/component-docs/utils.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve the block preview of redirect targets (#3627)
  .changeset/lucky-nails-think.md
  .changeset/sweet-cups-sit.md
  packages/admin/blocks-admin/src/blocks/factories/createOneOfBlock.tsx
  packages/admin/cms-admin/src/redirects/createRedirectsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

bugreport: static select produces typescript error in certain field combinations
  demo/admin/src/products/future/StaticSelectInputTypeSelect.cometGen.ts
  demo/admin/src/products/future/generated/StaticSelectInputTypeSelect.gql.tsx
  demo/admin/src/products/future/generated/StaticSelectInputTypeSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add line for better readabilty
  packages/admin/admin/src/form/FieldContainer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

improve changeset
  .changeset/four-mice-lie.md
Due: prettylint

Fix styling of filter and column panels of DataGrid
  packages/admin/admin/src/dataGrid/DataGridPanel.tsx
  packages/admin/admin/src/theme/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fixtures: Use `transformToBlockData` instead of `blockDataFactory` (#3646)
  demo/api/src/db/fixtures/generators/document-generator.service.ts
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add changeset
  .changeset/lemon-buses-occur.md
Due: prettylint

Set row-height correctly to prevent incorrectly calculated height of virtual-scroller
  packages/admin/admin/src/theme/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set missing `type` on actions column
  demo/admin/src/products/ManufacturersGrid.tsx
  demo/admin/src/products/ProductVariantsGrid.tsx
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/categories/ProductCategoriesTable.tsx
  demo/admin/src/products/tags/ProductTagTable.tsx
  packages/admin/admin/src/EditDialog.routerTabs.test.tsx
  packages/admin/admin/src/EditDialog.stackRouterTabs.test.tsx
  packages/admin/cms-admin/src/cronJobs/CronJobsGrid.tsx
  packages/admin/cms-admin/src/cronJobs/JobsGrid.tsx
  packages/admin/cms-admin/src/dependencies/DependencyList.tsx
  packages/admin/cms-admin/src/redirects/RedirectsGrid.tsx
  storybook/src/admin/edit-dialog/NestedEditDialogInStack.stories.tsx
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Don't render two fields with the same name
  demo/admin/src/products/future/ProductsGrid.cometGen.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix validation error caused by `EmptyDamScope` when uploading a file (#3620)
  .changeset/moody-pugs-work.md
  packages/api/cms-api/src/dam/files/dto/empty-dam-scope.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Proxy API requests through Admin Domain (#3644)
  .env
  demo/admin/vite.config.mts
Due: none

poc: storybook - admin generator
  packages/admin/admin-generator/.gitignore
  packages/admin/admin-generator/.storybook/decorators/ApolloProvider.decorator.tsx
  packages/admin/admin-generator/.storybook/decorators/ErrorBoundary.decorator.tsx
  packages/admin/admin-generator/.storybook/decorators/IntlDecorator.decorator.tsx
  packages/admin/admin-generator/.storybook/decorators/Layout.decorator.tsx
  packages/admin/admin-generator/.storybook/decorators/Router.decorator.tsx
  packages/admin/admin-generator/.storybook/decorators/ThemeProvider.decorator.tsx
  packages/admin/admin-generator/.storybook/decorators/ThemeProvider.styles.ts
  packages/admin/admin-generator/.storybook/main.ts
  packages/admin/admin-generator/.storybook/manager-head.html
  packages/admin/admin-generator/.storybook/manager.ts
  packages/admin/admin-generator/.storybook/preview-head.html
  packages/admin/admin-generator/.storybook/preview.tsx
  packages/admin/admin-generator/.storybook/public/comet-logo-header.svg
  packages/admin/admin-generator/.storybook/public/favicon.ico
  packages/admin/admin-generator/.storybook/public/mockServiceWorker.js
  packages/admin/admin-generator/.storybook/theme.tsx
  packages/admin/admin-generator/.storybook/vitest.setup.ts
  packages/admin/admin-generator/codegen.ts
  packages/admin/admin-generator/package.json
  packages/admin/admin-generator/schema.gql
  packages/admin/admin-generator/schema.json
  packages/admin/admin-generator/src/documentation/Sample.cometGen.ts
  packages/admin/admin-generator/src/documentation/Sample.stories.tsx
  packages/admin/admin-generator/src/documentation/__mocks__/Sample.success.mock.ts
  packages/admin/admin-generator/src/documentation/generated/Sample.generated.ts
  packages/admin/admin-generator/src/documentation/generated/Sample.tsx
  packages/admin/admin-generator/src/fragmentTypes.json
  packages/admin/admin-generator/src/graphql.generated.ts
  packages/admin/admin-generator/tsconfig.json
  packages/admin/admin-generator/vitest.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add failing example
  demo/api/src/documents/predefined-pages/predefined-pages.service.ts
  demo/api/src/products/entities/product-category.entity.ts
  demo/api/src/products/generated/dto/product-categories.args.ts
  demo/api/src/products/generated/dto/product-category.filter.ts
  demo/api/src/products/generated/dto/product-category.input.ts
  demo/api/src/products/generated/dto/product-category.sort.ts
  demo/api/src/products/generated/product-category.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add fix by adding a cache
  demo/api/schema.gql
  demo/api/src/_temp/enum-filter.factory.ts
  demo/api/src/products/generated/dto/product-category.filter.ts
  demo/api/src/products/generated/dto/product.filter.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: Extend Brevo migration guide (#3649)
  docs/docs/3-features-modules/9-brevo-module/migration-guide/migration-from-brevo-v2-to-v3.md
Due: prettylint

remove create and update in crud generator for warnings and adapt source info file name
  demo/api/schema.gql
  demo/api/src/warnings/dto/warning-source-info.ts
  demo/api/src/warnings/entities/warning.entity.ts
  demo/api/src/warnings/generated/dto/warning.input.ts
  demo/api/src/warnings/generated/warning.resolver.ts
  demo/api/src/warnings/warning.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix conflicts in package.json
  demo/site/package.json
  install.sh
  packages/admin/admin-babel-preset/package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-react-select/CHANGELOG.md
  packages/admin/admin-react-select/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin-theme/CHANGELOG.md
  packages/admin/admin-theme/package.json
  packages/admin/admin/package.json
  packages/admin/blocks-admin/CHANGELOG.md
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/blocks-api/CHANGELOG.md
  packages/api/blocks-api/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/site/cms-site/package.json
  pnpm-lock.yaml
Due: prettylint

Feat: Handle stream with metadata in pipes
  demo/api/src/importer/data-streams/data-stream.ts
  demo/api/src/importer/data-streams/file-data-stream.ts
  demo/api/src/importer/data-streams/local-file-data-stream.ts
  demo/api/src/importer/pipes/parsers/csv-parser.pipe.ts
  demo/api/src/importer/pipes/parsers/data-transformer.pipe.ts
  demo/api/src/importer/pipes/parsers/data-validator.pipe.ts
  demo/api/src/products/product-importer.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix conflicts changelog files
  packages/admin/admin-babel-preset/CHANGELOG.md
  packages/admin/admin-color-picker/CHANGELOG.md
  packages/admin/admin-date-time/CHANGELOG.md
  packages/admin/admin-icons/CHANGELOG.md
  packages/admin/admin-rte/CHANGELOG.md
  packages/admin/admin/CHANGELOG.md
  packages/admin/cms-admin/CHANGELOG.md
  packages/api/cms-api/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-plugin/CHANGELOG.md
  packages/site/cms-site/CHANGELOG.md
Due: prettylint

Fix conflicts in code
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
  demo/site/src/app/[visibility]/[domain]/[language]/[[...path]]/page.tsx
  demo/site/src/app/[visibility]/[domain]/[language]/news/page.tsx
  demo/site/src/common/blocks/InternalLinkBlock.tsx
  demo/site/src/documents/links/Link.tsx
  demo/site/src/news/blocks/NewsLinkBlock.tsx
  demo/site/src/news/blocks/NewsListBlock.tsx
  demo/site/src/util/graphQLClient.ts
  packages/admin/cms-admin/src/blocks/createLinkBlock.tsx
  packages/admin/cms-admin/src/blocks/rte/extension/CmsLink/createCmsLinkToolbarButton.tsx
  packages/admin/cms-admin/src/pages/pagesPage/ConfirmPageActionDialog.tsx
  packages/admin/cms-admin/src/redirects/createRedirectsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix wrong imports in API
  demo/api/src/db/fixtures/generators/blocks/slider-fixture.service.ts
  demo/api/src/documents/pages/blocks/slider.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix wrong import in Admin
  demo/admin/src/documents/pages/blocks/SliderBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/lemon-buses-occur.md
Due: prettylint

API Generator: Exit without an error code when no entities are found (#3631)
  .changeset/lemon-buses-occur.md
  packages/api/api-generator/package.json
  packages/api/api-generator/src/commands/generate/generate-command.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix lint errors
  demo/site/src/app/[visibility]/[domain]/[language]/news/api/route.ts
  demo/site/src/documents/pages/blocks/SliderBlock.tsx
  demo/site/src/news/NewsList.tsx
  demo/site/src/news/NewsPage.loader.ts
  demo/site/src/news/NewsPage.tsx
  demo/site/src/util/createSitePath.ts
  package.json
  packages/admin/admin/src/common/FieldSet.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Implement in-memory redirects target search and filter
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/redirects/redirect-target-url.service.ts
  packages/admin/cms-admin/src/redirects/RedirectsGrid.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/redirects/dto/redirects.filter.ts
  packages/api/cms-api/src/redirects/redirect-target-url.service.ts
  packages/api/cms-api/src/redirects/redirects.constants.ts
  packages/api/cms-api/src/redirects/redirects.module.ts
  packages/api/cms-api/src/redirects/redirects.resolver.ts
  packages/api/cms-api/src/redirects/redirects.util.test.ts
  packages/api/cms-api/src/redirects/redirects.util.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add more realistic redirect fixtures 7000 redirects targeting 1000 different pages, not one.
  demo/api/schema.gql
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/redirects-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move target URL cache into the resolver
  demo/api/src/redirects/redirect-target-url.service.ts
  packages/api/cms-api/src/redirects/redirect-target-url.service.ts
  packages/api/cms-api/src/redirects/redirects.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Throw error instead of failing silently
  packages/api/cms-api/src/redirects/redirects.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make target URL services more forgiving Noticed this while testing the change in a customer project: Some redirects may link to removed page tree nodes. This shouldn't crash the redirects query.
  demo/api/src/redirects/redirect-target-url.service.ts
  packages/api/cms-api/src/redirects/redirect-target-url.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add cache for target URL resolution
  demo/api/src/redirects/redirect-target-url.service.ts
  packages/api/cms-api/src/redirects/redirect-target-url.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove TODO regarding `needsInMemoryFiltering` We discussed this in the JFX and decided that it's okay to always filter in-memory.
  packages/api/cms-api/src/redirects/redirects.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Implement predefined pages
  demo/api/src/app.module.ts
  demo/api/src/documents/predefined-pages/predefined-pages.module.ts
  demo/api/src/documents/predefined-pages/predefined-pages.service.ts
  demo/api/src/redirects/redirect-target-url.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
