Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator (Future): Set color of edit button on correct element (#2625)
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ProductVariantsGrid.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

COM-957: Add basic warning entity (#2503)
  demo/admin/crud-generator-config.ts
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/warnings/WarningsGrid.tsx
  demo/admin/src/warnings/WarningsPage.tsx
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/db/migrations/Migration20241008102605.ts
  demo/api/src/warnings/entities/warning-severity.enum.ts
  demo/api/src/warnings/entities/warning-status.enum.ts
  demo/api/src/warnings/entities/warning.entity.ts
  demo/api/src/warnings/generated/dto/paginated-warnings.ts
  demo/api/src/warnings/generated/dto/warning.filter.ts
  demo/api/src/warnings/generated/dto/warning.input.ts
  demo/api/src/warnings/generated/dto/warning.sort.ts
  demo/api/src/warnings/generated/dto/warnings.args.ts
  demo/api/src/warnings/generated/warning.resolver.ts
  demo/api/src/warnings/warning.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Correct affected packages in changeset
  .changeset/hot-turkeys-notice.md
Due: prettylint

Add info text to 'Edit Dialog in RouterTabs' story
  storybook/src/admin/edit-dialog/EditDialogInRouterTabsWithinStack.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/nine-phones-think.md
Due: prettylint

Admin Generator (Future): Remove unused variable in grid-toolbar generator (#2623)
  packages/admin/cms-admin/src/generator/future/generateGrid/generateGridToolbar.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/nine-phones-think.md
Due: prettylint

Prevent rendering of RichTextBlock without content (#2585)
  .changeset/wise-mirrors-rescue.md
  packages/site/cms-site/src/previewskeleton/PreviewSkeleton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Keep current location when changing scope on publisher and user permissions page (#2597)
  .changeset/nine-phones-think.md
  packages/admin/cms-admin/src/builds/PublisherPage.tsx
  packages/admin/cms-admin/src/userPermissions/UserPermissionsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changeset action The action we're currently using is a specific commit of a fork. We change this to the published version of the fork.
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
Due: none

Update changeset action (#2630)
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
Due: none

Stay on same page when changing scopes
  .changeset/little-students-attend.md
  demo/admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/builds/PublisherPage.tsx
  packages/admin/cms-admin/src/contentScope/Provider.tsx
  packages/admin/cms-admin/src/dam/DamPage.tsx
  packages/admin/cms-admin/src/pages/pagesPage/PagesPage.tsx
  packages/admin/cms-admin/src/redirects/createRedirectsPage.tsx
  packages/admin/cms-admin/src/userPermissions/UserPermissionsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add section to migration guide
  docs/docs/migration/migration-from-v7-to-v8.md
Due: prettylint

Redirects gql Api Performance improvements
  .changeset/orange-apples-flash.md
  demo/api/src/db/fixtures/fixtures.console.ts
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/redirects-fixture.service.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/redirects/redirects.module.ts
  packages/api/cms-api/src/redirects/redirects.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add sql index on Redirect.scope_domain
  demo/api/src/db/migrations/Migration20241015162102.ts
  demo/api/src/redirects/dto/redirect-scope.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Redirects: Increase max limit from 100 to 1000
  demo/site/src/middleware/redirects.ts
  packages/api/cms-api/src/redirects/dto/paginated-redirects-args.factory.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: Add Redis Cache Handler (#2596)
  .env
  demo/site/cache-handler.ts
  demo/site/next.config.js
  demo/site/package.json
  demo/site/tsconfig.server.json
  docker-compose.yml
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site CacheHandler: fine-tune redis config
  demo/site/cache-handler.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site/Api: Add otel metrics, for produciton
  .env
  demo/api/package.json
  demo/api/src/app.module.ts
  demo/api/src/main.ts
  demo/api/src/open-telemetry/api-metrics.interceptor.ts
  demo/api/src/open-telemetry/api-metrics.middleware.ts
  demo/api/src/open-telemetry/metrics.ts
  demo/api/src/open-telemetry/open-telemetry.module.ts
  demo/api/src/tracing.dev.ts
  demo/api/src/tracing.production.ts
  demo/site/cache-handler.ts
  demo/site/opentelemetry-metrics.ts
  demo/site/package.json
  demo/site/server.ts
  demo/site/tracing.dev.ts
  demo/site/tracing.production.ts
  demo/site/tsconfig.server.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add sql metrics by hooking into knex
  demo/api/src/open-telemetry/api-metrics.middleware.ts
  demo/api/src/open-telemetry/knex.service.ts
  demo/api/src/open-telemetry/open-telemetry.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Switch tracing locally to dev, to generate traces
  .env
Due: none

Add 'startAdornment' and 'endAdornment' support for form fields of type: text, number, numberRange, date
  packages/admin/admin-date-time/src/datePicker/DatePicker.tsx
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormField.ts
  packages/admin/cms-admin/src/generator/future/generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update forms with adornments
  demo/admin/src/products/future/CreateCapProductForm.cometGen.ts
  demo/admin/src/products/future/ProductForm.cometGen.ts
  demo/admin/src/products/future/ProductPriceForm.cometGen.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Regenerate forms
  demo/admin/src/products/future/generated/CreateCapProductForm.tsx
  demo/admin/src/products/future/generated/ProductForm.tsx
  demo/admin/src/products/future/generated/ProductPriceForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve GraphQLFetch error handling (#2576)
  .changeset/soft-spoons-deliver.md
  .changeset/spotty-pigs-reply.md
  packages/site/cms-site/src/graphQLFetch/graphQLFetch.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set content scopes in request object (#2580)
  .changeset/blue-moons-travel.md
  packages/api/cms-api/src/common/decorators/utils.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.ts
  packages/api/cms-api/src/user-permissions/content-scope.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove wip todo comments
  packages/admin/cms-admin/src/generator/future/generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/shaggy-waves-fix.md
Due: prettylint

[Docs] Add a guide on how to use a block in a Final Form (#2619)
  docs/docs/blocks/blocks-in-forms.mdx
  docs/docs/blocks/composition.mdx
  docs/docs/blocks/lifecycle.mdx
Due: none

Demo Site CacheHandler: Simplify typing, don't extend class
  demo/site/cache-handler.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

CacheManager: Add cache Age histogram metric
  demo/site/cache-handler.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: Ouput Cache-Control header for all requests that chould be cached by a CDN
  demo/site/server.ts
  demo/site/src/util/graphQLClient.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Do not make adornment string translatable
  demo/admin/src/products/future/generated/ProductForm.tsx
  demo/admin/src/products/future/generated/ProductPriceForm.tsx
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormField.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove typing from generator, use ReactNode instead
  packages/admin/admin-date-time/src/datePicker/DatePicker.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/orange-apples-flash.md
Due: prettylint

Redirects GraphQL API performance improvements (#2632)
  .changeset/orange-apples-flash.md
  demo/api/src/db/fixtures/fixtures.console.ts
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/redirects-fixture.service.ts
  demo/api/src/db/migrations/Migration20241015162102.ts
  demo/api/src/redirects/dto/redirect-scope.ts
  demo/site/src/middleware/redirects.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/redirects/dto/paginated-redirects-args.factory.ts
  packages/api/cms-api/src/redirects/redirects.module.ts
  packages/api/cms-api/src/redirects/redirects.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Extend product entity with 'nextNotificationEmail' for date time demo field
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20241017071404.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/dto/product.sort.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add date time field 'nextNotificationEmail' to handmade product form
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove comment about removing sections from commit message
  .github/pull_request_template.md
Due: prettylint

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
