Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove default of density and use gridDensity as fallback
  packages/admin/admin/src/common/toolbar/DataGridToolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove color and text content from buttons
  packages/admin/cms-admin/src/blocks/rte/extension/CmsLink/createCmsLinkToolbarButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename contents to content
  packages/admin/blocks-admin/src/blocks/factories/createColumnsBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Return empty array for invisible OptionalBlock
  packages/admin/blocks-admin/src/blocks/factories/createOptionalBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace `nestjs-console` with `nest-commander`
  demo/api/package.json
  demo/api/src/console.ts
  demo/api/src/db/db.module.ts
  demo/api/src/db/fixtures/fixtures.command.ts
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/links.generator.ts
  demo/api/src/db/migrate.command.ts
  docs/docs/3-features-modules/5-console-commands/index.md
  packages/api/cms-api/package.json
  packages/api/cms-api/src/blocks/blocks.module.ts
  packages/api/cms-api/src/blocks/commands.service.ts
  packages/api/cms-api/src/blocks/create-block-index-views.command.ts
  packages/api/cms-api/src/blocks/migrate-blocks.command.ts
  packages/api/cms-api/src/blocks/refresh-block-index-views.command.ts
  packages/api/cms-api/src/builds/builds.module.ts
  packages/api/cms-api/src/builds/changes-checker.command.ts
  packages/api/cms-api/src/dam/dam.module.ts
  packages/api/cms-api/src/dam/images/calculateDominantImageColor.command.ts
  packages/api/cms-api/src/redirects/import-redirects.command.ts
  packages/api/cms-api/src/redirects/redirects.module.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix type errors
  demo/admin/package.json
  docs/package.json
  packages/admin/admin/package.json
  packages/admin/admin/src/error/errordialog/createErrorDialogApolloLink.tsx
  packages/admin/admin/src/table/excelexport/useExportPagedTableQuery.tsx
  packages/admin/admin/src/table/excelexport/useExportTableQuery.tsx
  packages/admin/admin/src/table/useTableQuery.ts
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/builds/PublisherPage.tsx
  packages/admin/cms-admin/src/common/apollo/links/includeInvisibleContentContext.ts
  packages/admin/cms-admin/src/common/useEditState.tsx
  packages/admin/cms-admin/src/common/useOptimisticQuery.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamSelectionContext.tsx
  packages/admin/cms-admin/src/pages/useSaveConflictQuery.tsx
  pnpm-lock.yaml
  storybook/package.json
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

undo change in GlobalStyle
  demo/admin/src/App.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: remove testing-library/jset-dom types
  packages/admin/admin/package.json
  packages/admin/admin/setupTests.ts
  packages/admin/admin/tsconfig.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

unset boxSizing for MuiDialogTitle
  demo/admin/src/news/NewsPage.tsx
  packages/admin/admin-theme/src/componentsTheme/MuiDialogTitle.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/nine-roses-reflect.md
Due: prettylint

remove dialog
  demo/admin/src/news/NewsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

improve changeset
  .changeset/nine-roses-reflect.md
Due: prettylint

Rework YouTubeVideoBlock and VimeoVideoBlock extractTextContents
  packages/admin/cms-admin/src/blocks/VimeoVideoBlock.tsx
  packages/admin/cms-admin/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Export stateToHtml from @comet/admin-rte
  packages/admin/admin-rte/src/index.ts
  packages/admin/cms-admin/src/blocks/createRichTextBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use non-deprecated `FillSpace` in generated Grid Toolbars
  demo/admin/src/news/generated/NewsGrid.tsx
  demo/admin/src/products/future/generated/CombinationFieldsTestProductsGrid.tsx
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/generateGrid/generateGridToolbar.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add all variants to button dev story
  storybook/src/admin/Button.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set correct (boolean) values of `inStock`
  demo/admin/src/products/ProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove multiple columns in fixture generator and return only one column
  demo/api/src/db/fixtures/generators/blocks/layout/columns-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/layout/content-group-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Set correct (boolean) value of `inStock` in handmade products grid (#3361)
  demo/admin/src/products/ProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator (Future): Use non-deprecated `FillSpace` in grid toolbars (#3358)
  demo/admin/src/news/generated/NewsGrid.tsx
  demo/admin/src/products/future/generated/CombinationFieldsTestProductsGrid.tsx
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/generateGrid/generateGridToolbar.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix dialog header for dialogs with no title (#3347)
  .changeset/nine-roses-reflect.md
  packages/admin/admin-theme/src/componentsTheme/MuiDialogTitle.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unnecessary styles
  storybook/src/admin/data-grid/CrudMoreActionsMenu.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add version to comet-demo-admin-server
  demo/admin/server/package.json
Due: prettylint

Revert "Update aws-sdk-js-v3 monorepo (#3229)"
  packages/api/cms-api/package.json
  pnpm-lock.yaml
Due: prettylint

remove dependency pin aws client s3
  packages/api/cms-api/package.json
Due: prettylint

fix: disable checkbox selection based on userPermission equal to the save button
  packages/admin/cms-admin/src/userPermissions/user/permissions/OverrideContentScopesDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add lock file
  pnpm-lock.yaml
Due: none

Set alt attribute to empty string as default in SvgImageBlock
  .changeset/shiny-mangos-report.md
  packages/site/cms-site/src/blocks/SvgImageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Ignore filters in affected entity check
  .changeset/eighty-goats-beam.md
  packages/api/cms-api/src/user-permissions/content-scope.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove dependency comments
  packages/api/cms-api/package.json
Due: prettylint

remove ts-expect
  packages/admin/admin/src/form/file/FileDropzone.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update packages/api/cms-api/src/user-permissions/content-scope.service.ts
  packages/api/cms-api/src/user-permissions/content-scope.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Don't render `DialogContent` around `DataGrid`
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: Fix block factories not showing in search (#3348)
  docs/docs/2-core-concepts/2-blocks/4-factories.mdx
Due: none

fix: errors due to new typescript version
  packages/admin/blocks-admin/src/blocks/helpers/withAdditionalBlockAttributes.tsx
  packages/admin/cms-admin/src/documents/types.ts
  packages/admin/cms-admin/src/pages/pageTree/PageTypeIcon.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add TODO comment to revert this change
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

restrict use of global react
  demo/admin/src/products/future/generated/CombinationFieldsTestProductsGrid.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  demo/site-pages/src/redraft.d.ts
  demo/site/src/common/blocks/CookieSafeYouTubeVideoBlock.tsx
  demo/site/src/redraft.d.ts
  demo/site/src/util/ErrorHandler.tsx
  docs/src/theme/Playground/Button.tsx
  packages/admin/admin-theme/src/typographyOptions.ts
  packages/admin/admin/src/dataGrid/GridColDef.ts
  packages/admin/admin/src/renderFinalFormChildren.tsx
  packages/admin/cms-admin/src/dam/DataGrid/duplicatedFilenames/ManualDuplicatedFilenamesHandler.tsx
  packages/admin/cms-admin/src/dam/DataGrid/duplicatedFilenames/ManuallyHandleDuplicatedFilenamesDialog.tsx
  packages/admin/cms-admin/src/documents/types.ts
  packages/admin/cms-admin/src/generator/future/generateGrid/combinationColumn.ts
  packages/admin/cms-admin/src/generator/future/generateGrid/generateGridToolbar.ts
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
  packages/admin/cms-admin/src/vendors.d.ts
  packages/eslint-config/nextjs.js
  packages/eslint-config/react.js
  packages/site/cms-site/src/blocks/VimeoVideoBlock.tsx
  packages/site/cms-site/src/cookies/CookieApiContext.tsx
  packages/site/cms-site/src/cookies/CookieSafe.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use type instead enum
  demo/site/src/middleware/domainRewrite.ts
  demo/site/src/util/ServerContext.tsx
  demo/site/src/util/graphQLClient.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move setting visibilityParam
  demo/site/src/app/[visibility]/[domain]/[language]/[[...path]]/layout.tsx
  demo/site/src/app/[visibility]/[domain]/[language]/[[...path]]/page.tsx
  demo/site/src/app/[visibility]/[domain]/layout.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Allow passing a `ReactNode` to `fieldLabel` of `CheckboxField` and `SwitchField`
  .changeset/neat-cooks-unite.md
  packages/admin/admin/src/form/fields/CheckboxField.tsx
  packages/admin/admin/src/form/fields/SwitchField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
