Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Add second `InitialFormValues` generic to `FinalForm`
  .changeset/curvy-mangos-reply.md
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  packages/admin/admin/src/FinalForm.tsx
  packages/admin/admin/src/finalFormRenderComponent.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Master Menu: render collapsible or grouped menu items only when at least one item of the submenu is allowed (#1779)
  .changeset/tender-moles-float.md
  demo/admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/common/MasterMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add second `InitialFormValues` generic to `FinalForm` (#2783)
  .changeset/curvy-mangos-reply.md
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  packages/admin/admin/src/FinalForm.tsx
  packages/admin/admin/src/finalFormRenderComponent.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add ContactPage icon
  .changeset/famous-garlics-decide.md
  packages/admin/admin-icons/icons/contact-page.svg
Due: prettylint

Demo Site Cache Handler: disable full route cache
  demo/site/cache-handler.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add ContactPage icon (#2784)
  .changeset/famous-garlics-decide.md
  packages/admin/admin-icons/icons/contact-page.svg
Due: prettylint

Upgrade class-validator to 0.14.1
  .changeset/heavy-games-marry.md
  demo/api/package.json
  packages/api/cms-api/package.json
  pnpm-lock.yaml
Due: prettylint

Demo Site Cache Handler: disable Full Route Cache (#2785)
  demo/site/cache-handler.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert accidentally added change in changelog
  packages/site/cms-site/CHANGELOG.md
Due: prettylint

Make change a feature
  .changeset/chilled-lobsters-think.md
Due: prettylint

Improve changeset
  .changeset/thin-tigers-push.md
Due: prettylint

Demo API: Fix circular import (#2790)
  demo/api/schema.gql
  demo/api/src/news/blocks/news-link-block-transformer.service.ts
  packages/api/blocks-api/src/blocks/createRichTextBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changeset
  .changeset/chilled-lobsters-think.md
Due: prettylint

Export `convertPreviewDataToHeaders` to make `createGraphQLFetch` more configurable (#2716)
  .changeset/chilled-lobsters-think.md
  demo/site/src/util/graphQLClient.ts
  packages/site/cms-site/src/graphQLFetch/graphQLFetch.ts
  packages/site/cms-site/src/iframebridge/useBlockPreviewFetch.tsx
  packages/site/cms-site/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent providing a `User` type in the GraphQL schema (#2755)
  .changeset/khaki-vans-sneeze.md
  demo/api/schema.gql
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/user-permissions/dto/current-user.ts
  packages/api/cms-api/src/user-permissions/dto/paginated-user-list.ts
  packages/api/cms-api/src/user-permissions/dto/user.ts
  packages/api/cms-api/src/user-permissions/user.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make select-value required in `createSpaceBlock` admin
  .changeset/wet-oranges-join.md
  packages/admin/blocks-admin/src/blocks/factories/spaceBlock/createSpaceBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Correctly generate async 'manufacturer' fields of 'ProductForm'
  demo/admin/src/products/future/ProductForm.cometGen.ts
  demo/admin/src/products/future/generated/ProductForm.gql.tsx
  demo/admin/src/products/future/generated/ProductForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove TODO: 'getTypeInfo' in 'generateFormField' has been checked
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormField.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: use pnpm with corepack and update from version 8 to 9
  install.sh
  package.json
  pnpm-lock.yaml
Due: prettylint

enable corepack
  install.sh
Due: none

remove sha commit hash from pnpm version number
  package.json
Due: prettylint

chore: activate renovate lock file maintenance
  renovate.json
Due: prettylint

Add NestJS peer dependencies to `@comet/cms-api` peer dependencies
  demo/api/package.json
  packages/api/cms-api/package.json
  pnpm-lock.yaml
Due: prettylint

Upgrade pnpm to 9 (#2753)
  install.sh
  package.json
  pnpm-lock.yaml
Due: prettylint

Update `@UseRequestContext()` usages The decorator has been renamed to `@CreateRequestContext()`.
  demo/api/src/db/fixtures/fixtures.console.ts
  docs/docs/console-commands/index.md
  packages/api/cms-api/src/blocks/commands.service.ts
  packages/api/cms-api/src/builds/changes-checker.console.ts
  packages/api/cms-api/src/redirects/import-redirects.console.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update `@UseRequestContext()` usages (#2798)
  demo/api/src/db/fixtures/fixtures.console.ts
  docs/docs/console-commands/index.md
  packages/api/cms-api/src/blocks/commands.service.ts
  packages/api/cms-api/src/builds/changes-checker.console.ts
  packages/api/cms-api/src/redirects/import-redirects.console.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update deprecated repository methods Use the underlying entity manager instead.
  demo/api/src/db/fixtures/fixtures.console.ts
  demo/api/src/db/fixtures/generators/links.generator.ts
  demo/api/src/db/fixtures/generators/many-images-test-page-fixture.service.ts
  demo/api/src/links/links.resolver.ts
  demo/api/src/menus/main-menu-item.resolver.ts
  demo/api/src/news/news-comment.resolver.ts
  demo/api/src/pages/pages.resolver.ts
  packages/api/cms-api/src/builds/builds.service.ts
  packages/api/cms-api/src/dam/files/files.resolver.ts
  packages/api/cms-api/src/dam/files/files.service.ts
  packages/api/cms-api/src/dam/files/folders.service.ts
  packages/api/cms-api/src/dam/images/calculateDominantImageColor.console.ts
  packages/api/cms-api/src/file-uploads/file-uploads.service.ts
  packages/api/cms-api/src/page-tree/page-tree.service.ts
  packages/api/cms-api/src/redirects/import-redirects.console.ts
  packages/api/cms-api/src/redirects/redirects.resolver.ts
  packages/api/cms-api/src/redirects/redirects.service.ts
  packages/api/cms-api/src/user-permissions/user-content-scopes.resolver.ts
  packages/api/cms-api/src/user-permissions/user-permission.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update all API Generator test to use `defineConfig` instead of `type: "postgresql"` The option has been previously deprecated and is removed in MikroORM v6.
  packages/api/cms-api/src/generator/generate-crud-dedicated-resolver-arg.spec.ts
  packages/api/cms-api/src/generator/generate-crud-embeddable.spec.ts
  packages/api/cms-api/src/generator/generate-crud-enum-array.spec.ts
  packages/api/cms-api/src/generator/generate-crud-enum-multi-use.spec.ts
  packages/api/cms-api/src/generator/generate-crud-enum-optional.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input-array.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input-integer.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input-json.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input-relations.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input-validators.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input.spec.ts
  packages/api/cms-api/src/generator/generate-crud-position.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relation-many-to-many.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relations-id-integer.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relations-id-string.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relations-multi-use.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relations-nested.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relations-two-levels.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relations.spec.ts
  packages/api/cms-api/src/generator/generate-crud-resolve-field.spec.ts
  packages/api/cms-api/src/generator/generate-crud-resolve-id-integer.spec.ts
  packages/api/cms-api/src/generator/generate-crud-scope.spec.ts
  packages/api/cms-api/src/generator/generate-crud-update-status.spec.ts
  packages/api/cms-api/src/generator/generate-crud-without-find.spec.ts
  packages/api/cms-api/src/generator/generate-crud.spec.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix test
  packages/api/cms-api/src/builds/builds.service.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update all API Generator test to use `defineConfig` instead of `type: "postgresql"` (#2800)
  packages/api/cms-api/src/generator/generate-crud-dedicated-resolver-arg.spec.ts
  packages/api/cms-api/src/generator/generate-crud-embeddable.spec.ts
  packages/api/cms-api/src/generator/generate-crud-enum-array.spec.ts
  packages/api/cms-api/src/generator/generate-crud-enum-multi-use.spec.ts
  packages/api/cms-api/src/generator/generate-crud-enum-optional.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input-array.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input-integer.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input-json.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input-relations.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input-validators.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input.spec.ts
  packages/api/cms-api/src/generator/generate-crud-position.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relation-many-to-many.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relations-id-integer.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relations-id-string.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relations-multi-use.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relations-nested.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relations-two-levels.spec.ts
  packages/api/cms-api/src/generator/generate-crud-relations.spec.ts
  packages/api/cms-api/src/generator/generate-crud-resolve-field.spec.ts
  packages/api/cms-api/src/generator/generate-crud-resolve-id-integer.spec.ts
  packages/api/cms-api/src/generator/generate-crud-scope.spec.ts
  packages/api/cms-api/src/generator/generate-crud-update-status.spec.ts
  packages/api/cms-api/src/generator/generate-crud-without-find.spec.ts
  packages/api/cms-api/src/generator/generate-crud.spec.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve texts in ManuallyHandleDuplicatedFilenamesDialog
  packages/admin/cms-admin/src/dam/DataGrid/duplicatedFilenames/ManuallyHandleDuplicatedFilenamesDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add visibleOrderedBlocksForState to createCompositBlocks factory
  .changeset/wise-houses-juggle.md
  demo/admin/src/pages/blocks/LayoutBlock.tsx
  packages/admin/blocks-admin/src/blocks/factories/createCompositeBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Throw BadRequestException instead of NotFound on invalid hash
  packages/api/cms-api/src/dam/files/files.controller.ts
  packages/api/cms-api/src/dam/images/images.controller.ts
  packages/api/cms-api/src/file-uploads/file-uploads-download.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset for icons
  .changeset/fast-queens-kick.md
Due: prettylint

Improve changeset
  .changeset/proud-ties-arrive.md
Due: prettylint

Extract duplicated code from replace and upload to private getFileMetadataForUpload method
  packages/api/cms-api/src/dam/files/files.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Don't reset cropArea
  packages/api/cms-api/src/dam/files/files.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove the check if width and height of the old and new image are equal because the exifData can still be different
  packages/api/cms-api/src/dam/files/files.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Check if mimetype of old and new file is equal
  packages/api/cms-api/src/dam/files/files.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Change error message from 'Invalid content hash' to 'Invalid hash' because the content hash isn't actually validated
  packages/api/cms-api/src/dam/files/files.controller.ts
  packages/api/cms-api/src/dam/images/images.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
