Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: add missing news list in block meta
  demo/api/block-meta.json
  demo/api/schema.gql
  demo/api/src/db/fixtures/fixtures.console.ts
  demo/api/src/db/fixtures/generators/file-uploads-fixture.service.ts
  demo/api/src/db/fixtures/generators/redirects-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: restore news link in block meta
  demo/api/block-meta.json
Due: prettylint

remove unnessary code, unify images, remove language from dam scope
  demo/api/block-meta.json
  demo/api/package.json
  demo/api/schema.gql
  demo/api/src/dam/dto/dam-scope.ts
  demo/api/src/db/fixtures/assets/images/01.jpg
  demo/api/src/db/fixtures/assets/images/02.jpg
  demo/api/src/db/fixtures/assets/images/03.jpg
  demo/api/src/db/fixtures/assets/images/04.jpg
  demo/api/src/db/fixtures/assets/images/05.jpg
  demo/api/src/db/fixtures/assets/images/astronaut.png
  demo/api/src/db/fixtures/assets/images/comet.png
  demo/api/src/db/fixtures/assets/images/mountain-surrounded-with-fog-1772973.jpg
  demo/api/src/db/fixtures/assets/images/planet.png
  demo/api/src/db/fixtures/assets/images/rocket.png
  demo/api/src/db/fixtures/assets/images/sun.png
  demo/api/src/db/fixtures/assets/svg/burger.svg
  demo/api/src/db/fixtures/assets/svg/comet-logo-claim.svg
  demo/api/src/db/fixtures/fixtures.console.ts
  demo/api/src/db/fixtures/generators/file-uploads-fixture.service.ts
  demo/api/src/db/fixtures/generators/image-file-fixture.service.ts
  demo/api/src/db/fixtures/generators/many-images-test-page-fixture.service.ts
  demo/api/src/db/fixtures/generators/svg-image-file-fixture.service.ts
  demo/api/src/db/migrations/Migration20250122150809.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: add vimeo video fixture
  demo/api/block-meta.json
  demo/api/src/common/blocks/media.block.ts
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/blocks/media/media-type-block.fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/media/vimeo-video-block-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: media gallery block input type of items
  demo/api/src/common/blocks/media-gallery.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: media gallery fixtures, missing news list and detail in page content
  demo/api/block-meta.json
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/blocks/media/media-gallery-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/media/media-gallery-list-block-fixture.service.ts
  demo/api/src/documents/pages/blocks/columns.block.ts
  demo/api/src/documents/pages/blocks/content-group.block.ts
  demo/api/src/documents/pages/blocks/page-content.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: refactor fixtures, update fixture console, move faker to dev dependencies
  demo/api/block-meta.json
  demo/api/package.json
  demo/api/src/common/blocks/accordion-item.block.ts
  demo/api/src/common/blocks/media.block.ts
  demo/api/src/db/fixtures/fixtures.console.ts
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/blocks/layout/accordion-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/layout/accordion-content-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/layout/accordion-item-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/layout/columns-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/layout/columns-content-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/layout/content-group-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/layout/content-group-content-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/layout/layout-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/media/media-block.fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/media/media-gallery-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/media/media-gallery-item-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/media/media-gallery-list-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/media/standalone-media-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/stage/basic-stage-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/teaser/billboard-teaser-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/teaser/teaser-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/teaser/teaser-item-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/text-and-content/key-facts-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/text-and-content/key-facts-item-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/file-uploads-fixture.service.ts
  demo/api/src/db/fixtures/generators/redirects-fixture.service.ts
  demo/api/src/documents/pages/blocks/columns.block.ts
  demo/api/src/documents/pages/blocks/content-group.block.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: add faker to dependencies
  demo/api/package.json
  pnpm-lock.yaml
Due: prettylint

Revert splitting of supported blocks in page content block
  demo/api/block-meta.json
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
  demo/api/src/documents/pages/blocks/page-content.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Ensure type safety in fixture service
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
  demo/api/src/documents/pages/blocks/page-content.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use middleware for status
  demo/site/src/app/[domain]/api/status/route.tsx
  demo/site/src/middleware.ts
  demo/site/src/middleware/status.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: add typing to block config in fixtures
  demo/api/src/db/fixtures/generators/blocks/layout/accordion-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/layout/columns-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/blocks/layout/content-group-block-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make extractTextContents override work correctly
  demo/admin/src/documents/pages/EditPage.tsx
  packages/admin/blocks-admin/src/blocks/helpers/composeBlocks/createSettingsBlock.ts
  packages/admin/blocks-admin/src/blocks/helpers/createBlockSkeleton.tsx
  packages/admin/blocks-admin/src/blocks/types.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Cleanup
  demo/admin/src/documents/pages/EditPage.tsx
  packages/admin/blocks-admin/src/blocks/SpaceBlock.tsx
  packages/admin/blocks-admin/src/blocks/helpers/composeBlocks/createCompositeSetting.ts
  packages/admin/cms-admin/src/blocks/ExternalLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add extractTextContents to createTextLinkBlock
  packages/admin/cms-admin/src/blocks/createTextLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Ignore layout setting in LayoutBlock in extractTextContents
  demo/admin/src/common/blocks/LayoutBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update demo/site/server.ts
  demo/site/server.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix typescript error
  packages/admin/blocks-admin/src/blocks/types.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add preview path
  demo/site/src/app/[domain]/[preview]/[language]/[[...path]]/layout.tsx
  demo/site/src/app/[domain]/[preview]/[language]/[[...path]]/page.tsx
  demo/site/src/app/[domain]/[preview]/[language]/layout.tsx
  demo/site/src/app/[domain]/[preview]/[language]/news/[slug]/content.tsx
  demo/site/src/app/[domain]/[preview]/[language]/news/[slug]/fragment.ts
  demo/site/src/app/[domain]/[preview]/[language]/news/[slug]/page.tsx
  demo/site/src/app/[domain]/[preview]/[language]/news/page.tsx
  demo/site/src/app/[domain]/[preview]/[language]/not-found.tsx
  demo/site/src/app/[domain]/[preview]/api/status/route.tsx
  demo/site/src/app/[domain]/[preview]/layout.tsx
  demo/site/src/app/[domain]/[preview]/page.tsx
  demo/site/src/app/[domain]/[preview]/sitemap.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use param as previewData
  demo/site/src/app/[domain]/[preview]/[language]/[[...path]]/layout.tsx
  demo/site/src/app/[domain]/[preview]/[language]/[[...path]]/page.tsx
  demo/site/src/app/[domain]/[preview]/[language]/news/[slug]/page.tsx
  demo/site/src/app/[domain]/[preview]/[language]/news/page.tsx
  demo/site/src/documents/links/Link.tsx
  demo/site/src/documents/pages/Page.tsx
  demo/site/src/middleware/domainRewrite.ts
  demo/site/src/util/NotFoundContext.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use absolute path
  demo/site/src/news/NewsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: remove type dependencies for immutable, they are not needed anymore
  packages/admin/admin-rte/package.json
  pnpm-lock.yaml
Due: prettylint

made all lint-staged cjs files
  .husky/pre-commit
  demo/admin/lint-staged.config.cjs
  demo/api/lint-staged.config.cjs
  demo/site-pages/lint-staged.config.cjs
  demo/site/lint-staged.config.cjs
  docs/lint-staged.config.cjs
  lint-staged.config.cjs
  package.json
  packages/admin/admin-color-picker/lint-staged.config.cjs
  packages/admin/admin-date-time/lint-staged.config.cjs
  packages/admin/admin-icons/lint-staged.config.cjs
  packages/admin/admin-rte/lint-staged.config.cjs
  packages/admin/admin-theme/lint-staged.config.cjs
  packages/admin/admin/lint-staged.config.cjs
  packages/admin/blocks-admin/lint-staged.config.cjs
  packages/admin/cms-admin/lint-staged.config.cjs
  packages/api/cms-api/lint-staged.config.cjs
  packages/cli/lint-staged.config.cjs
  packages/eslint-config/lint-staged.config.cjs
  packages/eslint-plugin/lint-staged.config.cjs
  packages/site/cms-site/lint-staged.config.cjs
  storybook/lint-staged.config.cjs
Due: prettylint

docs: add changeset
  .changeset/sweet-guests-poke.md
Due: prettylint

docs: add migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

fix: formating in migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

remove testing code
  packages/cli/src/comet.ts
  packages/cli/src/commands/generate-block-types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: remove unused part in migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Add overrides to cms-admin block factories
  packages/admin/cms-admin/src/blocks/createImageLinkBlock.tsx
  packages/admin/cms-admin/src/blocks/createLinkBlock.tsx
  packages/admin/cms-admin/src/blocks/createRichTextBlock.tsx
  packages/admin/cms-admin/src/blocks/createSeoBlock.tsx
  packages/admin/cms-admin/src/blocks/createTextImageBlock.tsx
  packages/admin/cms-admin/src/blocks/createTextLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/strong-bees-breathe.md
Due: prettylint

Feat: Basic pipline setup with local file stream
  demo/api/package.json
  demo/api/products5.csv
  demo/api/products500.csv
  demo/api/src/app.module.ts
  demo/api/src/importer/data-streams/data-source.enum.ts
  demo/api/src/importer/data-streams/data-stream.ts
  demo/api/src/importer/data-streams/file-data-stream.ts
  demo/api/src/importer/data-streams/local-file-data-stream.ts
  demo/api/src/importer/importer.module.ts
  demo/api/src/importer/importers/product-importer/product-importer.console.ts
  demo/api/src/importer/importers/product-importer/product-importer.module.ts
  demo/api/src/importer/importers/product-importer/product-importer.service.ts
  demo/api/src/importer/importers/product-importer/product-importer.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Feat: Base target entity
  demo/api/src/importer/entities/base-target.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: remove unused imports
  packages/cli/eslint.config.mjs
Due: none

update migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Remove `DispatchSetStateAction`, `SetStateAction` and `SetStateFn`
  .changeset/six-suns-join.md
  packages/admin/cms-admin/src/blocks/factories/createBlocksBlock.tsx
  packages/admin/cms-admin/src/blocks/factories/createColumnsBlock.tsx
  packages/admin/cms-admin/src/blocks/factories/createOneOfBlock.tsx
  packages/admin/cms-admin/src/blocks/factories/createOptionalBlock.tsx
  packages/admin/cms-admin/src/blocks/factories/listBlock/createUseAdminComponent.tsx
  packages/admin/cms-admin/src/blocks/helpers/composeBlocks/composeBlocks.tsx
  packages/admin/cms-admin/src/blocks/helpers/composeBlocks/types.ts
  packages/admin/cms-admin/src/blocks/helpers/decomposeUpdateStateAction.ts
  packages/admin/cms-admin/src/blocks/types.tsx
  packages/admin/cms-admin/src/blocks/utils.ts
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/pages/createUsePage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Feat: Raw product entity
  demo/api/src/importer/decorators/csv-column.decorator.ts
  demo/api/src/products/entities/raw-product.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: change lint-staged.config from common js .js to esm .mjs syntax
  demo/admin/lint-staged.config.mjs
  demo/api/lint-staged.config.mjs
  demo/site-pages/lint-staged.config.mjs
  demo/site/lint-staged.config.mjs
  docs/lint-staged.config.mjs
  lint-staged.config.cjs
  lint-staged.config.mjs
  packages/admin/admin-color-picker/lint-staged.config.mjs
  packages/admin/admin-date-time/lint-staged.config.mjs
  packages/admin/admin-icons/lint-staged.config.mjs
  packages/admin/admin-rte/lint-staged.config.mjs
  packages/admin/admin-theme/lint-staged.config.mjs
  packages/admin/admin/lint-staged.config.mjs
  packages/admin/blocks-admin/lint-staged.config.mjs
  packages/admin/cms-admin/lint-staged.config.mjs
  packages/api/cms-api/lint-staged.config.mjs
  packages/cli/lint-staged.config.mjs
  packages/eslint-config/lint-staged.config.mjs
  packages/eslint-plugin/lint-staged.config.mjs
  packages/site/cms-site/lint-staged.config.mjs
  storybook/lint-staged.config.mjs
Due: none

Feat: Target entity decorator
  demo/api/src/importer/decorators/target-entity.decorator.ts
  demo/api/src/importer/pipes/importer-pipe.type.ts
  demo/api/src/products/entities/raw-product.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
