Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add admin-generator directory to build docs dependencies
  .github/workflows/build-docs.yml
Due: none

add separate chromatic workflow
  .github/workflows/chromatic.yml
Due: none

add storybok.d.ts to entry file
  knip.json
Due: prettylint

use chromaui action in github workflow
  .github/workflows/chromatic.yml
  packages/admin/admin-generator/package.json
Due: prettylint

fix knip error
  knip.json
Due: prettylint

update package lock
  pnpm-lock.yaml
Due: none

update chroamtic workflow name
  .github/workflows/chromatic.yml
Due: none

add copy schema and build packages before building chromatic
  .github/workflows/chromatic.yml
Due: none

update knip.json
  knip.json
Due: prettylint

refactor: delete unused vitest file
  packages/admin/admin-generator/vitest.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

run generate block types gql:types and admin-generator before build-storybook
  packages/admin/admin-generator/package.json
Due: prettylint

refactor remove netlify badge in manager-head
  packages/admin/admin-generator/.storybook/manager-head.html
Due: none

update build command before chromatic workflow
  .github/workflows/chromatic.yml
Due: none

refactor variable names
  packages/admin/admin-generator/.storybook/addons/adminGeneratorConfigPanel/NoConfigHelp.tsx
  packages/admin/admin-generator/.storybook/addons/adminGeneratorConfigPanel/constants.ts
  packages/admin/admin-generator/.storybook/addons/adminGeneratorConfigPanel/register.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add admin-generator storybook to dev-pm
  dev-pm.config.js
  package.json
Due: prettylint

Docs: add recursive stack documentation (#4590)
  storybook/.storybook/mocks/handler/folders.ts
  storybook/.storybook/mocks/handlers.ts
  storybook/src/docs/components/Stack/recursiveStack.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Upgrade dev-process-manager to v3
  dev-pm.config.ts
  package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix knip dependency problems
  packages/admin/admin-generator/package.json
  pnpm-lock.yaml
Due: prettylint

add storybook composition for local development and main branch
  storybook/.storybook/main.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix Knip entry file
  knip.json
Due: prettylint

Remove generateMail function,
  packages/api/cms-api/src/mail-templates/mail-template.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: title styling to slots
  packages/admin/admin/src/fullPageAlert/FullPageAlert.styles.ts
  packages/admin/admin/src/fullPageAlert/FullPageAlert.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Upgrade dev-process-manager to v3 (#4620)
  dev-pm.config.ts
  knip.json
  package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

reduce vite.config adjustment to resolve only import
  demo/admin/vite.config.mts
Due: none

refactor: rename HelpDialogAction to HelpDialogButton
  .changeset/tall-baths-dance.md
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.sc.ts
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.tsx
  packages/admin/admin/src/common/toolbar/actions/helpDialogAction/HelpDialogAction.sc.ts
  packages/admin/admin/src/index.ts
  storybook/src/admin/toolbar/Toolbar.stories.tsx
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor remove unnecssary newline in toolbar
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor formatted message id
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix an ESM issue with react-diff-viewer (#4596)
  demo/admin/vite.config.mts
Due: none

Fix possibly duplicated imports in generated filter dto
  .changeset/smart-rabbits-judge.md
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/products/generated/dto/manufacturer-country.filter.ts
  demo/api/src/products/generated/dto/manufacturer.filter.ts
  demo/api/src/products/generated/dto/product-category-type.filter.ts
  demo/api/src/products/generated/dto/product-category.filter.ts
  demo/api/src/products/generated/dto/product-highlight.filter.ts
  demo/api/src/products/generated/dto/product-tag.filter.ts
  demo/api/src/products/generated/dto/product-variant.filter.ts
  demo/api/src/products/generated/dto/product.filter.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix possibly duplicated imports in generated filter DTO (#4621)
  .changeset/smart-rabbits-judge.md
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/products/generated/dto/manufacturer-country.filter.ts
  demo/api/src/products/generated/dto/manufacturer.filter.ts
  demo/api/src/products/generated/dto/product-category-type.filter.ts
  demo/api/src/products/generated/dto/product-category.filter.ts
  demo/api/src/products/generated/dto/product-highlight.filter.ts
  demo/api/src/products/generated/dto/product-tag.filter.ts
  demo/api/src/products/generated/dto/product-variant.filter.ts
  demo/api/src/products/generated/dto/product.filter.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add FileUploadField stories
  storybook/src/cms-admin/form/file/FileUpload.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: Datagrid - Crud Context Menu story by adding snackbar decoratr
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix DataGrid CrudContextMenu story by adding snackbar decorator (#4623)
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: async select is not working in muliple mode without having initial values set
  packages/admin/admin/src/form/Autocomplete.tsx
  storybook/src/admin/form/AsyncAutocompleteField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: fix skip links focus behavior
  demo/site/src/layout/topNavigation/TopNavigation.module.scss
Due: prettylint

Demo Site: fix skip links focus behavior (#4625)
  demo/site/src/layout/topNavigation/TopNavigation.module.scss
Due: prettylint

docs: add changeset for asnyc autocomplete field fix
  .changeset/curly-tires-retire.md
Due: prettylint

fix: async select is not working in muliple mode without having initial values set
  packages/admin/admin/src/form/FinalFormSelect.tsx
  storybook/src/admin/form/AsyncSelectField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove logMail: true from template, should be defined on send
  demo/api/src/products/product-published.mail.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add changeset for asnyc select field fix
  .changeset/bumpy-lemons-wonder.md
  packages/admin/admin/src/form/FinalFormSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
