Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Update MUI imports (#4876)
  packages/admin/admin-date-time/src/datePicker/DatePicker.slots.ts
  packages/admin/admin-date-time/src/dateRangePicker/DateRangePicker.slots.ts
  packages/admin/admin-date-time/src/utils/getReactDateRangeStyles.ts
  packages/admin/admin/src/common/buttons/cancel/CancelButton.tsx
  packages/admin/admin/src/helpers/createComponentSlot.tsx
  packages/admin/admin/src/snackbar/UndoSnackbar.tsx
  packages/admin/admin/src/theme/colors.ts
  packages/admin/admin/src/theme/componentsTheme/MuiDialog.ts
  packages/admin/admin/src/theme/componentsTheme/MuiDrawer.ts
  packages/admin/admin/src/theme/componentsTheme/MuiRadio.tsx
  packages/admin/admin/src/theme/shadows.ts
  packages/admin/admin/src/theme/typographyOptions.ts
  packages/admin/admin/src/theme/utils/mergeOverrideStyles.ts
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
  packages/admin/cms-admin/src/dependencies/DependencyList.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Admin: upgrade Vite to v7 (#4875)
  demo/admin/package.json
  pnpm-lock.yaml
Due: prettylint

Adjust RTE border styling (#4861)
  .changeset/cool-garlics-lay.md
  packages/admin/admin-rte/src/core/Controls/Toolbar/Toolbar.styles.tsx
  packages/admin/admin-rte/src/core/Rte.tsx
  packages/admin/admin-rte/src/core/utils/getRteTheme.ts
  packages/admin/admin/src/form/FieldContainer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP
  demo-saas/admin/src/common/apollo/createApolloClient.ts
  demo-saas/api/package.json
  demo-saas/api/schema.gql
  demo-saas/api/src/app.module.ts
  demo-saas/api/src/auth/app-permission.enum.ts
  demo-saas/api/src/db/fixtures/generators/products-fixture.service.ts
  demo-saas/api/src/db/migrations/Migration20251202112331.ts
  demo-saas/api/src/db/ormconfig.ts
  demo-saas/api/src/main.ts
  demo-saas/api/src/products/entities/product.entity.ts
  demo-saas/api/src/products/generated/dto/product-highlight.sort.ts
  demo-saas/api/src/products/generated/dto/product-nested-tenant.input.ts
  demo-saas/api/src/products/generated/dto/product-variant.sort.ts
  demo-saas/api/src/products/generated/dto/product.filter.ts
  demo-saas/api/src/products/generated/dto/product.sort.ts
  demo-saas/api/src/products/generated/product.resolver.ts
  demo-saas/api/src/tenants/entities/tenant.entity.ts
  demo-saas/api/src/tenants/generated/dto/paginated-tenants.ts
  demo-saas/api/src/tenants/generated/dto/tenant.filter.ts
  demo-saas/api/src/tenants/generated/dto/tenant.input.ts
  demo-saas/api/src/tenants/generated/dto/tenant.sort.ts
  demo-saas/api/src/tenants/generated/dto/tenants.args.ts
  demo-saas/api/src/tenants/generated/tenant.resolver.ts
  demo-saas/api/src/tenants/tenant.interceptor.ts
  demo-saas/api/src/tenants/tenants.module.ts
  demo-saas/api/src/tenants/tenants.subscriber.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add showMaxFilesHelperText prop to FileUpload component.
  .changeset/curvy-teeth-sin.md
  packages/admin/admin/src/form/file/FileSelect.tsx
  storybook/src/cms-admin/form/file/FileUpload.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename isHandledManually to isPlaying
  packages/site/site-react/src/blocks/VimeoVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Re-add removed new line in non-related story
  storybook/src/cms-admin/form/file/FileUpload.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add story and interaction-test for page with Add-Dialog and Edit-Page (#4857)
  storybook/src/admin/edit-dialog/AddDialogEditPage.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

simplify handlePlayPuaseClick
  packages/site/site-react/src/blocks/VimeoVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Style: Correct sorting of deps in package.json
  demo/api/package.json
Due: prettylint

Fix: ProductType after switch to camelCase
  demo/api/src/db/migrations/Migration20250220083741.ts
  demo/api/src/db/migrations/Migration20251203092256.ts
  demo/api/src/products/product-importer.input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix logic in all video blocks
  demo/site/src/common/helpers/PlayPauseButton.tsx
  packages/site/site-react/src/blocks/DamVideoBlock.tsx
  packages/site/site-react/src/blocks/VimeoVideoBlock.tsx
  packages/site/site-react/src/blocks/YouTubeVideoBlock.tsx
  packages/site/site-react/src/blocks/helpers/PlayPauseButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

adapt changeset
  .changeset/light-wombats-sleep.md
Due: prettylint

Chore: Add changeset
  .changeset/brave-bobcats-remain.md
Due: prettylint

Convert remaining Admin packages to ESM
  demo/admin/src/documents/links/Link.tsx
  demo/admin/src/documents/pages/Page.tsx
  packages/admin/admin-color-picker/.gitignore
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-color-picker/src/ColorPicker.slots.ts
  packages/admin/admin-color-picker/src/index.ts
  packages/admin/admin-color-picker/tsconfig.json
  packages/admin/admin-color-picker/tsdown.config.ts
  packages/admin/admin-date-time/.gitignore
  packages/admin/admin-date-time/package.json
  packages/admin/admin-date-time/src/index.ts
  packages/admin/admin-date-time/tsconfig.json
  packages/admin/admin-date-time/tsdown.config.ts
  packages/admin/admin-rte/.gitignore
  packages/admin/admin-rte/package.json
  packages/admin/admin-rte/src/index.ts
  packages/admin/admin-rte/tsconfig.json
  packages/admin/admin-rte/tsdown.config.ts
  packages/admin/admin/.gitignore
  packages/admin/admin/package.json
  packages/admin/admin/src/index.ts
  packages/admin/admin/tsconfig.json
  packages/admin/admin/tsdown.config.ts
  packages/admin/cms-admin/.gitignore
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/blocks/clipboard/useBlockClipboard.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/MoveDamItemDialog/ChooseFolder.tsx
  packages/admin/cms-admin/src/form/file/FileField.tsx
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/pages/pageTree/Page.ts
  packages/admin/cms-admin/src/pages/pageTree/PageTree.tsx
  packages/admin/cms-admin/src/pages/pageTree/usePageTree.ts
  packages/admin/cms-admin/src/pages/pageTreeSelect/PageTreeSelectDialog.tsx
  packages/admin/cms-admin/src/pages/pagesPage/createPagesQuery.ts
  packages/admin/cms-admin/src/preview/block/useBlockPreview.ts
  packages/admin/cms-admin/src/redirects/RedirectForm.tsx
  packages/admin/cms-admin/tsconfig.json
  packages/admin/cms-admin/tsdown.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Chore: Remove unused dependency
  demo/api/package.json
Due: prettylint

Chore: Remove unused export
  demo/api/src/products/product-persist.pipe.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Chore: Update pnpm-lock file
  pnpm-lock.yaml
Due: none

remove clearable prop
  packages/admin/admin/src/form/Autocomplete.tsx
  packages/admin/admin/src/form/FinalFormInput.tsx
  packages/admin/admin/src/form/FinalFormNumberInput.tsx
  packages/admin/admin/src/form/FinalFormSearchTextField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove usages of clearable prop
  packages/admin/cms-admin/src/dam/DataGrid/filter/DamTableFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

adapt stories
  storybook/src/admin-component-docs/NumberField.stories.tsx
  storybook/src/admin/form/TextField.stories.tsx
  storybook/src/admin/table/TableResetFilter.stories.tsx
  storybook/src/docs/components/ClearInputAdornment/ClearInputAdornment.mdx
  storybook/src/docs/components/ClearInputAdornment/ClearInputAdornment.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/pink-geckos-carry.md
Due: prettylint

add examples to storybook
  storybook/src/docs/form/components/FinalFormFields.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix overwriting api sort-default
  .changeset/evil-papayas-post.md
  packages/admin/admin/src/dataGrid/muiGridSortToGql.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use StackBreadcrumbs in Toolbar
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

adapt styling of BreadcrumbsEntry
  packages/admin/admin/src/stack/breadcrumbs/BreadcrumbsEntry.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

adapt StackBreadcrumbs to current design
  packages/admin/admin/src/stack/breadcrumbs/StackBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

adapt BlockAdminComponentRoot
  packages/admin/cms-admin/src/blocks/common/BlockAdminComponentRoot.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP: Make Demo runnable again
  demo/admin/package.json
  demo/admin/vite.config.mts
  dev-pm.config.ts
  packages/admin/admin-babel-preset/index.js
  packages/admin/admin-rte/package.json
  packages/admin/admin-rte/tsdown.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Fix error in InternalLinkBlock (#4721)
  packages/admin/cms-admin/src/blocks/InternalLinkBlock.tsx
  packages/admin/cms-admin/src/blocks/context/BlockContext.tsx
  packages/admin/cms-admin/src/blocks/context/BlockContextProvider.tsx
  packages/admin/cms-admin/src/blocks/context/useBlockContext.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator: Grid headerName: don't generate FormattedMessage for empty header (empty string)
  .changeset/tender-experts-fold.md
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/generateGrid.test.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add utils functionality
  packages/admin/admin/src/stack/breadcrumbs/utils.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve Knip output
  knip.json
  package.json
Due: prettylint

fix displaying the overflow menu, when backButton is showed
  packages/admin/admin/src/stack/breadcrumbs/BreadcrumbsEntry.tsx
  packages/admin/admin/src/stack/breadcrumbs/utils.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve Knip output (#4883)
  knip.json
  package.json
Due: prettylint

Fix knip errors
  packages/api/cms-api/src/importer/data-streams/file-data-stream.ts
  packages/api/cms-api/src/importer/decorators/csv-column.decorator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/brave-bobcats-remain.md
  .changeset/brave-bobcats-remain.md
Due: prettylint

fix: all hidden items in overflow menu
  packages/admin/admin/src/stack/breadcrumbs/utils.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix backButtonSeparator
  packages/admin/admin/src/stack/breadcrumbs/BreadcrumbsEntry.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Feat: Use change-case in ProductImporterInput
  demo/api/package.json
  demo/api/src/products/product-importer.input.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
