Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Fix mui overrides
  packages/admin-stories/src/admin/table/filterbar/FilterBarButton.tsx
  packages/admin/src/table/filterbar/filterBarButton/FilterBarButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make ChevronDown the default endIcon for FilterBarButton and add openPopoverButtonProps to PopoverFilter
  packages/admin/src/table/filterbar/filterBarButton/FilterBarButton.tsx
  packages/admin/src/table/filterbar/filterBarPopoverFilter/FilterBarPopoverFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove div and Typography from FilterBarButton
  packages/admin/src/table/filterbar/filterBarButton/FilterBarButton.styles.tsx
  packages/admin/src/table/filterbar/filterBarButton/FilterBarButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix clear-input button size and always use with InputAdornment
  packages/admin-color-picker/src/core/ColorPicker.tsx
  packages/admin-stories/src/admin/form/AllFieldComponents.tsx
  packages/admin-stories/src/docs/components/ClearInputButton/ClearInputButton.stories.mdx
  packages/admin-stories/src/docs/components/ClearInputButton/stories/ClearableInputField.stories.tsx
  packages/admin-stories/src/docs/components/ClearInputButton/stories/CustomClearIcon.stories.tsx
  packages/admin-stories/src/docs/components/ClearInputButton/stories/Default.stories.tsx
  packages/admin-stories/src/docs/components/ClearInputButton/stories/Disabled.stories.tsx
  packages/admin-theme/src/MuiOverrides/MuiInputAdornment.ts
  packages/admin-theme/src/MuiOverrides/MuiInputBase.ts
  packages/admin/src/common/buttons/clearinput/ClearInputButton.tsx
  packages/admin/src/form/FinalFormSearchTextField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Import from @comet/admin-icons
  packages/admin-stories/src/docs/components/ClearInputButton/stories/CustomClearIcon.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Define icon color in ButtonBase
  packages/admin-stories/src/docs/components/ClearInputButton/ClearInputButton.stories.mdx
  packages/admin-stories/src/docs/components/ClearInputButton/stories/CustomClearIcon.stories.tsx
  packages/admin-theme/src/paletteOptions.ts
  packages/admin/src/common/buttons/clearinput/ClearInputButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Form save split button (#409)
  packages/admin-stories/src/docs/components/Toolbar/Toolbar.stories.mdx
  packages/admin-stories/src/docs/components/Toolbar/stories/FinalFormSaveSplitButton.stories.tsx
  packages/admin/src/FinalFormSaveSplitButton.tsx
  packages/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove @types/classnamesas as classenames provides its own types
  package-lock.json
  packages/admin-react-select/package.json
Due: prettylint

Delete .travis.yml
  .travis.yml
Due: none

Consistent naming of Comet Admin in the docs
  README.md
  packages/admin-stories/src/docs/Intro.stories.mdx
  packages/admin-stories/src/docs/development/CreateAComponentWithThemeSupport.stories.mdx
  packages/admin-stories/src/docs/development/Overview.stories.mdx
  packages/admin-stories/src/docs/form/Validation.stories.mdx
Due: prettylint

Remove lists of props from docs
  packages/admin-stories/src/docs/components/AppHeader/AppHeader.stories.mdx
  packages/admin-stories/src/docs/components/ClearInputButton/ClearInputButton.stories.mdx
  packages/admin-stories/src/docs/components/FinalFormRangeInput/FinalFormRangeInput.stories.mdx
  packages/admin-stories/src/docs/components/Master/Master.stories.mdx
  packages/admin-stories/src/docs/components/Router.stories.mdx
  packages/admin-stories/src/docs/components/Stack/Stack.stories.mdx
  packages/admin-stories/src/docs/form/components/Field.stories.mdx
  packages/admin-stories/src/docs/form/components/FieldContainer.stories.mdx
  packages/admin-stories/src/docs/form/components/FormSection.stories.mdx
  packages/admin/src/appHeader/AppHeader.tsx
  packages/admin/src/mui/MasterLayout.tsx
  packages/admin/src/router/Prompt.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Link to v4 mui docs as we currently use v4
  packages/admin-stories/src/admin/snackbar/CustomSnackbar.tsx
  packages/admin-stories/src/docs/components/Snackbar/Snackbar.stories.mdx
  packages/admin-stories/src/docs/components/Stack/Stack.stories.mdx
  packages/admin/src/common/buttons/split/SplitButton.tsx
  packages/admin/src/mui/ThemeProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

[rte] Documentation to setup a rich text editor
  packages/admin-stories/src/docs/rte/Setup.stories.mdx
  packages/admin-stories/src/docs/rte/stories/MinimalSetup.tsx
  packages/admin-stories/src/docs/rte/stories/SourceDataDefault.tsx
  packages/admin-stories/src/docs/rte/stories/SourceDataHtml.tsx
  packages/admin-stories/src/docs/rte/stories/SourceDataMarkdown.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor FilterBarButton styling
  packages/admin/src/table/filterbar/filterBarButton/FilterBarButton.styles.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat: always create canary packages
  .gitlab-ci.yml
  lerna.json
  package.json
  packages/admin-color-picker/package.json
  packages/admin-date-picker/package.json
  packages/admin-icons/package.json
  packages/admin-react-select/package.json
  packages/admin-rte/package.json
  packages/admin-stories/package.json
  packages/admin-theme/package.json
  packages/admin/package.json
Due: prettylint

reformat changelog (provide highlights for 2.0.0, consistent indentation)
  CHANGELOG.md
Due: prettylint

Update CHANGELOG.md
  CHANGELOG.md
Due: prettylint

translate required field validator
  packages/admin/src/form/Field.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix(ci): only use npm 7.19 for pipelines
  .gitlab-ci.yml
Due: none

chore(release): publish v2.0.0
  lerna.json
  package-lock.json
  packages/admin-color-picker/package.json
  packages/admin-date-picker/package.json
  packages/admin-icons/package.json
  packages/admin-react-select/package.json
  packages/admin-rte/package.json
  packages/admin-stories/package.json
  packages/admin-theme/package.json
  packages/admin/package.json
Due: prettylint

fix(ci): use main instead of master branch for pipelines
  .gitlab-ci.yml
Due: none

fix(ci): use correct npm registry url for prerelease
  .gitlab-ci.yml
  lerna.json
Due: prettylint

Simplify component-customization in changelog
  CHANGELOG.md
Due: prettylint

feat: add domain locked svg to admin-icons package
  packages/admin-icons/icons/domain-locked.svg
Due: none

feat: add domain locked svg to admin-icons package (#535)
  packages/admin-icons/icons/domain-locked.svg
Due: none

fix: remove prepare scripts to fix installs and manually build before publishes
  .gitlab-ci.yml
  package-lock.json
  package.json
  packages/admin-color-picker/package.json
  packages/admin-date-picker/package.json
  packages/admin-icons/package.json
  packages/admin-react-select/package.json
  packages/admin-rte/package.json
  packages/admin-theme/package.json
  packages/admin/package.json
Due: prettylint

refactor: set stories package private to ignore when publishing packages
  packages/admin-stories/package.json
Due: prettylint

feat: allow publishing package for everyone when pushing tag
  .gitlab-ci.yml
Due: none

fix: allow publish only for version tags
  .gitlab-ci.yml
Due: none

Rename openPopoverButtonProps to filterBarButtonProps
  packages/admin/src/table/filterbar/filterBarPopoverFilter/FilterBarPopoverFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Avoid ts error
  packages/admin/src/form/FinalFormSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Show loading spinner in async FinalFormSelect
  packages/admin/src/form/FinalFormSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make autocomplete generic like mui-autocomplete
  packages/admin/src/form/Autocomplete.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changelog for FinalFormAutocomplete and useAsyncOptionsProps
  CHANGELOG.md
Due: prettylint

Make getOptionLabel mandatory for autocomplete and select
  packages/admin-stories/src/admin/form/Autocomplete.tsx
  packages/admin/src/form/Autocomplete.tsx
  packages/admin/src/form/FinalFormSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Name story better
  packages/admin-stories/src/admin/form/Autocomplete.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Support getOptionSelected in FinalFormSelect
  packages/admin-stories/src/admin/form/Autocomplete.tsx
  packages/admin-stories/src/admin/form/Select.tsx
  packages/admin/src/form/Autocomplete.tsx
  packages/admin/src/form/FinalFormSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Inject AsyncOptionsProps-Typings into FinalFormSelect and FinalFormAutocomplete
  packages/admin/src/form/Autocomplete.tsx
  packages/admin/src/form/FinalFormSelect.tsx
  packages/admin/src/hooks/useAsyncOptionsProps.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve handling of label for select/autocomplete-options
  packages/admin/src/form/Autocomplete.tsx
  packages/admin/src/form/FinalFormSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
