Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add a `warning` variant to `Tooltip`
  .changeset/cold-fans-punch.md
  packages/admin/admin/src/common/Tooltip.tsx
  storybook/src/admin/Tooltip.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: add action log queries to schema
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: check for undefined metadata
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: use enity instance for entityScope check
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: callback function is a promise
  packages/api/cms-api/src/action-logs/action-logs.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Extend changeset
  .changeset/cruel-tigers-wash.md
Due: prettylint

fix: use actionLogService for cls setup per DI
  packages/api/cms-api/src/action-logs/action-logs.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add a `warning` variant to `Tooltip` (#4454)
  .changeset/cold-fans-punch.md
  packages/admin/admin/src/common/Tooltip.tsx
  storybook/src/admin/Tooltip.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: get primary key from entitymetadata
  packages/api/cms-api/src/action-logs/action-logs.decorator.ts
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator: Rename `filter.gqlName` to `filter.rootQueryArg` and `filter.fieldName` to `filter.formFieldName` for `asyncSelect` form fields [breaking] (#4446)
  .changeset/cruel-tigers-wash.md
  demo/admin/src/products/generator/ProductForm.cometGen.tsx
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/asyncSelectFilter.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/asyncSelect/generateAsyncSelect.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator: Export boolean columns as real boolean columns (#4395)
  .changeset/blue-brooms-kiss.md
  demo/admin/src/products/generator/generated/ProductsGrid.tsx
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

New `DateTimeRangePicker` and `DateTimeRangePickerField` components (#4400)
  .changeset/whole-baboons-do.md
  packages/admin/admin/src/dateTime/DateTimePicker.tsx
  packages/admin/admin/src/dateTime/DateTimeRangePicker.tsx
  packages/admin/admin/src/dateTime/DateTimeRangePickerField.tsx
  packages/admin/admin/src/dateTime/utils.ts
  packages/admin/admin/src/index.ts
  storybook/src/admin-component-docs/DateTimeRangePicker.stories.tsx
  storybook/src/admin-component-docs/DateTimeRangePickerField.stories.tsx
  storybook/src/admin/dateTime/DateTimeRangePicker.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat: support also magic scope field
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: use typeography list and listitem variants
  packages/admin/cms-admin/src/contentScope/noContentScopeFallback/NoContentScopeFallback.sc.ts
  packages/admin/cms-admin/src/contentScope/noContentScopeFallback/NoContentScopeFallback.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/modern-terms-cry.md
  .changeset/modern-terms-cry.md
Due: prettylint

added some characters to the allowedStrings of jsx-no-literals rule
  demo/admin/src/products/ProductForm.tsx
  packages/admin/admin-color-picker/src/ColorPicker.tsx
  packages/admin/admin/src/common/toolbar/ToolbarBreadcrumbs.tsx
  packages/eslint-config/future/react.js
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator: Add `queryFields` support to action column (#4398)
  .changeset/dark-humans-worry.md
  demo/admin/src/products/ProductsGridPreviewAction.tsx
  demo/admin/src/products/generator/ProductsGrid.cometGen.tsx
  demo/admin/src/products/generator/generated/ProductsGrid.tsx
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGqlFieldList.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add – — to allowed strings
  packages/eslint-config/future/react.js
Due: prettylint

Hide generated files in GitHub diffs (#4342)
  .gitattributes
Due: none

chore: setup mui that mui-pro license will be used from an environment variable from .env.local
  README.md
  demo/admin/package.json
  demo/admin/src/App.tsx
  demo/admin/src/config.tsx
  demo/admin/src/environment.ts
  install.sh
  pnpm-lock.yaml
  storybook/.storybook/main.ts
  storybook/.storybook/preview.tsx
  storybook/package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

downgrade from dotenv-cli v10 to v9
  demo/admin/package.json
  demo/api/package.json
  package.json
  pnpm-lock.yaml
Due: prettylint

Fix pagination of `UserPermissionsUserGrid`
  .changeset/wet-nights-study.md
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Restrict deep imports of already restricted components (#4414)
  .changeset/light-sloths-pay.md
  packages/admin/admin-rte/src/core/extension/NonBreakingSpace/ToolbarButton.tsx
  packages/admin/admin-rte/src/core/extension/SoftHyphen/ToolbarButton.tsx
  packages/admin/admin/src/DeleteMutation.tsx
  packages/admin/admin/src/error/errordialog/ErrorDialog.tsx
  packages/admin/admin/src/table/DeleteButton.tsx
  packages/admin/cms-admin/src/blocks/rte/extension/CmsLink/createCmsLinkToolbarButton.tsx
  packages/admin/cms-admin/src/preview/site/OpenLinkDialog.tsx
  packages/eslint-config/react.js
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

port page layout to css module
  demo/site/src/layout/PageLayout.module.scss
  demo/site/src/layout/PageLayout.tsx
  demo/site/src/styles/global.scss
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add fullpagealertbackground component which renders an svg
  packages/admin/admin/src/fullPageAlert/FullPageAlert.styles.ts
  packages/admin/admin/src/fullPageAlert/FullPageAlert.tsx
  packages/admin/admin/src/fullPageAlert/FullPageAlertBackground.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove background.jpg and assets configuration in package.json
  packages/admin/admin/assets/background.jpg
  packages/admin/admin/package.json
Due: prettylint

remove jpg specific jest config in cms-admin
  packages/admin/cms-admin/jest.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove images.d.ts in comet admin
  packages/admin/admin/src/images.d.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

restore jest.config
  packages/admin/cms-admin/jest.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP
  docs/docs/5-admin-components/components/button-new-again.mdx
  docs/docs/5-admin-components/components/stories-code/.gitignore
  docs/package.json
  docs/src/components/StorybookAdminComponentDocsIframe.tsx
  docs/src/utils/generateComponentDocs.ts
  pnpm-lock.yaml
  storybook/.storybook/decorators/Layout.decorator.styles.ts
  storybook/src/admin-component-docs/utils/DocsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use cache-control:private for admin assets
  demo/admin/server/index.js
Due: prettylint

reomve global variables for max width and grid columns
  demo/site/src/layout/PageLayout.module.scss
  demo/site/src/styles/global.scss
Due: prettylint

Site AccordionItem: fix text alignment of button title and shrink of icon (#4434)
  demo/site/src/common/blocks/AccordionItemBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use new SectionHeadline component
  packages/admin/cms-admin/src/userPermissions/user/permissions/PermissionDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use cache-control:private for admin assets (#4459)
  demo/admin/server/index.js
Due: prettylint

Demo: fix space block, API values did not match the theme definition (#4439)
  demo/site-pages/src/common/blocks/AccordionItemBlock.tsx
  demo/site-pages/src/common/blocks/CallToActionListBlock.tsx
  demo/site-pages/src/common/blocks/MediaGalleryBlock.tsx
  demo/site-pages/src/common/components/Button.tsx
  demo/site-pages/src/documents/pages/blocks/BasicStageBlock.tsx
  demo/site-pages/src/documents/pages/blocks/BillboardTeaserBlock.tsx
  demo/site-pages/src/documents/pages/blocks/KeyFactItemBlock.tsx
  demo/site-pages/src/documents/pages/blocks/KeyFactsBlock.tsx
  demo/site-pages/src/documents/pages/blocks/TeaserBlock.tsx
  demo/site-pages/src/documents/pages/blocks/TeaserItemBlock.tsx
  demo/site-pages/src/theme.ts
  demo/site/src/common/blocks/AccordionItemBlock.tsx
  demo/site/src/common/blocks/CallToActionListBlock.tsx
  demo/site/src/common/blocks/MediaGalleryBlock.tsx
  demo/site/src/documents/pages/blocks/BasicStageBlock.tsx
  demo/site/src/documents/pages/blocks/BillboardTeaserBlock.tsx
  demo/site/src/documents/pages/blocks/KeyFactItemBlock.tsx
  demo/site/src/documents/pages/blocks/KeyFactsBlock.tsx
  demo/site/src/documents/pages/blocks/TeaserBlock.tsx
  demo/site/src/documents/pages/blocks/TeaserItemBlock.tsx
  demo/site/src/theme.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: Use persisted GraphQL queries with webpack loader (#4382)
  demo/site/.gitignore
  demo/site/next.config.mjs
  demo/site/package.json
  demo/site/src/app/[visibility]/[domain]/[language]/news/api/route.ts
  demo/site/src/app/[visibility]/[domain]/[language]/news/page.tsx
  demo/site/src/app/[visibility]/[domain]/graphql/route.ts
  demo/site/src/news/NewsPage.loader.ts
  demo/site/src/news/NewsPage.tsx
  demo/site/src/util/graphQLClient.ts
  demo/site/src/webpack/gql-hash-loader.ts
  demo/site/tsconfig.server.json
  knip.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
