Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Add i18n messages workflow/scripts to site (#1881)
  .github/workflows/i18n.yml
  .github/workflows/lint.yml
  demo/admin/package.json
  demo/admin/src/lang.ts
  demo/site/.gitignore
  demo/site/intl-update.sh
  demo/site/package.json
  install.sh
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove button typography because it's already defined in MuiButton
  packages/admin/admin-theme/src/componentsTheme/MuiButton.ts
  packages/admin/admin-theme/src/typographyOptions.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use reference types in vendors.d.ts instead of overriding types in tsconfig
  .changeset/eighty-owls-cheat.md
  demo/admin/src/vendors.d.ts
  packages/admin/cms-admin/src/vendors.d.ts
  packages/admin/cms-admin/tsconfig.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix site i18n workflow - Clone translations into demo/site/lang/comet-demo-lang - Update site translations
  .github/workflows/i18n.yml
Due: none

Fix a crash when using the `Alert` component inside a MUI `Snackbar` (v5) (#1889)
  .changeset/big-items-serve.md
  packages/admin/admin-stories/src/admin/alert/AlertInSnackbar.tsx
  packages/admin/admin/src/alert/Alert.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix site i18n workflow (#1890)
  .github/workflows/i18n.yml
Due: none

Add search functionality to ContentScope Select
  packages/admin/cms-admin/src/contentScope/ContentScope.utils.ts
  packages/admin/cms-admin/src/contentScope/Controls.tsx
  packages/admin/cms-admin/src/contentScope/Select.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor DamMoreActions component to display the number of selected files and folders
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/SelectedItemsChip.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add disablePermissionCheck as value for decorator
  packages/api/cms-api/src/auth/resolver/auth.resolver.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.ts
  packages/api/cms-api/src/user-permissions/decorators/required-permission.decorator.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Restore old behaviour of invisibleContentCheck
  packages/api/cms-api/src/auth/guards/comet.guard.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changelog
  .changeset/great-hotels-unite.md
Due: prettylint

Remove 'clearable' story as it is redundant now
  storybook/src/admin-date-time/DatePicker.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changeset
  .changeset/selfish-books-fail.md
Due: prettylint

Use more generic resolver to support prelogin
  .changeset/short-timers-return.md
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/site/src/app/api/site-preview/route.ts
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/auth/resolver/auth.resolver.ts
  packages/api/cms-api/src/page-tree/page-tree.module.ts
  packages/api/cms-api/src/page-tree/site-preview.resolver.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
  packages/site/cms-site/src/index.ts
  packages/site/cms-site/src/sitePreview/SitePreviewApiHelper.ts
  packages/site/cms-site/src/util/getValidatedScope.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add 'endAdornmentIcon' and 'disabledEndAdornmentIcon' to 'FinalFormAutocomplete'
  packages/admin/admin/src/form/Autocomplete.tsx
  storybook/src/docs/form/components/stories/FinalFormFields.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/fifty-ghosts-relax.md
Due: prettylint

Rework theme for MuiChip
  packages/admin/admin-theme/src/componentsTheme/MuiChip.ts
  packages/admin/admin-theme/src/componentsTheme/MuiChip.tsx
  storybook/src/admin/mui/Chip.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove @azure/openai from devdep
  packages/api/cms-api/package.json
Due: prettylint

throw error instead of returing wrong message
  packages/api/cms-api/src/content-generation/openai-content-generation.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

throw error if generation function is not implemented
  packages/api/cms-api/src/content-generation/generate-alt-text.resolver.ts
  packages/api/cms-api/src/content-generation/generate-image-title.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

deleted: EditPageLayout
  demo/admin/src/links/EditLink.tsx
  demo/admin/src/news/generated/NewsForm.tsx
  demo/admin/src/pages/EditPage.tsx
  demo/admin/src/pages/mainMenu/components/EditMainMenuItem.tsx
  demo/admin/src/predefinedPage/EditPredefinedPage.tsx
  demo/admin/src/products/ManufacturerForm.tsx
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/ProductPriceForm.tsx
  demo/admin/src/products/ProductVariantForm.tsx
  demo/admin/src/products/categories/ProductCategoryForm.tsx
  demo/admin/src/products/future/generated/ProductForm.tsx
  demo/admin/src/products/generated/ProductForm.tsx
  demo/admin/src/products/tags/ProductTagForm.tsx
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/pages/EditPageLayout.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add: changeset
  .changeset/many-oranges-mate.md
Due: prettylint

remove: EditPageLayout from admin generators
  packages/admin/cms-admin/src/generator/future/generateForm.ts
  packages/admin/cms-admin/src/generator/generateForm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rework functionality of ContentGenerationModule
  demo/api/src/app.module.ts
  demo/api/src/content-generation/content-generation.service.ts
  packages/api/cms-api/src/content-generation/content-generation-service.interface.ts
  packages/api/cms-api/src/content-generation/content-generation.config.ts
  packages/api/cms-api/src/content-generation/content-generation.constants.ts
  packages/api/cms-api/src/content-generation/content-generation.module.ts
  packages/api/cms-api/src/content-generation/generate-alt-text.resolver.ts
  packages/api/cms-api/src/content-generation/generate-image-title.resolver.ts
  packages/api/cms-api/src/content-generation/openai-content-generation.service.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Support app router for site preview
  demo/site/src/app/[[...path]]/page.tsx
  demo/site/src/app/api/site-preview/route.ts
  demo/site/src/documentTypes/Page.tsx
  demo/site/src/util/createGraphQLClient.ts
  packages/site/cms-site/src/index.ts
  packages/site/cms-site/src/sitePreview/SitePreviewUtils.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix merge
  demo/site/src/app/news/[slug]/page.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove 'disabledEndAdornmentIcon' and use MUIs 'InputAdornment' for styling,
  packages/admin/admin/src/form/Autocomplete.tsx
  storybook/src/docs/form/components/stories/FinalFormFields.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changeset
  .changeset/fifty-ghosts-relax.md
Due: prettylint

Temporarily add success palette as secondary
  packages/admin/admin-theme/src/colors.ts
  packages/admin/admin-theme/src/paletteOptions.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add number of selected files to `DamMoreActions` (#1791)
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/SelectedItemsChip.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Resolve conflicts
  demo/site/package.json
  packages/admin/admin/src/ContentOverflow.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix typo and improve comment
  demo/site/src/util/graphQLClient.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make new `ToolbarBreadcrumbs` overridable (#1872)
  packages/admin/admin/src/common/toolbar/ToolbarBreadcrumbs.tsx
  packages/admin/admin/src/common/toolbar/breadcrumb/ToolbarBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move graphl fetch into library
  .changeset/plenty-cougars-warn.md
  demo/site/src/app/[[...path]]/page.tsx
  demo/site/src/app/api/site-preview/route.ts
  demo/site/src/documentTypes/Page.tsx
  demo/site/src/util/graphQLClient.ts
  packages/site/cms-site/src/graphQLFetch/graphQLFetch.ts
  packages/site/cms-site/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

don't pass fetch into createGraphQLFetchWithPreviewHeaders, use global instance instead
  demo/site/src/app/[[...path]]/page.tsx
  demo/site/src/documentTypes/Page.tsx
  demo/site/src/util/graphQLClient.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix gql import
  demo/site/src/components/Breadcrumbs.fragment.ts
  demo/site/src/header/Header.fragment.ts
  demo/site/src/header/PageLink.fragment.ts
  demo/site/src/topNavigation/TopNavigation.fragment.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fixes after merge
  demo/site/src/app/news/[slug]/page.tsx
  demo/site/src/app/news/page.tsx
  demo/site/src/news/NewsList.fragment.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Also fix news list page
  demo/site/src/app/news/page.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/many-oranges-mate.md
Due: prettylint

Remove cookies-next depdenency
  packages/site/cms-site/package.json
  packages/site/cms-site/src/sitePreview/SitePreviewUtils.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
