Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

add migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Add tooltip to warning actions (#3872)
  packages/admin/admin/src/messages.ts
  packages/admin/cms-admin/src/warnings/WarningActions.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix all TSC errors
  demo/site/src/util/ErrorHandler.tsx
  packages/api/cms-api/src/access-log/access-log.interceptor.ts
  packages/site/site-nextjs/src/sitePreview/appRouter/sitePreviewRoute.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix all Knip errors
  demo/site/src/common/blocks/LinkListBlock.tsx
  demo/site/src/common/blocks/TextLinkBlock.tsx
  knip.json
  packages/admin/cms-admin/src/common/useOptimisticQuery.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderHead.gql.ts
  packages/admin/cms-admin/src/dam/DataGrid/FolderHead.tsx
  packages/admin/cms-admin/src/dam/DataGrid/breadcrumbs/FolderBreadcrumbs.gql.ts
  packages/admin/cms-admin/src/dam/DataGrid/breadcrumbs/FolderBreadcrumbs.tsx
  packages/site/site-nextjs/package.json
  packages/site/site-nextjs/src/index.ts
  packages/site/site-nextjs/src/sitePreview/SitePreviewUtils.ts
  packages/site/site-nextjs/src/sitePreview/iframebridge/SitePreviewIFrameMessage.ts
  packages/site/site-react/package.json
  packages/site/site-react/src/errorHandler/ErrorHandlerProvider.tsx
  packages/site/site-react/src/iframebridge/IFrameBridge.tsx
  packages/site/site-react/src/iframebridge/IFrameMessage.ts
  packages/site/site-react/src/iframebridge/withPreview.tsx
  packages/site/site-react/src/image/Image.tsx
  packages/site/site-react/src/index.ts
  packages/site/site-react/src/preview/PreviewContext.tsx
  packages/site/site-react/src/preview/usePreview.ts
  packages/site/site-react/src/vendor.d.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add missing "use client" to useBlockPreviewFetch
  packages/site/cms-site/src/iframebridge/useBlockPreviewFetch.tsx
  packages/site/site-react/src/iframebridge/useBlockPreviewFetch.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add missing "Apollo-Require-Preflight" header to createGraphQLFetch
  packages/site/site-react/src/graphQLFetch/graphQLFetch.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent the `UserPermissionsUserGrid` from losing focus while entering text in the search input
  .changeset/wild-items-shake.md
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Only redirect if route is master menu item
  packages/admin/cms-admin/src/common/MasterMenuRoutes.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix typo
  packages/admin/cms-admin/src/testing/stub-file.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rework and extend the 'How to build a custom client' guide
  .cspellignore
  docs/docs/4-guides/1-how-to-build-a-custom-client/images/block-preview.png
  docs/docs/4-guides/1-how-to-build-a-custom-client/images/rich-text-editor-example.png
  docs/docs/4-guides/1-how-to-build-a-custom-client/index.md
Due: prettylint

Remove type in warning entity
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20241108073817.ts
  packages/admin/cms-admin/src/warnings/WarningsGrid.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/warnings/entities/warning.entity.ts
  packages/api/cms-api/src/warnings/warning-checker.command.ts
  packages/api/cms-api/src/warnings/warning-event-subscriber.ts
  packages/api/cms-api/src/warnings/warning.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rework and extend the 'How to build a custom client' guide (#3905)
  .cspellignore
  docs/docs/4-guides/1-how-to-build-a-custom-client/images/block-preview.png
  docs/docs/4-guides/1-how-to-build-a-custom-client/images/rich-text-editor-example.png
  docs/docs/4-guides/1-how-to-build-a-custom-client/index.md
Due: prettylint

Admin Generator: fix FormValues type for rootBlocks (#3883)
  packages/admin/admin-generator/src/commands/generate/generateForm/generateForm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Importer Module: Move importer to library (#3833)
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/product-importer.input.ts
  demo/api/src/products/product-importer.service.ts
  demo/api/src/products/product-importer.ts
  demo/api/src/products/product-persist.pipe.ts
  demo/api/src/products/product-pre-persist.pipe.ts
  packages/api/cms-api/package.json
  packages/api/cms-api/src/importer/data-streams/data-stream.ts
  packages/api/cms-api/src/importer/data-streams/file-data-stream.ts
  packages/api/cms-api/src/importer/data-streams/local-file-data-stream.ts
  packages/api/cms-api/src/importer/decorators/csv-column.decorator.ts
  packages/api/cms-api/src/importer/import-target.interface.ts
  packages/api/cms-api/src/importer/importer-input.type.ts
  packages/api/cms-api/src/importer/pipes/end.pipe.ts
  packages/api/cms-api/src/importer/pipes/importer-pipe.type.ts
  packages/api/cms-api/src/importer/pipes/parsers/csv-parser-and-transform.composite-pipe.ts
  packages/api/cms-api/src/importer/pipes/parsers/csv-parser.pipe.ts
  packages/api/cms-api/src/importer/pipes/parsers/data-transformer.pipe.ts
  packages/api/cms-api/src/importer/pipes/parsers/data-validator.pipe.ts
  packages/api/cms-api/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add import restriction for MUI's Button (#3391)
  .changeset/chilly-trams-raise.md
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
  packages/admin/admin/src/common/buttons/Button.tsx
  packages/admin/admin/src/common/buttons/split/SplitButton.tsx
  packages/admin/admin/src/common/toolbar/actions/ToolbarActionButton.tsx
  packages/admin/admin/src/error/errordialog/ErrorDialog.tsx
  packages/admin/admin/src/table/DeleteButton.tsx
  packages/admin/admin/src/table/filterbar/filterBarButton/FilterBarButton.tsx
  packages/admin/admin/src/table/filterbar/filterBarPopoverFilter/FilterBarPopoverFilter.tsx
  packages/admin/cms-admin/src/blocks/clipboard/CannotPasteBlockDialog.tsx
  packages/admin/cms-admin/src/blocks/common/BlockAdminComponentButton.tsx
  packages/admin/cms-admin/src/blocks/image/EditImageDialog.tsx
  packages/admin/cms-admin/src/common/signOutButton/SignOutButton.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageDeleteDialog.tsx
  packages/admin/cms-admin/src/userPermissions/user/ImpersonationButtons.tsx
  packages/admin/cms-admin/src/userPermissions/user/permissions/ContentScopeGrid.tsx
  packages/eslint-config/react.js
  storybook/src/admin/inlineAlert/InlineAlert.stories.tsx
  storybook/src/docs/components/SplitButton/SplitButton.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename enums to camelCase in demo api
  demo/api/src/common/blocks/call-to-action.block.ts
  demo/api/src/common/blocks/heading.block.ts
  demo/api/src/common/blocks/space.block.ts
  demo/api/src/db/fixtures/fixtures.console.ts
  demo/api/src/db/fixtures/generators/blocks/space.generator.ts
  demo/api/src/db/fixtures/generators/document-generator.service.ts
  demo/api/src/db/fixtures/generators/many-images-test-page-fixture.service.ts
  demo/api/src/db/fixtures/generators/products-fixture.service.ts
  demo/api/src/db/fixtures/generators/redirects-fixture.service.ts
  demo/api/src/documents/predefined-pages/entities/predefined-page.entity.ts
  demo/api/src/documents/predefined-pages/predefined-pages.service.ts
  demo/api/src/menus/menus.resolver.ts
  demo/api/src/news/entities/news.entity.ts
  demo/api/src/news/generated/dto/news-list.args.ts
  demo/api/src/news/generated/dto/news.input.ts
  demo/api/src/open-telemetry/metrics.ts
  demo/api/src/page-tree/dto/page-tree-node.input.ts
  demo/api/src/page-tree/entities/page-tree-node.entity.ts
  demo/api/src/page-tree/page-tree-node-category.ts
  demo/api/src/products/entities/product-type.enum.ts
  demo/api/src/redirects/redirect-target-url.service.ts
  demo/api/src/user-groups/user-group.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add basic docs about DAM / Cross-reference to deployment docs (#3568)
  docs/docs/3-features-modules/3-asset-management/index.md
  docs/docs/6-deployment/index.md
  docs/docs/index.md
Due: prettylint

generate schema
  demo/api/schema.gql
Due: none

generate block-meta.json
  demo/api/block-meta.json
Due: prettylint

rename enums to camelCase in demo site
  demo/site-pages/src/common/blocks/CallToActionBlock.tsx
  demo/site-pages/src/common/blocks/HeadingBlock.tsx
  demo/site/src/common/blocks/CallToActionBlock.tsx
  demo/site/src/common/blocks/HeadingBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename enums to camelCase in demo admin
  demo/admin/src/common/blocks/CallToActionBlock.tsx
  demo/admin/src/common/blocks/HeadingBlock.tsx
  demo/admin/src/common/blocks/SpaceBlock.tsx
  demo/admin/src/documents/links/Link.tsx
  demo/admin/src/documents/pages/Page.tsx
  demo/admin/src/documents/predefinedPages/EditPredefinedPage.tsx
  demo/admin/src/documents/predefinedPages/predefinedPageLabels.tsx
  demo/admin/src/products/future/CreateCapProductPage.tsx
  demo/admin/src/userGroups/UserGroupChip.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add ChevronRight to Items on collapsed menus
  packages/admin/admin/src/mui/mainNavigation/Item.styles.ts
  packages/admin/admin/src/mui/mainNavigation/Item.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/hot-dancers-sleep.md
Due: prettylint

Create a block_index view that contains a flat list of all blocks existing in the project
  .changeset/late-trees-grow.md
  packages/api/cms-api/src/dependencies/dependencies.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update console output
  packages/api/cms-api/src/dependencies/dependencies.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix type error
  packages/admin/cms-admin/src/redirects/RedirectsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/fast-memes-roll.md
Due: prettylint

use chip for activated dropdown
  packages/admin/cms-admin/src/redirects/RedirectActiveness.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/good-seas-press.md
Due: prettylint

adapt width of active column in grid to fully display chip
  packages/admin/cms-admin/src/redirects/RedirectsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat: add read only field
  packages/admin/admin/src/common/readOnlyField/ReadOnlyBlockField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyBooleanField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyDateField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyFileField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyMultiSelectField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyNumberField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyRichTextField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlySelectField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyTextAreaField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyTextField.tsx
  packages/admin/admin/src/index.ts
  storybook/src/admin/read-only/ReadOnlyField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: extract read only field label into component
  packages/admin/admin/src/common/readOnlyField/ReadOnlyBlockField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyDateField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyFieldLabel.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyFileField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyMultiSelectField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyNumberField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyRichTextField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlySelectField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlySwitchField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyTextAreaField.tsx
  packages/admin/admin/src/common/readOnlyField/ReadOnlyTextField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Review: Use sort function instead of reverse for breakpoints
  demo/site/src/util/createImageSizes.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add missing "use client" directives to useBlockPreviewFetch
  .changeset/nasty-wasps-smell.md
  packages/site/cms-site/src/iframebridge/useBlockPreviewFetch.tsx
  packages/site/site-react/src/iframebridge/useBlockPreviewFetch.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Include entity info in warning grid (#3869)
  demo/api/schema.gql
  packages/admin/cms-admin/src/warnings/WarningsGrid.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/common/entityInfo/entity-info.decorator.ts
  packages/api/cms-api/src/common/entityInfo/entity-info.module.ts
  packages/api/cms-api/src/common/entityInfo/entity-info.object.ts
  packages/api/cms-api/src/common/entityInfo/entity-info.service.ts
  packages/api/cms-api/src/dam/files/entities/file.entity.ts
  packages/api/cms-api/src/dam/files/files-entity-info.service.ts
  packages/api/cms-api/src/dependencies/dependencies.module.ts
  packages/api/cms-api/src/dependencies/dependencies.service.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/page-tree/page-tree-node-document-entity-info.service.ts
  packages/api/cms-api/src/warnings/warning.module.ts
  packages/api/cms-api/src/warnings/warning.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

improve accordion item a11y
  demo/site/package.json
  demo/site/src/common/blocks/AccordionItemBlock.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove nanoid package, use useId from react
  demo/site/package.json
  demo/site/src/common/blocks/AccordionItemBlock.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove fallback title for aria label
  demo/site/src/common/blocks/AccordionItemBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
