Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Prevent image uploads from failing if exif data cannot be parsed
  .changeset/smart-humans-report.md
  packages/api/cms-api/src/dam/files/files.service.ts
  project-words.txt
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `image/x-icon` to accepted mimetypes and remove `video/avi`, `image/psd` and `video/x-m4v` from accepted mimetypes
  .changeset/hot-cheetahs-juggle.md
  .changeset/hungry-ties-relate.md
  packages/admin/cms-admin/src/dam/config/damDefaultAcceptedMimeTypes.ts
  packages/api/cms-api/src/dam/common/mimeTypes/dam-default-accepted-mimetypes.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

undo mention of update script
  docs/docs/migration/migration-from-v7-to-v8.md
Due: prettylint

remove defaultProps from MuiListItemIcon
  demo/admin/vite.config.mts.timestamp-1735805073108-6f04e857c3d36.mjs
  packages/admin/admin-theme/src/componentsTheme/MuiListItemIcon.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove defaultProps from MuiMenu
  demo/admin/vite.config.mts.timestamp-1735805073108-6f04e857c3d36.mjs
  packages/admin/admin-theme/src/componentsTheme/MuiMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

re-add slots in CrudMoreActionsMenu
  packages/admin/admin/src/dataGrid/CrudMoreActionsMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove important from MuiMenuItem-root styles
  packages/admin/admin-theme/src/componentsTheme/MuiMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

set minWidth on MuiListItemIcon-root instead of using unset
  packages/admin/admin-theme/src/componentsTheme/MuiListItemIcon.tsx
  packages/admin/admin-theme/src/componentsTheme/MuiMenuItem.tsx
  packages/admin/admin-theme/src/componentsTheme/getComponentsTheme.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix `defaultProps` of `MuiDataGrid` in `createCometTheme()`
  .changeset/cool-beers-whisper.md
  packages/admin/admin-theme/src/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

set margin on MuiDivider-root
  packages/admin/admin-theme/src/componentsTheme/MuiMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update documentation
  docs/docs/sentry/index.md
Due: prettylint

Fix links
  docs/docs/1-getting-started/2-how-to-run.md
  docs/docs/1-getting-started/4-crud-generator/1-api-generator.md
  docs/docs/2-core-concepts/1-content-scope/1-content-website.md
  docs/docs/2-core-concepts/1-content-scope/2-data-driven-application.md
  docs/docs/2-core-concepts/2-blocks/6-composition.mdx
  docs/docs/2-core-concepts/2-blocks/7-blocks-in-forms.mdx
  docs/docs/2-core-concepts/5-user-permissions/2-access-control.md
  docs/docs/2-core-concepts/5-user-permissions/index.md
  docs/docs/2-core-concepts/7-dependencies/index.md
  docs/docs/3-features-modules/2-preview/index.md
  docs/docs/3-features-modules/6-cron-jobs/index.md
  docs/docs/4-guides/1-how-to-build-a-custom-client/images/sample-content-page.png
  docs/docs/4-guides/1-how-to-build-a-custom-client/images/sample-page-tree-list.png
  docs/docs/4-guides/1-how-to-build-a-custom-client/index.md
  docs/docs/6-deployment/index.md
Due: prettylint

Add partial match support to usePreview helpers isSelected and isHovered
  packages/site/cms-site/src/preview/usePreview.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove clsx dependency
  docs/package.json
  docs/src/theme/Playground/index.tsx
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin/package.json
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/fast-ties-peel.md
Due: prettylint

Update uuid to v11
  demo/admin/package.json
  demo/api/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-icons/src/CometColor.tsx
  packages/admin/admin/package.json
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/cms-api/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Harmonize usage of uuid
  packages/api/cms-api/src/dependencies/dependencies.service.ts
  packages/api/cms-api/src/user-permissions/entities/user-permission.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update query-string to v7
  packages/admin/admin/package.json
  packages/admin/admin/src/table/paging/createRestPagingActions.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Pass missing props to icon-button to fix missing onClick
  .changeset/nice-bugs-knock.md
  packages/admin/admin/src/common/toolbar/actions/ToolbarActionButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove immutable dev dependency from storybook as it wasn't used/necessary
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint

Add support for full screen dialogs
  .changeset/four-terms-hope.md
  packages/admin/admin-theme/src/componentsTheme/MuiDialog.ts
  storybook/src/admin/mui/Dialog.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Slighly improve dialog story
  storybook/src/admin/mui/Dialog.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Switch from deprecated pascal-case to change-case in @comet/admin-icons
  packages/admin/admin-icons/generate-icons.ts
  packages/admin/admin-icons/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Pass missing props to icon-button to of `ToolbarActionButton` to fix missing `onClick` (#3015)
  .changeset/nice-bugs-knock.md
  packages/admin/admin/src/common/toolbar/actions/ToolbarActionButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix `defaultProps` of `MuiDataGrid` in `createCometTheme()` (#3005)
  .changeset/cool-beers-whisper.md
  packages/admin/admin-theme/src/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add support for full screen dialogs (#3019)
  .changeset/four-terms-hope.md
  packages/admin/admin-theme/src/componentsTheme/MuiDialog.ts
  storybook/src/admin/mui/Dialog.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Tell renovate to ignore packages we don't want to upgrade ATM
  renovate.json
Due: prettylint

Switch to json5 to allow comments
  renovate.json5
Due: none

Add a validate renovate config github action
  .github/workflows/validate-renovate-config.yml
Due: none

Update scroll-into-view-if-needed to v3
  packages/admin/blocks-admin/package.json
  packages/site/cms-site/package.json
  pnpm-lock.yaml
Due: prettylint

Update chokidar-cli to v3
  demo/admin/package.json
  demo/site-pages/package.json
  demo/site/package.json
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/cms-api/package.json
  packages/site/cms-site/package.json
  pnpm-lock.yaml
Due: prettylint

Styling and custom component for DataGrid panels
  demo/admin/src/App.tsx
  demo/admin/src/theme.ts
  packages/admin/admin-theme/src/componentsTheme/MuiDataGrid.tsx
  packages/admin/admin/src/dataGrid/DataGridPanel.tsx
  packages/admin/admin/src/index.ts
  storybook/src/admin/toolbar/DataGridToolbar.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: add browser script to open demo url's from script
  package.json
  pnpm-lock.yaml
Due: prettylint

ignore open-cli in knip ignoreDependencies
  knip.json
Due: prettylint

Docs: Fix "create migration" command for predefined pages (#2995)
  docs/docs/documents/predefined-pages.mdx
Due: none

Remove `clsx` dependency (#3008)
  docs/package.json
  docs/src/theme/Playground/index.tsx
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin/package.json
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: rimraf javascript syntax
  packages/api/cms-api/src/file-uploads/file-uploads-upload.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove `immutable` dependency from storybook (#3018)
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint

Update `chokidar-cli` to v3 (#3032)
  demo/admin/package.json
  demo/site-pages/package.json
  demo/site/package.json
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/cms-api/package.json
  packages/site/cms-site/package.json
  pnpm-lock.yaml
Due: prettylint
