Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

API: prevent importing dev dependencies (#5520)
  .changeset/prevent-dev-dep-imports-api.md
  demo/api/src/repl.ts
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
  packages/api/brevo-api/package.json
  packages/eslint-config/nestjs.js
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent links in the `TableBlock` RTE cell preview from opening when editing a cell (#5547)
  .changeset/table-block-rte-preview-no-pointer-events.md
  packages/admin/cms-admin/src/blocks/table/CellValue.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move FullTextSearch completely into its own module instead of integrating into EntityInfo (#5528)
  packages/api/cms-api/src/dependencies/dependencies.service.ts
  packages/api/cms-api/src/entity-info/entity-info.object.ts
  packages/api/cms-api/src/entity-info/entity-info.service.spec.ts
  packages/api/cms-api/src/entity-info/entity-info.service.ts
  packages/api/cms-api/src/entity-info/full-text-search.module.ts
  packages/api/cms-api/src/entity-info/full-text-search.resolver.ts
  packages/api/cms-api/src/entity-info/resolve-field-to-sql.spec.ts
  packages/api/cms-api/src/entity-info/resolve-field-to-sql.ts
  packages/api/cms-api/src/full-text-search/dto/paginated-entity-info.ts
  packages/api/cms-api/src/full-text-search/entities/entity-info-full-text.object.ts
  packages/api/cms-api/src/full-text-search/full-text-search.module.ts
  packages/api/cms-api/src/full-text-search/full-text-search.resolver.ts
  packages/api/cms-api/src/full-text-search/full-text-search.service.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unused dependency (merge error)
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint

Fix faulty changeset
  .changeset/clear-ghosts-swim.md
  packages/api/cms-api/CHANGELOG.md
Due: prettylint

Fix faulty changeset (#5555)
  .changeset/clear-ghosts-swim.md
  packages/api/cms-api/CHANGELOG.md
Due: prettylint

Add agent rules support to install-agent-features
  .changeset/install-agent-features.md
  .cspellignore
  .gitignore
  docs/docs/4-guides/5-installing-agent-features.md
  packages/cli/src/commands/install-agent-features.test.ts
  packages/cli/src/commands/install-agent-features.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename install-agent-skills to install-agent-features
  agent-features.json
  docs/docs/3-features-modules/13-building-html-emails/index.md
  docs/docs/4-guides/5-installing-agent-features.md
  install.sh
  package.json
  packages/cli/src/comet.ts
  packages/cli/src/commands/install-agent-features.test.ts
  packages/cli/src/commands/install-agent-features.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: Add content translation documentation
  docs/docs/3-features-modules/14-content-translation/index.md
Due: prettylint

admin: Support translation for textarea fields in FinalFormInput
  .changeset/translate-textarea-fields.md
  packages/admin/admin/src/form/FinalFormInput.tsx
  packages/admin/admin/src/translator/PlainTextTranslationDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Use textarea rows in PlainTextTranslationDialog when multiline
  packages/admin/admin/src/translator/PlainTextTranslationDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add onError prop to ErrorBoundary for external error reporting
  .changeset/add-error-boundary-on-error-prop.md
  packages/admin/admin/src/error/errorboundary/ErrorBoundary.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Add Storybook stories for content translation
  packages/admin/admin/src/translator/__stories__/ContentTranslation.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add SessionStart hook to start Docker daemon and demo-docker on web sessions
  .claude/hooks/session-start.sh
  .claude/settings.json
  .gitignore
Due: prettylint

Add `head` and `attributes` slot props to `MjmlMailRoot`
  .changeset/add-mjml-mail-root-head-and-attributes-slots.md
  docs/docs/3-features-modules/13-building-html-emails/2-components-and-theme.md
  packages/mail-react/openspec/specs/mjml-mail-root/spec.md
  packages/mail-react/src/components/mailRoot/MjmlMailRoot.tsx
  packages/mail-react/src/server/renderMailHtml.test.tsx
  skills/comet-mail-react/SKILL.md
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Mention both props in scenario
  packages/mail-react/openspec/specs/mjml-mail-root/spec.md
Due: prettylint

TipTap based RichTextBlock (#5458)
  .changeset/fair-colts-sort.md
  demo/admin/src/common/blocks/TipTapRichTextBlock.tsx
  demo/admin/src/documents/pages/blocks/PageContentBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/tip-tap-rich-text.block.ts
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
  demo/api/src/documents/pages/blocks/page-content.block.ts
  demo/site/src/common/blocks/TipTapRichTextBlock.tsx
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/blocks/__stories__/RichTextBlock.stories.tsx
  packages/admin/cms-admin/src/blocks/tipTap/BlockStyleContext.ts
  packages/admin/cms-admin/src/blocks/tipTap/TipTapLinkDialog.tsx
  packages/admin/cms-admin/src/blocks/tipTap/TipTapToolbar.tsx
  packages/admin/cms-admin/src/blocks/tipTap/__stories__/TipTapRichTextBlock.stories.tsx
  packages/admin/cms-admin/src/blocks/tipTap/createTipTapRichTextBlock.tsx
  packages/admin/cms-admin/src/blocks/tipTap/extensions/BlockStyleHeading.tsx
  packages/admin/cms-admin/src/blocks/tipTap/extensions/BlockStyleParagraph.tsx
  packages/admin/cms-admin/src/blocks/tipTap/extensions/CmsLink.ts
  packages/admin/cms-admin/src/blocks/tipTap/extensions/NonBreakingSpace.tsx
  packages/admin/cms-admin/src/blocks/tipTap/extensions/SoftHyphen.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/package.json
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/api/cms-api/src/blocks/tipTap/extensions/BlockStyleHeading.ts
  packages/api/cms-api/src/blocks/tipTap/extensions/BlockStyleParagraph.ts
  packages/api/cms-api/src/blocks/tipTap/extensions/CmsLink.ts
  packages/api/cms-api/src/blocks/tipTap/extensions/NonBreakingSpace.ts
  packages/api/cms-api/src/blocks/tipTap/extensions/SoftHyphen.ts
  packages/api/cms-api/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix changeset
  .changeset/export-choose-dam-files-dialog.md
  .changeset/filefield-multi-select.md
Due: prettylint

cms-admin: Rename `initialSelectionMap` to `initialSelection`
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamSelectionContext.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/BaseChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFilesDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Track selection as file ids in `ChooseDamFilesDialog`
  packages/admin/cms-admin/src/form/file/chooseFile/BaseChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFilesDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix webpackPersistedQueriesLoader export, needs an extra entry as it's not part of index andymore
  packages/site/site-nextjs/package.json
  packages/site/site-nextjs/src/persistedQueries/webpackPersistedQueriesLoader.ts
  packages/site/site-nextjs/vite.config.mts
  packages/site/site-react/vite.config.mts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Use @storybook/react-vite in content translation stories
  packages/admin/admin/src/translator/__stories__/ContentTranslation.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `ids` filter to `damFilesList` query
  .changeset/dam-files-list-ids-filter.md
  demo/api/schema.gql
  packages/admin/cms-admin/src/form/file/FileField.gql.ts
  packages/admin/cms-admin/src/form/file/FileField.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/dam/files/dto/file.args.ts
  packages/api/cms-api/src/dam/files/files.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix storybook imports: replace @storybook/react-webpack5 with @storybook/react-vite (#5562)
  packages/admin/cms-admin/src/blocks/__stories__/RichTextBlock.stories.tsx
  packages/admin/cms-admin/src/blocks/tipTap/__stories__/TipTapRichTextBlock.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use DamFile as type in Product entity
  demo/api/src/products/entities/product.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

[breaking] site-nextjs, site-react: add `/server` export for server-only modules (#5551)
  .changeset/move-server-only-exports-to-server-subpath.md
  demo/site/src/app/[visibility]/[domain]/graphql/route.ts
  demo/site/src/app/site-preview/route.ts
  demo/site/src/middleware/domainRewrite.ts
  demo/site/src/util/siteConfig.ts
  docs/docs/3-features-modules/2-preview/how-site-preview-works.md
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
  packages/site/site-nextjs/package.json
  packages/site/site-nextjs/src/index.ts
  packages/site/site-nextjs/src/persistedQueries/webpackPersistedQueriesLoader.ts
  packages/site/site-nextjs/src/server.ts
  packages/site/site-nextjs/vite.config.mts
  packages/site/site-react/package.json
  packages/site/site-react/src/index.ts
  packages/site/site-react/src/server.ts
  packages/site/site-react/vite.config.mts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `head` and `attributes` props to `MjmlMailRoot` (#5559)
  .changeset/add-mjml-mail-root-head-and-attributes-slots.md
  docs/docs/3-features-modules/13-building-html-emails/2-components-and-theme.md
  packages/mail-react/openspec/specs/mjml-mail-root/spec.md
  packages/mail-react/src/components/mailRoot/MjmlMailRoot.tsx
  packages/mail-react/src/server/renderMailHtml.test.tsx
  skills/comet-mail-react/SKILL.md
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Avoid side effect inside `setState` updater in `DamSelectionProvider`
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamSelectionContext.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add config system
  .changeset/add-mail-react-config-context.md
  .cspellignore
  packages/mail-react/openspec/changes/archive/2026-05-05-add-config-context/.openspec.yaml
  packages/mail-react/openspec/changes/archive/2026-05-05-add-config-context/design.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-config-context/proposal.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-config-context/specs/config-context/spec.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-config-context/tasks.md
  packages/mail-react/openspec/specs/config-context/spec.md
  packages/mail-react/src/components/mailRoot/MjmlMailRoot.tsx
  packages/mail-react/src/config/ConfigProvider.test.tsx
  packages/mail-react/src/config/ConfigProvider.tsx
  packages/mail-react/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Correct theme and spec
  packages/mail-react/openspec/specs/config-context/spec.md
  skills/comet-mail-react/references/components-and-theme.md
Due: prettylint

Update docs and skill
  docs/docs/3-features-modules/13-building-html-emails/2-components-and-theme.md
  docs/docs/3-features-modules/13-building-html-emails/4-customization.md
  skills/comet-mail-react/SKILL.md
  skills/comet-mail-react/references/components-and-theme.md
Due: prettylint

Use correct default value instead of different default and fallback values
  packages/mail-react/src/config/ConfigProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Only render `ConfigProvider` if config is passed to prevent overriding values possibly defined by an outer `ConfigProvider`
  packages/mail-react/openspec/specs/config-context/spec.md
  packages/mail-react/src/components/mailRoot/MjmlMailRoot.tsx
  packages/mail-react/src/config/ConfigProvider.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

The default value of `{}` only applies to the `useConfig` hook, not of the `config` prop on `MjmlMailRoot`
  skills/comet-mail-react/references/components-and-theme.md
Due: prettylint

Simplify dam file sort
  packages/admin/cms-admin/src/form/file/FileField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Raise Node's heap limit
  docs/netlify.toml
Due: none

Multi select `FileField` (#5542)
  .changeset/dam-files-list-ids-filter.md
  .changeset/export-choose-dam-files-dialog.md
  .changeset/filefield-multi-select.md
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  demo/api/schema.gql
  demo/api/src/dam/entities/dam-file.entity.ts
  demo/api/src/db/migrations/Migration20260504092659.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/product.resolver.ts
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamSelectionContext.tsx
  packages/admin/cms-admin/src/form/file/FileField.gql.ts
  packages/admin/cms-admin/src/form/file/FileField.tsx
  packages/admin/cms-admin/src/form/file/FileFieldMenu.tsx
  packages/admin/cms-admin/src/form/file/FileFieldRow.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/BaseChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFilesDialog.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/dam/files/dto/file.args.ts
  packages/api/cms-api/src/dam/files/files.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
