Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Admin: fix workspace packages in Vite config
  demo/admin/vite.config.mts
Due: none

Refactor `ColumnHeader` logic
  packages/admin/cms-admin/src/blocks/table/ColumnHeader.tsx
  packages/admin/cms-admin/src/blocks/table/utils.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add missing formatted-messages
  packages/admin/cms-admin/src/blocks/table/ColumnHeader.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix recently-pasted-highlighting of empty cells
  packages/admin/cms-admin/src/blocks/table/CellValue.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unused export
  packages/admin/cms-admin/src/blocks/table/utils.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add support for temporary file uploads
  .changeset/plain-days-laugh.md
  demo/api/schema.gql
  demo/api/src/products/generated/dto/product.sort.ts
  packages/admin/cms-admin/src/form/file/FinalFormFileUpload.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/file-uploads/dto/file-upload.body.ts
  packages/api/cms-api/src/file-uploads/entities/file-upload.entity.ts
  packages/api/cms-api/src/file-uploads/file-upload-expiration.subscriber.ts
  packages/api/cms-api/src/file-uploads/file-uploads-delete-expired-files.command.ts
  packages/api/cms-api/src/file-uploads/file-uploads-upload.controller.ts
  packages/api/cms-api/src/file-uploads/file-uploads.config.ts
  packages/api/cms-api/src/file-uploads/file-uploads.module.ts
  packages/api/cms-api/src/file-uploads/file-uploads.service.spec.ts
  packages/api/cms-api/src/file-uploads/file-uploads.service.ts
  packages/api/cms-api/src/mikro-orm/migrations/Migration20251013081751.ts
  packages/api/cms-api/src/mikro-orm/mikro-orm.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove comments
  packages/api/cms-api/src/file-uploads/file-uploads.service.ts
  packages/api/cms-api/src/warnings/warning-checker.command.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unrelated warning-checker changes
  packages/api/cms-api/src/warnings/warning-checker.command.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix typo in changeset and improve structure
  .changeset/plain-days-laugh.md
Due: prettylint

Add missing orm definition
  packages/api/cms-api/src/file-uploads/file-uploads-delete-expired-files.command.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor FileUploadExpirationSubscriber constructor by removing unused imports and simplifying parameter definitions.
  packages/api/cms-api/src/file-uploads/file-upload-expiration.subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix tests
  packages/api/cms-api/src/file-uploads/file-uploads.service.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove FileUploadsDeleteExpiredFilesCommand and implement automatic deletion of expired file uploads in FileUploadsService.
  packages/api/cms-api/src/file-uploads/file-uploads-delete-expired-files.command.ts
  packages/api/cms-api/src/file-uploads/file-uploads.module.ts
  packages/api/cms-api/src/file-uploads/file-uploads.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add flush for deleting files
  packages/api/cms-api/src/file-uploads/file-upload-expiration.subscriber.ts
  packages/api/cms-api/src/file-uploads/file-uploads.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move flush outside of loop
  packages/api/cms-api/src/file-uploads/file-uploads.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changeset
  .changeset/plain-days-laugh.md
Due: prettylint

Correctly prevent passing the prop to the DOM
  packages/admin/cms-admin/src/blocks/table/EditCell.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use activeItem instead of swiper.isBeginning and swiper.isEnd
  demo/site/src/common/blocks/MediaGalleryBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make Demo Admin usable without OAuth2-Proxy (#4769)
  demo/admin/src/config.tsx
  demo/admin/src/environment.ts
  demo/admin/vite.config.mts
  demo/api/src/auth/auth.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix recently-pasted-highlighting of empty cells (#4838)
  packages/admin/cms-admin/src/blocks/table/CellValue.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor `ColumnHeader` logic (#4837)
  packages/admin/cms-admin/src/blocks/table/ColumnHeader.tsx
  packages/admin/cms-admin/src/blocks/table/utils.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Correctly prevent passing the prop to the DOM (#4839)
  packages/admin/cms-admin/src/blocks/table/EditCell.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove package.json from exports
  packages/admin/admin-icons/package.json
Due: prettylint

Add support for temporary file uploads (#4637)
  .changeset/plain-days-laugh.md
  demo/api/schema.gql
  demo/api/src/products/generated/dto/product.sort.ts
  packages/admin/cms-admin/src/form/file/FinalFormFileUpload.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/file-uploads/dto/file-upload.body.ts
  packages/api/cms-api/src/file-uploads/entities/file-upload.entity.ts
  packages/api/cms-api/src/file-uploads/file-upload-expiration.subscriber.ts
  packages/api/cms-api/src/file-uploads/file-uploads-upload.controller.ts
  packages/api/cms-api/src/file-uploads/file-uploads.config.ts
  packages/api/cms-api/src/file-uploads/file-uploads.module.ts
  packages/api/cms-api/src/file-uploads/file-uploads.service.spec.ts
  packages/api/cms-api/src/file-uploads/file-uploads.service.ts
  packages/api/cms-api/src/mikro-orm/migrations/Migration20251013081751.ts
  packages/api/cms-api/src/mikro-orm/mikro-orm.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Admin: fix workspace packages in Vite config (#4836)
  demo/admin/vite.config.mts
Due: none

fix hover styling of disabled element
  demo/site/src/common/blocks/MediaGalleryBlock.module.scss
Due: prettylint

Revert changes to TSConfig
  packages/admin/admin-icons/package.json
  packages/admin/admin-icons/tsconfig.json
  pnpm-lock.yaml
Due: prettylint

WIP
  demo/admin/vite.config.mts
  dev-pm.config.ts
  packages/admin/admin/.gitignore
  packages/admin/admin/package.json
  packages/admin/admin/src/common/buttons/cancel/CancelButton.tsx
  packages/admin/admin/src/helpers/createComponentSlot.tsx
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/snackbar/UndoSnackbar.tsx
  packages/admin/admin/src/theme/colors.ts
  packages/admin/admin/src/theme/componentsTheme/MuiDialog.ts
  packages/admin/admin/src/theme/componentsTheme/MuiDrawer.ts
  packages/admin/admin/src/theme/componentsTheme/MuiRadio.tsx
  packages/admin/admin/src/theme/shadows.ts
  packages/admin/admin/src/theme/typographyOptions.ts
  packages/admin/admin/src/theme/utils/mergeOverrideStyles.ts
  packages/admin/admin/tsconfig.json
  packages/admin/admin/tsdown.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Form Validation PoC
  demo/admin/src/news/generated/NewsForm.tsx
  demo/admin/src/products/generator/ProductForm.cometGen.tsx
  demo/admin/src/products/generator/generated/CreateCapProductForm.tsx
  demo/admin/src/products/generator/generated/IdFieldInForm.tsx
  demo/admin/src/products/generator/generated/ManufacturerForm.tsx
  demo/admin/src/products/generator/generated/ProductCategoryForm.tsx
  demo/admin/src/products/generator/generated/ProductForm.tsx
  demo/admin/src/products/generator/generated/ProductHighlightForm.tsx
  demo/admin/src/products/generator/generated/ProductPriceForm.tsx
  demo/admin/src/products/generator/generated/ProductTagForm.tsx
  demo/admin/src/products/generator/generated/ProductVariantForm.tsx
  demo/admin/src/products/generator/validateProductSlug.tsx
  demo/api/schema.gql
  demo/api/src/products/custom-product.resolver.ts
  packages/admin/admin-generator/src/commands/generate/config/transformConfig.ts
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateForm.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormValues.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

re-run admin-generator
  demo/admin/src/products/generator/generated/ManufacturersGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator: Add initialValue to form config for static initial values (for add mode)
  .changeset/little-pears-bow.md
  demo/admin/src/products/generator/ProductForm.cometGen.tsx
  demo/admin/src/products/generator/generated/ProductForm.tsx
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/staticInitialValue.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/staticInitialValue.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

apparently we have tests, fix them
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/__snapshots__/build-options.spec.ts.snap
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/build-options.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-embeddable.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unnecessary loop in warning-checker.command
  packages/api/cms-api/src/warnings/warning-checker.command.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/stale-mails-serve.md
Due: prettylint

Alert: add links to Storybook and MUI Documentation to TSDoc
  packages/admin/admin/src/alert/Alert.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Ensure IDs are always unique and correctly assigned when inserting a new column
  packages/admin/cms-admin/src/blocks/table/__mocks__/TableBlockData.mocks.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/insertColumnDataAtIndex.spec.ts
  packages/admin/cms-admin/src/blocks/table/utils.ts
  packages/admin/cms-admin/tsconfig.build.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use inert to fix focus issues
  demo/site/src/common/blocks/MediaGalleryBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

move docker file into demo and demo-saas
  demo-saas/docker-compose.yml
  demo/docker-compose.yml
Due: none

Alert: add links to Storybook and MUI Documentation to TSDoc (#4848)
  packages/admin/admin/src/alert/Alert.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
