Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Use node for downloading oauth2-proxy binary
  .gitignore
  install-oauth2-proxy.sh
  install.sh
  oauth2-proxy-get-latest-release.ts
  package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: fix .env symlinks (#4651)
  copy-project-files.js
Due: prettylint

Update DB Default docs by setting default in property to null when setting a default in typescript
  docs/docs/9-coding-guidelines/08-api-nestjs.md
Due: prettylint

Add missing orm definition
  packages/api/cms-api/src/file-uploads/file-uploads-delete-expired-files.command.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Knip: fix Demo API entry points
  demo/api/src/db/fixtures/fixtures.command.ts
  demo/api/src/db/fixtures/generators/blocks/blocks.generator.ts
  demo/api/src/db/fixtures/generators/blocks/richtext.generator.ts
  demo/api/src/db/fixtures/generators/blocks/space.generator.ts
  demo/api/src/db/fixtures/generators/blocks/text-image.generator.ts
  demo/api/src/db/fixtures/generators/folder.fixture.ts
  demo/api/src/db/fixtures/generators/links.generator.ts
  knip.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add translation to demo-api
  .github/workflows/i18n.yml
  .github/workflows/lint.yml
  demo/api/.gitignore
  demo/api/.prettierignore
  demo/api/intl-update.sh
  demo/api/package.json
  demo/api/src/common/lang.ts
  demo/api/src/products/custom-product.resolver.ts
  demo/api/src/products/generated/product.resolver.ts
  demo/api/src/products/product-published.mail.ts
  install.sh
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove spread to avoid recreation of object
  demo/api/src/common/lang.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unused export
  demo/api/src/common/lang.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adjust package.json commands
  demo/api/package.json
Due: prettylint

Use npm_execpath instead of npm
  demo/api/package.json
Due: prettylint

Move intl-stuff into own service
  demo/api/src/common/lang.ts
  demo/api/src/config/config.module.ts
  demo/api/src/config/translation.service.ts
  demo/api/src/products/product-published.mail.ts
  demo/api/src/products/products.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move translation-service into own module
  demo/api/src/app.module.ts
  demo/api/src/config/config.module.ts
  demo/api/src/products/product-published.mail.ts
  demo/api/src/products/products.module.ts
  demo/api/src/translation/lang.ts
  demo/api/src/translation/translation.module.ts
  demo/api/src/translation/translation.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rerun api-generator
  demo/api/src/products/generated/product.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Knip: fix Demo API entry points (#4653)
  demo/api/src/db/fixtures/fixtures.command.ts
  demo/api/src/db/fixtures/generators/blocks/blocks.generator.ts
  demo/api/src/db/fixtures/generators/blocks/richtext.generator.ts
  demo/api/src/db/fixtures/generators/blocks/space.generator.ts
  demo/api/src/db/fixtures/generators/blocks/text-image.generator.ts
  demo/api/src/db/fixtures/generators/folder.fixture.ts
  demo/api/src/db/fixtures/generators/links.generator.ts
  knip.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix mistakes in mailer- und mail-template-docs
  docs/docs/3-features-modules/11-mailer-module/index.md
  docs/docs/3-features-modules/12-mail-templates-module/index.md
Due: prettylint

Rename
  oauth2-proxy-download.ts
  package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Redirect to main domain if host matches with pattern or additional domains
  demo/site/src/middleware/redirectToMainHost.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use localhost for oauth2-proxy
  .env
Due: none

update test snapshots
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/scope.ts.snap
Due: none

Demonstrate highlighting of rows and/or columns in styling
  demo/site/src/common/blocks/TableBlock.module.scss
  demo/site/src/common/blocks/TableBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

setup storybook
  .gitignore
  dev-pm.config.ts
  package.json
  packages/admin/admin/.prettierignore
  packages/admin/admin/.storybook/decorators/IntlProvider.decorator.tsx
  packages/admin/admin/.storybook/decorators/Layout.decorator.styles.ts
  packages/admin/admin/.storybook/decorators/Layout.decorator.tsx
  packages/admin/admin/.storybook/decorators/ThemeProvider.decorator.tsx
  packages/admin/admin/.storybook/main.ts
  packages/admin/admin/.storybook/manager-head.html
  packages/admin/admin/.storybook/manager.ts
  packages/admin/admin/.storybook/preview-head.html
  packages/admin/admin/.storybook/preview.ts
  packages/admin/admin/.storybook/public/comet-logo-header.svg
  packages/admin/admin/.storybook/public/favicon.ico
  packages/admin/admin/.storybook/theme.tsx
  packages/admin/admin/eslint.config.mjs
  packages/admin/admin/package.json
  packages/admin/admin/src/common/buttons/delete/documentation/DeleteButton.stories.tsx
  packages/admin/admin/src/vendor.d.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

adjust dev-pm config - groups and admin storybook naming
  dev-pm.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

exclude stories from build
  packages/admin/admin/.babelrc.json
  packages/admin/admin/tsconfig.build.json
Due: prettylint

refactor documentation -> __stories__ directory
  packages/admin/admin/.babelrc.json
  packages/admin/admin/.storybook/main.ts
  packages/admin/admin/src/common/buttons/delete/__stories__/DeleteButton.stories.tsx
  packages/admin/admin/tsconfig.build.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add msw to ignored knip dependencies, storybook need this, otherwise it crashes on startup
  knip.json
Due: prettylint

refactor remove .stories.js from babelrc
  packages/admin/admin/.babelrc.json
Due: prettylint

Admin Generator: move redirect to edit page from form to page (#4376)
  .changeset/bright-women-worry.md
  demo/admin/src/news/generated/NewsForm.tsx
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/ProductsPage.tsx
  demo/admin/src/products/generator/ProductForm.cometGen.tsx
  demo/admin/src/products/generator/ProductVariantForm.cometGen.ts
  demo/admin/src/products/generator/ProductsPage.tsx
  demo/admin/src/products/generator/generated/CreateCapProductForm.tsx
  demo/admin/src/products/generator/generated/IdFieldInForm.tsx
  demo/admin/src/products/generator/generated/ProductCategoryForm.tsx
  demo/admin/src/products/generator/generated/ProductForm.tsx
  demo/admin/src/products/generator/generated/ProductHighlightForm.tsx
  demo/admin/src/products/generator/generated/ProductPriceForm.tsx
  demo/admin/src/products/generator/generated/ProductTagForm.tsx
  demo/admin/src/products/generator/generated/ProductVariantForm.tsx
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelect.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelectFilter.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/scope.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/generateForm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

revert from vite to webpack and setup chromatic
  .github/workflows/chromatic.yml
  packages/admin/admin/.storybook/decorators/IntlProvider.decorator.tsx
  packages/admin/admin/.storybook/decorators/Layout.decorator.tsx
  packages/admin/admin/.storybook/decorators/ThemeProvider.decorator.tsx
  packages/admin/admin/.storybook/main.ts
  packages/admin/admin/.storybook/preview.ts
  packages/admin/admin/eslint.config.mjs
  packages/admin/admin/package.json
  packages/admin/admin/src/common/buttons/delete/__stories__/DeleteButton.stories.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add storybook composition
  storybook/.storybook/main.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix mistakes in Mailer and Mail Templates Module docs (#4654)
  docs/docs/3-features-modules/11-mailer-module/index.md
  docs/docs/3-features-modules/12-mail-templates-module/index.md
Due: prettylint

change github actions to v5
  .github/workflows/chromatic.yml
Due: none

use new pnpm setup:ci instead of copy-schema-files
  .github/workflows/chromatic.yml
Due: none

update action name
  .github/workflows/chromatic.yml
Due: none

export HelpDialogActionProps and HelpDialogActionClassKey
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix componentName
  packages/admin/admin/src/common/toolbar/actions/helpDialogAction/HelpDialogAction.sc.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add topBarActions to Toolbar and introduce new HelpDialogAction Component which displays a help button and opens a Help Dialog on click
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/admin/src/common/toolbar/actions/helpDialogAction/HelpDialogAction.sc.ts
  packages/admin/admin/src/common/toolbar/actions/helpDialogAction/HelpDialogAction.tsx
  packages/admin/admin/src/index.ts
  storybook/src/admin/toolbar/Toolbar.stories.tsx
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add changeset
  .changeset/tall-baths-dance.md
Due: prettylint

refactor: rename HelpDialogAction to HelpDialogButton
  .changeset/tall-baths-dance.md
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.sc.ts
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.tsx
  packages/admin/admin/src/common/toolbar/actions/helpDialogAction/HelpDialogAction.sc.ts
  packages/admin/admin/src/index.ts
  storybook/src/admin/toolbar/Toolbar.stories.tsx
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor formatted message id
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
