Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

global variable memory leak
  demo/site/package.json
  demo/site/src/common/blocks/RichTextBlock.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use dividerProps as before
  packages/admin/admin/src/dataGrid/CrudMoreActionsMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Log exception stack for debugging in `ExceptionFilter` (#3146)
  packages/api/cms-api/src/common/errors/exception.filter.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add styling of MuiListItemIcon
  packages/admin/admin-theme/src/componentsTheme/MuiListItemIcon.tsx
  packages/admin/admin-theme/src/componentsTheme/getComponentsTheme.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: Use `@IsUndefinable()` in `BlockInput`
  docs/docs/2-core-concepts/2-blocks/1-your-first-block.mdx
Due: none

Fix `useGridApiRef` usages The API ref of the community version is now nullable.
  packages/admin/admin/src/dataGrid/usePersistentColumnState.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove trigger prop from `Tooltip` (#3103)
  .changeset/sweet-ways-relax.md
  demo/admin/src/products/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
  packages/admin/admin/src/common/Tooltip.tsx
  packages/admin/cms-admin/src/dependencies/DependencyList.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  storybook/src/admin/Tooltip.stories.tsx
  storybook/src/docs/components/Stack/Stack.stories.tsx
  storybook/src/docs/components/Tooltip/Tooltip.mdx
  storybook/src/docs/components/Tooltip/Tooltip.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add failing story
  packages/admin/admin/src/EditDialog.stackTabsAndGrid.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update TODO comment
  demo/admin/src/formBuilder/FormBuilderAddForm.cometGen_disabled.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update import
  docs/docs/2-core-concepts/2-blocks/1-your-first-block.mdx
Due: none

Fix import
  docs/docs/2-core-concepts/2-blocks/1-your-first-block.mdx
Due: none

Use `@IsUndefinable()` to prevent invalid `null`
  demo/api/src/form-builder/blocks/base-field.block.ts
  demo/api/src/form-builder/blocks/text-area.block.ts
  demo/api/src/form-builder/blocks/text-input.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unnecessary empty string
  demo/api/src/form-builder/entities/form-builder.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

style spacings in dataGrid according to design
  packages/admin/admin-theme/src/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix import
  demo/api/src/form-builder/blocks/text-area.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Allow non-full-width fields in `FieldSet` (#3097)
  .changeset/sharp-dryers-happen.md
  packages/admin/admin/src/common/FieldSet.tsx
  storybook/src/admin/form/FieldContainer.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix test to check for fixed bug in editdialog
  packages/admin/admin/src/EditDialog.stackTabsAndGrid.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/popular-seals-promise.md
Due: prettylint

Fix type errors
  packages/admin/admin/src/common/Tooltip.tsx
  packages/admin/admin/src/common/buttons/feedback/FeedbackButton.tsx
  packages/admin/admin/src/common/toolbar/actions/ToolbarActionButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use correct button variants
  storybook/src/admin/toolbar/Toolbar.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use normal Button instead of FeedbackButton The loading behavior is now built-in: https://github.com/mui/material-ui/pull/44637.
  packages/admin/admin/package.json
  packages/admin/admin/src/common/buttons/feedback/FeedbackButton.tsx
  pnpm-lock.yaml
  renovate.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

set youtube url as origin
  packages/site/cms-site/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set `density` with args in story
  storybook/src/admin/mui/DataGrid.stories.tsx
  storybook/src/admin/mui/DataGrid/Density.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Consistent case for
  storybook/src/admin/mui/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add test to check for navigating back from stack page
  packages/admin/admin/src/EditDialog.stackTabsAndGrid.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Limit `Button` styles to those defined in the Comet design guidelines (#3065)
  .changeset/olive-fans-invite.md
  packages/admin/admin/src/common/buttons/Button.tsx
  storybook/src/admin/Button.stories.tsx
  storybook/src/admin/toolbar/Toolbar.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove duplicate setting of startAdornment due to merging versight
  packages/admin/cms-admin/src/generator/future/generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Hide DAM "Dependents" tab based on permission (#3127)
  .changeset/eighty-cheetahs-burn.md
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Hide DAM Dependents tab based on permission
  .changeset/eighty-cheetahs-burn.md
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Pass `x-preview-dam-urls` and `x-relative-dam-urls` headers to `url` field resolver in `FileImagesResolver` (#3128)
  .changeset/heavy-drinks-leave.md
  packages/api/cms-api/src/dam/files/file-image.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Pass `x-preview-dam-urls` header to `url` field resolver in `FileImagesResolver`
  .changeset/heavy-drinks-leave.md
  packages/api/cms-api/src/dam/files/file-image.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

separate tests into two files
  packages/admin/admin/src/EditDialog.routerTabs.test.tsx
  packages/admin/admin/src/EditDialog.stackRouterTabs.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove onclick from datagrid row
  packages/admin/admin/src/EditDialog.routerTabs.test.tsx
  packages/admin/admin/src/EditDialog.stackRouterTabs.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add missing dependency ts-dedent
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint

chore: update renovate to widen node
  renovate.json
Due: prettylint

Docs: Use `@IsUndefinable()` in `BlockInput` (#3169)
  docs/docs/2-core-concepts/2-blocks/1-your-first-block.mdx
Due: none

chore: group eslint and prettier seperat
  renovate.json
Due: prettylint

chore: group apollo client and apollo server independent
  renovate.json
Due: prettylint

Renovate: group Apollo Client and Apollo Server independently (#3182)
  renovate.json
Due: prettylint

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
