Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add configuration-options to AccessLogModule
  .changeset/quiet-tables-notice.md
  docs/docs/auth/access-logging.md
  packages/api/cms-api/src/access-log/access-log.constants.ts
  packages/api/cms-api/src/access-log/access-log.interceptor.ts
  packages/api/cms-api/src/access-log/access-log.module.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove(FieldContainer): requiredSymbol prop to only use the native required implementation for input fields
  packages/admin/admin/src/form/FieldContainer.tsx
  packages/admin/admin/src/form/fields/TextField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix merge error: use new graphql fetch
  demo/site/src/app/sitemap.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix merge error: use new graphql fetch (#1918)
  demo/site/src/app/sitemap.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adapt to graphlFetch
  demo/site/src/app/block-preview/page/page.tsx
  demo/site/src/documentTypes/Page.tsx
  demo/site/src/news/blocks/NewsDetailBlock.tsx
  demo/site/src/pageTypes/Page.tsx
  demo/site/src/recursivelyLoadBlockData.ts
  demo/site/src/util/graphQLClient.ts
  packages/site/cms-site/src/blockRegistry/blockRegistry.ts
  packages/site/cms-site/src/graphQLFetch/fetchInMemoryCache.ts
  packages/site/cms-site/src/graphQLFetch/graphQLFetch.ts
  packages/site/cms-site/src/iframebridge/useBlockPreviewFetch.tsx
  packages/site/cms-site/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove remaining references to graphql-request
  .changeset/cuddly-roses-lick.md
  demo/site/src/pages/[[...path]].tsx
  demo/site/src/pages/api/site-preview.ts
  packages/site/cms-site/package.json
  packages/site/cms-site/src/graphql/graphqlClient.ts
  packages/site/cms-site/src/sitePreview/SitePreviewApiHelper.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Undo changes related to SitePreview
  packages/site/cms-site/src/index.ts
  packages/site/cms-site/src/sitePreview/SitePreviewApiHelper.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

update pnpm-lock
  pnpm-lock.yaml
Due: none

Fix merge error
  packages/admin/cms-admin/src/preview/block/BlockPreview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Undo changes not needed anymore
  packages/admin/cms-admin/src/preview/block/BlockPreview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rework theme for MuiChip
  .changeset/cool-kiwis-shop.md
  packages/admin/admin-theme/src/componentsTheme/MuiChip.ts
  packages/admin/admin-theme/src/componentsTheme/MuiChip.tsx
  storybook/src/admin/mui/Chip.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace blockRegistry and registerBlock with a central list of loaders
  demo/site/src/news/blocks/NewsDetailBlock.loader.ts
  demo/site/src/news/blocks/NewsDetailBlock.tsx
  demo/site/src/recursivelyLoadBlockData.ts
  packages/site/cms-site/src/blockLoader/blockLoader.ts
  packages/site/cms-site/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `list` and `listItem` variants to MUIs Typography
  .changeset/tender-pigs-rest.md
  packages/admin/admin-theme/src/componentsTheme/MuiTypography.ts
  packages/admin/admin-theme/src/createCometTheme.ts
  packages/admin/admin-theme/src/typographyOptions.ts
  packages/admin/admin/src/error/errordialog/ErrorDialog.tsx
  packages/admin/cms-admin/src/pages/SaveConflictDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move type overrides to typographyOptions.ts and configue admin and cms-admin to use the types form admin-theme
  packages/admin/admin-theme/src/createCometTheme.ts
  packages/admin/admin-theme/src/typographyOptions.ts
  packages/admin/admin/package.json
  packages/admin/admin/tsconfig.json
  packages/admin/cms-admin/tsconfig.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/tender-pigs-rest.md
Due: prettylint

Add docs to storybook
  storybook/src/docs/components/Typography/Typography.stories.mdx
  storybook/src/docs/components/Typography/Typography.stories.tsx
  storybook/tsconfig.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Import admin theme types in vendors.d.ts (instead of tsconfig)
  demo/admin/src/vendors.d.ts
  packages/admin/admin/src/vendors.d.ts
  packages/admin/admin/tsconfig.json
  packages/admin/cms-admin/src/vendors.d.ts
  packages/admin/cms-admin/tsconfig.json
  storybook/src/vendor.d.ts
  storybook/tsconfig.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update docs
  storybook/src/docs/components/Typography/Typography.stories.mdx
Due: none

Change order of variant mapping
  packages/admin/admin-theme/src/componentsTheme/MuiTypography.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove storybook docs
  storybook/src/docs/components/Typography/Typography.stories.mdx
  storybook/src/docs/components/Typography/Typography.stories.tsx
  storybook/src/vendor.d.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add docs to docusaurus
  docs/docs/admin-components/FieldSet.mdx
  docs/docs/admin-components/Typography.mdx
  docs/docs/admin-components/index.md
  docs/docs/dependencies/index.md
  docs/src/stories/Typography.tsx
  docs/src/theme/ReactLiveScope/index.js
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/tender-pigs-rest.md
Due: prettylint

Adjust changeset
  .changeset/tender-pigs-rest.md
Due: prettylint

Make @comet/admin-theme a peer dependency of @comet/cms-admin
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint

Add changeset for breaking peer dependency change
  .changeset/brave-carpets-talk.md
  .changeset/cold-humans-pull.md
Due: prettylint

Rename muiToolbar to bottomBar
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Pass slotProps to TopBar
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make ToolbarBreadcrumbs a slot
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Unstructure slotProps from useThemeProps
  packages/admin/admin/src/common/toolbar/actions/ToolbarActionButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add variant class to normal button
  packages/admin/admin/src/common/toolbar/actions/ToolbarActionButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add ToolbarActionButtonProps to types
  packages/admin/admin/src/common/toolbar/actions/ToolbarActionButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changesets
  .changeset/beige-chefs-confess.md
  .changeset/chilled-walls-shop.md
Due: prettylint

Add rules @typescript-eslint/naming-convention and @typescript-eslint/prefer-enum-initializers
  packages/eslint-config/core.js
  packages/eslint-config/nestjs.js
Due: prettylint

Disable rule for existing non-compliant enums
  demo/api/src/news/generated/dto/news.sort.ts
  demo/api/src/products/generated/dto/product-category.sort.ts
  demo/api/src/products/generated/dto/product-tag.sort.ts
  demo/api/src/products/generated/dto/product.sort.ts
  packages/admin/admin/src/router/ConfirmationDialog.tsx
  packages/admin/cms-admin/src/preview/common/Device.ts
  packages/api/blocks-api/src/blocks/youtube-video.block.ts
  packages/api/cms-api/src/blocks/createSeoBlock.ts
  packages/api/cms-api/src/dam/files/entities/license.embeddable.ts
  packages/api/cms-api/src/generator/generate-crud.ts
  packages/api/cms-api/src/kubernetes/job-status.enum.ts
  packages/api/cms-api/src/page-tree/dto/page-tree-node.sort.ts
  packages/api/cms-api/src/redirects/dto/redirect.sort.ts
  packages/api/cms-api/src/redirects/redirects.enum.ts
  packages/api/cms-api/src/user-permissions/dto/paginated-user-list.ts
  packages/api/cms-api/src/user-permissions/entities/user-permission.entity.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove instructions for disabling rule in whole project from changeset
  .changeset/beige-chefs-confess.md
Due: prettylint

Regenerate API code
  demo/api/src/products/generated/dto/manufacturer.sort.ts
  demo/api/src/products/generated/dto/product-variant.sort.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix conflicts
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  demo/api/schema.gql
  demo/api/src/auth/static-users.ts
  demo/api/src/news/entities/news.entity.ts
  demo/api/src/products/entities/product-variant.entity.ts
  demo/api/src/products/entities/product.entity.ts
  packages/api/cms-api/package.json
  packages/api/cms-api/src/user-permissions/interfaces/user.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Disable eslint and check
  packages/site/cms-site/src/blockLoader/blockLoader.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

update changelog
  .changeset/selfish-dolls-beg.md
  packages/site/cms-site/src/iframebridge/useBlockPreviewFetch.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Deprecate InternalLinkBlock component, instead there should be a copy of this component in the application for flexibility (eg. multi langauge support)
  .changeset/fast-pens-laugh.md
  demo/site/src/blocks/InternalLinkBlock.tsx
  demo/site/src/blocks/LinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
