Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Add tests for useFocusAwarePolling
  packages/admin/admin/src/apollo/__tests__/useFocusAwarePolling.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Migrate misc utility component stories to @comet/admin package Storybook
  packages/admin/admin/src/appHeader/__stories__/ThemableAppHeader.stories.tsx
  packages/admin/admin/src/clipboard/__stories__/Clipboard.stories.tsx
  packages/admin/admin/src/common/__stories__/FieldSet.stories.tsx
  packages/admin/admin/src/common/buttons/feedback/__stories__/FeedbackButton.stories.tsx
  packages/admin/admin/src/common/toolbar/__stories__/DataGridToolbar.stories.tsx
  packages/admin/admin/src/common/toolbar/__stories__/Toolbar.stories.tsx
  packages/admin/admin/src/fetchProvider/__stories__/FetchProvider.stories.tsx
  packages/admin/admin/src/form/__stories__/FormSection.stories.tsx
  packages/admin/admin/src/fullPageAlert/__stories__/FullPageAlert.stories.tsx
  packages/admin/admin/src/helpers/__stories__/PrettyBytes.stories.tsx
  packages/admin/admin/src/inlineAlert/__stories__/InlineAlert.stories.tsx
  packages/admin/admin/src/saveBoundary/__stories__/SaveBoundary.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

storybook: Remove migrated stories from global storybook
  storybook/src/admin/FeedbackButton.stories.tsx
  storybook/src/admin/FieldSet.stories.tsx
  storybook/src/admin/FormSection.stories.tsx
  storybook/src/admin/clipboard/clipboard.stories.tsx
  storybook/src/admin/fetch-provider/FetchProvider.stories.tsx
  storybook/src/admin/fullPageAlert/ErrorPage.stories.tsx
  storybook/src/admin/helpers/PrettyBytes.stories.tsx
  storybook/src/admin/inlineAlert/InlineAlert.stories.tsx
  storybook/src/admin/save-boundary/SaveBoundary.stories.tsx
  storybook/src/admin/theming/ThemableAppHeader.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix test report
  .github/workflows/test-report.yml
Due: none

Fix test report (#5793)
  .github/workflows/test-report.yml
Due: none

Migrate misc utility component stories to @comet/admin package Storybook (#5810)
  packages/admin/admin/src/appHeader/__stories__/ThemableAppHeader.stories.tsx
  packages/admin/admin/src/clipboard/__stories__/Clipboard.stories.tsx
  packages/admin/admin/src/common/__stories__/FieldSet.stories.tsx
  packages/admin/admin/src/common/buttons/feedback/__stories__/FeedbackButton.stories.tsx
  packages/admin/admin/src/common/toolbar/__stories__/DataGridToolbar.stories.tsx
  packages/admin/admin/src/common/toolbar/__stories__/Toolbar.stories.tsx
  packages/admin/admin/src/fetchProvider/__stories__/FetchProvider.stories.tsx
  packages/admin/admin/src/form/__stories__/FormSection.stories.tsx
  packages/admin/admin/src/fullPageAlert/__stories__/FullPageAlert.stories.tsx
  packages/admin/admin/src/helpers/__stories__/PrettyBytes.stories.tsx
  packages/admin/admin/src/inlineAlert/__stories__/InlineAlert.stories.tsx
  packages/admin/admin/src/saveBoundary/__stories__/SaveBoundary.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Distinguish system users in action log
  packages/admin/cms-admin/src/actionLog/actionLogGrid/__stories__/ActionLogGrid.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/userCell/__stories__/UserCell.stories.tsx
  packages/admin/cms-admin/src/actionLog/components/__stories__/DiffHeader.stories.tsx
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add isSystemUser and findUser to UserPermissionsService
  packages/api/cms-api/src/user-permissions/user-permissions.service.spec.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Migrate MUI layout & navigation stories to @comet/admin package Storybook (#5803)
  packages/admin/admin/src/appHeader/__stories__/AppHeader.stories.tsx
  packages/admin/admin/src/mui/__stories__/Card.stories.tsx
  packages/admin/admin/src/mui/__stories__/Chip.stories.tsx
  packages/admin/admin/src/mui/__stories__/ChipMenu.stories.tsx
  packages/admin/admin/src/mui/__stories__/Dialog.stories.tsx
  packages/admin/admin/src/mui/__stories__/Link.stories.tsx
  packages/admin/admin/src/mui/__stories__/ListAndMenu.stories.tsx
  packages/admin/admin/src/mui/mainNavigation/__stories__/Menu.stories.tsx
  packages/admin/admin/src/mui/mainNavigation/__stories__/MenuDynamicVariants.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changeset to reflect @RequiredPermission usage
  .changeset/add-required-permission-to-entity-info.md
Due: prettylint

Add skipScopeCheck to entity @RequiredPermission to match resolvers
  demo/api/src/products/entities/manufacturer.entity.ts
  demo/api/src/products/entities/product.entity.ts
  packages/api/cms-api/src/dam/files/entities/file.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Extend v9 migration guide (#5436)
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
Due: prettylint

Add tests for useBufferedRowCount (#5804)
  packages/admin/admin/src/dataGrid/__tests__/useBufferedRowCount.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add tests for useAsyncOptionsProps (#5802)
  packages/admin/admin/src/hooks/__tests__/useAsyncOptionsProps.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add tests for parallelAsyncEvery (#5796)
  packages/admin/cms-admin/src/blocks/utils/__tests__/parallelAsyncEvery.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add tests for withAdditionalBlockAttributes (#5794)
  packages/admin/cms-admin/src/blocks/helpers/withAdditionalBlockAttributes.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Use relative imports in migrated stories
  packages/admin/admin/src/alert/__stories__/AlertInSnackbar.stories.tsx
  packages/admin/admin/src/error/errorHandler/__stories__/ErrorHandlerProvider.stories.tsx
  packages/admin/admin/src/error/errorboundary/__stories__/ErrorBoundary.stories.tsx
  packages/admin/admin/src/error/errorboundary/__stories__/RouteWithErrorBoundary.stories.tsx
  packages/admin/admin/src/snackbar/__stories__/CustomSnackbar.stories.tsx
  packages/admin/admin/src/snackbar/__stories__/UndoSnackbar.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Restore JSDoc comments in InlineAlert stories
  packages/admin/admin/src/inlineAlert/__stories__/InlineAlert.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Migrate alert, error-handling and snackbar stories to @comet/admin package Storybook
  packages/admin/admin/src/alert/__stories__/AlertInSnackbar.stories.tsx
  packages/admin/admin/src/error/errorHandler/__stories__/ErrorHandlerProvider.stories.tsx
  packages/admin/admin/src/error/errorboundary/__stories__/ErrorBoundary.stories.tsx
  packages/admin/admin/src/error/errorboundary/__stories__/RouteWithErrorBoundary.stories.tsx
  packages/admin/admin/src/inlineAlert/__stories__/InlineAlert.stories.tsx
  packages/admin/admin/src/snackbar/__stories__/CustomSnackbar.stories.tsx
  packages/admin/admin/src/snackbar/__stories__/UndoSnackbar.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add a major-migration skill
  skills/major-migration/SKILL.md
  skills/major-migration/references/migration-smoke-test.md
Due: prettylint

admin: Add MSW handler for /launches in Storybook mocks
  packages/admin/admin/.storybook/mocks/handlers.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `/launches` REST API mock to `@comet/admin` Storybook (#5813)
  packages/admin/admin/.storybook/mocks/handlers.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add findUser and findUserOrThrow to user permissions user service
  .changeset/add-find-user-methods-to-user-permissions-user-service-interface.md
  packages/api/cms-api/src/auth/guards/comet.guard.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use nvm use || nvm install to skip download when version is already cached
  .claude/scripts/session-start.sh
Due: none

cms-api: Deduplicate fallback logic in findUser/findUserOrThrow
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Apply find/findOrThrow pattern to getUserForLogin as well
  .changeset/add-find-user-methods-to-user-permissions-user-service-interface.md
  packages/api/cms-api/src/auth/guards/comet.guard.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add deprecated getUserForLogin to UserPermissionsService
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Keep guard's branching; enhance with findUserForLoginOrThrow
  packages/api/cms-api/src/auth/guards/comet.guard.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

page-tree: Remove @RequiredPermission from PageTreeNodeBase
  packages/api/cms-api/src/page-tree/entities/page-tree-node-base.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Drop deprecated getUserForLogin fallback in findUserForLoginOrThrow
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Make each user resolution method a strict 1:1 wrapper
  packages/api/cms-api/src/auth/guards/comet.guard.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Make deprecated getUser/getUserForLogin forward to new methods
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Make findUser/findUserForLogin always return null on failure
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo-api: Migrate UserService to findUser/findUserOrThrow
  demo/api/src/auth/user.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Optimize nvm setup to use existing version if available (#5815)
  .claude/scripts/session-start.sh
Due: none

Document prop defaults in TSDoc and reframe the usage documentation
  packages/mail-react/AGENTS.md
  packages/mail-react/README.md
Due: prettylint

mail-react: Document theme-derived and runtime prop defaults in TSDoc
  packages/mail-react/src/components/divider/dividerProps.ts
  packages/mail-react/src/components/inlineLink/HtmlInlineLink.tsx
  packages/mail-react/src/components/mailRoot/MjmlMailRoot.tsx
  packages/mail-react/src/components/section/MjmlSection.tsx
  packages/mail-react/src/components/text/HtmlText.tsx
  packages/mail-react/src/components/text/MjmlText.tsx
  packages/mail-react/src/components/wrapper/MjmlWrapper.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

mail-react: Remove props, types, and defaults from the skill
  skills/comet-mail-react/SKILL.md
  skills/comet-mail-react/references/components-and-theme.md
Due: prettylint

admin: Reuse existing users mock for FetchProvider story
  packages/admin/admin/.storybook/mocks/handlers.ts
  packages/admin/admin/src/fetchProvider/__stories__/FetchProvider.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Move EditDialog and Selection into editDialog/ subfolder
  packages/admin/admin/src/editDialog/EditDialog.routerTabs.test.tsx
  packages/admin/admin/src/editDialog/EditDialog.stackRouterTabs.test.tsx
  packages/admin/admin/src/editDialog/EditDialog.test.tsx
  packages/admin/admin/src/editDialog/EditDialog.tsx
  packages/admin/admin/src/editDialog/EditDialogApiContext.tsx
  packages/admin/admin/src/editDialog/Selected.tsx
  packages/admin/admin/src/editDialog/Selection.tsx
  packages/admin/admin/src/editDialog/SelectionApi.ts
  packages/admin/admin/src/editDialog/SelectionRoute.tsx
  packages/admin/admin/src/editDialog/__stories__/AddDialogEditPage.stories.tsx
  packages/admin/admin/src/editDialog/__stories__/EditDialog.stories.tsx
  packages/admin/admin/src/editDialog/__stories__/EditDialogInDataGrid.stories.tsx
  packages/admin/admin/src/editDialog/__stories__/EditDialogInRouterTabs.stories.tsx
  packages/admin/admin/src/editDialog/__stories__/EditDialogInRouterTabsWithinStack.stories.tsx
  packages/admin/admin/src/editDialog/__stories__/EditDialogWithFormInStack.stories.tsx
  packages/admin/admin/src/editDialog/__stories__/MultipleEditDialogs.stories.tsx
  packages/admin/admin/src/editDialog/__stories__/NestedEditDialogInStack.stories.tsx
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/table/AddButton.tsx
  packages/admin/admin/src/table/Table.tsx
  packages/admin/admin/src/table/useTableQuery.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
