Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

introduce controllerProps and inputProps to make it more error prune
  demo/site/src/common/blocks/ContactFormBlock.tsx
  demo/site/src/common/components/form/CheckboxField.tsx
  demo/site/src/common/components/form/SelectField.tsx
  demo/site/src/common/components/form/TextField.tsx
  demo/site/src/common/components/form/TextareaField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: slight improvements for mail-templates
  docs/docs/3-features-modules/12-mail-templates-module/index.md
Due: prettylint

Fix downloadMitmproxyCommand
  packages/cli/src/commands/download-mitmproxy.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Describe in more detail how to create html mails with react
  docs/docs/3-features-modules/12-mail-templates-module/index.md
Due: prettylint

Fix downloadMitmproxyCommand (#5061)
  packages/cli/src/commands/download-mitmproxy.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make @faire/mjml-react and react dependencies instead of peerDependencies
  packages/mail-react/package.json
  pnpm-lock.yaml
Due: prettylint

Make comet packages dependencies instead of peer dependencies
  packages/admin/brevo-admin/package.json
  packages/api/brevo-api/package.json
Due: prettylint

Run install
  pnpm-lock.yaml
Due: none

Fix linting errors
  packages/admin/brevo-admin/package.json
Due: prettylint

Update test snapshot, only whitespace changes
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/generateGrid.test.ts.snap
Due: none

Admin Generator: convert to ESM (#5019)
  .changeset/many-bikes-bathe.md
  demo/admin/src/products/generator/ProductForm.cometGen.tsx
  demo/admin/tsconfig.json
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
  knip.json
  packages/admin/admin-generator/.gitignore
  packages/admin/admin-generator/bin/admin-generator.js
  packages/admin/admin-generator/bin/admin-generator.mjs
  packages/admin/admin-generator/package.json
  packages/admin/admin-generator/src/commands/generate/config/parseConfig.ts
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
  packages/admin/admin-generator/tsconfig.build.json
  packages/admin/admin-generator/tsconfig.json
  packages/admin/admin-generator/tsdown.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use pick instead of seperating controller and input props
  demo/site/src/common/blocks/ContactFormBlock.tsx
  demo/site/src/common/components/form/CheckboxField.tsx
  demo/site/src/common/components/form/SelectField.tsx
  demo/site/src/common/components/form/TextField.tsx
  demo/site/src/common/components/form/TextareaField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Brevo Packages: Make `@comet` packages dependencies instead of peer dependencies (#5064)
  packages/admin/brevo-admin/package.json
  packages/api/brevo-api/package.json
  pnpm-lock.yaml
Due: prettylint

Add migration guide for brevo module v8
  docs/docs/3-features-modules/9-brevo-module/3-migration-guide/migration-from-brevo-v2-to-v3.md
  docs/docs/3-features-modules/9-brevo-module/3-migration-guide/migration-from-brevo-v3-to-v8.md
Due: prettylint

Fix formatted message id in MasterMenu
  demo/admin/src/common/MasterMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

CrudContextMenu: add deleteType ("delete"|"remove") that changes menu item and dialog from delete to remove for non-destructive data (relations) (#4971)
  .changeset/slow-worlds-wish.md
  demo/admin/src/products/generator/ProductCategoriesGrid.cometGen.ts
  demo/admin/src/products/generator/generated/ProductCategoriesGrid.tsx
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/generateGrid.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
  packages/admin/admin/src/common/DeleteDialog.tsx
  packages/admin/admin/src/dataGrid/CrudContextMenu.tsx
  packages/admin/admin/src/messages.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Re-export all components from `@faire/mjml-react`
  .changeset/cool-webs-rest.md
  packages/mail-react/package.json
  packages/mail-react/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

RenderMail: rename function and take in `ReactElement` directly
  demo/api/src/mail/utils/renderMailHtml.tsx
  demo/api/src/products/published-mail/product-published.mail.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move the `IntlProvider` outside of the mail components
  demo/api/.storybook/decorators/MailRenderer.decorator.tsx
  demo/api/src/mail/components/MailRoot.tsx
  demo/api/src/products/published-mail/Mail.tsx
  demo/api/src/products/published-mail/product-published.mail.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix Storybook imports
  pnpm-lock.yaml
  storybook/.storybook/decorators/CurrentUserProvider.decorator.tsx
  storybook/.storybook/decorators/IntlProvider.decorator.tsx
  storybook/.storybook/decorators/Layout.decorator.tsx
  storybook/package.json
  storybook/src/admin-component-docs/utils/componentDocsDecorator.tsx
  storybook/src/admin/tabs/OverflowIssues.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix Storybook imports (#5063)
  pnpm-lock.yaml
  storybook/.storybook/decorators/CurrentUserProvider.decorator.tsx
  storybook/.storybook/decorators/IntlProvider.decorator.tsx
  storybook/.storybook/decorators/Layout.decorator.tsx
  storybook/package.json
  storybook/src/admin-component-docs/utils/componentDocsDecorator.tsx
  storybook/src/admin/tabs/OverflowIssues.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Resolve conflicts and adapt to React 19 and Next.js 16
  demo/api/package.json
  demo/site/package.json
  demo/site/src/app/[visibility]/[domain]/[language]/render-brevo-email-campaign/route.ts
  demo/site/src/app/block-preview/[domain]/[language]/brevo-email-campaign/page.tsx
  package.json
  packages/admin/admin-generator/package.json
  packages/mail-react/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Convert Admin packages to ESM
  demo/admin/vite.config.mts
  packages/admin/admin-babel-preset/index.js
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-color-picker/src/ColorPicker.slots.ts
  packages/admin/admin-date-time/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-icons/tsconfig.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/brevo-admin/package.json
  packages/admin/brevo-admin/src/blocks/NewsletterImageBlock.tsx
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/index.ts
  packages/admin/tsconfig.base.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix tests by removing cyclic imports
  packages/admin/admin/src/stack/Api.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/fuzzy-paths-press.md
Due: prettylint

Define exports in package.json only
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/brevo-admin/package.json
  packages/admin/cms-admin/package.json
  storybook/tsconfig.json
Due: prettylint

Remove files from prettierignore that are covered by gitignore
  demo/admin/.prettierignore
  demo/api/.prettierignore
  demo/site/.prettierignore
  docs/.prettierignore
  packages/admin/admin-generator/.prettierignore
  packages/admin/cms-admin/.prettierignore
  packages/api/api-generator/.prettierignore
  packages/cli/.prettierignore
  packages/mail-react/.prettierignore
  packages/site/site-nextjs/.prettierignore
  packages/site/site-react/.prettierignore
Due: none

Add the possibility of a MyAccount-link in UserHeaderItem
  .changeset/fluffy-owls-bathe.md
  demo/api/schema.gql
  packages/admin/cms-admin/src/common/header/UserHeaderItem.tsx
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/user-permissions/dto/current-user.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Simplify config for stories and use the mail-decorator in every story by default
  demo/api/.storybook/main.ts
  demo/api/.storybook/preview.tsx
  demo/api/.storybook/tsconfig.json
  demo/api/eslint.config.mjs
  demo/api/package.json
  demo/api/src/products/published-mail/__stories__/ProductPublishedMail.stories.tsx
  demo/api/tsconfig.build.json
  demo/api/tsconfig.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP: Fix Next.js ESLint config preset
  packages/eslint-config/nextjs.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettylint

Store main navigation open state in local storage
  .changeset/deep-suns-juggle.md
  packages/admin/admin/src/mui/MasterLayout.tsx
  packages/admin/cms-admin/src/common/MasterMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Don't open the mobile `MainNavigation` when resizing the window to a smaller width
  .changeset/hot-days-report.md
  packages/admin/admin/src/mui/MasterLayout.tsx
  packages/admin/admin/src/mui/mainNavigation/Context.tsx
  packages/admin/admin/src/mui/mainNavigation/MainNavigation.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove required passing to Checkbox in CheckboxListField since it only should be added to the Field component
  .changeset/blue-birds-blink.md
  packages/admin/admin/src/form/fields/CheckboxListField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adjust styling, display values, add changeset
  .changeset/dark-hotels-walk.md
  packages/admin/admin/src/form/FinalFormDebug.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Support relations in EntityInfo
  demo/api/src/products/entities/product.entity.ts
  packages/api/cms-api/src/entity-info/entity-info.decorator.ts
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make the code slightly more readable
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use SITE_PORT also for PORT-env, used in site/server.ts
  demo/site/package.json
Due: prettylint

Avoid null values for 'name'
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix renaming of DAM folders
  .changeset/red-readers-study.md
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/DamContextMenu.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/FolderForm/AddFolder.tsx
  packages/admin/cms-admin/src/dam/FolderForm/EditFolder.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Automatically hide the `MasterMenu` if only one menu item is available
  .changeset/tiny-rivers-dress.md
  packages/admin/admin/src/appHeader/AppHeader.tsx
  packages/admin/admin/src/appHeader/menuButton/AppHeaderMenuButton.tsx
  packages/admin/admin/src/mui/MasterLayout.tsx
  packages/admin/admin/src/mui/mainNavigation/Context.tsx
  packages/admin/cms-admin/src/common/MasterMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
