Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Demo: remove SITE_URL (and BREVO_REDIRECT_URL_FOR_IMPORT) from env
  .env
  demo/api/src/app.module.ts
  demo/api/src/config/config.ts
  demo/api/src/config/environment-variables.ts
  package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove hard reload
  demo/site/src/common/blocks/ContactFormBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add recaptcha disclaimer
  demo/site/src/common/blocks/ContactFormBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

hide recaptcha badge
  demo/site/src/styles/global.scss
Due: prettylint

Docs: make migration guide AI-friendly (#5283)
  .cspellignore
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
Due: prettylint

Prevent layout-shift and white border on focus (#5311)
  demo/site/src/styles/global.scss
Due: prettylint

Remove backward compatability for `project-skills/`/`package-skills/` convention
  .changeset/cli-skills-directory.md
  packages/cli/src/commands/install-agent-skills.test.ts
  packages/cli/src/commands/install-agent-skills.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "Move skill into new package-skills directory"
  skills/dx-block/SKILL.md
  skills/dx-block/references/admin-patterns.md
  skills/dx-block/references/api-patterns.md
  skills/dx-block/references/block-loader.md
  skills/dx-block/references/block-types.md
  skills/dx-block/references/custom-block-field.md
  skills/dx-block/references/fixtures.md
  skills/dx-block/references/image.md
  skills/dx-block/references/migration.md
  skills/dx-block/references/registration.md
  skills/dx-block/references/response-summary.md
  skills/dx-block/references/rich-text.md
  skills/dx-block/references/select.md
  skills/dx-block/references/site-patterns.md
Due: prettylint

re-add admin-date-time package to changeset
  .changeset/remove-hasclearablecontent-prop.md
Due: prettylint

Docs: Fix repository URL in agent skills documentation (#5308)
  docs/docs/4-guides/5-installing-agent-skills.md
Due: prettylint

Remove unused env vars from .env (#5321)
  .env
Due: none

Update AGENTS.md try letting agents creating a changelog without having to tell them (#5312)
  AGENTS.md
Due: prettylint

Demo: Make IMGPROXY_URL and ADMIN_URL_INTERNAL point to localhost (#5319)
  .env
  docs/docs/2-core-concepts/8-authentication/1-migrate-local-development-to-a-setup-with-authentication.md
Due: prettylint

Add JAEGER_HOST env variable (#5320)
  .env
  demo/api/src/tracing.dev.ts
  demo/site/tracing.dev.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: @IsUndefinable(), @IsNullable(), and PartialType (#5288)
  docs/docs/2-core-concepts/9-validation/index.md
Due: prettylint

Add --disable-telemetry to all storybook commands (#5314)
  demo/api/package.json
  packages/admin/admin/package.json
  storybook/package.json
Due: prettylint

Add agent skill for creating and editing blocks (#5250)
  skills/dx-block/SKILL.md
  skills/dx-block/references/admin-patterns.md
  skills/dx-block/references/api-patterns.md
  skills/dx-block/references/block-loader.md
  skills/dx-block/references/block-types.md
  skills/dx-block/references/custom-block-field.md
  skills/dx-block/references/fixtures.md
  skills/dx-block/references/image.md
  skills/dx-block/references/migration.md
  skills/dx-block/references/registration.md
  skills/dx-block/references/response-summary.md
  skills/dx-block/references/rich-text.md
  skills/dx-block/references/select.md
  skills/dx-block/references/site-patterns.md
Due: prettylint

Add AGENTS.md and CLAUDE.md to packages/admin (#5313)
  packages/admin/AGENTS.md
  packages/admin/CLAUDE.md
Due: prettylint

replace standard fontweight value with undefined
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: Add EntityManager vs repository injection guideline (#5318)
  docs/docs/4-guides/3-generate-grid-form-views/3-create-fixtures/index.md
  docs/docs/9-coding-guidelines/08-api-nestjs.md
Due: prettylint

add slot for MobileOpenMenuButton and render its content conditionally
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `skills/` directory support with `internal` filtering (#5315)
  .changeset/cli-skills-directory.md
  docs/docs/4-guides/5-installing-agent-skills.md
  package-skills/.gitkeep
  packages/cli/package.json
  packages/cli/src/commands/install-agent-skills.test.ts
  packages/cli/src/commands/install-agent-skills.ts
  pnpm-lock.yaml
  project-skills/.gitkeep
  skills/.gitkeep
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix RadioGroupField props type: use RadioGroupFieldProps instead of SelectFieldProps (#5326)
  package-skills/comet-admin-translatable-enum/references/enum-05-radio-group-field.md
Due: prettylint

Fix CheckboxListField skill template: use CheckboxListFieldProps and array form state (#5324)
  package-skills/comet-admin-translatable-enum/references/enum-06-checkbox-list-field.md
Due: prettylint

Fix `onSelectItem` handler in editable chip skill template (#5328)
  package-skills/comet-admin-translatable-enum/references/enum-02-editable-chip.md
Due: prettylint

docs: Add note about client-side block visibility filtering in admin
  docs/docs/2-core-concepts/9-content-visibility/index.md
Due: prettylint

docs: Add note about client-side page tree visibility filtering in admin
  docs/docs/2-core-concepts/9-content-visibility/index.md
Due: prettylint

docs: Combine client-side filtering notes into Admin section
  docs/docs/2-core-concepts/9-content-visibility/index.md
Due: prettylint

Docs: Content Visibility (#5293)
  docs/docs/2-core-concepts/9-content-visibility/index.md
Due: prettylint

Update dev-process-manager to 3.1
  package.json
  pnpm-lock.yaml
Due: prettylint

Update dev-process-manager to 3.1 (#5329)
  package.json
  pnpm-lock.yaml
Due: prettylint

fix display of breadcrumbs on desktop
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update dependency
  demo/admin/package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin/package.json
  packages/admin/brevo-admin/package.json
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint

Use Toolbar as root for DataGridToolbar
  packages/admin/admin/src/common/toolbar/DataGridToolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove root background color to fix invisible text
  packages/admin/admin/src/theme/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix paper styles not being applied
  packages/admin/admin/src/dataGrid/DataGridPanel.tsx
  packages/admin/admin/src/theme/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix closing the panel on click away
  packages/admin/admin/src/dataGrid/DataGridPanel.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
