Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Fix regression
  packages/api/cms-api/src/cron-jobs/cron-jobs.resolver.ts
  packages/api/cms-api/src/cron-jobs/jobs.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert Next.js Preview Mode (#1617)
  .changeset/yellow-seahorses-lick.md
  .env
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/config/config.ts
  demo/api/src/config/environment-variables.ts
  demo/site/src/components/Breadcrumbs.tsx
  demo/site/src/header/PageLink.tsx
  demo/site/src/news/blocks/NewsLinkBlock.tsx
  demo/site/src/pages/[[...path]].tsx
  demo/site/src/pages/_app.tsx
  demo/site/src/pages/api/preview.ts
  demo/site/src/pages/preview/[[...path]].tsx
  demo/site/src/util/createGraphQLClient.ts
  packages/admin/cms-admin/src/preview/README.md
  packages/admin/cms-admin/src/preview/site/SitePreview.tsx
  packages/admin/cms-admin/src/preview/site/buildPreviewUrl.ts
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/page-tree/page-tree.constants.ts
  packages/api/cms-api/src/page-tree/page-tree.module.ts
  packages/api/cms-api/src/page-tree/site-preview.resolver.ts
  packages/eslint-config/nextjs.js
  packages/site/cms-site/src/blocks/InternalLinkBlock.tsx
  packages/site/cms-site/src/index.ts
  packages/site/cms-site/src/link/Link.tsx
  packages/site/cms-site/src/preview/BlockPreviewProvider.tsx
  packages/site/cms-site/src/preview/PreviewContext.tsx
  packages/site/cms-site/src/preview/handlePreviewApiRequest.ts
  packages/site/cms-site/src/preview/utils.ts
  packages/site/cms-site/src/router/useRouter.tsx
  packages/site/cms-site/src/sitePreview/SitePreviewPage.tsx
  packages/site/cms-site/src/sitePreview/SitePreviewProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add popoverProps to Popover
  packages/admin/admin/src/common/buttons/split/SplitButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor theming of CollapsibleItem
  packages/admin/admin/src/mui/menu/CollapsibleItem.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Await copySelected in DamMoreActions
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamSelectionContext.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename currScope to scope
  packages/admin/cms-admin/src/dam/DataGrid/copyPaste/useCopyPasteDamItems.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

correct styling of ListItem
  packages/admin/admin/src/mui/menu/CollapsibleItem.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor naming of 'popoverRoot' prop and component to 'popover'
  packages/admin/admin/src/appHeader/dropdown/AppHeaderDropdown.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove 'Partial<>' from 'ComponentsPropsList' as it was duplicate and unnecessary
  packages/admin/admin/src/appHeader/dropdown/AppHeaderDropdown.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changeset message
  .changeset/tough-zoos-refuse.md
Due: prettylint

Refactor 'inner' prop and component to 'Content'
  packages/admin/admin/src/appHeader/button/AppHeaderButton.styles.tsx
  packages/admin/admin/src/appHeader/button/AppHeaderButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changeset message
  .changeset/violet-wombats-try.md
Due: prettylint

Move admin-generator2 POC code into package
  demo/admin/package.json
  demo/admin/src/products/ProductForm.cometGen.ts
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/generator/future/generateForm.ts
  packages/admin/cms-admin/src/generator/future/generateFormField.ts
  packages/admin/cms-admin/src/generator/future/generator.ts
  packages/admin/cms-admin/src/generator/future/utils/camelCaseToHumanReadable.ts
  packages/admin/cms-admin/src/generator/future/utils/generateImportsCode.ts
  packages/admin/cms-admin/src/generator/future/utils/writeGenerated.ts
  packages/admin/cms-admin/src/generator/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Simplify API of useCopyPasteDamItems
  packages/admin/admin-stories/.storybook/preview.tsx
  packages/admin/cms-admin/src/dam/DataGrid/DamContextMenu.tsx
  packages/admin/cms-admin/src/dam/DataGrid/copyPaste/useCopyPasteDamItems.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamSelectionContext.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unnecessary blank line
  packages/admin/cms-admin/src/pages/pageTree/PageTreeRow.sc.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use own slots for saveButton and discardButton and delete comment
  packages/admin/admin/src/router/ConfirmationDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add fixed logout icon
  .changeset/loud-carpets-happen.md
  packages/admin/admin-icons/icons/logout.svg
Due: prettylint

Refactor theming of `FinalFormSearchTextField` (#1611)
  packages/admin/admin/src/form/FinalFormSearchTextField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor theming of `MasterLayout` (#1603)
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/mui/MasterLayout.styles.tsx
  packages/admin/admin/src/mui/MasterLayout.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor theming for `AppHeaderFillSpace` (#1598)
  packages/admin/admin/src/appHeader/fillSpace/AppHeaderFillSpace.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix `Logout` icon (#1619)
  .changeset/loud-carpets-happen.md
  packages/admin/admin-icons/icons/logout.svg
Due: prettylint

Supported nested fields
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/generator/future/generateForm.ts
  packages/admin/cms-admin/src/generator/future/generateFormField.ts
  packages/admin/cms-admin/src/generator/future/generator.ts
  packages/admin/cms-admin/src/generator/future/utils/deepKeyOf.ts
  packages/admin/cms-admin/src/generator/future/utils/generateFieldList.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor theming of `FilterBarActiveFilterBadge` (#1571)
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/table/filterbar/filterBarActiveFilterBadge/FilterBarActiveFilterBadge.styles.tsx
  packages/admin/admin/src/table/filterbar/filterBarActiveFilterBadge/FilterBarActiveFilterBadge.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor theming of `SplitButton` (#1602)
  packages/admin/admin/src/common/buttons/split/SplitButton.tsx
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace SplitButtons in Stories with SaveButtons or delete story
  packages/admin/admin-stories/src/admin/form/RouterTabs.tsx
  packages/admin/admin-stories/src/docs/components/SaveButton/SaveButton.stories.mdx
  packages/admin/admin-stories/src/docs/components/SaveButton/SaveButton.stories.tsx
  packages/admin/admin-stories/src/docs/components/SplitButton/SplitButton.stories.mdx
  packages/admin/admin-stories/src/docs/components/SplitButton/stories/ColorChange.stories.tsx
  packages/admin/admin-stories/src/docs/components/SplitButton/stories/Controlled.stories.tsx
  packages/admin/admin-stories/src/docs/components/SplitButton/stories/CustomComponent.stories.tsx
  packages/admin/admin-stories/src/docs/components/SplitButton/stories/CustomPopoverProps.stories.tsx
  packages/admin/admin-stories/src/docs/components/SplitButton/stories/LocalStorageIndex.stories.tsx
  packages/admin/admin-stories/src/docs/components/SplitButton/stories/OneChild.stories.tsx
  packages/admin/admin-stories/src/docs/components/SplitButton/stories/SessionStorageIndex.stories.tsx
  packages/admin/admin-stories/src/docs/components/SplitButton/stories/Uncontrolled.stories.tsx
  packages/admin/admin-stories/src/docs/components/SplitButton/stories/VariantChange.stories.tsx
  packages/admin/admin-stories/src/docs/components/Tabs/stories/TabsForceRender.stories.tsx
  packages/admin/admin-stories/src/docs/components/Toolbar/Toolbar.stories.mdx
  packages/admin/admin-stories/src/docs/components/Toolbar/stories/SplitButtonSave.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/serious-bats-boil.md
Due: prettylint

Deprecate SplitButton, FinalFormSaveSplitButton and SplitButtonContext
  packages/admin/admin/src/FinalFormSaveSplitButton.tsx
  packages/admin/admin/src/common/buttons/split/SplitButton.tsx
  packages/admin/admin/src/common/buttons/split/SplitButtonContext.tsx
  packages/admin/admin/src/common/buttons/split/useSplitButtonContext.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace all uses of FinalFormSaveSplitButton with FinalFormSaveButton
  demo/admin/src/news/generated/NewsForm.tsx
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/categories/ProductCategoryForm.tsx
  demo/admin/src/products/generated/ProductForm.tsx
  demo/admin/src/products/tags/ProductTagForm.tsx
  packages/admin/admin-stories/src/admin/form/FinalFormSaveSplitButton.tsx
  packages/admin/admin-stories/src/docs/components/Toolbar/Toolbar.stories.mdx
  packages/admin/cms-admin/src/generator/generateForm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace all uses of SplitButton with SaveButton
  demo/admin/src/pages/mainMenu/components/EditMainMenuItem.tsx
  demo/admin/src/predefinedPage/EditPredefinedPage.tsx
  packages/admin/cms-admin/src/common/useSaveState.tsx
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/UploadFilesButton.tsx
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
  packages/admin/cms-admin/src/pages/createUsePage.tsx
  packages/admin/cms-admin/src/redirects/RedirectForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Display errors correctly on Unauthenticated-Status
  packages/admin/admin/src/error/errordialog/createErrorDialogApolloLink.tsx
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
  packages/api/cms-api/src/auth/guards/comet.guard.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add 'pnpm-lock' file
  pnpm-lock.yaml
Due: none

add feedback from review
  .changeset/happy-ladybugs-smile.md
  packages/admin/admin/src/table/filterbar/filterBarMoreFilters/FilterBarMoreFilters.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add deprecated notice
  packages/admin/admin/src/table/filterbar/filterBarMoreFilters/FilterBarMoreFilters.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor theming of FilterBarMoreFilters
  .changeset/happy-ladybugs-smile.md
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/table/filterbar/filterBarMoreFilters/FilterBarMoreFilters.styles.tsx
  packages/admin/admin/src/table/filterbar/filterBarMoreFilters/FilterBarMoreFilters.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adjust changelog md file
  .changeset/seven-sailor-sing.md
Due: prettylint

copy test .spec.ts files of copied xml code
  packages/admin/admin-rte/package.json
  packages/admin/admin-rte/src/core/translation/xml/transformStateToXml.spec.ts
  packages/admin/admin-rte/src/core/translation/xml/translateAndTransformToState.spec.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Only display translate button on rte block if enabled
  packages/admin/admin-rte/src/core/Controls/TranslationControls.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update message in .changeset/tough-zoos-refuse.md
  .changeset/tough-zoos-refuse.md
Due: prettylint

Remove 'classes' from packages/admin/admin/src/appHeader/dropdown/AppHeaderDropdown.tsx
  packages/admin/admin/src/appHeader/dropdown/AppHeaderDropdown.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
