Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move Redirect handling from middleware to ...path/page and resolve them on demand
  .changeset/happy-pumpkins-agree.md
  demo/api/schema.gql
  demo/site/next.config.js
  demo/site/src/app/[lang]/[[...path]]/page.tsx
  demo/site/src/app/[lang]/layout.tsx
  demo/site/src/middleware.ts
  demo/site/src/middleware/redirects.ts
  packages/api/cms-api/src/redirects/redirects.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove commented alternat entity field
  demo/api/src/products/entities/product.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add newly generated old admin genereator files
  demo/admin/src/products/generated/ProductForm.gql.ts
  demo/admin/src/products/generated/ProductForm.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update cms-api schema
  packages/api/cms-api/schema.gql
Due: none

Remove comment about removing sections from commit message (#2637)
  .github/pull_request_template.md
Due: prettylint

Change adornment type in DatePicker to just ReactNode
  packages/admin/admin-date-time/src/datePicker/DatePicker.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use `@IsUndefinable()` and `@IsNullable()` instead of `@IsOptional()`
  demo/api/src/documents/predefined-pages/dto/predefined-page.input.ts
  demo/api/src/documents/predefined-pages/entities/predefined-page.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Don't make redirect query nullable, instead make the implementation fail
  demo/api/schema.gql
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/redirects/redirects.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add an image link block to Demo
  demo/admin/src/pages/PageContentBlock.tsx
  demo/admin/src/pages/blocks/ImageLinkBlock.tsx
  demo/api/block-meta.json
  demo/api/src/pages/blocks/image-link.block.ts
  demo/api/src/pages/blocks/page-content.block.ts
  demo/site/src/blocks/PageContentBlock.tsx
  demo/site/src/documents/pages/blocks/ImageLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move image imports closer to usages
  docs/docs/blocks/block-factories.mdx
Due: none

Remove three dots as it prevents proper formatting
  docs/docs/blocks/block-factories.mdx
Due: none

Sort factories alphabetically
  docs/docs/blocks/block-factories.mdx
Due: none

Document remaining block factories
  docs/docs/blocks/block-factories.mdx
  docs/docs/blocks/images/image-link-block.png
  docs/docs/blocks/images/link-block.png
  docs/docs/blocks/images/rich-text-block.png
  docs/docs/blocks/images/seo-block.png
  docs/docs/blocks/images/space-block.png
  docs/docs/blocks/images/text-image-block.png
  docs/docs/blocks/images/text-link-block.png
Due: none

Add changeset
  .changeset/giant-teachers-tease.md
Due: prettylint

Use type from `@mikro-orm/core` now that packages have been merged
  packages/api/cms-api/src/blocks/decorators/root-block-entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move block factories into factories/ folder
  packages/api/cms-api/src/blocks/factories/createImageLinkBlock.test.ts
  packages/api/cms-api/src/blocks/factories/createImageLinkBlock.ts
  packages/api/cms-api/src/blocks/factories/createLinkBlock.ts
  packages/api/cms-api/src/blocks/factories/createRichTextBlock.ts
  packages/api/cms-api/src/blocks/factories/createSeoBlock.ts
  packages/api/cms-api/src/blocks/factories/createSpaceBlock.ts
  packages/api/cms-api/src/blocks/factories/createTextImageBlock.ts
  packages/api/cms-api/src/blocks/factories/createTextLinkBlock.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unused lookupPath function Includes reference to `@comet/blocks-api`, but isn't used anymore.
  packages/api/cms-api/src/blocks/helpers/lookupPath.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `newsListByIds` query
  demo/api/schema.gql
  demo/api/src/news/extended-news.resolver.ts
  demo/api/src/news/news.module.ts
  demo/site/src/news/blocks/NewsListBlock.loader.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset formatting
  .changeset/happy-pumpkins-agree.md
Due: prettylint

cms-api: add replace controller endpoint + replace service function
  packages/api/cms-api/src/dam/files/files.controller.ts
  packages/api/cms-api/src/dam/files/files.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: add optional contentHash to controller url to handle cache when files are replaced
  packages/api/cms-api/src/dam/files/dto/file.params.ts
  packages/api/cms-api/src/dam/files/files.controller.ts
  packages/api/cms-api/src/dam/files/files.service.ts
  packages/api/cms-api/src/dam/images/dto/image.params.ts
  packages/api/cms-api/src/dam/images/images.controller.ts
  packages/api/cms-api/src/dam/images/images.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: add replace button
  packages/admin/cms-admin/src/dam/DataGrid/duplicatedFilenames/ManualDuplicatedFilenamesHandler.tsx
  packages/admin/cms-admin/src/dam/DataGrid/duplicatedFilenames/ManuallyHandleDuplicatedFilenamesDialog.tsx
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/useDamFileUpload.tsx
  packages/admin/cms-admin/src/form/file/replace.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset .md file
  .changeset/perfect-panda-punch.md
Due: prettylint

cms-admin: enable license info passing
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/useDamFileUpload.tsx
  packages/admin/cms-admin/src/form/file/upload.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

API CrudSingleGenerator: Run `transformToBlockData()` for block fields on create (#2145)
  .changeset/lemon-eyes-kick.md
  demo/api/src/footer/generated/footer.resolver.ts
  packages/api/cms-api/src/generator/generate-crud-single.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove redirect loop protection, browsers already have a protection for this and show good error message
  demo/site/src/app/[lang]/[[...path]]/page.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

don't duplicate path creating logic
  demo/site/src/app/[lang]/[[...path]]/page.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update demo/site/server.ts
  demo/site/server.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve naming
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/userPermissions/user/ImpersonationButtons.tsx
  packages/admin/cms-admin/src/userPermissions/user/UserPageToolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use prefix for exports
  .changeset/real-dogs-scream.md
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
  packages/admin/cms-admin/src/userPermissions/UserPermissionsPage.tsx
  packages/admin/cms-admin/src/userPermissions/user/UserPageToolbar.tsx
  packages/admin/cms-admin/src/userPermissions/user/basicData/UserBasicData.tsx
  packages/admin/cms-admin/src/userPermissions/user/permissions/PermissionsPanel.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adapt changelog
  .changeset/real-dogs-scream.md
Due: prettylint

Fix story by moving EditDialog _into_ RouterTab
  storybook/src/admin/edit-dialog/EditDialogInRouterTabs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix merge errors
  demo/admin/src/App.tsx
  demo/admin/src/common/Master.tsx
  demo/admin/src/common/MasterMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add sentence
  docs/docs/user-permissions/access-control.md
Due: prettylint

Update to current api
  docs/docs/user-permissions/setup.md
Due: prettylint

Use admin panel
  docs/docs/user-permissions/access-control.md
  docs/docs/user-permissions/index.md
  docs/docs/user-permissions/setup.md
Due: prettylint

Move section
  docs/docs/content-scope/content-website.md
  docs/docs/content-scope/data-driven-application.md
  docs/docs/content-scope/evaluate-content-scopes.md
  docs/docs/user-permissions/access-control.md
Due: prettylint

Add part
  docs/docs/content-scope/evaluate-content-scopes.md
Due: prettylint

Add text
  docs/docs/content-scope/evaluate-content-scopes.md
Due: prettylint

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
