Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

cms-admin: throw on incomplete DamTable selection control
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: extract DAM dialog labels into components
  packages/admin/cms-admin/src/form/file/chooseFile/BaseChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFilesDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: drop redundant defaults and casts in FileField/DamMoreActions
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
  packages/admin/cms-admin/src/form/file/FileField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: address review feedback for BatchSelectMediaListBlock
  demo/admin/src/documents/pages/blocks/BatchSelectMediaListBlock.tsx
  demo/site/src/documents/pages/blocks/BatchSelectMediaListBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix `hideContextMenu` not hiding the context menu column in the DAM `DataGrid`
  .changeset/dam-table-fix-hide-context-menu.md
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename `ChooseFileDialog` to `ChooseDamFileDialog`
  .changeset/old-yaks-shave.md
  packages/admin/cms-admin/src/form/file/FileField.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix `hideContextMenu` not hiding the context menu column in the DAM `DataGrid` (#5539)
  .changeset/dam-table-fix-hide-context-menu.md
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

eslint
  demo/admin/src/common/blocks/TipTapRichTextBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator: add `initialPageSize` option to `GridConfig` (#5523)
  .changeset/add-initial-page-size-to-admin-generator.md
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/generateGrid.test.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Mail-React: Add Chromatic deployment for Storybook (#5518)
  .github/workflows/chromatic.yml
  packages/mail-react/.storybook/main.ts
  storybook/.storybook/main.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

knip
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix DataGridPagination page information not pluralizing "items" (#5521)
  .changeset/khaki-turkeys-camp.md
  packages/admin/admin/src/dataGrid/pagination/DataGridPagination.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix knip duplicate export error
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename `ChooseFileDialog` to `ChooseDamFileDialog` (#5540)
  .changeset/old-yaks-shave.md
  packages/admin/cms-admin/src/form/file/FileField.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Hide selective actions of DAM more actions menu in `ChooseDamFileDialog`
  .changeset/cold-walls-travel.md
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use nested spread instead of structuredClone in scoped theming example (#5537)
  docs/docs/3-features-modules/13-building-html-emails/2-components-and-theme.md
  skills/comet-mail-react/references/components-and-theme.md
Due: prettylint

cms-admin: Nest `hideSelectiveActions` under `toolbarOptions` in `DamConfig`
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Add `multiple` prop to `FileField` for selecting multiple DAM files
  .changeset/export-choose-dam-files-dialog.md
  .changeset/filefield-multi-select.md
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/form/file/FileField.gql.ts
  packages/admin/cms-admin/src/form/file/FileField.tsx
  packages/admin/cms-admin/src/form/file/FileFieldRow.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/BaseChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFilesDialog.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: Add `relatedImages` multi-file picker to product form
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  demo/api/schema.gql
  demo/api/src/dam/entities/dam-file.entity.ts
  demo/api/src/db/migrations/Migration20260504092659.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/product.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove remaining Jest config file mentions
  .changeset/prevent-dev-dep-imports-api.md
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
Due: prettylint

Remove unused index.instructions.md
  rules/coding-guidelines/index.instructions.md
Due: prettylint

fix(api-generator): add .js extensions to @nestjs/graphql deep imports
  .changeset/fix-api-generator-graphql-13-3-imports.md
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/build-options.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/deleted-at.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/filter-primary-key.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-dedicated-resolver-arg.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-embeddable.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-multi-use.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-optional.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-extend-entity.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-position.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relation-many-to-many.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-id-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-id-string.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-multi-use.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-nested.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-two-levels.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-resolve-field.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-resolve-id-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-scope.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-without-find.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/position-default-sort.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/sort-by-id.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-json-import.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-json.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-no-update-input.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-relations-string.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-relations.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-type-or-columnType.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-validators.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/nested-two-level.spec.ts
  packages/api/api-generator/src/commands/generate/generateFiles.ts
  packages/api/api-generator/src/commands/generate/utils/__tests__/find-hooks-service.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Temporarily remove stable-v8 tag
  .github/workflows/release.yml
Due: none

Add correct path specifiers for Git and Secure Software Development Rules
  rules/coding-guidelines/git.instructions.md
  rules/coding-guidelines/security.instructions.md
Due: prettylint

Temporarily remove stable-v8 tag (#5546)
  .github/workflows/release.yml
Due: none

cms-admin: Simplify multi-select `FileField` implementation
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/form/file/FileField.tsx
  packages/admin/cms-admin/src/form/file/FileFieldMenu.tsx
  packages/admin/cms-admin/src/form/file/FileFieldRow.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/BaseChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFilesDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent links in the `TableBlock` RTE cell preview from opening when editing a cell
  .changeset/table-block-rte-preview-no-pointer-events.md
  packages/admin/cms-admin/src/blocks/table/CellValue.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add coding-guidelines rules for agents (#5502)
  rules/coding-guidelines/api-nestjs.instructions.md
  rules/coding-guidelines/cdn.instructions.md
  rules/coding-guidelines/general.instructions.md
  rules/coding-guidelines/git.instructions.md
  rules/coding-guidelines/kubernetes.instructions.md
  rules/coding-guidelines/libraries.instructions.md
  rules/coding-guidelines/naming.instructions.md
  rules/coding-guidelines/postgresql.instructions.md
  rules/coding-guidelines/react.instructions.md
  rules/coding-guidelines/security.instructions.md
  rules/coding-guidelines/styling.instructions.md
  rules/coding-guidelines/typescript.instructions.md
Due: prettylint

API Generator: add .js extensions to @nestjs/graphql deep imports (#5545)
  .changeset/fix-api-generator-graphql-13-3-imports.md
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/build-options.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/deleted-at.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/filter-primary-key.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-dedicated-resolver-arg.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-embeddable.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-multi-use.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-optional.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-extend-entity.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-position.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relation-many-to-many.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-id-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-id-string.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-multi-use.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-nested.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-two-levels.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-resolve-field.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-resolve-id-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-scope.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-without-find.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/position-default-sort.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/sort-by-id.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-json-import.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-json.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-no-update-input.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-relations-string.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-relations.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-type-or-columnType.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-validators.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/nested-two-level.spec.ts
  packages/api/api-generator/src/commands/generate/generateFiles.ts
  packages/api/api-generator/src/commands/generate/utils/__tests__/find-hooks-service.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Hide selective actions of DAM more actions menu in `ChooseDamFileDialog` (#5541)
  .changeset/cold-walls-travel.md
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Move DAM selection seeding into `DamSelectionProvider`
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamSelectionContext.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/BaseChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFilesDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Backport: API Generator: add .js extensions to @nestjs/graphql deep imports (v8) (#5548)
  .changeset/fix-api-generator-graphql-13-3-imports.md
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/build-options.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/deleted-at.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/filter-primary-key.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-dedicated-resolver-arg.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-embeddable.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-multi-use.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-optional.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-extend-entity.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-position.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relation-many-to-many.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-id-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-id-string.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-multi-use.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-nested.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations-two-levels.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-relations.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-resolve-field.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-resolve-id-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-scope.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-without-find.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/position-default-sort.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/sort-by-id.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-integer.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-json-import.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-json.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-no-update-input.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-relations-string.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-relations.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-type-or-columnType.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-validators.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/nested-two-level.spec.ts
  packages/api/api-generator/src/commands/generate/generateFiles.ts
  packages/api/api-generator/src/commands/generate/utils/__tests__/find-hooks-service.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Backport: CLI: Make `install-agent-skills` also install from `agentic-plugin/skills` (v8) (#5536)
  .changeset/install-agent-skills-agentic-plugin-source.md
  .cspellignore
  docs/docs/4-guides/5-installing-agent-skills.md
  packages/cli/src/commands/install-agent-skills.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Eliminate DamMultiFileFieldFileFragment
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  packages/admin/cms-admin/src/form/file/FileField.gql.ts
  packages/admin/cms-admin/src/form/file/FileField.tsx
  packages/admin/cms-admin/src/form/file/FileFieldRow.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Simplify initial selection seeding in `ChooseDamFilesDialog`
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFilesDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Disable translation if document type isn't translatable
  packages/admin/cms-admin/src/pages/pageTree/PageActions.tsx
  packages/admin/cms-admin/src/pages/pageTree/useTranslatePagesAction.tsx
  packages/admin/cms-admin/src/pages/pagesPage/PagesPageActionToolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `comet-minor-update` skill (#5525)
  skills/comet-minor-update/SKILL.md
Due: prettylint
