Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

fix(RouterTabs): make RouterTabs work outside Stack
  packages/admin-stories/src/docs/components/RouterTabs/stories/RouterTabs.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(Tabs): extend docs and examples on the forceRender prop
  packages/admin-stories/src/docs/components/RouterTabs/01_Tabs.stories.mdx
  packages/admin-stories/src/docs/components/RouterTabs/02_RouterTabs.stories.mdx
  packages/admin-stories/src/docs/components/RouterTabs/stories/RouterTabsForceRender.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(Tabs): add TODOs
  packages/admin-stories/src/docs/components/RouterTabs/01_Tabs.stories.mdx
  packages/admin-stories/src/docs/components/RouterTabs/02_RouterTabs.stories.mdx
Due: none

docs(Tabs): add grammarly suggestions
  packages/admin-stories/src/docs/components/RouterTabs/02_RouterTabs.stories.mdx
Due: none

docs(RouterTabs): write introduction
  packages/admin-stories/src/docs/components/RouterTabs.stories.mdx
  packages/admin-stories/src/docs/components/RouterTabs/RouterTabs.stories.mdx
Due: none

refactor(RouterTabs): use stack hooks instead of context consumers
  packages/admin-stories/src/admin/stack/NestedStackSwitchWithRouterTabs.tsx
  packages/admin-stories/src/docs/components/RouterTabs/stories/RouterTabs.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(RouterTabs): add .stories suffix to story
  packages/admin-stories/src/docs/components/RouterTabs/stories/NestedStackSwitchWithRouterTabs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(RouterTabs): change wording of RouterTabs and Stack section
  packages/admin-stories/src/docs/components/RouterTabs/02_RouterTabs.stories.mdx
Due: none

docs(Tabs): add props of Tabs and Tab
  packages/admin-stories/src/docs/components/RouterTabs/01_Tabs.stories.mdx
  packages/admin-stories/src/docs/components/RouterTabs/02_RouterTabs.stories.mdx
Due: none

docs(RouterTabs): add section about RouterTabs and Stack
  packages/admin-stories/src/admin/stack/NestedStackSwitchWithRouterTabs.tsx
  packages/admin-stories/src/docs/components/RouterTabs/RouterTabs.stories.mdx
  packages/admin-stories/src/docs/components/RouterTabs/stories/NestedStackSwitchWithRouterTabs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(Tabs): make RouterTabs a sub section of Tabs docs
  packages/admin-stories/src/docs/components/RouterTabs/01_Tabs.stories.mdx
  packages/admin-stories/src/docs/components/RouterTabs/02_RouterTabs.stories.mdx
  packages/admin-stories/src/docs/components/RouterTabs/stories/NestedStackSwitchWithRouterTabs.tsx
  packages/admin-stories/src/docs/components/RouterTabs/stories/RouterTabs.stories.tsx
  packages/admin-stories/src/docs/components/RouterTabs/stories/Tabs.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(Tabs): add props of RouterTab
  packages/admin-stories/src/docs/components/RouterTabs/02_RouterTabs.stories.mdx
Due: none

docs(RouterTabs): add info about props of RouterTabs
  packages/admin-stories/src/docs/components/RouterTabs/RouterTabs.stories.mdx
  packages/admin-stories/src/docs/components/RouterTabs/stories/RouterTabs.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(Tabs): add docs for Tabs
  packages/admin-stories/src/docs/components/RouterTabs/01_Tabs.stories.mdx
  packages/admin-stories/src/docs/components/RouterTabs/02_RouterTabs.stories.mdx
  packages/admin-stories/src/docs/components/RouterTabs/stories/Tabs.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(Tabs): rename folder from RouterTabs to Tabs
  packages/admin-stories/src/docs/components/Tabs/01_Tabs.stories.mdx
  packages/admin-stories/src/docs/components/Tabs/02_RouterTabs.stories.mdx
  packages/admin-stories/src/docs/components/Tabs/stories/NestedStackSwitchWithRouterTabs.stories.tsx
  packages/admin-stories/src/docs/components/Tabs/stories/RouterTabs.stories.tsx
  packages/admin-stories/src/docs/components/Tabs/stories/RouterTabsForceRender.stories.tsx
  packages/admin-stories/src/docs/components/Tabs/stories/Tabs.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(Tabs): implement forceRender examples with Tabs instead of RouterTabs
  packages/admin-stories/src/docs/components/Tabs/01_Tabs.stories.mdx
  packages/admin-stories/src/docs/components/Tabs/02_RouterTabs.stories.mdx
  packages/admin-stories/src/docs/components/Tabs/stories/TabsForceRender.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(RouterConfirmationDialog): add maxWidth sm
  packages/admin/admin/src/router/ConfirmationDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(RouterConfirmationDialog): implement button size via flex grow
  packages/admin/admin/src/router/ConfirmationDialog.styles.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: lerna do not update peerDeps on publish
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-react-select/package.json
  packages/admin/admin-theme/package.json
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/cms-api/package.json
  yarn.lock
Due: prettylint

chore(api): upgrade nestjs dependencies to new major v9
  demo/api/package.json
  package.json
  packages/api/blocks-api/package.json
  packages/api/cms-api/package.json
  yarn.lock
Due: prettylint

fix(api): migrate nestjs/graphql, add apollo driver
  demo/api/schema.gql
  demo/api/src/app.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Allow passing a custom inputRef into InputWithPopper
  packages/admin/admin/src/inputWithPopper/InputWithPopper.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Basic implementation of time-range picker
  packages/admin/admin-date-time/src/FinalFormTimeRangePicker.tsx
  packages/admin/admin-date-time/src/TimeRangePicker.tsx
  packages/admin/admin-date-time/src/index.ts
  packages/admin/admin-stories/src/admin-date-time/TimeRangePicker.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix incorrect react-dnd peer dependency
  packages/admin/admin-stories/package.json
  packages/admin/admin/package.json
  packages/admin/blocks-admin/package.json
  yarn.lock
Due: prettylint

Fix duplicate ids for formatted messages
  packages/admin/admin/src/router/ConfirmationDialog.tsx
  packages/admin/blocks-admin/src/clipboard/CannotPasteBlockDialog.tsx
  packages/admin/cms-admin/src/builds/PublishButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add check for duplicated ids of formatted messages
  .github/workflows/ci.yml
  package.json
Due: prettylint

Harmonize message ids
  packages/admin/admin-color-picker/src/ColorPicker.tsx
  packages/admin/admin-rte/src/core/Controls/FeaturesButtonGroup.tsx
  packages/admin/admin-rte/src/core/Controls/useHistory.ts
  packages/admin/admin-rte/src/core/Controls/useInlineStyleType.tsx
  packages/admin/admin-rte/src/core/Controls/useListIndent.ts
  packages/admin/admin-rte/src/core/defaultBlocktypeMap.tsx
  packages/admin/admin-rte/src/core/extension/Link/ToolbarButton.tsx
  packages/admin/admin-stories/.storybook/preview.tsx
  packages/admin/admin/src/DeleteMutation.tsx
  packages/admin/admin/src/DirtyHandler.tsx
  packages/admin/admin/src/EditDialog.tsx
  packages/admin/admin/src/Selected.tsx
  packages/admin/admin/src/common/buttons/cancel/CancelButton.tsx
  packages/admin/admin/src/common/buttons/delete/DeleteButton.tsx
  packages/admin/admin/src/common/buttons/okay/OkayButton.tsx
  packages/admin/admin/src/common/buttons/save/SaveButton.tsx
  packages/admin/admin/src/form/Field.tsx
  packages/admin/admin/src/router/ConfirmationDialog.tsx
  packages/admin/admin/src/snackbar/UndoSnackbar.tsx
  packages/admin/admin/src/stack/backbutton/StackBackButton.tsx
  packages/admin/admin/src/table/AddButton.tsx
  packages/admin/admin/src/table/DeleteButton.tsx
  packages/admin/admin/src/table/ExcelExportButton.tsx
  packages/admin/admin/src/table/LocalChangesToolbar.tsx
  packages/admin/admin/src/table/Pagination.tsx
  packages/admin/admin/src/table/TableFilterFinalForm.tsx
  packages/admin/admin/src/table/TableQuery.tsx
  packages/admin/admin/src/table/filterbar/filterBarMoreFilters/FilterBarMoreFilters.tsx
  packages/admin/admin/src/table/filterbar/filterBarPopoverFilter/FilterBarPopoverFilter.tsx
  packages/admin/cms-admin/src/blocks/rte/extension/SoftHyphen/ToolbarButton.tsx
  packages/admin/cms-admin/src/dam/FileActions/ConfirmDeleteDialog.tsx
  packages/admin/cms-admin/src/dam/Table/FolderTableDragLayer.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageDeleteDialog.tsx
  packages/admin/cms-admin/src/pages/pagesPage/PageCanNotDeleteDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

integrate comet-lang; simplify CI/CD
  .github/workflows/ci.yml
  .gitignore
Due: none

Remove overwritten headers from next.config.js as they are not used in production
  demo/site/next.config.js
Due: prettylint

Remove env var assignment from next.config.js
  demo/site/next.config.js
Due: prettylint

Add Products example to demo with a generic filter API
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/db/migrations/Migration20220127082955.ts
  demo/api/src/products/dto/paginated-product.ts
  demo/api/src/products/dto/product.input.ts
  demo/api/src/products/dto/products.args.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/products.module.ts
  demo/api/src/products/products.resolver.ts
  demo/api/src/products/products.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Alternative filter api v2
  demo/api/schema.gql
  demo/api/src/db/ormconfig.ts
  demo/api/src/products/dto/product.input.ts
  demo/api/src/products/dto/products.args.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/products.resolver.ts
  demo/api/src/products/products.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Alternative filter api v3
  demo/api/schema.gql
  demo/api/src/products/dto/products.args.ts
  demo/api/src/products/products.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

PoC for a crud resolver code generator based on entities
  demo/api/.gitignore
  demo/api/package.json
  demo/api/src/app.module.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/products.module.ts
  packages/api/cms-api/bin/comet-api-generator.js
  packages/api/cms-api/package.json
  packages/api/cms-api/src/generator/entity-generator.decorator.ts
  packages/api/cms-api/src/generator/generate-crud.ts
  packages/api/cms-api/src/generator/generate.ts
  packages/api/cms-api/src/index.ts
  yarn.lock
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve generator, add for news/footer module (generated code is not yet used tough)
  demo/api/src/footer/entities/footer.entity.ts
  demo/api/src/news/entities/news.entity.ts
  demo/api/src/products/entities/product.entity.ts
  packages/api/cms-api/src/generator/entity-generator.decorator.ts
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve CRUD generator further
  demo/api/src/footer/dto/footer.input.ts
  demo/api/src/footer/entities/footer.entity.ts
  demo/api/src/footer/footer.module.ts
  demo/api/src/footer/footer.resolver.ts
  demo/api/src/news/dto/news-list.args.ts
  demo/api/src/news/dto/news.input.ts
  demo/api/src/news/dto/paginated-news.ts
  demo/api/src/news/entities/news.entity.ts
  demo/api/src/news/news.module.ts
  demo/api/src/news/news.resolver.ts
  demo/api/src/products/entities/product.entity.ts
  packages/api/blocks-api/src/blocks/block.ts
  packages/api/blocks-api/src/blocks/createRichTextBlock.ts
  packages/api/blocks-api/src/blocks/helpers/composeBlocks.ts
  packages/api/cms-api/src/blocks/root-block-type.ts
  packages/api/cms-api/src/generator/crud-generator.decorator.ts
  packages/api/cms-api/src/generator/generate-crud-input.ts
  packages/api/cms-api/src/generator/generate-crud-single.ts
  packages/api/cms-api/src/generator/generate-crud.ts
  packages/api/cms-api/src/generator/generate.ts
  packages/api/cms-api/src/generator/utils/write-generated.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/page-tree/blocks/helpers/lookupPath.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Updates needed for latest comet version
  demo/api/package.json
  demo/api/schema.gql
  demo/api/src/footer/footer.module.ts
  demo/api/src/news/news.module.ts
  demo/api/src/products/products.module.ts
  packages/api/blocks-api/src/blocks/helpers/lookupPath.ts
  packages/api/cms-api/src/generator/generate-crud-input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set start- and end-value of time-range equal if one of them is empty after closing both popovers
  packages/admin/admin-date-time/src/TimePicker.tsx
  packages/admin/admin-date-time/src/TimeRangePicker.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Wrap each picker with a FormControl
  packages/admin/admin-date-time/src/TimeRangePicker.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make all individual child-component props optional
  packages/admin/admin/src/table/filterbar/filterBarPopoverFilter/FilterBarPopoverFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
