Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

refactor: pageOfTypography to pageOf, previousNextContainer to previousNext
  packages/admin/admin/src/dataGrid/pagination/paginationActions/DataGridPaginationActions.styles.ts
  packages/admin/admin/src/dataGrid/pagination/paginationActions/DataGridPaginationActions.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix other comet-admin packages
  packages/admin/admin-babel-preset/CHANGELOG.md
  packages/admin/admin-babel-preset/package.json
  packages/admin/admin-color-picker/CHANGELOG.md
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/CHANGELOG.md
  packages/admin/admin-date-time/package.json
  packages/admin/admin-icons/CHANGELOG.md
  packages/admin/admin-icons/package.json
  packages/admin/admin-react-select/CHANGELOG.md
  packages/admin/admin-react-select/package.json
  packages/admin/admin-rte/CHANGELOG.md
  packages/admin/admin-rte/package.json
  packages/admin/admin-theme/CHANGELOG.md
  packages/admin/admin-theme/package.json
  packages/admin/blocks-admin/CHANGELOG.md
  packages/admin/blocks-admin/package.json
Due: prettylint

introduce new variables isOnFirstPage and isOnLastPage
  packages/admin/admin/src/dataGrid/pagination/paginationActions/DataGridPaginationActions.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: datagridspagination title to pageInformation
  packages/admin/admin/src/dataGrid/pagination/DataGridPagination.styles.ts
  packages/admin/admin/src/dataGrid/pagination/DataGridPagination.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: fix additionalTypes filter (#4028)
  demo/admin/src/products/ProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove export for type not used elsewhere
  packages/api/cms-api/src/mailer/mailer.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix cms-admin
  packages/admin/cms-admin/CHANGELOG.md
  packages/admin/cms-admin/jest.config.ts
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/blocks/CmsBlockContextProvider.tsx
  packages/admin/cms-admin/src/blocks/DamVideoBlock.tsx
  packages/admin/cms-admin/src/blocks/PixelImageBlock.tsx
  packages/admin/cms-admin/src/blocks/SvgImageBlock.tsx
  packages/admin/cms-admin/src/common/MasterMenuRoutes.test.tsx
  packages/admin/cms-admin/src/common/MasterMenuRoutes.tsx
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
  packages/admin/cms-admin/src/dam/FileForm/previews/VideoPreview.tsx
  packages/admin/cms-admin/src/dam/blocks/DamFileDownloadLinkBlock.tsx
  packages/admin/cms-admin/src/dam/mediaAlternatives/MediaAlternativeForm.tsx
  packages/admin/cms-admin/src/dam/mediaAlternatives/MediaAlternativesGrid.tsx
  packages/admin/cms-admin/src/form/file/FileField.tsx
  packages/admin/cms-admin/src/pages/config/usePageTreeScope.test.tsx
  packages/admin/cms-admin/src/pages/config/usePageTreeScope.ts
  packages/admin/cms-admin/src/pages/createEditPageNode.tsx
  packages/admin/cms-admin/src/pages/pageTree/MovePageMenuItem.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTree.tsx
  packages/admin/cms-admin/src/pages/pageTree/useCopyPastePages.tsx
  packages/admin/cms-admin/src/pages/pageTreeConfig.ts
  packages/admin/cms-admin/src/pages/pageTreeSelect/PageTreeSelectDialog.tsx
  packages/admin/cms-admin/src/pages/pagesPage/PagesPage.tsx
  packages/admin/cms-admin/src/testing/stub-file.ts
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix cli
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: prettylint

Data Grid: remove filter value conversion (#4026)
  packages/admin/admin/src/dataGrid/muiGridFilterToGql.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use boolean column for inStock (#4018)
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/generator/ProductsGrid.cometGen.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix eslint packages
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettylint

Fix site packages
  packages/site/site-nextjs/CHANGELOG.md
  packages/site/site-nextjs/package.json
  packages/site/site-react/CHANGELOG.md
  packages/site/site-react/package.json
Due: prettylint

Install
  pnpm-lock.yaml
Due: none

Fix demo site
  demo/site/src/app/[visibility]/[domain]/[language]/layout.tsx
  demo/site/src/documents/pages/Page.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix remaining merge conflicts
  demo/admin/src/App.tsx
  demo/admin/src/news/NewsPage.tsx
  docs/docs/3-features-modules/3-asset-management/index.md
  docs/docs/4-guides/1-how-to-build-a-custom-client/index.md
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix knip error
  packages/api/cms-api/src/dam/files/dam-media-alternatives/dto/dam-media-alternative.sort.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove todo because styling looks correct
  packages/admin/admin/src/theme/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

User permissions labels (#2172)
  .changeset/long-jobs-dream.md
  .changeset/strange-insects-protect.md
  demo/admin/src/App.tsx
  demo/admin/src/common/ContentScopeProvider.tsx
  demo/api/schema.gql
  demo/api/src/app.module.ts
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/contentScope/Provider.tsx
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
  packages/admin/cms-admin/src/userPermissions/user/permissions/ContentScopeGrid.tsx
  packages/admin/cms-admin/src/userPermissions/user/permissions/OverrideContentScopesDialog.tsx
  packages/admin/cms-admin/src/userPermissions/user/permissions/selectScopesDialogContent/SelectScopesDialogContent.tsx
  packages/api/cms-api/package.json
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/auth/resolver/auth.resolver.ts
  packages/api/cms-api/src/user-permissions/dto/content-scope.ts
  packages/api/cms-api/src/user-permissions/user-content-scopes.resolver.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
  packages/api/cms-api/src/user-permissions/utils/sort-content-scope-keys-alphabetically.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove useContentScope completely
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Demo Site: Add createImageSizes helper (#3804)
  demo/site/src/common/blocks/TextImageBlock.tsx
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
  demo/site/src/news/blocks/NewsContentBlock.tsx
  demo/site/src/theme.ts
  demo/site/src/util/createImageSizes.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix shadow
  demo/site/next-env.d.ts
  packages/admin/admin/src/theme/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix tests Add missing `CurrentUserContext`.
  packages/admin/cms-admin/src/pages/config/usePageTreeScope.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

undo unwanted changes in next-env
  demo/site/next-env.d.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fully mock the current user
  packages/admin/cms-admin/src/pages/config/usePageTreeScope.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix tests (#4054)
  packages/admin/cms-admin/src/pages/config/usePageTreeScope.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Data Grid: add support for isEmpty/isNotEmpty filters
  demo/api/schema.gql
  packages/admin/admin/src/dataGrid/muiGridFilterToGql.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/common/filter/date-time.filter.ts
  packages/api/cms-api/src/common/filter/date.filter.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
  packages/api/cms-api/src/common/filter/number.filter.ts
  packages/api/cms-api/src/common/filter/string.filter.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Solve without dynamic regex
  packages/eslint-plugin/src/rules/no-private-sibling-import.test.ts
  packages/eslint-plugin/src/rules/no-private-sibling-import.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: styling issue in Table Footer
  packages/admin/admin/src/theme/componentsTheme/MuiTableFooter.ts
  packages/admin/admin/src/theme/componentsTheme/getComponentsTheme.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add changeset
  .changeset/gold-animals-fry.md
Due: prettylint

Support .tsx in no-private-sibling-import
  packages/eslint-plugin/src/rules/no-private-sibling-import.test.ts
  packages/eslint-plugin/src/rules/no-private-sibling-import.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix date-only columns
  .changeset/many-pumas-post.md
  demo/admin/codegen.ts
  demo/api/package.json
  demo/api/schema.gql
  demo/api/src/db/fixtures/generators/products-fixture.service.ts
  demo/api/src/products/entities/product.entity.ts
  demo/site-pages/codegen.ts
  demo/site/codegen.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/generate-crud-input.ts
  packages/api/cms-api/src/common/filter/date.filter.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Mention codegen change in changeset
  .changeset/many-pumas-post.md
  .cspellignore
Due: prettylint

set margin to 0 for icon instead of adding negative margin
  packages/admin/admin/src/mui/mainNavigation/CollapsibleItem.styles.ts
  packages/admin/admin/src/mui/mainNavigation/Item.styles.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rework createRedirectsPage so that you pass the linkBlock instead of customTargets
  .changeset/curly-lamps-turn.md
  demo/admin/src/redirects/RedirectsPage.tsx
  packages/admin/cms-admin/src/redirects/createRedirectsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move FinalFormToggleButtonGroup section to correct place
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Document necessary changes in migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Improve v8 migration guide (#4016)
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Fix migration guide section on ContentScopeProvider
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Add the possibility to filter users by permission (#3964)
  .changeset/wild-onions-yell.md
  demo/api/schema.gql
  demo/api/src/auth/user.service.ts
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/user-permissions/dto/paginated-user-list.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
  packages/api/cms-api/src/user-permissions/user.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix `ContentsScopeProvider` migration guide (#4069)
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint
