Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent block-meta.json write in read-only file systems (v5) Backport #1983 into v5.
  .changeset/kind-spiders-kneel.md
  packages/api/cms-api/src/blocks/blocks-meta.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set 'required' without 'true' in 'DateTimePicker' basic fields story
  storybook/src/docs/form/components/DateAndTimePickers/stories/DateTimePicker.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove incorrect this in upgrade guide
  docs/docs/migration/migration-from-v6-to-v7.md
Due: prettylint

Import useDataGridExcelExport and DataGridExcelExport correctly
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update storybook/src/docs/components/DataGrid/DataGrid.stories.mdx
  storybook/src/docs/components/DataGrid/DataGrid.stories.mdx
Due: none

Update .changeset/thin-bags-repair.md
  .changeset/thin-bags-repair.md
Due: prettylint

Extend changeset - List breaking changes - Link to migration guide
  .changeset/forty-hounds-work.md
Due: prettylint

Prevent block-meta.json write in read-only file systems (#1983)
  .changeset/kind-spiders-kneel.md
  packages/api/cms-api/src/blocks/blocks-meta.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove list-exports scripts This is not needed anymore since all our exports are in `src/index.ts`.
  packages/api/blocks-api/list-exports.ts
  packages/api/blocks-api/package.json
  packages/api/cms-api/list-exports.ts
  packages/api/cms-api/package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent block-meta.json write in read-only file systems (v5) (#1984)
  .changeset/kind-spiders-kneel.md
  packages/api/cms-api/src/blocks/blocks-meta.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove list-exports scripts (#1987)
  packages/api/blocks-api/list-exports.ts
  packages/api/blocks-api/package.json
  packages/api/cms-api/list-exports.ts
  packages/api/cms-api/package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Router Prompt: actively reset form state when choosing discard in the prompt dialog (#1961)
  .changeset/metal-seas-listen.md
  packages/admin/admin/src/FinalForm.tsx
  packages/admin/admin/src/router/Context.tsx
  packages/admin/admin/src/router/Prompt.tsx
  packages/admin/admin/src/router/PromptHandler.tsx
  packages/admin/admin/src/saveBoundary/SaveBoundary.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator Future: add mode to form to generate code for editing or adding
  demo/admin/src/products/future/ProductForm.cometGen.ts
  demo/admin/src/products/future/ProductPriceForm.cometGen.ts
  demo/admin/src/products/future/ProductsPage.tsx
  demo/admin/src/products/future/generated/ProductForm.gql.tsx
  demo/admin/src/products/future/generated/ProductForm.tsx
  demo/admin/src/products/future/generated/ProductPriceForm.gql.tsx
  demo/admin/src/products/future/generated/ProductPriceForm.tsx
  packages/admin/cms-admin/src/generator/future/generateForm.ts
  packages/admin/cms-admin/src/generator/future/generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

simplify a bit
  demo/site/src/app/[lang]/[[...path]]/page.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix conflict
  packages/admin/admin/src/router/Context.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Simplify: make if inline, one variable less to find a good name for
  demo/site/src/app/layout.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove corrupt changeset for API generator input disabling (#1975)
  .changeset/atlantic-scallop-fisherman
Due: none

Support dependency injection in `transformToPlain` (#1946)
  .changeset/forty-hounds-work.md
  demo/api/src/app.module.ts
  docs/docs/migration/migration-from-v6-to-v7.md
  packages/api/blocks-api/src/blocks/block.ts
  packages/api/blocks-api/src/blocks/dependencies.ts
  packages/api/blocks-api/src/blocks/factories/columns-block.factory.ts
  packages/api/blocks-api/src/blocks/factories/createBlocksBlock.ts
  packages/api/blocks-api/src/blocks/factories/createListBlock.ts
  packages/api/blocks-api/src/blocks/factories/createOneOfBlock.ts
  packages/api/blocks-api/src/blocks/factories/createOptionalBlock.ts
  packages/api/blocks-api/src/index.ts
  packages/api/cms-api/src/blocks/blocks-transformer-middleware.factory.ts
  packages/api/cms-api/src/blocks/blocks-transformer.service.ts
  packages/api/cms-api/src/blocks/blocks-transformer.ts
  packages/api/cms-api/src/blocks/blocks.constants.ts
  packages/api/cms-api/src/blocks/blocks.module.ts
  packages/api/cms-api/src/blocks/createImageLinkBlock.ts
  packages/api/cms-api/src/blocks/createSeoBlock.ts
  packages/api/cms-api/src/blocks/createTextImageBlock.ts
  packages/api/cms-api/src/blocks/rootBlocks/root-block-data.scalar.spec.ts
  packages/api/cms-api/src/blocks/rootBlocks/root-block-input.scalar.spec.ts
  packages/api/cms-api/src/dam/blocks/dam-image.block.ts
  packages/api/cms-api/src/dam/blocks/dam-video-block-transformer.service.ts
  packages/api/cms-api/src/dam/blocks/dam-video.block.ts
  packages/api/cms-api/src/dam/blocks/pixel-image-block-transformer.service.ts
  packages/api/cms-api/src/dam/blocks/pixel-image.block.ts
  packages/api/cms-api/src/dam/blocks/svg-image-block-transformer.service.ts
  packages/api/cms-api/src/dam/blocks/svg-image.block.ts
  packages/api/cms-api/src/dam/dam.module.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/page-tree/blocks/internal-link-block-transformer.service.ts
  packages/api/cms-api/src/page-tree/blocks/internal-link.block.ts
  packages/api/cms-api/src/page-tree/page-tree.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Mention both changes in changeset title
  .changeset/light-ligers-wonder.md
Due: prettylint

Api Generator: simplify status filter, remove special Active value
  demo/api/schema.gql
  demo/api/src/news/generated/dto/news-list.args.ts
  demo/api/src/news/generated/news.resolver.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/products.args.ts
  demo/api/src/products/generated/product.resolver.ts
  packages/api/cms-api/src/generator/generate-crud-update-status.spec.ts
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Next App Router: Add `SitePreviewProvider` when Draft Mode is enabled
  demo/site/src/app/layout.tsx
  packages/site/cms-site/src/sitePreview/SitePreviewProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Show/hide columns depending on compact-view
  demo/admin/src/products/ProductsGrid.tsx
  packages/admin/admin/src/dataGrid/useDynamicGridVisibilityModel.ts
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adjust generated admin to changed api
  demo/admin/src/products/generated/ProductForm.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add docs, story and changeset
  .changeset/metal-bugs-beg.md
  storybook/src/docs/components/DataGrid/DataGrid.stories.mdx
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move types out of particular story
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove ExcelExportButton
  .changeset/thin-bags-repair.md
  packages/admin/admin/src/dataGrid/excelExport/DataGridExcelExportButton.tsx
  packages/admin/admin/src/index.ts
  storybook/src/docs/components/DataGrid/DataGrid.stories.mdx
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor for readability
  packages/admin/admin/src/dataGrid/useDynamicGridVisibilityModel.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use ReactNode instead of string as type for tooltipSuccess- and tooltipErrorMessage
  packages/admin/admin/src/common/buttons/feedback/FeedbackButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

simplify resolveIconDisplayState function
  packages/admin/admin/src/common/buttons/feedback/FeedbackButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use error instead of fail as classKey
  packages/admin/admin/src/common/buttons/feedback/FeedbackButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use MuiLoadingButton instead of Button
  packages/admin/admin/package.json
  packages/admin/admin/src/common/buttons/feedback/FeedbackButton.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Don't remove references to DamFile when copying from one scope to another if DAM scoping is not enabled
  .changeset/new-mugs-compare.md
  packages/admin/cms-admin/src/pages/pageTree/useCopyPastePages/sendPages.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Render preview-elements outside of site-blocks
  packages/site/cms-site/src/iframebridge/IFrameBridge.tsx
  packages/site/cms-site/src/iframebridge/Preview.sc.ts
  packages/site/cms-site/src/iframebridge/Preview.tsx
  packages/site/cms-site/src/iframebridge/PreviewOverlay.tsx
  packages/site/cms-site/src/iframebridge/PreviewOverlayElement.tsx
  packages/site/cms-site/src/iframebridge/utils.ts
  packages/site/cms-site/src/iframebridge/withPreview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix usage of `resolvePath` in `SitePreview` (#1979)
  demo/admin/src/App.tsx
  packages/admin/cms-admin/src/preview/site/SitePreview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add blocks for debugging
  demo/admin/src/pages/PageContentBlock.tsx
  demo/admin/src/pages/blocks/DebugBlock.tsx
  demo/admin/src/pages/blocks/DebugListBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/debug-list.block.ts
  demo/api/src/common/blocks/debug.block.ts
  demo/api/src/pages/blocks/PageContentBlock.ts
  demo/site/src/blocks/DebugBlock.tsx
  demo/site/src/blocks/DebugListBlock.tsx
  demo/site/src/blocks/PageContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/large-mirrors-teach.md
Due: prettylint

Fix the ability to select the preview overlay of blocks that are styled to be shown above other elements
  packages/site/cms-site/src/iframebridge/IFrameBridge.tsx
  packages/site/cms-site/src/iframebridge/Preview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "Add blocks for debugging"
  demo/admin/src/pages/PageContentBlock.tsx
  demo/admin/src/pages/blocks/DebugBlock.tsx
  demo/admin/src/pages/blocks/DebugListBlock.tsx
  demo/api/block-meta.json
  demo/api/src/common/blocks/debug-list.block.ts
  demo/api/src/common/blocks/debug.block.ts
  demo/api/src/pages/blocks/PageContentBlock.ts
  demo/site/src/blocks/DebugBlock.tsx
  demo/site/src/blocks/DebugListBlock.tsx
  demo/site/src/blocks/PageContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adapt changeset text
  .changeset/ninety-adults-peel.md
Due: prettylint

prettify code
  packages/admin/cms-admin/src/dam/blocks/DamFileDownloadLinkBlock.tsx
  packages/site/cms-site/src/blocks/DamFileDownloadLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
