Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove default maximum file size for FileSelect
  packages/admin/admin/src/form/file/FileSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add manufacturer country API to Demo (#2074)
  demo/api/schema.gql
  demo/api/src/products/entities/manufacturer-country.entity.ts
  demo/api/src/products/generated/dto/manufacturer-countries.args.ts
  demo/api/src/products/generated/dto/manufacturer-country.filter.ts
  demo/api/src/products/generated/dto/paginated-manufacturer-countries.ts
  demo/api/src/products/generated/manufacturer-countries.service.ts
  demo/api/src/products/generated/manufacturer-country.resolver.ts
  demo/api/src/products/products.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix label padding on non-deletable `Chip` (#2206)
  packages/admin/admin-theme/src/componentsTheme/MuiChip.tsx
  storybook/src/admin/mui/Chip.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP
  docs/docs/blocks/block-concepts.mdx
Due: none

Remove queryOrMutationName,
  packages/admin/cms-admin/src/generator/future/generateForm.ts
  packages/admin/cms-admin/src/generator/future/generateForm/getForwardedGqlArgs.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename gqlArg to gqlOperation
  packages/admin/cms-admin/src/generator/future/generateForm.ts
  packages/admin/cms-admin/src/generator/future/generateForm/getForwardedGqlArgs.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Apply suggestions from code review
  docs/docs/user-permissions/access-control.md
  docs/docs/user-permissions/index.md
Due: prettylint

Apply suggestions from code review
  docs/docs/user-permissions/setup.md
Due: prettylint

Refactor props and docs of FileSelect and FileSelectListItem
  packages/admin/admin/src/form/file/FileSelect.tsx
  packages/admin/admin/src/form/file/FileSelectListItem.tsx
  packages/admin/admin/src/form/file/fileSelectItemTypes.ts
  packages/admin/admin/src/index.ts
  storybook/src/admin/form/file/FileSelect.tsx
  storybook/src/admin/form/file/FileSelectListItem.tsx
  storybook/src/docs/components/FileDropzone/FileDropzone.stories.mdx
  storybook/src/docs/components/FileSelect/FileSelect.stories.mdx
  storybook/src/docs/components/FileSelect/FileSelect.stories.tsx
  storybook/src/docs/components/FileSelectListItem/FileSelectListItem.stories.mdx
  storybook/src/docs/components/FileSelectListItem/FileSelectListItem.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add endpoints to download and get file info on public uploads
  packages/api/cms-api/src/public-upload/public-uploads.controller.ts
  packages/api/cms-api/src/public-upload/public-uploads.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename openAiContentGenerationService config option to openAiContentGeneration
  demo/api/src/app.module.ts
  packages/api/cms-api/src/content-generation/content-generation.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat: add video icons (youtube and vimeo)
  packages/admin/admin-icons/icons/vimeo.svg
  packages/admin/admin-icons/icons/youtube.svg
Due: none

move api blocks from blocks-api to cms-api
  demo/api/src/common/blocks/linkBlock/link.block.ts
  packages/api/blocks-api/src/blocks/validator/is-phone-number.validator.ts
  packages/api/blocks-api/src/index.ts
  packages/api/cms-api/src/blocks/email-link.block.ts
  packages/api/cms-api/src/blocks/phone-link.block.ts
  packages/api/cms-api/src/common/validators/is-phone-number.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/wicked-bananas-accept.md
Due: prettylint

Implement FinalFormFileUpload with usage examples in handmade product form
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/db/migrations/Migration20240624092349.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/dto/product.sort.ts
  demo/api/src/products/generated/product.resolver.ts
  demo/api/src/products/generated/products.service.ts
  demo/api/src/products/products.module.ts
  packages/admin/admin/src/form/file/FinalFormFileUpload.tsx
  packages/admin/admin/src/index.ts
  packages/api/cms-api/src/public-upload/public-uploads.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/wicked-bananas-accept.md
  .changeset/wicked-bananas-accept.md
Due: prettylint

rename youtube svg file
  packages/admin/admin-icons/icons/you-tube.svg
Due: none

Add new `FileSelect` component as alternative to `FinalFormFileSelect` (#2178)
  .changeset/four-cobras-shave.md
  packages/admin/admin/src/form/file/FileDropzone.tsx
  packages/admin/admin/src/form/file/FileSelect.tsx
  packages/admin/admin/src/form/file/FileSelectListItem.tsx
  packages/admin/admin/src/form/file/fileSelectItemTypes.ts
  packages/admin/admin/src/form/file/getFilesInfoText.tsx
  packages/admin/admin/src/hooks/useElementIsOverflowing.ts
  packages/admin/admin/src/index.ts
  storybook/src/admin/form/FinalFormFileSelect.tsx
  storybook/src/admin/form/file/FileDropzone.tsx
  storybook/src/admin/form/file/FileSelect.tsx
  storybook/src/admin/form/file/FileSelectListItem.tsx
  storybook/src/docs/components/FileDropzone/FileDropzone.stories.mdx
  storybook/src/docs/components/FileDropzone/FileDropzone.stories.tsx
  storybook/src/docs/components/FileSelect/FileSelect.stories.mdx
  storybook/src/docs/components/FileSelect/FileSelect.stories.tsx
  storybook/src/docs/components/FileSelectListItem/FileSelectListItem.stories.mdx
  storybook/src/docs/components/FileSelectListItem/FileSelectListItem.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add hint about DEV_DOMAIN to Readme
  README.md
Due: prettylint

Extract AzureOpenAiContentGenerationService to new AzureOpenAiContentGenerationModule
  demo/api/src/app.module.ts
  packages/api/cms-api/src/content-generation/azure-open-ai/azure-open-ai-content-generation.module.ts
  packages/api/cms-api/src/content-generation/azure-open-ai/azure-open-ai-content-generation.service.ts
  packages/api/cms-api/src/content-generation/azure-open-ai/azure-open-ai.constants.ts
  packages/api/cms-api/src/content-generation/content-generation.constants.ts
  packages/api/cms-api/src/content-generation/content-generation.module.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rework changeset
  .changeset/long-bottles-brush.md
Due: prettylint

Add dev domain setup (#2202)
  .env
  README.md
  demo/admin/vite.config.mts
  package.json
  pnpm-lock.yaml
Due: prettylint

feat(ChipSelectField): adjust generics
  packages/admin/admin/src/form/fields/ChipSelectField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(ChipInput): create prop type
  packages/admin/admin/src/form/ChipSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(ChipInput): move sx styles to component slot styles
  packages/admin/admin/src/form/ChipSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(ChipInput): use second InputBase to show correct label
  packages/admin/admin/src/form/ChipSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(ChipSelect): change example titles, simplify final form example
  .changeset/proud-laws-arrive.md
Due: prettylint

fix(App): drag and drop not working on mobile by installing a multi-backend DnD provider
  demo/admin/package.json
  demo/admin/src/App.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(MasterMenu): add changeset for #2146
  .changeset/fuzzy-foxes-laugh.md
Due: prettylint

Add new FileSelect component to admin
  packages/admin/admin/src/form/file/FileSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Small adjustments, fixes and refactoring
  packages/admin/admin/src/form/file/FileSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Allow disabling the maximum file size with `null`
  packages/admin/admin/src/form/file/FileSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Implement FinalFormFileUpload with usage examples in handmade product form
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/db/migrations/Migration20240624092349.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/dto/product.sort.ts
  demo/api/src/products/generated/product.resolver.ts
  demo/api/src/products/generated/products.service.ts
  demo/api/src/products/products.module.ts
  packages/admin/admin/src/form/file/FileSelect.tsx
  packages/admin/admin/src/form/file/FinalFormFileUpload.tsx
  packages/admin/admin/src/index.ts
  packages/api/cms-api/src/public-upload/public-uploads.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Resolve conflicts
  packages/api/cms-api/schema.gql
  pnpm-lock.yaml
Due: none

Undo accidental change during rebase conflict
  packages/admin/admin/src/form/file/FileSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Pass config to AzureOpenAiContentGenerationModule.register directly
  demo/api/src/app.module.ts
  packages/api/cms-api/src/content-generation/azure-open-ai/azure-open-ai-content-generation.module.ts
  packages/api/cms-api/src/content-generation/azure-open-ai/azure-open-ai-content-generation.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator (Future): Forward required GraphQL args for forms (#2082)
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/products/future/CreateCapProductForm.cometGen.ts
  demo/admin/src/products/future/CreateCapProductPage.tsx
  demo/admin/src/products/future/generated/CreateCapProductForm.gql.tsx
  demo/admin/src/products/future/generated/CreateCapProductForm.tsx
  packages/admin/cms-admin/src/generator/future/generateForm.ts
  packages/admin/cms-admin/src/generator/future/generateForm/getForwardedGqlArgs.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor: Replace graphql-type-json with graphql-scalars
  demo/api/package.json
  packages/api/cms-api/package.json
  packages/api/cms-api/src/blocks/rootBlocks/root-block-data.scalar.ts
  packages/api/cms-api/src/blocks/rootBlocks/root-block-input.scalar.ts
  packages/api/cms-api/src/dam/files/entities/file-image.entity.ts
  packages/api/cms-api/src/generator/generate-crud-input.ts
  packages/api/cms-api/src/redirects/dto/redirect-input.factory.ts
  packages/api/cms-api/src/redirects/entities/redirect-entity.factory.ts
  packages/api/cms-api/src/user-permissions/dto/current-user.ts
  packages/api/cms-api/src/user-permissions/dto/user-content-scopes.input.ts
  packages/api/cms-api/src/user-permissions/dto/user-permission.input.ts
  packages/api/cms-api/src/user-permissions/entities/user-permission.entity.ts
  packages/api/cms-api/src/user-permissions/user-content-scopes.resolver.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
