Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Remove node-fetch from FileUploadsDownloadController
  packages/api/cms-api/src/file-uploads/file-uploads-download.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove node-fetch from FilesService
  packages/api/cms-api/src/dam/files/files.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Uninstall node-fetch
  packages/api/cms-api/package.json
  pnpm-lock.yaml
Due: prettylint

Add changeset
  .changeset/healthy-mugs-roll.md
Due: prettylint

Add node 22 as supported engine to all packages
  packages/admin/admin-babel-preset/package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/site/cms-site/package.json
Due: prettylint

WIP
  demo/admin/src/App.tsx
  demo/api/schema.gql
  demo/api/src/news/entities/news-warning.service.ts
  demo/api/src/warnings/dto/warning-dependency-info.ts
  demo/api/src/warnings/warning-checker.command.ts
  demo/api/src/warnings/warning-event-subscriber.ts
  demo/api/src/warnings/warning.service.ts
  packages/api/cms-api/src/dam/dam.module.ts
  packages/api/cms-api/src/dam/files/entities/file.entity.ts
  packages/api/cms-api/src/dam/files/file-warning.service.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/warnings/decorators/emit-warnings.decorator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add node 22 to migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Add linking to warning in admin
  demo/admin/src/warnings/WarningsGrid.tsx
  demo/api/schema.gql
  demo/api/src/warnings/dto/warning-dependency-info.ts
  demo/api/src/warnings/entities/warning.entity.ts
  demo/api/src/warnings/warning-checker.command.ts
  demo/api/src/warnings/warning-event-subscriber.ts
  packages/admin/cms-admin/src/dependencies/createDocumentDependencyMethods.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move line as req not correct writeHead
  demo/site/server.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

run admin generator to update generated files
  demo/admin/src/products/generated/ProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add possibility to define warning messages in admin to allow translations
  demo/admin/src/warnings/WarningsGrid.tsx
  demo/admin/src/warnings/WarningsPage.tsx
  demo/admin/src/warnings/warningMessages.ts
  packages/api/cms-api/src/blocks/factories/createSeoBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

move warningsMessages further up in the code so it is not generated for every column
  demo/admin/src/warnings/WarningsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove pointer from not collapsible fieldset
  packages/admin/admin/src/common/FieldSet.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

set height of fieldset on mobile
  packages/admin/admin/src/common/FieldSet.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/tough-cherries-provide.md
Due: prettylint

Fix headline level for hooks
  storybook/src/docs/components/DataGrid/DataGrid.mdx
Due: none

Define language for code block
  storybook/src/docs/components/DataGrid/DataGrid.mdx
Due: none

Add docs for column-type helpers
  storybook/src/docs/components/DataGrid/DataGrid.mdx
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make columns take up more width
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

First draft of site configs docs
  .cspellignore
  docs/docs/2-core-concepts/8-site-configs/index.md
Due: prettylint

If the damFileDownload link is opened directly, it should redirect to the asset regardless of the selection ('as a download' or 'in a new tab').
  demo/site/src/documents/links/Link.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: demo - api/admin generator scripts delete generated directories now based on glob pattern
  demo/admin/package.json
  demo/api/package.json
  docs/docs/1-getting-started/4-crud-generator/1-api-generator.md
  docs/docs/7-migration-guide/migration-from-v4-to-v5.md
  pnpm-lock.yaml
Due: prettylint

fix: adjust admin generator package jsons scripts
  demo/admin/package.json
Due: prettylint

improve error handling in admin-generator when write/format generated code onto disk
  demo/admin/src/products/generated/ProductForm.gql.ts
  demo/admin/src/products/generated/ProductForm.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
  demo/admin/src/products/generated/ProductsPage.tsx
  packages/admin/admin-generator/src/commands/generate/utils/logColor.ts
  packages/admin/admin-generator/src/commands/generate/utils/writeGenerated.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: renmove old generator code
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/products/categories/ProductCategoriesPage.tsx
  demo/admin/src/products/categories/ProductCategoriesTable.tsx
  demo/admin/src/products/categories/ProductCategoryForm.gql.ts
  demo/admin/src/products/categories/ProductCategoryForm.tsx
  demo/admin/src/products/tags/ProductTagForm.gql.ts
  demo/admin/src/products/tags/ProductTagForm.tsx
  demo/admin/src/products/tags/ProductTagTable.tsx
  demo/admin/src/products/tags/ProductTagsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove future directory
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/products/AssignProductsGrid.tsx
  demo/admin/src/products/CombinationFieldsTestProductsGrid.cometGen.ts
  demo/admin/src/products/CombinationFieldsTestProductsPage.tsx
  demo/admin/src/products/CreateCapProductForm.cometGen.ts
  demo/admin/src/products/CreateCapProductPage.tsx
  demo/admin/src/products/IdFieldInForm.cometGen.ts
  demo/admin/src/products/ManufacturerFilter.tsx
  demo/admin/src/products/ManufacturersGrid.cometGen.ts
  demo/admin/src/products/ManufacturersPage.tsx
  demo/admin/src/products/ProductCategoriesPage.tsx
  demo/admin/src/products/ProductForm.cometGen.ts
  demo/admin/src/products/ProductPriceForm.cometGen.ts
  demo/admin/src/products/ProductVariantsGrid.cometGen.ts
  demo/admin/src/products/ProductsGrid.cometGen.ts
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/ProductsGridPreviewAction.tsx
  demo/admin/src/products/ProductsPage.tsx
  demo/admin/src/products/ProductsWithLowPricePage.tsx
  demo/admin/src/products/SelectProductsGrid.cometGen.ts
  demo/admin/src/products/future/ManufacturerFilter.tsx
  demo/admin/src/products/future/ManufacturersPage.tsx
  demo/admin/src/products/future/ProductsPage.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  demo/admin/src/products/generated/CombinationFieldsTestProductsGrid.tsx
  demo/admin/src/products/generated/CreateCapProductForm.gql.tsx
  demo/admin/src/products/generated/CreateCapProductForm.tsx
  demo/admin/src/products/generated/IdFieldInForm.gql.tsx
  demo/admin/src/products/generated/IdFieldInForm.tsx
  demo/admin/src/products/generated/ManufacturersGrid.tsx
  demo/admin/src/products/generated/ProductForm.gql.ts
  demo/admin/src/products/generated/ProductForm.gql.tsx
  demo/admin/src/products/generated/ProductForm.tsx
  demo/admin/src/products/generated/ProductPriceForm.gql.tsx
  demo/admin/src/products/generated/ProductPriceForm.tsx
  demo/admin/src/products/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
  demo/admin/src/products/generated/ProductsPage.tsx
  demo/admin/src/products/generated/SelectProductsGrid.tsx
  demo/admin/src/products/validateTitle.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: future generator namings into generator
  demo/admin/src/common/MasterMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: Title not title
  demo/admin/src/products/ProductsGrid.cometGen.ts
  demo/admin/src/products/generated/ProductsGrid.tsx
  demo/admin/src/products/generated/SelectProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: generated admin code
  demo/admin/src/products/generated/ProductForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove unused code
  demo/admin/src/products/AssignProductsGrid.tsx
  demo/admin/src/products/CombinationFieldsTestProductsGrid.cometGen.ts
  demo/admin/src/products/ManufacturerForm.gql.tsx
  demo/admin/src/products/ManufacturerForm.tsx
  demo/admin/src/products/ManufacturersGrid.cometGen.ts
  demo/admin/src/products/ManufacturersGrid.tsx
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/ProductPriceForm.gql.ts
  demo/admin/src/products/ProductPriceForm.tsx
  demo/admin/src/products/ProductVariantForm.gql.ts
  demo/admin/src/products/ProductVariantForm.tsx
  demo/admin/src/products/ProductVariantsGrid.cometGen.ts
  demo/admin/src/products/ProductVariantsGrid.tsx
  demo/admin/src/products/ProductsGrid.cometGen.ts
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/ProductsGridPreviewAction.tsx
  demo/admin/src/products/SelectProductsGrid.cometGen.ts
  demo/admin/src/products/generated/CombinationFieldsTestProductsGrid.tsx
  demo/admin/src/products/generated/ManufacturersGrid.tsx
  demo/admin/src/products/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
  demo/admin/src/products/generated/SelectProductsGrid.tsx
  demo/admin/src/products/helpers/PublishAllProducts.tsx
  knip.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

not generated files
  demo/admin/src/products/future/generated/ProductForm.tsx
  demo/admin/src/products/generated/IdFieldInForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use exit code to check if childprocess was successfull or has error
  packages/api/api-generator/src/commands/generate/watchMode/handleChildProcess.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `CometConfigProvider`
  demo/admin/src/App.tsx
  demo/admin/src/config.tsx
  packages/admin/cms-admin/src/config/CometConfigContext.tsx
  packages/admin/cms-admin/src/form/file/FinalFormFileUpload.tsx
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/preview/block/BlockPreview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move page tree config to new provider
  demo/admin/src/App.tsx
  demo/admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/blocks/CmsBlockContextProvider.tsx
  packages/admin/cms-admin/src/config/CometConfigContext.tsx
  packages/admin/cms-admin/src/pages/pageTree/MovePageMenuItem.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageActions.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageLabel.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTreeContext.ts
  packages/admin/cms-admin/src/pages/pageTree/PageTreeRow.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTypeIcon.tsx
  packages/admin/cms-admin/src/pages/pageTree/useCopyPastePages.tsx
  packages/admin/cms-admin/src/pages/pageTree/useCopyPastePages/sendPages.tsx
  packages/admin/cms-admin/src/pages/pageTreeConfig.ts
  packages/admin/cms-admin/src/pages/pageTreeSelect/PageTreeSelectDialog.tsx
  packages/admin/cms-admin/src/pages/pagesPage/PagesPage.tsx
  packages/admin/cms-admin/src/pages/usePageTreeDocumentAnchors.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move DAM config to new provider
  demo/admin/src/App.tsx
  packages/admin/cms-admin/src/blocks/CmsBlockContextProvider.tsx
  packages/admin/cms-admin/src/blocks/PixelImageBlock.tsx
  packages/admin/cms-admin/src/blocks/SvgImageBlock.tsx
  packages/admin/cms-admin/src/blocks/createTextImageBlock.tsx
  packages/admin/cms-admin/src/config/CometConfigContext.tsx
  packages/admin/cms-admin/src/dam/DamPage.tsx
  packages/admin/cms-admin/src/dam/DataGrid/DamContextMenu.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/useDamFileUpload.tsx
  packages/admin/cms-admin/src/dam/DataGrid/label/DamItemLabelColumn.tsx
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
  packages/admin/cms-admin/src/dam/FileForm/FileSettingsFields.tsx
  packages/admin/cms-admin/src/dam/FileForm/ReplaceFileButton.tsx
  packages/admin/cms-admin/src/dam/config/DamConfigContext.tsx
  packages/admin/cms-admin/src/dam/config/DamConfigProvider.tsx
  packages/admin/cms-admin/src/dam/config/DamScopeProvider.tsx
  packages/admin/cms-admin/src/dam/config/damConfig.ts
  packages/admin/cms-admin/src/dam/config/useDamAcceptedMimeTypes.tsx
  packages/admin/cms-admin/src/dam/config/useDamConfig.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseFileDialog.tsx
  packages/admin/cms-admin/src/imgproxy/imgproxyConfig.ts
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/pages/pageTree/useCopyPastePages.tsx
  packages/admin/cms-admin/src/pages/pageTree/useCopyPastePages/sendPages.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move dependencies config to new provider
  demo/admin/src/App.tsx
  packages/admin/cms-admin/src/blocks/DamVideoBlock.tsx
  packages/admin/cms-admin/src/blocks/PixelImageBlock.tsx
  packages/admin/cms-admin/src/blocks/SvgImageBlock.tsx
  packages/admin/cms-admin/src/blocks/image/EditImageDialog.tsx
  packages/admin/cms-admin/src/config/CometConfigContext.tsx
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
  packages/admin/cms-admin/src/dependencies/DependenciesConfig.tsx
  packages/admin/cms-admin/src/dependencies/DependencyList.tsx
  packages/admin/cms-admin/src/dependencies/dependenciesConfig.ts
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move site configs config to new provider
  demo/admin/src/App.tsx
  demo/admin/src/config.tsx
  packages/admin/cms-admin/src/config/CometConfigContext.tsx
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/pages/pagesPage/PagesPage.tsx
  packages/admin/cms-admin/src/preview/site/SitePreview.tsx
  packages/admin/cms-admin/src/siteConfigs/siteConfigsConfig.ts
  packages/admin/cms-admin/src/siteConfigs/useSiteConfig.ts
  packages/admin/cms-admin/src/siteConfigs/useSiteConfigs.ts
  packages/admin/cms-admin/src/sitesConfig/SitesConfigProvider.tsx
  packages/admin/cms-admin/src/sitesConfig/useSitesConfig.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move build information to new provider
  demo/admin/src/App.tsx
  packages/admin/cms-admin/src/common/header/about/build-information/BuildInformationContext.tsx
  packages/admin/cms-admin/src/common/header/about/build-information/BuildInformationProvider.tsx
  packages/admin/cms-admin/src/common/header/about/build-information/buildInformation.ts
  packages/admin/cms-admin/src/common/header/about/build-information/useBuildInformation.ts
  packages/admin/cms-admin/src/config/CometConfigContext.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
