Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

COM-156: Prevent overlapping of clear-button with select-arrow (#1363)
  .changeset/slow-queens-unite.md
  packages/admin/admin-stories/src/admin/form/Select.tsx
  packages/admin/admin-theme/src/componentsTheme/getCommonSelectTheme.tsx
  packages/admin/admin/src/form/FinalFormSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Theme LinearProgress for use in DataGrid (#1387)
  .changeset/brave-rockets-invent.md
  packages/admin/admin-theme/src/componentsTheme/MuiLinearProgress.ts
  packages/admin/admin-theme/src/componentsTheme/getComponentsTheme.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove minWidth
  packages/admin/cms-admin/src/redirects/RedirectsTable.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix clearable for FinalFormSelect with `multiple`
  .changeset/shy-suns-worry.md
  packages/admin/admin-stories/src/admin/form/Select.tsx
  packages/admin/admin/src/form/FinalFormSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

COM-67: Adapt Redirects-DataGrid-Column Sizes (#1337)
  packages/admin/cms-admin/src/redirects/RedirectsTable.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

COM-160: Fix clearable for FinalFormSelect with `multiple` (#1365)
  .changeset/shy-suns-worry.md
  packages/admin/admin-stories/src/admin/form/Select.tsx
  packages/admin/admin/src/form/FinalFormSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(SaveConflictDialog): add styled component for ListItem
  packages/admin/cms-admin/src/pages/SaveConflictDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Smaller sendPages refactorings (#1373)
  packages/admin/cms-admin/src/pages/pageTree/useCopyPastePages/sendPages.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Resolve conflicts
  demo/admin/package.json
  demo/admin/src/pages/PageContentBlock.tsx
  demo/api/block-meta.json
  demo/api/src/pages/blocks/PageContentBlock.ts
  package.json
  packages/admin/admin-stories/src/admin/form/Select.tsx
  packages/admin/admin/src/form/FinalFormSelect.tsx
  packages/admin/admin/src/tabs/RouterTabs.tsx
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/blocks/DamVideoBlock.tsx
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(FinalFormSaveButton): extract disabled condition into variable
  packages/admin/admin/src/FinalFormSaveButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore(pnpm): regenerate pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Remove role- and rights-fields from CurrentUser
  .changeset/sixty-cobras-brake.md
  demo/admin/src/common/ContentScopeProvider.tsx
  demo/api/schema.gql
  demo/api/src/auth/auth.module.ts
  demo/api/src/auth/current-user.ts
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/auth/current-user/current-user.ts
  packages/api/cms-api/src/auth/decorators/allow-for-role.decorator.ts
  packages/api/cms-api/src/auth/guards/comet.guard.ts
  packages/api/cms-api/src/auth/strategies/auth-proxy-jwt.strategy.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move calculating permissions to AccessControlService
  demo/api/src/auth/access-control.service.ts
  demo/api/src/auth/user.service.ts
  packages/admin/cms-admin/src/common/MasterMenuRoutes.tsx
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove domains from CurrentUser
  demo/admin/src/common/ContentScopeProvider.tsx
  demo/api/schema.gql
  demo/api/src/auth/access-control.service.ts
  demo/api/src/auth/auth.module.ts
  demo/api/src/auth/current-user.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(PageSaveButton): make separating line dark red
  packages/admin/cms-admin/src/pages/createUsePage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove FinalFormLayoutDisplay and move logic to FinalFormLayoutSelect
  packages/admin/blocks-admin/src/blocks/factories/columnsBlock/FinalFormLayoutDisplay.tsx
  packages/admin/blocks-admin/src/blocks/factories/columnsBlock/FinalFormLayoutSelect.tsx
  packages/admin/blocks-admin/src/blocks/factories/createColumnsBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset description
  .changeset/yellow-dots-listen.md
Due: prettylint

Make AccessControlService mandatory in UserPermissionsModule-configuration
  demo/api/src/auth/access-control.service.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/user-permissions/access-control.service.ts
  packages/api/cms-api/src/user-permissions/content-scope.service.ts
  packages/api/cms-api/src/user-permissions/user-permissions.module.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore(changelog): add changesets for #842, #1222 and #1236
  .changeset/great-dolphins-grin.md
  .changeset/late-insects-search.md
  .changeset/silver-bulldogs-drum.md
  .changeset/smart-camels-leave.md
  .changeset/tall-pumpkins-compare.md
Due: prettylint

chore(changelog): add changelog for DAM scoping #976
  .changeset/ten-numbers-sip.md
Due: prettylint

Add changesets for the block index/dependencies (PRs #842, #1222 and #1236) (#1396)
  .changeset/great-dolphins-grin.md
  .changeset/late-insects-search.md
  .changeset/silver-bulldogs-drum.md
  .changeset/smart-camels-leave.md
  .changeset/tall-pumpkins-compare.md
Due: prettylint

Clarify setting `scopeParts` in `DamConfigProvider`
  .changeset/ten-numbers-sip.md
Due: prettylint

Extend instructions on how to enable DAM scoping
  .changeset/ten-numbers-sip.md
Due: prettylint

chore(changelog): add changelog for DAM paging (PR #978)
  .changeset/hot-spoons-jog.md
Due: prettylint

Add changesets for other breaking changes caused by DAM scoping
  .changeset/famous-ears-mate.md
  .changeset/slow-sloths-turn.md
  .changeset/strong-pans-explode.md
Due: prettylint

Add instruction on how to render the content scope indicator
  .changeset/ten-numbers-sip.md
Due: prettylint

Add changeset for DAM paging (PR #978) (#1398)
  .changeset/hot-spoons-jog.md
Due: prettylint

chore(changelog): add changelog for FinalForm changes
  .changeset/poor-lamps-compete.md
  .changeset/thirty-pianos-refuse.md
Due: prettylint

Docs, changelog & types for new theming method
  .changeset/yellow-houses-talk.md
  docs/docs/internal-development/create-admin-components-with-theme-support.md
  docs/docs/internal-development/index.md
  packages/admin/admin-stories/src/docs/development/CreateAComponentWithThemeSupport.stories.mdx
  packages/admin/admin/src/helpers/SlotProps.ts
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changesets for DAM scoping (PR #976) (#1397)
  .changeset/famous-ears-mate.md
  .changeset/slow-sloths-turn.md
  .changeset/strong-pans-explode.md
  .changeset/ten-numbers-sip.md
Due: prettylint

chore(changelog): add changeset for PR #1198
  .changeset/sweet-dancers-boil.md
Due: prettylint

chore(changelog): add changeset for PR #1039
  .changeset/purple-impalas-remain.md
Due: prettylint

chore(changelog): add changeset for PR #1065
  .changeset/tasty-scissors-suffer.md
Due: prettylint

chore(changelog): add changeset for PR #1127
  .changeset/tender-donkeys-watch.md
Due: prettylint

chore(changelog): add changeset for PR #1160
  .changeset/sharp-numbers-fix.md
Due: prettylint

chore(changelog): add changeset for PR #1137
  .changeset/empty-mails-approve.md
Due: prettylint

chore(changelog): add changeset for PR #1385
  .changeset/wise-rocks-wait.md
Due: prettylint

make replaceDependenciesInOutput required in the DocumentInterface
  packages/admin/cms-admin/src/documents/types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore(changelog): add changeset for PRs #1192 and #1402
  .changeset/sharp-dodos-guess.md
Due: prettylint

Make replaceDependenciesInOutput() required in the DocumentInterface (#1402)
  packages/admin/cms-admin/src/documents/types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
