Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Update .changeset/five-hotels-suffer.md
  .changeset/five-hotels-suffer.md
Due: prettylint

Improve scope check preconditions formatting in migration guide
  docs/docs/migration/migration-from-v5-to-v6.md
Due: prettylint

Fix relation name
  packages/api/cms-api/src/generator/generate-crud-relations-two-levels.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Site Middleware: use cache-manager for redirects cache for background refresh (#2132)
  demo/site/package.json
  demo/site/src/redirects/cache.ts
  demo/site/src/redirects/redirects.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Stack: update parent breadcrumb url in state to not forget filters and other states when going back
  .changeset/sharp-zebras-hear.md
  packages/admin/admin/src/stack/Breadcrumb.tsx
  packages/admin/admin/src/stack/Stack.tsx
  packages/admin/admin/src/tabs/RouterTabs.tsx
  storybook/src/admin/stack/StackBreadcrumbs.tsx
  storybook/src/admin/stack/StackBreadcrumbsTabs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve scope check preconditions formatting in migration guide (#2160)
  docs/docs/migration/migration-from-v5-to-v6.md
Due: prettylint

Add loading indicator to `IFrameViewer` (#2143)
  .changeset/neat-tigers-argue.md
  packages/admin/cms-admin/src/preview/common/IFrameViewer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add link to image in DAM to context menu of PixelImageBlock
  packages/admin/cms-admin/src/blocks/PixelImageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Admin: implement Trash in Products Grid
  demo/admin/src/products/ProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add link to image in DAM to context menu of SvgImageBlock
  packages/admin/cms-admin/src/blocks/SvgImageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/nasty-balloons-worry.md
  packages/admin/cms-admin/src/blocks/PixelImageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(VimeoVideoBlock): adjust regex to be more restrictive
  packages/admin/blocks-admin/src/blocks/VimeoVideoBlock.tsx
  packages/site/cms-site/src/blocks/VimeoVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(VimeoVideoBlock): add server side validation
  packages/api/blocks-api/src/blocks/vimeo-video.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(DamFooter): use MUI snackbar z-index with media query
  packages/admin/cms-admin/src/dam/DataGrid/footer/DamFooter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Publish types for cli-package
  packages/cli/package.json
Due: prettylint

Fix imports
  packages/admin/cms-admin/src/blocks/PixelImageBlock.tsx
  packages/admin/cms-admin/src/blocks/SvgImageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove preview-domain from site-configs
  packages/cli/src/commands/site-configs.ts
  packages/cli/src/site-configs.types.ts
  site-configs.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Publish types for `@comet/cli` package (#2162)
  packages/cli/package.json
Due: prettylint

API Generator: Add support for enum array filter and sort (#2126)
  .changeset/selfish-shrimps-explode.md
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/ProductsGrid.tsx
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20240528173751.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/dto/product.sort.ts
  packages/api/cms-api/src/common/filter/enums.filter.factory.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
  packages/api/cms-api/src/generator/generate-crud-enum-array.spec.ts
  packages/api/cms-api/src/generator/generate-crud.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `AutocompleteField` and `AsyncAutocompleteField` components (#2141)
  .changeset/olive-panthers-act.md
  packages/admin/admin/src/form/fields/AsyncAutocompleteField.tsx
  packages/admin/admin/src/form/fields/AutocompleteField.tsx
  packages/admin/admin/src/index.ts
  storybook/src/admin/form/AllFieldComponents.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent parallel release workflow runs (#2164)
  .github/workflows/release.yml
Due: none

API Generator: Fix imports in generated code for more than one level deep relations (#2091)
  .changeset/five-hotels-suffer.md
  packages/api/cms-api/src/generator/generate-crud-input.ts
  packages/api/cms-api/src/generator/generate-crud-relations-two-levels.spec.ts
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

CRUD Generator: don't add skipScopeCheck when entity has @ScopedEntity
  .changeset/empty-goats-obey.md
  packages/api/cms-api/src/generator/generate-crud-scope.spec.ts
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changeset
  .changeset/fifty-lemons-work.md
Due: prettylint

use email validator from class-validator, use data type from generated file
  packages/admin/cms-admin/src/blocks/EmailLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/unlucky-points-matter.md
  .changeset/unlucky-points-matter.md
Due: prettylint

Adjust `searchToMikroOrmQuery` function to reduce the amount of irrelevant results (#2075)
  .changeset/tasty-garlics-repair.md
  packages/api/cms-api/src/common/filter/mikro-orm.spec.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/empty-goats-obey.md
  .changeset/empty-goats-obey.md
Due: prettylint

add validation functions
  packages/admin/cms-admin/src/blocks/PhoneLinkBlock.tsx
  packages/admin/cms-admin/src/validation/isLinkTarget.ts
  packages/admin/cms-admin/src/validation/isPhoneNumber.ts
  packages/admin/cms-admin/src/validation/validatePhoneNumber.tsx
  packages/api/blocks-api/src/blocks/ExternalLinkBlock.ts
  packages/api/blocks-api/src/blocks/phone-link.block.ts
  packages/api/blocks-api/src/blocks/validator/is-link-target.validator.ts
  packages/api/blocks-api/src/blocks/validator/is-phone-number.validator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

API Generator: Don't add `skipScopeCheck` when the entity has a `@ScopedEntity()` decorator (#2165)
  .changeset/empty-goats-obey.md
  packages/api/cms-api/src/generator/generate-crud-scope.spec.ts
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add a dialog to the translation feature (#2027)
  .changeset/harmonious-morus-alba.md
  packages/admin/admin-rte/src/core/Controls/TranslationControls.tsx
  packages/admin/admin-rte/src/core/Rte.tsx
  packages/admin/admin-rte/src/core/translation/EditorStateTranslationDialog.tsx
  packages/admin/admin-rte/src/core/translation/ToolbarButton.tsx
  packages/admin/admin/src/form/FinalFormInput.tsx
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/translator/BaseTranslationDialog.tsx
  packages/admin/admin/src/translator/ContentTranslationServiceContext.tsx
  packages/admin/admin/src/translator/ContentTranslationServiceProvider.tsx
  packages/admin/admin/src/translator/PlainTextTranslationDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

correct ids in story
  storybook/src/docs/form/components/NumberField.stories.mdx
Due: none

Add link to image in DAM to context menu of DamVideoBlock
  .changeset/nasty-balloons-worry.md
  packages/admin/cms-admin/src/blocks/DamVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/nine-comics-design.md
  .changeset/nine-comics-design.md
Due: prettylint

Highlight path to package.json
  docs/docs/crud-generator/api-generator.md
Due: prettylint

Remove all `@mui/icons-material` usages (#2111)
  demo/admin/package.json
  demo/admin/src/common/ComponentDemo.tsx
  demo/api/block-meta.json
  docs/package.json
  docs/src/stories/FieldSet.tsx
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-react-select/package.json
  packages/admin/admin-react-select/src/ReactSelect.tsx
  packages/admin/admin-rte/package.json
  packages/admin/admin-rte/src/core/Controls/FeaturesButtonGroup.tsx
  packages/admin/admin-rte/src/core/extension/Link/ToolbarButton.tsx
  packages/admin/admin/package.json
  packages/admin/admin/src/common/FieldSet.tsx
  packages/admin/admin/src/stack/backbutton/StackBackButton.tsx
  packages/admin/admin/src/table/AddButton.tsx
  packages/admin/admin/src/table/DeleteButton.tsx
  packages/admin/admin/src/table/Pagination.tsx
  packages/admin/admin/src/table/TableFilterFinalForm.tsx
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/dam/DataGrid/filter/DamSortPopover.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageDeleteDialog.tsx
  packages/admin/cms-admin/src/preview/site/SitePreview.tsx
  pnpm-lock.yaml
  storybook/package.json
  storybook/src/admin-rte/RteCustomInlineStyles.tsx
  storybook/src/admin/form/CustomButtons.tsx
  storybook/src/admin/form/DisableAutoNavigation.tsx
  storybook/src/admin/stack/StackTableFormQueryAtStack.tsx
  storybook/src/admin/stack/StackTableFormQueryInTable.tsx
  storybook/src/admin/table/TableExpandedRow.tsx
  storybook/src/docs/components/ColorPicker/stories/ColorPickerCustomized.stories.tsx
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Start with CRUD generator docs (#2090)
  docs/docs/crud-generator/api-generator.md
  docs/docs/crud-generator/index.md
Due: prettylint

Fix warning about using React fragment as children in `FinalFormLayoutSelect`
  demo/admin/src/pages/blocks/ColumnsBlock.tsx
  packages/admin/blocks-admin/src/blocks/factories/columnsBlock/FinalFormLayoutSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix merge mistake
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
