Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: demo site csrf problem
  packages/site/cms-site/src/graphQLFetch/graphQLFetch.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove changeset
  .changeset/eight-mirrors-breathe.md
Due: prettylint

Re-exclude 'endAdornment' explicitly
  packages/admin/admin/src/form/FinalFormSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve typing
  packages/api/blocks-api/src/blocks/factories/createOneOfBlock.ts
  packages/api/cms-api/src/blocks/createLinkBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/old-adults-whisper.md
Due: prettylint

restore removed code amended commit
  demo/admin/src/App.tsx
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/config.tsx
  demo/admin/src/dashboard/DashboardPage.tsx
  demo/api/src/footer/entities/footer.entity.ts
  demo/api/src/footer/footer.module.ts
  demo/site/src/common/blocks/TextLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix/adjust styling to match design
  packages/admin/cms-admin/src/common/header/ImpersonationInlay.tsx
  packages/admin/cms-admin/src/common/header/UserHeaderItem.tsx
  packages/admin/cms-admin/src/common/header/impersonation/ImpersonationInlay.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make public static property readonly
  packages/api/cms-api/src/page-tree/entities/page-tree-node-base.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changeset
  .changeset/quiet-countries-itch.md
Due: prettylint

add missing dependencies
  demo/site/package.json
  knip.json
  pnpm-lock.yaml
Due: prettylint

add kill port dependency
  demo/admin/package.json
  knip.json
  pnpm-lock.yaml
Due: prettylint

sort
  demo/site/package.json
Due: prettylint

Demo Site: production tracing: Add RuntimeNodeInstrumentation (#2908)
  demo/site/package.json
  demo/site/tracing.production.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

sort package.json in demo/admin
  demo/admin/package.json
Due: prettylint

chore: add edit dialog tests in stack tabs and grid
  packages/admin/admin/src/EditDialog.stackTabsAndGrid.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor and remove unnecessary code
  storybook/src/admin/Tooltip.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat: add own actions for sonarcube
  .github/workflows/sonar-qube.yml
Due: none

chore: configure sonarcube
  sonar-project.properties
Due: none

fix: configure tsconfig locations
  sonar-project.properties
Due: none

refactor: Content-Type header to Apollo-Require-Preflight Header in graphQLFetch
  packages/site/cms-site/src/graphQLFetch/graphQLFetch.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: prettier formatting
  .github/workflows/sonar-qube.yml
Due: none

Update sonar-project.properties
  sonar-project.properties
Due: none

Remove commented mock
  packages/admin/cms-admin/src/contentScope/ContentScopeIndicator.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Install react testing library
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint

Add tests for ContentScopeIndicator
  packages/admin/cms-admin/src/contentScope/ContentScopeIndicator.spec.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add tests for DamScopeProvider
  packages/admin/cms-admin/src/dam/config/DamScopeProvider.spec.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename test files from .spec.tsx to .test.tsx
  packages/admin/cms-admin/src/contentScope/ContentScopeIndicator.test.tsx
  packages/admin/cms-admin/src/dam/config/DamScopeProvider.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

public export DatePickerNavigationClassKey in admin-date-time package
  packages/admin/admin-date-time/src/DatePickerNavigation.tsx
  packages/admin/admin-date-time/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset for public api changes in packages
  .changeset/clean-dots-pull.md
  .changeset/four-forks-call.md
  .changeset/khaki-zebras-roll.md
  .changeset/lucky-books-thank.md
  .changeset/sharp-apes-visit.md
  .changeset/spicy-bottles-admire.md
  .changeset/wicked-coins-work.md
Due: prettylint

remove comet/eslint-plugin as dev dependencies
  demo/admin/package.json
  demo/api/package.json
  demo/site-pages/package.json
  demo/site/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettylint

Invoke SonarQube via GitHub action (#2937)
  .github/workflows/sonar-qube.yml
  sonar-project.properties
Due: none

fix: add object type decorator to foot entity, update schema
  demo/api/block-meta.json
  demo/api/schema.gql
  demo/api/src/footer/entities/footer.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: remove unneeded on after submit
  packages/admin/admin/src/EditDialog.stackTabsAndGrid.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add layout block to page content api
  demo/api/block-meta.json
  demo/api/src/documents/pages/blocks/page-content.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove unused ts-ignore
  demo/admin/src/footer/EditFooterPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add basic unit test for Admin Generator
  packages/admin/cms-admin/src/generator/future/__tests__/grid/queryParamsPrefix.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

SonarQube: Allow duplications between Demo sites
  sonar-project.properties
Due: none

Demo Site: Fix Redirect to InternalPage, use absolute path
  demo/site/src/app/[domain]/[language]/[[...path]]/page.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/clean-dots-pull.md
  .changeset/clean-dots-pull.md
Due: prettylint

Update .changeset/four-forks-call.md
  .changeset/four-forks-call.md
Due: prettylint

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
