Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: add reusable copy-schema-files script (schema.gql & block-meta.json)
  .github/workflows/ci.yml
  copy-schema-files.js
  package.json
Due: prettylint

fix: only build lib packages for storybook build, demo not needed
  package.json
Due: prettylint

Make useSaveConflict focus-aware Similarly to `useFocusAwarePolling`, `useSaveConflict` now only checks for conflicts when the current browser tab is focused.
  CHANGELOG.md
  packages/admin/cms-admin/src/pages/useSaveConflict.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Upgrade uuid to v9
  demo/admin/package.json
  demo/api/package.json
  demo/api/src/footer/entities/footer.entity.ts
  demo/api/src/links/entities/link.entity.ts
  demo/api/src/menus/entities/main-menu-item.entity.ts
  demo/api/src/news/entities/news.entity.ts
  demo/api/src/pages/entities/page.entity.ts
  demo/api/src/predefined-page/entities/predefined-page.entity.ts
  demo/api/src/products/entities/product.entity.ts
  packages/admin/admin-stories/package.json
  packages/admin/admin-stories/src/docs/components/EditDialog/stories/EditDialogUserTable.stories.tsx
  packages/admin/admin/package.json
  packages/admin/admin/src/router/Prompt.tsx
  packages/admin/admin/src/snackbar/SnackbarProvider.tsx
  packages/admin/admin/src/stack/Breadcrumb.tsx
  packages/admin/admin/src/stack/Switch.tsx
  packages/admin/admin/src/table/usePersistedStateId.tsx
  packages/admin/blocks-admin/package.json
  packages/admin/blocks-admin/src/blocks/factories/createBlocksBlock.tsx
  packages/admin/blocks-admin/src/blocks/factories/createListBlock.tsx
  packages/admin/blocks-admin/src/blocks/factories/listBlock/createUseAdminComponent.tsx
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/dam/FileForm/ImageInfos.tsx
  packages/admin/cms-admin/src/pages/createUsePage.tsx
  packages/api/cms-api/package.json
  packages/api/cms-api/src/builds/entities/changes-since-last-build.entity.ts
  packages/api/cms-api/src/dam/files/dam-upload-file.interceptor.ts
  packages/api/cms-api/src/dam/files/entities/file-image.entity.ts
  packages/api/cms-api/src/dam/files/entities/file.entity.ts
  packages/api/cms-api/src/dam/files/entities/folder.entity.ts
  packages/api/cms-api/src/dam/files/files.utils.ts
  packages/api/cms-api/src/page-tree/entities/attached-document.entity.ts
  packages/api/cms-api/src/page-tree/entities/page-tree-node-base.entity.ts
  packages/api/cms-api/src/public-upload/entities/public-upload.entity.ts
  packages/api/cms-api/src/public-upload/public-upload-file.interceptor.ts
  packages/api/cms-api/src/redirects/entities/redirect-entity.factory.ts
  yarn.lock
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add getEntity-Callback to SubjectEntity
  packages/api/cms-api/src/common/decorators/subject-entity.decorator.ts
  packages/api/cms-api/src/content-scope/scope.guard.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Convert to plain object before checking scope
  packages/api/cms-api/src/content-scope/scope.guard.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Simplify dev setup by removing proxy and use localhost directly
  .env
  README.md
  demo/admin/webpack.config.ts
  ecosystem-demo-api.config.js
  packages/api/cms-api/src/auth/strategies/bearer-token.strategy.ts
  proxy.js
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename method
  packages/api/cms-api/src/common/decorators/subject-entity.decorator.ts
  packages/api/cms-api/src/content-scope/scope.guard.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix page tree click and fix page label styling
  packages/admin/cms-admin/src/pages/pageTree/PageInfo.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageLabel.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTreeRow.sc.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add option to add additional page tree fragment
  demo/admin/src/App.tsx
  demo/admin/src/common/EditPageNode.tsx
  demo/admin/src/links/Link.tsx
  demo/admin/src/pages/Page.tsx
  packages/admin/cms-admin/src/blocks/CmsBlockContextProvider.tsx
  packages/admin/cms-admin/src/documents/types.ts
  packages/admin/cms-admin/src/pages/pageTree/MovePageMenuItem.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTreeContext.ts
  packages/admin/cms-admin/src/pages/pageTreeSelect/PageTreeSelectDialog.tsx
  packages/admin/cms-admin/src/pages/pagesPage/PagesPage.tsx
  packages/admin/cms-admin/src/pages/pagesPage/createPagesQuery.ts
  packages/admin/cms-admin/src/pages/pagesPage/pagesQuery.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix i18n message extraction
  .github/workflows/ci.yml
Due: none

remove React import
  packages/admin/cms-admin/src/documents/types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changelog for additionalPageTreeNodes
  CHANGELOG.md
Due: prettylint

Get breadcrumbs width using ResizeObserver
  packages/admin/admin/package.json
  packages/admin/admin/src/stack/breadcrumbs/StackBreadcrumbs.tsx
  packages/admin/admin/src/stack/breadcrumbs/utils.tsx
  yarn.lock
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changelog for 3.1.0 release
  CHANGELOG.md
Due: prettylint

Change publish message
  lerna.json
Due: prettylint

Publish v3.1.0
  lerna.json
  packages/admin/admin-babel-preset/package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-react-select/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin-theme/package.json
  packages/admin/admin/package.json
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/blocks-api/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/site/cms-site/package.json
  yarn.lock
Due: prettylint

Fix pages query without additional page tree node fragment
  CHANGELOG.md
  packages/admin/cms-admin/src/pages/pagesPage/createPagesQuery.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Run intl on main
  .github/workflows/ci.yml
Due: none

Don't rimraf lib (clean) on start/dev of libraries
  package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-react-select/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin-theme/package.json
  packages/admin/admin/package.json
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/blocks-api/package.json
  packages/api/cms-api/package.json
  packages/api/cms-api/src/mikro-orm/mikro-orm.module.ts
  packages/cli/package.json
  packages/site/cms-site/package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

also add clean commands to dev-pm scripts
  package.json
Due: prettylint

Fix clean commands for macOS
  package.json
Due: prettylint

Sort block-meta.json by block name Prevents unnecessary changes due to import order of blocks.
  demo/api/block-meta.json
  packages/api/blocks-api/block-meta.json
  packages/api/blocks-api/package.json
  packages/api/blocks-api/src/blocks-meta.ts
  packages/api/cms-api/block-meta.json
  yarn.lock
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor SitePreview
  demo/admin/src/App.tsx
  packages/admin/cms-admin/src/preview/SitePreview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor admin preview into site/block/common subfolders for better logical separation of the two different but similar features
  demo/admin/src/pages/EditPage.tsx
  demo/admin/src/pages/mainMenu/components/EditMainMenuItem.tsx
  demo/api/block-meta.json
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/pages/pageTree/PageActions.tsx
  packages/admin/cms-admin/src/preview/block/BlockPreview.tsx
  packages/admin/cms-admin/src/preview/block/BlockPreviewWithTabs.tsx
  packages/admin/cms-admin/src/preview/block/SplitPreview.sc.ts
  packages/admin/cms-admin/src/preview/block/SplitPreview.tsx
  packages/admin/cms-admin/src/preview/block/useBlockPreview.ts
  packages/admin/cms-admin/src/preview/common/Device.ts
  packages/admin/cms-admin/src/preview/common/DeviceToggle.tsx
  packages/admin/cms-admin/src/preview/common/IFrameViewer.tsx
  packages/admin/cms-admin/src/preview/common/ToggleButton.tsx
  packages/admin/cms-admin/src/preview/common/VisibilityToggle.tsx
  packages/admin/cms-admin/src/preview/common/icons/DeviceFrameDesktop.tsx
  packages/admin/cms-admin/src/preview/common/icons/DeviceFrameMobile.tsx
  packages/admin/cms-admin/src/preview/common/icons/DeviceFrameTablet.tsx
  packages/admin/cms-admin/src/preview/openSitePreviewWindow.ts
  packages/admin/cms-admin/src/preview/site/OpenLinkDialog.tsx
  packages/admin/cms-admin/src/preview/site/SitePreview.sc.tsx
  packages/admin/cms-admin/src/preview/site/SitePreview.tsx
  packages/admin/cms-admin/src/preview/site/buildPreviewUrl.spec.ts
  packages/admin/cms-admin/src/preview/site/buildPreviewUrl.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor iframebridge: Split into two parts, one for block preview one for site preview
  demo/site/src/pages/preview/[[...path]].tsx
  packages/admin/blocks-admin/src/iframebridge/IFrameMessage.ts
  packages/admin/blocks-admin/src/index.ts
  packages/admin/cms-admin/src/preview/block/BlockPreview.tsx
  packages/admin/cms-admin/src/preview/site/SitePreview.tsx
  packages/admin/cms-admin/src/preview/site/iframebridge/SitePreviewIFrameBridge.tsx
  packages/admin/cms-admin/src/preview/site/iframebridge/SitePreviewIFrameMessage.ts
  packages/site/cms-site/src/blocks/ExternalLinkBlock.tsx
  packages/site/cms-site/src/iframebridge/IFrameMessage.ts
  packages/site/cms-site/src/index.ts
  packages/site/cms-site/src/sitePreview/SitePreviewPage.tsx
  packages/site/cms-site/src/sitePreview/SitePreviewProvider.tsx
  packages/site/cms-site/src/sitePreview/iframebridge/SitePreviewIFrameBridge.tsx
  packages/site/cms-site/src/sitePreview/iframebridge/SitePreviewIFrameMessage.ts
  packages/site/cms-site/src/sitePreview/iframebridge/useSitePreviewIFrameBridge.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor consistent naming: previewState -> previewParams
  packages/admin/cms-admin/src/preview/site/SitePreview.tsx
  packages/site/cms-site/src/index.ts
  packages/site/cms-site/src/preview/constants.ts
  packages/site/cms-site/src/preview/utils.spec.ts
  packages/site/cms-site/src/preview/utils.ts
  packages/site/cms-site/src/sitePreview/SitePreviewProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Hardcode __preview instead of using constant
  packages/site/cms-site/src/preview/constants.ts
  packages/site/cms-site/src/preview/utils.spec.ts
  packages/site/cms-site/src/preview/utils.ts
  packages/site/cms-site/src/sitePreview/SitePreviewProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Document how preview is implemented
  packages/admin/cms-admin/src/preview/README.md
Due: prettylint

Move injecting accessToken from IFrameViewer into BlockPreview
  packages/admin/cms-admin/src/preview/README.md
  packages/admin/cms-admin/src/preview/block/BlockPreview.tsx
  packages/admin/cms-admin/src/preview/common/IFrameViewer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor where we append authProvider to iframeUrl from IFrameViewer to SitePreview
  packages/admin/cms-admin/src/preview/README.md
  packages/admin/cms-admin/src/preview/common/IFrameViewer.tsx
  packages/admin/cms-admin/src/preview/site/SitePreview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove useCallback that only wraps a single function that it has as dependency
  packages/admin/cms-admin/src/preview/site/iframebridge/useSitePreviewIFrameBridge.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Don't silently catch errors in onReceiveMessage callback
  packages/admin/cms-admin/src/preview/site/iframebridge/useSitePreviewIFrameBridge.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update readme, also add site states, contexts and components
  packages/admin/cms-admin/src/preview/README.md
Due: prettylint

Refactor SitePreviewIFrameBridge into a hook
  packages/admin/cms-admin/src/preview/README.md
  packages/admin/cms-admin/src/preview/site/SitePreview.tsx
  packages/admin/cms-admin/src/preview/site/iframebridge/useSitePreviewIFrameBridge.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Site IFrambeBridge: Remove unused sendMessage method from context
  packages/admin/cms-admin/src/preview/README.md
  packages/site/cms-site/src/iframebridge/IFrameBridge.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove SitePreview ready message as it is not used
  packages/admin/cms-admin/src/preview/README.md
  packages/admin/cms-admin/src/preview/site/iframebridge/SitePreviewIFrameMessage.ts
  packages/site/cms-site/src/sitePreview/iframebridge/SitePreviewIFrameBridge.tsx
  packages/site/cms-site/src/sitePreview/iframebridge/SitePreviewIFrameMessage.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Site SitePreviewIframeBridge: Refactor Context into simple helper function
  packages/admin/cms-admin/src/preview/README.md
  packages/site/cms-site/src/blocks/ExternalLinkBlock.tsx
  packages/site/cms-site/src/sitePreview/SitePreviewPage.tsx
  packages/site/cms-site/src/sitePreview/SitePreviewProvider.tsx
  packages/site/cms-site/src/sitePreview/iframebridge/SitePreviewIFrameBridge.tsx
  packages/site/cms-site/src/sitePreview/iframebridge/sendSitePreviewIFrameMessage.ts
  packages/site/cms-site/src/sitePreview/iframebridge/useSitePreviewIFrameBridge.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add comment to legacy export and export the new name
  packages/site/cms-site/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "PageTree: Multiselect Drag and Drop"
  demo/api/schema.gql
  packages/admin/cms-admin/src/pages/pageTree/PageTree.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTreeDragLayer.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTreeRow.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTreeService.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/page-tree/createPageTreeResolver.ts
  packages/api/cms-api/src/page-tree/dto/page-tree-node.input.ts
  packages/api/cms-api/src/page-tree/page-tree.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
