Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Fix conflict
  demo/site/next.config.js
  demo/site/preBuild/src/createRedirects.ts
  demo/site/preBuild/src/createRewrites.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator (Future): add required gql vars to component-props
  demo/admin/src/products/future/ProductVariantsGrid.cometGen.ts
  demo/admin/src/products/future/ProductsPage.tsx
  demo/admin/src/products/future/generated/ProductVariantsGrid.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/utils/generateGridProps.ts
  packages/admin/cms-admin/src/generator/future/utils/introspectionHelpers.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove PublicApi-decorator
  demo/api/src/menus/menus.resolver.ts
  docs/docs/auth/index.md
  packages/api/cms-api/src/auth/decorators/public-api.decorator.ts
  packages/api/cms-api/src/auth/guards/comet.guard.ts
  packages/api/cms-api/src/auth/resolver/auth.resolver.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/public-upload/public-uploads.controller.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changelog
  .changeset/great-hotels-unite.md
Due: prettylint

App Router + react-intl
  demo/site/src/app/layout.tsx
  demo/site/src/app/news/[slug]/page.tsx
  demo/site/src/news/NewsDetail.fragment.ts
  demo/site/src/news/NewsDetail.tsx
  demo/site/src/news/NewsList.tsx
  demo/site/src/util/IntlProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

reworked the MR. removed example implementations, added OpenAiContentGenerationService to use openais models. simplified config
  demo/admin/src/App.tsx
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/config/config.ts
  demo/api/src/config/environment-variables.ts
  demo/api/src/content-generation-models.ts
  packages/admin/admin/src/contentGeneration/ContentGenerationServiceContext.ts
  packages/admin/admin/src/contentGeneration/ContentGenerationServiceProvider.tsx
  packages/admin/admin/src/contentGeneration/useContentGenerationService.ts
  packages/admin/admin/src/index.ts
  packages/admin/cms-admin/src/dam/FileForm/FileSettingsFields.tsx
  packages/admin/cms-admin/src/dam/config/DamConfigContext.tsx
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/package.json
  packages/api/cms-api/src/content-generation/content-generation.config.ts
  packages/api/cms-api/src/content-generation/content-generation.constants.ts
  packages/api/cms-api/src/content-generation/content-generation.module.ts
  packages/api/cms-api/src/content-generation/content-generation.resolver.ts
  packages/api/cms-api/src/content-generation/content-generation.service.interface.ts
  packages/api/cms-api/src/content-generation/content-generation.service.ts
  packages/api/cms-api/src/content-generation/content-generation.types.ts
  packages/api/cms-api/src/content-generation/generate-alt-text.resolver.ts
  packages/api/cms-api/src/content-generation/generate-image-title.resolver.ts
  packages/api/cms-api/src/content-generation/openai-content-generation.service.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix CONTRIBUTING.md link in PR template
  .github/pull_request_template.md
Due: prettylint

Rework toolbar to adhere new design
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/admin/src/common/toolbar/actions/ToolbarActionButton.tsx
  packages/admin/admin/src/common/toolbar/actions/ToolbarActions.tsx
  packages/admin/admin/src/common/toolbar/automatictitleitem/ToolbarAutomaticTitleItem.tsx
  packages/admin/admin/src/common/toolbar/backbutton/ToolbarBackButton.tsx
  packages/admin/admin/src/common/toolbar/item/ToolbarItem.tsx
  storybook/src/admin/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Integrate breadcrumbs and scope indicator into toolbar
  demo/admin/src/dashboard/Dashboard.tsx
  demo/admin/src/pages/EditPage.tsx
  demo/admin/src/pages/mainMenu/components/EditMainMenuItem.tsx
  demo/admin/src/pages/mainMenu/components/MainMenuItems.tsx
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/admin/src/common/toolbar/actions/ToolbarActions.tsx
  packages/admin/cms-admin/src/builds/PublisherPage.tsx
  packages/admin/cms-admin/src/cronJobs/CronJobsGrid.tsx
  packages/admin/cms-admin/src/cronJobs/CronJobsPage.tsx
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/pages/pagesPage/PagesPage.tsx
  packages/admin/cms-admin/src/redirects/RedirectsTable.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make `ContentOverflow` overridable
  packages/admin/admin/src/ContentOverflow.tsx
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Temporarily remove field due to issue with the UsableFields type
  demo/admin/src/products/future/ProductForm.cometGen.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unnecessary update-fragment (no longer prestent in next branch)
  packages/admin/cms-admin/src/generator/future/generateForm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Run admin generator
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ProductForm.gql.tsx
  demo/admin/src/products/future/generated/ProductForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix CONTRIBUTING.md link in PR template (#1880)
  .github/pull_request_template.md
Due: prettylint

Add new ContentScopeIndicator to generators
  demo/admin/src/news/generated/NewsForm.tsx
  demo/admin/src/news/generated/NewsGrid.tsx
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/ProductsPage.tsx
  demo/admin/src/products/categories/ProductCategoriesTable.tsx
  demo/admin/src/products/categories/ProductCategoryForm.tsx
  demo/admin/src/products/future/generated/ProductForm.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  demo/admin/src/products/generated/ProductForm.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
  demo/admin/src/products/tags/ProductTagForm.tsx
  demo/admin/src/products/tags/ProductTagTable.tsx
  packages/admin/admin-theme/src/colors.ts
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/generateForm.ts
  packages/admin/cms-admin/src/generator/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent date-picker from crashing with initial-value
  demo/admin/src/products/future/generated/ProductForm.tsx
  packages/admin/cms-admin/src/generator/future/generateForm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move test into separate workflow
  .github/workflows/test-report.yml
  .github/workflows/test.yml
Due: none

Build packages before tests
  .github/workflows/test.yml
Due: none

Move grid-specific helper into generateGrid.ts
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/utils/generateGridProps.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Automatically hide bottomBar if it's empty
  demo/admin/src/dashboard/Dashboard.tsx
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make `ContentOverflow` overridable (#1883)
  packages/admin/admin/src/ContentOverflow.tsx
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add comment regarding MUI override
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove toolbar comments
  storybook/src/admin/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix indentation
  packages/admin/cms-admin/src/generator/future/generateForm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make all icons of `ContentOverflow` overridable with a single prop (#1876)
  packages/admin/admin/src/ContentOverflow.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename baseFilter to filter and exposeFilter to filterProp
  demo/admin/src/products/future/ProductsGrid.cometGen.ts
  demo/admin/src/products/future/ProductsWithLowPricePage.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Undo refactoring
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/utils/introspectionHelpers.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Undo remove redundant variable
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Undo refactoring
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/utils/generateGridProps.ts
  packages/admin/cms-admin/src/generator/future/utils/introspectionHelpers.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add basic news list and detail page rendering in Demo site (#1852)
  demo/admin/src/news/blocks/NewsContentBlock.tsx
  demo/api/block-meta.json
  demo/api/src/news/blocks/news-content.block.ts
  demo/site/src/app/news/[slug]/page.tsx
  demo/site/src/app/news/page.tsx
  demo/site/src/news/NewsList.fragment.ts
  demo/site/src/news/NewsList.tsx
  demo/site/src/news/blocks/NewsContentBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/giant-ladybugs-greet.md
Due: prettylint

Remove prop 'clearable' from 'DatePicker'
  packages/admin/admin-date-time/src/DatePicker.tsx
  storybook/src/admin-date-time/DatePicker.tsx
  storybook/src/docs/form/components/DateAndTimePickers/stories/DatePicker.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

DEBUG: Add 'availableSince2' as DateTime to compare to 'availableSince' as Date
  demo/admin/src/products/future/ProductForm.cometGen.ts
  demo/admin/src/products/future/generated/ProductForm.gql.tsx
  demo/admin/src/products/future/generated/ProductForm.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  demo/admin/src/products/generated/ProductForm.gql.ts
  demo/admin/src/products/generated/ProductForm.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20240326140102.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/dto/product.sort.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove `Math.random()` key from Snackbar stories (#1888)
  storybook/src/docs/components/Snackbar/stories/hideSnackbar.stories.tsx
  storybook/src/docs/components/Snackbar/stories/showSnackbar.stories.tsx
  storybook/src/docs/components/Snackbar/stories/useSnackbarApiHook.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove DefaultArrow components
  packages/admin/admin/src/appHeader/dropdown/AppHeaderDropdown.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix a crash when using the Alert component inside a MUI Snackbar (v5) Backport #1650 into v5.
  .changeset/big-items-serve.md
  packages/admin/admin-stories/src/admin/alert/AlertInSnackbar.tsx
  packages/admin/admin/src/alert/Alert.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move tests into separate workflow (#1887)
  .github/workflows/test-report.yml
  .github/workflows/test.yml
Due: none

Try to create initial files in pipeline
  .github/workflows/lint.yml
  demo/admin/src/lang.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: add i18n messages workflow/scripts to site
  .github/workflows/i18n.yml
  demo/admin/package.json
  demo/site/.gitignore
  demo/site/intl-update.sh
  demo/site/package.json
  install.sh
  pnpm-lock.yaml
Due: prettylint

Add handmade form and grid for manufacturers (#1751)
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/products/ManufacturerForm.gql.tsx
  demo/admin/src/products/ManufacturerForm.tsx
  demo/admin/src/products/ManufacturersGrid.tsx
  demo/admin/src/products/ManufacturersPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
