Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

revert added export, not needed anymore
  packages/api/cms-api/src/page-tree/page-tree.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove changeset
  .changeset/add-tiptap-rich-text-renderer.md
Due: prettylint

site-react: Mark renderTipTapRichText as @experimental
  packages/site/site-react/src/blocks/helpers/TipTapRichTextRenderer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Export TipTapSupports and reuse in DraftJS converter
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/convertDraftJsToTipTap.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove cspell spell-checking from the project (#5595)
  .cspell.json
  .cspellignore
  AGENTS.md
  docs/lint-staged.config.mjs
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: prettylint

docs: installing-agent-features - Replace SSH URLs with HTTPS URLs (#5620)
  .changeset/install-agent-features.md
  docs/docs/4-guides/5-installing-agent-features.md
Due: prettylint

cms-api: migrate from Jest to Vitest (#5587)
  packages/api/cms-api/jest-setup-file.ts
  packages/api/cms-api/jest.config.ts
  packages/api/cms-api/package.json
  packages/api/cms-api/src/auth/services/basic.auth-service.spec.ts
  packages/api/cms-api/src/auth/services/jwt.auth-service.spec.ts
  packages/api/cms-api/src/auth/services/site-preview.auth-service.spec.ts
  packages/api/cms-api/src/blob-storage/backends/file/blob-storage-file.storage.spec.ts
  packages/api/cms-api/src/blob-storage/backends/s3/blob-storage-s3.storage.spec.ts
  packages/api/cms-api/src/blocks/decorators/child-block-input.test.ts
  packages/api/cms-api/src/blocks/factories/createImageLinkBlock.test.ts
  packages/api/cms-api/src/blocks/factories/createLinkBlock.test.ts
  packages/api/cms-api/src/blocks/flat-blocks/flat-blocks.spec.ts
  packages/api/cms-api/src/blocks/rootBlocks/root-block-data.scalar.spec.ts
  packages/api/cms-api/src/blocks/rootBlocks/root-block-input.scalar.spec.ts
  packages/api/cms-api/src/blocks/search/get-search-text.spec.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.test.ts
  packages/api/cms-api/src/blocks/transformToBlockSaveIndex/transformToBlockSaveIndex.spec.ts
  packages/api/cms-api/src/builds/builds.service.spec.ts
  packages/api/cms-api/src/common/errors/exception.filter.spec.ts
  packages/api/cms-api/src/common/filter/mikro-orm.spec.ts
  packages/api/cms-api/src/common/validators/is-slug.spec.ts
  packages/api/cms-api/src/cron-jobs/jobs.service.spec.ts
  packages/api/cms-api/src/document/__tests__/validateNotModified.test.ts
  packages/api/cms-api/src/entity-info/entity-info.service.spec.ts
  packages/api/cms-api/src/file-uploads/file-uploads.service.spec.ts
  packages/api/cms-api/src/file-utils/files.utils.spec.ts
  packages/api/cms-api/src/page-tree/page-tree-read-api.test.ts
  packages/api/cms-api/src/redirects/redirects.util.test.ts
  packages/api/cms-api/src/user-permissions/access-control.service.test.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.spec.ts
  packages/api/cms-api/vitest.config.ts
  packages/api/cms-api/vitest.setup.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

site-nextjs: Fix `PixelImageBlock` and `Image` failing in Pages Router (#5616)
  .changeset/fix-pixel-image-block-pages-router-interop.md
  packages/site/site-nextjs/src/blocks/PixelImageBlock.tsx
  packages/site/site-nextjs/src/image/Image.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Backport v8: site-nextjs: Fix `PixelImageBlock` and `Image` failing in Pages Router (#5625)
  .changeset/fix-pixel-image-block-pages-router-interop-v8.md
  packages/site/site-nextjs/src/blocks/PixelImageBlock.tsx
  packages/site/site-nextjs/src/image/Image.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

API: add fullTextSearch query that works across all entities using EntityInfo (#5461)
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/db/migrations/Migration20260413095032.ts
  demo/api/src/news/entities/news.entity.ts
  demo/api/src/products/entities/manufacturer.entity.ts
  demo/api/src/products/entities/product.entity.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/common/enum/core-permission.enum.ts
  packages/api/cms-api/src/dependencies/dependencies.service.ts
  packages/api/cms-api/src/entity-info/entity-info.decorator.ts
  packages/api/cms-api/src/entity-info/entity-info.object.ts
  packages/api/cms-api/src/entity-info/entity-info.service.spec.ts
  packages/api/cms-api/src/entity-info/entity-info.service.ts
  packages/api/cms-api/src/entity-info/resolve-field-to-sql.spec.ts
  packages/api/cms-api/src/entity-info/resolve-field-to-sql.ts
  packages/api/cms-api/src/full-text-search/dto/paginated-entity-info.ts
  packages/api/cms-api/src/full-text-search/entities/entity-info-full-text.object.ts
  packages/api/cms-api/src/full-text-search/full-text-search.module.ts
  packages/api/cms-api/src/full-text-search/full-text-search.resolver.ts
  packages/api/cms-api/src/full-text-search/full-text-search.service.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/mikro-orm/helper/entity-to-mikro-orm-full-text.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

TipTapRichTextBlock: Add inlineStyles with appliesTo filtering (#5529)
  demo/admin/src/common/blocks/TipTapRichTextBlock.tsx
  demo/api/src/common/blocks/tip-tap-rich-text.block.ts
  demo/site/src/common/blocks/RichTextBlock.module.scss
  demo/site/src/common/blocks/TipTapRichTextBlock.tsx
  packages/admin/cms-admin/src/blocks/tipTap/InlineStyleContext.ts
  packages/admin/cms-admin/src/blocks/tipTap/TipTapToolbar.tsx
  packages/admin/cms-admin/src/blocks/tipTap/__stories__/TipTapRichTextBlock.stories.tsx
  packages/admin/cms-admin/src/blocks/tipTap/createTipTapRichTextBlock.tsx
  packages/admin/cms-admin/src/blocks/tipTap/extensions/InlineStyleMark.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/api/cms-api/src/blocks/tipTap/extensions/InlineStyleMark.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename install-agent-skills to install-agent-features in session-start.sh
  .claude/scripts/session-start.sh
Due: none

cleanup public index.ts
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

switch to mui datagrid instead of mui datagrid pro in cms-admin
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

storybook: fix read-only .name property on story exports (#5610)
  storybook/src/admin/clipboard/clipboard.stories.tsx
  storybook/src/admin/common/dialog/Dialog.stories.tsx
  storybook/src/admin/edit-dialog/NestedEditDialogInStack.stories.tsx
  storybook/src/admin/form/DependentAsyncSelects.stories.tsx
  storybook/src/admin/inlineAlert/InlineAlert.stories.tsx
  storybook/src/cms-admin/ContentScopeProvider/OptionalDimensions.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Move Tooltip stories to package storybook (#5611)
  packages/admin/admin/src/common/__stories__/Tooltip.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Move Button stories to package storybook
  packages/admin/admin/src/common/buttons/__stories__/Button.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Remove old Button.stories.tsx location
  storybook/src/admin/Button.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Adjust DeleteButton story title to reflect directory structure
  packages/admin/admin/src/common/buttons/delete/__stories__/DeleteButton.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Move SectionHeadline stories to package storybook
  packages/admin/admin/src/section/__stories__/SectionHeadline.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Remove SectionHeadline stories from root storybook
  storybook/src/admin/SectionHeadline.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Move Button stories to package storybook (#5629)
  packages/admin/admin/src/common/buttons/__stories__/Button.stories.tsx
  packages/admin/admin/src/common/buttons/delete/__stories__/DeleteButton.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Move SectionHeadline stories to package storybook (#5630)
  packages/admin/admin/src/section/__stories__/SectionHeadline.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add Claude session initialization scripts and configuration (#5589)
  .claude/.gitignore
  .claude/scripts/session-start.sh
  .claude/settings.json
  .gitignore
Due: prettylint

Remove openspec config file
  packages/mail-react/openspec/config.yaml
Due: none

storybook: Resolve Chromatic refs to the current PR's branch
  storybook/.storybook/main.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Run Chromatic on every pull request
  .github/workflows/chromatic.yml
Due: none

Fix lint errors
  packages/admin/admin-generator/package.json
  packages/api/api-generator/eslint.config.mjs
  packages/api/api-generator/package.json
  packages/api/brevo-api/eslint.config.mjs
  packages/api/brevo-api/package.json
  packages/api/cms-api/eslint.config.mjs
  packages/api/cms-api/package.json
  packages/cli/eslint.config.mjs
  packages/cli/package.json
  packages/eslint-config/core.js
  packages/eslint-config/eslint.config.mjs
  packages/eslint-plugin/eslint.config.mjs
  packages/eslint-plugin/package.json
  packages/mail-react/package.json
Due: prettylint

storybook: Match Chromatic's full branch URL sanitization rules
  storybook/.storybook/main.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: Link the navbar Storybook button to the current deploy
  docs/docusaurus.config.js
Due: prettylint

Crop images according to cropArea chosen in DAM when retrieving them via the `url` field resolver
  .changeset/all-banks-wish.md
  packages/api/cms-api/src/dam/files/file-image.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Remove @mui/x-data-grid-pro runtime import from table block
  .changeset/remove-table-block-data-grid-pro-runtime-import.md
  packages/admin/cms-admin/src/blocks/table/EditCell.tsx
  packages/admin/cms-admin/src/blocks/table/TableBlockGrid.tsx
  packages/admin/cms-admin/src/blocks/table/dataGridStyles.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add a `urlTemplate` field resolver to `FileImagesResolver`
  .changeset/cool-streets-relax.md
  packages/api/cms-api/src/dam/files/file-image.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

adjust error message
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Migrate Stack stories to admin package Storybook
  packages/admin/admin/package.json
  packages/admin/admin/src/stack/__stories__/RouterTabsNestedStack.stories.tsx
  packages/admin/admin/src/stack/__stories__/Stack.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackBackButton.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackBreadcrumbs.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackBreadcrumbsTabs.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackCustomSeparator.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackLink.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackNested.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackNestedOnInitialPage.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackNestedOneStack.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackPageTitle.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackReactNodeTitle.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackRefApi.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackTableFormQueryAtStack.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackTableFormQueryInTable.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackUrl.stories.tsx
  packages/admin/admin/src/storybook-helpers/ApolloRest.decorator.tsx
  packages/admin/admin/src/storybook-helpers/StoryRouter.decorator.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update pnpm-lock.yaml for apollo-link-rest devDependency
  pnpm-lock.yaml
Due: none

Add listLevelMax option to TipTapRichTextBlock (#5617)
  packages/admin/cms-admin/src/blocks/tipTap/TipTapToolbar.tsx
  packages/admin/cms-admin/src/blocks/tipTap/__stories__/TipTapRichTextBlock.stories.tsx
  packages/admin/cms-admin/src/blocks/tipTap/createTipTapRichTextBlock.tsx
  packages/admin/cms-admin/src/blocks/tipTap/listLevelMaxHelpers.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove OpenSpec workflow/dependency and move relevant context into generic documentation (#5615)
  install.sh
  packages/mail-react/.gitignore
  packages/mail-react/AGENTS.md
  packages/mail-react/README.md
  packages/mail-react/openspec/config.yaml
  packages/mail-react/package.json
  pnpm-lock.yaml
Due: prettylint

Migrate Stack stories to admin package Storybook
  packages/admin/admin/src/storybook-helpers/StoryRouter.decorator.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
