Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix Docs Netlify build (#5563)
  docs/netlify.toml
Due: none

site-react, site-nextjs: update Vite to v7
  .changeset/update-vite-v7-site.md
  packages/site/site-nextjs/package.json
  packages/site/site-nextjs/vite.config.mts
  packages/site/site-react/package.json
  packages/site/site-react/vite.config.mts
  pnpm-lock.yaml
Due: prettylint

Add translation support for textarea fields (#5556)
  .changeset/translate-textarea-fields.md
  packages/admin/admin/src/form/FinalFormInput.tsx
  packages/admin/admin/src/translator/PlainTextTranslationDialog.tsx
  packages/admin/admin/src/translator/__stories__/ContentTranslation.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Mail-React: Add Config-Context System (#5550)
  .changeset/add-mail-react-config-context.md
  .cspellignore
  docs/docs/3-features-modules/13-building-html-emails/2-components-and-theme.md
  docs/docs/3-features-modules/13-building-html-emails/4-customization.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-config-context/.openspec.yaml
  packages/mail-react/openspec/changes/archive/2026-05-05-add-config-context/design.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-config-context/proposal.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-config-context/specs/config-context/spec.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-config-context/tasks.md
  packages/mail-react/openspec/specs/config-context/spec.md
  packages/mail-react/src/components/mailRoot/MjmlMailRoot.tsx
  packages/mail-react/src/config/ConfigProvider.test.tsx
  packages/mail-react/src/config/ConfigProvider.tsx
  packages/mail-react/src/index.ts
  skills/comet-mail-react/SKILL.md
  skills/comet-mail-react/references/components-and-theme.md
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

site-react, site-nextjs: remove changeset for dev-only Vite update
  .changeset/update-vite-v7-site.md
Due: prettylint

Complete unfinished spec
  packages/mail-react/openspec/specs/pixel-image-blocks/spec.md
Due: prettylint

Update docs and skill
  docs/docs/3-features-modules/13-building-html-emails/1-email-basics.md
  docs/docs/3-features-modules/13-building-html-emails/2-components-and-theme.md
  docs/docs/3-features-modules/13-building-html-emails/3-blocks.md
  docs/docs/3-features-modules/13-building-html-emails/4-rendering.md
  docs/docs/3-features-modules/13-building-html-emails/5-customization.md
  docs/docs/3-features-modules/13-building-html-emails/6-layout-patterns.md
  docs/docs/3-features-modules/13-building-html-emails/index.md
  skills/comet-mail-react/SKILL.md
Due: prettylint

Add `HtmlPixelImageBlock` and `MjmlPixelImageBlock` components
  .changeset/add-mail-react-pixel-image-blocks.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-pixel-image-blocks/.openspec.yaml
  packages/mail-react/openspec/changes/archive/2026-05-05-add-pixel-image-blocks/design.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-pixel-image-blocks/proposal.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-pixel-image-blocks/specs/pixel-image-blocks/spec.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-pixel-image-blocks/tasks.md
  packages/mail-react/openspec/specs/pixel-image-blocks/spec.md
  packages/mail-react/src/blocks/pixelImage/HtmlPixelImageBlock.tsx
  packages/mail-react/src/blocks/pixelImage/MjmlPixelImageBlock.tsx
  packages/mail-react/src/blocks/pixelImage/__stories__/HtmlPixelImageBlock.stories.tsx
  packages/mail-react/src/blocks/pixelImage/__stories__/MjmlPixelImageBlock.stories.tsx
  packages/mail-react/src/blocks/pixelImage/__stories__/exampleBlockData.ts
  packages/mail-react/src/blocks/pixelImage/__tests__/usePixelImageConfig.test.tsx
  packages/mail-react/src/blocks/pixelImage/__tests__/usePixelImageData.test.tsx
  packages/mail-react/src/blocks/pixelImage/usePixelImageConfig.ts
  packages/mail-react/src/blocks/pixelImage/usePixelImageData.ts
  packages/mail-react/src/config/ConfigProvider.tsx
  packages/mail-react/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

site-react, site-nextjs: update Vite to v7 (#5564)
  packages/site/site-nextjs/package.json
  packages/site/site-nextjs/vite.config.mts
  packages/site/site-react/package.json
  packages/site/site-react/vite.config.mts
  pnpm-lock.yaml
Due: prettylint

Fix `hideContextMenu` not hiding the context menu column in the DAM `DataGrid` (#5539)
  .changeset/dam-table-fix-hide-context-menu.md
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename `ChooseFileDialog` to `ChooseDamFileDialog` (#5540)
  .changeset/old-yaks-shave.md
  packages/admin/cms-admin/src/form/file/FileField.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Hide selective actions of DAM more actions menu in `ChooseDamFileDialog` (#5541)
  .changeset/cold-walls-travel.md
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Multi select `FileField` (#5542)
  .changeset/dam-files-list-ids-filter.md
  .changeset/export-choose-dam-files-dialog.md
  .changeset/filefield-multi-select.md
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  demo/api/schema.gql
  demo/api/src/dam/entities/dam-file.entity.ts
  demo/api/src/db/migrations/Migration20260504092659.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/product.resolver.ts
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamSelectionContext.tsx
  packages/admin/cms-admin/src/form/file/FileField.gql.ts
  packages/admin/cms-admin/src/form/file/FileField.tsx
  packages/admin/cms-admin/src/form/file/FileFieldMenu.tsx
  packages/admin/cms-admin/src/form/file/FileFieldRow.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/BaseChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFilesDialog.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/dam/files/dto/file.args.ts
  packages/api/cms-api/src/dam/files/files.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix conflicts
  demo/api/schema.gql
  demo/api/src/products/generated/product.resolver.ts
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/form/file/FileField.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
  packages/api/cms-api/src/dam/files/files.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix test on mac
  packages/admin/cms-admin/src/blocks/tipTap/__stories__/TipTapRichTextBlock.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Backport v8: Multi select FileField (#5565)
  .changeset/cold-walls-travel.md
  .changeset/dam-files-list-ids-filter.md
  .changeset/dam-table-fix-hide-context-menu.md
  .changeset/export-choose-dam-files-dialog.md
  .changeset/filefield-multi-select.md
  .changeset/old-yaks-shave.md
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  demo/api/schema.gql
  demo/api/src/dam/entities/dam-file.entity.ts
  demo/api/src/db/migrations/Migration20260504092659.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.input.ts
  demo/api/src/products/generated/product.resolver.ts
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamSelectionContext.tsx
  packages/admin/cms-admin/src/form/file/FileField.gql.ts
  packages/admin/cms-admin/src/form/file/FileField.tsx
  packages/admin/cms-admin/src/form/file/FileFieldMenu.tsx
  packages/admin/cms-admin/src/form/file/FileFieldRow.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/BaseChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFileDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseDamFilesDialog.tsx
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseFileDialog.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/dam/files/dto/file.args.ts
  packages/api/cms-api/src/dam/files/files.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

site-react: add JsonLd component for typed schema.org structured data
  .changeset/add-jsonld-component.md
  packages/site/site-nextjs/src/index.ts
  packages/site/site-react/package.json
  packages/site/site-react/src/index.ts
  packages/site/site-react/src/jsonLd/JsonLd.test.tsx
  packages/site/site-react/src/jsonLd/JsonLd.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: use JsonLd component for SEO structured data on Page
  demo/site/package.json
  demo/site/src/documents/pages/Page.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: validate the SEO block's structured data field as JSON
  .changeset/validate-seo-structured-data-json.md
  packages/admin/cms-admin/src/blocks/createSeoBlock.tsx
  packages/admin/cms-admin/src/validation/validateJson.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "Add onError prop to ErrorBoundary for external error reporting"
  .changeset/add-error-boundary-on-error-prop.md
  packages/admin/admin/src/error/errorboundary/ErrorBoundary.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add ErrorHandlerProvider for centralized error reporting from ErrorBoundary
  .changeset/admin-error-handler-provider.md
  .changeset/cms-admin-comet-config-on-error.md
  demo/admin/src/App.tsx
  packages/admin/admin/src/error/errorHandler/ErrorHandlerProvider.test.tsx
  packages/admin/admin/src/error/errorHandler/ErrorHandlerProvider.tsx
  packages/admin/admin/src/error/errorboundary/ErrorBoundary.tsx
  packages/admin/admin/src/index.ts
  packages/admin/cms-admin/src/config/CometConfigContext.tsx
  storybook/src/admin/error-handling/ErrorHandlerProvider.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add comments to copied pixel-image utils
  packages/mail-react/src/blocks/pixelImage/usePixelImageData.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Share pixel-image block props
  packages/mail-react/src/blocks/pixelImage/HtmlPixelImageBlock.tsx
  packages/mail-react/src/blocks/pixelImage/MjmlPixelImageBlock.tsx
  packages/mail-react/src/blocks/pixelImage/common.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add a dev-pm skill
  skills/dev-pm/SKILL.md
Due: prettylint

Rename config setting to include "block"
  .changeset/add-mail-react-pixel-image-blocks.md
  docs/docs/3-features-modules/13-building-html-emails/3-blocks.md
  packages/mail-react/openspec/specs/pixel-image-blocks/spec.md
  packages/mail-react/src/blocks/pixelImage/__stories__/HtmlPixelImageBlock.stories.tsx
  packages/mail-react/src/blocks/pixelImage/__stories__/MjmlPixelImageBlock.stories.tsx
  packages/mail-react/src/blocks/pixelImage/__tests__/usePixelImageConfig.test.tsx
  packages/mail-react/src/blocks/pixelImage/__tests__/usePixelImageData.test.tsx
  packages/mail-react/src/blocks/pixelImage/usePixelImageConfig.ts
  packages/mail-react/src/config/ConfigProvider.tsx
  packages/mail-react/src/index.ts
  skills/comet-mail-react/SKILL.md
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: storybook preview
  storybook/.storybook/preview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

storybook: use import.meta.env for MUI license key
  storybook/.storybook/preview.tsx
  storybook/.storybook/vendor.d.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: Stack crash when location changes before any breadcrumb is registered
  .changeset/fix-stack-empty-breadcrumbs.md
  packages/admin/admin/src/stack/Stack.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename selectedCount to deleteCount
  packages/admin/admin/src/common/DeleteDialog.tsx
  packages/admin/cms-admin/src/redirects/RedirectsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove cms-api changeset and improve cms-admin
  .changeset/salty-lights-try.md
  .changeset/ten-pets-sing.md
Due: prettylint

add validation for ids
  packages/api/cms-api/src/redirects/redirects.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add undefined as fallback for onValueChange
  demo/site/src/common/components/form/SelectField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename outer most element to root in ErrorText
  demo/site/src/common/components/form/ErrorText.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename outer most element to root in HelperText
  demo/site/src/common/components/form/HelperText.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename styling classes to root
  demo/site/src/common/components/form/ErrorText.module.scss
  demo/site/src/common/components/form/HelperText.module.scss
Due: prettylint

Fix Storybook preview crashing due to missing process global (#5573)
  storybook/.storybook/preview.tsx
  storybook/.storybook/vendor.d.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: rename mailer config options `sendAllMailsTo`/`sendAllMailsBcc`
  .changeset/rename-mailer-config-options.md
  demo/api/src/config/config.ts
  demo/api/src/config/environment-variables.ts
  docs/docs/3-features-modules/11-mailer-module/index.md
  packages/api/cms-api/src/mailer/mailer.module.ts
  packages/api/cms-api/src/mailer/mailer.service.ts
  packages/api/cms-api/src/mailer/send-test-mail.command.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix build of docs by bumping `@docusaurus` packages
  docs/package.json
  pnpm-lock.yaml
Due: prettylint

cms-admin: Fix PixelImageBlock crash when selecting a DAM file
  .changeset/fix-pixel-image-block-crash.md
  packages/admin/cms-admin/src/form/file/FileField.gql.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix build of docs by bumping `@docusaurus` packages (#5581)
  docs/package.json
  pnpm-lock.yaml
Due: prettylint

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
