Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use correct var
  demo/admin/src/products/generator/generated/IdFieldInForm.tsx
  demo/admin/src/products/generator/generated/ProductForm.tsx
  packages/admin/admin-generator/src/commands/generate/generateForm/generateForm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use simpler Record which works as well
  demo/admin/src/products/generator/generated/CreateCapProductForm.tsx
  demo/admin/src/products/generator/generated/IdFieldInForm.tsx
  demo/admin/src/products/generator/generated/ProductForm.tsx
  demo/admin/src/products/generator/generated/ProductVariantForm.tsx
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/generateErrorMessages.test.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateErrorMessages.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update test snapshots for grid generator changes (#5176)
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/generateGrid.test.ts.snap
Due: none

Configure demo to use PostgreSQL TEXT for string columns (#5160)
  demo/api/src/db/migrations/Migration20260213103747.ts
  demo/api/src/db/ormconfig.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

don't run lint:generated-files-not-modified in paralell with lint:console
  demo/api/package.json
Due: prettylint

Admin Generator: Support non-paginated list queries in grid generator (#5133)
  .changeset/gentle-paging-grids.md
  .changeset/quiet-ravens-bet.md
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/generateGrid.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/scope.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/generateGrid.test.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
  packages/admin/admin/src/dataGrid/excelExport/useDataGridExcelExport.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename lint:console to lint:api-can-start
  demo/api/package.json
Due: prettylint

Add changeset for final-form submission errors fix
  .changeset/cold-deer-do.md
Due: prettylint

Add test for staticSelect nested field (that passes) just to make sure
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/generateFormField-staticSelect.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/generateFormField-staticSelect.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator Grid: client side filter and sort for non-paging apis
  .changeset/happy-seals-drum.md
  .changeset/old-parents-try.md
  demo/admin/src/products/highlights/ProductHighlightsGrid.tsx
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
  packages/admin/admin/src/dataGrid/useDataGridLocationState.tsx
  packages/admin/admin/src/dataGrid/useDataGridRemote.tsx
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

update generated files
  demo/admin/src/news/generated/NewsGrid.tsx
  demo/admin/src/products/generator/generated/ManufacturersGrid.tsx
  demo/admin/src/products/generator/generated/ProductCategoriesGrid.tsx
  demo/admin/src/products/generator/generated/ProductHighlightsGrid.tsx
  demo/admin/src/products/generator/generated/ProductTagsGrid.tsx
  demo/admin/src/products/generator/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/generator/generated/ProductsGrid.tsx
  demo/admin/src/products/generator/generated/SelectProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Api Generator: optional paging. Add support for non-paginated list query using @CrudGenerator paging=false option
  .changeset/clean-items-press.md
  demo/admin/src/products/generator/generated/ProductHighlightsGrid.tsx
  demo/api/schema.gql
  demo/api/src/products/entities/product-highlight.entity.ts
  demo/api/src/products/generated/dto/paginated-product-highlights.ts
  demo/api/src/products/generated/dto/product-highlight.filter.ts
  demo/api/src/products/generated/dto/product-highlight.sort.ts
  demo/api/src/products/generated/dto/product-highlights.args.ts
  demo/api/src/products/generated/product-highlight.resolver.ts
  packages/api/api-generator/src/commands/generate/generateCrud/build-options.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
  packages/api/cms-api/src/common/decorators/crud-generator.decorator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update handmade grid to support non-paginated api
  demo/admin/src/products/highlights/ProductHighlightsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Api Generator: Support re-using an enum (for filters) in multiple models by using a shared generated filter type
  .changeset/heavy-swans-help.md
  demo/admin/src/products/generator/generated/ManufacturerForm.tsx
  demo/api/schema.gql
  demo/api/src/news/generated/dto/news.entity-NewsCategory.enum-filter.ts
  demo/api/src/news/generated/dto/news.entity-NewsStatus.enum-filter.ts
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/products/entities/manufacturer.entity.ts
  demo/api/src/products/generated/dto/manufacturer.filter.ts
  demo/api/src/products/generated/dto/manufacturer.input.ts
  demo/api/src/products/generated/dto/manufacturer.sort.ts
  demo/api/src/products/generated/dto/product-type-ProductType.enum-filter.ts
  demo/api/src/products/generated/dto/product-type-ProductType.enums-filter.ts
  demo/api/src/products/generated/dto/product.entity-ProductStatus.enum-filter.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/product.sort.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-enum-filter-dto.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-enum-filter-dto.ts
  packages/api/api-generator/src/commands/generate/generateFiles.ts
  packages/api/api-generator/src/commands/generate/utils/write-generated-files.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use only enum name (as kebab-case) for generated file
  demo/api/src/news/generated/dto/news-category.enum-filter.ts
  demo/api/src/news/generated/dto/news-status.enum-filter.ts
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/products/generated/dto/manufacturer.filter.ts
  demo/api/src/products/generated/dto/product-status.enum-filter.ts
  demo/api/src/products/generated/dto/product-type.enum-filter.ts
  demo/api/src/products/generated/dto/product-type.enums-filter.ts
  demo/api/src/products/generated/dto/product.filter.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-enum-filter-dto.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-enum-filter-dto.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make new field nullable and add missing migration
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20260203072412.ts
  demo/api/src/products/entities/manufacturer.entity.ts
  demo/api/src/products/generated/dto/manufacturer.input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

update genearted admin
  demo/admin/src/products/generator/generated/ManufacturerForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix tests
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/generateGrid.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/scope.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/scope.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor: Move ImpersonateMenuItem to separate file (#5179)
  packages/admin/cms-admin/src/userPermissions/ImpersonateMenuItem.tsx
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add tooltip for childless items in closed `MainNavigation`
  .changeset/shaky-maps-take.md
  packages/admin/admin/src/mui/mainNavigation/Item.styles.ts
  packages/admin/admin/src/mui/mainNavigation/Item.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Use single 64-bit advisory lock key for block index refresh
  packages/api/cms-api/src/dependencies/dependencies.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Load DAM file usages in root query with background refresh
  demo/api/schema.gql
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.gql.ts
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/dependencies/dependencies.resolver.factory.ts
  packages/api/cms-api/src/dependencies/dependencies.service.ts
  packages/api/cms-api/src/dependencies/dependents.resolver.factory.ts
  packages/api/cms-api/src/dependencies/dto/dependencies.args.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add comments explaining the refresh locking mechanism
  packages/api/cms-api/src/dependencies/dependencies.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo/api: Add Vitest test setup with AccessControlService test
  demo/api/package.json
  demo/api/src/auth/access-control.service.spec.ts
  demo/api/vitest.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo/api: Remove test:ci script, default vitest config values
  demo/api/package.json
  demo/api/vitest.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix package.json lint issues
  knip.json
  packages/admin/admin-icons/package.json
  packages/admin/admin/package.json
  packages/api/brevo-api/package.json
  packages/eslint-plugin/package.json
  packages/mail-react/package.json
  pnpm-lock.yaml
Due: prettylint

Remove FormattedMessage parsing and use react element directly and add support for FormattedMessage in staticSelect form field value label
  .changeset/brown-shirts-show.md
  demo/admin/src/products/generator/generated/ProductForm.tsx
  demo/admin/src/products/generator/generated/SelectProductsGrid.tsx
  demo/admin/src/products/generator/productTypeValues.tsx
  packages/admin/admin-generator/src/commands/generate/config/__tests__/transformConfig.test.ts
  packages/admin/admin-generator/src/commands/generate/config/transformConfig.ts
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
  packages/admin/admin-generator/src/commands/generate/utils/__tests__/intl.test.tsx
  packages/admin/admin-generator/src/commands/generate/utils/intl.ts
  packages/admin/admin-generator/src/commands/generate/utils/runtimeTypeGuards.ts
  packages/admin/admin-generator/tsconfig.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Create factory for `TableBlock`
  demo/admin/src/common/blocks/TableBlock.tsx
  demo/admin/src/documents/pages/blocks/ContentGroupBlock.tsx
  demo/admin/src/documents/pages/blocks/PageContentBlock.tsx
  demo/api/src/common/blocks/table.block.ts
  demo/api/src/documents/pages/blocks/content-group.block.ts
  demo/api/src/documents/pages/blocks/page-content.block.ts
  packages/admin/cms-admin/src/blocks/createTableBlock.tsx
  packages/admin/cms-admin/src/blocks/table/TableBlock.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/generate-block-meta.ts
  packages/api/cms-api/src/blocks/factories/createTableBlock.ts
  packages/api/cms-api/src/blocks/table.block.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Implement BlobStorageBackendService listFiles
  packages/api/cms-api/src/blob-storage/backends/azure/blob-storage-azure.storage.ts
  packages/api/cms-api/src/blob-storage/backends/blob-storage-backend.interface.ts
  packages/api/cms-api/src/blob-storage/backends/blob-storage-backend.service.ts
  packages/api/cms-api/src/blob-storage/backends/file/blob-storage-file.storage.ts
  packages/api/cms-api/src/blob-storage/backends/s3/blob-storage-s3.storage.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo API: add unit test setup (#5181)
  demo/api/package.json
  demo/api/src/auth/access-control.service.spec.ts
  demo/api/vitest.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Ignore block-meta.json in demo/site and demo/admin ESLint configs
  demo/admin/eslint.config.mjs
  demo/site/eslint.config.mjs
Due: none

ignore test,spec files for intl:extract
  demo/admin/package.json
  demo/api/package.json
  demo/site/package.json
  package.json
Due: prettylint

Restore block-meta.json in brevo-api
  packages/api/brevo-api/block-meta.json
Due: prettylint

Ignore agent skills installed from external sources
  .gitignore
Due: none

Readd "Start impersonation" button to UserGrid (#5166)
  .changeset/yellow-lizards-shine.md
  .gitignore
  packages/admin/cms-admin/src/userPermissions/ImpersonateMenuItem.tsx
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changeset
  .changeset/boolean-field-label-support.md
Due: prettylint

Remove commented code from test
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-enum-filter-dto.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Simplify by using existing `createBlock()` function
  packages/api/cms-api/src/blocks/factories/createTableBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unused variable
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

create and use FieldContainer
  demo/site/src/common/components/form/FieldContainer.module.scss
  demo/site/src/common/components/form/FieldContainer.tsx
  demo/site/src/common/components/form/TextField.tsx
  demo/site/src/common/components/form/TextareaField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
