Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add section to migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

move /api/site-preview to just /site-preview and exclude it from middleware like block-preview
  demo/admin/src/App.tsx
  demo/site/src/app/site-preview/route.ts
  demo/site/src/middleware.ts
  demo/site/src/middleware/preview.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Sort package.json
  packages/api/cms-api/package.json
Due: prettylint

Add optional responsive behavior to `Button` (#3061)
  .changeset/olive-fans-invite.md
  .changeset/sweet-dancers-exist.md
  packages/admin/admin/src/common/buttons/Button.tsx
  packages/admin/admin/src/common/toolbar/actions/ToolbarActionButton.tsx
  packages/admin/admin/src/dataGrid/GridColumnsButton.tsx
  packages/admin/admin/src/dataGrid/GridFilterButton.tsx
  storybook/src/admin/Button.stories.tsx
  storybook/src/admin/toolbar/Toolbar.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Convert Next config file to ECMAScript module (#3092)
  demo/site/next.config.mjs
Due: none

Resolve conflicts
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix test name
  packages/api/cms-api/src/common/validators/is-slug.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unnecessary space from test name
  packages/api/cms-api/src/common/validators/is-slug.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/sharp-dryers-happen.md
Due: prettylint

introduce WithPreviewComponent
  demo/site/package.json
  demo/site/src/common/blocks/AccordionBlock.tsx
  demo/site/src/common/blocks/CallToActionBlock.tsx
  demo/site/src/common/blocks/CallToActionListBlock.tsx
  demo/site/src/common/blocks/DamImageBlock.tsx
  demo/site/src/common/blocks/HeadingBlock.tsx
  demo/site/src/common/blocks/LinkBlock.tsx
  demo/site/src/common/blocks/MediaBlock.tsx
  demo/site/src/common/blocks/RichTextBlock.tsx
  demo/site/src/common/blocks/SpaceBlock.tsx
  demo/site/src/common/blocks/StandaloneCallToActionListBlock.tsx
  demo/site/src/common/blocks/StandaloneHeadingBlock.tsx
  demo/site/src/common/blocks/StandaloneMediaBlock.tsx
  demo/site/src/documents/pages/blocks/BasicStageBlock.tsx
  demo/site/src/documents/pages/blocks/TeaserBlock.tsx
  demo/site/src/documents/pages/blocks/TeaserItemBlock.tsx
  demo/site/src/layout/footer/blocks/FooterContentBlock.tsx
  packages/site/cms-site/src/blocks/DamFileDownloadLinkBlock.tsx
  packages/site/cms-site/src/blocks/DamVideoBlock.tsx
  packages/site/cms-site/src/blocks/PixelImageBlock.tsx
  packages/site/cms-site/src/blocks/VimeoVideoBlock.tsx
  packages/site/cms-site/src/blocks/YouTubeVideoBlock.tsx
  packages/site/cms-site/src/iframebridge/WithPreviewComponent.tsx
  packages/site/cms-site/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: DamImageBlockProps
  demo/site/src/common/blocks/DamImageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: sort package.json
  packages/site/cms-site/package.json
Due: prettylint

remove transient prop prefix
  demo/site/src/common/blocks/StandaloneHeadingBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

improve migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

sort package json demo
  demo/site/package.json
Due: prettylint

remove open variable and its styling
  packages/admin/admin/src/common/Tooltip.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "fix: add footer query/rendering in page"
  demo/site/src/documents/pages/Page.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add footer to layout
  demo/site/src/app/[domain]/[language]/[[...path]]/layout.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add NestJS peer dependencies as `@comet/cms-api` peer dependencies (#2796)
  .changeset/chatty-pets-serve.md
  demo/api/package.json
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
  packages/api/cms-api/package.json
  pnpm-lock.yaml
Due: prettylint

Enhance CallToActionBlock to display file size for DAM file downloads
  demo/site/src/common/blocks/CallToActionBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: don't exclude middleware for /api/... requests (#3086)
  demo/admin/src/App.tsx
  demo/site/src/app/[domain]/api/status/route.tsx
  demo/site/src/app/site-preview/route.ts
  demo/site/src/middleware.ts
  demo/site/src/middleware/preview.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Simplify CrudMoreActionsGroup by consolidating conditional rendering of groupTitle
  packages/admin/admin/src/dataGrid/CrudMoreActionsMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: Console command best practices for command and argument casing (#2660)
  docs/docs/3-features-modules/5-console-commands/index.md
Due: prettylint

Fix site-preview path
  demo/site/src/middleware/preview.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Support kB and MB when displaying the size of a file (#2823)
  demo/site/package.json
  demo/site/src/common/blocks/CallToActionBlock.tsx
  demo/site/src/common/blocks/TextLinkBlock.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rebuild pnpm-lock
  pnpm-lock.yaml
Due: none

Hide group title in `CrudMoreActionsMenu` when only one group is present (#2920)
  .changeset/cyan-shoes-beg.md
  packages/admin/admin/src/dataGrid/CrudMoreActionsMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add hidden submit input to LargeForm stories for improved form submission
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: allow assets to be loaded through middlware
  demo/site/public/arrow-grey-small.svg
  demo/site/public/arrow-left.svg
  demo/site/public/arrow-link.svg
  demo/site/public/arrow-right-black.svg
  demo/site/public/arrow-right-dark-grey.svg
  demo/site/public/arrow-right-grey.svg
  demo/site/public/arrow-right.svg
  demo/site/public/assets/comet-logo.svg
  demo/site/public/assets/icons/arrow-left.svg
  demo/site/public/assets/icons/arrow-right.svg
  demo/site/public/assets/icons/chevron-down.svg
  demo/site/public/assets/icons/menu-open.svg
  demo/site/public/assets/icons/menu.svg
  demo/site/public/assets/icons/overview.svg
  demo/site/public/chevron-down.svg
  demo/site/public/chevron-right.svg
  demo/site/public/close.svg
  demo/site/public/filter.svg
  demo/site/public/mobile-menu.svg
  demo/site/public/mousescroll-body.svg
  demo/site/public/vercel.svg
  demo/site/src/common/blocks/AccordionItemBlock.tsx
  demo/site/src/documents/pages/blocks/TeaserItemBlock.tsx
  demo/site/src/middleware.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Hide the "Dependents" tab in the DAM for users without the permission `dependencies`
  .changeset/eighty-cheetahs-burn.md
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Pass `x-preview-dam-urls` and `x-relative-dam-urls` headers to `url` field resolver in `FileImagesResolver`
  .changeset/heavy-drinks-leave.md
  packages/api/cms-api/src/dam/files/file-image.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove types package and use types from package
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/dam/MoveDamItemDialog/ChooseFolder.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTree.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add option for base64 encoding in `inject-site-configs` command (#3053)
  .changeset/smooth-shrimps-exist.md
  demo/admin/src/config.tsx
  demo/api/src/config/environment-variables.ts
  demo/site/src/util/siteConfig.ts
  package.json
  packages/cli/src/commands/site-configs.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/spotty-stingrays-camp.md
  .changeset/spotty-stingrays-camp.md
Due: prettylint

Demo Admin: Adapt server based on Starter (#3098)
  demo/admin/package.json
  demo/admin/server/index.js
  demo/admin/server/package.json
  demo/admin/server/server.js
  pnpm-lock.yaml
Due: prettylint

Revert "Update dependency @comet/dev-process-manager to ^2.7.0 (#3141)"
  package.json
  pnpm-lock.yaml
Due: prettylint

Revert "Update dependency @comet/dev-process-manager to ^2.7.0" (#3143)
  package.json
  pnpm-lock.yaml
Due: prettylint

adapt padding of Dialog elements for mobile screens
  packages/admin/admin-theme/src/componentsTheme/MuiDialogActions.ts
  packages/admin/admin-theme/src/componentsTheme/MuiDialogContent.ts
  packages/admin/admin-theme/src/componentsTheme/MuiDialogTitle.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: injecting missing .env variables into admin
  demo/admin/package.json
Due: prettylint

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
