Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(Playground): use docusaurus icon instead of comet admin icons
  docs/src/theme/Playground/Button.tsx
  docs/src/theme/Playground/button.module.css
  docs/src/theme/Playground/index.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(ReactLiveScope): add method to check for duplicates in imported packages
  docs/package.json
  docs/src/theme/ReactLiveScope/index.js
  pnpm-lock.yaml
Due: prettylint

move(Story): move MuiThemeProvider from individual story in the Story component
  docs/src/components/Story.tsx
  docs/src/stories/Checkbox.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename(LiveCodeBlock): rename LiveCodeBlock to Story
  docs/docs/story-poc.mdx
  docs/src/components/Story.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(Playground): use self-styled button instead of MUI button
  docs/src/theme/Playground/Button.tsx
  docs/src/theme/Playground/button.module.css
  docs/src/theme/Playground/index.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Call function only when offset and limit is defined and throw error for invalid offset and limit values
  packages/api/cms-api/src/common/test/get-error.ts
  packages/api/cms-api/src/page-tree/page-tree-read-api.test.ts
  packages/api/cms-api/src/page-tree/page-tree-read-api.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add field components to simplify the creation of forms with final-form
  .changeset/tame-bikes-give.md
  packages/admin/admin-color-picker/src/ColorField.tsx
  packages/admin/admin-color-picker/src/index.ts
  packages/admin/admin-date-time/src/fields/DateField.tsx
  packages/admin/admin-date-time/src/fields/DateRangeField.tsx
  packages/admin/admin-date-time/src/fields/DateTimeField.tsx
  packages/admin/admin-date-time/src/fields/TimeField.tsx
  packages/admin/admin-date-time/src/fields/TimeRangeField.tsx
  packages/admin/admin-date-time/src/index.ts
  packages/admin/admin-stories/src/admin/form/AllFieldComponents.tsx
  packages/admin/admin/src/form/fields/CheckboxField.tsx
  packages/admin/admin/src/form/fields/SearchField.tsx
  packages/admin/admin/src/form/fields/SelectField.tsx
  packages/admin/admin/src/form/fields/SwitchField.tsx
  packages/admin/admin/src/form/fields/TextAreaField.tsx
  packages/admin/admin/src/form/fields/TextField.tsx
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Pass error factory instead of error
  packages/api/cms-api/src/common/errors/exception.interceptor.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

allow colon(:) as redirect source path character
  demo/site/preBuild/src/createRedirects.ts
  packages/admin/cms-admin/src/redirects/RedirectForm.tsx
  packages/api/cms-api/src/redirects/validators/isValidRedirectSource.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore(api): add jszip library
  packages/api/cms-api/package.json
  pnpm-lock.yaml
Due: prettylint

feat(FoldersController): add a folders controller with an endpoint which returns a zip file of a folder
  packages/api/cms-api/src/dam/dam.module.ts
  packages/api/cms-api/src/dam/files/folders.controller.ts
  packages/api/cms-api/src/dam/files/folders.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore(gitignore): add .idea folder to .gitignore
  .gitignore
Due: none

feat(FoldersService): handle duplicate folder names
  packages/api/cms-api/src/dam/files/folders.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix(FoldersController): wrap filename property in double quotes to avoid unknown file type on download
  packages/api/cms-api/src/dam/files/folders.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(FoldersService): throw error on empty subfolder zip
  packages/api/cms-api/src/dam/files/folders.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename function to be in line with other functions
  packages/api/cms-api/src/page-tree/page-tree-read-api.test.ts
  packages/api/cms-api/src/page-tree/page-tree-read-api.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Differentiate between offset and limit in error message
  packages/api/cms-api/src/page-tree/page-tree-read-api.test.ts
  packages/api/cms-api/src/page-tree/page-tree-read-api.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(FoldersController): rename zipBuffer to zipStream
  packages/api/cms-api/src/dam/files/folders.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(DamContextMenu): add download link button
  packages/admin/admin/src/rowActions/RowActionsItem.tsx
  packages/admin/admin/src/rowActions/RowActionsListItem.tsx
  packages/admin/cms-admin/src/dam/Table/DamContextMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(RowActionsItem): use more descriptive name for generic
  packages/admin/admin/src/rowActions/RowActionsItem.tsx
  packages/admin/admin/src/rowActions/RowActionsListItem.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(Menu): add MenuGroupSection component
  .changeset/short-donkeys-double.md
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/mui/menu/GroupSection.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix(Menu): CometAdminMenu spelled wrong
  packages/admin/admin/src/mui/menu/Menu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(demo): use MenuGroupSection component in MasterMenu
  demo/admin/src/common/MasterMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(stories): use MenuGroupSection component in Menu story
  packages/admin/admin-stories/src/admin/mui/Menu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove seperate UserPermission-module in app
  demo/api/src/app.module.ts
  demo/api/src/auth/auth.module.ts
  demo/api/src/user-permission/config.service.ts
  demo/api/src/user-permission/config.ts
  demo/api/src/user-permission/user-permission.module.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix api-generator path detection for RichText blocks as they don't use createBlock
  packages/api/blocks-api/src/blocks/helpers/lookupPath.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(Stack): recommend StackLink over activatePage()
  packages/admin/admin-stories/src/docs/components/Stack/Stack.stories.mdx
Due: none

Add loop toggle to Youtube video block (#1206)
  .changeset/lemon-bugs-give.md
  demo/api/block-meta.json
  demo/site/src/blocks/YouTubeVideoBlock.tsx
  packages/admin/blocks-admin/src/blocks/YouTubeVideoBlock.tsx
  packages/api/blocks-api/block-meta.json
  packages/api/blocks-api/src/blocks/youtube-video.block.ts
  packages/api/cms-api/block-meta.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Resolve conflicts
  demo/admin/src/products/categories/ProductCategoriesTable.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

allow query parameters for redirects
  demo/site/preBuild/src/createRedirects.ts
  packages/admin/cms-admin/src/redirects/RedirectForm.tsx
  packages/api/cms-api/src/redirects/validators/isValidRedirectSource.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

adapt redirect code to support multiple question marks
  demo/site/preBuild/src/createRedirects.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore(package.json): override peer dependency versions for react-simple-code-editor
  docs/package.json
Due: prettylint

chore(package.json): move the packageExtensions to root package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: prettylint

chore(package.json): override peer dependency version of react-live for @docusaurus/theme-live-codeblock
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: prettylint

chore(package.json): remove packageExtensions
  package.json
Due: prettylint

chore(docs): update docusaurus to v2.4.1
  docs/package.json
  pnpm-lock.yaml
Due: prettylint

chore(docs): override peer dependency version for @docusaurus/theme-live-codeblock
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: prettylint

fix(FilesController): add sanitization interceptor for SVGs to upload method
  packages/api/cms-api/package.json
  packages/api/cms-api/src/dam/files/file-sanitization.interceptor.ts
  packages/api/cms-api/src/dam/files/files.controller.ts
  packages/api/cms-api/src/public-upload/public-uploads.controller.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(FileSanitizationInterceptor): make read and write of file non-blocking
  packages/api/cms-api/src/dam/files/file-sanitization.interceptor.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(FileSanitizationInterceptor): reject svg file if it contains JavaScript
  packages/api/cms-api/package.json
  packages/api/cms-api/src/dam/files/file-validation-interceptor.service.ts
  packages/api/cms-api/src/dam/files/files.controller.ts
  packages/api/cms-api/src/dam/files/files.utils.ts
  packages/api/cms-api/src/public-upload/public-uploads.controller.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
