Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

use iconMapping to make icons overridable
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

TableBlock: Fix unintended behavior on key-press in RTE (#5222)
  packages/admin/cms-admin/src/blocks/table/EditCell.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

TableBlock: Limit width of RTE (#5221)
  packages/admin/cms-admin/src/blocks/table/EditCell.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

DamFileDownloadLinkBlock: forward anchor props to a tag (#5241)
  .changeset/fuzzy-shirts-cross.md
  packages/site/site-react/src/blocks/DamFileDownloadLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

correct px value
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename SubItem to Subitem
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix types of Story
  packages/admin/admin/src/common/breadcrumbs/__stories__/Breadcrumbs.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix RTE modals being rendered below the TableBlock Grid
  packages/admin/cms-admin/src/blocks/createTableBlock.tsx
  packages/admin/cms-admin/src/blocks/table/EditCell.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

only pass domain to scope in fetchDomainRedirects
  demo/site/src/middleware/redirectToMainHost.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix RTE modals being rendered below the TableBlock Grid (#5224)
  packages/admin/cms-admin/src/blocks/createTableBlock.tsx
  packages/admin/cms-admin/src/blocks/table/EditCell.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Forward anchor props through LinkBlock to rendered anchor elements (#5238)
  demo/site/src/common/blocks/InternalLinkBlock.tsx
  demo/site/src/common/blocks/LinkBlock.tsx
  demo/site/src/news/blocks/NewsLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator: Support nested fields in form asyncSelect and grid staticSelect (#5130)
  .changeset/fix-async-select-nested-field.md
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/generateFormField-staticSelect.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/generateFormField-staticSelect.test.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/asyncSelect/__tests__/findIntrospectionObjectType.test.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/asyncSelect/generateAsyncSelect.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormLayout.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/generateGrid.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/generateGrid.test.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
  packages/admin/admin-generator/src/commands/generate/utils/__tests__/findIntrospectionFieldType.test.ts
  packages/admin/admin-generator/src/commands/generate/utils/findIntrospectionFieldType.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Support relations in `@EntityInfo` decorator (#5077)
  demo/api/src/products/entities/product.entity.ts
  packages/api/cms-api/src/entity-info/entity-info.decorator.ts
  packages/api/cms-api/src/entity-info/entity-info.service.spec.ts
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update changeset and add migration guide entry
  .changeset/late-meals-live.md
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
Due: prettylint

Update docs
  docs/docs/2-core-concepts/7-dependencies/index.md
Due: prettylint

Add option loadUserFromUserService to createJwtAuthService
  .changeset/khaki-rivers-occur.md
  packages/api/cms-api/src/auth/services/jwt.auth-service.spec.ts
  packages/api/cms-api/src/auth/services/jwt.auth-service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add block skill `dx-block`
  skills/dx-block/SKILL.md
  skills/dx-block/admin-patterns.md
  skills/dx-block/api-patterns.md
  skills/dx-block/block-loader.md
  skills/dx-block/block-types.md
  skills/dx-block/custom-block-field.md
  skills/dx-block/fixtures.md
  skills/dx-block/image.md
  skills/dx-block/migration.md
  skills/dx-block/registration.md
  skills/dx-block/response-summary.md
  skills/dx-block/rich-text.md
  skills/dx-block/select.md
  skills/dx-block/site-patterns.md
Due: prettylint

Refactor alignment logic with css only
  packages/admin/cms-admin/src/blocks/table/CellValue.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use `uuid` as alias when importing `v4` from uuid package (#5246)
  demo/api/src/documents/links/entities/link.entity.ts
  demo/api/src/documents/pages/entities/page.entity.ts
  demo/api/src/footer/entities/footer.entity.ts
  demo/api/src/products/product-persist.pipe.ts
  demo/api/src/products/product-pre-persist.pipe.ts
  docs/docs/4-guides/3-generate-grid-form-views/1-api-entity-with-crud-generator/index.md
  packages/api/brevo-api/src/blacklisted-contacts/entity/blacklisted-contacts.entity.factory.ts
  packages/api/brevo-api/src/brevo-config/entities/brevo-config-entity.factory.ts
  packages/api/brevo-api/src/brevo-contact/brevo-contact-import.resolver.ts
  packages/api/brevo-api/src/brevo-email-import-log/entity/brevo-email-import-log.entity.factory.ts
  packages/api/brevo-api/src/email-campaign/entities/email-campaign-entity.factory.ts
  packages/api/brevo-api/src/target-group/entity/target-group-entity.factory.ts
  packages/api/cms-api/src/mailer/entities/mailer-log.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use useId in textarea field
  demo/site/src/common/components/form/TextareaField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use useId in text field
  demo/site/src/common/components/form/TextField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use bem in textarea field
  demo/site/src/common/components/form/TextareaField.module.scss
  demo/site/src/common/components/form/TextareaField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use bem in textfield
  demo/site/src/common/components/form/TextField.module.scss
  demo/site/src/common/components/form/TextField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

initial
  .env
  demo/admin/package.json
  demo/admin/src/App.tsx
  demo/admin/src/blocks/FooBlock.ts
  demo/admin/src/blocks/ImageBlock.ts
  demo/admin/src/blocks/SpaceBlock.ts
  demo/admin/src/blocks/block.ts
  demo/admin/src/db/orm.ts
  demo/admin/src/products/Product.entity.ts
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/categories/ProductCategoriesGrid.tsx
  demo/admin/src/products/categories/ProductCategory.entity.ts
  demo/admin/src/products/categories/ProductCategoryForm.tsx
  demo/admin/src/products/categories/productCategories.trpc.ts
  demo/admin/src/products/products.trpc.ts
  demo/admin/src/trpc/_routes.ts
  demo/admin/src/trpc/base.ts
  demo/admin/src/trpc/client.ts
  demo/admin/src/trpc/router.ts
  demo/admin/src/trpc/server.ts
  demo/admin/vite.config.mts
  dev-pm.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update AGENTS.md
  AGENTS.md
Due: prettylint

AGENTS.md: Keeping This File Up to Date
  AGENTS.md
Due: prettylint

Update all ESLint config files to use defineConfig and globalIgnores helpers
  demo/admin/eslint.config.mjs
  demo/api/eslint.config.mjs
  demo/site/eslint.config.mjs
  docs/eslint.config.mjs
  packages/admin/admin-color-picker/eslint.config.mjs
  packages/admin/admin-date-time/eslint.config.mjs
  packages/admin/admin-generator/eslint.config.mjs
  packages/admin/admin-icons/eslint.config.mjs
  packages/admin/admin-rte/eslint.config.mjs
  packages/admin/admin/eslint.config.mjs
  packages/admin/brevo-admin/eslint.config.mjs
  packages/admin/cms-admin/eslint.config.mjs
  packages/api/api-generator/eslint.config.mjs
  packages/api/brevo-api/eslint.config.mjs
  packages/api/cms-api/eslint.config.mjs
  packages/cli/eslint.config.mjs
  packages/eslint-config/eslint.config.mjs
  packages/eslint-plugin/eslint.config.mjs
  packages/mail-react/eslint.config.mjs
  packages/site/site-nextjs/eslint.config.mjs
  packages/site/site-react/eslint.config.mjs
  storybook/eslint.config.mjs
Due: none

Update ESLint config imports to use eslint/config
  demo/admin/eslint.config.mjs
  demo/api/eslint.config.mjs
  demo/site/eslint.config.mjs
  docs/eslint.config.mjs
  packages/admin/admin-color-picker/eslint.config.mjs
  packages/admin/admin-date-time/eslint.config.mjs
  packages/admin/admin-generator/eslint.config.mjs
  packages/admin/admin-icons/eslint.config.mjs
  packages/admin/admin-rte/eslint.config.mjs
  packages/admin/admin/eslint.config.mjs
  packages/admin/brevo-admin/eslint.config.mjs
  packages/admin/cms-admin/eslint.config.mjs
  packages/api/api-generator/eslint.config.mjs
  packages/api/brevo-api/eslint.config.mjs
  packages/api/cms-api/eslint.config.mjs
  packages/cli/eslint.config.mjs
  packages/eslint-config/eslint.config.mjs
  packages/eslint-plugin/eslint.config.mjs
  packages/mail-react/eslint.config.mjs
  packages/site/site-nextjs/eslint.config.mjs
  packages/site/site-react/eslint.config.mjs
  storybook/eslint.config.mjs
Due: none

New Entity Info: Changeset, Migration Guide and Docs (#5225)
  .changeset/late-meals-live.md
  docs/docs/2-core-concepts/7-dependencies/index.md
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
Due: prettylint

Remove custom styling
  packages/admin/cms-admin/src/dependencies/DependenciesList.sc.tsx
  packages/admin/cms-admin/src/dependencies/DependenciesList.tsx
  packages/admin/cms-admin/src/dependencies/DependencyList.sc.tsx
  packages/admin/cms-admin/src/dependencies/DependentsList.sc.tsx
  packages/admin/cms-admin/src/dependencies/DependentsList.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace DependencyList with DependenciesList and DependentsList
  .changeset/split-dependency-list.md
  demo/admin/src/documents/pages/EditPage.tsx
  docs/docs/2-core-concepts/7-dependencies/index.md
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
  packages/admin/cms-admin/src/dependencies/DependenciesList.sc.tsx
  packages/admin/cms-admin/src/dependencies/DependenciesList.tsx
  packages/admin/cms-admin/src/dependencies/DependentsList.sc.tsx
  packages/admin/cms-admin/src/dependencies/DependentsList.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use MikroORM entity for EntityInfo instead of raw Knex query
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/entity-info/entity-info.module.ts
  packages/api/cms-api/src/entity-info/entity-info.object.ts
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor ESLint configs to use defineConfig and globalIgnores (#5253)
  demo/admin/eslint.config.mjs
  demo/api/eslint.config.mjs
  demo/site/eslint.config.mjs
  docs/eslint.config.mjs
  packages/admin/admin-color-picker/eslint.config.mjs
  packages/admin/admin-date-time/eslint.config.mjs
  packages/admin/admin-generator/eslint.config.mjs
  packages/admin/admin-icons/eslint.config.mjs
  packages/admin/admin-rte/eslint.config.mjs
  packages/admin/admin/eslint.config.mjs
  packages/admin/brevo-admin/eslint.config.mjs
  packages/admin/cms-admin/eslint.config.mjs
  packages/api/api-generator/eslint.config.mjs
  packages/api/brevo-api/eslint.config.mjs
  packages/api/cms-api/eslint.config.mjs
  packages/cli/eslint.config.mjs
  packages/eslint-config/eslint.config.mjs
  packages/eslint-plugin/eslint.config.mjs
  packages/mail-react/eslint.config.mjs
  packages/site/site-nextjs/eslint.config.mjs
  packages/site/site-react/eslint.config.mjs
  storybook/eslint.config.mjs
Due: none

Split `DependencyList` into `DependentsList` and `DependenciesList` (#5248)
  .changeset/split-dependency-list.md
  demo/admin/src/documents/pages/EditPage.tsx
  docs/docs/2-core-concepts/7-dependencies/index.md
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
  packages/admin/cms-admin/src/dependencies/DependenciesList.tsx
  packages/admin/cms-admin/src/dependencies/DependencyList.sc.tsx
  packages/admin/cms-admin/src/dependencies/DependentsList.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/fix-dam-folder-mpath-uuid-array.md
Due: prettylint

Fix `DamFolder.mpath` column type (#5245)
  .changeset/fix-dam-folder-mpath-uuid-array.md
  packages/api/cms-api/src/dam/files/entities/folder.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert Vitest setup changes (#5255)
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/vitest.config.ts
  packages/admin/cms-admin/vitest.setup.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Renovate: disable major version updates for final-form packages
  renovate.json
Due: prettylint

Renovate: disable Final Form major updates in default config
  renovate.json
  renovate/default.json
Due: prettylint

Renovate: merge Final Form group rules
  renovate/default.json
Due: prettylint
