Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Migrate Stack stories to admin package Storybook
  pnpm-lock.yaml
Due: none

docs: Support deploy previews for the docusaurus navbar Storybook link (#5646)
  docs/docusaurus.config.js
Due: prettylint

storybook: Resolve Chromatic refs to the current PR's branch (#5644)
  .github/workflows/chromatic.yml
  storybook/.storybook/main.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Renovate: configure maximum memory
  renovate.json
Due: prettylint

TipTap site: remove default mapping exports, merge mappings in renderTipTapRichText (#5645)
  demo/site/src/common/blocks/TipTapRichTextBlock.tsx
  packages/site/site-nextjs/src/index.ts
  packages/site/site-react/src/blocks/helpers/TipTapRichTextRenderer.tsx
  packages/site/site-react/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Site: Refactor TipTap rich text rendering into reusable utility (#5624)
  demo/site/src/common/blocks/TipTapRichTextBlock.tsx
  packages/site/site-nextjs/src/index.ts
  packages/site/site-react/src/blocks/helpers/TipTapRichTextRenderer.tsx
  packages/site/site-react/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

site-react: Fix VimeoVideoBlock autoplay race on initial page load
  packages/site/site-react/src/blocks/VimeoVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset for VimeoVideoBlock autoplay fix
  .changeset/fix-vimeo-video-block-autoplay-race.md
Due: prettylint

Revert "Update dependency @changesets/cli to ^2.31.0 (#5664)"
  package.json
  pnpm-lock.yaml
Due: prettylint

Revert "Fix knip configuration hints causing pipeline failure"
  knip.json
Due: prettylint

knip
  knip.json
Due: prettylint

Add ActionLogGrid component for displaying version history (#4345)
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.sc.ts
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/__stories__/ActionLogGrid.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/actionGridToolbar/ActionGridToolbar.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/actionGridToolbar/__stories__/ActionGridToolbar.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/userCell/UserCell.sc.ts
  packages/admin/cms-admin/src/actionLog/actionLogGrid/userCell/UserCell.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/userCell/__stories__/UserCell.stories.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "Update dependency @changesets/cli to ^2.31.0" (#5671)
  package.json
  pnpm-lock.yaml
Due: prettylint

cms-api: Fix test import in user-permissions.guard.spec.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Fix duplicate intl id by using English defaultMessage
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Add eslint-plugin-storybook with story file rule overrides
  packages/admin/cms-admin/eslint.config.mjs
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint

cms-admin: Set up MSW in Storybook with currentUser mock
  knip.json
  packages/admin/cms-admin/.storybook/mocks/browser.ts
  packages/admin/cms-admin/.storybook/mocks/currentUserHandler.ts
  packages/admin/cms-admin/.storybook/mocks/handlers.ts
  packages/admin/cms-admin/.storybook/preview.ts
  packages/admin/cms-admin/.storybook/public/mockServiceWorker.js
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Move ContentScope stories to package Storybook
  packages/admin/cms-admin/src/contentScope/__stories__/ContentScopeProvider.stories.tsx
  packages/admin/cms-admin/src/contentScope/__stories__/ContentScopeSelect.stories.tsx
  packages/admin/cms-admin/src/contentScope/noContentScopeFallback/__stories__/NoContentScopeFallback.stories.tsx
  storybook/src/cms-admin/ContentScopeProvider/OptionalDimensions.stories.tsx
  storybook/src/cms-admin/contentScope/noContentScopeError/NoContentScopeError.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Apply Apollo, CurrentUserProvider, and Router decorators globally in Storybook preview
  packages/admin/cms-admin/.storybook/decorators/Apollo.decorator.tsx
  packages/admin/cms-admin/.storybook/decorators/CurrentUserProvider.decorator.tsx
  packages/admin/cms-admin/.storybook/decorators/Router.decorator.tsx
  packages/admin/cms-admin/.storybook/preview.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Regenerate pnpm-lock.yaml to dedupe @docusaurus/core
  pnpm-lock.yaml
Due: none

Narrow JUnit report globbing to package outputs only (#5656)
  .github/workflows/test-report.yml
  .github/workflows/test.yml
Due: none

brevo-api: remove unnecessary @types/uuid dependency
  packages/api/brevo-api/package.json
  pnpm-lock.yaml
Due: prettylint

Remove unused @types/uuid dependency (#5680)
  packages/api/brevo-api/package.json
  pnpm-lock.yaml
Due: prettylint

cms-admin: Move ContentScope stories to package storybook (#5631)
  knip.json
  packages/admin/cms-admin/.storybook/decorators/Apollo.decorator.tsx
  packages/admin/cms-admin/.storybook/decorators/CurrentUserProvider.decorator.tsx
  packages/admin/cms-admin/.storybook/decorators/Router.decorator.tsx
  packages/admin/cms-admin/.storybook/mocks/browser.ts
  packages/admin/cms-admin/.storybook/mocks/currentUserHandler.ts
  packages/admin/cms-admin/.storybook/mocks/handlers.ts
  packages/admin/cms-admin/.storybook/preview.ts
  packages/admin/cms-admin/.storybook/public/mockServiceWorker.js
  packages/admin/cms-admin/eslint.config.mjs
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/contentScope/__stories__/ContentScopeProvider.stories.tsx
  packages/admin/cms-admin/src/contentScope/__stories__/ContentScopeSelect.stories.tsx
  packages/admin/cms-admin/src/contentScope/noContentScopeFallback/__stories__/NoContentScopeFallback.stories.tsx
  pnpm-lock.yaml
  storybook/src/cms-admin/ContentScopeProvider/OptionalDimensions.stories.tsx
  storybook/src/cms-admin/contentScope/noContentScopeError/NoContentScopeError.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Ignore .claude/worktrees/ to skip them during local linting
  .gitignore
Due: none

Fix test report workflow (#5682)
  .github/workflows/test-report.yml
Due: none

Migrate stack stories from global storybook to @comet/admin package
  packages/admin/admin/.storybook/decorators/apolloRestStory.decorator.tsx
  packages/admin/admin/.storybook/decorators/storyRouter.decorator.tsx
  packages/admin/admin/package.json
  packages/admin/admin/src/stack/__stories__/RouterTabsNestedStack.stories.tsx
  packages/admin/admin/src/stack/__stories__/Stack.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackBackButton.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackBreadcrumbs.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackBreadcrumbsTabs.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackCustomSeparator.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackLink.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackNested.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackNestedOnInitialPage.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackNestedOneStack.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackPageTitle.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackReactNodeTitle.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackRefApi.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackTableFormQueryAtStack.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackTableFormQueryInTable.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackUrl.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove stack stories from global storybook
  storybook/src/admin/stack/Stack.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove stack stories from global storybook
  storybook/src/admin/stack/StackBreadcrumbsTabs.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove stack stories from global storybook
  storybook/src/admin/stack/StackCustomSeparator.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove stack stories from global storybook
  storybook/src/admin/stack/StackBackButton.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove stack stories from global storybook
  storybook/src/admin/stack/StackNestedOnInitialPage.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove stack stories from global storybook
  storybook/src/admin/stack/StackBreadcrumbs.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove stack stories from global storybook
  storybook/src/admin/stack/StackLink.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove stack stories from global storybook
  storybook/src/admin/stack/StackNestedOneStack.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove stack stories from global storybook
  storybook/src/admin/stack/StackNested.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove stack stories from global storybook
  storybook/src/admin/stack/StackTableFormQueryInTable.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove stack stories from global storybook
  storybook/src/admin/stack/StackUrl.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove stack stories from global storybook
  storybook/src/admin/stack/StackReactNodeTitle.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
