Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use http-proxy-middleware to implement proxy in admin server
  demo/admin/server/index.js
  demo/admin/server/package.json
  pnpm-lock.yaml
Due: prettylint

Readd /dam rewrite to vite for local development
  demo/admin/vite.config.mts
Due: none

Remove unused http import
  demo/admin/server/index.js
Due: prettylint

Remove x-relative-dam-urls header from site
  demo/site/src/util/graphQLClient.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/late-carpets-fetch.md
Due: prettylint

Feat: EndPipe
  demo/api/src/importer/pipes/end.pipe.ts
  demo/api/src/products/product-importer.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make styling of different List components consistent and match the design
  .changeset/clear-parts-sniff.md
  packages/admin/admin/src/theme/componentsTheme/MuiList.ts
  packages/admin/admin/src/theme/componentsTheme/MuiListItemButton.ts
  packages/admin/admin/src/theme/componentsTheme/MuiListItemIcon.tsx
  packages/admin/admin/src/theme/componentsTheme/MuiListItemText.ts
  packages/admin/admin/src/theme/componentsTheme/MuiMenu.tsx
  packages/admin/admin/src/theme/componentsTheme/MuiMenuItem.ts
  packages/admin/admin/src/theme/componentsTheme/commonListStyles.ts
  packages/admin/admin/src/theme/componentsTheme/getComponentsTheme.ts
  storybook/src/admin/mui/ListAndMenu.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove body styling that may override MUI/theme styles inside stories
  storybook/.storybook/preview-head.html
Due: none

Remove icon from "Add new block" list
  packages/admin/cms-admin/src/blocks/common/AddBlockDrawer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: Reorder middlewares (#3459)
  demo/site/src/middleware.ts
  demo/site/src/middleware/preview.ts
  demo/site/src/middleware/sitePreview.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Change type of values prop of ContentScopeProvider
  .changeset/cyan-suns-smell.md
  demo/admin/src/common/ContentScopeProvider.tsx
  packages/admin/cms-admin/src/contentScope/ContentScopeIndicator.tsx
  packages/admin/cms-admin/src/contentScope/ContentScopeSelect.tsx
  packages/admin/cms-admin/src/contentScope/Provider.tsx
  packages/admin/cms-admin/src/contentScope/utils/defaultCreatePath.test.ts
  packages/admin/cms-admin/src/contentScope/utils/defaultCreatePath.ts
  packages/admin/cms-admin/src/contentScope/utils/groupObjectsIntoArrays.ts
  storybook/src/cms-admin/ContentScopeProvider/OptionalDimensions.stories.tsx
  storybook/src/cms-admin/ContentScopeSelect.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add entry to migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Add site entry to migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Load mobile image in BasicStageBlock with priority
  demo/site/src/common/blocks/MediaBlock.tsx
  demo/site/src/documents/pages/blocks/BasicStageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: remove not documented Storybook docs
  storybook/src/docs/bestPractices/ThemeAndStyling.mdx
  storybook/src/docs/components/ErrorHandling/ErrorBoundaries.mdx
  storybook/src/docs/components/Menu.mdx
  storybook/src/docs/components/ReactSelect.mdx
  storybook/src/docs/components/TableForm.mdx
  storybook/src/docs/hooks/useWindowSize.mdx
Due: none

Move ScaledImagesCacheService to BlobStorageModule and ImgproxyService to new ImgProxyModule
  demo/api/src/app.module.ts
  packages/api/cms-api/src/blob-storage/blob-storage.config.ts
  packages/api/cms-api/src/blob-storage/blob-storage.module.ts
  packages/api/cms-api/src/blob-storage/cache/dto/file-cache.interface.ts
  packages/api/cms-api/src/blob-storage/cache/scaled-images-cache.service.ts
  packages/api/cms-api/src/dam/cache/dto/file-cache.interface.ts
  packages/api/cms-api/src/dam/dam.config.ts
  packages/api/cms-api/src/dam/dam.constants.ts
  packages/api/cms-api/src/dam/dam.module.ts
  packages/api/cms-api/src/dam/files/files.service.ts
  packages/api/cms-api/src/dam/images/images.controller.ts
  packages/api/cms-api/src/file-uploads/file-uploads-download.controller.ts
  packages/api/cms-api/src/file-uploads/file-uploads.module.ts
  packages/api/cms-api/src/imgproxy/imgProxy.module.ts
  packages/api/cms-api/src/imgproxy/imgproxy.builder.ts
  packages/api/cms-api/src/imgproxy/imgproxy.constants.ts
  packages/api/cms-api/src/imgproxy/imgproxy.enum.ts
  packages/api/cms-api/src/imgproxy/imgproxy.service.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove redundant undefined check
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move files used by dam and file-uploads to shared file-utils directory
  packages/api/cms-api/src/dam/common/decorators/has-valid-filename.decorator.ts
  packages/api/cms-api/src/dam/dam.module.ts
  packages/api/cms-api/src/dam/files/dam-upload-file.interceptor.ts
  packages/api/cms-api/src/dam/files/files.controller.ts
  packages/api/cms-api/src/dam/files/files.resolver.ts
  packages/api/cms-api/src/dam/files/files.service.ts
  packages/api/cms-api/src/dam/images/images.controller.ts
  packages/api/cms-api/src/dam/images/validators/is-valid-aspect-ratio.validator.ts
  packages/api/cms-api/src/file-uploads/file-uploads-download.controller.ts
  packages/api/cms-api/src/file-uploads/file-uploads-file.interceptor.ts
  packages/api/cms-api/src/file-uploads/file-uploads-upload.controller.ts
  packages/api/cms-api/src/file-uploads/file-uploads.module.ts
  packages/api/cms-api/src/file-uploads/file-uploads.service.ts
  packages/api/cms-api/src/file-utils/file-upload.input.ts
  packages/api/cms-api/src/file-utils/file-validation.service.ts
  packages/api/cms-api/src/file-utils/files.utils.spec.ts
  packages/api/cms-api/src/file-utils/files.utils.ts
  packages/api/cms-api/src/file-utils/images.constants.ts
  packages/api/cms-api/src/file-utils/images.util.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Set a minimum length for BASIC_AUTH_SYSTEM_USER_PASSWORD
  .env
  demo/api/src/config/environment-variables.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Add AuthModule from starter (v7)
  demo/api/src/auth/auth.module.ts
  demo/api/src/config/config.ts
  demo/api/src/config/environment-variables.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update eslint-plugin-package-json to v0.29.0 (#3689)
  packages/eslint-plugin/eslint.config.mjs
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Due: prettylint

Remove not documented Storybook docs (#3739)
  storybook/src/docs/bestPractices/ThemeAndStyling.mdx
  storybook/src/docs/components/ErrorHandling/ErrorBoundaries.mdx
  storybook/src/docs/components/Menu.mdx
  storybook/src/docs/components/ReactSelect.mdx
  storybook/src/docs/components/TableForm.mdx
  storybook/src/docs/hooks/useWindowSize.mdx
Due: none

Remove maxSrcResolution from ImgproxyConfig and add to DamConfig
  demo/api/src/app.module.ts
  demo/api/src/comet-config.json
  packages/api/cms-api/src/imgproxy/imgproxy.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Change casing of ImgproxyModule
  demo/api/src/app.module.ts
  packages/api/cms-api/src/dam/dam.module.ts
  packages/api/cms-api/src/file-uploads/file-uploads.module.ts
  packages/api/cms-api/src/imgproxy/imgproxy.module.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/fancy-melons-build.md
Due: prettylint

feat(api): allow passing custom InputType for CrudField
  .changeset/cool-knives-move.md
  packages/api/api-generator/src/commands/generate/generateCrudInput/generate-crud-input.ts
  packages/api/cms-api/src/common/decorators/crud-generator.decorator.ts
  packages/api/cms-api/src/common/helper/crud-generator.helper.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

User Permissions: Allow permission-specific content scopes to override by-rule content scopes (#3685)
  .changeset/odd-pots-dream.md
  packages/admin/cms-admin/src/userPermissions/user/permissions/OverrideContentScopesDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add section to migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Remove `imgproxyConfig` from `CometConfigProvider` and move `maxSrcResolution` to `damConfig`
  .changeset/gentle-lemons-double.md
  demo/admin/src/App.tsx
  packages/admin/cms-admin/src/config/CometConfigContext.tsx
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/useDamFileUpload.tsx
  packages/admin/cms-admin/src/dam/config/damConfig.ts
  packages/admin/cms-admin/src/imgproxy/imgproxyConfig.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove explicit maxSrcResolution from Admin config because config.dam is spread already
  demo/admin/src/App.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Show error when user has no scopes
  demo/admin/src/common/ContentScopeProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator: add support for array queryFields in Grid column type=virtual by adding a FollowArrays argument to UsableFields
  demo/admin/src/products/future/ProductsGrid.cometGen.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/usableFields.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add upgrade scripts to migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

prettier
  demo/admin/src/products/future/ProductsGrid.cometGen.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Feat: Persist pipe
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/product-importer.input.ts
  demo/api/src/products/product-importer.ts
  demo/api/src/products/product-persist.pipe.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: add demo for custom input type
  demo/api/src/products/custom-product.type.ts
  demo/api/src/products/entities/product.entity.ts
  demo/api/src/products/generated/dto/product.input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update packages to MUI v7
  demo/admin/package.json
  docs/package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: prettylint

Update changeset and migration guide
  .changeset/perfect-mangos-greet.md
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Manual fixes
  packages/admin/admin/src/theme/componentsTheme/getComponentsTheme.ts
  packages/admin/admin/src/theme/createCometTheme.ts
  packages/admin/admin/src/theme/typographyOptions.ts
  packages/admin/cms-admin/src/pages/pagesPage/PagesPageActionToolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor `createCometTheme` to prevent deep imports
  packages/admin/admin/src/theme/componentsTheme/MuiAccordion.ts
  packages/admin/admin/src/theme/componentsTheme/MuiButton.ts
  packages/admin/admin/src/theme/componentsTheme/MuiCardHeader.ts
  packages/admin/admin/src/theme/componentsTheme/MuiDialogTitle.ts
  packages/admin/admin/src/theme/componentsTheme/MuiFormHelperText.ts
  packages/admin/admin/src/theme/componentsTheme/MuiInput.ts
  packages/admin/admin/src/theme/componentsTheme/MuiInputAdornment.ts
  packages/admin/admin/src/theme/componentsTheme/MuiListItemIcon.tsx
  packages/admin/admin/src/theme/componentsTheme/MuiTab.ts
  packages/admin/admin/src/theme/componentsTheme/MuiTablePagination.ts
  packages/admin/admin/src/theme/componentsTheme/getComponentsTheme.ts
  packages/admin/admin/src/theme/createCometTheme.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
