Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use pull_policy
  docker-compose.yml
Due: none

Use env
  dev-oidc-provider.config.mts
Due: none

remove font variables
  demo/site/src/styles/global.scss
Due: prettylint

add PlayPauseButton to VimeoVideoBlock
  packages/site/site-nextjs/src/blocks/VimeoVideoBlock.module.scss
  packages/site/site-nextjs/src/blocks/VimeoVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix tests by stubbing change-case package
  packages/admin/cms-admin/jest.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Renovate: add dedicated group for Next.js
  renovate.json
Due: prettylint

Renovate: add dedicated group for Next.js (#4600)
  renovate.json
Due: prettylint

add PlayPauseButton to YoutubeVideoBlock
  packages/site/site-nextjs/src/blocks/YouTubeVideoBlock.module.scss
  packages/site/site-nextjs/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove common colors
  demo/site/src/styles/global.scss
Due: prettylint

remove font variable
  demo/site/src/styles/global.scss
Due: prettylint

move block to products folder
  demo/admin/src/documents/pages/blocks/PageContentBlock.tsx
  demo/admin/src/products/blocks/ProductListBlock.tsx
  demo/api/src/db/fixtures/generators/blocks/text-and-content/product-list-block.fixture.ts
  demo/api/src/documents/pages/blocks/page-content.block.ts
  demo/api/src/products/blocks/product-list.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename the `variant` prop of `Tooltip` to color and remove the `neutral` and `primary` options
  .changeset/rich-clubs-enjoy.md
  packages/admin/admin/src/common/Tooltip.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

correct type
  demo/admin/src/products/blocks/ProductListBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update usages of `Tooltip`
  packages/admin/admin/src/common/buttons/feedback/FeedbackButton.tsx
  packages/admin/admin/src/rowActions/RowActionsIconItem.tsx
  storybook/src/admin/FormSection.stories.tsx
  storybook/src/admin/SectionHeadline.stories.tsx
  storybook/src/admin/Tooltip.stories.tsx
  storybook/src/docs/components/Tooltip/Tooltip.mdx
  storybook/src/docs/components/Tooltip/Tooltip.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add migration-guide entry
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
Due: prettylint

add PreviewSkeleton to AccordionContentBlock
  demo/site/src/common/blocks/AccordionItemBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

set damFile.captions to possibly undefined
  packages/site/site-nextjs/src/blocks/DamVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix layout of `CronjobsPage`
  .changeset/rotten-friends-glow.md
  packages/admin/cms-admin/src/cronJobs/CronJobsGrid.tsx
  packages/admin/cms-admin/src/cronJobs/CronJobsPage.tsx
  packages/admin/cms-admin/src/cronJobs/JobLogs.tsx
  packages/admin/cms-admin/src/cronJobs/JobsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Upgrade Next and React dependencies
  demo/site-pages/package.json
  demo/site/package.json
  package.json
  packages/admin/admin-generator/package.json
  packages/eslint-config/package.json
  packages/site/site-nextjs/package.json
  packages/site/site-react/package.json
  pnpm-lock.yaml
Due: prettylint

Change to asynchronous Dynamic APIs
  demo/site/src/app/[visibility]/[domain]/[language]/[[...path]]/page.tsx
  demo/site/src/app/[visibility]/[domain]/[language]/layout.tsx
  demo/site/src/app/[visibility]/[domain]/[language]/news/[slug]/page.tsx
  demo/site/src/app/[visibility]/[domain]/[language]/news/page.tsx
  demo/site/src/app/[visibility]/[domain]/layout.tsx
  demo/site/src/app/block-preview/[domain]/[language]/layout.tsx
  demo/site/src/app/block-preview/[domain]/layout.tsx
  demo/site/src/util/siteConfig.ts
  packages/site/site-nextjs/src/sitePreview/previewUtils.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix React type errors
  packages/site/site-nextjs/src/blocks/DamFileDownloadLinkBlock.tsx
  packages/site/site-nextjs/src/blocks/EmailLinkBlock.tsx
  packages/site/site-nextjs/src/blocks/ExternalLinkBlock.tsx
  packages/site/site-nextjs/src/blocks/PhoneLinkBlock.tsx
  packages/site/site-react/src/blocks/helpers/useIsElementInViewport.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add support for enum arrays to block meta (#4559)
  .changeset/fine-bananas-unite.md
  demo/admin/src/documents/pages/blocks/PageContentBlock.tsx
  demo/admin/src/products/blocks/ProductListBlock.tsx
  demo/api/block-meta.json
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/blocks/text-and-content/product-list-block.fixture.ts
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
  demo/api/src/documents/pages/blocks/page-content.block.ts
  demo/api/src/products/blocks/product-list.block.ts
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
  demo/site/src/documents/pages/blocks/ProductListBlock.tsx
  packages/api/cms-api/src/blocks/block.ts
  packages/api/cms-api/src/blocks/blocks-meta.ts
  packages/api/cms-api/src/blocks/decorators/field.ts
  packages/cli/src/BlockMeta.ts
  packages/cli/src/commands/generate-block-types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve API of `Tooltip` (#4489)
  .changeset/rich-clubs-enjoy.md
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
  packages/admin/admin/src/common/Tooltip.tsx
  packages/admin/admin/src/common/buttons/feedback/FeedbackButton.tsx
  packages/admin/admin/src/rowActions/RowActionsIconItem.tsx
  storybook/src/admin/FormSection.stories.tsx
  storybook/src/admin/SectionHeadline.stories.tsx
  storybook/src/admin/Tooltip.stories.tsx
  storybook/src/docs/components/Tooltip/Tooltip.mdx
  storybook/src/docs/components/Tooltip/Tooltip.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix file replacement by id
  .changeset/better-bats-train.md
  packages/api/cms-api/src/dam/files/files.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent `StackPageTitle` rerender loop when passing a react element as `title`
  .changeset/icy-queens-tie.md
  packages/admin/admin/src/stack/StackPageTitle.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use StackPageTitle to set title in JobLogs and move Toolbar and MainContent to Page
  packages/admin/cms-admin/src/cronJobs/CronJobsPage.tsx
  packages/admin/cms-admin/src/cronJobs/JobLogs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/rotten-friends-glow.md
Due: prettylint

Fix file replacement by id (#4608)
  .changeset/better-bats-train.md
  packages/api/cms-api/src/dam/files/files.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add % sign to allowedStrings literals of future/react.js eslint config
  packages/eslint-config/future/react.js
Due: prettylint

docs: add changeset
  .changeset/chubby-hounds-appear.md
Due: prettylint

Prevent a refresh of `block_index_dependencies` within 5 minutes of the last refresh
  .changeset/brave-pigs-listen.md
  packages/api/cms-api/src/dependencies/dependencies.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

support start- and endIcon in Button component
  demo/site/src/common/components/Button.module.scss
  demo/site/src/common/components/Button.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename contrast variables
  demo/site/src/common/blocks/AccordionItemBlock.module.scss
  demo/site/src/common/components/Button.module.scss
  demo/site/src/documents/pages/blocks/BasicStageBlock.module.scss
  demo/site/src/documents/pages/blocks/BillboardTeaserBlock.module.scss
  demo/site/src/documents/pages/blocks/ContentGroupBlock.module.scss
  demo/site/src/layout/topNavigation/TopNavigation.module.scss
  demo/site/src/styles/global.scss
Due: prettylint

feat: add help prop to Toolbar
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
  storybook/src/admin/toolbar/Toolbar.stories.tsx
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix focus variable
  demo/site/src/styles/global.scss
Due: prettylint

Fix minor typos for v8 migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Fix minor typos for v8 migration guide (#4614)
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Allow percentage sign string literal in eslint-config future/react.js (#4609)
  .changeset/chubby-hounds-appear.md
  packages/eslint-config/future/react.js
Due: prettylint

Correct React casing
  .changeset/icy-queens-tie.md
Due: prettylint

add topBarActions to Toolbar and introduce new HelpDialogAction Component which displays a help button and opens a Help Dialog on click
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/admin/src/common/toolbar/actions/helpDialogAction/HelpDialogAction.sc.ts
  packages/admin/admin/src/common/toolbar/actions/helpDialogAction/HelpDialogAction.tsx
  packages/admin/admin/src/index.ts
  storybook/src/admin/toolbar/Toolbar.stories.tsx
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
