Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix type-errors from hex-input change-event
  packages/admin-color-picker/src/core/ColorPicker.tsx
  packages/admin-color-picker/src/core/HexInput.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace custom InputBase with InputBase from material-ui
  CHANGELOG.md
  package-lock.json
  packages/admin-color-picker/src/core/ColorPicker.tsx
  packages/admin-react-select/src/ReactSelect.tsx
  packages/admin-rte/src/core/Controls/BlockTypesControls.tsx
  packages/admin-stories/src/admin/form/FormLayouts.tsx
  packages/admin-stories/src/admin/form/SingleTextField.tsx
  packages/admin-stories/src/docs/components/Toolbar/stories/SearchAutoComplete.stories.tsx
  packages/admin-theme/package.json
  packages/admin-theme/src/MuiOverrides/MuiAutocomplete.ts
  packages/admin-theme/src/MuiOverrides/MuiInputBase.ts
  packages/admin-theme/src/MuiOverrides/getMuiOverrides.ts
  packages/admin-theme/src/MuiProps/MuiAutocomplete.tsx
  packages/admin-theme/src/MuiProps/getMuiProps.ts
  packages/admin-theme/src/createCometTheme.ts
  packages/admin/src/form/FieldContainer.tsx
  packages/admin/src/form/FinalFormInput.tsx
  packages/admin/src/form/FinalFormRangeInput.tsx
  packages/admin/src/form/FinalFormSearchTextField.styles.tsx
  packages/admin/src/form/FinalFormSearchTextField.tsx
  packages/admin/src/form/Input.ts
  packages/admin/src/form/InputBase.tsx
  packages/admin/src/form/Select.tsx
  packages/admin/src/index.ts
  packages/admin/src/themeAugmentation.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use "en" as default locale for stories
  packages/admin-stories/.storybook/preview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update FormSection styling and add optional title
  packages/admin-stories/src/admin/form/FormLayouts.tsx
  packages/admin/src/form/FormSection.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add docs for FormSection
  packages/admin-stories/src/docs/components/Form/FormSection.stories.mdx
  packages/admin-stories/src/docs/components/Form/FormSection.stories.tsx
  packages/admin-stories/src/docs/components/Form/Overview.stories.mdx
  packages/admin-stories/src/docs/components/Form/Overview.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix typo in story
  packages/admin-stories/src/docs/components/Form/FormSection.stories.mdx
Due: none

add router docs
  packages/admin-stories/src/docs/components/Router.stories.mdx
Due: none

Setup FinalFormContextProvider and add it to FinalForm - keeps information, which fields in the form can consume
  packages/admin/src/FinalForm.tsx
  packages/admin/src/form/FinalFormContextProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add new optional props to Field (should*), retrieve defaultValues from FinalFormContext
  packages/admin/src/form/Field.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix evaluation of hasError & hasWarning length of a reactNode is always 0
  packages/admin/src/form/FieldContainer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add scrollTo to FieldContainer
  packages/admin/src/form/FieldContainer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix prettier
  packages/admin/src/FinalForm.tsx
  packages/admin/src/form/Field.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Export FormContext
  packages/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent FinalForm from reloading page on submit
  packages/admin/src/FinalForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add story demonstrating different show-error-strategies for final-form
  packages/admin-stories/src/admin/form/ShowErrorStrategies.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add story demonstrating scroll-to-field for final-form
  packages/admin-stories/src/admin/form/ScrollToErrorField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add getTargetUrl method
  packages/admin/src/stack/Switch.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add StackLink
  packages/admin/src/stack/StackLink.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changelog for StackLink and getTargetUrl()
  CHANGELOG.md
Due: prettylint

Do history.push before throwing an error on initialPage
  packages/admin/src/stack/Switch.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Log error message if apiRef is not attached to a StackSwitch
  packages/admin/src/stack/Switch.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add onOpenChange observer function to AppHeaderDropdown
  packages/admin/src/appHeader/dropdown/AppHeaderDropdown.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add new props to changelog
  CHANGELOG.md
Due: prettylint

Add onOpenChange to AppHeaderDropdown story
  packages/admin-stories/src/docs/components/AppHeader/AppHeader.stories.mdx
  packages/admin-stories/src/docs/components/AppHeader/stories/AppHeaderDropdown.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Change controlled open state of AppHeaderDropdown to other pattern
  packages/admin-stories/src/docs/components/AppHeader/AppHeader.stories.mdx
  packages/admin-stories/src/docs/components/AppHeader/stories/AppHeaderDropdown.stories.tsx
  packages/admin/src/appHeader/dropdown/AppHeaderDropdown.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add custom state to AppHeaderDropdown that replaces the default state
  packages/admin-stories/src/docs/components/AppHeader/AppHeader.stories.mdx
  packages/admin-stories/src/docs/components/AppHeader/stories/AppHeaderDropdown.stories.tsx
  packages/admin/src/appHeader/dropdown/AppHeaderDropdown.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add external switchApi prop to StackLink
  packages/admin/src/stack/StackLink.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add docs for StackLink
  packages/admin-stories/src/docs/components/Stack/Stack.stories.mdx
  packages/admin-stories/src/docs/components/Stack/Stack.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add props table to Stack docs
  packages/admin-stories/src/docs/components/Stack/Stack.stories.mdx
  packages/admin/src/stack/Switch.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add getTargetUrl to docs
  packages/admin-stories/src/docs/components/Stack/Stack.stories.mdx
Due: none

Readd title prop to StackSwitch
  packages/admin/src/stack/Switch.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix development setup
  install.sh
Due: none

Remove defaultShowContentState
  packages/admin/src/appHeader/dropdown/AppHeaderDropdown.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove semicolon from jsx in RouterTabs
  packages/admin/src/tabs/RouterTabs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Temporarily fix pipeline
  .gitlab-ci.yml
Due: none

Work around npm bug that install @mdx-js/react twice resulting in empty Context and unstyled tables
  package-lock.json
  packages/admin-stories/package.json
Due: prettylint

Demote getTargetUrl to a sidenote
  packages/admin-stories/src/docs/components/Stack/Stack.stories.mdx
Due: none

Remove default value column
  packages/admin-stories/src/docs/components/Stack/Stack.stories.mdx
Due: none

move @storybook/addon-docs dependency to root package to make sure it's always installed there
  package-lock.json
  package.json
Due: prettylint

remove state variable and change style via css classes concatenation (bem like)
  package-lock.json
  packages/admin/package.json
  packages/admin/src/table/filterbar/filterBarPopoverFilter/FilterBarPopoverFilter.styles.tsx
  packages/admin/src/table/filterbar/filterBarPopoverFilter/FilterBarPopoverFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
