Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Add tests
  packages/api/cms-api/src/auth/services/basic.auth-service.spec.ts
  packages/api/cms-api/src/auth/services/jwt.auth-service.spec.ts
  packages/api/cms-api/src/auth/services/jwt.auth-service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove custom onClose prop in favor of mui props
  packages/admin/admin/src/common/Dialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add tests
  packages/api/cms-api/src/auth/services/jwt.auth-service.spec.ts
  packages/api/cms-api/src/auth/services/jwt.auth-service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add @nestjs/jwt as peer dependency
  packages/api/cms-api/package.json
  packages/api/cms-api/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add JwtAuthService to demo
  demo/api/package.json
  demo/api/src/auth/auth.module.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/cold-dots-buy.md
Due: prettylint

Remove DS_Store
  packages/admin/admin-icons/.DS_Store
Due: none

cms-api: simplify @Transform logic
  packages/api/cms-api/src/dam/files/dto/file.input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Upgrade class-validator to 0.14.1
  .changeset/heavy-games-marry.md
  demo/api/package.json
  packages/api/cms-api/package.json
  pnpm-lock.yaml
Due: prettylint

Add section to migration guide
  docs/docs/migration/migration-from-v7-to-v8.md
Due: prettylint

Upgrade class-validator to v0.14.0 (#2791)
  .changeset/heavy-games-marry.md
  demo/api/package.json
  docs/docs/migration/migration-from-v7-to-v8.md
  packages/api/cms-api/package.json
  pnpm-lock.yaml
Due: prettylint

fix: adjust GridColumnsButton slotProps forwarding
  packages/admin/admin/src/dataGrid/GridColumnsButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: update issues
  demo/admin/src/news/generated/NewsGrid.tsx
  demo/admin/src/products/ManufacturersGrid.tsx
  demo/admin/src/products/ProductVariantsGrid.tsx
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/categories/ProductCategoriesTable.tsx
  demo/admin/src/products/future/generated/CombinationFieldsTestProductsGrid.tsx
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  demo/admin/src/products/generated/ProductsGrid.tsx
  demo/admin/src/products/tags/ProductTagTable.tsx
  packages/admin/admin-theme/src/componentsTheme/MuiDataGrid.tsx
  packages/admin/admin/src/dataGrid/GridColumnsButton.tsx
  packages/admin/admin/src/dataGrid/useDataGridRemote.test.ts
  packages/admin/admin/src/dataGrid/usePersistentColumnState.tsx
  packages/admin/cms-admin/src/builds/PublisherPage.tsx
  packages/admin/cms-admin/src/cronJobs/CronJobsGrid.tsx
  packages/admin/cms-admin/src/cronJobs/JobsGrid.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dependencies/DependencyList.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/generateGrid/generateGridToolbar.ts
  packages/admin/cms-admin/src/generator/generateGrid.ts
  packages/admin/cms-admin/src/redirects/RedirectsGrid.tsx
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
  packages/admin/cms-admin/src/userPermissions/user/permissions/PermissionGrid.tsx
  storybook/src/admin/toolbar/DataGridToolbar.stories.tsx
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: test
  packages/admin/admin/src/dataGrid/useDataGridRemote.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: remove not available code due to mui migration
  packages/admin/admin-theme/src/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add toolbar augmentation to userGrid
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: spell error
  docs/docs/migration/migration-from-v7-to-v8.md
Due: prettylint

fix: lint error
  packages/admin/admin-theme/src/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: stling issues
  packages/admin/admin-theme/src/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: add changeset
  .changeset/nice-masks-invite.md
Due: prettylint

fix: auto hidden contextMenu
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

styling: sticky filter/columns in datagrid
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: datagrid column header
  packages/admin/admin-theme/src/createCometTheme.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: update migration guide
  docs/docs/migration/migration-from-v7-to-v8.md
Due: prettylint

fix: lint errors
  .changeset/nice-masks-invite.md
  docs/docs/migration/migration-from-v7-to-v8.md
Due: prettylint

fix: errors
  packages/admin/admin/src/dataGrid/useDataGridRemote.test.ts
  packages/admin/admin/src/dataGrid/useDataGridRemote.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dashboard/widgets/LatestContentUpdatesDashboardWidget.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: adjust changelog/migration guide diff
  .changeset/nice-masks-invite.md
  docs/docs/migration/migration-from-v7-to-v8.md
Due: prettylint

wip
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: DataGrid stories -> dateTime problems
  storybook/src/docs/components/DataGrid/DataGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

revert: headerHeight from MasterLayoutContext and make it overrideable
  packages/admin/admin/src/common/toolbar/DataGridToolbar.tsx
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

try out id's for warning messages
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/warnings/WarningsGrid.tsx
  demo/admin/src/warnings/WarningsPage.tsx
  packages/api/cms-api/src/blocks/createSeoBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove foo: string
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: module augmentation to as cast
  demo/admin/src/products/future/generated/CombinationFieldsTestProductsGrid.tsx
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/generateGrid/generateGridToolbar.ts
  packages/admin/cms-admin/src/userPermissions/UserGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set the color of `IconButton` components correctly (#2856)
  demo/admin/src/products/ManufacturersGrid.tsx
  demo/admin/src/products/ProductVariantsGrid.tsx
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/categories/ProductCategoriesTable.tsx
  demo/admin/src/products/future/ProductsPage.tsx
  demo/admin/src/products/tags/ProductTagTable.tsx
  packages/admin/cms-admin/src/redirects/RedirectsGrid.tsx
  packages/admin/cms-admin/src/userPermissions/UserPermissionsPage.tsx
  packages/admin/cms-admin/src/userPermissions/user/permissions/PermissionGrid.tsx
  storybook/src/admin/edit-dialog/EditDialogInRouterTabsWithinStack.stories.tsx
  storybook/src/admin/form/DisableAutoNavigation.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix component structure of grids and forms in handmade demos (#2855)
  demo/admin/src/products/ManufacturerForm.tsx
  demo/admin/src/products/ManufacturersGrid.tsx
  demo/admin/src/products/ManufacturersPage.tsx
  demo/admin/src/products/ProductVariantForm.tsx
  demo/admin/src/products/ProductVariantsGrid.tsx
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/ProductsPage.tsx
  demo/admin/src/products/categories/ProductCategoriesTable.tsx
  demo/admin/src/products/tags/ProductTagTable.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/modern-berries-marry.md
  .changeset/modern-berries-marry.md
Due: prettylint

Add borderTop to Footer in DataGrid
  packages/admin/admin-theme/src/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

change fontSize of ChevronDown icon in selects
  packages/admin/admin-theme/src/componentsTheme/MuiAutocomplete.tsx
  packages/admin/admin-theme/src/componentsTheme/getCommonSelectTheme.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add responsive mobile styling vor AboutModal
  packages/admin/cms-admin/src/common/header/about/AboutModal.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
