Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

TipTapRichTextBlock: implement maxBlocks setting (#5597)
  packages/admin/cms-admin/src/blocks/tipTap/__stories__/TipTapRichTextBlock.stories.tsx
  packages/admin/cms-admin/src/blocks/tipTap/createTipTapRichTextBlock.tsx
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Mail-React: Add blocks-components for pixel-image (#5552)
  .changeset/add-mail-react-pixel-image-blocks.md
  docs/docs/3-features-modules/13-building-html-emails/1-email-basics.md
  docs/docs/3-features-modules/13-building-html-emails/2-components-and-theme.md
  docs/docs/3-features-modules/13-building-html-emails/3-blocks.md
  docs/docs/3-features-modules/13-building-html-emails/4-rendering.md
  docs/docs/3-features-modules/13-building-html-emails/5-customization.md
  docs/docs/3-features-modules/13-building-html-emails/6-layout-patterns.md
  docs/docs/3-features-modules/13-building-html-emails/index.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-pixel-image-blocks/.openspec.yaml
  packages/mail-react/openspec/changes/archive/2026-05-05-add-pixel-image-blocks/design.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-pixel-image-blocks/proposal.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-pixel-image-blocks/specs/pixel-image-blocks/spec.md
  packages/mail-react/openspec/changes/archive/2026-05-05-add-pixel-image-blocks/tasks.md
  packages/mail-react/openspec/specs/pixel-image-blocks/spec.md
  packages/mail-react/src/blocks/pixelImage/HtmlPixelImageBlock.tsx
  packages/mail-react/src/blocks/pixelImage/MjmlPixelImageBlock.tsx
  packages/mail-react/src/blocks/pixelImage/__stories__/HtmlPixelImageBlock.stories.tsx
  packages/mail-react/src/blocks/pixelImage/__stories__/MjmlPixelImageBlock.stories.tsx
  packages/mail-react/src/blocks/pixelImage/__stories__/exampleBlockData.ts
  packages/mail-react/src/blocks/pixelImage/__tests__/usePixelImageBlockConfig.test.tsx
  packages/mail-react/src/blocks/pixelImage/__tests__/usePixelImageBlockData.test.tsx
  packages/mail-react/src/blocks/pixelImage/common.ts
  packages/mail-react/src/blocks/pixelImage/usePixelImageBlockConfig.ts
  packages/mail-react/src/blocks/pixelImage/usePixelImageBlockData.ts
  packages/mail-react/src/config/ConfigProvider.tsx
  packages/mail-react/src/index.ts
  skills/comet-mail-react/SKILL.md
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add a dev-pm skill (#5569)
  skills/dev-pm/SKILL.md
Due: prettylint

storybook: fix read-only .name property on story exports
  storybook/src/admin/clipboard/clipboard.stories.tsx
  storybook/src/admin/common/dialog/Dialog.stories.tsx
  storybook/src/admin/edit-dialog/NestedEditDialogInStack.stories.tsx
  storybook/src/admin/form/DependentAsyncSelects.stories.tsx
  storybook/src/admin/inlineAlert/InlineAlert.stories.tsx
  storybook/src/cms-admin/ContentScopeProvider/OptionalDimensions.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Move Tooltip stories to package storybook
  packages/admin/admin/src/common/__stories__/Tooltip.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

storybook: Remove Tooltip stories (moved to @comet/admin)
  storybook/src/admin/Tooltip.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Move brevo email rendering to pages router (#5609)
  demo/api/src/app.module.ts
  demo/site/next.config.ts
  demo/site/src/app/[visibility]/[domain]/[language]/render-brevo-email-campaign/route.ts
  demo/site/src/layout/header/PageLink.tsx
  demo/site/src/middleware/skipRewrite.ts
  demo/site/src/pages/api/render-brevo-email-campaign.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: emit BreadcrumbList JSON-LD via Breadcrumbs component
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.fragment.ts
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.tsx
  demo/site/src/common/components/breadcrumbs/BreadcrumbsClient.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Merge Breadcrumbs client and server components
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.tsx
  demo/site/src/common/components/breadcrumbs/BreadcrumbsClient.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix import from JsonLd
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Move action log grid stories to package storybook and adapt to API changes
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/__stories__/ActionLogGrid.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/actionGridToolbar/ActionGridToolbar.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/actionGridToolbar/__stories__/ActionGridToolbar.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/userCell/UserCell.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/userCell/__stories__/UserCell.stories.tsx
  packages/admin/cms-admin/src/index.ts
  storybook/.storybook/mocks/actionlogs/actionsLogsHandler.ts
  storybook/.storybook/mocks/handlers.ts
  storybook/src/cms-admin/actionLog/ActionLogGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove openspec dependency and workflow instructions
  install.sh
  packages/mail-react/.gitignore
  packages/mail-react/AGENTS.md
  packages/mail-react/README.md
  packages/mail-react/package.json
  pnpm-lock.yaml
Due: prettylint

Add context for OpenSpec to generic documentation for humans and agents
  packages/mail-react/AGENTS.md
  packages/mail-react/README.md
Due: prettylint

Remove no longer needed openspec context
  packages/mail-react/openspec/config.yaml
Due: none

site-nextjs: Fix `PixelImageBlock` and `Image` failing in Pages Router
  .changeset/fix-pixel-image-block-pages-router-interop.md
  packages/site/site-nextjs/src/blocks/PixelImageBlock.tsx
  packages/site/site-nextjs/src/image/Image.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix indentation in session-start.sh to 4 spaces
  .claude/scripts/session-start.sh
Due: none

cms-admin: Fix ActionLogGrid toolbar visibility and improve API
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/__stories__/ActionLogGrid.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/actionGridToolbar/__stories__/ActionGridToolbar.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Remove unused @types/file-saver dependency
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint

cms-admin: Add ActionLogShowVersion component with package-level story
  packages/admin/cms-admin/src/actionLog/actionLog.utils.ts
  packages/admin/cms-admin/src/actionLog/actionLogShowVersion/ActionLogShowVersion.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLogShowVersion/ActionLogShowVersion.styles.ts
  packages/admin/cms-admin/src/actionLog/actionLogShowVersion/ActionLogShowVersion.tsx
  packages/admin/cms-admin/src/actionLog/actionLogShowVersion/__stories__/ActionLogShowVersion.stories.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Add ActionLogCompare component with package-level story
  packages/admin/cms-admin/src/actionLog/actionLogCompare/ActionLogCompare.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLogCompare/ActionLogCompare.styles.ts
  packages/admin/cms-admin/src/actionLog/actionLogCompare/ActionLogCompare.tsx
  packages/admin/cms-admin/src/actionLog/actionLogCompare/__stories__/ActionLogCompare.stories.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Add ActionLogDialog component with controlled value API
  packages/admin/cms-admin/src/actionLog/actionLogDialog/ActionLogDialog.tsx
  packages/admin/cms-admin/src/actionLog/actionLogDialog/__stories__/ActionLogDialog.stories.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Add useActionLogDialog hook and wire to Manufacturer demo
  .changeset/add-use-action-log-dialog-hook.md
  demo/admin/src/products/ManufacturersPage.tsx
  packages/admin/cms-admin/src/actionLog/actionLogDialog/useActionLogDialog.ts
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Rename useActionLogDialog to .tsx (returns JSX)
  packages/admin/cms-admin/src/actionLog/actionLogDialog/useActionLogDialog.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Return configured ActionLogDialog component from useActionLogDialog
  .changeset/add-use-action-log-dialog-hook.md
  demo/admin/src/products/ManufacturersPage.tsx
  packages/admin/cms-admin/src/actionLog/actionLogCompare/ActionLogCompare.tsx
  packages/admin/cms-admin/src/actionLog/actionLogDialog/useActionLogDialog.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.tsx
  packages/admin/cms-admin/src/actionLog/actionLogShowVersion/ActionLogShowVersion.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Extract createActionLogDialogQueries factory
  packages/admin/cms-admin/src/actionLog/actionLogDialog/createActionLogDialogQueries.ts
  packages/admin/cms-admin/src/actionLog/actionLogDialog/useActionLogDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Stabilize ActionLogDialog identity and add rootField type-safety
  demo/admin/src/products/ManufacturersPage.tsx
  packages/admin/cms-admin/src/actionLog/actionLogDialog/useActionLogDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Update useActionLogDialog changeset with GQLQuery generic usage
  .changeset/add-use-action-log-dialog-hook.md
Due: prettylint

cms-admin: Add useActionLogDialog hook with explicit queries
  .changeset/add-use-action-log-dialog-hook.md
  demo/admin/src/products/ManufacturersPage.tsx
  demo/admin/src/products/manufacturerActionLogQueries.ts
  packages/admin/cms-admin/src/actionLog/actionLogDialog/useActionLogDialog.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add migrateFromDraftJs option to TipTapRichTextBlock
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.test.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/convertDraftJsToTipTap.test.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/convertDraftJsToTipTap.ts
  packages/api/cms-api/src/blocks/tipTap/tipTapValidation.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo-api: Add DraftJS migration demo page fixture
  demo/api/src/common/blocks/tip-tap-rich-text.block.ts
  demo/api/src/db/fixtures/fixtures.command.ts
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/draft-js-migration-page-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix demo draftjs for tiptap migration
  demo/api/src/db/fixtures/generators/draft-js-migration-page-fixture.service.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.test.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add blockStyleMap option to migrateFromDraftJs
  demo/api/src/common/blocks/tip-tap-rich-text.block.ts
  demo/api/src/db/fixtures/generators/draft-js-migration-page-fixture.service.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.test.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/convertDraftJsToTipTap.test.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/convertDraftJsToTipTap.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Migrate DraftJS non-breaking-space and soft-hyphen to TipTap atom nodes
  demo/api/src/db/fixtures/generators/draft-js-migration-page-fixture.service.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.test.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/convertDraftJsToTipTap.test.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/convertDraftJsToTipTap.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo Site: Improve typings and add reusable renderer for TipTap rich text block
  demo/site/src/common/blocks/TipTapRichTextBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Render TipTap RichText block using @tiptap/static-renderer/pm/react
  demo/site/package.json
  demo/site/src/common/blocks/TipTapRichTextBlock.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Replace @tiptap/static-renderer with a custom JSON renderer
  demo/site/package.json
  demo/site/src/common/blocks/TipTapRichTextBlock.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

site-react: Add renderTipTapRichText
  .changeset/add-tiptap-rich-text-renderer.md
  demo/site/src/common/blocks/TipTapRichTextBlock.tsx
  packages/site/site-nextjs/src/index.ts
  packages/site/site-react/src/blocks/helpers/TipTapRichTextRenderer.tsx
  packages/site/site-react/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

site-react: Fix nonBreakingSpace returning a regular space
  packages/site/site-react/src/blocks/helpers/TipTapRichTextRenderer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Restore pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
