Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

add missing dependency (rebase error)
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint

Use pnpm publish to support multiple packages (untested, as in docs)
  .github/workflows/release-canary.yml
Due: none

Main still uses node 14, switch back to that consistently
  .github/workflows/i18n.yml
  .github/workflows/lint.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  demo/admin/package.json
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: prettylint

Fix storybook run
  package.json
Due: prettylint

Move live and preloaded filtering to methods; add method for counting nodes whitout loading all data
  packages/api/cms-api/src/page-tree/page-tree-read-api.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Ignore position sorting for already preloaded nodes
  demo/api/schema.gql
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/page-tree/dto/page-tree-node.sort.ts
  packages/api/cms-api/src/page-tree/page-tree-read-api.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix release pipelines
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  package.json
Due: prettylint

Update packages/api/cms-api/src/page-tree/page-tree-read-api.ts
  packages/api/cms-api/src/page-tree/page-tree-read-api.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update page tree node in onFlush event
  packages/api/cms-api/src/page-tree/document-subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add select to form and table to select enum value
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/ProductsTable.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

api-generator: Add support for enum types in input by adding an additional decorator
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20230321162015.ts
  demo/api/src/news/entities/news.entity.ts
  demo/api/src/products/entities/product.entity.ts
  packages/api/cms-api/src/generator/crud-enum.decorator.ts
  packages/api/cms-api/src/generator/generate-crud-input.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make type nullable, fixes migrations
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20230321162015.ts
  demo/api/src/products/entities/product.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add support for filter of enum field
  demo/admin/src/products/ProductsTable.tsx
  demo/api/schema.gql
  packages/api/cms-api/src/common/filter/enum.filter.factory.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
  packages/api/cms-api/src/generator/generate-crud.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

changelog
  CHANGELOG.md
Due: prettylint

Canary Release: Publish new major in next branch
  .github/workflows/release-canary.yml
Due: none

Remove CrudFieldEnum decorator and replace it by using nestjs graphql metadata
  demo/api/src/news/entities/news.entity.ts
  demo/api/src/products/entities/product.entity.ts
  packages/api/cms-api/src/generator/crud-enum.decorator.ts
  packages/api/cms-api/src/generator/generate-crud-input.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input.ts
  packages/api/cms-api/src/generator/generate-crud.ts
  packages/api/cms-api/src/generator/generate.ts
  packages/api/cms-api/src/generator/utils/find-enum-name.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix type, form contains wrong type
  demo/admin/src/products/ProductForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Do not use Foo
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/ProductsTable.tsx
  demo/api/schema.gql
  demo/api/src/products/entities/product.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add scope support to new DAM queries
  demo/api/schema.gql
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.gql.ts
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/MoveDamItemDialog/ChooseFolder.gql.ts
  packages/admin/cms-admin/src/dam/MoveDamItemDialog/MoveDamItemDialog.tsx
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/dam/files/dam-items.resolver.ts
  packages/api/cms-api/src/dam/files/dam-items.service.ts
  packages/api/cms-api/src/dam/files/dto/dam-items.args.ts
  packages/api/cms-api/src/dam/files/dto/file.args.ts
  packages/api/cms-api/src/dam/files/dto/folder.args.ts
  packages/api/cms-api/src/dam/files/files.service.ts
  packages/api/cms-api/src/dam/files/folders.resolver.ts
  packages/api/cms-api/src/dam/files/folders.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add initialValuesEqual prop to redirects form to fix incorrect validation errors
  packages/admin/cms-admin/src/redirects/RedirectForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Define DAM entities in application code Ensures that MikroORM picks up changes to the DAM scope
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/dam/entities/dam-file.entity.ts
  demo/api/src/dam/entities/dam-folder.entity.ts
  demo/api/src/db/ormconfig.cli.ts
  packages/api/cms-api/src/dam/dam.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Extract DAM file dependency entity name into constant
  packages/api/cms-api/src/blocks/PixelImageBlock.ts
  packages/api/cms-api/src/blocks/SvgImageBlock.ts
  packages/api/cms-api/src/blocks/dam-video.block.ts
  packages/api/cms-api/src/dam/dam.module.ts
  packages/api/cms-api/src/dam/files/entities/file.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Extract DAM table names into constants
  packages/api/cms-api/src/dam/files/entities/file.entity.ts
  packages/api/cms-api/src/dam/files/entities/folder.entity.ts
  packages/api/cms-api/src/dam/files/files.service.ts
  packages/api/cms-api/src/dam/files/folders.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use Node v18 consistently
  .github/workflows/i18n.yml
  .github/workflows/lint.yml
  .github/workflows/release-canary.yml
  .github/workflows/release.yml
  demo/admin/package.json
  package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-stories/package.json
  packages/admin/admin/package.json
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint

Fix DAM path display
  packages/admin/cms-admin/src/form/file/DamPathLazy.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Upgrade Storybook to work with Node v18
  packages/admin/admin-stories/.storybook/main.ts
  packages/admin/admin-stories/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set dedupe-peer-dependents to true for future dependencies
  .npmrc
Due: none

Fix migration type values, make required
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20230321162015.ts
  demo/api/src/products/entities/product.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix page tree node visibility update The change to the entity was not detected due to using the query builder.
  packages/api/cms-api/src/page-tree/createPageTreeResolver.ts
  packages/api/cms-api/src/page-tree/page-tree.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove DirtyHandler and replace it with Prompt
  CHANGELOG.md
  packages/admin/admin-stories/src/admin/form/RouterTabs.tsx
  packages/admin/admin-stories/src/admin/table/TableBesidesForm.tsx
  packages/admin/admin-stories/src/admin/table/TableBesidesFormSelectionHooks.tsx
  packages/admin/admin-stories/src/docs/components/EditDialog/editDialog.decorator.tsx
  packages/admin/admin-stories/src/docs/components/Table/stories/SelectionTable.stories.tsx
  packages/admin/admin/src/DirtyHandler.tsx
  packages/admin/admin/src/DirtyHandlerApiContext.tsx
  packages/admin/admin/src/EditDialog.tsx
  packages/admin/admin/src/FinalForm.tsx
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/router/BrowserRouter.tsx
  packages/admin/admin/src/router/ConfirmationDialog.styles.ts
  packages/admin/admin/src/router/Context.tsx
  packages/admin/admin/src/router/MemoryRouter.tsx
  packages/admin/admin/src/router/Prompt.tsx
  packages/admin/admin/src/router/PromptHandler.tsx
  packages/admin/admin/src/stack/Stack.tsx
  packages/admin/admin/src/table/TableLocalChanges.tsx
  packages/admin/admin/src/table/withDirtyHandlerApi.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo ProductsForm: Avoid of not modified fields
  demo/admin/src/products/ProductForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add initial sort to useDataGridRemote hook
  packages/admin/admin-stories/src/docs/components/DataGrid/DataGrid.stories.mdx
  packages/admin/admin-stories/src/docs/components/DataGrid/DataGrid.stories.tsx
  packages/admin/admin/src/dataGrid/useDataGridRemote.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update to jest 29 to have support for jest-resolve as eslint relies on it
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/blocks-api/package.json
  packages/api/cms-api/package.json
  packages/api/cms-api/src/generator/generate-crud-input.spec.ts
  packages/site/cms-site/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update to latest dev-process-manager version to remove reference to our gitlab
  package.json
  pnpm-lock.yaml
Due: prettylint

change dataGrid initial sort doc description
  packages/admin/admin-stories/src/docs/components/DataGrid/DataGrid.stories.mdx
Due: none

Add GraphQL API mocking to Storybook Relying on the availability of third party GraphQL APIs in Storybook is not preferable. This change adds the ability to mock an API using Mock Service Worker.
  packages/admin/admin-stories/.storybook/mocks/browser.ts
  packages/admin/admin-stories/.storybook/mocks/handlers.ts
  packages/admin/admin-stories/.storybook/preview.tsx
  packages/admin/admin-stories/package.json
  packages/admin/admin-stories/public/mockServiceWorker.js
  packages/admin/admin-stories/src/docs/components/DataGrid/DataGrid.stories.tsx
  yarn.lock
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Mock resolvers instead of queries
  packages/admin/admin-stories/.storybook/mocks/handlers.ts
  packages/admin/admin-stories/package.json
  packages/admin/admin-stories/src/docs/components/DataGrid/DataGrid.stories.tsx
  yarn.lock
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix formatting of package.json
  packages/admin/admin-stories/package.json
Due: prettylint

Re-add default value for redirects module options The default value was incorrectly removed while developing the dependencies module.
  packages/api/cms-api/src/redirects/redirects.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
