Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix empty filter, this caused an mikro-orm error
  packages/api/cms-api/src/common/filter/mikro-orm.spec.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(FilesService): check if mimetype is supported by exifr before parsing
  packages/api/cms-api/src/dam/files/files.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Allow entities without scope instead of throwing an error
  packages/api/cms-api/src/content-scope/scope.guard.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Support boolean correctly
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/ProductsTable.tsx
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20221006101720.ts
  demo/api/src/products/entities/product.entity.ts
  packages/admin/admin/src/dataGrid/muiGridFilterToGql.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

api generator: fixes
  demo/api/schema.gql
  packages/api/cms-api/src/common/filter/date.filter.ts
  packages/api/cms-api/src/common/filter/mikro-orm.spec.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
  packages/api/cms-api/src/common/filter/number.filter.ts
  packages/api/cms-api/src/generator/generate-crud-input.ts
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix(PageExistsConstraint): return instance of PageExistsConstraint from factory
  packages/api/cms-api/src/page-tree/page-tree.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

inline call to muiGridFilterToGql to avoid variables
  demo/admin/src/products/ProductsTable.tsx
  packages/admin/admin-stories/src/docs/components/DataGrid/DataGrid.stories.mdx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Generated Crud API: Rename query to search
  demo/admin/src/products/ProductsTable.tsx
  demo/api/schema.gql
  demo/api/src/products/entities/product.entity.ts
  packages/admin/admin/src/dataGrid/muiGridFilterToGql.tsx
  packages/api/cms-api/src/common/filter/mikro-orm.spec.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
  packages/api/cms-api/src/generator/crud-generator.decorator.ts
  packages/api/cms-api/src/generator/generate-crud.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Enable react/self-closing-comp rule in nextjs lint config
  demo/site/src/components/Breadcrumbs.tsx
  demo/site/src/pages/_document.tsx
  packages/eslint-config/nextjs.js
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Avoid non-null-assertion by passing no variables at all if skip is true
  demo/admin/src/products/ProductForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add a dev-story for debugging StackBreadcrumbs
  packages/admin/admin-stories/src/admin/stack/StackBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent flickering of StackBreadcrumbs
  packages/admin/admin/src/stack/breadcrumbs/StackBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Changelog for 3.0.0 release
  CHANGELOG.md
  CHANGELOG.old.md
Due: prettylint

Update changelog entry for clearable prop in ColorPicker
  CHANGELOG.md
Due: prettylint

Add scope to redirects, similar to PageTree (always a scope parameter in api) but with factories for easy usage
  demo/admin/src/App.tsx
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/db/migrations/Migration20221014095718.ts
  demo/api/src/redirects/dto/redirect-scope.ts
  packages/admin/cms-admin/src/redirects/RedirectForm.gql.ts
  packages/admin/cms-admin/src/redirects/RedirectForm.tsx
  packages/admin/cms-admin/src/redirects/RedirectsTable.gql.ts
  packages/admin/cms-admin/src/redirects/RedirectsTable.tsx
  packages/admin/cms-admin/src/redirects/createRedirectsPage.tsx
  packages/admin/cms-admin/src/redirects/submitMutation.ts
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/redirects/dto/empty-redirect-scope.ts
  packages/api/cms-api/src/redirects/dto/redirect-input.factory.ts
  packages/api/cms-api/src/redirects/dto/redirect.args.ts
  packages/api/cms-api/src/redirects/dto/redirects-args.factory.ts
  packages/api/cms-api/src/redirects/entities/redirect-entity.factory.ts
  packages/api/cms-api/src/redirects/redirects.module.ts
  packages/api/cms-api/src/redirects/redirects.resolver.ts
  packages/api/cms-api/src/redirects/types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

api generator: Make detail query non-nullable, throw an exception when id is not found
  demo/api/schema.gql
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changelog entry for RowActions
  CHANGELOG.md
Due: prettylint

Close the menu when an item is clicked
  packages/admin/admin/src/common/RowActions.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore(release): publish v3.0.0
  lerna.json
  packages/admin/admin-babel-preset/package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-react-select/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin-theme/package.json
  packages/admin/admin/package.json
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/blocks-api/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/site/cms-site/package.json
Due: prettylint

Add tooltip prop to icon action
  packages/admin/admin/src/common/RowActions.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Post 3.0.0 release adaptions - Add date and release number to changelog - Update version in Demo - Update version in Storybook
  CHANGELOG.md
  demo/admin/package.json
  demo/api/package.json
  demo/site/package.json
  packages/admin/admin-stories/package.json
  yarn.lock
Due: prettylint

chore(release): publish v3.0.1
  lerna.json
  packages/admin/admin-babel-preset/package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-react-select/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin-theme/package.json
  packages/admin/admin/package.json
  packages/admin/blocks-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/blocks-api/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/site/cms-site/package.json
Due: prettylint

Update yarn.lock
  yarn.lock
Due: none

Improve docs of RowActions
  packages/admin/admin-stories/src/docs/components/RowActions/RowActions.stories.mdx
  packages/admin/admin-stories/src/docs/components/RowActions/RowActions.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move RowActions changelog entry to "next" section
  CHANGELOG.md
Due: prettylint

Fix Demo Site public env vars
  .env
  demo/site/next.config.js
  demo/site/preBuild/src/publicGenerator/sitemap.xml.ts
  demo/site/src/config.ts
  demo/site/src/pages/_app.tsx
  demo/site/src/pages/_document.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

let mock-idp return sub, like we did before 6acc600b918d2e56c1da827ec7dd3488dbfc7606
  mock-idp.js
Due: prettylint

Add check if libraries have been built before publishing
  check-libraries.sh
  package.json
Due: prettylint

search field inside redirects page should align with the redirect type select and the activation select
  packages/admin/cms-admin/src/redirects/RedirectsTable.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changelog for scoped redirects
  CHANGELOG.md
Due: prettylint

Avoid wrapping useQuery hook Wrapping the hook is not desirable as the hook can only be wrapped once. We therefore move the focus aware polling into a separate `useFocusAwarePolling` hook.
  CHANGELOG.md
  packages/admin/admin/src/apollo/useFocusAwarePolling.ts
  packages/admin/admin/src/apollo/useFocusAwareQuery.ts
  packages/admin/admin/src/index.ts
  packages/admin/cms-admin/src/builds/BuildEntry.tsx
  packages/admin/cms-admin/src/pages/pageTreeSelect/PageTreeSelectDialog.tsx
  packages/admin/cms-admin/src/pages/pagesPage/PagesPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(useTableQueryFilter): add option to useTableQueryFilter to save filters in browser storage
  packages/admin/admin/src/table/useTableQueryFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(DamTable): use useStoredState() to persist sorting in LocalStorage
  packages/admin/cms-admin/src/dam/DamTable.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

revert(useTableQueryFilter): remove stored state from useTableQueryFilter
  packages/admin/admin/src/table/useTableQueryFilter.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add docs for useFocusAwarePolling hook
  packages/admin/admin-stories/src/docs/hooks/useFocusAwarePolling/useFocusAwarePolling.stories.mdx
  packages/admin/admin-stories/src/docs/hooks/useFocusAwarePolling/useFocusAwarePolling.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changelog entry
  CHANGELOG.md
Due: prettylint

Remove generic arguments from useFocusAwarePolling hook
  packages/admin/admin/src/apollo/useFocusAwarePolling.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix redirect creation in Demo site
  demo/site/preBuild/src/createRedirects.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove args class import from single CRUD generator The args class is not used anywhere.
  packages/api/cms-api/src/generator/generate-crud-single.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use a label so there is no need to use a positioning container
  packages/admin/cms-admin/src/redirects/RedirectsTable.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
