Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

API Generator: skip props with Unsupported Reference Type instead of generating broken input (#4983)
  .changeset/small-readers-joke.md
  packages/api/api-generator/src/commands/generate/generateCrudInput/generate-crud-input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Grid: Add support for column visible=false (not just breakpoints) (#4930)
  .changeset/quiet-paws-obey.md
  demo/admin/src/products/generator/ProductsGrid.cometGen.tsx
  demo/admin/src/products/generator/generated/ProductsGrid.tsx
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
  packages/admin/admin-generator/src/commands/generate/utils/columnVisibility.ts
  packages/admin/admin/src/dataGrid/GridColDef.ts
  packages/admin/admin/src/dataGrid/usePersistentColumnState.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demonstrate issue in API-Generator when nesting OneToMany relations
  demo/api/src/app.module.ts
  demo/api/src/foo/entities/bar.entity.ts
  demo/api/src/foo/entities/baz.entity.ts
  demo/api/src/foo/entities/foo.entity.ts
  demo/api/src/foo/foo.module.ts
  demo/api/src/foo/generated/bar.resolver.ts
  demo/api/src/foo/generated/baz.resolver.ts
  demo/api/src/foo/generated/dto/bar-nested-baz.input.ts
  demo/api/src/foo/generated/dto/bar.filter.ts
  demo/api/src/foo/generated/dto/bar.input.ts
  demo/api/src/foo/generated/dto/bar.sort.ts
  demo/api/src/foo/generated/dto/bars.args.ts
  demo/api/src/foo/generated/dto/baz.filter.ts
  demo/api/src/foo/generated/dto/baz.input.ts
  demo/api/src/foo/generated/dto/baz.sort.ts
  demo/api/src/foo/generated/dto/bazs.args.ts
  demo/api/src/foo/generated/dto/foo-nested-bar.input.ts
  demo/api/src/foo/generated/dto/foo.filter.ts
  demo/api/src/foo/generated/dto/foo.input.ts
  demo/api/src/foo/generated/dto/foo.sort.ts
  demo/api/src/foo/generated/dto/foos.args.ts
  demo/api/src/foo/generated/dto/paginated-bars.ts
  demo/api/src/foo/generated/dto/paginated-bazs.ts
  demo/api/src/foo/generated/dto/paginated-foos.ts
  demo/api/src/foo/generated/foo.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Convert Admin packages to ESM
  demo/admin/vite.config.mts
  packages/admin/admin-babel-preset/index.js
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-color-picker/src/ColorPicker.slots.ts
  packages/admin/admin-date-time/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-icons/tsconfig.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/index.ts
  packages/admin/tsconfig.base.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix tests by removing cyclic imports
  packages/admin/admin/src/stack/Api.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/fuzzy-paths-press.md
Due: prettylint

Demo Site: Add text-wrap: balance for better readability
  demo/site/src/styles/global.scss
Due: prettylint

Fix `Mail` and `Letter` icons
  .changeset/seven-tires-film.md
  packages/admin/admin-icons/icons/Letter_Envelope_Mail.svg
  packages/admin/admin-icons/icons/Mail_Letter_Envelope.svg
Due: prettylint

Fix `Mail` and `Letter` icons (#4989)
  .changeset/seven-tires-film.md
  packages/admin/admin-icons/icons/Letter_Envelope_Mail.svg
  packages/admin/admin-icons/icons/Mail_Letter_Envelope.svg
Due: prettylint

Remove unnecessery Storybook cors settings
  demo/api/.storybook/middleware.js
  knip.json
Due: prettylint

Admin: Add new `Breadcrumbs` component (#4936)
  packages/admin/admin/src/common/breadcrumbs/Breadcrumbs.tsx
  packages/admin/admin/src/common/breadcrumbs/__stories__/Breadcrumbs.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Don't lint src/ with Prettier
  demo/admin/package.json
  demo/api/package.json
  demo/site/package.json
  docs/package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/mail-react/package.json
  packages/site/site-nextjs/package.json
  packages/site/site-react/package.json
  storybook/package.json
Due: prettylint

Automatically hide the `MasterMenu` if only one menu item is available
  .changeset/tiny-rivers-dress.md
  packages/admin/admin/src/appHeader/AppHeader.tsx
  packages/admin/admin/src/appHeader/menuButton/AppHeaderMenuButton.tsx
  packages/admin/admin/src/mui/MasterLayout.tsx
  packages/admin/admin/src/mui/mainNavigation/Context.tsx
  packages/admin/cms-admin/src/common/MasterMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP
  packages/admin/cms-admin/src/blocks/table/ColumnHeader.tsx
  packages/admin/cms-admin/src/blocks/table/__tests__/dragDropColumn.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Readd EntityInfoModule and restructure
  packages/api/cms-api/src/common/entityInfo/entity-info.decorator.ts
  packages/api/cms-api/src/common/entityInfo/entity-info.module.ts
  packages/api/cms-api/src/common/entityInfo/entity-info.service.ts
  packages/api/cms-api/src/dependencies/dependencies.module.ts
  packages/api/cms-api/src/dependencies/dependencies.service.ts
  packages/api/cms-api/src/warnings/warning.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Readd entity info to warning resolver
  packages/api/cms-api/src/common/entityInfo/entity-info.service.ts
  packages/api/cms-api/src/warnings/warning.module.ts
  packages/api/cms-api/src/warnings/warning.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move entity info from common/entityInfo to entity-info
  packages/api/cms-api/src/dam/files/entities/file.entity.ts
  packages/api/cms-api/src/dependencies/dependencies.module.ts
  packages/api/cms-api/src/dependencies/dependencies.service.ts
  packages/api/cms-api/src/entity-info/entity-info.decorator.ts
  packages/api/cms-api/src/entity-info/entity-info.module.ts
  packages/api/cms-api/src/entity-info/entity-info.object.ts
  packages/api/cms-api/src/entity-info/entity-info.service.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/page-tree/entities/page-tree-node-base.entity.ts
  packages/api/cms-api/src/redirects/entities/redirect-entity.factory.ts
  packages/api/cms-api/src/warnings/warning.module.ts
  packages/api/cms-api/src/warnings/warning.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Type countResult in getDependents
  packages/api/cms-api/src/dependencies/dependencies.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add basic changeset
  .changeset/late-meals-live.md
Due: prettylint

Remove commented parts from DB migration
  packages/api/cms-api/src/mikro-orm/migrations/Migration20250531565156.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Test for duplicating column
  packages/admin/cms-admin/src/blocks/table/ColumnHeader.tsx
  packages/admin/cms-admin/src/blocks/table/__tests__/duplicateColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/utils.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Test for deleting column
  packages/admin/cms-admin/src/blocks/table/__tests__/deleteColumn.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor: Use existing function to click button in menu
  packages/admin/cms-admin/src/blocks/table/__tests__/insertRow.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move view names to constants file
  packages/api/cms-api/src/dependencies/dependencies.constants.ts
  packages/api/cms-api/src/dependencies/dependencies.service.ts
  packages/api/cms-api/src/entity-info/entity-info.constants.ts
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Tests for inserting column
  packages/admin/cms-admin/src/blocks/table/__tests__/insertColumn.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add blockVisible, entityVisible and visible to block_index_dependencies view
  packages/api/cms-api/src/dependencies/dependencies.service.ts
  packages/api/cms-api/src/entity-info/entity-info.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add additional tests for inserting rows
  packages/admin/cms-admin/src/blocks/table/__tests__/insertRow.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Extend changeset
  .changeset/late-meals-live.md
Due: prettylint

Fix api generator creating duplicate class-validator import
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-validators.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/generate-crud-input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Regenerate demo api files
  demo/api/src/footer/generated/dto/footer.input.ts
  demo/api/src/news/generated/dto/news.input.ts
  demo/api/src/products/generated/dto/manufacturer-country.input.ts
  demo/api/src/products/generated/dto/manufacturer.input.ts
  demo/api/src/products/generated/dto/product-category-type.input.ts
  demo/api/src/products/generated/dto/product-category.input.ts
  demo/api/src/products/generated/dto/product-highlight.input.ts
  demo/api/src/products/generated/dto/product-nested-product-color.input.ts
  demo/api/src/products/generated/dto/product-nested-product-statistics.input.ts
  demo/api/src/products/generated/dto/product-nested-product-to-tag.input.ts
  demo/api/src/products/generated/dto/product-tag-nested-product-to-tag.input.ts
  demo/api/src/products/generated/dto/product-tag.input.ts
  demo/api/src/products/generated/dto/product-variant.input.ts
  demo/api/src/products/generated/dto/product.input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/happy-plants-train.md
Due: prettylint

Update snapshot
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/__snapshots__/generate-crud-input-json-import.spec.ts.snap
Due: none

Remove console.log
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-validators.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP: Test for pasting row with more/less values than columns
  packages/admin/cms-admin/src/blocks/table/RowActionsCell.tsx
  packages/admin/cms-admin/src/blocks/table/__tests__/copyPasteRow.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

API Generator: Fix duplicate imports (#5000)
  .changeset/happy-plants-train.md
  demo/api/src/footer/generated/dto/footer.input.ts
  demo/api/src/news/generated/dto/news.input.ts
  demo/api/src/products/generated/dto/manufacturer-country.input.ts
  demo/api/src/products/generated/dto/manufacturer.input.ts
  demo/api/src/products/generated/dto/product-category-type.input.ts
  demo/api/src/products/generated/dto/product-category.input.ts
  demo/api/src/products/generated/dto/product-highlight.input.ts
  demo/api/src/products/generated/dto/product-nested-product-color.input.ts
  demo/api/src/products/generated/dto/product-nested-product-statistics.input.ts
  demo/api/src/products/generated/dto/product-nested-product-to-tag.input.ts
  demo/api/src/products/generated/dto/product-tag-nested-product-to-tag.input.ts
  demo/api/src/products/generated/dto/product-tag.input.ts
  demo/api/src/products/generated/dto/product-variant.input.ts
  demo/api/src/products/generated/dto/product.input.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/__snapshots__/generate-crud-input-json-import.spec.ts.snap
  packages/api/api-generator/src/commands/generate/generateCrudInput/__tests__/generate-crud-input-validators.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrudInput/generate-crud-input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Test for copy-pasting column
  packages/admin/cms-admin/src/blocks/table/__tests__/copyPasteColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/copyPasteRow.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/utils.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Test pasting columns with more/less values than rows exist in the table
  packages/admin/cms-admin/src/blocks/table/__tests__/copyPasteColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/pasteColumnWithDifferentValues.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/utils.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Small fixes
  packages/admin/cms-admin/src/blocks/table/__tests__/copyPasteColumn.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/utils.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
