Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/purple-pants-tell.md
Due: prettylint

Add comment explaining the rewrite
  demo/site/next.config.mjs
Due: none

Demo Site: use alternative CSS-only animation for accordion block (#3461)
  demo/site-pages/src/common/blocks/AccordionItemBlock.tsx
  demo/site/src/common/blocks/AccordionItemBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

COM-957: Add basic warning entity (#2503)
  demo/admin/crud-generator-config.ts
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/warnings/WarningsGrid.tsx
  demo/admin/src/warnings/WarningsPage.tsx
  demo/api/schema.gql
  demo/api/src/app.module.ts
  demo/api/src/db/migrations/Migration20241008102605.ts
  demo/api/src/warnings/entities/warning-severity.enum.ts
  demo/api/src/warnings/entities/warning-status.enum.ts
  demo/api/src/warnings/entities/warning.entity.ts
  demo/api/src/warnings/generated/dto/paginated-warnings.ts
  demo/api/src/warnings/generated/dto/warning.filter.ts
  demo/api/src/warnings/generated/dto/warning.input.ts
  demo/api/src/warnings/generated/dto/warning.sort.ts
  demo/api/src/warnings/generated/dto/warnings.args.ts
  demo/api/src/warnings/generated/warning.resolver.ts
  demo/api/src/warnings/warning.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Warning Module: Add console job that creates warnings from blocks (#2656)
  demo/admin/src/warnings/WarningsGrid.tsx
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20241008102605.ts
  demo/api/src/db/migrations/Migration20241108073817.ts
  demo/api/src/warnings/entities/warning.entity.ts
  demo/api/src/warnings/generated/dto/warning.filter.ts
  demo/api/src/warnings/generated/dto/warning.input.ts
  demo/api/src/warnings/generated/dto/warning.sort.ts
  demo/api/src/warnings/warning-checker.console.ts
  demo/api/src/warnings/warning.module.ts
  packages/api/cms-api/src/blocks/block.ts
  packages/api/cms-api/src/blocks/factories/createSeoBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update code to fit comet v8 after rebase to next branch
  demo/admin/src/warnings/WarningsGrid.tsx
  demo/api/src/warnings/generated/warning.resolver.ts
  demo/api/src/warnings/warning-checker.command.ts
  demo/api/src/warnings/warning.module.ts
  packages/api/cms-api/src/blocks/block.ts
  packages/api/cms-api/src/blocks/factories/createSeoBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

make adaptations so the code is runnable again
  demo/admin/src/warnings/WarningsGrid.tsx
  demo/api/src/warnings/entities/warning.entity.ts
  demo/api/src/warnings/generated/warning.resolver.ts
  demo/api/src/warnings/warning-checker.console.ts
  demo/api/src/warnings/warning.module.ts
  packages/api/cms-api/src/blocks/block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix react import
  demo/admin/src/warnings/WarningsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/smooth-ravens-cry.md
Due: prettylint

Styling and custom component for DataGrid panels
  .changeset/fresh-eggs-think.md
  .changeset/weak-meals-juggle.md
  demo/admin/src/App.tsx
  packages/admin/admin-theme/src/componentsTheme/MuiDataGrid.tsx
  packages/admin/admin/src/dataGrid/DataGridPanel.tsx
  packages/admin/admin/src/index.ts
  storybook/.storybook/preview.tsx
  storybook/src/admin/toolbar/DataGridToolbar.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Support dynamic values for the `label` prop of `SwitchField` depending on its `checked` state
  .changeset/clever-cats-yawn.md
  demo/admin/src/products/ManufacturerForm.tsx
  packages/admin/admin/src/form/fields/SwitchField.tsx
  storybook/src/admin/form/AllFieldComponents.stories.tsx
  storybook/src/admin/form/Switch.stories.tsx
  storybook/src/docs/form/components/FinalFormFields.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Disable pagination
  demo/admin/src/products/categories/ProductCategoriesGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add reorder value to row to show when dragging in the grid
  demo/admin/src/products/categories/ProductCategoriesGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add information on adding scope columns to BrevoConfig table
  docs/docs/3-features-modules/9-brevo-module/migration-guide/migration-from-brevo-v2-to-v3.md
Due: prettylint

convert merged cometGen to new api
  demo/admin/src/products/future/IdFieldInForm.cometGen.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix wrong merge, news are not in crud generator config anymore in next branch
  demo/admin/crud-generator-config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Provde StaticSelectFieldsTestGrid
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/products/future/ProductsGrid.cometGen.ts
  demo/admin/src/products/future/StaticSelectFieldsTestProductsGrid.cometGen.ts
  demo/admin/src/products/future/StaticSelectFieldsTestProductsPage.tsx
  demo/admin/src/products/future/generated/StaticSelectFieldsTestProductsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add a SliderBlock for debugging an issue with the preview-overlay
  demo/admin/src/documents/pages/blocks/PageContentBlock.tsx
  demo/admin/src/documents/pages/blocks/SliderBlock.tsx
  demo/api/block-meta.json
  demo/api/src/documents/pages/blocks/page-content.block.ts
  demo/api/src/documents/pages/blocks/slider.block.ts
  demo/site/src/documents/pages/blocks/PageContentBlock.tsx
  demo/site/src/documents/pages/blocks/SliderBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

quick workaround for nested fields
  packages/admin/cms-admin/src/generator/future/utils/tsMorphHelper.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use name field of blocks instead of hardcoded strings
  .changeset/purple-pants-tell.md
  demo/admin/src/App.tsx
  docs/docs/2-core-concepts/2-blocks/9-scope-specific-blocks.mdx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: scoping of breadcrumb links, add unified function that resolves urls for site
  demo/site/src/app/[visibility]/[domain]/[language]/[[...path]]/page.tsx
  demo/site/src/app/[visibility]/[domain]/sitemap.ts
  demo/site/src/common/blocks/InternalLinkBlock.tsx
  demo/site/src/common/components/Breadcrumbs.tsx
  demo/site/src/documents/pages/Page.tsx
  demo/site/src/layout/header/PageLink.tsx
  demo/site/src/news/NewsList.tsx
  demo/site/src/news/blocks/NewsLinkBlock.tsx
  demo/site/src/news/blocks/NewsListBlock.tsx
  demo/site/src/util/resolveUrl.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: update prop comment
  demo/site/src/util/resolveUrl.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

renamed resolveUrl to createSiteUrl
  demo/site/src/app/[visibility]/[domain]/[language]/[[...path]]/page.tsx
  demo/site/src/app/[visibility]/[domain]/sitemap.ts
  demo/site/src/common/blocks/InternalLinkBlock.tsx
  demo/site/src/common/components/Breadcrumbs.tsx
  demo/site/src/layout/header/PageLink.tsx
  demo/site/src/news/NewsList.tsx
  demo/site/src/news/blocks/NewsLinkBlock.tsx
  demo/site/src/news/blocks/NewsListBlock.tsx
  demo/site/src/util/createSiteUrl.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

make baseUrl default to empty string
  demo/site/src/app/[visibility]/[domain]/[language]/[[...path]]/page.tsx
  demo/site/src/common/blocks/InternalLinkBlock.tsx
  demo/site/src/common/components/Breadcrumbs.tsx
  demo/site/src/layout/header/PageLink.tsx
  demo/site/src/news/NewsList.tsx
  demo/site/src/news/blocks/NewsLinkBlock.tsx
  demo/site/src/news/blocks/NewsListBlock.tsx
  demo/site/src/util/createSiteUrl.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix documentation
  demo/site/src/util/createSiteUrl.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

make scope required in createSiteUrl
  demo/site/src/common/blocks/InternalLinkBlock.tsx
  demo/site/src/util/createSiteUrl.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: remove baseUrl from createSiteUrl helper function
  demo/site/src/app/[visibility]/[domain]/[language]/[[...path]]/page.tsx
  demo/site/src/app/[visibility]/[domain]/sitemap.ts
  demo/site/src/common/blocks/InternalLinkBlock.tsx
  demo/site/src/layout/header/PageLink.tsx
  demo/site/src/news/NewsList.tsx
  demo/site/src/news/blocks/NewsLinkBlock.tsx
  demo/site/src/news/blocks/NewsListBlock.tsx
  demo/site/src/util/createSiteUrl.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: fix typo
  demo/site/src/util/createSiteUrl.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove unneccesary documentation
  docs/docs/4-guides/3-generate-grid-form-views/1-api-entity-with-crud-generator/index.md
Due: prettylint

fix: link
  docs/docs/4-guides/3-generate-grid-form-views/1-api-entity-with-crud-generator/index.md
Due: prettylint

docs: add generate grid form views guide
  docs/docs/4-guides/3-generate-grid-form-views/1-api-entity-with-crud-generator/images/customerDirectoryStructure.png
  docs/docs/4-guides/3-generate-grid-form-views/1-api-entity-with-crud-generator/images/customersQueryInPlaygroundWithError.png
  docs/docs/4-guides/3-generate-grid-form-views/1-api-entity-with-crud-generator/index.md
  docs/docs/4-guides/3-generate-grid-form-views/2-create-a-migration/images/createMigration.png
  docs/docs/4-guides/3-generate-grid-form-views/2-create-a-migration/images/customerQueryInPlaygroundSuccessfull.png
  docs/docs/4-guides/3-generate-grid-form-views/2-create-a-migration/images/executeMigration.png
  docs/docs/4-guides/3-generate-grid-form-views/2-create-a-migration/index.md
  docs/docs/4-guides/3-generate-grid-form-views/3-create-fixtures/images/customerQueryInPlaygroundWithFixtureData.png
  docs/docs/4-guides/3-generate-grid-form-views/3-create-fixtures/index.md
  docs/docs/4-guides/3-generate-grid-form-views/4-admin-generator-generate-grid/images/adminGeneratorCli.png
  docs/docs/4-guides/3-generate-grid-form-views/4-admin-generator-generate-grid/images/customerDataGrid.png
  docs/docs/4-guides/3-generate-grid-form-views/4-admin-generator-generate-grid/images/customerGridIDE.png
  docs/docs/4-guides/3-generate-grid-form-views/4-admin-generator-generate-grid/index.md
  docs/docs/4-guides/3-generate-grid-form-views/5-admin-generator-generate-form/images/adminGeneratorCli.png
  docs/docs/4-guides/3-generate-grid-form-views/5-admin-generator-generate-form/images/customerForm.png
  docs/docs/4-guides/3-generate-grid-form-views/5-admin-generator-generate-form/index.md
  docs/docs/4-guides/3-generate-grid-form-views/6-integrate-admin-generator-datagrid-into-comet-application/images/DataGridFormIntegration.gif
  docs/docs/4-guides/3-generate-grid-form-views/6-integrate-admin-generator-datagrid-into-comet-application/images/adminGeneratorCli.png
  docs/docs/4-guides/3-generate-grid-form-views/6-integrate-admin-generator-datagrid-into-comet-application/images/customerGridIDE.png
  docs/docs/4-guides/3-generate-grid-form-views/6-integrate-admin-generator-datagrid-into-comet-application/index.md
  docs/docs/4-guides/3-generate-grid-form-views/index.md
Due: prettylint

fix prettier
  docs/docs/4-guides/3-generate-grid-form-views/1-api-entity-with-crud-generator/index.md
  docs/docs/4-guides/3-generate-grid-form-views/2-create-a-migration/index.md
  docs/docs/4-guides/3-generate-grid-form-views/3-create-fixtures/index.md
  docs/docs/4-guides/3-generate-grid-form-views/4-admin-generator-generate-grid/index.md
  docs/docs/4-guides/3-generate-grid-form-views/5-admin-generator-generate-form/index.md
  docs/docs/4-guides/3-generate-grid-form-views/6-integrate-admin-generator-datagrid-into-comet-application/index.md
  docs/docs/4-guides/3-generate-grid-form-views/index.md
Due: prettylint

fix cspell errors
  docs/docs/4-guides/3-generate-grid-form-views/1-api-entity-with-crud-generator/index.md
  docs/docs/4-guides/3-generate-grid-form-views/2-create-a-migration/index.md
  docs/docs/4-guides/3-generate-grid-form-views/3-create-fixtures/index.md
  docs/docs/4-guides/3-generate-grid-form-views/4-admin-generator-generate-grid/index.md
  docs/docs/4-guides/3-generate-grid-form-views/5-admin-generator-generate-form/index.md
  docs/docs/4-guides/3-generate-grid-form-views/6-integrate-admin-generator-datagrid-into-comet-application/index.md
  project-words.txt
Due: prettylint

docs: link to api generator docs
  docs/docs/4-guides/3-generate-grid-form-views/index.md
Due: prettylint

docs: delete sample code
  docs/docs/4-guides/3-generate-grid-form-views/index.md
Due: prettylint

docs: remove --prefix examples
  docs/docs/4-guides/3-generate-grid-form-views/3-create-fixtures/index.md
  docs/docs/4-guides/3-generate-grid-form-views/4-admin-generator-generate-grid/index.md
  docs/docs/4-guides/3-generate-grid-form-views/5-admin-generator-generate-form/index.md
Due: prettylint

docs: remove potential missleading sentence
  docs/docs/4-guides/3-generate-grid-form-views/4-admin-generator-generate-grid/index.md
  docs/docs/4-guides/3-generate-grid-form-views/5-admin-generator-generate-form/index.md
Due: prettylint

Add `CometConfigProvider`
  demo/admin/src/App.tsx
  packages/admin/cms-admin/src/config/CometConfigContext.tsx
  packages/admin/cms-admin/src/form/file/FinalFormFileUpload.tsx
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/preview/block/BlockPreview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move page tree config to new provider
  demo/admin/src/App.tsx
  demo/admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/blocks/CmsBlockContextProvider.tsx
  packages/admin/cms-admin/src/config/CometConfigContext.tsx
  packages/admin/cms-admin/src/pages/pageTree/MovePageMenuItem.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageActions.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageLabel.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTreeContext.ts
  packages/admin/cms-admin/src/pages/pageTree/PageTreeRow.tsx
  packages/admin/cms-admin/src/pages/pageTree/PageTypeIcon.tsx
  packages/admin/cms-admin/src/pages/pageTree/useCopyPastePages.tsx
  packages/admin/cms-admin/src/pages/pageTree/useCopyPastePages/sendPages.tsx
  packages/admin/cms-admin/src/pages/pageTreeConfig.ts
  packages/admin/cms-admin/src/pages/pageTreeSelect/PageTreeSelectDialog.tsx
  packages/admin/cms-admin/src/pages/pagesPage/PagesPage.tsx
  packages/admin/cms-admin/src/pages/usePageTreeDocumentAnchors.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
