Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Update .changeset/shy-jars-float.md
  .changeset/shy-jars-float.md
Due: prettylint

refactor video blocks (api, admin): outsource video controls, add preview image, remove aspectRatio, move youtubevideoblock to cms packages
  demo/admin/src/pages/PageContentBlock.tsx
  demo/admin/src/pages/blocks/VideoBlock.tsx
  demo/api/block-meta.json
  demo/api/src/pages/blocks/PageContentBlock.ts
  demo/api/src/pages/blocks/video.block.ts
  packages/admin/blocks-admin/src/blocks/YouTubeVideoBlock.tsx
  packages/admin/blocks-admin/src/blocks/helpers/composeBlocks/composeBlocks.spec.tsx
  packages/admin/blocks-admin/src/index.ts
  packages/admin/cms-admin/src/blocks/DamVideoBlock.tsx
  packages/admin/cms-admin/src/blocks/VideoOptionsFields.tsx
  packages/admin/cms-admin/src/blocks/YouTubeVideoBlock.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/blocks-api/src/blocks/youtube-video.block.ts
  packages/api/blocks-api/src/index.ts
  packages/api/cms-api/block-meta.json
  packages/api/cms-api/src/blocks/video-base.block.ts
  packages/api/cms-api/src/blocks/you-tube-video.block.ts
  packages/api/cms-api/src/dam/blocks/dam-video.block.ts
  packages/api/cms-api/src/index.ts
  packages/site/cms-site/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rework demo admin components
  demo/site/src/app/block-preview/page/page.tsx
  packages/admin/cms-admin/src/blocks/DamVideoBlock.tsx
  packages/admin/cms-admin/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rework video blocks site implementation
  demo/admin/src/pages/blocks/MediaBlock.tsx
  demo/api/block-meta.json
  demo/api/src/pages/blocks/media.block.ts
  demo/site/public/play-circle.svg
  demo/site/src/blocks/MediaBlock.tsx
  demo/site/src/blocks/helpers/SvgUse.tsx
  demo/site/src/blocks/helpers/VideoPreviewImage.tsx
  packages/site/cms-site/src/blocks/DamVideoBlock.tsx
  packages/site/cms-site/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Change enumMember rule from PascalCase to camelCase
  packages/eslint-config/core.js
  packages/eslint-config/nestjs.js
Due: prettylint

Demo: conditional fields in form
  demo/admin/src/products/ManufacturerForm.tsx
  demo/api/src/products/entities/manufacturer.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

API Generator: Add missing type for integer fields in input type (#2225)
  .changeset/shy-jars-float.md
  demo/api/src/products/generated/dto/product-nested-product-statistics.input.ts
  packages/api/cms-api/src/generator/generate-crud-input-integer.spec.ts
  packages/api/cms-api/src/generator/generate-crud-input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adapt Demo Vite dev server host option (#2224)
  demo/admin/vite.config.mts
Due: none

Update changeset
  .changeset/beige-chefs-confess.md
Due: prettylint

Update migration guide
  docs/docs/migration/migration-from-v6-to-v7.md
Due: prettylint

feat(UserHeaderItem): add buttonChildren prop to make app header dropdown label overridable
  packages/admin/cms-admin/src/common/header/UserHeaderItem.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(UserHeaderItem): add children prop to create the possibility to add custom buttons
  packages/admin/cms-admin/src/common/header/UserHeaderItem.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add min validation for position-field
  demo/api/src/products/entities/product-category.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: outsource video options fields
  packages/admin/cms-admin/src/blocks/DamVideoBlock.tsx
  packages/admin/cms-admin/src/blocks/helpers/VideoOptionsFields.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add changeset
  .changeset/cyan-chicken-juggle.md
Due: prettylint

docs: add example to changeset
  .changeset/cyan-chicken-juggle.md
Due: prettylint

Regenerate API
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use FinalForm Field-Subscriber instead of conditional rendering
  demo/admin/src/products/ManufacturerForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Redesign EditImageDialog
  .changeset/nine-baboons-watch.md
  packages/admin/cms-admin/src/blocks/PixelImageBlock.tsx
  packages/admin/cms-admin/src/blocks/image/EditImageDialog.tsx
  packages/admin/cms-admin/src/common/image/ImageCrop.sc.ts
  packages/admin/cms-admin/src/common/image/ImageCrop.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove function-call to simplify changes
  demo/admin/src/products/ProductForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add translation for labels
  demo/admin/src/products/ProductForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix schema of demo-api
  demo/api/schema.gql
Due: none

feat(CrudContextMenu): use tooltip instead of snackbar for status messages
  packages/admin/admin/src/common/buttons/feedback/FeedbackButton.tsx
  packages/admin/admin/src/dataGrid/CrudContextMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove aspectRatio from YouTubeBlock
  .changeset/spotty-penguins-wash.md
  demo/api/block-meta.json
  packages/admin/blocks-admin/src/blocks/YouTubeVideoBlock.tsx
  packages/admin/blocks-admin/src/blocks/helpers/composeBlocks/composeBlocks.spec.tsx
  packages/api/blocks-api/block-meta.json
  packages/api/blocks-api/src/blocks/youtube-video.block.ts
  packages/api/cms-api/block-meta.json
  packages/site/cms-site/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Increase required mikro-orm version to 5.8.4 (peerDependency)
  .changeset/twenty-impalas-count.md
  demo/api/package.json
  demo/api/src/menus/main-menu-item.resolver.ts
  packages/api/cms-api/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(FeedbackButton): rework to simplify usage by relying on Promises for state updates
  packages/admin/admin/src/common/buttons/feedback/FeedbackButton.tsx
  packages/admin/admin/src/dataGrid/CrudContextMenu.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

API Generator: add search to OneToMany and ManyToMany filters that does a search like search argument in list quer
  .changeset/sixty-cougars-begin.md
  .changeset/ten-buses-lie.md
  demo/admin/src/products/ProductsGrid.tsx
  demo/api/schema.gql
  demo/api/src/news/generated/news.resolver.ts
  demo/api/src/news/generated/news.service.ts
  demo/api/src/products/generated/manufacturer-countries.service.ts
  demo/api/src/products/generated/manufacturer-country.resolver.ts
  demo/api/src/products/generated/manufacturer.resolver.ts
  demo/api/src/products/generated/manufacturers.service.ts
  demo/api/src/products/generated/product-categories.service.ts
  demo/api/src/products/generated/product-category.resolver.ts
  demo/api/src/products/generated/product-tag.resolver.ts
  demo/api/src/products/generated/product-tags.service.ts
  demo/api/src/products/generated/product-variant.resolver.ts
  demo/api/src/products/generated/product-variants.service.ts
  demo/api/src/products/generated/product.resolver.ts
  demo/api/src/products/generated/products.service.ts
  packages/admin/admin/src/dataGrid/muiGridFilterToGql.tsx
  packages/api/cms-api/src/common/filter/many-to-many.filter.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
  packages/api/cms-api/src/common/filter/one-to-many.filter.ts
  packages/api/cms-api/src/generator/generate-crud.ts
  packages/api/cms-api/src/generator/utils/search-fields-from-metadata.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix schema of Demo API (#2227)
  demo/api/schema.gql
Due: none

Crud Generators: Optional paging
  .changeset/clean-keys-crash.md
  demo/admin/src/common/MasterMenu.tsx
  demo/admin/src/products/ProductForm.gql.ts
  demo/admin/src/products/ProductForm.tsx
  demo/admin/src/products/ProductsGrid.tsx
  demo/admin/src/products/categories/ProductCategoriesTable.tsx
  demo/admin/src/products/future/ProductCategoriesGrid.cometGen.ts
  demo/admin/src/products/future/ProductCategoriesPage.tsx
  demo/admin/src/products/future/ProductCategoryForm.cometGen.ts
  demo/admin/src/products/future/generated/CreateCapProductForm.gql.tsx
  demo/admin/src/products/future/generated/CreateCapProductForm.tsx
  demo/admin/src/products/future/generated/ManufacturersGrid.tsx
  demo/admin/src/products/future/generated/ProductCategoriesGrid.tsx
  demo/admin/src/products/future/generated/ProductCategoryForm.gql.tsx
  demo/admin/src/products/future/generated/ProductCategoryForm.tsx
  demo/admin/src/products/future/generated/ProductForm.gql.tsx
  demo/admin/src/products/future/generated/ProductForm.tsx
  demo/admin/src/products/future/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/future/generated/ProductsGrid.tsx
  demo/api/schema.gql
  demo/api/src/products/entities/product-category.entity.ts
  demo/api/src/products/generated/dto/paginated-product-categories.ts
  demo/api/src/products/generated/dto/product-categories.args.ts
  demo/api/src/products/generated/product-category.resolver.ts
  packages/admin/cms-admin/src/generator/future/generateFormField.ts
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/utils/findQueryType.ts
  packages/api/cms-api/src/generator/crud-generator.decorator.ts
  packages/api/cms-api/src/generator/generate-crud.ts
  packages/api/cms-api/src/generator/utils/write-generated-files.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

CMS-Admin: Make upload part of public API
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset for incompatible api change
  .changeset/gorgeous-islands-perform.md
Due: prettylint

Revert "Remove `SITE_IS_PREVIEW` handling"
  demo/site-pages/next.config.js
Due: prettylint

Rename to legacyPagesRouterSitePreviewApiHandler
  demo/site-pages/src/pages/api/site-preview.ts
  packages/site/cms-site/src/index.ts
  packages/site/cms-site/src/sitePreview/pagesRouter/legacyPagesRouterSitePreviewApiHandler.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix test
  packages/api/cms-api/src/common/filter/mikro-orm.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Run api-generator to copy validation decorator into input
  demo/api/src/products/generated/dto/product-category.input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove custom handleRequest
  packages/api/cms-api/src/auth/guards/comet.guard.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Render plain component if not authorized
  packages/admin/cms-admin/src/userPermissions/hooks/currentUser.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
