Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use correct types in Toolbar
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove test data from StackBreadcrumbs
  packages/admin/admin/src/stack/breadcrumbs/StackBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert accidental changes
  docs/docs/3-features-modules/3-asset-management/cropping-and-aspect-ratio.mdx
  docs/src/theme/Playground/button.module.css
  packages/admin/admin-icons/icons/Cookie.svg
  packages/admin/admin-icons/icons/Disabled.svg
  packages/admin/admin-icons/icons/Folder.svg
Due: prettylint

fix import
  packages/admin/admin/src/stack/breadcrumbs/StackBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert accidental changes (#4885)
  docs/docs/3-features-modules/3-asset-management/cropping-and-aspect-ratio.mdx
  docs/src/theme/Playground/button.module.css
  packages/admin/admin-icons/icons/Cookie.svg
  packages/admin/admin-icons/icons/Disabled.svg
  packages/admin/admin-icons/icons/Folder.svg
Due: prettylint

Refactor: Simplify naming
  packages/admin/cms-admin/src/blocks/table/__tests__/insertRow.spec.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/evil-papayas-post.md
Due: prettylint

Admin Generator: Grid headerName: don't generate FormattedMessage for empty header (empty string) (#4882)
  .changeset/tender-experts-fold.md
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/generateGrid.test.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

muiGridSortToGql: Prevent overwriting the default value defined in the GraphQL schema (#4881)
  .changeset/evil-papayas-post.md
  packages/admin/admin/src/dataGrid/muiGridSortToGql.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix `Alert` links in Storybook
  packages/admin/admin/src/alert/Alert.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix `Alert` links in Storybook (#4886)
  packages/admin/admin/src/alert/Alert.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: renamed feature module
  packages/api/cms-api/src/action-logs/action-logs-feature.module.ts
  packages/api/cms-api/src/action-logs/action-logs.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add dedicated `lint:ci` script Add a dedicated lint script for CI to prevent false positive lint errors caused by the `lint:generated-files-not-modified` scripts.
  .github/workflows/lint.yml
  demo/admin/package.json
  demo/api/package.json
  demo/site/package.json
  docs/package.json
  package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/site/site-nextjs/package.json
  packages/site/site-react/package.json
  storybook/package.json
Due: prettylint

Add tenants
  demo-saas/admin/src/common/MasterMenu.tsx
  demo-saas/admin/src/tenants/TenantsForm.cometGen.ts
  demo-saas/admin/src/tenants/TenantsGrid.cometGen.ts
  demo-saas/admin/src/tenants/TenantsPage.tsx
  demo-saas/admin/src/tenants/generated/TenantsForm.gql.tsx
  demo-saas/admin/src/tenants/generated/TenantsForm.tsx
  demo-saas/admin/src/tenants/generated/TenantsGrid.tsx
  demo-saas/api/schema.gql
  demo-saas/api/src/app.module.ts
  demo-saas/api/src/auth/app-permission.enum.ts
  demo-saas/api/src/db/migrations/Migration20251204114159.ts
  demo-saas/api/src/tenant/entities/tenant.entity.ts
  demo-saas/api/src/tenant/generated/dto/paginated-tenants.ts
  demo-saas/api/src/tenant/generated/dto/tenant.filter.ts
  demo-saas/api/src/tenant/generated/dto/tenant.input.ts
  demo-saas/api/src/tenant/generated/dto/tenant.sort.ts
  demo-saas/api/src/tenant/generated/dto/tenants.args.ts
  demo-saas/api/src/tenant/generated/tenant.resolver.ts
  demo-saas/api/src/tenant/tenant.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename TenantsForm to TenantForm
  demo-saas/admin/src/tenants/TenantForm.cometGen.ts
  demo-saas/admin/src/tenants/TenantsPage.tsx
  demo-saas/admin/src/tenants/generated/TenantForm.gql.tsx
  demo-saas/admin/src/tenants/generated/TenantForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add dedicated `lint:ci` script (#4888)
  .github/workflows/lint.yml
  demo/admin/package.json
  demo/api/package.json
  demo/site/package.json
  docs/package.json
  package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/site/site-nextjs/package.json
  packages/site/site-react/package.json
  storybook/package.json
Due: prettylint

Fix `InfoTag` type in `DocumentInterface`
  demo/admin/src/common/EditPageNode.tsx
  demo/admin/src/documents/links/Link.tsx
  demo/admin/src/documents/pages/Page.tsx
  packages/admin/cms-admin/src/index.ts
  packages/admin/cms-admin/src/pages/pageTree/usePageTree.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update Demo API schema.gql
  demo/api/schema.gql
Due: none

add information to migration guide
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
Due: prettylint

Update Demo API schema.gql (#4890)
  demo/api/schema.gql
Due: none

Change database type to text and update migratioins. rename tenant.module to tenants.module
  demo-saas/api/src/app.module.ts
  demo-saas/api/src/db/migrations/Migration20251204114159.ts
  demo-saas/api/src/db/migrations/Migration20251205072313.ts
  demo-saas/api/src/tenant/entities/tenant.entity.ts
  demo-saas/api/src/tenant/tenants.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename prop to hideMaxFilesHelperText and invert logic
  .changeset/curvy-teeth-sin.md
  packages/admin/admin/src/form/file/FileSelect.tsx
  storybook/src/cms-admin/form/file/FileUpload.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use FormattedMessage component instead of intl.formatMessage
  demo-saas/admin/src/tenants/TenantsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use suspened instead of suspend to be more affirmative
  demo/api/schema.gql
  packages/admin/cms-admin/src/cronJobs/CronJobsGrid.tsx
  packages/api/cms-api/src/cron-jobs/cron-jobs.service.ts
  packages/api/cms-api/src/cron-jobs/dto/cron-job.object.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Type of Product Category is not required
  demo/admin/src/products/generator/ProductCategoryForm.cometGen.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add tenant scope
  demo-saas/admin/src/tenants/TenantsGrid.cometGen.ts
  demo-saas/admin/src/tenants/TenantsPage.tsx
  demo-saas/admin/src/tenants/tenantScope/TenantScopeForm.cometGen.ts
  demo-saas/admin/src/tenants/tenantScope/TenantScopesGrid.cometGen.ts
  demo-saas/admin/src/tenants/tenantScope/generated/TenantScopeForm.gql.tsx
  demo-saas/admin/src/tenants/tenantScope/generated/TenantScopeForm.tsx
  demo-saas/admin/src/tenants/tenantScope/generated/TenantScopesGrid.tsx
  demo-saas/api/schema.gql
  demo-saas/api/src/app.module.ts
  demo-saas/api/src/auth/access-control.service.ts
  demo-saas/api/src/db/migrations/Migration20251205072914.ts
  demo-saas/api/src/tenant/entities/tenant-scope.entity.ts
  demo-saas/api/src/tenant/generated/dto/paginated-tenant-scopes.ts
  demo-saas/api/src/tenant/generated/dto/tenant-scope.filter.ts
  demo-saas/api/src/tenant/generated/dto/tenant-scope.input.ts
  demo-saas/api/src/tenant/generated/dto/tenant-scope.sort.ts
  demo-saas/api/src/tenant/generated/dto/tenant-scopes.args.ts
  demo-saas/api/src/tenant/generated/tenant-scope.resolver.ts
  demo-saas/api/src/tenant/generated/tenant.resolver.ts
  demo-saas/api/src/tenant/tenants.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use Entity Manager instead of injecting repositories in Demo
  demo/api/src/db/fixtures/fixtures.command.ts
  demo/api/src/db/fixtures/generators/document-generator.service.ts
  demo/api/src/db/fixtures/generators/image-file-fixture.service.ts
  demo/api/src/db/fixtures/generators/image-fixture.service.ts
  demo/api/src/db/fixtures/generators/many-images-test-page-fixture.service.ts
  demo/api/src/db/fixtures/generators/products-fixture.service.ts
  demo/api/src/db/fixtures/generators/redirects-fixture.service.ts
  demo/api/src/db/fixtures/generators/video-fixture.service.ts
  demo/api/src/documents/links/links.resolver.ts
  demo/api/src/documents/pages/pages.resolver.ts
  demo/api/src/documents/predefined-pages/predefined-pages.resolver.ts
  demo/api/src/menus/main-menu-item.resolver.ts
  demo/api/src/menus/menus.resolver.ts
  demo/api/src/news/blocks/news-link-block-transformer.service.ts
  demo/api/src/news/blocks/news-link.block.ts
  demo/api/src/news/extended-news.resolver.ts
  demo/api/src/news/news-comment.resolver.ts
  demo/api/src/products/custom-product.resolver.ts
  demo/api/src/redirects/redirect-target-url.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove dynamic import fix
  demo/api/src/news/blocks/news-link-block-transformer.service.ts
  demo/api/src/news/blocks/news-link.block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add tenant controls for MasterHeader
  demo-saas/admin/src/common/MasterHeader.tsx
  demo-saas/admin/src/common/TenantControls.tsx
  demo-saas/admin/src/common/TenantScopeSelect.tsx
  demo-saas/admin/src/tenants/TenantsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add button typography variant
  packages/admin/admin/src/theme/typographyOptions.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/real-walls-lead.md
Due: prettylint

add story for using button with typography
  storybook/src/admin/Button.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `requiredValidator` to validate if the RTE field is empty
  .changeset/every-bobcats-happen.md
  packages/admin/admin-rte/src/index.ts
  packages/admin/admin-rte/src/utils/requiredValidator.tsx
  storybook/src/admin-rte/field/RequiredField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator: Allow usage of <FormattedMessage> for user visible stings in config to allow customizing message ids
  .changeset/mighty-ears-strive.md
  demo/admin/src/news/generated/NewsGrid.tsx
  demo/admin/src/products/generator/ProductsGrid.cometGen.tsx
  demo/admin/src/products/generator/generated/ManufacturersGrid.tsx
  demo/admin/src/products/generator/generated/ProductCategoriesGrid.tsx
  demo/admin/src/products/generator/generated/ProductHighlightsGrid.tsx
  demo/admin/src/products/generator/generated/ProductTagsGrid.tsx
  demo/admin/src/products/generator/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/generator/generated/ProductsGrid.tsx
  packages/admin/admin-generator/src/commands/generate/config/__tests__/transformConfig.ts
  packages/admin/admin-generator/src/commands/generate/config/transformConfig.ts
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/formField/options.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormLayout.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/generateGrid.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/generateGridToolbar.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/__tests__/__snapshots__/scope.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGrid.ts
  packages/admin/admin-generator/src/commands/generate/generateGrid/generateGridToolbar.ts
  packages/admin/admin-generator/src/commands/generate/utils/__tests__/intl.ts
  packages/admin/admin-generator/src/commands/generate/utils/intl.ts
  packages/admin/admin-generator/src/commands/generate/utils/runtimeTypeGuards.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `createRteField` to create a simplified `RteField`
  .changeset/plain-keys-beg.md
  packages/admin/admin-rte/src/field/createFinalFormRte.tsx
  packages/admin/admin-rte/src/field/createRteField.tsx
  packages/admin/admin-rte/src/index.ts
  storybook/src/admin-rte/field/RequiredFinalFormRte.stories.tsx
  storybook/src/admin-rte/field/RequiredRteField.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP: Add examples for commonly needed block migrations
  docs/docs/2-core-concepts/2-blocks/5-migrations/1-common-block-migrations.mdx
  docs/docs/2-core-concepts/2-blocks/5-migrations/index.mdx
Due: none

refactor: remove additional safety check for scope in field resolvers
  packages/api/cms-api/src/action-logs/action-logs-feature.module.ts
  packages/api/cms-api/src/action-logs/action-logs.resolver.factory.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Start all instances of storybook when starting docs
  dev-pm.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent `EditDialog` from unintentionally opening when opening the edit-page
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
