Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Improve types for TipTapRichTextBlock (#5846)
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/blocks/text-and-content/tip-tap-rich-text-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Document the `MjmlButton` and `HtmlButton` components (#5845)
  docs/docs/3-features-modules/13-building-html-emails/2-components-and-theme.md
  skills/comet-mail-react/SKILL.md
  skills/comet-mail-react/references/components-and-theme.md
Due: prettylint

Demo: honor IDP_PORT environment variable in dev-oidc-provider config
  dev-oidc-provider.config.mts
Due: none

Demo: honor IDP_PORT environment variable in dev-oidc-provider config (#5852)
  dev-oidc-provider.config.mts
Due: none

Fix conflicts
  demo/site/package.json
  pnpm-lock.yaml
Due: prettylint

fix params is possible null error in ContactFormBlock
  demo/site/src/common/blocks/ContactFormBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Assert on migrated data instead of feeding it back as input
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Fix blockInputFactory usage in DraftJS to TipTap migration test
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Remove unnecessary any casts in DraftJS->TipTap migration tests
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Access migrated tipTapContent via the typed blockDataFactory return
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

TipTapRichTextBlock: fix Draft.js migration tests (#5851)
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: add QA error reports from exploratory session
  qa-findings/001-warnings-grid-invalid-initial-filter.md
  qa-findings/002-forbidden-shown-as-session-expired.md
  qa-findings/003-brevo-error-handler-typeerror.md
  qa-findings/004-dam-focal-point-svg-rect-errors.md
  qa-findings/005-react-unknown-prop-leaks.md
  qa-findings/006-table-key-prop-spread.md
  qa-findings/007-site-404-nested-html.md
  qa-findings/008-admin-unknown-route-blank.md
  qa-findings/009-apollo-cache-normalization-warnings.md
  qa-findings/010-block-preview-hydration-error.md
  qa-findings/README.md
  qa-findings/screencasts/001-warnings-grid-invalid-initial-filter.webm
  qa-findings/screencasts/002-forbidden-shown-as-session-expired.webm
  qa-findings/screencasts/003-brevo-config-page-crash.webm
  qa-findings/screencasts/004-dam-focal-point-svg-rect-errors.webm
  qa-findings/screencasts/005-react-unknown-prop-leaks.webm
  qa-findings/screencasts/006-table-key-prop-spread.webm
  qa-findings/screencasts/007-site-404-nested-html.webm
  qa-findings/screencasts/008-admin-unknown-route-blank.webm
  qa-findings/screencasts/009-apollo-cache-normalization-warnings.webm
  qa-findings/screencasts/010-block-preview-hydration-error.webm
  qa-findings/screenshots/001-warnings-grid-filterpanel.png
  qa-findings/screenshots/001-warnings-grid.png
  qa-findings/screenshots/002-publisher-error-banner-and-dialog.png
  qa-findings/screenshots/002-publisher-session-expired-dialog.png
  qa-findings/screenshots/003-newsletter-config-crash.png
  qa-findings/screenshots/003-newsletter-config-server-error-dialog.png
  qa-findings/screenshots/004-dam-file-detail.png
  qa-findings/screenshots/005-pagetree-hover.png
  qa-findings/screenshots/005-product-add-form.png
  qa-findings/screenshots/005-rte-footer.png
  qa-findings/screenshots/006-main-menu-table.png
  qa-findings/screenshots/007-site-404.png
  qa-findings/screenshots/008-admin-blank-route.png
  qa-findings/screenshots/009-user-permissions-detail.png
  qa-findings/screenshots/010-page-editor-preview.png
Due: prettylint

Consolidate responsive variant CSS generation into a shared helper
  packages/mail-react/src/components/button/generateResponsiveButtonCss.ts
  packages/mail-react/src/components/divider/generateResponsiveDividerCss.ts
  packages/mail-react/src/components/text/textStyles.ts
  packages/mail-react/src/styles/__tests__/generateResponsiveVariantCss.test.ts
  packages/mail-react/src/styles/generateResponsiveVariantCss.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Simplify fullTextSearch result mapping
  packages/api/cms-api/src/full-text-search/full-text-search.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Support multiple scopes in all `@ScopedEntity` variants (#5847)
  .changeset/full-text-search-scope.md
  packages/api/cms-api/src/entity-info/resolve-scopes-to-sql.spec.ts
  packages/api/cms-api/src/entity-info/resolve-scopes-to-sql.ts
  packages/api/cms-api/src/full-text-search/entities/entity-info-full-text.object.ts
  packages/api/cms-api/src/full-text-search/full-text-search.resolver.ts
  packages/api/cms-api/src/full-text-search/full-text-search.service.ts
  packages/api/cms-api/src/user-permissions/decorators/scoped-entity.decorator.ts
  packages/api/cms-api/src/user-permissions/get-scope-for-scoped-entity.spec.ts
  packages/api/cms-api/src/user-permissions/get-scope-for-scoped-entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Extract ExternalLinkBlock noFollow migration to dedicated file
  packages/api/cms-api/src/blocks/ExternalLinkBlock.ts
  packages/api/cms-api/src/blocks/externalLink/migrations/1-add-no-follow.migration.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

FullTextSearch: support visible thru includeInvisiblePages from RequestContextInterface (#5850)
  packages/api/cms-api/src/full-text-search/entities/entity-info-full-text.object.ts
  packages/api/cms-api/src/full-text-search/full-text-search.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Loosen abbreviation guideline to allow obvious abbreviations (#5840)
  .github/copilot-review-instructions.md
  docs/docs/9-coding-guidelines/02-general.md
  rules/coding-guidelines/general.instructions.md
Due: prettylint

cms-api: Move ExternalLinkBlock into dedicated externalLink/ folder
  packages/api/cms-api/src/blocks/decorators/child-block-input.test.ts
  packages/api/cms-api/src/blocks/externalLink/external-link.block.ts
  packages/api/cms-api/src/blocks/factories/createLinkBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.test.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/redirects/redirect-target-url.service.ts
  packages/api/cms-api/src/redirects/redirects.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Detect admin locale from browser settings instead of hardcoding English
  demo/admin/src/App.tsx
  demo/admin/src/lang.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Re-add support for Next.js v14/15 and React v18 (#5839)
  .changeset/thick-lights-taste.md
  .changeset/violet-peaches-march.md
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
  packages/site/site-nextjs/package.json
Due: prettylint

cms-api: Add tests for CometAuthGuard login flow
  packages/api/cms-api/src/auth/guards/comet.guard.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin: Set up the experimental future-ui sub-package
  knip.json
  packages/admin/admin/package.json
  packages/admin/admin/src/future-ui/AGENTS.md
  packages/admin/admin/src/future-ui/CLAUDE.md
  packages/admin/admin/src/future-ui/README.md
  packages/admin/admin/src/future-ui/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Consolidate admin language resolution and localize MUI
  demo/admin/src/App.tsx
  demo/admin/src/lang.ts
  demo/admin/src/theme.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add noFollow option to ExternalLinkBlock (#5738)
  .changeset/add-no-follow-to-external-link-block.md
  demo/api/block-meta.json
  demo/api/src/db/fixtures/generators/blocks/navigation/link-block-fixture.service.ts
  packages/admin/cms-admin/src/blocks/ExternalLinkBlock.tsx
  packages/api/brevo-api/block-meta.json
  packages/api/cms-api/block-meta.json
  packages/api/cms-api/src/blocks/ExternalLinkBlock.ts
  packages/api/cms-api/src/blocks/decorators/child-block-input.test.ts
  packages/api/cms-api/src/blocks/externalLink/external-link.block.ts
  packages/api/cms-api/src/blocks/externalLink/migrations/1-add-no-follow.migration.ts
  packages/api/cms-api/src/blocks/factories/createLinkBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/buildDraftJsToTipTapMigration.test.ts
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/redirects/import-redirects.command.ts
  packages/api/cms-api/src/redirects/redirect-target-url.service.ts
  packages/api/cms-api/src/redirects/redirects.module.ts
  packages/site/site-react/src/blocks/ExternalLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

mail-react: Consolidate responsive variant CSS generation into a shared helper (#5854)
  packages/mail-react/src/components/button/generateResponsiveButtonCss.ts
  packages/mail-react/src/components/divider/generateResponsiveDividerCss.ts
  packages/mail-react/src/components/text/textStyles.ts
  packages/mail-react/src/styles/__tests__/generateResponsiveVariantCss.test.ts
  packages/mail-react/src/styles/generateResponsiveVariantCss.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Throw from findUser/findUserForLogin when not configured
  packages/api/cms-api/src/user-permissions/user-permissions.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Make back button optional in ActionLogShowVersion and ActionLogCompare
  packages/admin/cms-admin/src/actionLog/actionLogCompare/ActionLogCompare.tsx
  packages/admin/cms-admin/src/actionLog/actionLogShowVersion/ActionLogShowVersion.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Strip fullText from action log diff viewer by default
  packages/admin/cms-admin/src/actionLog/actionLog.utils.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add Action Log view across entities
  .changeset/action-log-view.md
  demo/admin/src/common/MasterMenu.tsx
  demo/api/schema.gql
  packages/admin/cms-admin/.storybook/mocks/actionLogsHandlers.ts
  packages/admin/cms-admin/.storybook/mocks/handlers.ts
  packages/admin/cms-admin/src/actionLog/actionLogs/actionChip/ActionChip.tsx
  packages/admin/cms-admin/src/actionLog/actionLogs/actionChip/__stories__/ActionChip.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsDialog/ActionLogsDialog.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsDialog/ActionLogsDialog.tsx
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsDialog/__stories__/ActionLogsDialog.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsGrid/ActionLogsGrid.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsGrid/ActionLogsGrid.tsx
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsGrid/__stories__/ActionLogsGrid.stories.tsx
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsPage/ActionLogsPage.tsx
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsShowVersionDialog/ActionLogsShowVersionDialog.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsShowVersionDialog/ActionLogsShowVersionDialog.tsx
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsShowVersionDialog/__stories__/ActionLogsShowVersionDialog.stories.tsx
  packages/admin/cms-admin/src/index.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
  packages/api/cms-api/src/action-logs/dto/action-log-action.enum.ts
  packages/api/cms-api/src/action-logs/dto/action-log.filter.ts
  packages/api/cms-api/src/action-logs/dto/action-log.sort.ts
  packages/api/cms-api/src/action-logs/dto/action-logs.args.ts
  packages/api/cms-api/src/common/enum/core-permission.enum.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Add scope filter and sort to ActionLog queries
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
  packages/api/cms-api/src/action-logs/dto/action-log.filter.ts
  packages/api/cms-api/src/action-logs/dto/action-log.sort.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Make scope column filterable and sortable in ActionLogsGrid
  demo/api/schema.gql
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsGrid/ActionLogsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Allow filtering ActionLog scope column by global scope
  demo/api/schema.gql
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsGrid/ActionLogsGrid.tsx
  packages/api/cms-api/src/action-logs/action-logs.resolver.ts
  packages/api/cms-api/src/action-logs/dto/action-log.filter.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Use autocomplete-style filter for ActionLog scope column
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsGrid/ActionLogsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Fix ActionLog scope filter input layout
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsGrid/ActionLogsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Use grid baseTextField for ActionLog scope filter input
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsGrid/ActionLogsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Move shared action log components to components folder
  packages/admin/cms-admin/src/actionLog/actionLogCompare/ActionLogCompare.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/actionGridToolbar/ActionGridToolbar.tsx
  packages/admin/cms-admin/src/actionLog/actionLogShowVersion/ActionLogShowVersion.tsx
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsGrid/ActionLogsGrid.tsx
  packages/admin/cms-admin/src/actionLog/components/actionChip/ActionChip.tsx
  packages/admin/cms-admin/src/actionLog/components/actionChip/__stories__/ActionChip.stories.tsx
  packages/admin/cms-admin/src/actionLog/components/diffHeader/DiffHeader.sc.ts
  packages/admin/cms-admin/src/actionLog/components/diffHeader/DiffHeader.tsx
  packages/admin/cms-admin/src/actionLog/components/diffHeader/__stories__/DiffHeader.stories.tsx
  packages/admin/cms-admin/src/actionLog/components/userCell/UserCell.sc.ts
  packages/admin/cms-admin/src/actionLog/components/userCell/UserCell.tsx
  packages/admin/cms-admin/src/actionLog/components/userCell/__stories__/UserCell.stories.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Regenerate schema.gql for action log scope filter
  packages/api/cms-api/schema.gql
Due: none

cms-admin: Move ActionLogCompare and ActionLogShowVersion to components folder
  packages/admin/cms-admin/src/actionLog/actionLogDialog/ActionLogDialog.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLogDialog/ActionLogDialog.tsx
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsDialog/ActionLogsDialog.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsDialog/ActionLogsDialog.tsx
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsShowVersionDialog/ActionLogsShowVersionDialog.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLogs/actionLogsShowVersionDialog/ActionLogsShowVersionDialog.tsx
  packages/admin/cms-admin/src/actionLog/components/actionLogCompare/ActionLogCompare.gql.ts
  packages/admin/cms-admin/src/actionLog/components/actionLogCompare/ActionLogCompare.styles.ts
  packages/admin/cms-admin/src/actionLog/components/actionLogCompare/ActionLogCompare.tsx
  packages/admin/cms-admin/src/actionLog/components/actionLogCompare/__stories__/ActionLogCompare.stories.tsx
  packages/admin/cms-admin/src/actionLog/components/actionLogShowVersion/ActionLogShowVersion.gql.ts
  packages/admin/cms-admin/src/actionLog/components/actionLogShowVersion/ActionLogShowVersion.styles.ts
  packages/admin/cms-admin/src/actionLog/components/actionLogShowVersion/ActionLogShowVersion.tsx
  packages/admin/cms-admin/src/actionLog/components/actionLogShowVersion/__stories__/ActionLogShowVersion.stories.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Tighten admin language typing
  demo/admin/src/lang.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
