Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

cms-admin: Fix `TipTapRichTextBlock` toolbar colors to match `RichTextBlock` (#5598)
  .changeset/fix-tiptap-toolbar-colors.md
  packages/admin/cms-admin/src/blocks/tipTap/TipTapToolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add ErrorHandlerProvider for centralized error reporting from ErrorBoundary (#5558)
  .changeset/admin-error-handler-provider.md
  .changeset/cms-admin-comet-config-on-error.md
  demo/admin/src/App.tsx
  packages/admin/admin/src/error/errorHandler/ErrorHandlerProvider.test.tsx
  packages/admin/admin/src/error/errorHandler/ErrorHandlerProvider.tsx
  packages/admin/admin/src/error/errorboundary/ErrorBoundary.tsx
  packages/admin/admin/src/index.ts
  packages/admin/cms-admin/src/config/CometConfigContext.tsx
  storybook/src/admin/error-handling/ErrorHandlerProvider.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: content translation (#5443)
  docs/docs/3-features-modules/14-content-translation/index.md
Due: prettylint

Add support for installing agent rules (#5500)
  .changeset/install-agent-features.md
  .cspellignore
  .gitignore
  agent-features.json
  docs/docs/3-features-modules/13-building-html-emails/index.md
  docs/docs/4-guides/5-installing-agent-features.md
  docs/docs/4-guides/5-installing-agent-skills.md
  install.sh
  package.json
  packages/cli/src/comet.ts
  packages/cli/src/commands/install-agent-features.test.ts
  packages/cli/src/commands/install-agent-features.ts
  packages/cli/src/commands/install-agent-skills.test.ts
  packages/cli/src/commands/install-agent-skills.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix Copilot setup workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Fix Copilot setup workflow (#5600)
  .github/workflows/copilot-setup-steps.yml
Due: none

admin: Fix clear button and popup icon wrapping in multi-select AutocompleteField
  .changeset/fix-autocomplete-clear-button-wrapping.md
  packages/admin/admin/src/form/Autocomplete.tsx
  storybook/src/admin/form/AutocompleteMultipleEndAdornment.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix eslin rules in cms-api
  packages/api/cms-api/src/action-logs/action-logs.module.ts
  packages/api/cms-api/src/action-logs/action-logs.subscriber.ts
  packages/api/cms-api/src/user-permissions/user-permissions-storage.interface.ts
  packages/api/cms-api/src/user-permissions/user-permissions-storage.middleware.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

eslint-config: promote future rules to main configs
  .changeset/promote-future-eslint-rules.md
  demo/admin/eslint.config.mjs
  demo/api/eslint.config.mjs
  demo/site/eslint.config.mjs
  docs/eslint.config.mjs
  packages/admin/admin-color-picker/eslint.config.mjs
  packages/admin/admin-date-time/eslint.config.mjs
  packages/admin/admin-icons/eslint.config.mjs
  packages/admin/admin-rte/eslint.config.mjs
  packages/admin/admin/eslint.config.mjs
  packages/admin/brevo-admin/eslint.config.mjs
  packages/admin/cms-admin/eslint.config.mjs
  packages/api/cms-api/eslint.config.mjs
  packages/eslint-config/future/nestjs.js
  packages/eslint-config/future/nextjs.js
  packages/eslint-config/future/react.js
  packages/eslint-config/nestjs.js
  packages/eslint-config/nextjs.js
  packages/eslint-config/package.json
  packages/eslint-config/react.js
  packages/mail-react/eslint.config.mjs
  packages/site/site-nextjs/eslint.config.mjs
  packages/site/site-react/eslint.config.mjs
  storybook/eslint.config.mjs
Due: prettylint

fix tests by using testWithAls
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.spec.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add crud generator decorators, which have been wrongly removed while merge
  demo/api/src/products/entities/product.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix type import due to new eslint rule on main
  packages/admin/cms-admin/src/actionLog/components/diffViewer/DiffViewer.tsx
  packages/admin/cms-admin/src/actionLog/components/header/ActionLogHeader.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

storybook: Fix action log stories to use @storybook/react-vite instead of @storybook/react-webpack5
  storybook/src/cms-admin/actionLog/components/diffHeader/DiffHeader.stories.tsx
  storybook/src/cms-admin/actionLog/components/diffViewer/DiffViewer.stories.tsx
  storybook/src/cms-admin/actionLog/components/header/ActionLogHeader.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Docs: remove WIP banner
  docs/docusaurus.config.js
Due: prettylint

Docs: remove WIP banner (#5603)
  docs/docusaurus.config.js
Due: prettylint

eslint-config: keep future/* subpaths as aliases
  .changeset/promote-future-eslint-rules.md
  .cspellignore
  demo/admin/eslint.config.mjs
  demo/api/eslint.config.mjs
  demo/site/eslint.config.mjs
  docs/eslint.config.mjs
  packages/admin/admin-color-picker/eslint.config.mjs
  packages/admin/admin-date-time/eslint.config.mjs
  packages/admin/admin-icons/eslint.config.mjs
  packages/admin/admin-rte/eslint.config.mjs
  packages/admin/admin/eslint.config.mjs
  packages/admin/brevo-admin/eslint.config.mjs
  packages/admin/cms-admin/eslint.config.mjs
  packages/api/cms-api/eslint.config.mjs
  packages/eslint-config/future/nestjs.js
  packages/eslint-config/future/nextjs.js
  packages/eslint-config/future/react.js
  packages/eslint-config/package.json
  packages/mail-react/eslint.config.mjs
  packages/site/site-nextjs/eslint.config.mjs
  packages/site/site-react/eslint.config.mjs
  storybook/eslint.config.mjs
Due: prettylint

Move future eslint-config rules to main configs (#5602)
  .changeset/promote-future-eslint-rules.md
  .cspellignore
  packages/eslint-config/future/nestjs.js
  packages/eslint-config/future/nextjs.js
  packages/eslint-config/future/react.js
  packages/eslint-config/nestjs.js
  packages/eslint-config/nextjs.js
  packages/eslint-config/react.js
Due: prettylint

storybook: update msw to 2.14.6
  pnpm-lock.yaml
  storybook/package.json
  storybook/public/mockServiceWorker.js
Due: prettylint

eslint-plugin: migrate tests from jest to vitest
  packages/eslint-plugin/jest.config.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/vitest.config.ts
  packages/eslint-plugin/vitest.setup.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

eslint-plugin: add tsconfig.build.json that excludes test files
  packages/eslint-plugin/package.json
  packages/eslint-plugin/tsconfig.build.json
Due: prettylint

Upgrade MSW to 2.14.6 and update service worker (#5604)
  pnpm-lock.yaml
  storybook/package.json
  storybook/public/mockServiceWorker.js
Due: prettylint

eslint-plugin: drop redundant vitest exclude, use tsc --noEmit for lint
  packages/eslint-plugin/package.json
  packages/eslint-plugin/vitest.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(ActionLog): add UserCell
  packages/admin/cms-admin/src/actionLog/actionLogGrid/userCell/UserCell.sc.ts
  packages/admin/cms-admin/src/actionLog/actionLogGrid/userCell/UserCell.tsx
  packages/admin/cms-admin/src/index.ts
  storybook/src/cms-admin/actionLog/actionLogGrid/userCell/UserCell.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(ActionLog): add ActionGridToolbar
  packages/admin/cms-admin/src/actionLog/actionLogGrid/actionGridToolbar/ActionGridToolbar.tsx
  packages/admin/cms-admin/src/index.ts
  storybook/src/cms-admin/actionLog/actionLogGrid/actionGridToolbar/ActionGridToolbar.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(ActionLog): add ActionLogGrid
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.sc.ts
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/actionGridToolbar/ActionGridToolbar.tsx
  packages/admin/cms-admin/src/index.ts
  pnpm-lock.yaml
  storybook/.storybook/mocks/actionlogs/actionsLogsHandler.ts
  storybook/.storybook/mocks/handlers.ts
  storybook/src/cms-admin/actionLog/ActionLogGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: use ActionLogHeader from cms-admin
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add entityName to ActionLogGrid
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.gql.ts
  packages/admin/cms-admin/src/actionLog/actionLogGrid/ActionLogGrid.tsx
  packages/admin/cms-admin/src/actionLog/actionLogGrid/userCell/UserCell.tsx
  storybook/.storybook/mocks/handlers.ts
  storybook/src/cms-admin/actionLog/ActionLogGrid.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

eslint-plugin: comment RuleTester vitest wiring
  packages/eslint-plugin/vitest.setup.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Move action log stories to package storybook
  packages/admin/cms-admin/src/actionLog/components/__stories__/DiffHeader.stories.tsx
  packages/admin/cms-admin/src/actionLog/components/diffViewer/__stories__/DiffViewer.stories.tsx
  packages/admin/cms-admin/src/actionLog/components/header/__stories__/ActionLogHeader.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

brevo-api: Migrate test setup from Jest to Vitest
  packages/api/brevo-api/jest.config.js
  packages/api/brevo-api/package.json
  packages/api/brevo-api/vitest.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

brevo-api: Remove redundant exclude from vitest config
  packages/api/brevo-api/vitest.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Exclude story files from tsconfig.build.json
  packages/admin/cms-admin/tsconfig.build.json
Due: prettylint

eslint-plugin: migrate from Jest to Vitest (#5605)
  packages/eslint-plugin/jest.config.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/tsconfig.build.json
  packages/eslint-plugin/vitest.config.ts
  packages/eslint-plugin/vitest.setup.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

don't be pnpm specific, use npm and mention pnpm only
  skills/dev-pm/SKILL.md
Due: prettylint

cms-admin: Move action log stories to package storybook (#5606)
  packages/admin/cms-admin/src/actionLog/components/__stories__/DiffHeader.stories.tsx
  packages/admin/cms-admin/src/actionLog/components/diffViewer/__stories__/DiffViewer.stories.tsx
  packages/admin/cms-admin/src/actionLog/components/header/__stories__/ActionLogHeader.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

brevo-api: migrate from Jest to Vitest (#5607)
  packages/api/brevo-api/jest.config.js
  packages/api/brevo-api/package.json
  packages/api/brevo-api/vitest.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Exclude story files from tsconfig.build.json (#5608)
  packages/admin/cms-admin/tsconfig.build.json
Due: prettylint

Rename internal hooks to include "block"
  packages/mail-react/src/blocks/pixelImage/HtmlPixelImageBlock.tsx
  packages/mail-react/src/blocks/pixelImage/MjmlPixelImageBlock.tsx
  packages/mail-react/src/blocks/pixelImage/__tests__/usePixelImageBlockConfig.test.tsx
  packages/mail-react/src/blocks/pixelImage/__tests__/usePixelImageBlockData.test.tsx
  packages/mail-react/src/blocks/pixelImage/usePixelImageBlockConfig.ts
  packages/mail-react/src/blocks/pixelImage/usePixelImageBlockData.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: move brevo email rendering to pages router
  demo/api/src/app.module.ts
  demo/site/next.config.ts
  demo/site/src/app/[visibility]/[domain]/[language]/render-brevo-email-campaign/route.ts
  demo/site/src/middleware/skipRewrite.ts
  demo/site/src/pages/api/render-brevo-email-campaign.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix lint error
  demo/site/src/layout/header/PageLink.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
