Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Extend changeset
  .changeset/late-meals-live.md
Due: prettylint

add custom pagination
  demo/site/src/common/blocks/MediaGalleryBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

adapt styling
  demo/site/src/common/blocks/MediaGalleryBlock.module.scss
  demo/site/src/common/blocks/MediaGalleryBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add aria attributes
  demo/site/src/common/blocks/MediaGalleryBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use FormattedMessage for pagination
  demo/site/src/common/blocks/MediaGalleryBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove text-decoration-none-on-button-typography
  packages/admin/admin/src/theme/typographyOptions.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/sharp-buttons-brush.md
Due: prettylint

Rename legacy and future date time components (#5007)
  .changeset/curly-mirrors-agree.md
  .changeset/old-kiwis-draw.md
  demo/admin/src/products/generator/generated/ProductForm.tsx
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
  packages/admin/admin-date-time/src/dateRangePicker/DateRangeField.tsx
  packages/admin/admin-date-time/src/dateRangePicker/DateRangePicker.slots.ts
  packages/admin/admin-date-time/src/dateRangePicker/DateRangePicker.tsx
  packages/admin/admin-date-time/src/dateRangePicker/FinalFormDateRangePicker.tsx
  packages/admin/admin-date-time/src/dateTimePicker/DateTimeField.tsx
  packages/admin/admin-date-time/src/dateTimePicker/DateTimePicker.tsx
  packages/admin/admin-date-time/src/dateTimePicker/FinalFormDateTimePicker.tsx
  packages/admin/admin-date-time/src/timePicker/FinalFormTimePicker.tsx
  packages/admin/admin-date-time/src/timePicker/TimeField.tsx
  packages/admin/admin-date-time/src/timePicker/TimePicker.tsx
  packages/admin/admin-generator/src/commands/generate/generateForm/generateFormField.ts
  packages/admin/admin/src/dateTime/DateRangePicker.tsx
  packages/admin/admin/src/dateTime/DateRangePickerField.tsx
  packages/admin/admin/src/dateTime/DateTimePicker.tsx
  packages/admin/admin/src/dateTime/DateTimePickerField.tsx
  packages/admin/admin/src/dateTime/TimePicker.tsx
  packages/admin/admin/src/dateTime/TimePickerField.tsx
  packages/admin/admin/src/index.ts
  storybook/src/admin/datePicker/DateTimePickerField.stories.tsx
  storybook/src/admin/dateTime/DateRangePicker.stories.tsx
  storybook/src/admin/dateTime/DateTimePicker.stories.tsx
  storybook/src/admin/dateTime/TimePicker.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add brevo-api and brevo-admin groups to dev-pm
  dev-pm.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add brevo-admin-codegen-block-types dev pm script
  dev-pm.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator: re-add support for TSConfig `paths`
  .changeset/kind-snails-yawn.md
  demo/admin/src/products/generator/ProductForm.cometGen.tsx
  packages/admin/admin-generator/package.json
  packages/admin/admin-generator/src/commands/generate/config/parseConfig.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

correct changeset
  .changeset/sharp-buttons-brush.md
Due: prettylint

Copy blocks from @comet/mail-rendering package in brevo repo
  packages/mail-react/src/blocks/CommonImageBlock.tsx
  packages/mail-react/src/blocks/NewsletterImageBlock.tsx
  packages/mail-react/src/blocks/helpers/imageBlockHelpers.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix knip errors by installing chokidar and exporting NewsletterImageBlock
  knip.json
  packages/mail-react/package.json
  packages/mail-react/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Install dependencies, finish setup/config and remove dependencies to cms-site and next
  copy-project-files.js
  packages/mail-react/.gitignore
  packages/mail-react/eslint.config.mjs
  packages/mail-react/package.json
  packages/mail-react/src/blocks/CommonImageBlock.tsx
  packages/mail-react/src/blocks/NewsletterImageBlock.tsx
  packages/mail-react/src/blocks/helpers/PropsWithData.ts
  packages/mail-react/src/blocks/helpers/imageBlockHelpers.ts
  packages/mail-react/tsconfig.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP
  demo/admin/src/brevo/emailCampaigns/blocks/EmailCampaignContentBlock.tsx
  demo/admin/src/brevo/emailCampaigns/blocks/EmailCampaignDividerBlock.tsx
  demo/site/package.json
  demo/site/src/app/[visibility]/[domain]/[language]/brevo-email-campaign/route.tsx
  demo/site/src/app/block-preview/[domain]/[language]/brevo-email-campaign/page.tsx
  demo/site/src/brevo/blocks/EmailCampaignContentBlock.tsx
  demo/site/src/brevo/blocks/EmailCampaignDividerBlock.tsx
  demo/site/src/brevo/blocks/EmailCampaignRichTextBlock.tsx
  demo/site/src/brevo/blocks/EmailCampaignSalutationBlock.tsx
  demo/site/src/brevo/components/IndentedSectionGroup.tsx
  demo/site/src/brevo/components/RenderedMail.tsx
  demo/site/src/brevo/components/Root.tsx
  demo/site/src/brevo/components/Typography.tsx
  demo/site/src/brevo/util/replaceMailHtmlPlaceholders.tsx
  demo/site/src/brevo/util/theme.ts
  packages/mail-react/src/blocks/helpers/imageBlockHelpers.ts
  packages/mail-react/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add @comet/cli to dev dependencies
  packages/mail-react/package.json
  pnpm-lock.yaml
Due: prettylint

Generate block types before build, lint and dev
  packages/mail-react/package.json
Due: prettylint

Make the preview work
  demo/site/src/app/block-preview/[domain]/[language]/brevo-email-campaign/BrevoEmailCampaignPreview.tsx
  demo/site/src/app/block-preview/[domain]/[language]/brevo-email-campaign/page.tsx
  demo/site/src/util/blockPreview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make email generation route work in demo site
  .env
  demo/admin/src/App.tsx
  demo/site/next.config.mjs
  demo/site/package.json
  demo/site/src/app/[visibility]/[domain]/[language]/brevo-email-campaign/route.tsx
  demo/site/src/app/block-preview/[domain]/[language]/brevo-email-campaign/page.tsx
  demo/site/src/app/brevo-email-campaign/DemoEmail.tsx
  demo/site/src/app/brevo-email-campaign/generateMjmlMailContent.tsx
  demo/site/src/app/brevo-email-campaign/renderReactToHtml.tsx
  demo/site/src/app/brevo-email-campaign/route.ts
  demo/site/src/brevo/blocks/EmailCampaignContentBlock.tsx
  demo/site/src/brevo/components/RenderedMail.tsx
  demo/site/src/brevo/components/Root.tsx
  demo/site/src/brevo/temp/BlocksBlock.tsx
  demo/site/src/middleware/preview.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Change mail-react package to ESM
  packages/mail-react/package.json
  packages/mail-react/src/blocks/CommonImageBlock.tsx
  packages/mail-react/src/blocks/NewsletterImageBlock.tsx
  packages/mail-react/src/index.ts
  packages/mail-react/tsconfig.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make RichTextBlock work in email
  demo/admin/src/App.tsx
  demo/admin/src/brevo/emailCampaigns/blocks/EmailCampaignContentBlock.tsx
  demo/admin/src/brevo/emailCampaigns/blocks/EmailCampaignLinkBlock.tsx
  demo/admin/src/brevo/emailCampaigns/blocks/EmailCampaignRichTextBlock.tsx
  demo/api/block-meta.json
  demo/api/src/brevo/email-campaign/blocks/email-campaign-rich-text.block.ts
  demo/site/src/app/brevo-email-campaign/route.ts
  demo/site/src/brevo/blocks/EmailCampaignLinkBlock.tsx
  demo/site/src/brevo/blocks/EmailCampaignRichTextBlock.tsx
  packages/admin/cms-admin/src/index.ts
  packages/mail-react/src/blocks/CommonImageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix images in mails (make relative urls absolute and don't use preview urls)
  demo/site/src/app/block-preview/[domain]/[language]/brevo-email-campaign/BrevoEmailCampaignPreview.tsx
  demo/site/src/app/block-preview/[domain]/[language]/brevo-email-campaign/page.tsx
  demo/site/src/app/brevo-email-campaign/generateMjmlMailContent.tsx
  demo/site/src/app/brevo-email-campaign/route.ts
  demo/site/src/brevo/blocks/EmailCampaignContentBlock.tsx
  demo/site/src/brevo/util/getEmailCampaignConfigFromEnvVariables.ts
  packages/api/brevo-api/src/email-campaign/email-campaigns.service.ts
  packages/mail-react/src/blocks/CommonImageBlock.tsx
  packages/mail-react/src/blocks/NewsletterImageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unnecessary EmailCampaignLinkBlock
  demo/admin/src/brevo/emailCampaigns/blocks/EmailCampaignLinkBlock.tsx
  demo/api/src/brevo/email-campaign/blocks/email-campaign-link.block.ts
  demo/site/src/brevo/blocks/EmailCampaignLinkBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Connect api and site to make sending the email work
  demo/api/src/app.module.ts
  demo/site/src/app/brevo-email-campaign/route.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Correctly set validSizes in image block
  demo/site/next.config.mjs
  demo/site/src/brevo/blocks/EmailCampaignContentBlock.tsx
  packages/mail-react/src/blocks/CommonImageBlock.tsx
  packages/mail-react/src/blocks/NewsletterImageBlock.tsx
  packages/mail-react/src/blocks/helpers/imageBlockHelpers.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Various cleanups
  demo/site/package.json
  demo/site/src/app/block-preview/[domain]/[language]/brevo-email-campaign/BrevoEmailCampaignPreview.tsx
  demo/site/src/app/brevo-email-campaign/DemoEmail.tsx
  demo/site/src/app/brevo-email-campaign/renderReactToHtml.tsx
  demo/site/src/app/brevo-email-campaign/route.ts
  demo/site/src/brevo/components/RenderedMail.tsx
  demo/site/src/brevo/util/renderMailContentAsMjml.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove @luma-team/mjml-react
  demo/site/next.config.mjs
  demo/site/package.json
  pnpm-lock.yaml
Due: prettylint

Rename route to render-brevo-email-campaign and add placeholder replacement
  demo/api/src/app.module.ts
  demo/site/src/app/render-brevo-email-campaign/route.ts
  demo/site/src/middleware/preview.ts
  demo/site/src/middleware/skipRewrite.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Readd DAM_ALLOWED_IMAGE_SIZES env in next.config
  demo/site/next.config.mjs
Due: none

Fix knip errors
  demo/site/src/brevo/components/IndentedSectionGroup.tsx
  demo/site/src/brevo/util/renderMailContentAsMjml.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changesets
  .changeset/chilly-bears-taste.md
  .changeset/good-frogs-divide.md
Due: prettylint

Fix preview url handling in `SvgImageBlock`
  .changeset/tough-toys-dream.md
  packages/admin/cms-admin/src/blocks/SvgImageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unnecessary dev-dependency
  demo/api/package.json
Due: prettylint

Remove duplicate exclusion of stories
  demo/api/tsconfig.build.json
Due: prettylint

Remove unnecessary setting
  demo/api/tsconfig.json
Due: prettylint

Small refactoring and update comments (#5027)
  packages/admin/cms-admin/src/blocks/table/ColumnHeader.tsx
  packages/admin/cms-admin/src/blocks/table/EditCell.tsx
  packages/admin/cms-admin/src/blocks/table/TableBlockGrid.tsx
  packages/admin/cms-admin/src/blocks/table/dataGridStyles.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix autoplay behavior of YoutubeVideo
  packages/site/site-react/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/icy-cats-wave.md
  .cspellignore
Due: prettylint
