Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: update dependencies in admin generator
  packages/admin/admin-generator/package.json
  pnpm-lock.yaml
Due: prettylint

Change prerelease tag from next to beta (#3527)
  .changeset/pre.json
Due: prettylint

docs: add changeset
  .changeset/tasty-goats-explode.md
Due: prettylint

docs: add new package @comet/admin-generator information to migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Allow manual trigger of main-into-next-pr workflow
  .github/workflows/main-into-next-pr.yml
Due: none

Admin Generator: Fix `initiallyExpanded` prop not set if `false` (#3402)
  demo/admin/src/products/future/generated/ProductForm.tsx
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormLayout.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: exclude @comet/admin-generator from build:docs
  package.json
Due: prettylint

add further explaination to migration guide and changeset
  .changeset/olive-elephants-protect.md
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Demo API: Restrict import of `@IsOptional()` validator
  .changeset/gorgeous-rocks-shave.md
  .env
  demo/api/.eslintrc.json
  demo/api/src/config/environment-variables.ts
  demo/api/src/footer/blocks/footer-link-section.block.ts
  demo/api/src/menus/dto/main-menu-item.input.ts
  demo/api/src/news/blocks/news-detail.block.ts
  demo/api/src/news/blocks/news-link.block.ts
  demo/api/src/news/generated/dto/news-list.args.ts
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/page-tree/dto/page-tree-node.input.ts
  demo/api/src/products/generated/dto/manufacturer-countries.args.ts
  demo/api/src/products/generated/dto/manufacturer-country.filter.ts
  demo/api/src/products/generated/dto/manufacturer.filter.ts
  demo/api/src/products/generated/dto/manufacturers.args.ts
  demo/api/src/products/generated/dto/product-categories.args.ts
  demo/api/src/products/generated/dto/product-category.filter.ts
  demo/api/src/products/generated/dto/product-category.input.ts
  demo/api/src/products/generated/dto/product-tag.filter.ts
  demo/api/src/products/generated/dto/product-tags.args.ts
  demo/api/src/products/generated/dto/product-variant.filter.ts
  demo/api/src/products/generated/dto/product-variant.input.ts
  demo/api/src/products/generated/dto/product-variants.args.ts
  demo/api/src/products/generated/dto/product.filter.ts
  demo/api/src/products/generated/dto/products.args.ts
  packages/api/cms-api/src/generator/generate-crud-input.ts
  packages/api/cms-api/src/generator/generate-crud-position.spec.ts
  packages/api/cms-api/src/generator/generate-crud.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: add admin-generator to dev-pm.config.js
  dev-pm.config.js
Due: prettylint

chore: remove ts-node as a peer dependency
  packages/admin/admin-generator/package.json
Due: prettylint

add disableTouchRipple and disableFocusRipple to remove circle animation
  packages/admin/admin/src/common/buttons/Button.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore: remove ts-node as a peer dependency in @comet/api-generator and @comet/cli
  packages/api/api-generator/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: prettylint

chore: admin-generator move ts-node from devdependencies to dependencies
  packages/admin/admin-generator/package.json
  pnpm-lock.yaml
Due: prettylint

chore: admin-generator move graphql from dev dependency to dependency
  packages/admin/admin-generator/package.json
  pnpm-lock.yaml
Due: prettylint

chore: update changeset text
  .changeset/clean-rivers-give.md
  packages/site/cms-site/src/blocks/helpers/VideoPreviewImage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: knip issues in demo/admin and demo/api -> ts-node is not needed as a peer dependency any more
  demo/admin/package.json
  demo/site-pages/package.json
  demo/site/package.json
  pnpm-lock.yaml
Due: prettylint

feat: export video preview image component, adjust changeset text
  .changeset/five-rivers-return.md
  packages/site/cms-site/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add outlineOffset
  packages/admin/admin-theme/src/componentsTheme/MuiButton.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use TeaserItemBlock to reproduce bugs with rendering PixelImageBlock
  demo/site/src/documents/pages/blocks/TeaserBlock.tsx
  demo/site/src/documents/pages/blocks/TeaserItemBlock.tsx
  packages/site/cms-site/src/blocks/PixelImageBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove ts-node as peer dependency from `@comet/api-generator` and `@comet/cli` (#3532)
  demo/admin/package.json
  demo/site-pages/package.json
  demo/site/package.json
  packages/api/api-generator/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: prettylint

Allow manual trigger of main-into-next-pr workflow (#3530)
  .github/workflows/main-into-next-pr.yml
Due: none

set minWidth of Buttons to 0
  packages/admin/admin-theme/src/componentsTheme/MuiButton.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use type from final-from for validate function
  packages/admin/cms-admin/src/generator/future/generator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rework button border/outline
  packages/admin/admin-theme/src/componentsTheme/MuiButton.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

DAM: Fix headers
  .changeset/hungry-boxes-attack.md
  packages/api/cms-api/src/blob-storage/backends/azure/blob-storage-azure.storage.ts
  packages/api/cms-api/src/blob-storage/backends/blob-storage-backend.interface.ts
  packages/api/cms-api/src/blob-storage/backends/blob-storage-backend.service.ts
  packages/api/cms-api/src/blob-storage/backends/file/blob-storage-file.storage.ts
  packages/api/cms-api/src/blob-storage/backends/s3/blob-storage-s3.storage.ts
  packages/api/cms-api/src/dam/cache/scaled-images-cache.service.ts
  packages/api/cms-api/src/dam/images/images.controller.ts
  packages/api/cms-api/src/file-uploads/file-uploads-download.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve typing: Type Guard used by generator runtime for places where runtime vs. configtime types mismatch
  packages/admin/cms-admin/src/generator/future/generateForm.ts
  packages/admin/cms-admin/src/generator/future/generateForm/generateComponentFormField.ts
  packages/admin/cms-admin/src/generator/future/generateForm/generateFormField.ts
  packages/admin/cms-admin/src/generator/future/generateGrid.ts
  packages/admin/cms-admin/src/generator/future/utils/runtimeTypeGuards.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update comment, that's not a todo anymore
  packages/admin/cms-admin/src/generator/future/utils/tsMorphHelper.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add poor-mans recursion support for nested fields with up to 5 levels supported
  packages/admin/cms-admin/src/generator/future/utils/tsMorphHelper.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Format the numbers in `DataGrid` pagination
  .changeset/pink-keys-drop.md
  packages/admin/admin/src/theme/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Ignore pre.json in prettier
  .prettierignore
Due: none

format: pre.json
  .changeset/pre.json
Due: prettylint

Don't show a trash-icon on the "Confirm" button of `ConfirmPageActionDialog`
  .changeset/thin-cooks-bow.md
  packages/admin/cms-admin/src/pages/pagesPage/ConfirmPageActionDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix wrong type in supportedImportPaths
  packages/admin/admin-generator/src/commands/generate/utils/tsMorphHelper.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Handle RSC-issues in the server
  demo/site/server.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix knip issues
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Ignore pre.json in prettier (#3536)
  .prettierignore
Due: none

Remove node-fetch from ImagesController
  packages/api/cms-api/src/dam/images/images.controller.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
