Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

docs: update changeset
  .changeset/short-donkeys-double.md
Due: prettylint

feat(Item): use colors from theme
  packages/admin/admin/src/mui/menu/Item.styles.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(Item): rename hasChildElements prop to hasSubitems
  packages/admin/admin/src/mui/menu/CollapsibleItem.tsx
  packages/admin/admin/src/mui/menu/Item.styles.ts
  packages/admin/admin/src/mui/menu/Item.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix conflicts
  packages/admin/cms-admin/src/dam/FileForm/EditFile.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(CollapsibleItem): camelCase props OpenedIcon and ClosedIcon
  packages/admin/admin/src/mui/menu/CollapsibleItem.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove(CollapsibleItem): prop collapsedMenuTransitionComponent since it doesn't have to be overridable
  packages/admin/admin/src/mui/menu/CollapsibleItem.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(CollapsibleItem): rename state isCollapsibleOpen to isSubmenuOpen
  packages/admin/admin/src/mui/menu/CollapsibleItem.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix(UploadInterceptors): fix encoding of special characters in filename
  .changeset/kind-fans-watch.md
  packages/api/cms-api/src/dam/files/dam-upload-file.interceptor.ts
  packages/api/cms-api/src/public-upload/public-upload-file.interceptor.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add import from external dam - unsplash
  demo/admin/src/App.tsx
  demo/admin/src/dam/ImportFromUnsplash.tsx
  demo/admin/src/dam/UnsplashIcon.tsx
  demo/admin/src/dam/getRandomUnsplashImage.ts
  demo/api/schema.gql
  packages/admin/cms-admin/src/dam/DamPage.tsx
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/UploadFilesButton.tsx
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/useFileUpload.tsx
  packages/admin/cms-admin/src/dam/DataGrid/label/DamItemLabelColumn.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
  packages/admin/cms-admin/src/form/file/upload.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/dam/files/dto/file.body.ts
  packages/api/cms-api/src/dam/files/dto/file.input.ts
  packages/api/cms-api/src/dam/files/entities/file.entity.ts
  packages/api/cms-api/src/dam/files/files.service.ts
  packages/api/cms-api/src/mikro-orm/migrations/Migration20230808085034.ts
  packages/api/cms-api/src/mikro-orm/mikro-orm.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use the same conditional validation logic as in file.input.ts
  packages/api/cms-api/src/dam/files/dto/file.body.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename FolderContextType
  packages/admin/cms-admin/src/dam/CurrentDamFolderProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move onAfterUpload into useFileUpload
  demo/admin/src/dam/ImportFromUnsplash.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/UploadFilesButton.tsx
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/useFileUpload.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

type of the options changed to achieve validation
  demo/admin/src/dam/ImportFromUnsplash.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/FileUploadErrorDialog.tsx
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/UploadFilesButton.tsx
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/useDamFileUpload.gql.ts
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/useDamFileUpload.tsx
  packages/admin/cms-admin/src/dam/DataGrid/label/DamItemLabelColumn.tsx
  packages/admin/cms-admin/src/dam/DataGrid/selection/DamMoreActions.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/bright-maps-jump.md
  .changeset/bright-maps-jump.md
Due: prettylint

add changeset
  .changeset/bright-maps-jump.md
Due: prettylint

add folderId context provider
  demo/admin/src/dam/ImportFromUnsplash.tsx
  packages/admin/cms-admin/src/dam/DamTable.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Sort Migration by timestamp
  packages/api/cms-api/src/mikro-orm/mikro-orm.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

move and rename CurrentDamFolderContext
  demo/admin/src/dam/ImportFromUnsplash.tsx
  packages/admin/cms-admin/src/dam/CurrentDamFolderContext.tsx
  packages/admin/cms-admin/src/dam/DamTable.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename Image component
  demo/admin/src/dam/ImportFromUnsplash.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add missing @IsString() validator
  packages/api/cms-api/src/dam/files/dto/file.body.ts
  packages/api/cms-api/src/dam/files/dto/file.input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename CurrentDamFolderContext
  demo/admin/src/dam/ImportFromUnsplash.tsx
  packages/admin/cms-admin/src/dam/CurrentDamFolderProvider.tsx
  packages/admin/cms-admin/src/dam/DamTable.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

improve changeset with additional information about the external DAM functionality
  .changeset/bright-maps-jump.md
Due: prettylint

Add input validation for importSourceType
  packages/api/cms-api/src/dam/files/dto/file.input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve error message
  packages/admin/cms-admin/src/dam/CurrentDamFolderProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename UploadFileOptions
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/useDamFileUpload.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add nullable to field
  packages/api/cms-api/src/dam/files/entities/file.entity.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

rename FolderContext
  packages/admin/cms-admin/src/dam/CurrentDamFolderProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix Unsplash casing in dialog title
  demo/admin/src/dam/ImportFromUnsplash.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move declaration of fileName and acceptedFile after check of mimeType
  demo/admin/src/dam/getRandomUnsplashImage.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix mimeType logic in getRandomUnsplashImage
  demo/admin/src/dam/getRandomUnsplashImage.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve changeset
  .changeset/bright-maps-jump.md
Due: prettylint

Update schema.gql
  demo/api/schema.gql
Due: none

move onAfterUpload calls directly into uploadFiles()
  packages/admin/cms-admin/src/dam/DataGrid/fileUpload/useDamFileUpload.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove md-headline in .changeset/bright-maps-jump.md
  .changeset/bright-maps-jump.md
Due: prettylint

Add md-code highlighting in .changeset/bright-maps-jump.md
  .changeset/bright-maps-jump.md
Due: prettylint

Add missing validators
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/dam/files/dto/file.body.ts
  packages/api/cms-api/src/dam/files/dto/file.input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

update nextjs eslint config to: add rule no-duplicate-imports
  packages/eslint-config/nextjs.js
Due: prettylint

Fix droppable typo
  packages/admin/admin/src/form/FinalFormFileUpload.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/generator/generateForm.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(DataGrid): replace noRowsLabel in theme with 'No results found'
  .changeset/five-tigers-run.md
  packages/admin/admin-theme/src/componentsTheme/MuiDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
