Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

agent-features: Copy skills and rules into the package instead of symlinking them
  .changeset/fix-empty-agent-features-package.md
  .gitignore
  packages/agent-features/build.js
  packages/agent-features/package.json
  packages/agent-features/rules
  packages/agent-features/skills
Due: prettylint

agent-features: Write the build script in TypeScript
  packages/agent-features/build.ts
  packages/agent-features/package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

agent-features: Drop the prepack script
  packages/agent-features/package.json
Due: prettylint

agent-features: Fix the package being published without skills and rules (#6205)
  .changeset/fix-empty-agent-features-package.md
  .gitignore
  packages/agent-features/build.ts
  packages/agent-features/package.json
  packages/agent-features/rules
  packages/agent-features/skills
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

agent-features: Adapt backport to @comet/agent-features package name
  .changeset/fix-empty-agent-features-package.md
  .gitignore
  packages/agent-features/build.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

ci: Rename `@comet/cms-api` to `@dextinity/cms-api`
  .github/workflows/cms-api-memory.yml
  scripts/measure-cms-api-memory.cjs
Due: none

cms-api: Validate UUID format of AffectedEntity id args before loading the entity
  .changeset/validate-affected-entity-uuid.md
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.spec.ts
  packages/api/cms-api/src/user-permissions/content-scope.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

[Backport v9] agent-features: Fix the package being published without skills and rules (#6206)
  .changeset/fix-empty-agent-features-package.md
  .gitignore
  packages/agent-features/build.ts
  packages/agent-features/package.json
  packages/agent-features/rules
  packages/agent-features/skills
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adjust release pipeline to enable v9 releases
  .github/workflows/release.yml
Due: none

Enable v9 releases (#6208)
  .github/workflows/release.yml
Due: none

Rename the changeset's package to `@dextinity/cms-api`
  .changeset/optional-dam-scope-access-control.md
Due: prettylint

cms-api: Drop the startup warning for disabled DAM scope access control
  packages/api/cms-api/src/dam/dam-files.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Move the DAM's scope check into DamScopeAccessControlService
  packages/api/cms-api/src/dam/dam-files.module.ts
  packages/api/cms-api/src/dam/files/files.controller.ts
  packages/api/cms-api/src/dam/files/folders.controller.ts
  packages/api/cms-api/src/dam/images/images.controller.ts
  packages/api/cms-api/src/dam/scope-access-control.service.spec.ts
  packages/api/cms-api/src/dam/scope-access-control.service.ts
  packages/api/cms-api/src/dam/scope-access-control.spec.ts
  packages/api/cms-api/src/dam/scope-access-control.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Correct the changeset's description of a missing AccessControlService
  .changeset/optional-dam-scope-access-control.md
Due: prettylint

site: Make domain redirect resolution in the middleware correct and cheap
  demo/site/src/middleware/domainRedirects.ts
  demo/site/src/middleware/redirectToMainHost.ts
  demo/site/src/util/host.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Batch page tree node lookups to avoid N+1 queries
  .changeset/tall-cameras-shake.md
  packages/api/cms-api/src/page-tree/page-tree-read-api.test.ts
  packages/api/cms-api/src/page-tree/page-tree-read-api.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

site: Add tests for domain redirect and main host resolution
  demo/site/package.json
  demo/site/src/middleware/domainRedirects.test.ts
  demo/site/src/middleware/redirectToMainHost.test.ts
  demo/site/src/util/host.test.ts
  demo/site/vitest.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Fix validation of blocks without fields
  .changeset/fix-validation-of-blocks-without-fields.md
  packages/api/cms-api/src/blocks/block.test.ts
  packages/api/cms-api/src/blocks/block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Make TipTap rich text block toolbar sticky
  .changeset/tiptap-toolbar-sticky.md
  packages/admin/cms-admin/src/blocks/tipTap/TipTapToolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Fix TipTap RTE validation of link/child blocks without fields
  .changeset/tiptap-empty-fields-block-validation.md
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: Rename Comet references to Dextinity in the site settings feature
  .changeset/tidy-pears-attack.md
  demo/admin/src/siteSettings/EditSiteSettingsPage.tsx
  demo/admin/src/siteSettings/blocks/OrganizationBlock.tsx
  demo/admin/src/siteSettings/blocks/SameAsUrlBlock.tsx
  demo/api/src/site-settings/blocks/organization.block.ts
  demo/api/src/site-settings/blocks/same-as-url.block.ts
  demo/api/src/site-settings/entities/site-settings.entity.ts
  demo/api/src/site-settings/generated/dto/site-settings.input.ts
  demo/api/src/site-settings/generated/site-settings.resolver.ts
  demo/api/src/site-settings/site-settings.module.ts
  demo/site/src/siteSettings/SiteSettings.fragment.ts
  demo/site/src/siteSettings/SiteSettings.tsx
  demo/site/src/siteSettings/buildOrganization.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Add interactive Storybook test for sticky TipTap toolbar
  packages/admin/cms-admin/src/blocks/tipTap/__stories__/TipTapRichTextBlock.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Batch child node lookups to avoid N+1 queries
  .changeset/lucky-moons-repeat.md
  packages/api/cms-api/src/page-tree/page-tree-read-api.test.ts
  packages/api/cms-api/src/page-tree/page-tree-read-api.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: Require an http or https protocol for the Organization URLs
  .changeset/tidy-pears-attack.md
  demo/admin/package.json
  demo/admin/src/siteSettings/blocks/OrganizationBlock.tsx
  demo/admin/src/siteSettings/blocks/SameAsUrlBlock.tsx
  demo/admin/src/siteSettings/blocks/validateUrl.tsx
  demo/api/src/site-settings/blocks/organization.block.ts
  demo/api/src/site-settings/blocks/same-as-url.block.ts
  packages/admin/cms-admin/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo-admin: Don't export the URL validation options
  demo/admin/src/siteSettings/blocks/validateUrl.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Fix flaky element lookup in sticky toolbar story
  packages/admin/cms-admin/src/blocks/tipTap/__stories__/TipTapRichTextBlock.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Use generous timeouts in sticky toolbar story assertions
  packages/admin/cms-admin/src/blocks/tipTap/__stories__/TipTapRichTextBlock.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

State each rule once in the admin UI skill
  skills/dextinity-admin-ui/SKILL.md
Due: prettylint

Cut admin UI skill prose that repeats its neighbors
  skills/dextinity-admin-ui/SKILL.md
Due: prettylint

Explain two unexplained rules in the admin UI skill
  skills/dextinity-admin-ui/SKILL.md
Due: prettylint

Rework the admin UI skill wording for a non-native reader
  skills/dextinity-admin-ui/SKILL.md
Due: prettylint

Restore precision the wording pass lost in the admin UI skill
  skills/dextinity-admin-ui/SKILL.md
Due: prettylint

Cover the body's own sections in the skill description
  skills/dextinity-admin-ui/SKILL.md
Due: prettylint

cms-api: Fix validation error for block inputs without validation annotations
  .changeset/fix-block-input-without-validation-annotations.md
  packages/api/cms-api/src/blocks/block-input-validation.test.ts
  packages/api/cms-api/src/blocks/block.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Don't create image metadata when replacing a DAM file
  packages/api/cms-api/src/dam/files/files.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
