Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Generate block types before build, lint and dev
  packages/mail-react/package.json
Due: prettylint

Add @comet/cli to dev dependencies
  packages/mail-react/package.json
  pnpm-lock.yaml
Due: prettylint

Refactoring: Split utils into multiple files
  packages/admin/cms-admin/src/blocks/table/ColumnHeader.tsx
  packages/admin/cms-admin/src/blocks/table/RowActionsCell.tsx
  packages/admin/cms-admin/src/blocks/table/TableBlock.tsx
  packages/admin/cms-admin/src/blocks/table/TableBlockGrid.tsx
  packages/admin/cms-admin/src/blocks/table/__mocks__/TableBlockData.mocks.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/insertColumnDataAtIndex.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/pasteColumnWithDifferentValues.test.ts
  packages/admin/cms-admin/src/blocks/table/utils/column.ts
  packages/admin/cms-admin/src/blocks/table/utils/getClipboardValueForSchema.ts
  packages/admin/cms-admin/src/blocks/table/utils/getInitialTableData.ts
  packages/admin/cms-admin/src/blocks/table/utils/row.ts
  packages/admin/cms-admin/src/blocks/table/utils/useRecentlyPastedIds.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor insertion and copying of rows to be more consistent with columns
  packages/admin/cms-admin/src/blocks/table/RowActionsCell.tsx
  packages/admin/cms-admin/src/blocks/table/utils/row.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unused export
  packages/admin/cms-admin/src/blocks/table/utils/row.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Replace redis with valkey
  .env
  demo/site/cache-handler.ts
  demo/site/next.config.mjs
  docker-compose.yml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove Netlify badge in Admin Storybook (#4979)
  packages/admin/admin/.storybook/manager-head.html
Due: none

add intl:extract command to lint-staged of demo - admin/site/api
  demo/admin/lint-staged.config.mjs
  demo/api/lint-staged.config.mjs
  demo/site/lint-staged.config.mjs
Due: none

activate formatjs/enforce-default-message rule to be literals
  packages/eslint-config/react.js
Due: prettylint

docs: add changeset
  .changeset/breezy-bobcats-punch.md
  .cspellignore
Due: prettylint

Improve changeset
  .changeset/breezy-bobcats-punch.md
Due: prettylint

move enforce-default-message check for literals to future config
  packages/eslint-config/future/react.js
  packages/eslint-config/react.js
Due: prettylint

add topBarActions to Toolbar and introduce new HelpDialogAction Component which displays a help button and opens a Help Dialog on click
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/admin/src/common/toolbar/actions/helpDialogAction/HelpDialogAction.sc.ts
  packages/admin/admin/src/common/toolbar/actions/helpDialogAction/HelpDialogAction.tsx
  packages/admin/admin/src/index.ts
  storybook/src/admin/toolbar/Toolbar.stories.tsx
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: add changeset
  .changeset/tall-baths-dance.md
Due: prettylint

export HelpDialogActionProps and HelpDialogActionClassKey
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix componentName
  packages/admin/admin/src/common/toolbar/actions/helpDialogAction/HelpDialogAction.sc.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor remove unnecssary newline in toolbar
  packages/admin/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: rename HelpDialogAction to HelpDialogButton
  .changeset/tall-baths-dance.md
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.sc.ts
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.tsx
  packages/admin/admin/src/common/toolbar/actions/helpDialogAction/HelpDialogAction.sc.ts
  packages/admin/admin/src/index.ts
  storybook/src/admin/toolbar/Toolbar.stories.tsx
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: adjust changeset
  .changeset/tall-baths-dance.md
Due: prettylint

adjust help dialogDescription
  storybook/src/admin/toolbar/Toolbar.stories.tsx
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor formatted message id
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update .changeset/tall-baths-dance.md
  .changeset/tall-baths-dance.md
Due: prettylint

refactor remove root from helpDialogButton
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.sc.ts
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor styled component namings
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.sc.ts
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
  storybook/src/docs/bestPractices/GridAndFormLayouts.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.sc.ts
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.sc.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove root from themedcomponentbase prop
  packages/admin/admin/src/common/buttons/helpDialogButton/HelpDialogButton.tsx
  packages/admin/admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

WIP
  demo/admin/src/brevo/emailCampaigns/blocks/EmailCampaignContentBlock.tsx
  demo/admin/src/brevo/emailCampaigns/blocks/EmailCampaignDividerBlock.tsx
  demo/site/package.json
  demo/site/src/app/[visibility]/[domain]/[language]/brevo-email-campaign/route.tsx
  demo/site/src/app/block-preview/[domain]/[language]/brevo-email-campaign/page.tsx
  demo/site/src/brevo/blocks/EmailCampaignContentBlock.tsx
  demo/site/src/brevo/blocks/EmailCampaignDividerBlock.tsx
  demo/site/src/brevo/blocks/EmailCampaignRichTextBlock.tsx
  demo/site/src/brevo/blocks/EmailCampaignSalutationBlock.tsx
  demo/site/src/brevo/components/IndentedSectionGroup.tsx
  demo/site/src/brevo/components/RenderedMail.tsx
  demo/site/src/brevo/components/Root.tsx
  demo/site/src/brevo/components/Typography.tsx
  demo/site/src/brevo/util/replaceMailHtmlPlaceholders.tsx
  demo/site/src/brevo/util/theme.ts
  packages/mail-react/src/blocks/helpers/imageBlockHelpers.ts
  packages/mail-react/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Allow passing data-testid to FieldContainer/Field-based fields (#4922)
  .changeset/lucky-facts-clean.md
  packages/admin/admin/src/form/Field.tsx
  packages/admin/admin/src/form/fields/SelectField.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor TableBlock utils (#5014)
  packages/admin/cms-admin/src/blocks/table/ColumnHeader.tsx
  packages/admin/cms-admin/src/blocks/table/RowActionsCell.tsx
  packages/admin/cms-admin/src/blocks/table/TableBlock.tsx
  packages/admin/cms-admin/src/blocks/table/TableBlockGrid.tsx
  packages/admin/cms-admin/src/blocks/table/__mocks__/TableBlockData.mocks.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/insertColumnDataAtIndex.test.ts
  packages/admin/cms-admin/src/blocks/table/__tests__/pasteColumnWithDifferentValues.test.ts
  packages/admin/cms-admin/src/blocks/table/utils/column.ts
  packages/admin/cms-admin/src/blocks/table/utils/getClipboardValueForSchema.ts
  packages/admin/cms-admin/src/blocks/table/utils/getInitialTableData.ts
  packages/admin/cms-admin/src/blocks/table/utils/row.ts
  packages/admin/cms-admin/src/blocks/table/utils/useRecentlyPastedIds.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

ESLint: enforce literal default messages (#4720)
  .changeset/breezy-bobcats-punch.md
  .cspellignore
  packages/eslint-config/future/react.js
Due: prettylint

Fix inserting rows with more/less values than existing columns
  packages/admin/cms-admin/src/blocks/table/RowActionsCell.tsx
  packages/admin/cms-admin/src/blocks/table/utils/column.ts
  packages/admin/cms-admin/src/blocks/table/utils/row.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: add intl:extract to lint-staged (#4727)
  demo/admin/lint-staged.config.mjs
  demo/api/lint-staged.config.mjs
  demo/site/lint-staged.config.mjs
Due: none

Add unit-test for insertRowDataAtIndex
  packages/admin/cms-admin/src/blocks/table/__tests__/insertRowDataAtIndex.test.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add filter by visiblity to api
  demo/api/schema.gql
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/page-tree/createPageTreeResolver.ts
  packages/api/cms-api/src/page-tree/dto/paginated-page-tree-nodes-args.factory.ts
  packages/api/cms-api/src/page-tree/page-tree-read-api.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

only fetch pages that are published in pageTreeIndexBlock loader
  demo/site/src/common/blocks/PageTreeIndexBlock.loader.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/upset-bushes-brush.md
Due: prettylint

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
