Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add external images as third option
  docs/docs/10-faqs/next-image-import-restriction.md
Due: prettylint

Be more explicit regarding not using next/image
  docs/docs/10-faqs/next-image-import-restriction.md
  packages/eslint-config/nextjs.js
Due: prettylint

Add note regarding local image optimization
  docs/docs/10-faqs/next-image-import-restriction.md
Due: prettylint

Add changeset
  .changeset/silent-rings-judge.md
Due: prettylint

Renovate: move eslint-plugin-storybook to Storybook group
  renovate/default.json
Due: prettylint

Fix Next.js ESLint config preset (#5073)
  .changeset/lemon-phones-notice.md
  packages/eslint-config/nextjs.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettylint

Docs: explain the next/image import restriction (#5111)
  .changeset/silent-rings-judge.md
  docs/docs/10-faqs/index.md
  docs/docs/10-faqs/next-image-import-restriction.md
  packages/eslint-config/nextjs.js
Due: prettylint

Extend generated filter for references
  demo/api/schema.gql
  demo/api/src/news/generated/dto/news-comment.filter.ts
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/products/generated/dto/product-category-type.filter.ts
  demo/api/src/products/generated/dto/product-category.filter.ts
  demo/api/src/products/generated/dto/product-color.filter.ts
  demo/api/src/products/generated/dto/product-tag.filter.ts
  demo/api/src/products/generated/dto/product-to-tag.filter.ts
  demo/api/src/products/generated/dto/product.filter.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-crud.ts
  packages/api/cms-api/src/common/filter/mikro-orm.spec.ts
  packages/api/cms-api/src/common/filter/mikro-orm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use only enum name (as kebab-case) for generated file
  demo/api/src/news/generated/dto/news-category.enum-filter.ts
  demo/api/src/news/generated/dto/news-status.enum-filter.ts
  demo/api/src/news/generated/dto/news.filter.ts
  demo/api/src/products/generated/dto/manufacturer.filter.ts
  demo/api/src/products/generated/dto/product-status.enum-filter.ts
  demo/api/src/products/generated/dto/product-type.enum-filter.ts
  demo/api/src/products/generated/dto/product-type.enums-filter.ts
  demo/api/src/products/generated/dto/product.filter.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-crud-enum-array.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/__tests__/generate-enum-filter-dto.spec.ts
  packages/api/api-generator/src/commands/generate/generateCrud/generate-enum-filter-dto.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Renovate: add group for Stylelint (#5109)
  renovate/default.json
Due: prettylint

Add docs for local authentication (#4633)
  .cspellignore
  docs/docs/1-getting-started/2-how-to-run.md
  docs/docs/1-getting-started/3-application-structure.md
  docs/docs/1-getting-started/4-packages-tools.md
  docs/docs/2-core-concepts/8-authentication/1-migrate-local-development-to-a-setup-with-authentication.md
  docs/docs/index.md
Due: prettylint

Renovate: move eslint-plugin-storybook to Storybook group (#5112)
  renovate/default.json
Due: prettylint

Make new field nullable and add missing migration
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20260203072412.ts
  demo/api/src/products/entities/manufacturer.entity.ts
  demo/api/src/products/generated/dto/manufacturer.input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update snapshot (whitespace only)
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/initialValueAsProp.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/scope.test.ts.snap
Due: none

Add AffectedScope-decorator (#4931)
  .changeset/eleven-zoos-rule.md
  docs/docs/2-core-concepts/1-content-scope/3-evaluate-content-scopes.md
  packages/api/cms-api/src/index.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.spec.ts
  packages/api/cms-api/src/user-permissions/auth/user-permissions.guard.ts
  packages/api/cms-api/src/user-permissions/content-scope.service.ts
  packages/api/cms-api/src/user-permissions/decorators/affected-scope.decorator.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Admin Generator Form: Use scope type from gql schema when using scope from context (#5088)
  .changeset/real-moments-smash.md
  demo/admin/src/news/generated/NewsForm.tsx
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelect.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/asyncSelectFilter.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/initialValueAsProp.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/optionalNestedFields.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/__snapshots__/scope.test.ts.snap
  packages/admin/admin-generator/src/commands/generate/generateForm/__tests__/scope.test.ts
  packages/admin/admin-generator/src/commands/generate/generateForm/generateForm.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update generated code
  demo/api/src/products/generated/product-variant.resolver.ts
  demo/api/src/products/generated/product.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Apply suggestion from @jamesricky
  .changeset/tiny-rivers-dress.md
Due: prettylint

Demo Admin: Use ADMIN_PORT variable consistently (#5094)
  demo/admin/server/index.js
Due: prettylint

add theme variables
  demo/site/src/styles/theme.scss
Due: prettylint

Move spacing from AppHeader to AppHeaderButton and Header#LogoWrapper
  packages/admin/admin/src/appHeader/AppHeader.tsx
  packages/admin/admin/src/appHeader/menuButton/AppHeaderMenuButton.tsx
  packages/admin/cms-admin/src/common/header/Header.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Automatically hide the `MasterMenu` if only one menu item is available (#4996)
  .changeset/tiny-rivers-dress.md
  packages/admin/admin/src/appHeader/menuButton/AppHeaderMenuButton.tsx
  packages/admin/admin/src/mui/MasterLayout.tsx
  packages/admin/admin/src/mui/mainNavigation/Context.tsx
  packages/admin/cms-admin/src/common/MasterMenu.tsx
  packages/admin/cms-admin/src/common/header/Header.tsx
  storybook/src/cms-admin/MasterMenu/MasterMenuInMasterLayout.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

style form
  demo/site/src/common/blocks/ContactFormBlock.module.scss
  demo/site/src/common/blocks/ContactFormBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add error svg
  demo/site/public/assets/icons/error.svg
Due: none

style text field using mixins
  demo/site/src/common/components/form/TextField.module.scss
  demo/site/src/common/components/form/TextField.tsx
  demo/site/src/common/components/form/field.scss
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update dev script to use dev-pm start
  package.json
Due: prettylint

apply styling on textarea field
  demo/site/src/common/components/form/TextField.tsx
  demo/site/src/common/components/form/TextareaField.module.scss
  demo/site/src/common/components/form/TextareaField.tsx
  demo/site/src/common/components/form/field.scss
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove unneccessary type check
  demo/site/src/middleware/redirectToMainHost.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add payload type that can return error in mutation reponse
  demo/api/schema.gql
  demo/api/src/products/generated/product-variant.resolver.ts
  demo/api/src/products/generated/product.resolver.ts
  demo/api/src/products/product-variant.service.ts
  demo/api/src/products/product.service.ts
  demo/api/src/products/products.module.ts
  packages/api/cms-api/src/common/decorators/crud-generator.decorator.ts
  packages/api/cms-api/src/common/graphql/mutation-error.ts
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

redirect to site's main domain
  demo/site/src/middleware/redirectToMainHost.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

handle news in getRedirectTargetUrl
  demo/site/src/app/[visibility]/[domain]/[language]/[[...path]]/page.tsx
  demo/site/src/util/getRedirectTargetUrl.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update jsdom to try to fix flaky test
  knip.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint

Update jsdom to try to fix flaky test (#5117)
  knip.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/cms-admin/package.json
  pnpm-lock.yaml
Due: prettylint

hide filesInfoText
  packages/admin/admin/src/form/file/FileSelect.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/violet-laws-behave.md
Due: prettylint

remove filesInfoText from FileSelect
  packages/admin/admin/src/form/file/FileSelect.tsx
  packages/admin/admin/src/form/file/getFilesInfoText.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/light-peas-design.md
Due: prettylint

add migration guide
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
Due: prettylint

Demo: Add a form field that opens a dialog for selection of a product
  demo/admin/src/products/highlights/ProductHighlight2Form.gql.tsx
  demo/admin/src/products/highlights/ProductHighlight2Form.tsx
  demo/admin/src/products/highlights/ProductHighlightsGrid.tsx
  demo/admin/src/products/highlights/ProductHighlightsPage.tsx
  demo/admin/src/products/highlights/SelectProductField.tsx
  demo/admin/src/products/highlights/SelectProductFieldGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix `dev` command and add commands for new Brevo packages (#5107)
  package.json
Due: prettylint

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
