Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Add @as-integrations/express5 to knip ignore
  knip.json
Due: prettylint

setup storybook
  .gitignore
  dev-pm.config.ts
  package.json
  packages/admin/admin/.prettierignore
  packages/admin/admin/.storybook/decorators/IntlProvider.decorator.tsx
  packages/admin/admin/.storybook/decorators/Layout.decorator.styles.ts
  packages/admin/admin/.storybook/decorators/Layout.decorator.tsx
  packages/admin/admin/.storybook/decorators/ThemeProvider.decorator.tsx
  packages/admin/admin/.storybook/main.ts
  packages/admin/admin/.storybook/manager-head.html
  packages/admin/admin/.storybook/manager.ts
  packages/admin/admin/.storybook/preview-head.html
  packages/admin/admin/.storybook/preview.ts
  packages/admin/admin/.storybook/public/comet-logo-header.svg
  packages/admin/admin/.storybook/public/favicon.ico
  packages/admin/admin/.storybook/theme.tsx
  packages/admin/admin/eslint.config.mjs
  packages/admin/admin/package.json
  packages/admin/admin/src/common/buttons/delete/documentation/DeleteButton.stories.tsx
  packages/admin/admin/src/vendor.d.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add msw to ignored knip dependencies, storybook need this, otherwise it crashes on startup
  knip.json
Due: prettylint

exclude stories from build
  packages/admin/admin/.babelrc.json
  packages/admin/admin/tsconfig.build.json
Due: prettylint

adjust dev-pm config - groups and admin storybook naming
  dev-pm.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor documentation -> __stories__ directory
  packages/admin/admin/.babelrc.json
  packages/admin/admin/.storybook/main.ts
  packages/admin/admin/src/common/buttons/delete/__stories__/DeleteButton.stories.tsx
  packages/admin/admin/tsconfig.build.json
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor remove .stories.js from babelrc
  packages/admin/admin/.babelrc.json
Due: prettylint

revert from vite to webpack and setup chromatic
  .github/workflows/chromatic.yml
  packages/admin/admin/.storybook/decorators/IntlProvider.decorator.tsx
  packages/admin/admin/.storybook/decorators/Layout.decorator.tsx
  packages/admin/admin/.storybook/decorators/ThemeProvider.decorator.tsx
  packages/admin/admin/.storybook/main.ts
  packages/admin/admin/.storybook/preview.ts
  packages/admin/admin/eslint.config.mjs
  packages/admin/admin/package.json
  packages/admin/admin/src/common/buttons/delete/__stories__/DeleteButton.stories.tsx
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add storybook composition
  storybook/.storybook/main.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

update action name
  .github/workflows/chromatic.yml
Due: none

change github actions to v5
  .github/workflows/chromatic.yml
Due: none

use new pnpm setup:ci instead of copy-schema-files
  .github/workflows/chromatic.yml
Due: none

Move PNPM-specific settings into config file (#4711)
  .npmrc
  pnpm-workspace.yaml
Due: none

fix alphabetical order in comet admin package.json scripts
  packages/admin/admin/package.json
Due: prettylint

Override @apollo/server peer dependency of @apollo/server-plugin-landing-page-graphql-playground
  package.json
  pnpm-lock.yaml
Due: prettylint

Demo Site: add support for icons to `Button` (#4610)
  demo/site/src/common/components/Button.module.scss
Due: prettylint

Fix OAuth Proxy blocking block loader requests in block preview (#4707)
  .env
Due: none

Set `referrerPolicy="strict-origin-when-cross-origin"` in the `YouTubeVideoBlock` in cms-site (v7)
  .changeset/kind-buses-visit.md
  packages/site/cms-site/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Revert "Use my changeset action fork to fix tagging (v7) (#4702)"
  .github/workflows/release.yml
Due: none

"Improve" changeset
  .changeset/curly-teams-kneel.md
Due: prettylint

add validation of parentId to pageTree
  packages/api/cms-api/src/page-tree/createPageTreeResolver.ts
  packages/api/cms-api/src/page-tree/page-tree.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Set `referrerPolicy="strict-origin-when-cross-origin"` in the `YouTubeVideoBlock` in cms-site (v7) (#4714)
  .changeset/kind-buses-visit.md
  packages/site/cms-site/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/purple-lines-shop.md
Due: prettylint

Revert "Use my changeset action fork to fix tagging (v7)" (#4715)
  .github/workflows/release.yml
Due: none

dev-pm.config.ts aktualisieren
  dev-pm.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use createSitePath for home link
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add a dedicated Storybook for `@comet/admin` (#4251)
  .github/workflows/chromatic.yml
  .gitignore
  dev-pm.config.ts
  knip.json
  package.json
  packages/admin/admin/.prettierignore
  packages/admin/admin/.storybook/decorators/IntlProvider.decorator.tsx
  packages/admin/admin/.storybook/decorators/Layout.decorator.styles.ts
  packages/admin/admin/.storybook/decorators/Layout.decorator.tsx
  packages/admin/admin/.storybook/decorators/ThemeProvider.decorator.tsx
  packages/admin/admin/.storybook/main.ts
  packages/admin/admin/.storybook/manager-head.html
  packages/admin/admin/.storybook/manager.ts
  packages/admin/admin/.storybook/preview-head.html
  packages/admin/admin/.storybook/preview.ts
  packages/admin/admin/.storybook/public/comet-logo-header.svg
  packages/admin/admin/.storybook/public/favicon.ico
  packages/admin/admin/.storybook/theme.tsx
  packages/admin/admin/eslint.config.mjs
  packages/admin/admin/package.json
  packages/admin/admin/src/common/buttons/delete/__stories__/DeleteButton.stories.tsx
  packages/admin/admin/src/vendor.d.ts
  packages/admin/admin/tsconfig.build.json
  pnpm-lock.yaml
  storybook/.storybook/main.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use existing types
  demo/site/src/common/blocks/PageTreeIndexBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove type duplication
  demo/site/src/common/blocks/PageTreeIndexBlock.loader.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

simplify build tree
  demo/site/src/common/blocks/PageTreeIndexBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

improve changeset
  .changeset/dull-garlics-cheer.md
Due: prettylint

use relative import
  packages/api/cms-api/src/page-tree/page-tree.module.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

pass scope directly to createSitePath function
  demo/site/src/common/components/breadcrumbs/Breadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add injectFormVariables helper function to inject id, mode, client or fromApi into validator
  .changeset/pink-ideas-film.md
  demo/admin/package.json
  demo/admin/src/products/generator/ProductForm.cometGen.tsx
  demo/admin/src/products/generator/generated/ProductForm.tsx
  packages/admin/admin-generator/package.json
  packages/admin/admin-generator/src/commands/generate/config/__tests__/transformConfig.ts
  packages/admin/admin-generator/src/commands/generate/config/transformConfig.ts
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
  packages/admin/admin-generator/src/commands/generate/utils/convertConfigImport.ts
  packages/admin/admin-generator/src/commands/generate/utils/generateImportsCode.ts
  packages/admin/admin-generator/src/index.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Use type=number for float fields (streetNumber)
  demo/admin/src/products/generator/ManufacturerForm.cometGen.tsx
  demo/admin/src/products/generator/generated/ManufacturerForm.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: move Alert story to admin storybook
  packages/admin/admin/eslint.config.mjs
  packages/admin/admin/src/alert/__stories__/Alert.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

restructure Alert story
  packages/admin/admin/src/alert/Alert.tsx
  packages/admin/admin/src/alert/__stories__/Alert.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix entry points of api-generator package in package.json (#4705)
  packages/api/api-generator/package.json
Due: prettylint

Add translation to demo-api
  .github/workflows/i18n.yml
  .github/workflows/lint.yml
  demo/api/.gitignore
  demo/api/.prettierignore
  demo/api/intl-update.sh
  demo/api/package.json
  demo/api/src/common/lang.ts
  demo/api/src/products/custom-product.resolver.ts
  demo/api/src/products/product-published.mail.ts
  install.sh
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
