Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add docs to define a common structure for writing docs for Admin Components
  docs/docs/8-comet-core-development/2-writing-admin-component-docs.md
Due: prettylint

Move toGqlFilter callback into column definition
  demo/admin/src/products/ProductsGrid.tsx
  packages/admin/admin/src/dataGrid/GridColDef.ts
  packages/admin/admin/src/dataGrid/muiGridFilterToGql.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix css message
  packages/admin/cms-admin/src/blocks/common/AdminTabsTabContent.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix `PreviewSkeleton` for images using fill (#4178)
  .changeset/dry-waves-drop.md
  packages/site/site-nextjs/src/blocks/PixelImageBlock.tsx
  packages/site/site-react/src/previewskeleton/PreviewSkeleton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: add fixtures for news
  demo/api/schema.gql
  demo/api/src/db/fixtures/fixtures.console.ts
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/news-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve v8 migration guide
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint

Include `@comet/site-react` in the bundle of `@comet/site-nextjs` (#4172)
  .changeset/shaggy-impalas-cry.md
  .cspellignore
  packages/site/site-nextjs/vite.config.mts
Due: prettylint

Include `@comet/site-react` in the bundle of `@comet/site-nextjs` (v7) (#4190)
  .changeset/shaggy-impalas-cry.md
  .cspellignore
  packages/site/site-nextjs/vite.config.mts
Due: prettylint

Fix CSS message (#4186)
  packages/admin/cms-admin/src/blocks/common/AdminTabsTabContent.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update MUI-X date pickers to latest version
  .changeset/smart-rules-learn.md
  demo/admin/package.json
  demo/admin/src/App.tsx
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
  packages/admin/admin/CHANGELOG.md
  packages/admin/admin/package.json
  pnpm-lock.yaml
  storybook/.storybook/decorators/IntlProvider.decorator.tsx
  storybook/package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove including credentials in admin and block preview
  demo/admin/src/common/apollo/createApolloClient.ts
  packages/site/site-react/src/iframebridge/useBlockPreviewFetch.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add prerequisites
  docs/docs/7-migration-guide/migration-from-v7-to-v8_new.md
Due: prettylint

refactor: replace MetricType enum with string union
  demo/api/src/open-telemetry/metrics.ts
  demo/site/opentelemetry-metrics.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

prettier
  demo/site/.prettierignore
  demo/site/src/common/blocks/AccordionBlock.module.scss
  demo/site/src/common/blocks/AccordionItemBlock.module.scss
  demo/site/src/common/blocks/CallToActionListBlock.module.scss
  demo/site/src/common/blocks/CookieSafeYouTubeVideoBlock.module.scss
  demo/site/src/common/blocks/HeadingBlock.module.scss
  demo/site/src/common/blocks/LayoutBlock.module.scss
  demo/site/src/common/blocks/RichTextBlock.module.scss
  demo/site/src/common/blocks/SpaceBlock.module.scss
  demo/site/src/common/blocks/StandaloneCallToActionListBlock.module.scss
  demo/site/src/common/blocks/StandaloneHeadingBlock.module.scss
  demo/site/src/common/blocks/TextImageBlock.module.scss
  demo/site/src/common/components/Breadcrumbs.module.scss
  demo/site/src/common/components/Button.module.scss
  demo/site/src/common/components/Typography.module.scss
  demo/site/src/common/helpers/CookiePlaceholders.module.scss
  demo/site/src/documents/pages/blocks/BasicStageBlock.module.scss
  demo/site/src/documents/pages/blocks/BillboardTeaserBlock.module.scss
  demo/site/src/documents/pages/blocks/ColumnsBlock.module.scss
  demo/site/src/documents/pages/blocks/ContentGroupBlock.module.scss
  demo/site/src/documents/pages/blocks/FullWidthImageBlock.module.scss
  demo/site/src/documents/pages/blocks/KeyFactItemBlock.module.scss
  demo/site/src/documents/pages/blocks/SliderBlock.module.scss
  demo/site/src/documents/pages/blocks/TeaserBlock.module.scss
  demo/site/src/documents/pages/blocks/TeaserItemBlock.module.scss
  demo/site/src/layout/PageLayout.module.scss
  demo/site/src/layout/footer/blocks/FooterContentBlock.module.scss
  demo/site/src/layout/header/Header.module.scss
  demo/site/src/layout/topNavigation/TopNavigation.module.scss
  demo/site/src/news/NewsPage.module.scss
  demo/site/src/styles/global.scss
Due: prettylint

Add the recommended update process
  docs/docs/7-migration-guide/migration-from-v7-to-v8_new.md
Due: prettylint

Add createFetchWithDefaultNextRevalidate that applies next.revalidate only if cache is not set
  .changeset/smooth-moments-learn.md
  demo/site/src/util/graphQLClient.ts
  packages/site/site-nextjs/src/graphQLFetch/graphQLFetch.test.ts
  packages/site/site-nextjs/src/graphQLFetch/graphQLFetch.ts
  packages/site/site-nextjs/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename CombinedPermission to Permission
  demo/api/schema.gql
  packages/api/cms-api/generate-schema.ts
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/user-permissions/dto/current-user.ts
  packages/api/cms-api/src/user-permissions/dto/paginated-user-list.ts
  packages/api/cms-api/src/user-permissions/dto/user-permission.input.ts
  packages/api/cms-api/src/user-permissions/entities/user-permission.entity.ts
  packages/api/cms-api/src/user-permissions/user-permissions.module.ts
  packages/api/cms-api/src/user-permissions/user-permissions.types.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove orphanedTypes
  demo/admin/src/App.tsx
  demo/api/schema.gql
  demo/api/src/app.module.ts
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add showIcon prop to BlockPreviewContent
  packages/admin/blocks-admin/src/blocks/common/blockRow/BlockPreviewContent.tsx
  packages/admin/cms-admin/src/redirects/RedirectsGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

adapt changeset
  .changeset/clever-planets-leave.md
Due: prettylint

Convert MetricType enums to unions (#4192)
  demo/api/src/open-telemetry/metrics.ts
  demo/site/opentelemetry-metrics.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Use monkey patched fetch instead of a cookie
  .changeset/stale-areas-roll.md
  demo/admin/src/App.tsx
  demo/site-pages/src/pages/api/block-preview.ts
  demo/site/src/app/block-preview/route.ts
  demo/site/src/middleware/preview.ts
  docs/docs/7-migration-guide/migration-from-v7-to-v8.md
  packages/admin/cms-admin/src/blocks/iframebridge/IFrameBridge.tsx
  packages/admin/cms-admin/src/blocks/iframebridge/IFrameMessage.ts
  packages/admin/cms-admin/src/preview/block/BlockPreview.tsx
  packages/admin/cms-admin/src/siteConfigs/siteConfigsConfig.ts
  packages/api/cms-api/src/auth/services/site-preview.auth-service.spec.ts
  packages/api/cms-api/src/auth/services/site-preview.auth-service.ts
  packages/api/cms-api/src/page-tree/site-preview.resolver.ts
  packages/site/site-nextjs/src/index.ts
  packages/site/site-nextjs/src/sitePreview/appRouter/blockPreviewRoute.ts
  packages/site/site-nextjs/src/sitePreview/pagesRouter/legacyPagesRouterBlockPreviewApiHandler.ts
  packages/site/site-nextjs/src/sitePreview/previewUtils.ts
  packages/site/site-react/src/iframebridge/IFrameBridge.tsx
  packages/site/site-react/src/iframebridge/IFrameMessage.ts
  packages/site/site-react/src/preview/BlockPreviewProvider.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix regressions
  .changeset/stale-areas-roll.md
  demo/admin/src/App.tsx
  packages/site/site-nextjs/src/sitePreview/previewUtils.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

use useQuery from apollo and add debounce
  packages/admin/cms-admin/src/pages/createEditPageNode.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

remove sentence
  packages/admin/cms-admin/src/pages/createEditPageNode.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix `createFile` in `BlobStorageS3Storage`
  .changeset/bumpy-candies-obey.md
  .cspellignore
  packages/api/cms-api/package.json
  packages/api/cms-api/src/blob-storage/backends/s3/blob-storage-s3.storage.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update docker-compose images weekly
  docker-compose.yml
Due: none

Remove ununsed env var IMGPROXY_QUALITY
  demo/api/src/config/environment-variables.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove type guard function
  packages/api/cms-api/src/blob-storage/backends/s3/blob-storage-s3.storage.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Validate path parameter in Site preview
  .changeset/dark-snails-fail.md
  packages/admin/cms-admin/src/preview/site/SitePreview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Adjust release pipeline to enable v7 releases
  .github/workflows/release.yml
Due: none

Adjust release pipeline to enable v7 releases (#4203)
  .github/workflows/release.yml
Due: none

Improve changeset
  .changeset/dark-snails-fail.md
Due: prettylint

Remove unused IMGPROXY_QUALITY env var
  demo/api/src/config/environment-variables.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix `createFile` in `BlobStorageS3Storage` (#4196)
  .changeset/bumpy-candies-obey.md
  .cspellignore
  packages/api/cms-api/package.json
  packages/api/cms-api/src/blob-storage/backends/s3/blob-storage-s3.storage.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unused IMGPROXY_QUALITY env var (#4209)
  demo/api/src/config/environment-variables.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

correct split function for new naming scheme
  packages/admin/admin-icons/generate-icons.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
