Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

Give the DAM replace error dialog a specific title
  packages/admin/cms-admin/src/dam/FileForm/ReplaceFileButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin-generator: Rename CLI binary to dextinity-admin-generator
  AGENTS.md
  demo/admin/package.json
  demo/admin/src/news/generated/NewsForm.gql.tsx
  demo/admin/src/news/generated/NewsForm.tsx
  demo/admin/src/news/generated/NewsGrid.tsx
  demo/admin/src/products/generator/generated/CreateCapProductForm.gql.tsx
  demo/admin/src/products/generator/generated/CreateCapProductForm.tsx
  demo/admin/src/products/generator/generated/IdFieldInForm.gql.tsx
  demo/admin/src/products/generator/generated/IdFieldInForm.tsx
  demo/admin/src/products/generator/generated/ManufacturerForm.gql.tsx
  demo/admin/src/products/generator/generated/ManufacturerForm.tsx
  demo/admin/src/products/generator/generated/ManufacturersGrid.tsx
  demo/admin/src/products/generator/generated/ProductCategoriesGrid.tsx
  demo/admin/src/products/generator/generated/ProductCategoryForm.gql.tsx
  demo/admin/src/products/generator/generated/ProductCategoryForm.tsx
  demo/admin/src/products/generator/generated/ProductForm.gql.tsx
  demo/admin/src/products/generator/generated/ProductForm.tsx
  demo/admin/src/products/generator/generated/ProductHighlightForm.gql.tsx
  demo/admin/src/products/generator/generated/ProductHighlightForm.tsx
  demo/admin/src/products/generator/generated/ProductHighlightsGrid.tsx
  demo/admin/src/products/generator/generated/ProductPriceForm.gql.tsx
  demo/admin/src/products/generator/generated/ProductPriceForm.tsx
  demo/admin/src/products/generator/generated/ProductTagForm.gql.tsx
  demo/admin/src/products/generator/generated/ProductTagForm.tsx
  demo/admin/src/products/generator/generated/ProductTagsGrid.tsx
  demo/admin/src/products/generator/generated/ProductVariantForm.gql.tsx
  demo/admin/src/products/generator/generated/ProductVariantForm.tsx
  demo/admin/src/products/generator/generated/ProductVariantsGrid.tsx
  demo/admin/src/products/generator/generated/ProductsGrid.tsx
  demo/admin/src/products/generator/generated/SelectProductsGrid.tsx
  packages/admin/admin-generator/package.json
  packages/admin/admin-generator/src/commands/generate/utils/writeGenerated.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add underline support to createTipTapRichTextBlock (#6040)
  .changeset/tiptap-underline-support.md
  packages/admin/cms-admin/src/blocks/tipTap/TipTapToolbar.tsx
  packages/admin/cms-admin/src/blocks/tipTap/createTipTapRichTextBlock.tsx
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.test.ts
  packages/api/cms-api/src/blocks/tipTap/createTipTapRichTextBlock.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/convertDraftJsToTipTap.test.ts
  packages/api/cms-api/src/blocks/tipTap/migrations/convertDraftJsToTipTap.ts
  packages/site/site-react/src/blocks/helpers/TipTapRichTextRenderer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Demo: Display only published pages in PageTreeIndexBlock (#6064)
  demo/site/src/common/blocks/PageTreeIndexBlock.loader.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

admin-generator: Rename config files to *.dextinityGen.{ts,tsx}
  AGENTS.md
  demo/admin/src/news/NewsForm.dextinityGen.ts
  demo/admin/src/news/NewsGrid.dextinityGen.ts
  demo/admin/src/products/generator/CreateCapProductForm.dextinityGen.ts
  demo/admin/src/products/generator/IdFieldInForm.dextinityGen.ts
  demo/admin/src/products/generator/ManufacturerForm.dextinityGen.tsx
  demo/admin/src/products/generator/ManufacturersGrid.dextinityGen.ts
  demo/admin/src/products/generator/ProductCategoriesGrid.dextinityGen.ts
  demo/admin/src/products/generator/ProductCategoryForm.dextinityGen.tsx
  demo/admin/src/products/generator/ProductForm.dextinityGen.tsx
  demo/admin/src/products/generator/ProductHighlightForm.dextinityGen.ts
  demo/admin/src/products/generator/ProductHighlightsGrid.dextinityGen.tsx
  demo/admin/src/products/generator/ProductPriceForm.dextinityGen.ts
  demo/admin/src/products/generator/ProductTagForm.dextinityGen.ts
  demo/admin/src/products/generator/ProductTagsGrid.dextinityGen.ts
  demo/admin/src/products/generator/ProductVariantForm.dextinityGen.ts
  demo/admin/src/products/generator/ProductVariantsGrid.dextinityGen.ts
  demo/admin/src/products/generator/ProductsGrid.dextinityGen.tsx
  demo/admin/src/products/generator/SelectProductsGrid.dextinityGen.ts
  docs/docs/4-guides/3-generate-grid-form-views/4-admin-generator-generate-grid/index.md
  docs/docs/4-guides/3-generate-grid-form-views/5-admin-generator-generate-form/index.md
  docs/docs/4-guides/4-row-reordering-in-api-and-grid/index.md
  knip.json
  packages/admin/admin-generator/src/commands/generate/config/__tests__/parseConfig.test.ts
  packages/admin/admin-generator/src/commands/generate/generate-command.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-api: Export convertDraftJsToTipTap
  .changeset/export-convert-draftjs-to-tiptap.md
  packages/api/cms-api/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: Store SiteSettings in DB columns instead of a root block
  demo/admin/package.json
  demo/admin/src/site-settings/EditSiteSettingsPage.tsx
  demo/admin/src/site-settings/SameAsUrlsField.tsx
  demo/admin/src/site-settings/blocks/OrganizationBlock.tsx
  demo/admin/src/site-settings/blocks/SameAsUrlBlock.tsx
  demo/admin/src/site-settings/blocks/SiteSettingsContentBlock.tsx
  demo/admin/src/site-settings/validateUrl.tsx
  demo/api/src/db/migrations/Migration20260721132117.ts
  demo/api/src/db/migrations/Migration20260729132511.ts
  demo/api/src/site-settings/blocks/organization.block.ts
  demo/api/src/site-settings/blocks/same-as-url.block.ts
  demo/api/src/site-settings/blocks/site-settings-content.block.ts
  demo/api/src/site-settings/entities/site-settings.entity.ts
  demo/site/src/app/[visibility]/[domain]/[language]/layout.tsx
  demo/site/src/util/structuredData/SiteSettings.fragment.ts
  demo/site/src/util/structuredData/buildOrganization.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo-api: Update generated schema for SiteSettings
  demo/api/block-meta.json
  demo/api/schema.gql
  demo/api/src/site-settings/generated/dto/site-settings.input.ts
  demo/api/src/site-settings/generated/site-settings.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename comet-admin dev-pm scripts to dextinity-admin
  dev-pm.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo: Nest Organization block directly in SiteSettings entity
  demo/admin/src/site-settings/EditSiteSettingsPage.tsx
  demo/admin/src/site-settings/blocks/SiteSettingsContentBlock.tsx
  demo/api/block-meta.json
  demo/api/schema.gql
  demo/api/src/db/migrations/Migration20260721132117.ts
  demo/api/src/site-settings/blocks/site-settings-content.block.ts
  demo/api/src/site-settings/entities/site-settings.entity.ts
  demo/api/src/site-settings/generated/dto/site-settings.input.ts
  demo/api/src/site-settings/generated/site-settings.resolver.ts
  demo/site/src/app/[visibility]/[domain]/[language]/layout.tsx
  demo/site/src/util/structuredData/SiteSettings.fragment.ts
  demo/site/src/util/structuredData/buildOrganization.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix script names and groups in dev-pm config (#6085)
  dev-pm.config.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo-admin: Remove unnecessary Stack from EditSiteSettingsPage
  demo/admin/src/site-settings/EditSiteSettingsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename the Storybook theme toolbar option from Comet to Dextinity
  packages/admin/admin/.storybook/decorators/ThemeProvider.decorator.tsx
  packages/admin/admin/.storybook/preview.ts
  packages/admin/cms-admin/.storybook/decorators/ThemeProvider.decorator.tsx
  packages/admin/cms-admin/.storybook/preview.ts
  storybook/.storybook/decorators/ThemeProvider.decorator.tsx
  storybook/.storybook/preview.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo-admin: Render site settings in a FieldSet instead of block root
  demo/admin/src/site-settings/EditSiteSettingsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

demo-admin: Fix site settings FieldSet title and drop support text
  demo/admin/src/site-settings/EditSiteSettingsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Run the i18n workflow on next instead of main
  .github/workflows/i18n.yml
Due: none

Clarify why the i18n workflow temporarily runs on next
  .github/workflows/i18n.yml
Due: none

admin: Update `ts-morph` to `28.0.0`
  packages/admin/admin/package.json
  pnpm-lock.yaml
Due: prettylint

docs: Document CometValidationException
  docs/docs/2-core-concepts/10-validation/index.md
Due: prettylint

Replace Comet logo components with Dextinity logo components
  packages/admin/admin-icons/src/CometColor.tsx
  packages/admin/admin-icons/src/CometDigitalExperienceLogo.tsx
  packages/admin/admin-icons/src/DextinityIcon.tsx
  packages/admin/admin-icons/src/DextinityLogo.tsx
  packages/admin/admin-icons/src/index.ts
  packages/admin/admin-icons/src/useUniqueId.ts
  packages/admin/admin/src/appHeader/__stories__/AppHeader.stories.tsx
  packages/admin/admin/src/appHeader/__stories__/ThemableAppHeader.stories.tsx
  packages/admin/admin/src/common/CometLogo.tsx
  packages/admin/admin/src/fullPageAlert/FullPageAlert.styles.ts
  packages/admin/admin/src/fullPageAlert/FullPageAlert.tsx
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/inlineAlert/__stories__/InlineAlert.stories.tsx
  packages/admin/admin/src/mui/mainNavigation/__stories__/Menu.stories.tsx
  packages/admin/admin/src/mui/mainNavigation/__stories__/MenuDynamicVariants.stories.tsx
  packages/admin/admin/src/stack/__stories__/StackCustomSeparator.stories.tsx
  packages/admin/cms-admin/src/common/header/Header.tsx
  packages/admin/cms-admin/src/common/header/__stories__/Header.stories.tsx
  packages/admin/cms-admin/src/common/header/about/AboutModal.tsx
  packages/admin/cms-admin/src/common/header/about/__stories__/AboutModal.stories.tsx
  packages/admin/cms-admin/src/contentScope/__stories__/ContentScopeProvider.stories.tsx
  packages/admin/cms-admin/src/contentScope/__stories__/ContentScopeSelect.stories.tsx
  packages/admin/cms-admin/src/preview/site/SitePreview.tsx
  storybook/src/admin-component-docs/InlineAlert.stories.tsx
  storybook/src/docs/components/AppHeader/AppHeader.stories.tsx
  storybook/src/docs/components/Toolbar/Toolbar.stories.tsx
  storybook/src/docs/icons/AllIcons.stories.tsx
  storybook/src/docs/icons/CometLogo.stories.tsx
  storybook/src/docs/icons/DextinityLogo.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: Add TipTap Rich Text Block documentation (#5980)
  docs/docs/2-core-concepts/2-blocks/tiptap-rich-text-block.mdx
Due: none

cms-admin: Center the header logo vertically
  packages/admin/cms-admin/src/common/header/Header.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Point documentation links to docs.dextinity.com
  .github/copilot-review-instructions.md
  README.md
  demo/site/eslint.config.mjs
  docs/docs/3-features-modules/9-brevo-module/1-setup.md
  docs/docs/7-migration-guide/migration-from-v8-to-v9.md
  docs/docusaurus.config.js
  packages/api/cms-api/src/mail-templates/README.md
  packages/api/cms-api/src/mailer/README.md
  packages/eslint-config/nextjs.js
  skills/comet-mail-react/SKILL.md
Due: prettylint

Point Storybook links to storybook.dextinity.com
  .cspellignore
  docs/docs/1-getting-started/4-packages-tools.md
  docs/docs/2-core-concepts/4-structured-data/index.md
  docs/docusaurus.config.js
  docs/src/components/StorybookAdminComponentDocsIframe.tsx
  packages/admin/admin/src/alert/Alert.tsx
  packages/admin/admin/src/dateTime/datePicker/DatePicker.tsx
  packages/admin/admin/src/dateTime/datePickerField/DatePickerField.tsx
  packages/admin/admin/src/dateTime/dateRangePicker/DateRangePicker.tsx
  packages/admin/admin/src/dateTime/dateRangePickerField/DateRangePickerField.tsx
  packages/admin/admin/src/dateTime/dateTimePicker/DateTimePicker.tsx
  packages/admin/admin/src/dateTime/dateTimePickerField/DateTimePickerField.tsx
  packages/admin/admin/src/dateTime/dateTimeRangePicker/DateTimeRangePicker.tsx
  packages/admin/admin/src/dateTime/dateTimeRangePickerField/DateTimeRangePickerField.tsx
  packages/admin/admin/src/dateTime/timePicker/TimePicker.tsx
  packages/admin/admin/src/dateTime/timePickerField/TimePickerField.tsx
  packages/admin/admin/src/dateTime/timeRangePicker/TimeRangePicker.tsx
  packages/admin/admin/src/dateTime/timeRangePickerField/TimeRangePickerField.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rebrand agent rules and skills to Dextinity
  AGENTS.md
  docs/docs/3-features-modules/13-building-html-emails/index.md
  packages/admin/AGENTS.md
  packages/agent-features/package.json
  packages/mail-react/AGENTS.md
  packages/mail-react/README.md
  rules/coding-guidelines/cdn.instructions.md
  rules/coding-guidelines/security.instructions.md
  skills/dextinity-admin-ui/SKILL.md
  skills/dextinity-block/SKILL.md
  skills/dextinity-block/references/admin-patterns.md
  skills/dextinity-block/references/api-patterns.md
  skills/dextinity-block/references/block-loader.md
  skills/dextinity-block/references/block-types.md
  skills/dextinity-block/references/custom-block-field.md
  skills/dextinity-block/references/fixtures.md
  skills/dextinity-block/references/image.md
  skills/dextinity-block/references/migration.md
  skills/dextinity-block/references/registration.md
  skills/dextinity-block/references/response-summary.md
  skills/dextinity-block/references/rich-text.md
  skills/dextinity-block/references/select.md
  skills/dextinity-block/references/site-patterns.md
  skills/dextinity-core-admin-component-authoring/SKILL.md
  skills/dextinity-mail-react/SKILL.md
  skills/dextinity-mail-react/references/components-and-theme.md
  skills/dextinity-mail-react/references/layout-patterns.md
  skills/dextinity-mail-react/references/styling-and-customization.md
  skills/dextinity-major-migration/SKILL.md
  skills/dextinity-major-migration/references/migration-smoke-test.md
  skills/dextinity-minor-update/SKILL.md
Due: prettylint

demo: Reduce the TipTap paragraph styles to Default and Small
  demo/admin/src/common/blocks/TipTapRichTextBlock.tsx
  demo/api/src/common/blocks/tip-tap-rich-text.block.ts
  demo/api/src/common/blocks/tip-tap-rich-text/migrations/3-remove-paragraph-300.migration.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cms-admin: Use design system names in the default label example
  .changeset/tiptap-default-text-block-style-label.md
  packages/admin/cms-admin/src/blocks/tipTap/__stories__/TipTapRichTextBlock.stories.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

mail-react: Render rich-text lists as a table
  .changeset/render-rich-text-lists-as-a-table.md
  docs/docs/3-features-modules/13-building-html-emails/3-blocks.md
  packages/mail-react/src/blocks/richText/RichTextList.tsx
  packages/mail-react/src/blocks/richText/__stories__/HtmlRichTextBlock.stories.tsx
  packages/mail-react/src/blocks/richText/__stories__/MjmlRichTextBlock.stories.tsx
  packages/mail-react/src/blocks/richText/__stories__/exampleBlockData.ts
  packages/mail-react/src/blocks/richText/__tests__/createRichTextBlock.test.tsx
  packages/mail-react/src/blocks/richText/__tests__/richTextListStyles.test.ts
  packages/mail-react/src/blocks/richText/createRichTextRenderers.tsx
  skills/comet-mail-react/SKILL.md
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

mail-react: Fix inline links rendering blue in Outlook on Windows
  .changeset/fix-outlook-inline-link-color.md
  packages/mail-react/src/components/inlineLink/__tests__/HtmlInlineLink.test.tsx
  packages/mail-react/src/theme/defaultTheme.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Rename the --comet-admin CSS variables and container name to Dextinity
  packages/admin/admin-rte/src/core/Controls/Toolbar/Toolbar.styles.tsx
  packages/admin/admin-rte/src/core/Rte.tsx
  packages/admin/admin/src/common/Loading.tsx
  packages/admin/admin/src/form/FieldContainer.tsx
  packages/admin/admin/src/mui/MasterLayout.tsx
  packages/admin/cms-admin/src/builds/PublisherPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

mail-react: Fix inline links rendering blue in Outlook on Windows (#6095)
  .changeset/fix-outlook-inline-link-color.md
  packages/mail-react/src/components/inlineLink/__tests__/HtmlInlineLink.test.tsx
  packages/mail-react/src/theme/defaultTheme.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor Stack for subroute
  demo/admin/src/site-settings/EditSiteSettingsPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
