Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

use recommended recaptcha score
  demo/site/src/common/api/assessRecaptchaToken.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix for import restriction
  packages/admin/cms-admin/src/contentScope/Provider.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move skill into new package-skills directory
  package-skills/dx-block/SKILL.md
  package-skills/dx-block/references/admin-patterns.md
  package-skills/dx-block/references/api-patterns.md
  package-skills/dx-block/references/block-loader.md
  package-skills/dx-block/references/block-types.md
  package-skills/dx-block/references/custom-block-field.md
  package-skills/dx-block/references/fixtures.md
  package-skills/dx-block/references/image.md
  package-skills/dx-block/references/migration.md
  package-skills/dx-block/references/registration.md
  package-skills/dx-block/references/response-summary.md
  package-skills/dx-block/references/rich-text.md
  package-skills/dx-block/references/select.md
  package-skills/dx-block/references/site-patterns.md
Due: prettylint

Implement feedback
  demo/site-configs/secondary.ts
  demo/site/package.json
  package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Work around cssstyle crash in vitest for border shorthands with `var()`
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/src/testing/vitest.setup.ts
  packages/admin/cms-admin/vitest.config.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move vitest setup file next to config for consistency across packages
  packages/admin/cms-admin/vitest.config.ts
  packages/admin/cms-admin/vitest.setup.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset for `TableBlock`
  .changeset/polite-impalas-like.md
Due: prettylint

Add docs for `TableBlock`
  docs/docs/2-core-concepts/2-blocks/4-factories.mdx
Due: none

Work around `cssstyle` crash in `vitest` for border shorthands with `var()` (#5298)
  packages/admin/cms-admin/package.json
  packages/admin/cms-admin/vitest.config.ts
  packages/admin/cms-admin/vitest.setup.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset for `TableBlock` (#5299)
  .changeset/polite-impalas-like.md
Due: prettylint

Add docs for `TableBlock` (#5300)
  docs/docs/2-core-concepts/2-blocks/4-factories.mdx
Due: none

Add A11y page to Coding Guidelines
  .cspellignore
  docs/docs/9-coding-guidelines/13-accessibility.md
Due: prettylint

Coding Guidelines: Controllable React Components
  docs/docs/9-coding-guidelines/09-react.md
Due: prettylint

Add `lint:fix` commands and update agent guidance
  AGENTS.md
  demo/admin/package.json
  demo/api/package.json
  demo/site/package.json
  docs/package.json
  package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/brevo-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/brevo-api/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/mail-react/package.json
  packages/site/site-nextjs/package.json
  packages/site/site-react/package.json
  storybook/package.json
Due: prettylint

add min-width to inputContainer
  packages/admin/admin/src/form/FieldContainer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

add changeset
  .changeset/rare-ties-pick.md
Due: prettylint

Add fixtures for table-block
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/blocks/text-and-content/table-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix duplicate `slug` values in product fixtures
  demo/api/src/db/fixtures/generators/products-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent showing focus styling when clicking elements
  demo/site/src/styles/global.scss
Due: prettylint

Add fixtures for `TableBlock` (#5305)
  demo/api/src/db/fixtures/fixtures.module.ts
  demo/api/src/db/fixtures/generators/blocks/text-and-content/table-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/page-content-block-fixture.service.ts
  demo/api/src/db/fixtures/generators/products-fixture.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Run docker-compose with env-vars from .env.local
  .env
  copy-project-files.js
  dev-pm.config.ts
  install.sh
  package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor `lint:fix:eslint` and `lint:fix:style` to reuse existing scripts
  demo/admin/package.json
  demo/api/package.json
  demo/site/package.json
  docs/package.json
  packages/admin/admin-color-picker/package.json
  packages/admin/admin-date-time/package.json
  packages/admin/admin-generator/package.json
  packages/admin/admin-icons/package.json
  packages/admin/admin-rte/package.json
  packages/admin/admin/package.json
  packages/admin/brevo-admin/package.json
  packages/admin/cms-admin/package.json
  packages/api/api-generator/package.json
  packages/api/brevo-api/package.json
  packages/api/cms-api/package.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/mail-react/package.json
  packages/site/site-nextjs/package.json
  packages/site/site-react/package.json
  storybook/package.json
Due: prettylint

Prevent showing focus styling when clicking elements (#5306)
  demo/site/src/styles/global.scss
Due: prettylint

Prevent layout-shift and white border on focus
  demo/site/src/styles/global.scss
Due: prettylint

add comet-api-graphql skill
  package-skills/comet-api-graphql/SKILL.md
  package-skills/comet-api-graphql/references/feature-01-position.md
  package-skills/comet-api-graphql/references/feature-02-validation.md
  package-skills/comet-api-graphql/references/feature-03-dedicated-arg.md
  package-skills/comet-api-graphql/references/feature-04-slug.md
  package-skills/comet-api-graphql/references/feature-05-scope.md
  package-skills/comet-api-graphql/references/field-01-scalar.md
  package-skills/comet-api-graphql/references/field-02-enum.md
  package-skills/comet-api-graphql/references/field-03-relation.md
  package-skills/comet-api-graphql/references/field-04-block.md
  package-skills/comet-api-graphql/references/field-05-json-embedded.md
  package-skills/comet-api-graphql/references/gen-00-resolver.md
  package-skills/comet-api-graphql/references/gen-01-input.md
  package-skills/comet-api-graphql/references/gen-02-filter.md
  package-skills/comet-api-graphql/references/gen-03-sort.md
  package-skills/comet-api-graphql/references/gen-04-args.md
  package-skills/comet-api-graphql/references/gen-05-paginated.md
  package-skills/comet-api-graphql/references/gen-06-nested-input.md
  package-skills/comet-api-graphql/references/gen-07-service.md
Due: prettylint

add comet-admin-translatable-enum
  package-skills/comet-admin-translatable-enum/SKILL.md
  package-skills/comet-admin-translatable-enum/references/enum-00-translatable.md
  package-skills/comet-admin-translatable-enum/references/enum-01-chip.md
  package-skills/comet-admin-translatable-enum/references/enum-02-editable-chip.md
  package-skills/comet-admin-translatable-enum/references/enum-03-select-field.md
  package-skills/comet-admin-translatable-enum/references/enum-04-autocomplete-field.md
  package-skills/comet-admin-translatable-enum/references/enum-05-radio-group-field.md
  package-skills/comet-admin-translatable-enum/references/enum-06-checkbox-list-field.md
  package-skills/comet-admin-translatable-enum/references/enum-helper-chip-icon.md
  package-skills/comet-admin-translatable-enum/references/enum-helper-create-translatable-enum.md
  package-skills/comet-admin-translatable-enum/references/enum-helper-enum-chip.md
  package-skills/comet-admin-translatable-enum/references/enum-helper-record-to-options.md
Due: prettylint

add comet-admin-datagrid skill
  package-skills/comet-admin-datagrid/SKILL.md
  package-skills/comet-admin-datagrid/references/grid-00-standard-paginated.md
  package-skills/comet-admin-datagrid/references/grid-01-non-paginated.md
  package-skills/comet-admin-datagrid/references/grid-02-row-reordering.md
  package-skills/comet-admin-datagrid/references/grid-03-sub-entity.md
  package-skills/comet-admin-datagrid/references/grid-04-select.md
  package-skills/comet-admin-datagrid/references/grid-05-excel-export.md
  package-skills/comet-admin-datagrid/references/grid-06-responsive-columns.md
  package-skills/comet-admin-datagrid/references/grid-07-initial-sort-filter.md
  package-skills/comet-admin-datagrid/references/grid-08-external-filter-prop.md
  package-skills/comet-admin-datagrid/references/grid-09-content-scope.md
  package-skills/comet-admin-datagrid/references/grid-col-def-01-string.md
  package-skills/comet-admin-datagrid/references/grid-col-def-02-boolean.md
  package-skills/comet-admin-datagrid/references/grid-col-def-03-number.md
  package-skills/comet-admin-datagrid/references/grid-col-def-04-datetime.md
  package-skills/comet-admin-datagrid/references/grid-col-def-05-enum.md
  package-skills/comet-admin-datagrid/references/grid-col-def-06-many-to-one.md
  package-skills/comet-admin-datagrid/references/grid-col-def-07-many-to-many.md
  package-skills/comet-admin-datagrid/references/grid-col-def-08-one-to-many.md
  package-skills/comet-admin-datagrid/references/grid-col-def-09-array-of-scalars.md
  package-skills/comet-admin-datagrid/references/grid-col-def-10-nested-object.md
  package-skills/comet-admin-datagrid/references/grid-col-def-11-file-upload.md
  package-skills/comet-admin-datagrid/references/grid-col-def-12-id.md
  package-skills/comet-admin-datagrid/references/grid-col-def-13-relation-filter.md
  package-skills/comet-admin-datagrid/references/grid-toolbar-00-standard.md
  package-skills/comet-admin-datagrid/references/grid-toolbar-01-excel-export.md
  package-skills/comet-admin-datagrid/references/grid-toolbar-02-row-reordering.md
  package-skills/comet-admin-datagrid/references/grid-toolbar-03-select.md
Due: prettylint

add comet-admin-form-skill
  package-skills/comet-admin-form/SKILL.md
  package-skills/comet-admin-form/references/form-00-shell.md
  package-skills/comet-admin-form/references/form-field-01-string.md
  package-skills/comet-admin-form/references/form-field-02-text.md
  package-skills/comet-admin-form/references/form-field-03-number.md
  package-skills/comet-admin-form/references/form-field-04-boolean.md
  package-skills/comet-admin-form/references/form-field-05-datetime.md
  package-skills/comet-admin-form/references/form-field-06-enum.md
  package-skills/comet-admin-form/references/form-field-07-many-to-one.md
  package-skills/comet-admin-form/references/form-field-08-many-to-many.md
  package-skills/comet-admin-form/references/form-field-09-nested-object.md
  package-skills/comet-admin-form/references/form-field-10-file-upload.md
  package-skills/comet-admin-form/references/form-field-11-block.md
  package-skills/comet-admin-form/references/form-field-12-switch.md
  package-skills/comet-admin-form/references/form-field-13-async-select.md
  package-skills/comet-admin-form/references/form-layout-01-fieldset.md
  package-skills/comet-admin-form/references/form-pattern-01-conditional-fields.md
  package-skills/comet-admin-form/references/form-pattern-02-adornments.md
  package-skills/comet-admin-form/references/form-pattern-03-validation.md
Due: prettylint

add comet-admin-pages skill
  package-skills/comet-admin-pages/SKILL.md
  package-skills/comet-admin-pages/references/01-single-page.md
  package-skills/comet-admin-pages/references/02-grid-with-dialog.md
  package-skills/comet-admin-pages/references/03-grid-with-edit-page.md
  package-skills/comet-admin-pages/references/04-edit-page-with-tabs.md
  package-skills/comet-admin-pages/references/05-deeply-nested.md
  package-skills/comet-admin-pages/references/06-use-stack-switch.md
  package-skills/comet-admin-pages/references/07-many-to-many-selection-tab.md
  package-skills/comet-admin-pages/references/toolbar-00-simple.md
  package-skills/comet-admin-pages/references/toolbar-01-entity.md
Due: prettylint

add comet-crud skill
  package-skills/comet-crud/SKILL.md
Due: prettylint

Fix skill consistency issues
  package-skills/comet-admin-datagrid/references/grid-02-row-reordering.md
  package-skills/comet-admin-form/references/form-field-06-enum.md
  package-skills/comet-admin-translatable-enum/SKILL.md
  package-skills/comet-admin-translatable-enum/references/enum-04-autocomplete-field.md
  package-skills/comet-admin-translatable-enum/references/enum-helper-use-autocomplete-options.md
  package-skills/comet-crud/SKILL.md
Due: prettylint

Add `skills/` as highest-priority source in `install-agent-skills` command
  packages/cli/src/commands/install-agent-skills.test.ts
  packages/cli/src/commands/install-agent-skills.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update AGENTS.md try letting agents creating a changelog without having to tell them
  AGENTS.md
Due: prettylint

docs: add docs for skills
  .cspellignore
  docs/docs/11-agent-skills/2-comet-crud/1-comet-api-graphql.md
  docs/docs/11-agent-skills/2-comet-crud/2-comet-admin-translatable-enum.md
  docs/docs/11-agent-skills/2-comet-crud/3-comet-admin-datagrid.md
  docs/docs/11-agent-skills/2-comet-crud/4-comet-admin-form.md
  docs/docs/11-agent-skills/2-comet-crud/5-comet-admin-pages.md
  docs/docs/11-agent-skills/2-comet-crud/index.md
  docs/docs/11-agent-skills/index.md
Due: prettylint

Filter out skills marked as `internal` when installing from external sources
  packages/cli/package.json
  packages/cli/src/commands/install-agent-skills.test.ts
  packages/cli/src/commands/install-agent-skills.ts
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update docs and add a changeset
  .changeset/cli-skills-directory.md
  docs/docs/4-guides/5-installing-agent-skills.md
Due: prettylint

Update (currently empty) directories for new skills convention
  project-skills/.gitkeep
  skills/.gitkeep
Due: none

Coding-Guidlines: Spec as single-source-of-truth
  .cspellignore
  spec/adr/.gitkeep
  spec/adr/coding-guidelines-ssot.md
  spec/specs/.gitkeep
  spec/specs/coding-guidelines.md
  spec/standards/coding-guidelines/accessibility.md
  spec/standards/coding-guidelines/api-nestjs.md
  spec/standards/coding-guidelines/cdn.md
  spec/standards/coding-guidelines/general.md
  spec/standards/coding-guidelines/git.md
  spec/standards/coding-guidelines/index.md
  spec/standards/coding-guidelines/kubernetes.md
  spec/standards/coding-guidelines/libraries.md
  spec/standards/coding-guidelines/naming-conventions.md
  spec/standards/coding-guidelines/postgresql.md
  spec/standards/coding-guidelines/react.md
  spec/standards/coding-guidelines/secure-development.md
  spec/standards/coding-guidelines/styling-css.md
  spec/standards/coding-guidelines/typescript.md
Due: prettylint

Demo Site: Use SITE_PORT consistently (#5078)
  demo/site-configs/main.ts
  demo/site-configs/secondary.ts
  demo/site/server.ts
  package.json
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Prevent form components used within Field/FieldContainer from overflowing their parent (#5304)
  .changeset/rare-ties-pick.md
  packages/admin/admin/src/form/FieldContainer.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent
