Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Refactor: replace custom iso date string validation with class-validator
  .changeset/cool-trees-confess.md
  packages/admin/cms-admin/src/common/helpers/isValidISOString.tsx
  packages/admin/cms-admin/src/dam/FileForm/ImageInfos.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add little helper muiGridPagingToGql to simplify data grid handling
  .changeset/tasty-tomatoes-jog.md
  demo/admin/src/products/ProductsTable.tsx
  packages/admin/admin-stories/src/docs/components/DataGrid/DataGrid.stories.mdx
  packages/admin/admin/src/dataGrid/muiGridPagingToGql.ts
  packages/admin/admin/src/index.ts
  packages/admin/cms-admin/src/redirects/RedirectsTable.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Skip sorting preloaded nodes if only sort criteria is by position ascending Preloaded nodes are already sorted by position ascending, so we may skip it.
  packages/api/cms-api/src/page-tree/page-tree-read-api.test.ts
  packages/api/cms-api/src/page-tree/page-tree-read-api.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix(FilesResolver): handle targetFolderId = undefined in moveDamFiles mutation
  packages/api/cms-api/src/dam/files/files.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add changeset
  .changeset/stupid-turkeys-refuse.md
Due: prettylint

Remove unused UseRequestContext decorator from subscriber
  packages/api/cms-api/src/page-tree/document-subscriber.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Router: Fix Switch inside a SubRouteIndexRoute to allow a Stack in a Stack initial page
  .changeset/clean-pugs-obey.md
  packages/admin/admin-stories/src/admin/router/SubRouteNestedIndex.tsx
  packages/admin/admin-stories/src/admin/stack/StackNestedOnInitialPage.tsx
  packages/admin/admin/src/router/SubRoute.test.tsx
  packages/admin/admin/src/router/SubRoute.tsx
  packages/admin/admin/src/stack/Stack.nested.test.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(FilesResolver): extract moveDamFiles arguments to ArgsType
  packages/api/cms-api/src/dam/files/dto/file.args.ts
  packages/api/cms-api/src/dam/files/files.resolver.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(FolderDataGrid): use FormattedMessage Component instead of intl.formatMessage
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Make attached document optional when updating a page tree node The attached document input is currently required, which is inconvenient when e.g. only an update of the name is needed.
  demo/api/schema.gql
  packages/api/cms-api/schema.gql
  packages/api/cms-api/src/page-tree/dto/page-tree-node.input.ts
  packages/api/cms-api/src/page-tree/page-tree.service.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(YoutubeVideoBlock): wrap getSearchParams in useCallback, move comment, remove unnecessary import
  demo/site/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add docs for auth decorators
  docs/docs/auth/index.md
  docs/docs/deployment-of-libraries/index.md
Due: prettylint

feat(ChooseFileDialog): make dialog header sticky
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseFileDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update license text and year Taken from https://choosealicense.com/licenses/bsd-2-clause/.
  LICENSE
Due: none

feat(DamPage): make scrollbar only appear next to folder view
  packages/admin/cms-admin/src/dam/DamPage.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.sc.tsx
  packages/admin/cms-admin/src/dam/DataGrid/FolderDataGrid.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix(ChooseFileDialog): toolbar height expands to far on load
  packages/admin/cms-admin/src/form/file/chooseFile/ChooseFileDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Improve description of handler
  docs/docs/auth/index.md
Due: prettylint

Remove changeset
  .changeset/cool-trees-confess.md
Due: prettylint

fix spelling mistake
  README.md
Due: prettylint

Implement new BlocksBlock option for multiselect
  packages/admin/blocks-admin/src/blocks/factories/createBlocksBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix overlapping path
  packages/admin/cms-admin/src/dam/FileForm/Duplicates.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(YoutubeVideoBlock): remove useCallback wrapper
  demo/site/src/blocks/YouTubeVideoBlock.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor(FileInput): replace @IsOptional for folderId with @IsNullable and @IsUndefinable
  packages/api/cms-api/src/dam/files/dto/file.input.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Fix spelling of occurred
  demo/admin/src/products/ProductForm.tsx
  packages/admin/admin-stories/src/admin/error-handling/RouteWithErrorBoundary.tsx
  packages/admin/admin/src/error/errordialog/ErrorDialog.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Remove unused fast-xml-parser dependency from Demo Admin
  demo/admin/package.json
  pnpm-lock.yaml
Due: prettylint

Make icon generation work with new fast-xml-parser version
  packages/admin/admin-icons/generate-icons.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Move dashboard header and widgets into cms-admin
  .changeset/weak-pillows-appear.md
  demo/admin/src/dashboard/Dashboard.tsx
  demo/admin/src/dashboard/LatestBuilds.tsx
  demo/admin/src/dashboard/LatestContentUpdates.tsx
  packages/admin/admin/src/index.ts
  packages/admin/admin/src/table/TableQuery.styles.ts
  packages/admin/admin/src/table/TableQuery.tsx
  packages/admin/cms-admin/src/dashboard/DashboardHeader.tsx
  packages/admin/cms-admin/src/dashboard/DateTime.tsx
  packages/admin/cms-admin/src/dashboard/DefaultGreeting.tsx
  packages/admin/cms-admin/src/dashboard/widgets/DashboardWidgetRoot.tsx
  packages/admin/cms-admin/src/dashboard/widgets/LatestBuildsDashboardWidget.tsx
  packages/admin/cms-admin/src/dashboard/widgets/LatestContentUpdatesDashboardWidget.tsx
  packages/admin/cms-admin/src/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add `fullHeight` & `disablePadding` props to MainContent
  .changeset/fair-cobras-tell.md
  demo/admin/src/products/ProductsTable.tsx
  packages/admin/admin/src/mui/MainContent.tsx
  packages/admin/cms-admin/src/pages/pagesPage/PagesPage.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(YoutubeVideoBlock): add changeset for loop toggle in YoutubeVideoBlock
  .changeset/lemon-bugs-give.md
Due: prettylint

Add paginatedNodes to paginate nodes correctly
  packages/api/cms-api/src/page-tree/page-tree-read-api.test.ts
  packages/api/cms-api/src/page-tree/page-tree-read-api.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore(docs): copy story poc from comet-docs repo
  docs/docs/story-poc.mdx
  docs/docusaurus.config.js
  docs/package.json
  docs/src/components/LiveCodeBlock.tsx
  docs/src/plugins/extend-webpack-config/index.js
  docs/src/stories/Checkbox.tsx
  docs/src/theme/Playground/index.tsx
  docs/src/theme/Playground/styles.module.css
  docs/src/theme/ReactLiveScope/index.js
  pnpm-lock.yaml
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

chore(docs): make story poc work with pnpm without errors
  docs/package.json
  pnpm-lock.yaml
Due: prettylint

feat(ReactLiveScope): resolve duplicates and build automatic duplicate check into scope generation
  docs/src/theme/ReactLiveScope/index.js
Due: prettylint

feat(eslint): reenable the @typescript-eslint/no-unused-vars rule and export the Story function
  docs/.eslintrc.json
  docs/src/components/Story.tsx
  docs/src/stories/Checkbox.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs(story-poc): remove iframe and inline stories
  docs/docs/story-poc.mdx
Due: none

chore(docs): use workspace versions for comet-admin libraries
  docs/package.json
  pnpm-lock.yaml
Due: prettylint

chore(linting): fix linting problems
  docs/.eslintrc.json
  docs/src/theme/Playground/index.tsx
  docs/src/theme/ReactLiveScope/index.js
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

feat(Playground): remove Result header and change Live Editor headline to Code
  docs/src/theme/Playground/index.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix(Story): fix MuiThemeProvider to fix build of docs
  docs/src/components/Story.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Path conditions:
  prettylint: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  tslint: any of: *.{ts,tsx}
  lerna --loglevel silent run --stream tsc -- --silent: any of: *.{ts,tsx}
