Repository vivid-planet/comet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*.{ts,tsx}": ["tslint", "lerna --loglevel silent run --stream tsc -- --silent"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

code cleanup
  packages/admin-stories/src/admin/toolbar/samples/ToolbarSearch.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

code cleanup and lint fixes
  packages/admin-stories/src/admin/form/SubmitErrors.tsx
  packages/admin-stories/src/apollo-story.decorator.tsx
  packages/admin-theme/src/cometAdminOverrides/toolbarbackbutton.ts
  packages/admin/src/common/toolbar/Toolbar.styles.tsx
  packages/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/src/common/toolbar/backbutton/ToolbarBackButton.styles.tsx
  packages/admin/src/common/toolbar/backbutton/ToolbarBackButton.tsx
  packages/admin/src/common/toolbar/breadcrumb/ToolbarBreadcrumbs.tsx
  packages/admin/src/common/toolbar/index.ts
  packages/admin/src/common/toolbar/item/ToolbarItem.styles.tsx
  packages/admin/src/common/toolbar/item/ToolbarTitleItem.tsx
  packages/admin/src/common/toolbar/titleitem/ToolbarItem.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

code cleanup
  packages/admin/src/mui/MainContent.tsx
  packages/admin/src/themeAugmentation.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

styling
  package.json
  packages/admin-stories/src/admin/mui/MenuWithToolbar.tsx
  packages/admin-theme/src/cometAdminOverrides/toolbar.ts
  packages/admin-theme/src/cometAdminOverrides/toolbaritem.ts
  packages/admin-theme/src/cometAdminProps/toolbar.tsx
  packages/admin-theme/src/getThemeOptions.ts
  packages/admin/src/common/toolbar/Toolbar.styles.tsx
  packages/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/src/common/toolbar/ToolbarItem.styles.tsx
  packages/admin/src/common/toolbar/ToolbarItem.tsx
  packages/admin/src/common/toolbar/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cleanup
  packages/admin/src/common/toolbar/backbutton/ToolbarBackButton.tsx
  packages/admin/src/common/toolbar/breadcrumb/ToolbarBreadcrumbs.tsx
  packages/admin/src/common/toolbar/index.ts
  packages/admin/src/common/toolbar/item/ToolbarItem.tsx
  packages/admin/src/common/toolbar/titleitem/ToolbarTitleItem.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: remove spacing of action container and add grid to breadcrumbs stories
  packages/admin-stories/src/admin/toolbar/samples/ToolbarAutomaticTitle.tsx
  packages/admin-stories/src/admin/toolbar/samples/ToolbarBreadcrumbs.tsx
  packages/admin/src/common/toolbar/Toolbar.styles.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor toolbartitleitem and toolbarbreadcrumbs themeprops
  packages/admin-stories/src/admin/toolbar/Toolbar.tsx
  packages/admin-stories/src/admin/toolbar/samples/ToolbarTableForm.tsx
  packages/admin-theme/src/cometAdminProps/toolbarBreadcrumbs.tsx
  packages/admin-theme/src/cometAdminProps/toolbarTitleItem.tsx
  packages/admin-theme/src/getThemeOptions.ts
  packages/admin/src/common/toolbar/breadcrumb/ToolbarBreadcrumbs.styles.tsx
  packages/admin/src/common/toolbar/breadcrumb/ToolbarBreadcrumbs.tsx
  packages/admin/src/common/toolbar/index.ts
  packages/admin/src/common/toolbar/titleitem/ToolbarTitleItem.styles.tsx
  packages/admin/src/common/toolbar/titleitem/ToolbarTitleItem.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix conflicts
  packages/admin/src/stack/Stack.tsx
  packages/admin/src/stack/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: ToolbarBreadcrumbs
  packages/admin-stories/src/admin/toolbar/samples/ToolbarBreadcrumbs.tsx
  packages/admin/src/common/toolbar/breadcrumb/ToolbarBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update packages/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Update packages/admin/src/common/toolbar/backbutton/ToolbarBackButton.styles.tsx
  packages/admin/src/common/toolbar/backbutton/ToolbarBackButton.styles.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: remove special mui button styling from Toolbar.styles.tsx
  packages/admin/src/common/toolbar/Toolbar.styles.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

fix: fix pipeline - formating changelog
  CHANGELOG.md
Due: prettylint

refactor: renaming MUIToolbar import to MuiToolbar
  packages/admin/src/common/toolbar/Toolbar.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

docs: Changelog entry
  CHANGELOG.md
Due: prettylint

refactoring: styling
  packages/admin-stories/src/admin/toolbar/samples/ToolbarSearch.tsx
  packages/admin-theme/src/cometAdminOverrides/toolbar.ts
  packages/admin-theme/src/cometAdminProps/toolbarBreadcrumbs.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: remove custom component prop pfrom toolbarbackbutton
  packages/admin-stories/src/admin/toolbar/samples/ToolbarCustomBackButton.tsx
  packages/admin/src/common/toolbar/backbutton/ToolbarBackButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: actions in jsx
  packages/admin-stories/src/admin/toolbar/Toolbar.tsx
  packages/admin-stories/src/admin/toolbar/samples/TableForm.tsx
  packages/admin-stories/src/admin/toolbar/samples/ToolbarBreadcrumbs.tsx
  packages/admin-stories/src/admin/toolbar/samples/ToolbarCenteredActions.tsx
  packages/admin-stories/src/admin/toolbar/samples/ToolbarCustomBackButton.tsx
  packages/admin-stories/src/admin/toolbar/samples/ToolbarSearch.tsx
  packages/admin-stories/src/admin/toolbar/samples/ToolbarShowHideTitle.tsx
  packages/admin-theme/src/cometAdminOverrides/toolbar.ts
  packages/admin-theme/src/cometAdminOverrides/toolbaractions.ts
  packages/admin-theme/src/cometAdminOverrides/toolbarfillspace.ts
  packages/admin-theme/src/getThemeOptions.ts
  packages/admin/src/common/toolbar/Toolbar.styles.tsx
  packages/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/src/common/toolbar/actions/ToolbarActions.styles.tsx
  packages/admin/src/common/toolbar/actions/ToolbarActions.tsx
  packages/admin/src/common/toolbar/fillspace/ToolbarFillSpace.styles.tsx
  packages/admin/src/common/toolbar/fillspace/ToolbarFillSpace.tsx
  packages/admin/src/common/toolbar/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: remove merge conflict artefacts in changelog
  CHANGELOG.md
Due: prettylint

refactor: remove moved mui theme styling options
  packages/admin-theme/src/getThemeOptions.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: update changelog entry for toolbar
  CHANGELOG.md
Due: prettylint

refactor: removed unused optional chaining check for null on goBack
  packages/admin/src/common/toolbar/backbutton/ToolbarBackButton.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

wip
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/comet-admin.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/vcs.xml
  packages/admin-stories/src/docs/comet/admin/toolbar.stories.mdx
Due: none

docs: add toolbar story
  packages/admin-stories/.storybook/preview.tsx
  packages/admin-stories/src/admin/hooks/stored-state/LocalStorage.tsx
  packages/admin-stories/src/docs/comet/admin/toolbar.decorator.tsx
  packages/admin-stories/src/docs/comet/admin/toolbar.stories.mdx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: update some table/form stories with new toolbar
  packages/admin-stories/src/admin/form/DisableAutoNavigation.tsx
  packages/admin-stories/src/admin/stack/StackTableFormQueryAtStack.tsx
  packages/admin-stories/src/admin/stack/StackTableFormQueryInTable.tsx
  packages/admin-stories/src/admin/table/TableEditDialog.tsx
  packages/admin-stories/src/admin/table/TableEditDialogHooks.tsx
  packages/admin-stories/src/admin/table/TableExportAllPages.tsx
  packages/admin-stories/src/admin/table/TableExportDisplayedTableData.tsx
  packages/admin-stories/src/admin/table/TableExportVisibility.tsx
  packages/admin-stories/src/admin/table/TableExportWithLimit.tsx
  packages/admin-stories/src/admin/table/TableExportWithLimitFilter.tsx
  packages/admin-stories/src/admin/table/TableFilter.tsx
  packages/admin-stories/src/admin/table/TableFilterClientside.tsx
  packages/admin-stories/src/admin/table/TableFilterPagingSort.tsx
  packages/admin-stories/src/admin/table/TablePaging.tsx
  packages/admin-stories/src/admin/table/TableStackEditDialog.tsx
  packages/admin-stories/src/admin/toolbar/samples/ToolbarSearch.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Infer return value of useComponentThemeProps
  packages/admin/src/common/toolbar/Toolbar.styles.tsx
  packages/admin/src/common/toolbar/backbutton/ToolbarBackButton.styles.tsx
  packages/admin/src/common/toolbar/breadcrumb/ToolbarBreadcrumbs.styles.tsx
  packages/admin/src/common/toolbar/titleitem/ToolbarTitleItem.styles.tsx
  packages/admin/src/mui/useComponentThemeProps.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

Add remote-container setup for running pull-requests
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
Due: prettylint

Install npm 7.13 in remote-container
  .devcontainer/Dockerfile
Due: none

refactor: master layout to toolbar needs
  packages/admin-stories/.storybook/preview.tsx
  packages/admin-stories/src/admin/mui/MenuWithToolbar.tsx
  packages/admin-theme/src/cometAdminOverrides/maincontentmasterLayout.ts
  packages/admin-theme/src/cometAdminOverrides/masterLayout.ts
  packages/admin-theme/src/getThemeOptions.ts
  packages/admin/src/common/index.ts
  packages/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/src/common/toolbar/index.ts
  packages/admin/src/mui/MainContent.tsx
  packages/admin/src/mui/MasterLayout.tsx
  packages/admin/src/mui/index.ts
  packages/admin/src/themeAugmentation.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactor: toolbar themeable
  packages/admin-stories/src/admin/mui/MenuWithToolbar.tsx
  packages/admin-theme/src/cometAdminOverrides/maincontent.ts
  packages/admin-theme/src/cometAdminOverrides/maincontentmasterLayout.ts
  packages/admin-theme/src/cometAdminOverrides/toolbar.ts
  packages/admin-theme/src/cometAdminProps/toolbar.tsx
  packages/admin-theme/src/getThemeOptions.ts
  packages/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/src/mui/menu/Context.tsx
  packages/admin/src/mui/useComponentThemeProps.tsx
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

styling
  packages/admin-stories/src/admin/mui/MenuWithToolbar.tsx
  packages/admin-theme/src/cometAdminOverrides/toolbar.ts
  packages/admin-theme/src/cometAdminOverrides/toolbaritem.ts
  packages/admin-theme/src/cometAdminProps/toolbar.tsx
  packages/admin-theme/src/getThemeOptions.ts
  packages/admin/src/common/toolbar/Toolbar.styles.tsx
  packages/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/src/common/toolbar/ToolbarItem.styles.tsx
  packages/admin/src/common/toolbar/ToolbarItem.tsx
  packages/admin/src/common/toolbar/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

refactoring
  packages/admin-stories/src/admin/mui/MenuWithToolbar.tsx
  packages/admin-stories/src/admin/toolbar/Toolbar.tsx
  packages/admin-stories/src/admin/toolbar/samples/TableForm.tsx
  packages/admin-stories/src/admin/toolbar/samples/ToolbarAutomaticTitle.tsx
  packages/admin-stories/src/admin/toolbar/samples/ToolbarBreadcrumbs.tsx
  packages/admin-stories/src/admin/toolbar/samples/ToolbarCustomBackButton.tsx
  packages/admin-stories/src/admin/toolbar/samples/ToolbarSearch.tsx
  packages/admin-stories/src/admin/toolbar/samples/ToolbarShowHideTitle.tsx
  packages/admin-theme/src/cometAdminOverrides/toolbar.ts
  packages/admin-theme/src/cometAdminOverrides/toolbarbackbutton.ts
  packages/admin-theme/src/cometAdminProps/toolbar.tsx
  packages/admin-theme/src/cometAdminProps/toolbarBackButton.tsx
  packages/admin-theme/src/getThemeOptions.ts
  packages/admin/src/common/toolbar/Toolbar.styles.tsx
  packages/admin/src/common/toolbar/Toolbar.tsx
  packages/admin/src/common/toolbar/ToolbarBackButton.styles.tsx
  packages/admin/src/common/toolbar/ToolbarBackButton.tsx
  packages/admin/src/common/toolbar/ToolbarBreadcrumbs.tsx
  packages/admin/src/common/toolbar/ToolbarTitleItem.tsx
  packages/admin/src/common/toolbar/index.ts
  packages/admin/src/stack/Api.tsx
  packages/admin/src/stack/Stack.tsx
  packages/admin/src/stack/index.ts
Due: prettylint, tslint, lerna --loglevel silent run --stream tsc -- --silent

cleanup
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/comet-admin.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/vcs.xml
Due: none
